---
title: 目黒 なっぱごちそう
---
目黒で飲み会。

シュッシャ！ではなくて、伏見眼鏡店に寄ってメガネの調整をしてもらう。

<%= image "img_6457" %>

久しぶりのなっぱごちそうへ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13143798/">なっぱごちそう 目黒</a>
東京都品川区上大崎2-26-5 メグロード B1F
050-5590-8608
</pre>

<%= image "img_6458" %>
<%= image "img_6459" %>
<%= image "img_6460" %>
<%= image "img_6462" %>
<%= image "img_6464" %>
<%= image "img_6465" %>
