---
title: 上野
---
娘と上野へ。

まずは[国立科学博物館](https://www.kahaku.go.jp/)。
[大絶滅展](https://daizetsumetsu.jp/highlights.html)目当てで来たが、9:30の整理券を渡されたので、時間まで地球館で過ごす。
はじめて来たけど、一日ゆっくり過ごしたい。

<%= image "img_6477" %>
<%= image "img_6478" %>
<%= image "img_6489" %>
<%= image "img_6490" %>
<%= image "img_6491" %>
<%= image "img_6492" %>

大絶滅展へ移動。

<%= image "img_6493" %>
<%= image "img_6494" %>
<%= image "img_6495" %>
<%= image "img_6497" %>

昼前に退館。三連休最終日だけあって、すごい行列になってた。

<%= image "img_6498" %>

昼飯で韓国料理。上野駅のこっち側だとあまり選択肢がない。
なぜか「イングリッシュメニューありますよ」と言われる。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1311/A131101/13271031/">韓国料理bibim' エキュート上野店</a>
東京都台東区上野7-1-1 エキュート上野 2F 公園口
050-5589-4064
</pre>

<%= image "img_6503" %>
<%= image "img_6499" %>
<%= image "img_6500" %>
<%= image "img_6501" %>
<%= image "img_6502" %>

お次は[西洋美術館](https://www.nmwa.go.jp/jp/)。ここも特別展の[印象派](https://www.nmwa.go.jp/jp/exhibitions/2025orsay.html)目当て。

<%= image "img_6504" %>
<%= image "img_6507" %>
<%= image "img_2120" %>
<%= image "img_2119" %>
<%= image "img_2108" %>

特別展もよかったが常設展もレベルが高くてビビる。モネやルノワールが大量にあった。
[Wikipedia](https://ja.wikipedia.org/wiki/%E6%9D%BE%E6%96%B9%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3)によると、寄贈者が生前にモネの自宅に行って直接買い付けてたそうだ。
