---
title: 新中野
---
新中野のカレー居酒屋へ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1319/A131902/13149792/">やるき</a>
東京都中野区本町4-36-7 1F
03-6304-8373
</pre>

<%= image "img_6594" %>
<%= image "img_6595" %>
<%= image "img_6596" %>
<%= image "img_6597" %>
<%= image "img_6598" %>
