---
title: 娘さんお疲れ会
tags: lunch, family, italy
---
受験が終わったのでお疲れ会。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14088042/">Re: Journal</a>
神奈川県横浜市中区新山下3-4-17
050-3196-2286
</pre>

<%= image "img_6632" %>
<%= image "img_6614" %>
<%= image "img_6615" %>
<%= image "img_6616" %>
<%= image "img_6617" %>
<%= image "img_6622" %>
<%= image "img_6624" %>
<%= image "img_1892" %>
<%= image "img_6625" %>
<%= image "img_6627" %>
<%= image "img_1893" %>
<%= image "img_2334" %>
<%= image "img_2336" %>

港の見える丘公園。

<%= image "img_6633" %>
<%= image "img_6634" %>
<%= image "img_6635" %>
<%= image "img_6636" %>

中華街によって大鶏排。

<%= image "img_6637" %>
<%= image "img_6639" %>
<%= image "img_6641" %>
