---
title: 鎌倉ハイキング
tags: kamakura, trail
---
定点観測。

<%= image "img_6696" %>

お約束の大船。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14076735/">もつしげ 大船店</a>
神奈川県鎌倉市大船1-10-7
0467-81-3548
</pre>

<%= image "img_6697" %>
<%= image "img_6698" %>
<%= image "img_6699" %>
<%= image "img_6700" %>
<%= image "img_6701" %>

豚山寄って帰宅。

<%= image "img_6702" %>
