---
title: 世界一周旅行 その2 ニュージーランド
---
ニュージーランドの首都、オークランド着。25ヶ国目。

<%= image "img_6741" %>
<%= image "img_6448" %>

Air Linkなるバスでダウンタウンへ向かう。

<%= image "img_6744" %>

さらに電車に乗り換える。

<%= image "img_6746" %>

Waitemata駅。2023年に駅の名前が変わったらしくて混乱する。

<%= image "img_6747" %>
<%= image "img_6748" %>
<%= image "img_6749" %>
<%= movie "hdtrimg_6449" %>
<%= image "img_6451" %>

AirBnBのチェックイン時間まであと3時間維持上ある。
無料のロッカーのある[海洋博物館](https://www.maritimemuseum.co.nz/)へ。恐ろしいほどつまらない。

<%= image "img_6464" %>
<%= image "img_6764" %>
<%= image "img_6750" %>
<%= image "img_6455" %>

<%= image "img_6751" %>
<%= image "img_6752" %>
<%= image "img_6753" %>
<%= image "img_6755" %>
<%= image "img_6457" %>
<%= image "img_6756" %>
<%= image "img_6460" %>

アメリカンカップの展示。

<%= image "img_6757" %>
<%= image "img_6463" %>
<%= image "img_6760" %>
<%= image "img_6761" %>
<%= image "img_6762" %>

海沿いエリアを少し散策。

<%= image "img_6766" %>

まだ時間あるので宿そばのアイスクリーム屋さん。

<pre class="address">
<a href="https://www.giapo.com/">Giapo</a>
12 Gore Street, Auckland 1010, Auckland, New Zealand
</pre>

ひっきりなしに人が入ってくる。

<%= image "img_6767" %>
<%= image "img_6768" %>

オークランドの宿。[AirBnB](https://www.airbnb.jp/rooms/23564405)で予約。

<%= image "img_6769" %>
<%= image "img_6468" %>
<%= image "img_6771" %>
<%= image "img_6781" %>
<%= image "img_6469" %>
<%= image "img_6471" %>

ジムとプール付き。使うタイミングは無かった。

<%= image "img_6776" %>
<%= image "img_6473" %>

聖パトリック大聖堂。

<%= image "img_6778" %>
<%= image "img_6475" %>
<%= image "img_6777" %>

スーパーで買い物。

<%= image "img_6779" %>

良い夕焼け。

<%= image "img_6782" %>
