---
title: 世界一周旅行 その7 フィジー
---
朝食ビュッフェ。

<%= image "img_7091" %>
<%= image "img_7092" %>
<%= image "img_6632" %>
<%= image "img_7093" %>
<%= image "img_7094" %>

これが従業員の通勤船のようだ。

<%= image "img_7095" %>

鳥を撮影。

<%= image "img_7098" %>
<%= movie "hdimg_7099" %>
<%= image "img_6640" %>

チェックアウトしたけど、迎えの船が来るのは13時なので荷物を預かってもらって、ジムへ。
体が焼けまくりなのでビーチとプールはもういいや。

<%= image "img_6644" %>
<%= image "img_6649" %>

ダメなファイル名。

<%= image "img_7101" %>

卓球。

<%= image "img_6651" %>

乗船の時間なので歌が始まる。「おまえら〜🎵はよかえれ〜🎵」

<%= image "img_7108" %>
<%= movie "hdimg_7106" %>

「まだ〜おるんか〜🎵」

<%= movie "hdimg_7110" %>

本島のデナラウ港に戻ります。

<%= image "img_7112" %>
<%= image "img_7114" %>
<%= image "img_7115" %>
<%= image "img_7120" %>
<%= image "img_7122" %>
<%= image "img_6656" %>
<%= image "img_7125" %>

無料のシャトルバスで最寄りの別のホテルまで送ってもらって、歩いて今日の[お宿](https://www.booking.com/hotel/fj/the-ideal-bed-amp-breakfast.ja.html)へ。

フィジーは離島に泊まると、国際線の時間につながる船が存在しないので、本島で前後一泊ずつするしかない。リゾート地としてイケてない。

<%= image "img_7126" %>

真っ赤になった俺の肌を見て、日焼け止めジェルを貸してくれた。

<%= image "img_6657" %>

徒歩数分のビーチへ。泳ぐ気がしないぐらい海が綺麗じゃない。離島行かないとダメなのか。

<%= image "img_7127" %>
<%= image "img_6659" %>
<%= image "img_7128" %>
<%= image "img_6660" %>
<%= image "img_7129" %>

スーパーを物色。ビールを購入。

<%= image "img_7130" %>
<%= image "img_7131" %>
<%= image "img_7132" %>
<%= image "img_7133" %>
<%= image "img_7134" %>

宿の共有スペースでビールを飲む。フィジーに3か月滞在しているベネズエラのにいちゃんの話を聞く。
Vonuビールを初めて飲んだ。Fiji Goldより美味かった。

<%= image "img_7135" %>
<%= image "img_7136" %>
<%= image "img_7137" %>
<%= image "img_6662" %>

ファイアーダンスショーが観れるレストランへ。

<pre class="address">
<a href="https://beachescapefj.com/pages/our-menu/">Beach Escape Restaurant</a>
Wailoaloa Road，Newtown, Lot 30 31Baravi Road, Nadi, Fiji
</pre>

<%= image "img_7140" %>
<%= image "img_7141" %>
<%= image "img_7142" %>
<%= image "img_7144" %>

Garlic PrawnsとFish in Coconut Cream。

<%= image "img_7146" %>
<%= image "img_7147" %>
<%= image "img_7148" %>

ショー開始。

<%= image "img_7149" %>
<%= movie "hdimg_7150" %>
<%= movie "hdimg_7151" %>
<%= movie "hdtrimg_7152" %>
<%= movie "hdtrimg_7153" %>
<%= movie "hdtrimg_7155" %>
<%= image "img_7158" %>
<%= image "img_6666" %>
<%= image "img_6673" %>
<%= image "img_7162" %>
