---
title: 世界一周旅行 その14 ボリビア → ペルー
---
高山病対策にコカ茶をゲット。確かに症状が緩和された気がする。

<%= image "img_8238" %>

[InDrive](https://indrive.com/)でウユニ空港へ。早朝発の便だったが、出発時刻が1時間遅れるとの連絡が前日にあり余裕ができた。

<%= image "img_8239" %>
<%= image "img_8241" %>
<%= image "img_8242" %>
<%= image "img_8243" %>
<%= image "img_8244" %>
<%= image "img_8245" %>

ラパス着。後部から降りたら地上を歩かされた。前部だけ通路使えるなんてズルい。
次のフライトまで高度4000mで9時間待ち。やっぱりなんか息苦しい。はよ下界に行きたい。

<%= image "img_8249" %>

ラパス空港はラウンジがないので、出発ターミナルで昼飯。


<pre class="address">
<a href="https://alexander-coffee.com/">Alexander Coffee</a>
FRRF+FC9, El Alto, ボリビア
</pre>

Ensalada verde de quinua。

<%= image "img_8251" %>
<%= image "img_8253" %>
<%= image "img_8250" %>

Asaiada de pollo crocante。

<%= image "img_8252" %>
<%= image "img_8254" %>

リラックスラウンジへ。余ってたボリビアーノを消費して、2時間滞在。

<%= image "img_8255" %>
<%= image "img_8257" %>

[Alexander Coffee](https://alexander-coffee.com/)へ戻ってコーヒーと色んな刻まれたフルーツが入ってるんだけど具体的に何が入ってるのか良くわからないクレープを食う。妙に美味い。
あと、想像以上にデカい。参考までにUSB電源を一緒に写してみた。ペルーのコメダ珈琲と名付ける。

<%= image "img_8259" %>
<%= image "img_8261" %>
<%= image "img_8262" %>

メニュー写真これやで。

<%= image "img_8264" %>

2時間前になったのでチェックイン。

<%= image "img_8258" %>

ボリビアは出国の方が色々厳しかった。入国のときは入力させるだけさせといてチェックしなかったCustom Formも、また入力させられた上にチェックされた。
搭乗前に麻薬捜査犬チェックまであった。

リマへ向かう。これでスタアラ世界一周ルートに再合流する。
ペルーもボリビアも国際線なのに水を持ち込めてありがたい。

Exceptionエラー出てる。

<%= image "img_8267" %>
<%= image "img_8268" %>

リマ着。酸素がうまい。息が切れない！

<%= image "img_8271" %>

時間も遅いし、InDriveで移動しようと思ったがドライバーと合流できない。コールがかかってくるがスペイン語で通じない。結局、キャンセルくらう。

シャトルバスで移動する。キャンペーン価格で二人で30ソルだった。
バスを降りて深夜の町を10分ほど歩いて宿へ。23:30頃にチェックイン。

<%= image "img_8273" %>
