---
title: 世界一周旅行 その15 ペルー
---
[宿](https://www.agoda.com/ja-jp/la-casona-azul/hotel/lima-pe.html)のテラスで朝ごはん。果物がうまい。

<%= image "img_8275" %>
<%= image "img_8276" %>
<%= image "img_8279" %>
<%= image "img_8281" %>

鳥がやってきた。

<%= image "img_8284" %>
<%= movie "hdimg_8286" %>

街ブラ。

<%= image "img_8290" %>
<%= image "img_8288" %>
<%= image "img_8297" %>

ランドリーに溜まっていた洗濯物を出す。ドロップオフとセルフサービスがあり、後者を選択。
追加で5ソルを払えば、洗濯が終わったら乾燥機へ移してくれるとのことなのでお願いする。合計54ソル。

その足でジムへ。1 Day Passを購入して筋トレをする。器具がハイテクで、レップ数やインターバルの秒数が勝手にカウントされる。
休日のため、どんどん混みだした。ガチ勢が多い。

<%= image "img_8294" %>
<%= image "img_8292" %>

洗濯物をピックアップ。乾いた洗濯物を畳んでくれていた。全然セルフサービスではなかった。有難い。

リマで泊まったB&Bは比較的安全なエリアとのことだけど、全ての家は塀で囲まれていて、乗り越えられないように対策されている。

<%= image "img_8298" %>
<%= image "img_8296" %>

宿に戻って洗濯物を置いてから、昼飯へ。人気店で列がすごい。

<%= image "img_8315" %>

待ち時間があったので、奥さんに待ってもらいつつ、私は別の店でビールを飲んで待機。

<pre class="address">
<a href="https://www.instagram.com/introcafebar/">Intro Café Bar</a>
Av. José Larco 835, Miraflores 15074, Peru
</pre>

低地に来たのでビール解禁！ Pilsen。13ソル。

<%= image "img_8303" %>
<%= image "img_8300" %>
<%= image "img_8301" %>
<%= image "img_8302" %>

席に座れたと奥さんから連絡があり移動。

<pre class="address">
<a href="https://puntoazulrestaurante.com/">Punto Azul</a>
Ca. San Martín 595, Miraflores 15074, Peru
</pre>

魚とタコのセビーチェとイカ墨フェットチーネ。美味い。
ペルーもボリビアも一皿で二人前ぐらい入ってる。腹一杯。チップ入れて143ソル。

平打ち太麺だし途中から二郎食ってる気分になってきた。

<%= image "img_8305" %>
<%= image "img_8306" %>
<%= image "img_8309" %>
<%= image "img_8311" %>
<%= image "img_7096" %>
<%= image "img_8312" %>

さらに街ブラ。

<%= image "img_8316" %>
<%= image "img_8317" %>
<%= image "img_8318" %>
<%= image "img_8319" %>

海沿いのモールへ。

<%= image "img_8320" %>
<%= image "img_7101" %>
<%= image "img_8321" %>
<%= image "img_7103" %>
<%= image "img_8323" %>
<%= image "img_8324" %>

モール内に犬用の水飲み場があった。

<%= image "img_8325_edited" %>

スタバへ。グランデアイスアメリカーノ x2。22ソル。

<%= image "img_8326" %>
<%= image "img_8328_edited" %>
<%= image "img_8329_edited" %>

海沿いの道を歩く。

<%= image "img_8332" %>
<%= image "img_8334" %>
<%= image "img_7110" %>
<%= image "img_7112" %>
<%= image "img_8337" %>
<%= image "img_8338" %>
<%= image "img_8339" %>
<%= image "img_7116" %>
<%= image "img_8341" %>
<%= image "img_8342" %>
<%= image "img_7117" %>
<%= image "img_8343" %>
<%= image "img_8344" %>
<%= image "img_8345" %>
<%= image "img_8348" %>
<%= image "img_8349" %>
<%= image "img_8350" %>
<%= image "img_8352" %>
<%= image "img_8353" %>
<%= movie "hdimg_8354" %>

<%= image "img_7121" %>
<%= image "img_8355" %>
<%= image "img_8358" %>

晩飯。

<pre class="address">
<a href="https://www.instagram.com/sietesopas/">Siete Sopas Miraflores</a>
Av. Ricardo Palma 205, Miraflores 15074, Peru
</pre>

<%= image "img_8373" %>
<%= image "img_8360" %>
<%= image "img_8362" %>
<%= image "img_8363" %>
<%= image "img_8361" %>

チチャモナーダ

<%= image "img_8364" %>

<%= image "img_8365" %>
<%= image "img_8366" %>
<%= image "img_8367" %>

Caldo de corderoのスープ。

<%= image "img_8368" %>

深く調べずに頼んだら、バカ飯が来た。俺、昼にペルー二郎食ってるんだけど。

<%= image "img_8369" %>

ではフォークとサイズを比べてみましょう。

<%= image "img_8370" %>

また芋が美味いんだこれが。
ガーリックトーストもうまい。

<%= image "img_7127" %>

いやーイモたっぷり食ったわーと、皿を見たら一向に減っていないイモ。

<%= image "img_8371" %>

帰る頃には満席だった。

<%= image "img_8372" %>
