---
title: 世界一周旅行 その18 リスボン
---
空港で購入しておいたナベガンテ。

<%= image "img_8673" %>

トラム28に乗る。始発駅から乗らないと激混みで座れない。

<%= image "img_8537" %>
<%= image "img_7232" %>
<%= movie "hdtrimg_8540" %>
<%= movie "hdtrimg_8541" %>

停車ボタンは前後に一つずつだけ。

<%= image "img_8544" %>

記念撮影スポット。

<%= image "img_7233" %>
<%= image "img_7237" %>
<%= image "img_8545" %>
<%= image "img_8552" %>
<%= image "img_8562" %>
<%= image "img_8563" %>

朝ごはん。

<pre class="address">
O Triangulo da Ribeira
R. da Ribeira Nova 48, 1200-376 Lisboa, Portugal
</pre>

<%= image "img_8567" %>
<%= image "img_8565" %>
<%= image "img_8570" %>

Bifana(茹で豚のサンドイッチ)卵入りを食う。
カウンターでオッちゃん達が朝から飲んでるが、グッと堪える。二人で5.6ユーロ。

<%= image "img_8572" %>
<%= image "img_8573" %>
<%= image "img_8574" %>

Timeout Market。

<%= image "img_8575" %>
<%= image "img_8577" %>
<%= image "img_8578" %>
<%= image "img_7245" %>
<%= image "img_8580" %>

ベレンの塔(Torre de Belém)。

<%= image "img_8586" %>

発見のモニュメント(Padrão dos Descobrimentos)。

<%= image "img_8588" %>
<%= image "img_8591" %>
<%= image "img_8593" %>
<%= image "img_7252" %>
<%= image "img_7263" %>

各国がポルトガルにいつ発見されたか。めっちゃポルトガル目線。

<%= image "img_8595" %>

ジェローニモス修道院(Mosteiro dos Jerónimos)に向かってブラブラ。

<%= image "img_8596" %>
<%= movie "hdimg_8599" %>
<%= movie "hdimg_8600" %>
<%= image "img_8603" %>
<%= image "img_8605" %>

元祖エッグタルトを食べにきた。

<pre class="address">
<a href="https://pasteisdebelem.pt/en/">Pastéis de Belém</a>
R. de Belém 84 92, 1300-085 Lisboa, Portugal
</pre>

この店に関わらずリスボンでは至る店でエッグタルトが売られている。

<%= image "img_8613" %>
<%= image "img_8614" %>

イートインは大行列なので、テイクアウトして横のスタバで食う。

カフェアメリカーノのデカフェ、二人で7.4ユーロ。エッグタルトは2つで3.2ユーロ。

<%= image "img_8609" %>
<%= image "img_8610" %>
<%= image "img_8612" %>
<%= image "img_7276" %>

<%= image "img_8616" %>

列車に乗ってカシュカイシュ(Cascais)へ。

<%= image "img_8619" %>

バスターミナルへ移動。そこからロカ岬(Cabo da Roca)へ。

<%= image "img_8625" %>
<%= image "img_8626" %>
<%= image "img_8627" %>
<%= image "img_8628" %>

ロカ岬。ユーラシア大陸最西端

<%= image "img_7290" %>
<%= image "img_8630" %>
<%= image "img_8631" %>
<%= image "img_7295" %>
<%= image "img_7302" %>
<%= image "img_8638" %>
<%= movie "hdtrimg_7304" %>
<%= image "img_8642" %>
<%= image "img_8644" %>
<%= image "img_8651" %>
<%= image "img_7306" %>
<%= image "img_8663" %>
<%= image "img_7310" %>

トイレを使いたいので、エッグタルトを買う。
いかにも観光地の店なのにめっちゃ美味かった。2つで4ユーロ。

<%= image "img_8666" %>

戻ります。

<%= image "img_8667" %>
<%= image "img_8670" %>
<%= image "img_8674" %>
<%= movie "hdimg_8676" %>

Cascaisから電車で戻る。6.1ユーロ。

生ビールどこで売ってたの！
30分で終点なのに、瓶ビールを3本持ち込んでるニイちゃんもいた。

<%= image "img_8677" %>

メトロの駅は現地の人達が大声で歌っていて、警察が大量に動員されていた。サッカーの試合かしら。

<%= image "img_8679" %>

晩飯。人気店で開店20分前から並ぶ。

<pre class="address">
A Provinciana
Tv. do Forno 23, 1150-193 Lisboa, Portugal
</pre>

<%= image "img_8680" %>
<%= image "img_8683" %>
<%= image "img_8685" %>
<%= image "img_8692" %>
<%= image "img_8681" %>
<%= image "img_8682" %>

あとクソ安いハウスワイン。2.2ユーロ。美味い。

<%= image "img_8684" %>

xxx なんだっけ。

<%= image "img_8690" %>
<%= image "img_8694" %>

例によって、バカ飯頼んでしまった。

<%= image "img_8693" %>

帰りにスーパー寄ったら1ユーロのワインがあった。買ってないけど。

<%= image "img_8697" %>

生ハムとハウスワインをテイクアウトさせてもらって、宿のテラスで2本目。

<%= image "img_8699" %>
<%= image "img_8705" %>

この後、土砂降り。部屋に退散して2本目を空ける。
