---
title: 世界一周旅行 その21 移動日
---
朝食。

<%= image "img_8927" %>
<%= image "img_8928" %>

12時までダラダラしてチェックアウト。
例によって激混みローカルバスでマラケシュ空港に戻る。

<%= image "img_8930" %>
<%= image "img_8931" %>
<%= image "img_8932" %>
<%= image "img_8933" %>

バス降りて延々と歩いて空港へ。手前のArrivalのドアからは入れてもらえず、奥のDepartureの建物から入れと言われる。

<%= image "img_8935" %>
<%= image "img_8936" %>
<%= image "img_8937" %>

三時間以上前に着いたのでチェックインカウンターまだ空いてなかった。
空間がかなり広めに作ってあり、埋まってないチェックインカウンターのエリアが半分ぐらいある。

<%= image "img_8939" %>
<%= image "img_8940" %>
<%= image "img_8943" %>

空港デザインがひどくて、ArrivalとDepartureが離れた建物で、搭乗ゲートはArrival側にあるため、チェックインが終わったらArrivalの建物まで移動しないといけない

<%= image "img_8944" %>

ラウンジがターミナルの一番奥にある。何でやねん。

品揃えは良かった。ここのラウンジあまり期待してなかったけど、良い意味で裏切られたわ。

<%= image "img_8956" %>
<%= image "img_8946" %>
<%= image "img_8947" %>
<%= image "img_8949" %>
<%= image "img_8950" %>
<%= image "img_8951" %>
<%= image "img_8953" %>
<%= image "img_8957" %>

モロッコでは酒飲めなかったけど、ラウンジにはビールあった。しかもモロッコビール？
Discover the spirit of Moroccoとは一体

<%= image "img_8952" %>
<%= image "img_8954" %>

タルトもうめえ。

<%= image "img_8955" %>

次はイスタンブールへ。離陸前に土砂降りになり、なんだかんだで1時間遅れる。

<%= image "img_8958" %>
<%= image "img_7392" %>

00:20にイスタンブール着。空港は綺麗だし24時間稼働しているようだ。

<%= image "img_8961" %>
<%= image "img_8964" %>
<%= image "img_8965" %>
<%= image "img_8966" %>

ここから宿までは43kmある。宿の近くに着くバス(Havist-11)は運休のようでTaksim行きのバスに切り替える。

<%= image "img_8967" %>
<%= image "img_8968" %>
<%= image "img_8969" %>
<%= image "img_8970" %>
<%= image "img_8971" %>

タクシーを拾う。[BiTaksi](https://apps.apple.com/jp/app/bitaksi-en-yak%C4%B1n-taksi/id589500723)という配車アプリを使うが、結局メーター払いなので明朗会計なのかどうかよく分からない。
若干モメる。まあ1700円ぐらいなんですけどね。

<%= image "img_8973" %>

今日の宿。
到着が2:30ぐらいになってしまったけど、ホストさん、起きて待っていてくれた。有難い。

<pre class="address">
<a href="https://www.agoda.com/social-house-h65102091/hotel/istanbul-tr.html">Social House Istanbul</a>
Binbirdirek, Klodfarer Cd. No:11, 34122 Fatih/İstanbul, Turkey
</pre>

<%= image "img_8978" %>
<%= image "img_8980" %>
