---
title: 世界一周旅行 その23 トルコ (イスタンブール)
---
ブルーモスク。今日は中に入れた。

<%= image "img_9107" %>
<%= image "img_9109" %>
<%= image "img_9110" %>
<%= image "img_9111" %>

<%= image "img_9112" %>

朝食。

<%= image "img_9124" %>
<%= image "img_9115" %>

トマトスープ(Ezogelin corbas)、チキンスープ(Tavuksuyu corbas)、サラダ(Sogus tabagi)。

<%= image "img_9118" %>
<%= image "img_9120" %>
<%= image "img_9122" %>
<%= image "img_9116" %>
<%= image "img_9117" %>

たっぷりのラー油。

<%= image "img_9119" %>

お茶(CAY)も飲んで、470トルコリラ。

<%= image "img_9121" %>

<%= image "img_9127" %>
<%= image "img_9128" %>

サフラン屋。最高級品でグラム2500円。まあ値切れるけど。

<%= image "img_9130" %>

リュステム・パシャ・モスク。

<%= image "img_9132" %>
<%= image "img_9134" %>
<%= image "img_9135" %>
<%= image "img_9136" %>
<%= image "img_9137" %>
<%= movie "hdtrimg_9138" %>

全く味の予想がつかないお菓子。たぶんお菓子。

<%= image "img_9139" %>
<%= image "img_9140" %>

ハンドクリーム屋さん。

<%= image "img_9142" %>

Yeniモスク。お祈り中で入れず。

<%= image "img_9143" %>
<%= image "img_9144" %>
<%= image "img_9145" %>
<%= movie "hdtrimg_9147" %>

CORBA！

<%= image "img_9150" %>

船で移動。

<%= movie "hdtrimg_9149" %>
<%= image "img_9152" %>
<%= movie "hdimg_9154" %>
<%= image "img_9156" %>

<%= image "img_9157" %>
<%= image "img_9159" %>

<pre class="address">
Uzunçayır Pilavcısı
Rasimpaşa, Söğütlüçeşme Cad. No:113/A, 34714 Kadıköy, Istanbul, Turkey
</pre>

Mercimek ÇorbasıとFasülyeli Salatalı。270トルコリラ。

<%= image "img_9163" %>
<%= image "img_9162" %>
<%= image "img_9160" %>
<%= image "img_9161" %>

食っても減らない付け合わせのパン。残さざるを得ない。

<%= image "img_9164" %>

コーヒー休憩。Iced AmericanoとCold Brew。495トルコリラ。

<pre class="address">
<a href="https://coffeemanifesto.com/">Coffee Manifesto</a>
Caferağa, Güneşlibahçe Sok. No:40A, 34710 Kadıköy, Istanbul, Turkey
</pre>

<%= image "img_9165" %>
<%= image "img_9166" %>

イスタンブールのスコティッシュパブでギネス。変な組み合わせ。

ハッピーアワーなのでちょっと安い。炭酸水と合わせて430トルコリラ。

<pre class="address">
Lochness Scottish Pub
Caferağa, Damacı Sk., 34710 Kadıköy, İstanbul, トルコ
</pre>

<%= image "img_9172" %>
<%= image "img_9171" %>
<%= image "img_9168" %>
<%= image "img_9169" %>

夜飯。

<pre class="address">
<a href="https://kadikoymidyecisi.com/">Kadıköy Midyecisi</a>
Caferağa, Sarraf Ali Sk. 22/b, 34710 Kadıköy, Istanbul, Turkey
</pre>

<%= image "img_9174" %>
<%= image "img_9175" %>
<%= image "img_9180" %>

米を詰めたムール貝。4種類の調理法から選べる。50個セットを頼んだので900トルコリラ。スパイシーはめっちゃ辛くて何個か残した。

一度茹でて蓋が開いたムール貝を半分に切って、米を詰めて蒸した後、2時間ぐらい置いておくと殻がまたくっつくらしい。不思議。

<%= image "img_9176" %>
<%= image "img_9177" %>
<%= image "img_9178" %>
<%= image "img_9179" %>
<%= image "img_9182" %>

同じやつは屋台でも売ってる。

<%= image "img_9183" %>

船で移動。ちょうど夕焼け。

<%= image "img_9184" %>
<%= image "img_9187" %>
<%= image "img_9189" %>
<%= image "img_9192" %>
<%= image "img_9197" %>
<%= image "img_9199" %>
<%= image "img_9210" %>

Yeniモスクに戻る。今度はお祈り中なのに中に入れた。

<%= image "img_9215" %>
<%= image "img_9217" %>
<%= movie "hdtrimg_9219" %>
<%= image "img_9221" %>
<%= movie "hdimg_9223" %>

部屋にトラブルがあり、部屋の変更をお願いしたところ、アップグレードされた。有難い。

<%= image "img_9224" %>
<%= image "img_9225" %>
<%= image "img_9226" %>
