---
title: 世界一周旅行 その30 チェコ
---
宿の朝食。チーズ美味い。ソーセージ美味い。

<%= image "img_0393" %>
<%= image "img_0394" %>

カフカの像。一時間に一回、回転する。超ショボい。

<%= image "img_0396" %>
<%= image "img_0397" %>
<%= image "img_7872" %>
<%= movie "hdtrimg_0398" %>

<%= image "img_0399" %>
<%= image "img_0401" %>
<%= image "img_0405" %>

Mucha美術館。19世紀の画家。イラストレーターの走りですね。

<%= image "img_0412" %>
<%= image "img_0413" %>
<%= image "img_0415" %>
<%= image "img_0416" %>
<%= image "img_0417" %>
<%= image "img_0418" %>

天文時計。これも一時間に一回のイベント。ショボい。
正面から見ると、上部の稼働部がもうちょっと見えるらしい。

<%= movie "hdtrimg_0420" %>

旧市街広場。

<%= image "img_0425" %>
<%= image "img_7876" %>
<%= image "img_7877" %>
<%= image "img_0426" %>
<%= image "img_0429" %>
<%= image "img_0432" %>

聖ミクラーシュ教会。

<%= image "img_7880" %>
<%= image "img_0435" %>
<%= image "img_0437" %>

<%= image "img_7883" %>
<%= image "img_7884" %>

昼食。

<pre class="address">
Lokál Dlouhááá
Dlouhá 33, 110 00 Staré Město, Czech
</pre>

<%= image "img_0451" %>
<%= image "img_0438" %>
<%= image "img_0444" %>
<%= image "img_0445" %>

ここも飲んだビールがカウントされるスタイル。

<%= image "img_0443" %>
<%= image "img_0442" %>
<%= image "img_7886" %>
<%= image "img_0447" %>

牛生肉のタルタルと揚げたパン。美味い。

生ニンニク齧って殺菌や！と思ってたら、パンに擦り付けるらしい。

<%= image "img_0450" %>

路面電車に乗る。

<%= image "img_7894" %>
<%= image "img_0455" %>
<%= image "img_0456" %>
<%= image "img_7899" %>

Chotek Gardensから街並みを見る。

<%= image "img_0457" %>
<%= image "img_0458" %>

クラーロヴスカー庭園から、聖ヴィート大聖堂の裏側を見る。

<%= image "img_0469" %>
<%= image "img_0463" %>
<%= image "img_0465" %>
<%= image "img_0466" %>
<%= image "img_0468" %>

レトナ公園を歩いて街に戻る。

<%= image "img_0470" %>
<%= image "img_0471" %>
<%= image "img_0472" %>
<%= image "img_7902" %>
<%= image "img_0474" %>
<%= image "img_7904" %>
<%= image "img_0476" %>
<%= image "img_0479" %>
<%= image "img_7906" %>
<%= image "img_7909" %>
<%= image "img_0481" %>

<pre class="address">
<a href="https://www.udvouvelbloudu.cz/">Restaurace U Dvou velbloudů</a>
Kožná 474/4, 110 00 Staré Město, Czech
</pre>

<%= image "img_0482" %>
<%= image "img_0500" %>
<%= image "img_0489" %>
<%= image "img_0483" %>
<%= image "img_0485" %>
<%= image "img_0486" %>
<%= image "img_0497" %>

[本家バドワイザー](https://ja.wikipedia.org/wiki/%E3%83%90%E3%83%89%E3%83%AF%E3%82%A4%E3%82%B6%E3%83%BC#%E5%90%8D%E7%A7%B0%E3%82%92%E3%82%81%E3%81%90%E3%82%8B%E7%B4%9B%E4%BA%89)。

<%= image "img_0487" %>

ノンアルコール版。

<%= image "img_0496" %>

豚の膝(1kg)。1kgといっても骨の部分もあるが、二人でも結構お腹いっぱい。

<%= image "img_0490" %>
<%= image "img_0493" %>
<%= image "img_0492" %>

バドワイザー(Budvar)のダーク。

<%= image "img_0495" %>

お代はチップ抜きで818チェココルナ。

夜のカレル橋とモルダウ川(ヴルタヴァ川)。

<%= image "img_0501" %>
<%= image "img_0509" %>
<%= image "img_0511" %>
<%= image "img_7918" %>
<%= image "img_0522_edited" %>
<%= image "img_0524" %>
<%= image "img_0531" %>
<%= image "img_0538" %>
<%= image "img_0541" %>
<%= image "img_0542" %>
