---
title: 野毛
---
某教授が横浜に出張に来てたので野毛で飲む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14096070/">大衆すし酒場 めのじ</a>
神奈川県横浜市中区桜木町1-1
045-323-9561
</pre>

<%= image "img_0838" %>
<%= image "img_0840" %>
<%= image "img_0841" %>
<%= image "img_0842" %>
<%= image "img_0845" %>

二軒目。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14101792/">BAY-ya</a>
神奈川県横浜市中区桜木町1-1 ぴおシティ B2F
</pre>

<%= image "img_0846" %>
<%= image "img_0849" %>
<%= image "img_0850" %>
<%= image "img_0851" %>
<%= image "img_0852" %>
<%= image "img_0856" %>

教授は都内の別の飲み会に顔出さないといけらしく解散。

移転後の吉村家にそういやいってないので並んでみる。一時間ちょっとぐらい。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14090328/">家系総本山 吉村家</a>
神奈川県横浜市西区岡野1-6-4
045-322-9988
</pre>

<%= image "img_0858" %>
<%= image "img_0861" %>

普通に美味しかった。
