---
title: 誕生日パーティー
tags: party
---
バスで蒔田へ。

<%= image "img_3623" %>

息子さん二十歳の誕生日。アルコール解禁。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140306/14011292/">BiOsteria Komakine</a>
神奈川県横浜市南区宮元町3丁目51-8
050-5570-7233
</pre>

<%= image "img_0881" %>
<%= image "img_0894" %>
<%= image "img_0895" %>
<%= image "img_0897" %>
<%= image "img_0899" %>
<%= image "img_0900" %>
<%= image "img_2814" %>
<%= image "img_3626" %>

地下鉄で遊ぶ親子。

<%= movie "hdimg_8250" %>
