---
title: 誕生日パーティー
tags: party
---
バスで蒔田へ。

<%= image "img_3623", timestamp: '2026-06-07 16:27:34' %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140306/14011292/">BiOsteria Komakine</a>
神奈川県横浜市南区宮元町3丁目51-8
050-5570-7233
</pre>

<%= image "img_0881", timestamp: '2026-05-02 18:00:12' %>

息子さん二十歳の誕生日。アルコール解禁。

<%= image "img_0887", timestamp: '2026-05-02 18:09:24' %>

<%= image "img_0894", timestamp: '2026-05-02 18:55:14' %>
<%= image "img_0895", timestamp: '2026-05-02 19:07:06' %>
<%= image "img_0897", timestamp: '2026-05-02 19:30:08' %>
<%= image "img_2814", timestamp: '2026-05-02 20:04:52' %>
<%= image "img_0899", timestamp: '2026-05-02 20:06:01' %>
<%= image "img_0900", timestamp: '2026-05-02 20:26:17' %>
<%= image "img_3626", timestamp: '2026-06-07 16:27:34' %>

地下鉄で遊ぶ親子。

<%= movie "hdimg_8250" %>
