---
title: 宮古島キャンプ その2
tags: camp, miyako, travel
---
夜から一向に雨がやまないので、街に出る。

<%= image "img_0977" %>
<%= image "img_0978" %>

ジョイフルで朝食。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47004639/">ジョイフル 宮古店</a>
沖縄県宮古島市平良605
0980-74-2205
</pre>

<%= image "img_0979" %>

サンエーで買い出しをしたあと、ランチ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47033838/">島の鉄板居酒屋ぼぶり</a>
沖縄県宮古島市平良下里576-4 1F
050-1288-1059
</pre>

<%= image "img_0980" %>
<%= image "img_0981" %>

幻の島カルニタス。

<%= image "img_0983" %>
<%= image "img_0982" %>

バスの時間になったのでキャンプ場に戻る。

<%= image "img_0985" %>
