---
title: 宮古島キャンプ その3
tags: camp, miyako, travel
---
相変わらず晴れないが今日は雨も風も穏やか。

<%= image "img_0987" %>

キャンプ場のオーナーに連れられて、去年も行った入りづらい食堂へ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47008234/">とすと</a>
沖縄県宮古島市平良字西里1327-3
0980-75-4385
</pre>

<%= image "img_0989" %>

まだテーブル筐体が動いてる。

<%= image "img_0990" %>

ランチ定食950円。量が多いし炭水化物x3。

<%= image "img_0991" %>

その後、暇なら手伝えと、鉢植えや砂利を運ばされる。

雨が止んだので肉を焼く。

<%= image "img_0992" %>
<%= image "img_0993" %>
<%= image "img_0994" %>

地元のピーマン、肉厚で甘くてうまい。

<%= image "img_0996" %>
