---
title: 宮古島キャンプ その4
tags: camp, miyako, travel
---
土砂降りの中、にいまそばへ。細麺のなんこつとじゅーしー。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028426/">にいまそば</a>
沖縄県宮古島市平良狩俣3
</pre>

<%= image "img_1001" %>

財布を忘れてきたことに気づき、土砂降りの中を二往復する。

さらに雨がひどくなりテントの中にいれないので、街へ出る。

カフェで拠点にしながら、近くのコインランドリーで洗濯。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47026775/">Coffee Barista</a>
沖縄県宮古島市平良字西里840-2
0980-79-7866
</pre>

<%= image "img_1005" %>

<%= image "img_1008" %>
<%= image "img_1006" %>
<%= image "img_1007" %>

このタイミングでがっつり晴れやんの。夕焼けを見たいが戻りのバスは一時間後。
Blue Sealで時間潰そうと思ったが、まさかの臨時休業。

<%= image "img_1009" %>
<%= image "img_1011" %>

19時頃の最終バスに乗る。この車両はクレカが使えなかった。海へ！早く！

<%= image "img_1012" %>
<%= image "img_1014" %>

間に合わず。

<%= image "img_1016" %>

オリオンのピルスナーをゲットしたので良しとする。

<%= image "img_1019" %>
<%= image "img_1017_edited" %>

AM4:00にテント越しのすぐ横で人が歩くような気配がした。ヤシガニを撮るシャッターチャンスだと思うんだけど、眠くて動けなんだ。
