---
title: 宮古島キャンプ その6
tags: camp, miyako, travel
---
今日も朝焼けはイマイチ。

<%= image "img_1041" %>

浜辺へ。去年より海が汚れてる気がする。

<%= image "img_1042" %>
<%= image "img_1043" %>
<%= image "img_1044" %>

隣の浜は漂流ゴミだらけ。車が入れないのでどうしようもない。

<%= image "img_1045" %>

自転車で10分ぐらい離れた食堂へ昼飯。パーントゥ焼きそば。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47025111/">パーントゥ食堂</a>
沖縄県宮古島市平良字島尻1462
</pre>

<%= image "img_1046" %>
<%= image "img_1047" %>

晩飯は豆腐とキムチ。焼売。量が多い。

<%= image "img_1048" %>
<%= image "img_1049" %>
<%= image "img_1050" %>

ゴミ掃除も兼ねて流木を燃やす。

<%= image "img_1052" %>
