---
title: 宮古島キャンプ その8
tags: camp, miyako, travel
---
今日もにいまそば。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028426/">にいまそば</a>
沖縄県宮古島市平良狩俣3
</pre>

<%= image "img_1089" %>

<%= image "img_1091" %>
<%= image "img_1092" %>

スーパーいったら島ダコが売ってた。買わんけど。

<%= image "img_1093" %>

今日は浜で晩酌。こういうのでいいんです。

<%= image "img_1095" %>
<%= image "img_1096" %>

テントに戻って締めのじーまみー豆腐。

<%= image "img_1098_edited" %>

今日も星空が綺麗。

<%= image "img_1099" %>
