---
title: 宮古島キャンプ その9
tags: camp, miyako, travel
---
朝焼け。

<%= image "img_1100" %>

メインサイト。先日持って帰ってきた鉢植えの木を植えないといけないので、ひたすら土を掘るのを手伝う。
筋肉痛になった。

<%= image "img_1101" %>
<%= image "img_1102" %>

昼飯を買いに刺身屋へ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47033062/">与那原鮮魚店 東店</a>
沖縄県宮古島市平良東仲宗根919-13
090-6857-3739
</pre>

恐ろしいほど愛想が悪い。話しかけても返事がない。
キャンプ場のオーナーが注文すると、その場で切ったやつをくれた。これで1000円。

<%= image "img_1103" %>
<%= image "img_1104" %>

じゅーしーおにぎりと一緒に食べる。

<%= image "img_1106" %>

今は大潮なので干潮もすごい。歩けるだけ沖に歩いてみる。

<%= image "img_1107_edited" %>
<%= image "img_1109" %>
<%= image "img_1111" %>
<%= image "img_1113" %>
<%= movie "hdtrimg_1115" %>
<%= image "img_1117" %>

キャンプ場の浜は泳げる深さがないので、教えてもらった西側の浜に来た。ここは砂浜が綺麗。

<%= image "img_1119" %>

ひと泳ぎしてから、スーパーで晩飯を買って西側の浜に戻る。

<%= image "img_1120" %>
<%= image "img_1121" %>
<%= image "img_1122" %>
<%= image "img_1123" %>

生姜焼き弁当がやたら重いなと思ったら、肉の下にスパゲッティがごっそり敷かれてた。残しまくる。

<%= image "img_1125" %>
<%= image "img_1126" %>
<%= image "img_1127" %>

暗くなるまで泡盛をチビチビやる。

<%= image "img_1130" %>
<%= image "img_1132" %>
<%= image "img_1133" %>
