---
title: 宮古島キャンプ その10
tags: camp, miyako, travel
---
おはようございます。

<%= image "img_1134" %>
<%= image "img_1135" %>

メインサイトのパパイヤがやや黄色くなっていた。食べていいよと言われたがまだ早そう。

<%= image "img_1136" %>

まったく観光をしていないので池間島を一周することにする。

<%= image "img_1137" %>
<%= image "img_1139" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028898/">Ikemajima gelato cafe Ninufa</a>
沖縄県宮古島市平良前里976-1
</pre>

<%= image "img_1144" %>
<%= image "img_1140" %>
<%= image "img_1143" %>
<%= image "img_1141" %>

なまり節チーズとジーマミ豆腐のピザのハーフ&ハーフ。

<%= image "img_1142" %>

<%= image "img_1146" %>
<%= image "img_1147" %>
<%= movie "hdtrimg_1148" %>

海のサイトの眺めのいい芝生にテーブル持ち込んでオーナーさんと晩飯。あとからメインサイトに宿泊していたお客さんも合流。
いままで何か分からくて手を出してなかったけど、中身って豚の内臓肉のことなのね。温めて食べる。

<%= image "img_1149" %>

写真はないけどあとはカルビ肉と焼きそばを調理した。
