---
title: 宮古島キャンプ その11
tags: camp, miyako, travel
---
朝焼け。

<%= image "img_1150" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47025111/">パーントゥ食堂</a>
沖縄県宮古島市平良字島尻1462
</pre>

<%= image "img_1151" %>

これが[パーントゥ](https://www.city.miyakojima.lg.jp/soshiki/kyouiku/syougaigakusyu/syougaikakusyu/bunkazai-PantuShimajiri.html)。島尻の奇祭。

<%= image "img_1152" %>

カツ丼とミニ宮古そばのセット。カツ丼だけで十分だった。

<%= image "img_1153" %>

パパイヤ畑。

<%= image "img_1154" %>

キャンプ場で最後の晩飯。

<%= image "img_1155" %>
<%= image "img_1157" %>
<%= image "img_1158" %>
<%= image "img_1159" %>
