---
title: 宮古島キャンプ その12
tags: camp, miyako, travel
---
朝焼けを見て撤収開始。

<%= image "img_1160" %>
<%= image "img_1162" %>

すっかり片付いた。

<%= image "img_1164" %>
<%= image "img_1166" %>

オーナーさんが車出してくれて、クロネコヤマトの営業に寄ったあと、いつものとすとへ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47008234/">とすと</a>
沖縄県宮古島市平良字西里1327-3
0980-75-4385
</pre>

和食モーニング。朝から量が多いねん。

<%= image "img_1167" %>

さらに空港まで送ってもらう。持ってけと言われて渡されたキャンプ場の島バナナを大量に持って帰宅。

<%= image "img_1168" %>

#### Lesson Learned

- サンダルはどうしても生乾きで臭くなる。キャンドゥでビーサンをゲットするか事前に送ること
- 着いたらとにかくカセット缶を買う。サンエーで一本単位で売っている
- 金鳥の蚊取り線香は保ちがいいし、折れない。100均一とは比べ物にならない
- LEDランタンとコンロは宅急便で送れないので注意
