---
title: 武蔵小杉
---
武蔵小杉でアラクサラ時代の同僚と飲む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1405/A140504/14005058">Tosaka-na Dining Gosso 武蔵小杉店</a>
神奈川県川崎市中原区小杉町3-441
050-5592-6312
</pre>

<%= image "img_1209", timestamp: '2026-06-01 19:01:48' %>
<%= image "img_1210", timestamp: '2026-06-01 19:06:43' %>
<%= image "img_1211", timestamp: '2026-06-01 19:20:05' %>
<%= image "img_1212", timestamp: '2026-06-01 19:29:14' %>
<%= image "img_1213", timestamp: '2026-06-01 19:45:54' %>
<%= image "img_1214", timestamp: '2026-06-01 20:01:54' %>
<%= image "img_1215", timestamp: '2026-06-01 20:06:30' %>
<%= image "img_1217", timestamp: '2026-06-01 20:07:01' %>
<%= image "img_1219", timestamp: '2026-06-01 20:08:30' %>
<%= image "img_1220", timestamp: '2026-06-01 20:19:37' %>
<%= image "img_1222", timestamp: '2026-06-01 20:31:16' %>
<%= image "img_1223", timestamp: '2026-06-01 20:34:01' %>
<%= image "img_1224", timestamp: '2026-06-01 20:39:54' %>
<%= image "img_1226", timestamp: '2026-06-01 21:27:27' %>

みんなからRSUだの確定申告だのという外資的な会話を聞く時代になった。感無量です。
