---
title: 横浜飲み
---
アラクサラ時代の辞めてから会っていない同僚と飲み。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14086486/">おもてなしとりよし 横浜西口店</a>
神奈川県横浜市西区北幸1-1-13 Comfort178横浜駅前ビル 7F
045-322-3833
</pre>

<%= image "img_1255", timestamp: '2026-06-05 18:31:32' %>
<%= image "img_1256", timestamp: '2026-06-05 18:53:48' %>
<%= image "img_1257", timestamp: '2026-06-05 19:07:39' %>
<%= image "img_1258", timestamp: '2026-06-05 19:21:17' %>
<%= image "img_1259", timestamp: '2026-06-05 19:36:06' %>
<%= image "img_1260", timestamp: '2026-06-05 20:34:22' %>
<%= image "img_1261", timestamp: '2026-06-05 20:47:50' %>
