---
title: Interop
---
久しぶりに幕張へ。間違えて稲毛駅に行って引き返してきた。出遅れた。

<%= image "img_1281", timestamp: '2026-06-10 09:42:53' %>
<%= image "img_1282", timestamp: '2026-06-10 09:43:11' %>
<%= image "img_1284", timestamp: '2026-06-10 10:13:38' %>

NOCエリア。製品名が分からないのはともかく、技術名がわからない。

<%= image "img_1285", timestamp: '2026-06-10 13:53:07' %>
<%= image "img_1286", timestamp: '2026-06-10 14:03:54' %>
<%= image "img_1287", timestamp: '2026-06-10 14:42:15' %>

NASAの月面基地建設計画の話を聞く。エキサイティングだ。

<%= image "img_1289", timestamp: '2026-06-10 17:24:20' %>
<%= image "img_1290", timestamp: '2026-06-10 17:28:07' %>
<%= image "img_1291", timestamp: '2026-06-10 17:32:26' %>

ソフトルータ推進委員会の飲み会に混ぜてもらう。

<pre class="address">
<a href="https://tabelog.com/chiba/A1201/A120102/12036099/">Azzurro520 海浜幕張店</a>
千葉県千葉市美浜区ひび野1-7 ROOMDECO 1F
050-5571-4613
</pre>

<%= image "img_1292", timestamp: '2026-06-10 19:24:35' %>
<%= image "img_1293", timestamp: '2026-06-10 19:38:31' %>
<%= image "img_1294", timestamp: '2026-06-10 19:43:30' %>
<%= image "img_1295", timestamp: '2026-06-10 20:09:28' %>
<%= image "img_1296", timestamp: '2026-06-10 20:24:26' %>
<%= image "img_1297", timestamp: '2026-06-10 20:44:59' %>
<%= image "img_1298", timestamp: '2026-06-10 20:45:02' %>
