---
title: 飯田線の旅 その1 (浜松)
---
飯田線に乗りに行く。

<%= image "img_1317", timestamp: '2026-06-21 11:38:28' %>

熱海で乗り換えて浜松へ。

<%= image "img_1320", timestamp: '2026-06-21 12:55:08' %>

梅雨時期なのに富士山が良く見えてる。

<%= image "img_1321", timestamp: '2026-06-21 13:38:10' %>

今日は浜松に泊まる。

<%= image "img_1326", timestamp: '2026-06-21 16:30:20' %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/153121/153121.html)。

<%= image "img_1325", timestamp: '2026-06-21 16:21:37' %>
<%= image "img_1324", timestamp: '2026-06-21 16:19:06' %>

夕方に友人とさらにその友人とと合流して浜名湖へ。
浜松に来た目的は[たきや漁](https://takiyaryou.jp/)。
午後には雨がやんだので漁ができると思っていたんだけど、強風で中止になってしまった。

<%= image "img_1330", timestamp: '2026-06-21 18:38:28' %>
<%= image "img_1328", timestamp: '2026-06-21 18:29:17' %>
<%= image "img_1329", timestamp: '2026-06-21 18:30:26' %>

<%= image "img_1332", timestamp: '2026-06-21 18:47:44' %>

しょうがないので近くのお店へ。

<%= image "img_1333", timestamp: '2026-06-21 18:49:52' %>
<%= image "img_1334", timestamp: '2026-06-21 18:50:46' %>
<%= image "img_1335", timestamp: '2026-06-21 18:50:52' %>
<%= image "img_1338", timestamp: '2026-06-21 18:52:09' %>

<pre class="address">
<a href="https://tabelog.com/shizuoka/A2202/A220201/22035960/">弁天島 山本亭</a>
静岡県浜松市中央区舞阪町弁天島3212-3
053-592-1919
</pre>

<%= image "img_1340", timestamp: '2026-06-21 19:27:40' %>
<%= image "img_1341", timestamp: '2026-06-21 19:33:28' %>
<%= image "img_1343", timestamp: '2026-06-21 19:35:04' %>
<%= image "img_1344", timestamp: '2026-06-21 20:00:35' %>
