---
title: 飯田線の旅 その2
---
静大へ。某研究室で雑談したあと移動。

<%= image "img_1346", timestamp: '2026-06-22 09:55:46' %>

うなぎ屋さん。共水うなぎのお店。

<pre class="address">
<a href="https://tabelog.com/shizuoka/A2202/A220201/22000308/">うな正 （うなまさ）</a>
静岡県浜松市中央区三方原町467-4
053-437-3451
</pre>

<%= image "img_1348", timestamp: '2026-06-22 11:23:16' %>

注文してから焼くタイプのお店なので、昼からお酒をいただく。低温暖貯蔵で10年間寝かしてたらしい。美味い！

<%= image "img_1349", timestamp: '2026-06-22 11:30:41' %>

フルコース的に料理が出てくる。

<%= image "img_1350", timestamp: '2026-06-22 11:34:24' %>
<%= image "img_1351", timestamp: '2026-06-22 11:42:41' %>
<%= image "img_1352", timestamp: '2026-06-22 11:48:03' %>

うなぎと肝焼きと重ね焼き(中落ちとしっぽ)。

<%= image "img_1354", timestamp: '2026-06-22 11:51:35' %>

<%= image "img_1355", timestamp: '2026-06-22 12:05:01' %>
<%= image "img_1356", timestamp: '2026-06-22 12:11:28' %>
<%= image "img_1357", timestamp: '2026-06-22 12:22:18' %>
<%= image "img_1358", timestamp: '2026-06-22 12:37:25' %>
<%= image "img_1359", timestamp: '2026-06-22 12:49:04' %>

薬味は自分ですりおろすワサビ。山椒よりこっちの方が好みだなあ。

<%= image "img_1360", timestamp: '2026-06-22 12:52:37' %>
<%= image "img_1361", timestamp: '2026-06-22 12:56:56' %>

<%= image "img_1362", timestamp: '2026-06-22 13:27:13' %>

日本酒三杯飲んでしまった。大満足。

浜松駅に戻る。私は無事に飯田線に辿り着けるのか。

<%= image "img_1363", timestamp: '2026-06-22 15:43:01' %>

豊橋。ここから飯田線。

<%= image "img_1365", timestamp: '2026-06-22 16:36:36' %>

電車はワンマンタイプ。後ろのドアから乗って前のドアで払う。
これが[下山ダッシュ](https://dic.pixiv.net/a/%E4%B8%8B%E5%B1%B1%E3%83%80%E3%83%83%E3%82%B7%E3%83%A5)のスタート地点か。

<%= image "img_1366", timestamp: '2026-06-22 17:10:03' %>

ここら辺でクマの目撃情報があるという話。

<%= image "img_1367", timestamp: '2026-06-22 17:17:39' %>

この駅から秘境度が増した。

<%= image "img_1368", timestamp: '2026-06-22 17:47:20' %>

三河川合で下車。自転車で5分ぐらいのキャンプ場へ向かう。

<%= image "img_1369", timestamp: '2026-06-22 17:47:23' %>
<%= image "img_1370", timestamp: '2026-06-22 18:06:35' %>
<%= image "img_1372", timestamp: '2026-06-22 18:08:23' %>

<pre class="address">
<a href="https://www.nap-camp.com/aichi/16173">ソロキャンフィールド鳳来</a>
愛知県新城市川合字大西11-34
</pre>

一人先客がいたので完ソロにははらず。18時過ぎに到着したので暗くなる前に慌ててテントを張る。

<%= image "img_1373", timestamp: '2026-06-22 18:18:44' %>
<%= image "img_1374", timestamp: '2026-06-22 18:19:38' %>
<%= image "img_1375", timestamp: '2026-06-22 18:43:23' %>

うなぎで腹いっぱいなので、豊橋駅で買ったサンドイッチをつまみながら過ごす。

<%= image "img_1377", timestamp: '2026-06-22 19:13:19' %>

川向いにコンビニがあるんだけど結局利用しなかった。
