---
title: 飯田線の旅 その3
---
夜明けに目覚める。そこまで冷え込んだわけではないが体の芯の部分の温度が下がった感じ。
リバーサイドってヌルッと体温が奪われるなあ。

荷物片付けてダラダラしてたら雨が降り始めたので慌てて撤収して、駅舎へ。

<%= image "img_1378", timestamp: '2026-06-23 06:38:35' %>
<%= image "img_1379", timestamp: '2026-06-23 06:39:10' %>
<%= image "img_1380", timestamp: '2026-06-23 06:39:14' %>

ここから秘境駅が続く。途中下車したいが、一度降りると二時間待ちだしなあ。

<%= image "img_1381", timestamp: '2026-06-23 06:46:05' %>

雨足が強くなってきた。撤収が間に合ってよかった。

<%= image "img_1382", timestamp: '2026-06-23 06:59:01' %>
<%= image "img_1383", timestamp: '2026-06-23 07:14:37' %>

相月。長いトンネルに挟まれた駅。

<%= image "img_1384", timestamp: '2026-06-23 07:53:29' %>
<%= image "img_1385", timestamp: '2026-06-23 07:53:42' %>
<%= image "img_1386", timestamp: '2026-06-23 07:54:17' %>

小和田。駅の周りに何もない。秘境駅に止まると乗り鉄が一人一人降りていく。

<%= image "img_1388", timestamp: '2026-06-23 08:15:12' %>
<%= image "img_1387", timestamp: '2026-06-23 08:15:05' %>
<%= movie "hdimg_1389" %>

中井侍。崖っぷちにある幅1メートルのホーム。

<%= image "img_1392", timestamp: '2026-06-23 08:21:40' %>
<%= movie "hdimg_1390" %>

気がついたらみんな降りてて俺しかおらん。

<%= image "img_1394", timestamp: '2026-06-23 08:24:58' %>

伊那小沢。

<%= image "img_1396", timestamp: '2026-06-23 08:25:27' %>
<%= movie "hdimg_1395" %>

羽衣崎。

<%= image "img_1398", timestamp: '2026-06-23 08:35:12' %>
<%= movie "hdimg_1399" %>

為栗。難読駅。

<%= image "img_1401", timestamp: '2026-06-23 08:38:06' %>

田本。ここも断崖絶壁。

<%= image "img_1403", timestamp: '2026-06-23 08:47:06' %>
<%= movie "hdimg_1402" %>

唐笠。

<%= image "img_1405", timestamp: '2026-06-23 08:57:54' %>
<%= image "img_1406", timestamp: '2026-06-23 08:58:10' %>
<%= movie "hdimg_1404" %>

金野。最寄りの集落は2キロ先らしい

<%= image "img_1408", timestamp: '2026-06-23 09:01:13' %>
<%= movie "hdimg_1407" %>

千代。

<%= image "img_1409", timestamp: '2026-06-23 09:04:10' %>

この列車の終点、天竜峡駅到着。

<%= image "img_1410", timestamp: '2026-06-23 09:13:14' %>
<%= image "img_1411", timestamp: '2026-06-23 09:14:45' %>

リュックを後ろに固定した。これでブラつく。

<%= image "img_1412", timestamp: '2026-06-23 09:25:08' %>

日帰り温泉の前に自転車を止めてそらさんぼ天竜峡へ歩く。

<%= image "img_1414", timestamp: '2026-06-23 09:54:06' %>
<%= image "img_1415", timestamp: '2026-06-23 10:08:20' %>
<%= image "img_1416", timestamp: '2026-06-23 10:08:59' %>
<%= image "img_1417", timestamp: '2026-06-23 10:09:33' %>
<%= image "img_1420", timestamp: '2026-06-23 10:10:11' %>
<%= image "img_1422", timestamp: '2026-06-23 10:16:36' %>

日帰り温泉の営業時間になったので朝風呂入って、昼飯を食べる。

<%= image "img_1423", timestamp: '2026-06-23 10:25:36' %>

<pre class="address">
<a href="https://tabelog.com/nagano/A2006/A200603/20025609/">のんびりキッチン</a>
長野県飯田市川路4992-1
0265-27-4011
</pre>

畑そば。

<%= image "img_1424", timestamp: '2026-06-23 11:53:44' %>

駅に戻ってら眼の前で電車が行ってしまった。次の電車の時間まで川の周辺を走る。

<%= image "img_1425", timestamp: '2026-06-23 12:27:50' %>
<%= image "img_1426", timestamp: '2026-06-23 12:53:03' %>

天竜峡駅。

<%= image "img_1427", timestamp: '2026-06-23 13:20:07' %>

一本前なら上諏訪まで乗り換えなしで行けたがこの電車は駒ヶ根が終点。
さらに乗り換える。終わらない飯田線。

<%= image "img_1428", timestamp: '2026-06-23 13:57:58' %>

飯田駅。

<%= image "img_1431", timestamp: '2026-06-23 15:40:38' %>

岡谷駅着。上諏訪へは接続が悪いので自転車で移動する。飯田線の旅終了。
諏訪湖周辺は自転車道が整備されていて走りやすい。

<%= image "img_1432", timestamp: '2026-06-23 17:04:32' %>
<%= image "img_1433", timestamp: '2026-06-23 17:24:14' %>
<%= image "img_1434", timestamp: '2026-06-23 17:28:55' %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/37955/37955.html)。

<%= image "img_1435", timestamp: '2026-06-23 18:00:03' %>

晩飯。

<pre class="address">
<a href="https://tabelog.com/nagano/A2004/A200404/20002240/">カナディアンロッキー 諏訪湖畔店</a>
長野県諏訪郡下諏訪町南高木8976-7
050-5595-7973
</pre>

<%= image "img_1436", timestamp: '2026-06-23 18:11:51' %>

ロッキーワクワクセット。腹いっぱい。

<%= image "img_1437", timestamp: '2026-06-23 18:14:54' %>
<%= image "img_1438", timestamp: '2026-06-23 18:21:40' %>
<%= image "img_1439", timestamp: '2026-06-23 18:34:23' %>
<%= image "img_1440", timestamp: '2026-06-23 18:34:26' %>
