---
title: 飯田線の旅 その4
---
諏訪湖見ながらコーヒーを飲む。藻が繁殖しまくってる。

<%= image "img_1442", timestamp: '2026-06-24 09:28:38' %>
<%= image "img_1441", timestamp: '2026-06-24 09:28:35' %>

自転車で上諏訪駅へ。少し時間があったので足湯に入る。

<%= image "img_1443", timestamp: '2026-06-24 10:07:59' %>
<%= image "img_1444", timestamp: '2026-06-24 10:12:50' %>

小淵沢で途中下車。ここら辺に在住の元同僚に来るまで迎えに来てもらって道の駅へ。

<%= image "img_1445", timestamp: '2026-06-24 10:21:17' %>
<%= image "img_1446", timestamp: '2026-06-24 11:13:18' %>

道の駅併設のレストランでランチ。本格的なTexMexだった。

<pre class="address">
<a href="https://tabelog.com/yamanashi/A1902/A190201/19014222/">ジョシュアツリー</a>
山梨県北杜市小淵沢町2968-1
0551-30-7937
</pre>

<%= image "img_1453", timestamp: '2026-06-24 12:38:53' %>
<%= image "img_1447", timestamp: '2026-06-24 11:45:09' %>
<%= image "img_1448", timestamp: '2026-06-24 11:45:12' %>
<%= image "img_3346", timestamp: '2026-06-24 11:45:20' %>

小淵沢に戻ってさらに移動。

<%= image "img_1454", timestamp: '2026-06-24 13:07:10' %>

山梨市駅着。

<%= image "img_1456", timestamp: '2026-06-24 14:22:36' %>

バスでフルーツセンターへ。

<%= image "img_1457", timestamp: '2026-06-24 14:26:29' %>
<%= image "img_1458", timestamp: '2026-06-24 14:52:08' %>

そこから1.5kmぐらい自転車を押して[ほったらかしキャンプ場](https://hottarakashicamp.com/)到着。

<%= image "img_1460", timestamp: '2026-06-24 16:21:09' %>
<%= image "img_1459", timestamp: '2026-06-24 15:41:05' %>

バーで笛吹の地ビール。

<%= image "img_1462", timestamp: '2026-06-24 16:48:50' %>

道の駅でついでに購入したソーセージと唐辛子を焼いて食う。

<%= image "img_1463", timestamp: '2026-06-24 17:33:15' %>
<%= image "img_1464", timestamp: '2026-06-24 17:33:20' %>
<%= image "img_1465", timestamp: '2026-06-24 17:39:35' %>
<%= image "img_1466", timestamp: '2026-06-24 17:48:20' %>

夜景。

<%= image "img_1468", timestamp: '2026-06-24 21:20:09' %>

夜中から雨が降り出す。下が砂利なので水はけはすごくいいんだけど、固くて寝づらかった。
