---
title: 飯田線の旅 その5
---
雨の降る中撤収。

<%= image "img_1469", timestamp: '2026-06-25 06:55:21' %>
<%= image "img_1471", timestamp: '2026-06-25 06:55:52' %>

隣の[ほったらかし温泉](http://www.hottarakashi-onsen.com/)へ移動して朝風呂。
先に一人入ってたけど途中から貸し切り状態になった。霧で何も見えないけど。

<%= image "img_1472", timestamp: '2026-06-25 09:30:55' %>

温玉揚げ。

<%= image "img_1473", timestamp: '2026-06-25 10:10:19' %>
<%= image "img_1475", timestamp: '2026-06-25 10:10:53' %>

小雨の中、下山する。楽だけど怖い。

ほうとうを食べる。人気店と聞いていたので営業開始少し前に着いたら誰もおらんかった。

<pre class="address">
<a href="https://tabelog.com/yamanashi/A1901/A190102/19005334/">ほうとう蔵 歩成 フルーツライン店</a>
山梨県山梨市万力1091
0553-23-1567
</pre>

きのこ黄金ほうとう(豚追加)と、鳥もつ煮。

<%= image "img_1476", timestamp: '2026-06-25 10:54:44' %>
<%= image "img_1477", timestamp: '2026-06-25 11:01:53' %>
<%= image "img_1478", timestamp: '2026-06-25 11:08:56' %>
<%= image "img_1479", timestamp: '2026-06-25 11:15:11' %>
<%= image "img_1480", timestamp: '2026-06-25 11:18:48' %>

帰路へつく。

<%= image "img_1481", timestamp: '2026-06-25 12:58:46' %>

たきや漁はリベンジしたいので次は飯田線以外の旅程を考える必要あり。
