---
title: 三浦自転車日帰り旅
---
逗子で降りて三浦半島をぐるっとまわって横須賀まで行った。ルートは[これ](https://maps.app.goo.gl/o4MEmQ73xAJCNAwk6)で、全部で43km。

森戸海岸。

<%= image "img_1505", timestamp: '2026-07-06 12:47:32' %>
<%= image "img_1506", timestamp: '2026-07-06 15:24:53' %>

横須賀駅そばで飲む。今日も頑張った。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140601/14066672/">横須賀ビール</a>
神奈川県横須賀市大滝町1-23
046-874-8588
</pre>

<%= image "img_1507", timestamp: '2026-07-06 17:14:24' %>

ヨコスカセゾン。

<%= image "img_1510", timestamp: '2026-07-06 17:46:15' %>
<%= image "img_1508", timestamp: '2026-07-06 17:24:07' %>

艦これとコラボしてるのね

<%= image "img_1509", timestamp: '2026-07-06 17:28:19' %>
