---
title: 江の島シーキャンドル
tags: enoshima, nightview, restaurant
---
夜景を見に江ノ島へ。

<%= image "img_3566" %>
<%= image "img_3568" %>
<%= image "img_3573" %>
<%= image "img_3575" %>
<%= image "img_3581" %>
<%= image "img_3584" %>
<%= image "img_3585" %>
<%= image "img_3587" %>
<%= image "img_3589" %>
<%= image "img_3596" %>
<%= image "img_3598" %>
<%= image "img_3603" %>
<%= image "img_3539" %>
<%= image "img_3543" %>
<%= movie "hdimg_3612" %>
<%= image "img_3545" %>
<%= image "img_3615" %>
<%= image "img_3548" %>
<%= image "img_3618" %>
<%= image "img_3622" %>
<%= image "img_3626" %>
<%= image "img_3554" %>
<%= image "img_3629" %>
<%= image "img_3632" %>

夜はとびっちょ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140403/14000795/">とびっちょ 本店</a>
神奈川県藤沢市江の島1-6-7
0466-23-0041
</pre>

<%= image "img_3556" %>
<%= image "img_3557" %>
<%= image "img_3633" %>
<%= image "img_3638" %>
<%= image "img_3641" %>
