---
title: 別府 その1
tags: beppu, onsen, workation
---
ずっと家で籠もりきりだったため、Work From Travelに挑戦。
行きはJetstarにしました。日曜朝に移動。成田空港まで2時間、飛行機で2時間、バスで1時間って感じ。
腰が疲れた。

<%= image "img_3870" %>
<%= image "img_3871" %>
<%= image "img_3872" %>

別府温泉にしました。朝食のみのプラン。部屋から海が見えます。

<pre class="address">
<a href="http://umine.jp/">ホテルうみね</a>
〒874-0920大分県別府市北浜3丁目8－3
電話番号:0977-26-0002
</pre>

<%= image "img_3873" %>
<%= image "img_3874" %>
<%= image "img_3875" %>
<%= image "img_3876" %>
<%= image "img_3877" %>
<%= image "img_3878" %>
<%= image "img_3879" %>

小室さんとのタイアップBGMが延々とホテル内に流れてる。

<%= image "img_e3914" %>

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000332/">ろばた仁</a>
大分県別府市北浜1丁目15-7
0977-21-1768
</pre>

貝の酢味噌あえ。地元のはまぐり、関サバ。

<%= image "img_3880" %>
<%= image "img_3882" %>
<%= image "img_3885" %>

シカメガキ。USのシーフードレストランで出てくる"Kumamoto"の原種だそうで。
美味しかった。

<%= image "img_3881" %>
<%= image "img_e3886" %>

ひおうぎ貝。

<%= image "img_3883" %>

2軒目に餃子食おうかと思ったら、19時なのに閉まってた。
この時点でこの店に来るのは絶望的になった。

<%= image "img_3922" %>

夜食のおにぎりをもらう。

<%= image "lcbi3945" %>
