---
title: 別府 その2
tags: beppu, food, onsen
---
朝食。

<%= image "img_3894" %>
<%= image "img_3895" %>
<%= image "img_3896" %>

昼飯はとり天定食。ただの鳥からだった。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44011247/">レストラン東洋軒 トキハ別府店</a>
大分県別府市北浜2-9-1 B1F
050-5597-8489
</pre>

<%= image "img_3897" %>

夜は馬刺し屋さん。雨が強くなってきたので客は私だけ。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44003113/">大阿蘇</a>
大分県別府市北浜1-11-18
050-5590-1146
</pre>

刺し身盛り合わせ。大動脈、馬刺し、心臓、たてがみの根っこ。

<%= image "img_3898" %>

モツ煮込み。

<%= image "img_3899" %>

帰りに周辺をブラつく。天狗発見。

<%= image "img_3900" %>
<%= image "img_3909" %>

帰途に土砂降りになって、ズボンと靴がビショビショになる。
真っ直ぐ帰れば良かった。

さらに夜半に大雨警報で起こされる。
