---
title: 別府 その3
---
洋朝食。

<%= image "img_3902" %>
<%= image "img_3903" %>
<%= image "img_3904" %>

海を見ながら仕事してたので、目の疲れがとれた気がする。
ずっと近いところしか見てなかったもんなあ。

昼は別府冷麺。
ただの冷麺だった。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44011422/">六盛 トキハ別府店</a>
大分県別府市北浜2-9-1 トキハ別府店 B1F
0977-23-1111
</pre>

<%= image "img_3906" %>
<%= image "img_3908" %>

夜は土砂降りの中、狙ってた中華料理屋さんを探したがどうにも見つけられず。
諦めて日曜の居酒屋を再訪。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000332/">ろばた仁</a>
大分県別府市北浜1丁目15-7
0977-21-1768
</pre>

イワシの刺し身、豚天、とりもも炭火焼き、サザエ。

<%= image "img_3910" %>
<%= image "img_3911" %>
<%= image "img_3912" %>
<%= image "img_3913" %>
