---
title: 別府 その4
tags: beppu, onsen, gyoza
---
朝食。

<%= image "img_3916" %>
<%= image "img_3915" %>
<%= image "img_3917" %>

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000505/">大砲ラーメン 別府海岸通り店</a>
大分県別府市浜町3-27
050-5595-9984
</pre>

昼飯はラーメン。昔チャーシュー麺。

<%= image "img_3918" %>
<%= image "img_3920" %>

やっと晴れたので晩飯前に海岸を散歩。
大雨のせいで、漂着したゴミが半端ない。

<%= image "img_3923" %>
<%= image "img_3924" %>
<%= image "img_3925" %>

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44008481/">香凛</a>
大分県別府市元町10-1
090-9589-9545
</pre>

店開けた途端、中国の匂いがする。素敵。

<%= image "img_3934" %>
<%= image "img_3933" %>

酔っぱらい海老

<%= image "img_3926" %>

キュウリとあさりの餃子、エビとオクラの餃子。

<%= image "img_3927" %>
<%= image "img_3928" %>

豚のほほ肉と夏野菜の炊き込みごはん(半人前)。

<%= image "img_3929" %>

大分産ラムとファンネルの餃子。

<%= image "img_3930" %>

合鴨の餃子。

<%= image "img_3931" %>

ジャガイモの炒めもの。

<%= image "img_3932" %>

