---
title: 別府 その5
tags: beppu, onsen, duck
---
朝食。

<%= image "img_3935" %>
<%= image "img_3936" %>

昼飯は太巻きを買いに行く。

<%= image "img_3937" %>
<%= image "img_3938" %>

夜は鴨吸い。
40分ぐらいかかるというので、飲みながら待つ。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000327/">チョロ松</a>
大分県別府市北浜1-4
0977-21-1090
</pre>

<%= image "img_3939" %>
<%= image "img_3940" %>

鴨吸い絶品でした。日本酒にも非常に合う。
