---
title: 三井アウトレットパーク 横浜ベイサイド
tags: burger, outlet, yokohama
---
コロナのためにオープンが延び延びになってた[三井アウトレットパーク 横浜ベイサイド](https://mitsui-shopping-park.com/mop/yokohama/)へ行く。
従姉妹がオープンニングスタッフで入ってるので来たかったんですが、オープン当初は激混みとの噂だったので、行くのを控えてました。
そろそろよかろうと思って訪問。

晩飯はUMAMIバーガー初挑戦。突風のテラスで食う。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140310/14078832/">ウマミバーガー 横浜ベイサイド店 </a>
神奈川県横浜市金沢区白帆5-2 Cブロック 2F
045-353-7308
</pre>

<%= image "img_3946" %>
<%= image "img_3949" %>
<%= image "img_3951" %>
<%= image "img_3954" %>
<%= image "img_4201" %>
<%= image "img_4203" %>
