---
title: 北海道旅行 その1
tags: hokkaido, zoo, bike
---
旭山動物園。

<%= image "img_3973" %>
<%= image "img_4213" %>
<%= image "img_3978" %>
<%= image "img_3980" %>
<%= image "img_4214" %>
<%= image "img_4217" %>
<%= movie "hdimg_3981" %>
<%= image "img_3982" %>
<%= image "img_4221" %>
<%= image "img_4223" %>
<%= image "img_4224" %>
<%= image "img_4225" %>
<%= movie "hdimg_4226" %>
<%= image "img_4227" %>
<%= image "img_4229" %>
<%= image "img_4230" %>
<%= image "img_3985" %>
<%= image "img_4233" %>
<%= movie "hdimg_4235" %>
<%= image "img_3991" %>
<%= movie "hdimg_4238" %>
<%= image "img_4005" %>
<%= image "img_4239" %>
<%= image "img_4242" %>
<%= image "img_4243" %>
<%= image "img_4245" %>
<%= image "img_4246" %>
<%= image "img_4247" %>
<%= image "img_4248" %>
<%= image "img_4007" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010403/1020065/">ファミリーレストラン だいまる</a>
北海道上川郡美瑛町中町1-7-2
0166-92-3114
</pre>

<%= image "img_4249" %>
<%= image "img_4008" %>
<%= image "img_4250" %>
<%= image "img_4011" %>
<%= image "img_4251" %>

美瑛サイクリング半日コース(ガイド付き)。

<pre class="address">
<a href="https://field-north.com/biei.html">美瑛の丘サイクリング</a>
北海道上川郡美瑛町大町1丁目1-7
</pre>

<%= image "img_4012" %>
<%= image "img_4255" %>
<%= image "img_4256" %>
<%= movie "hdimg_4014" %>
<%= image "img_4016" %>
<%= image "img_4021" %>
<%= image "img_4257" %>
<%= image "img_4022" %>
<%= image "img_4261" %>
<%= image "img_4263" %>
<%= image "img_4265" %>
<%= image "img_4268" %>
<%= image "img_4272" %>
<%= image "img_4023" %>
<%= image "img_4275" %>
<%= image "img_4277" %>
<%= image "img_4278" %>
<%= image "img_4280" %>
<%= image "img_4284" %>
<%= image "img_4289" %>
<%= image "img_4290" %>
<%= image "img_4292" %>
<%= image "img_4027" %>
<%= image "img_4296" %>
<%= image "img_4299" %>
<%= image "img_4301" %>
<%= image "img_4302" %>
<%= image "img_4303" %>
<%= image "img_4305" %>
<%= image "img_4307" %>
<%= image "img_4311" %>
<%= image "img_4030" %>

Rホテルズイン北海道旭川
0166-26-7771

<%= movie "hdimg_4315" %>
<%= image "img_4316" %>
<%= image "img_4317" %>
<%= image "img_4318" %>
<%= image "img_4319" %>
<%= image "img_4321" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010401/1027848/">成吉思汗 大黒屋 5丁目支店</a>
北海道旭川市4条通5丁目
0166-24-2424
</pre>

<%= image "img_4324" %>
<%= image "img_4032" %>
<%= image "img_4034" %>
<%= image "img_4326" %>
<%= image "img_4327" %>
<%= image "img_4329" %>
<%= image "img_4331" %>
<%= image "img_4333" %>
