---
title: 北海道旅行 その2
tags: farm, hokkaido, park
---
<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010401/1000314/">旭川らぅめん青葉 本店 （あおば）</a>
北海道旭川市二条通8丁目左8 二条ビル　名店街
0166-23-2820
</pre>

<%= image "img_4335" %>
<%= image "img_4337" %>
<%= image "img_4338" %>
<%= image "img_4339" %>

[上野ファーム](http://www.uenofarm.net/index.php)

<%= image "img_4343" %>
<%= image "img_4345" %>
<%= image "img_4347" %>
<%= image "img_4037" %>
<%= image "img_4349" %>
<%= image "img_4354" %>
<%= image "img_4040" %>
<%= image "img_4356" %>
<%= image "img_4360" %>
<%= image "img_4364" %>
<%= image "img_4366" %>
<%= image "img_4367" %>
<%= image "img_4368" %>
<%= image "img_4369" %>
<%= image "img_4371" %>
<%= image "img_4374" %>
<%= image "img_4047" %>
<%= image "img_4375" %>
<%= image "img_4069" %>
<%= image "img_4376" %>
<%= image "img_4381" %>
<%= image "img_4384" %>
<%= image "img_4386" %>
<%= image "img_4390" %>
<%= image "img_4392" %>
<%= image "img_4393" %>
<%= image "img_4071" %>
<%= image "img_4399" %>

<%= image "img_4402" %>
<%= image "img_4403" %>
<%= image "img_4075" %>
<%= image "img_4406" %>
<%= image "img_4408" %>
<%= movie "hdimg_4080" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010403/1002232/dtlmenu/">カフェレストランおきらく亭</a>
北海道上川郡美瑛町栄町1-6-1
0166-92-3741
</pre>

<%= image "img_4410" %>
<%= image "img_4413" %>
<%= image "img_4083" %>

<%= image "img_4414" %>
<%= image "img_4085" %>
<%= image "img_4418" %>
<%= image "img_4419" %>

[大雪山山荘](http://www.welcome-higashikawa.jp/hotels/%E5%A4%A7%E9%9B%AA%E5%B1%B1%E5%B1%B1%E8%8D%98/)

<%= image "img_4086" %>
<%= image "img_4101" %>
<%= image "img_4420" %>
<%= image "img_4423" %>
<%= image "img_4425" %>

<%= image "img_4427" %>
<%= image "img_4103" %>
<%= image "img_4428" %>
<%= movie "hdimg_4430" %>
<%= image "img_4431" %>
<%= image "img_4435" %>

<%= image "img_4439" %>
<%= image "img_4440" %>
<%= image "img_4442" %>
<%= image "img_4445" %>
