---
title: 北海道旅行 その3
tags: hokkaido, hiking, lavender
---
<%= image "img_4447" %>
<%= image "img_4448" %>

旭岳散策コース

<%= image "img_4450" %>
<%= image "img_4455" %>
<%= image "img_4458" %>
<%= image "img_4116" %>
<%= image "img_4460" %>
<%= image "img_4461" %>
<%= image "img_4462" %>
<%= image "img_4466" %>
<%= image "img_4467" %>
<%= image "img_4470" %>
<%= image "img_4471" %>
<%= image "img_4117" %>
<%= image "img_4475" %>
<%= image "img_4119" %>
<%= image "img_4484" %>
<%= image "img_4485" %>
<%= image "img_4486" %>
<%= image "img_4488" %>
<%= image "img_4490" %>
<%= image "img_4124" %>
<%= image "img_4493" %>
<%= image "img_4494" %>
<%= image "img_4496" %>
<%= image "img_4499" %>
<%= image "img_4500" %>
<%= image "img_4125" %>
<%= image "img_4504" %>
<%= image "img_4505" %>
<%= movie "hdimg_4131" %>
<%= image "img_4508" %>
<%= image "img_4514" %>
<%= image "img_4515" %>
<%= image "img_4516" %>
<%= image "img_4518" %>
<%= image "img_4520" %>
<%= image "img_4523" %>
<%= image "img_4524" %>
<%= image "img_4525" %>
<%= image "img_4527" %>
<%= image "img_4529" %>
<%= image "img_4532" %>
<%= image "img_4534" %>
<%= image "img_4538" %>
<%= image "img_4542" %>
<%= image "img_4545" %>
<%= image "img_4133" %>
<%= image "img_4140" %>
<%= image "img_4150" %>
<%= image "img_4550" %>
<%= movie "hdimg_4156" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010403/1025264/">フラノバーガー</a>
北海道富良野市東鳥沼1
0167-23-1418
</pre>

<%= image "img_4161" %>
<%= image "img_4558" %>
<%= image "img_4560" %>
<%= image "img_4553" %>
<%= image "img_4554" %>
<%= image "img_4555" %>

[ファーム富田](https://www.farm-tomita.co.jp/)

<%= image "img_4162" %>
<%= image "img_4171" %>
<%= image "img_4175" %>
<%= image "img_4563" %>
<%= image "img_4176" %>
<%= image "img_4566" %>
<%= image "img_4177" %>
<%= image "img_4178" %>
<%= image "img_4570" %>

[とみたメロンハウス](https://www.tomita-m.co.jp/)。

<%= image "img_4571" %>
<%= image "img_4181" %>
<%= image "img_4184" %>
<%= image "img_4186" %>
<%= image "img_4573" %>
<%= image "img_4574" %>
<%= image "img_4576" %>

<%= image "img_4577" %>
<%= image "img_4579" %>
