---
title: トラットリアフランコ
tags: museum, restaurant, yokohama
---
トラットリアフランコ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14035233/">トラットリア フランコ</a>
神奈川県横浜市西区北幸2-4-10 大明ビル 1F
045-324-5171
</pre>

<%= image "img_4687" %>
<%= image "img_4690" %>
<%= image "img_4692" %>
<%= image "img_4694" %>
<%= image "img_4695" %>
<%= image "img_4697" %>

はまぎんこども宇宙科学館。

<%= image "img_4700" %>
