---
title: キッザニア
tags: riri, playground, tokyo
---
入場制限で空いてるという噂の[キッザニア](http://www.kidzania.jp/tokyo/)へ。
確かに人は少ないんですが、アクティビティの人数も減らしてるので、そこまでメリットあるわけではない。

<%= image "img_4245" %>

ABCクッキングスタジオ。

<%= image "img_4233" %>
<%= image "img_4236" %>
<%= image "img_4238" %>
<%= image "img_4239" %>

作ったライスケーキメダルを食べる。

<%= image "img_4241" %>
<%= image "img_4242" %>
<%= image "img_4244" %>

ワークショップ。

<%= image "img_4250" %>
<%= image "img_4248" %>
<%= image "img_4249" %>

石鹸作り。見事に蓮が行ってたアクティビティとかぶらない。

<%= image "img_4253" %>
<%= image "img_4256" %>
<%= image "img_4259" %>
<%= movie "hdimg_4263" %>

サラダショップ。

<%= image "img_4264" %>
<%= image "img_4267" %>
<%= image "img_4268" %>
<%= image "img_4270" %>
<%= image "img_4273" %>
<%= image "img_4275" %>

期間限定の江ノ島水族館。

<%= image "img_4290" %>
<%= image "img_4279" %>
<%= image "img_4280" %>
<%= image "img_4281" %>
<%= image "img_4283" %>
<%= image "img_4285" %>
<%= movie "hdimg_4287" %>
<%= image "img_4288" %>
<%= movie "hdimg_4289" %>

晩飯食って帰る。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1313/A131307/13148260/">Trattoria&Pizzeria LOGIC 豊洲 （ロジック）</a>
東京都江東区豊洲2-4-9 アーバンドック ららぽーと豊洲 1F
050-5868-8730
</pre>

<%= image "img_4291" %>
<%= image "img_4292" %>
<%= image "img_4294" %>
<%= image "img_4295" %>
<%= image "img_4296" %>
<%= image "img_4297" %>
<%= image "img_4298" %>
<%= image "img_4299" %>
<%= image "img_4300" %>
