---
title: 長野旅行 その1
tags: bbq, nagano, norikura
---
<%= image "img_1814" %>

道が激混みのため、大幅に遅れてチェックイン。

<pre class="address">
<a href="https://norikura.gr.jp/product/bon/">GUEST LODGE 梵</a>
長野県松本市安曇4043-12
</pre>

<%= image "img_4994" %>

お酒持ち込みOKのBBQ。

<%= image "img_4995" %>
<%= image "img_4996" %>
<%= image "img_4998" %>
<%= image "img_5002" %>
<%= image "img_5008" %>
<%= image "img_5011" %>
<%= image "img_5018" %>
<%= image "img_1816" %>
