---
title: 長野旅行 その2
tags: nagano, tour, travel
---
<%= image "img_5023" %>
<%= image "img_5024" %>
<%= image "img_5025" %>
<%= image "img_4363" %>
<%= image "img_5028" %>
<%= image "img_5029" %>

上高地大正池。
[ネイチャーツアー](https://ecotour.yamatami.com/)に参加。

<%= image "img_5033" %>
<%= image "img_5034" %>
<%= image "img_5035" %>
<%= image "img_4366" %>
<%= image "img_5039" %>
<%= image "img_5040" %>
<%= image "img_1826" %>
<%= image "img_4375" %>
<%= image "img_4376" %>
<%= image "img_1829" %>
<%= image "img_4379" %>
<%= image "img_5045" %>
<%= image "img_5049" %>
<%= image "img_4386" %>
<%= image "img_5050" %>
<%= image "img_4390" %>
<%= image "img_5052" %>
<%= image "img_5053" %>
<%= image "img_4391" %>
<%= image "img_5055" %>
<%= image "img_5059" %>
<%= image "img_4393" %>
<%= image "img_5062" %>
<%= image "img_4394" %>
<%= image "img_5069" %>
<%= image "img_5070" %>
<%= image "img_5074" %>
<%= image "img_4400" %>
<%= image "img_5079" %>
<%= image "img_5081" %>
<%= image "img_1847" %>
<%= image "img_5083" %>
<%= image "img_4406" %>
<%= image "img_5084" %>
<%= image "img_4414" %>
<%= image "img_5086" %>
<%= image "img_5087" %>
<%= image "img_5088" %>
<%= image "img_5090" %>
<%= image "img_4424" %>
<%= image "img_4425" %>
<%= image "img_5097" %>
<%= image "img_1840" %>
<%= image "img_1841" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/nagano/A2002/A200201/20010423/">蔵の花</a>
長野県松本市中央3-3-2
0263-34-5250
</pre>

松本城は激混みで天守閣に入れず。

<%= image "img_5103" %>
<%= image "img_5105" %>
<%= image "img_5108" %>
<%= image "img_5116" %>
<%= image "img_4426" %>
<%= image "img_5117" %>
<%= image "img_1866" %>
<%= image "img_5118" %>
<%= image "img_5123" %>

[八ヶ岳南麓 バーク清里](https://travel.rakuten.co.jp/HOTEL/40083/40083.html)

<%= image "img_5128" %>
<%= image "img_5129" %>
<%= image "img_5131" %>
<%= image "img_5133" %>
<%= image "img_5134" %>
<%= image "img_5135" %>
<%= image "img_5136" %>
<%= image "img_5139" %>
<%= image "img_5140" %>
<%= image "img_5141" %>
<%= image "img_5142" %>
<%= image "img_5143" %>
