---
title: 鎌倉ハイキング 2週目
---
<%= image "img_5165" %>
<%= image "img_5166" %>
<%= image "img_5167" %>
<%= image "img_5168" %>
<%= image "img_5169" %>
<%= image "img_5171" %>

ハイキング後、クラフトビール。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14061514/">Rudy Brew</a>
神奈川県鎌倉市小町1-4-24-102 起業プラザ 1F
0467-50-0043
</pre>

<%= image "img_4434" %>
<%= image "img_5173" %>
