---
title: 小田原
---
じーちゃんのバースデーパーティー。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14001687/">澤亭</a>
神奈川県小田原市城山1-8-33
050-5593-3816
</pre>

<%= image "img_5325" %>
<%= image "img_5333" %>

<%= image "img_5329" %>
<%= image "img_5335" %>
<%= image "img_5336" %>
<%= image "img_5339" %>
<%= image "img_5342" %>
<%= image "img_5343" %>
<%= image "img_5344" %>
<%= image "img_4482" %>
<%= image "img_5337" %>

<%= image "img_5345" %>
<%= image "img_5347" %>
<%= image "img_5349" %>

<%= image "img_5352" %>
<%= image "img_5353" %>
