---
title: 鎌倉ハイキング 8週目 その2
tags: kamakura, hiking, trail
---
建長寺ルートではなく、妻と二人で明月院ルートに挑戦。
急な竹やぶの道を突き進むが行き止まり。

<%= image "img_5359" %>
<%= image "img_5361" %>
<%= image "img_5362" %>

道を間違えていた。後から来た人に正しいルートを教えてもらう。

<%= image "img_5363" %>
<%= image "img_5364" %>
<%= image "img_5366" %>
<%= image "img_5367" %>
<%= image "img_5368" %>
<%= image "img_5372" %>
<%= image "img_5373" %>
<%= image "img_5374" %>
<%= image "img_5376" %>
<%= image "img_5379" %>
<%= image "img_5380" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14009486/">バーンウエンター</a>
神奈川県鎌倉市雪ノ下3丁目3-26
0467-23-6717
</pre>

<%= image "img_5381" %>
<%= image "img_5382" %>
<%= image "img_5385" %>
<%= image "img_5383" %>
