---
title: ベトナム料理
---
息子のAirPods Proを修理に川崎へ。

その後、ベトナム料理屋へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1405/A140501/14004321/">サイゴン キムタン 川崎本店</a>
神奈川県川崎市川崎区東田町4-7 フロムKビル 1F
050-5593-2858
</pre>

<%= image "img_5506" %>
<%= image "img_5504" %>
<%= image "img_5512" %>
<%= image "img_5514" %>
<%= image "img_5516" %>
<%= image "img_5520" %>
<%= image "img_5521" %>
<%= image "img_5523" %>
<%= image "img_5524" %>

うまかった。
