---
title: 奄美大島 その2
tags: amami, beach, lunch, workation
---
朝、海岸を散歩。

<%= image "img_4512" %>
<%= image "img_4514" %>

昼飯は郷土料理のけいはんを食べにいく。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4605/A460502/46000283/">みなとや</a>
鹿児島県奄美市笠利町外金久81
0997-63-0023
</pre>

<%= image "img_4515" %>
<%= image "img_4516" %>
<%= image "img_4517" %>
<%= image "img_4518" %>

ベランダで仕事。

<%= image "img_4519" %>

さらに海岸で仕事。

<%= image "img_4523" %>

強風が吹いてて体感温度は低いが、気温は高い。
試しに水に入ってみる。

<%= image "img_4522" %>

写真撮影直後の引波で足の届かないところに連れていかれる。
海流が強いので怖い。すぐに退散。
