---
title: 奄美大島 その4
---
今日は休みを頂いて[ツアー](https://www.unimare.jp/)を申し込む。ガイドさんとワンツーマン。

集合場所に行って、ガイドさんの車に乗っけてもらって[マングローブ茶屋](https://mangroveamami.com/)へ

<%= image "pb190003" %>
<%= image "img_4536" %>

マングローブの川をカヌーで通り抜けるツアー。

<%= image "img_4537" %>
<%= image "pb190017" %>
<%= movie "hdimg_4538" %>
<%= image "img_4539" %>
<%= image "pb190025" %>
<%= image "img_4542" %>
<%= image "img_4543" %>
<%= image "pb190026" %>
<%= image "img_4544" %>
<%= image "pb190031" %>
<%= image "pb190033" %>
<%= image "img_4546" %>
<%= image "img_4549" %>
<%= image "pb190035" %>
<%= image "img_4550" %>
<%= image "pb190039" %>
<%= image "img_4553" %>
<%= movie "hdimg_4555" %>

お昼ごはん。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4605/A460502/46014148/">古民家カフェ ハナハナ茶屋</a>
鹿児島県奄美市住用町西仲間271
0997-69-2625
</pre>

<%= image "img_4556" %>
<%= image "img_4557" %>

午後は滝を見に行く。

<%= image "img_4559" %>
<%= image "img_4560" %>
<%= image "pb190048" %>
<%= image "img_4561" %>
<%= image "img_4562" %>
<%= image "img_4564" %>
<%= image "pb190058" %>
<%= image "pb190060" %>
<%= image "pb190061" %>
<%= image "pb190062" %>
<%= image "img_4565" %>
<%= image "pb190064" %>
<%= image "pb190065" %>
<%= image "pb190068" %>
<%= image "img_4566" %>
<%= image "pb190070" %>
<%= image "img_4568" %>
<%= image "img_4570" %>
<%= image "pb190074" %>
<%= image "pb190076" %>
<%= image "img_4571" %>
<%= image "img_4572" %>
<%= image "img_4573" %>
<%= image "img_4574" %>
<%= movie "hdpb190079" %>
<%= image "pb190080" %>
<%= image "pb190081" %>
<%= image "pb190085" %>
<%= image "pb190088" %>
<%= image "pb190089" %>
<%= image "img_4578" %>
<%= image "img_4580" %>
<%= image "img_4581" %>

戻ってきて海に足突っ込んで一杯。

<%= image "img_4584" %>
<%= image "img_4585" %>
<%= image "img_4586" %>

晩ごはん。スーパーの鶏モツ煮が今回の旅で一番うまかった。

<%= image "img_4587" %>
<%= image "img_4588" %>
