---
title: 鎌倉ハイキング 11週目
tags: kamakura, hiking, autumn
---
連休2日目。紅葉で今日はさすがに混んでいる。

<%= image "img_4660" %>
<%= image "img_4661" %>
<%= image "img_4663" %>

定点観測。

<%= image "img_4666" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14061514/">Rudy Brew</a>
神奈川県鎌倉市小町1-4-24-102 起業プラザ 1F
0467-50-0043
</pre>

<%= image "img_4667" %>
