---
title: 俺のうなぎ
tags: restaurant, tokyo, unagi
---
アラジンを観に汐留へ。

<%= image "img_6046" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130101/13170615/">俺のうなぎ</a>
東京都中央区銀座7-5-5 長谷第一ビル　1F
050-5592-5226
</pre>

<%= image "img_6030" %>
<%= image "img_6031" %>
<%= image "img_6034" %>
<%= image "img_6035" %>
<%= image "img_6036" %>
<%= image "img_6041" %>
<%= image "img_6044" %>
