---
title: 鎌倉ハイキング 14週目
tags: kamakura, hiking, autumn
---
鎌倉の紅葉のベストはこの週ですな。

<%= image "img_6061" %>
<%= image "img_6063" %>
<%= image "img_6064" %>
<%= image "img_6065" %>
<%= image "img_6066" %>
<%= image "img_6068" %>
<%= image "img_4712" %>
<%= image "img_6069" %>
<%= image "img_6071" %>
<%= image "img_6076" %>
<%= image "img_6077" %>
<%= image "img_6081" %>
<%= image "img_6083" %>
<%= image "img_6085" %>

遅めのランチ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14000589/dtlrvwlst/">キャラウェイ （カレーハウス）</a>
神奈川県鎌倉市小町2-12-20
0467-25-0927
</pre>

<%= image "img_4713" %>
