---
title: ほていさん
tags: party, restaurant
---
以前から来たかったあんこう鍋のお店。やっと来れた。

<pre class="address">
<a href="http://gourmet.livedoor.com/restaurant/11816/">ほていさん</a>
〒104-0052 東京都中央区月島3-9-7
03-3531-5200
</pre>

<%= image "image_010" %>
<%= image "image_009" %>

上にどっちゃり乗ってるのがアンキモ。

<%= image "image_012" %>
<%= image "image_013" %>
<%= image "image_016" %>
<%= image "image_017" %>
