---
title: 小田原
---
小田原にお泊まりで遊びに行く。

<%= image "dsc_0004" %>
<%= image "dsc_0005" %>

近くでイベントやってた。

<%= image "dsc_0013" %>
<%= image "dsc_0016" %>

<%= image "dsc_0026" %>
<%= image "dsc_0033" %>

写真撮影つき犬さんを発見。
最近、着ぐるみ好きなので、飛びついて抱きつく(危ない)。

<%= image "dsc_0037" %>
<%= image "dsc_0042" %>

その後、ピッタリくっついて離れないので引きはがす(迷惑)。

<%= image "dsc_0044" %>

消防車に乗せてもらう。あと、ばあちゃんもらったてきた風車をゲット。

<%= image "dsc_0057" %>
<%= image "dsc_0047" %>
<%= image "dsc_0066" %>

<%= image "dsc_0068" %>
<%= image "dsc_0073" %>
<%= image "dsc_0076" %>
<%= image "dsc_0082" %>
<%= image "dsc_0096" %>

あったかいので、わんぱくランドへ。

<pre class="address">
<a href="http://www.city.odawara.kanagawa.jp/public-i/park/wanpaku/">小田原こどもの森公園 わんぱくらんど</a>
神奈川県小田原市久野4377-1
0465-24-3189
</pre>

<%= image "dsc_0103" %>
<%= image "dsc_0104" %>
<%= image "dsc_0114" %>

エサやりがすっかり上手になった。

<%= image "dsc_0119" %>
<%= image "dsc_0122" %>
<%= image "dsc_0124" %>
<%= image "dsc_0125" %>
<%= image "dsc_0133" %>

<%= image "dsc_0142" %>
<%= image "dsc_0145" %>
<%= image "dsc_0151" %>
<%= image "dsc_0155" %>
<%= image "dsc_0160" %>
<%= image "dsc_0165" %>
<%= image "dsc_0168" %>
<%= image "dsc_0173" %>
<%= image "dsc_0181" %>
<%= image "dsc_0198" %>
<%= image "dsc_0209" %>
<%= image "dsc_0238" %>
