---
title: 火鍋
---
関内の四川料理屋で火鍋。素晴らしく辛い。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1401/A140104/14005003/">華隆餐館</a>
045-261-6079
神奈川県横浜市中区長者町5-71-1 エスポワール伊勢佐木長者町　１Ｆ
</pre>

<%= image "image_018" %>
<%= image "image_019" %>
<%= image "image_020" %>
<%= image "image_021" %>
<%= image "image_022" %>
