---
title: 海老名
---
またまた海老名。寒いと屋内施設重要。

とりあえず蓮がハマってるVina Walkの機関車に乗る。

<%= image "image_025" %>
<%= image "image_023" %>
<%= image "image_024" %>
<%= image "image_026" %>

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名（旧駅前ダイエー）3F
</pre>

電動の車を自分で運転できるようになりました。

<%= movie "video_004" %>
<%= movie "video_006" %>

<pre class="address">
<a href="http://www.outbacksteakhouse.co.jp/location/ebina.html">アウトバックステーキハウス 海老名店</a>
神奈川県海老名市中央1-18-1 ビナウォーク6番館1F
046-292-4286
</pre>

夜はステーキ。久しぶりにアメリカ飯たべるとうまいねえ。

<%= image "dsc09523" %>
<%= image "dsc09525" %>
<%= image "dsc09518" %>
<%= image "dsc09519" %>
<%= image "dsc09520" %>
<%= image "dsc09522" %>
<%= image "dsc09529" %>
