---
title: 海老名
tags: ebina, playground, family
---
また海老名来ちゃったよ。今回は小田原のじーちゃんと待ち合わせ。

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名（旧駅前ダイエー）3F
</pre>

<%= image "dsc_0001" %>
<%= image "dsc_0003" %>
<%= image "dsc_0005" %>
<%= image "dsc_0011" %>
<%= image "dsc_0012" %>
<%= image "dsc_0019" %>
<%= image "dsc_0027" %>
<%= image "dsc_0029" %>
<%= image "dsc_0033" %>
<%= image "dsc_0037" %>
<%= image "dsc_0046" %>
<%= image "dsc_0054" %>
<%= image "dsc_0057" %>
<%= image "dsc_0066" %>
<%= image "dsc_0069" %>
<%= image "dsc_0086" %>

お昼ご飯はマルイへ。

<%= image "dsc_0105" %>
<%= image "dsc_0110" %>
<%= image "dsc_0116" %>
<%= image "dsc_0120" %>

「なんや、やんのかコラ。」

<%= image "dsc_0128" %>

びなぽっぽ。

<%= image "dsc_0149" %>
<%= image "dsc_0150" %>
<%= image "dsc_0151" %>
<%= image "dsc_0153" %>

小田原のじーちゃんと。

<%= image "dsc_0186" %>
<%= image "dsc_0145" %>
<%= image "dsc_0211" %>
<%= image "dsc_0212" %>

ファンタジーキッズリゾートに戻る。

<%= image "dsc_0217" %>
<%= image "dsc_0234" %>
<%= image "dsc_0237" %>
<%= image "dsc_0243" %>
<%= image "dsc_0249" %>
<%= image "dsc_0253" %>
<%= image "dsc_0256" %>
