---
title: こどもの城
tags: indoor, playground, shibuya
---
まだまだ寒いので屋内で遊べるこどもの城へ。
渋谷で遠いけど、遊ぶ場所が一杯あって値段が安い。

<pre class="address">
<a href="http://www.kodomono-shiro.jp/">こどもの城</a>
〒150-0001 東京都渋谷区神宮前5-53-1
03-3797-5666
</pre>

しいたけを作る。

<%= image "dsc09583" %>
<%= image "dsc09588" %>

野菜コスプレ。

<%= image "dsc09591" %>
<%= image "dsc09594" %>
<%= image "dsc09602" %>
<%= image "dsc09605" %>

<%= image "dsc09610" %>
<%= image "dsc09615" %>
<%= image "dsc09619" %>
<%= movie "mov09613" %>
<%= movie "mov09616" %>
<%= movie "mov09620" %>

音楽の時間。

<%= image "dsc09623" %>
<%= image "dsc09625" %>
<%= movie "mov09626" %>

三輪車。こげませーん。

<%= image "dsc09632" %>
<%= movie "mov09633" %>

さらにダンスの時間。コスプレはするものの本人踊りたがらず。

<%= image "dsc09636" %>
<%= image "dsc09642" %>
<%= image "dsc09646" %>
<%= movie "mov09639" %>
<%= movie "mov09644" %>
