---
title: 焼肉
---
仕事帰りのママと合流してオープン直後の焼肉屋へ。

<pre class="address">
<a href="http://www.hotpepper.jp/A_20100/strJ000019402.html">ホルモン道場 輪倶闇市 曙町店</a>
神奈川県横浜市中区曙町1-1-29
045-253-1129
</pre>

<%= image "image_057" %>
<%= image "image_058" %>
<%= image "image_059" %>
<%= image "image_060" %>
<%= image "image_061" %>
<%= image "image_062" %>
<%= image "image_063" %>

ブリティッシュパブでビール一杯飲んで帰宅。
London Prideが日本に輸入されてるとは思いませんでした。
懐かしい。

<pre class="address">
<a href="http://fullmontyyokohama.com/">British Pub &amp; Restaurant FULL MONTY</a>
Kanagawa-ken, Yokohama-shi, Naka-ku, Tokiwacho 1-4-2, Tonan Bldg 2fl
045-212-2974
</pre>

<%= image "image_064" %>
<%= image "image_065" %>
