---
title: 岸根公園
tags: cherry blossoms, park, yokohama
---
休日出勤の代休をとって、蓮と二人で岸根公園へ。

<pre class="address">
<a href="http://www.city.yokohama.jp/me/kohoku/kyoutuu/midokoro/kisine/">岸根公園</a>
横浜市港北区岸根町725-1
045-481-1697
</pre>

桜咲いてました。

<%= image "200904071150000" %>
<%= image "image_056" %>
<%= image "image_051" %>
<%= image "image_049" %>

チューリップ。公園行く前に保湿剤もらいに皮膚科に行ったら、デコの怪我に大仰なガーゼを貼られる。
ただの軽いスリ傷なんだけどさあ。眉毛をテープで隠されて人相悪し。

<%= image "image_052" %>
<%= image "image_055" %>
