---
title: 海老名運動公園
---
相模線デビュー。
蓮くん、はじめて手動で電車のドアを開ける。

<%= image "dsc09709" %>

<pre class="address">
<a href="http://ebispo.jp/">海老名運動公園</a>
〒243-0424
海老名市社家4032番地の1
046-235-7204 (総合体育館)
</pre>

<%= image "dsc09713" %>
<%= image "dsc09716" %>
<%= image "dsc09717" %>
<%= image "dsc09720" %>
<%= image "dsc09722" %>
<%= image "dsc09723" %>
