---
title: ズーラシア
---
ズーラシア行ってみた。

<pre class="address">
<a href="http://www.zoorasia.org/">横浜市立よこはま動物園</a>
横浜市旭区上白根町1175-1
</pre>

<%= image "dsc09743" %>
<%= image "dsc09748" %>
<%= image "dsc09750" %>
<%= image "dsc09758" %>
<%= image "dsc09763" %>
<%= image "dsc09765" %>
<%= image "dsc09774" %>
<%= image "dsc09775" %>
<%= image "dsc09780" %>

よく見ると動物のほとんど写真ねえなあ。
