---
title: ぼうさいの丘公園
tags: kanagawa, park, travel, water
---
レンタカー借りて厚木方面へお出かけ。
すんごい田舎だわ。とても神奈川とは思えん。

<pre class="address">
<a href="http://www2.city.atsugi.kanagawa.jp/shisetsu/shi/sports2/page_2427.html">ぼうさいの丘公園</a>
厚木市温水783番地1
046−270−1035
</pre>

<%= image "dsc09824" %>
<%= image "dsc09826" %>

今年初めての水遊び解禁。息子さん大興奮。

<%= image "dsc09835" %>
<%= image "dsc09839" %>
<%= image "dsc09842" %>
<%= image "dsc09844" %>
<%= image "dsc09845" %>
<%= image "dsc09848" %>
<%= image "dsc09852" %>
<%= movie "mov09830" %>

<%= image "dsc09857" %>
<%= image "dsc09859" %>
<%= image "dsc09862" %>
