---
title: 愛川旅行二日目
tags: aikawa, bbq, travel
---
旅行と書いてますが、神奈川県から出てません。
でも旅行気分満載。
さて、朝食。写真見ると優雅だけど、そうでもない。

<%= image "dsc09887" %>
<%= image "dsc09898" %>

タンポポの綿毛を飛ばす。

<%= movie "mov09899" %>

付近を観光。

<pre class="address">
<a href="http://www.miyagase.or.jp/aikawa/">県立あいかわ公園パークセンター</a>
〒243-0307 愛甲郡愛川町半原5423
046-281-3646
</pre>

<%= image "dsc09904" %>

愛ちゃん号にのって宮ヶ瀬ダムへ。

<%= image "dsc09907" %>
<%= image "dsc09911" %>
<%= movie "mov09909" %>

<pre class="address">
<a href="http://www.ktr.mlit.go.jp/sagami/">宮ヶ瀬ダム</a>
〒220-0206 神奈川県相模原市津久井町青山字南山2145-50
046-281-6911
</pre>

ダムに到着。息子曰く「おみずさん」。さすがに、「さん」付けいらんと思います。
単位もようわからんし。

<%= image "dsc09915" %>
<%= image "dsc09917" %>
<%= image "dsc09920" %>
<%= movie "mov09918" %>

展望台。

<%= image "dsc09924" %>
<%= image "dsc09926" %>
<%= image "dsc09927" %>

冒険の広場へ。人が多すぎたのであまり楽しめず。

<%= image "dsc09938" %>
<%= movie "mov09940" %>
<%= movie "mov09941" %>

BBQ場へ。場所が遠いんで荷物運ぶのに古い鉄製のリアカーをママが見つけて来た。
ドナドナ歌いながら移動。

<%= image "dsc09942" %>
<%= image "dsc09946" %>
<%= image "dsc09948" %>
<%= image "dsc09960" %>
<%= image "dsc09961" %>
<%= image "dsc09965" %>
<%= image "dsc09968" %>
<%= image "dsc09970" %>
<%= image "dsc09974" %>
