---
title: 海老名運動公園
tags: park, ebina, ball
---
レンタカーで海老名運動公園へ。

<pre class="address">
<a href="http://ebispo.jp/">海老名運動公園</a>
〒243-0424
海老名市社家4032番地の1
046-235-7204
</pre>

<%= image "dsc00009" %>
<%= image "dsc00003" %>
<%= image "dsc00006" %>
<%= image "dsc00016" %>
<%= image "dsc00018" %>
<%= movie "mov00011" %>

ボール遊び。マトモに遊べるようになってきました。

<%= image "dsc00023" %>
<%= image "dsc00024" %>
<%= image "dsc00035" %>
<%= movie "mov00038" %>
<%= movie "mov00039" %>
