---
title: 愛川旅行三日目
---
まずは朝飯。

<%= image "dsc09979" %>

宮ヶ瀬湖の公園へ。

<pre class="address">
<a href="http://odekake.info/kanagawa/51_park/miyagase/miyagase.html">宮ヶ瀬湖畔園地</a>
愛甲郡清川村宮ヶ瀬940-4
046-288-3600
</pre>

<%= image "dsc09981" %>
<%= image "dsc09990" %>
<%= image "dsc09994" %>

グラススライダーに挑戦。
対象年齢4才以上なんですが、昨日3才になったばかりの息子さんはなぜか「5さい」と言い張るので不審に思われながら年齢チェックを通過。こんな5才おるかい。

一人で滑ってすっかりビビったので、一回て退散しました。写真撮れなかったけどすんごいスピードでした。

<%= image "dsc09983" %>
<%= image "dsc09986" %>
<%= image "dsc09988" %>

遊覧船に乗る。

<%= image "dsc09995" %>
<%= image "dsc09997" %>

どうでもいいけどこのデジカメに変えてから記念すべき一万枚目。ファイル名の通し番号が一周した。

<%= image "dsc00001" %>
