---
title: 小田原
tags: family, park, water
---
<pre class="address">
<a href="http://www.city.odawara.kanagawa.jp/public-i/park/k-fucyu-p.html">上府中公園</a>
小田原市東大友113番地
0465-42-5511
</pre>

<%= image "dsc_0001" %>
<%= image "dsc_0005" %>
<%= image "dsc_0010" %>
<%= image "dsc_0012" %>
<%= image "dsc_0018" %>
<%= image "dsc_0022" %>
<%= image "dsc_0027" %>
<%= image "dsc_0033" %>
<%= image "dsc_0036" %>

続いて水遊び。

<%= image "dsc_0046" %>
<%= image "dsc_0052" %>
<%= image "dsc_0065" %>
<%= image "dsc_0090" %>
<%= image "dsc_0103" %>

じーちゃんばーちゃん家で水まき。庭びしょびしょ。

<%= image "dsc_0121" %>
<%= image "dsc_0133" %>
<%= image "dsc_0136" %>
