---
title: WIDE飲み
---
WIDE研究会のあと、近所の中華料理屋で飲み。全品辛くて満足です。
値段も安い。

<pre class="address">
<a href="http://shokujin.hp.infoseek.co.jp/">食神 餃子王</a>
調布市小島町1-5-1
0424-87-8872
</pre>

<%= image "image_066" %>
<%= image "image_067" %>
<%= image "image_068" %>
<%= image "image_070" %>
<%= image "image_072" %>
<%= image "image_073" %>
<%= image "image_074" %>
<%= image "image_075" %>
<%= image "image_076" %>
<%= image "image_077" %>
<%= image "image_078" %>
<%= image "image_079" %>
