---
title: 火鍋
---
鈴木君が珍しく暇そうにしてたので、身柄を確保して関内へ。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1401/A140104/14005003/">華隆餐館</a>
045-261-6079
神奈川県横浜市中区長者町5-71-1 エスポワール伊勢佐木長者町 1F
</pre>

<%= image "image_083" %>
<%= image "image_084" %>
<%= image "image_086" %>
<%= image "image_087" %>
<%= image "image_088" %>
<%= image "image_089" %>
<%= image "image_090" %>
<%= image "image_091" %>
<%= image "image_092" %>
<%= image "image_093" %>

今日は辛い物が得意なメンバーを社内から集めましたので、泣き言ゼロでした。

<%= image "image_085" %>
