---
title: おもちゃ王国
tags: indoor, plarail, playground, son, toy
---
<pre class="address">
<a href="http://www.tokyo-dome.co.jp/omocha/">東京ドームシティ おもちゃ王国</a>
〒112-8575 文京区後楽1-3-61
03-3817-6112
</pre>

<%= image "dsc00264" %>
<%= image "dsc00265" %>
<%= image "dsc00266" %>
<%= image "dsc00267" %>
<%= image "dsc00269" %>
<%= image "dsc00270" %>
<%= image "dsc00277" %>

プラレール。橋脚がたくさんあったので、お父さんも本気出す。

<%= image "dsc00288" %>
<%= image "dsc00292" %>
<%= movie "mov00286" %>
<%= movie "mov00290" %>
<%= movie "mov00294" %>

親子でバラバラで遊んでるだけですな。
