---
title: 同期BBQ
tags: bbq, kids, outdoor
---
同期で青空BBQ。参加メンバーのドタキャン多し。

<pre class="address">
<a href="http://ebispo.jp/">海老名運動公園</a>
〒243-0424
海老名市社家4032番地の1
046-235-7204
</pre>

<%= image "dsc00450" %>
<%= image "dsc00453" %>
<%= image "dsc00459" %>

炎天下で暑かった。開けたビールが片っ端から熱湯になる。

<%= image "dsc00457" %>
<%= image "dsc00463" %>

虫採り部隊。

<%= image "dsc00470" %>
<%= image "dsc00472" %>
<%= image "dsc00478" %>
<%= image "dsc00480" %>
<%= image "dsc00483" %>
<%= image "dsc00489" %>
<%= image "dsc00491" %>
<%= image "dsc00497" %>
<%= image "dsc00500" %>
<%= image "dsc00505" %>
