---
title: おやじダイニング
---
ちょっと寄り道。

<%= image "dsc00612" %>
<%= image "dsc00618" %>

晩ご飯。個室なんで少々騒いでも平気。

<pre class="address">
<a href="http://www.oyaji.biz/">おやじダイニング</a>
〒904-2165 沖縄県沖縄市宮里485-1 當銘開発1F
</pre>

<%= image "dsc00627" %>
<%= image "dsc00628" %>
<%= image "dsc00626" %>
<%= image "dsc00631" %>
<%= image "dsc00636" %>
<%= image "dsc00641" %>
<%= image "dsc00642" %>
<%= image "dsc00646" %>
<%= image "dsc00647" %>
<%= image "dsc00649" %>
<%= image "dsc00651" %>
<%= image "dsc00656" %>
<%= image "dsc00665" %>
<%= image "dsc00677" %>
<%= image "dsc00678" %>
<%= image "dsc00683" %>
<%= image "dsc00685" %>
<%= image "dsc00690" %>
<%= movie "mov00666" %>
