---
title: jiji CAFE
tags: lunch, cafe, okinawa
---
お昼ご飯。

<pre class="address">
<a href="http://jijicafe.com/">jiji CAFE</a>
〒901-2301 沖縄県中頭郡北中城村島袋1422-3
</pre>

<%= image "dsc00695" %>
<%= image "dsc00697" %>
<%= image "dsc00698" %>
<%= image "dsc00701" %>
<%= image "dsc00705" %>
<%= image "dsc00708" %>
<%= image "dsc00710" %>
<%= image "dsc00714" %>
<%= image "dsc00717" %>
