---
title: 治外法権リゾート
tags: bbq, military-base, okinawa, resort
---
今年も来ました米軍の保養所。

<pre class="address">
<a href="http://kadenaservices.com/okuma/">Okuma Recration Facility</a>
沖縄県国頭郡国頭村桃原
</pre>

料理人のジョーが今年も参加したので、やたら豪華なBBQ。というか食いきれない。

<%= image "dsc00722" %>
<%= image "dsc00725" %>
<%= image "dsc00726" %>

ヴェジ餃子。つなぎが肉の代わりに卵。

<%= image "dsc00730" %>

沖縄の川エビだそうで。ミソがうまい。

<%= image "dsc00733" %>
<%= image "dsc00734" %>
<%= image "dsc00741" %>

基地内で買ったTop sirloinとPrime Rib。うまかった。

<%= image "dsc00736" %>
<%= image "dsc00737" %>

<%= image "dsc00746" %>
<%= image "dsc00749" %>
<%= image "dsc00752" %>
<%= movie "mov00757" %>
<%= movie "mov00758" %>
