---
title: こどもの城
tags: kids, indoor, tokyo
---
<pre class="address">
<a href="http://www.kodomono-shiro.jp/">こどもの城</a>
〒150-0001 東京都渋谷区神宮前5-53-1
03-3797-5666
</pre>

<%= image "dsc00924" %>
<%= image "dsc00925" %>
<%= image "dsc00928" %>
<%= image "dsc00930" %>
<%= image "dsc00934" %>
<%= image "dsc00938" %>
<%= image "dsc00943" %>
<%= image "dsc00944" %>
<%= image "dsc00948" %>
<%= image "dsc00953" %>
<%= image "dsc00954" %>
<%= image "dsc00956" %>
<%= image "dsc00957" %>
<%= image "dsc00959" %>
<%= movie "mov00940" %>
<%= movie "mov00961" %>
