---
title: キス釣り
tags: cooking, fishing
---
ようやくAlaxala Fishing Club結成。AFC第一回大会を実施。
池田さん、樋口さん、中島さんと三浦に魚釣りへ。

<pre class="address">
<a href="http://www.hamaura.jp/">釣りの浜浦</a>
046-888-0597
</pre>

<%= image "dsc00973" %>
<%= image "dsc00974" %>
<%= image "dsc00975" %>
<%= image "dsc00976" %>
<%= movie "mov00977" %>

僕一人でメゴチ2匹、キス20匹ぐらい釣れました。フグも4匹釣れたけどこれはリリース。

<%= image "dsc00982" %>

ママが手伝ってくれないので、一人で捌いて天ぷら作る。疲れた……。

<%= image "dsc00985" %>

台所に椅子を置いて、揚げたてを食う。うまい。
