---
title: くりはま花の国
---
レンタカーで三浦におでかけ。

<pre class="address">
<a href="http://www.kanagawaparks.com/yokosuka/kurihama/index.html">横須賀くりはま花の国</a>
〒239-0832神奈川県横須賀市神明町1
TEL 046-833-8282
</pre>

園内は広いし、息子さんすでに寝不足でグズグズなのでトレインバスで移動。

<%= image "dsc00988" %>
<%= image "dsc00987" %>

ゴジラ滑り台。

<%= image "dsc00992" %>
<%= image "dsc00994" %>
<%= image "dsc00998" %>

長い網を自分で渡れた。

<%= image "dsc01000" %>
<%= image "dsc01001" %>
<%= image "dsc01003" %>
<%= image "dsc01015" %>
<%= image "dsc01018" %>
<%= image "dsc01022" %>

イモリ(?)発見。

<%= image "dsc01025" %>
