---
title: 三浦ふれあいの村
tags: bbq, beach, camp, miura, son
---
本日の目的地。三浦ふれあいの村。ふれあいハンターのママがまたまた見つけて来ました。
素泊まりだと一人300円です(シーツ代別)。

<%= image "dsc01031" %>
<%= image "dsc01034" %>

<pre class="address">
<a href="http://www.yokohamaymca.org/fureai/index.html">三浦ふれあいの村</a>
〒238-0114 神奈川県三浦市初声町和田3136
046-888-2100
</pre>

目の前が海水浴場です。風が強くて肌寒かったので波打ち際でちょっと遊ぶ。

<%= image "dsc01038" %>
<%= image "dsc01047" %>
<%= image "dsc01049" %>
<%= image "dsc01052" %>
<%= movie "mov01051" %>

で、夜はBBQ。

<%= image "dsc01055" %>
<%= image "dsc01056" %>

と、思いきや、炭はなくて薪しかもらえんかった。
しかもカラカッラに乾いた木材。
火の調整もできないし、これで網焼きしたら、真っ黒焦げ間違いなしなので、鉄板焼きに変更。

<%= image "dsc01059" %>
<%= image "dsc01062" %>
<%= image "dsc01064" %>
<%= image "dsc01066" %>
<%= movie "mov01058" %>

鉄板は全体がゆがんでいて、四隅のうち二隅に角度がついてそこに油がたまります。
隅は天ぷら状態。熱いのなんのって。

<%= image "dsc01068" %>
<%= image "dsc01069" %>
<%= image "dsc01071" %>
<%= image "dsc01080" %>

焼きそば。

<%= image "dsc01086" %>
<%= image "dsc01097" %>
<%= image "dsc01099" %>
<%= movie "mov01084" %>

近くの山道。トトロっぽいね。

<%= image "dsc01074" %>
<%= image "dsc01076" %>

風呂は例によって合宿状態が予想されるので、近くのソレイユの丘に露天風呂があるのでそちらに行く。

BBQセットと明日の朝食、昼食それぞれ三人分で、合計1万円いかないぐらいでした。安い。
炭さえどうにかしてくれたらほぼ完璧。
