---
title: ソレイユの丘 その1
tags: animal, kids, park
---
ここ遊びポイント多いです。
神奈川県からなら片道一時間で行けると思うので、日帰りでもお勧め。

<pre class="address">
<a href="http://www.yokosuka-soleil.jp/">長井海の手公園 ソレイユの丘</a>
神奈川県横須賀市長井4丁目
046-857-2500
</pre>

<%= image "dsc01102" %>
<%= image "dsc01109" %>
<%= image "dsc01110" %>
<%= image "dsc01112" %>
<%= image "dsc01113" %>
<%= image "dsc01119" %>
<%= image "dsc01121" %>
<%= image "dsc01123" %>

入場料は無料ですが、中でちょいちょい金とられる。ゴーカートは600円。

<%= image "dsc01126" %>
<%= movie "mov01127" %>
<%= movie "mov01128" %>

カントリーフェスティバルやってた。
関東中のカウボーイハット軍団が集まる。
ここはテキサスか。
息子さんが妙に気に入り、前の方に座ろうと言い出す。

<%= image "dsc01137" %>
<%= image "dsc01139" %>
<%= image "dsc01140" %>
<%= movie "mov01136" %>

チューチュートレインで園内一周。300円。

<%= image "dsc01185" %>
<%= image "dsc01145" %>
<%= image "dsc01151" %>
<%= movie "mov01141" %>

動物に餌やり。100円。

<%= image "dsc01152" %>
<%= image "dsc01156" %>
<%= image "dsc01159" %>
<%= image "dsc01169" %>
<%= image "dsc01172" %>
<%= image "dsc01176" %>
<%= movie "mov01157" %>

蒸気ミニSL(1周)300円。

<%= image "dsc01161" %>
<%= movie "mov01162" %>
<%= movie "mov01164" %>

<%= image "dsc01182" %>
<%= image "dsc01187" %>
