---
title: 井の頭自然文化園
tags: zoo, animal, family
---
須藤家に行く前に、少しでも息子を弱らせようと公園へ。

<pre class="address">
<a href="http://www.tokyo-zoo.net/zoo/ino/index.html">井の頭自然文化園</a>
〒180-0005 武蔵野市御殿山1-17-6
TEL: 0422-46-1100
</pre>

<%= image "dsc01405" %>
<%= image "dsc01373" %>
<%= image "dsc01379" %>

ゾウさん。62歳だって。

<%= image "dsc01381" %>
<%= movie "mov01374" %>

<%= image "dsc01383" %>
<%= image "dsc01387" %>
<%= image "dsc01393" %>
<%= image "dsc01394" %>

しんかんせん。

<%= image "dsc01414" %>
<%= image "dsc01416" %>
<%= movie "mov01417" %>

<%= image "dsc01413" %>
<%= image "dsc01428" %>
<%= movie "mov01418" %>

リス。
眺めてたら、後ろからやってきたリスがいきなり目の前のクイの上に飛び乗ったんで、蓮がびっくりする。
その後、お父さんの肩に乗られた。

<%= image "dsc01421" %>
<%= image "dsc01423" %>
<%= image "dsc01424" %>
<%= image "dsc01427" %>

<%= image "dsc01431" %>
<%= movie "mov01430" %>

<%= image "dsc01435" %>
<%= image "dsc01436" %>
<%= image "dsc01439" %>

遊具で遊ぶ。

<%= image "dsc01442" %>
<%= image "dsc01446" %>
<%= movie "mov01447" %>
<%= image "dsc01449" %>
<%= image "dsc01453" %>

足漕ぎボートに乗る。

<%= image "dsc01455" %>
<%= image "dsc01457" %>
