---
title: 新江ノ島水族館
tags: aquarium, family, outing
---
ママと蓮が二人でおでかけ。

<pre class="address">
<a href="http://www.enosui.com/">新江ノ島水族館</a>
〒251-0035 神奈川県藤沢市片瀬海岸2-19-1
TEL：0466-29-9960
</pre>

<%= image "dsc01503" %>
<%= image "dsc01514" %>
<%= image "dsc01518" %>
<%= image "dsc01523" %>

ポニョのイベント中。

<%= image "dsc01494" %>
<%= movie "mov01529" %>

<%= image "dsc01531" %>
<%= image "dsc01535" %>
<%= image "dsc01540" %>
<%= movie "mov01539" %>
<%= movie "mov01542" %>

裏ページは<a href="ura/">こちら</a>(要パスワード)。
