---
title: 湘南台文化センター
tags: costume, museum, son
---
水族館の後は文化センターへ。

<pre class="address">
<a href="http://www.kodomokan.fujisawa.kanagawa.jp/">湘南台文化センター こども館</a>
神奈川県藤沢市湘南台1丁目8番地
0466-45-1500
</pre>

チマチョゴリコスプレ。なんで怒ってんだか。

<%= image "dsc01560" %>
<%= image "dsc01562" %>
<%= image "dsc01575" %>
<%= image "dsc01576" %>

色んなものに乗っかる。

<%= image "dsc01590" %>
<%= image "dsc01594" %>
<%= image "dsc01597" %>
<%= image "dsc01608" %>
<%= image "dsc01620" %>
<%= image "dsc01623" %>
<%= image "dsc01625" %>
<%= image "dsc01628" %>
<%= image "dsc01629" %>
<%= movie "mov01591" %>
