---
title: 伊豆旅行
tags: beach, onsen, travel
---
伊豆に夏休み旅行。目的はこれ。スーパービュー踊り子に乗ること。

<%= image "dsc01746" %>

グリーン車のラウンジで記念撮影。

<%= image "dsc01748" %>
<%= image "dsc01752" %>

踊り子の窓から海を見る。例によって荒れ模様。

<%= image "dsc01760" %>

今回のお宿。「ばいこう」

<pre class="address">
<a href="http://travel.rakuten.co.jp/HOTEL/40941/40941.html">温泉民宿ばいこう</a>
〒415-0014 静岡県下田市須崎1272-5
TEL: 0558-27-3331
伊豆急行線 下田駅より伊豆下田バス爪木崎行きで約18分、観光農園前下車
</pre>

<%= image "dsc01789" %>

着いてさっそく海へ。内海だったんで、波は比較的マシ。でも、水が冷たい。

<%= image "dsc01763" %>
<%= image "dsc01765" %>
<%= image "dsc01770" %>
<%= image "dsc01774" %>
<%= movie "mov01769" %>
<%= movie "mov01778" %>

磯でカニと貝発見。

<%= image "dsc01780" %>
<%= image "dsc01783" %>
<%= movie "mov01779" %>

部屋の裏は山。貸し切り露天風呂あり。

<%= image "dsc01798" %>
<%= image "dsc01802" %>
<%= image "dsc01792" %>
<%= image "dsc01793" %>
<%= movie "mov01804" %>

晩ごはん。

<%= image "dsc01805" %>
<%= image "dsc01806" %>
<%= image "dsc01808" %>
<%= image "dsc01809" %>
<%= image "dsc01810" %>
<%= image "dsc01811" %>
<%= image "dsc01814" %>
<%= image "dsc01819" %>
