---
title: 下田海中水族館
tags: aquarium, dolphin, family
---
海に行きたかったけど、台風が来てるんで下田駅前の水族館へ。

<pre class="address">
<a href="http://www.shimoda-aquarium.com/">下田海中水族館</a>
静岡県下田市3-22-31
0558-22-3567
</pre>

下田はそもそも雨の日に子連れで楽しめる観光ポイントが限られてるので、
水族館が大混雑。
レンタカー借りるのも検討してたけど、タクシー移動で正解。

入り口のカメ。

<%= image "dsc01821" %>
<%= image "dsc01822" %>

ペンギン。

<%= image "dsc01825" %>
<%= image "dsc01827" %>
<%= image "dsc01834" %>
<%= image "dsc01836" %>
<%= image "dsc01839" %>
<%= movie "mov01835" %>

アシカショーとイルカショー。客満杯。しかもショーが始まった瞬間に雨が降り出した。

<%= image "dsc01841" %>
<%= image "dsc01842" %>
<%= image "dsc01846" %>
<%= image "dsc01850" %>
<%= image "dsc01852" %>
<%= image "dsc01853" %>
<%= image "dsc01863" %>
<%= movie "mov01845" %>
<%= movie "mov01849" %>
<%= movie "mov01861" %>
<%= movie "mov01864" %>
<%= movie "mov01865" %>

<%= image "dsc01870" %>

ペンギンと記念撮影できるみたい。長蛇の列なので諦める。

<%= image "dsc01871" %>
