---
title: 熱川バナナワニ園
tags: family, izu, zoo
---
下田周辺で雨で遊べるスポットがなかったので、熱川へ移動。

<%= image "dsc01893" %>
<%= image "dsc01897" %>
<%= image "dsc01898" %>

荒れ荒れ。

<%= image "dsc01902" %>
<%= movie "mov02013" %>

<pre class="address">
<a href="http://www4.i-younet.ne.jp/~wanien/">熱川バナナワニ園</a>
〒413-0302 静岡県賀茂郡東伊豆町奈良本1253-10
TEL 0557-23-1105
</pre>

<%= image "dsc01918" %>

マナティ。

<%= image "dsc01904" %>
<%= movie "mov01917" %>

食虫植物。ウツボカズラ山盛り。ええ趣味してはる。

<%= image "dsc01908" %>
<%= image "dsc01916" %>
<%= image "dsc01923" %>

色んな蓮がある。「蓮くんの花だよ。」と説明すると息子さん大喜び。

<%= image "dsc01924" %>
<%= image "dsc01925" %>
<%= image "dsc01928" %>
<%= image "dsc01931" %>
<%= image "dsc01934" %>
<%= image "dsc01938" %>
<%= image "dsc01943" %>
<%= image "dsc01947" %>
<%= image "dsc01949" %>
<%= image "dsc01954" %>
<%= image "dsc01961" %>

ワニ。ワニ好きなので、これも息子さん大喜び。実は今回の旅で一番ウケたイベントかもしれない。

<%= image "dsc01906" %>
<%= image "dsc01963" %>
<%= image "dsc01966" %>
<%= image "dsc01968" %>
<%= image "dsc01974" %>
<%= image "dsc01975" %>
<%= image "dsc01981" %>
<%= image "dsc01984" %>
<%= image "dsc01986" %>
<%= image "dsc01988" %>
<%= image "dsc01996" %>
<%= image "dsc01997" %>
<%= movie "mov01992" %>

動かないワニだらけ中で唯一動いたワニ。どんくさいけど。

<%= movie "mov01991" %>

下田に戻りまーす。

<%= image "dsc02005" %>
