---
title: 九十浜
tags: beach, family
---
午前中は下田駅周辺で時間潰して、午後から<a href="http://www.alohakumax.com/izu/izu_kuju.htm">九十浜</a>へ向かう。

<%= image "dsc02065" %>

台風去った直後なので、波高し。
海に一瞬入ったけど、蓮がビビったので、後は波打ち際で遊ぶ。

<%= image "dsc02069" %>
<%= image "dsc02074" %>
<%= movie "mov02071" %>
<%= movie "mov02072" %>
