---
title: kazu邸訪問
tags: family, friend, visit
---
すどう君の日記は<a href="http://d.hatena.ne.jp/SUDO/20090822/p2">こちら</a>

kazuさんの新居を訪問。おしゃれマンションだ！

<%= image "dsc02168" %>
<%= image "dsc02169" %>
<%= image "dsc02171" %>
<%= image "dsc02181" %>

kazuジュニア。

<%= image "dsc02173" %>
<%= image "dsc02175" %>
<%= image "dsc02177" %>
<%= image "dsc02183" %>
<%= movie "mov02184" %>

最上階のラウンジ。

<%= image "dsc02191" %>
<%= image "dsc02192" %>
<%= image "dsc02193" %>
<%= image "dsc02198" %>
<%= movie "mov02200" %>
