---
title: 小田原
tags: park, insects, grandparents
---
中井中央公園へ。

<pre class="address">
<a href="http://www.town.nakai.kanagawa.jp/forms/info/info.aspx?info_id=4494">中井中央公園</a>
〒259-0153
神奈川県足柄上郡中井町比奈窪580番地
</pre>

<%= image "dsc_0009" %>
<%= image "dsc_0002" %>
<%= image "dsc02472" %>

直売店やってた。

<%= image "dsc02452" %>

<%= image "dsc_0007" %>
<%= image "dsc02469" %>
<%= image "dsc_0016" %>
<%= image "dsc_0023" %>
<%= image "dsc_0028" %>
<%= image "dsc_0035" %>
<%= image "dsc_0071" %>
<%= image "dsc_0073" %>

カエルと蛾とセミを発見。

<%= image "dsc02455" %>
<%= image "dsc02463" %>
<%= image "dsc_0013" %>
<%= image "dsc02467" %>
<%= image "dsc_0065" %>

サッカーで遊ぶ。

<%= image "dsc02475" %>
<%= image "dsc_0041" %>
<%= image "dsc_0050" %>
<%= image "dsc_0059" %>
<%= movie "mov02473" %>

水遊び。

<%= image "dsc02478" %>
<%= image "dsc_0084" %>
<%= image "dsc_0089" %>
<%= image "dsc_0097" %>

じーちゃん、ばーちゃんの家へ移動。例によって水まき。

<%= image "dsc02495" %>
<%= image "dsc02498" %>
<%= image "dsc02500" %>
<%= image "dsc02507" %>
<%= image "dsc02511" %>
<%= image "dsc02515" %>

イモ虫と鈴虫。

<%= image "dsc02525" %>
<%= movie "mov02524" %>
