---
title: 焼肉とかぎ氷
tags: family, food, osaka
---
シルバーウィークを利用して大阪へ。焼肉屋へ移動。

<%= image "dsc02568" %>
<%= image "dsc02569" %>

<pre class="address">
<a href="http://r.tabelog.com/osaka/A2703/A270305/27012723/">薩摩の久保</a>
大阪府大阪市都島区都島本通5丁目10-16 
06-6927-4111
</pre>

<%= image "dsc02575" %>
<%= image "dsc02577" %>

食後は角屋でかき氷。

<%= image "dsc02581" %>
<%= image "dsc02595" %>
<%= image "dsc02604" %>
<%= image "dsc02599" %>
<%= image "dsc02590" %>
<%= image "dsc02592" %>
