---
title: おねえパーティー
---
のざわちゃんとあさみちゃんが遊びに来る。時折り「のざわ」と呼び捨てにする息子さん。

<%= image "dsc02952" %>
<%= image "dsc02956" %>
<%= image "dsc02959" %>
<%= image "dsc02961" %>
<%= image "dsc02966" %>
<%= image "dsc02972" %>
<%= image "dsc02973" %>
<%= image "dsc02974" %>

おみやげの<a href="http://www.710379.com/shopping/form.htm">納豆スナック</a>。

<%= image "dsc02987" %>

のざわちゃんが蓮のおもちゃにハマる。

<%= image "dsc02988" %>
<%= movie "mov02990" %>

ウンチをしにトイレに言った息子さんがトイレから大声で叫ぶ。「のざわちゃーん、おしりふいてー。」
