---
title: 辻堂海浜公園
tags: bike, outdoor, park
---
三輪車がどうにも上手にこげないので、練習しに来ました。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/tujidou/">辻堂海浜公園</a>
神奈川県藤沢市辻堂西海岸3-2
TEL 0466-34-0011
</pre>

とりあえず砂場で遊んだり、スカイサイクルに乗ったり。

<%= image "dsc03004" %>
<%= image "dsc03006" %>
<%= image "dsc03007" %>
<%= image "dsc03009" %>
<%= movie "mov03017" %>

最初は車の乗り物。

<%= image "dsc03013" %>
<%= image "dsc03014" %>
<%= image "dsc03019" %>
<%= image "dsc03025" %>
<%= image "dsc03027" %>
<%= image "dsc03028" %>
<%= movie "mov03021" %>

いよいよ三輪車に挑戦。
左右のペダルに力を入れるタイミングが分からないみたいで、前方向にペダルを回し続けることができずに、ときおり逆方向に回してしまいます。
なので、ペダルを回転させる感覚が分かるまで、しばらく棒で押し続けてみることにする。
30分ぐらいで感覚をつかんだみたいで、自分でこげるようになりました。

<%= image "dsc03030" %>
<%= image "dsc03034" %>
<%= image "dsc03037" %>
<%= image "dsc03039" %>
<%= image "dsc03046" %>
<%= movie "mov03040" %>
<%= movie "mov03041" %>

勢いで自転車にも挑戦。なんとかこげるけど、足がギリギリ届かない。

<%= image "dsc03048" %>
<%= image "dsc03050" %>
<%= image "dsc03138" %>
<%= movie "mov03052" %>
<%= movie "mov03135" %>

色々と遊ぶ。

<%= image "dsc03059" %>
<%= image "dsc03062" %>
<%= image "dsc03065" %>
<%= image "dsc03067" %>
<%= movie "mov03139" %>
<%= image "dsc03133" %>

「れんくん、これ天才(上手にのれることをさす)」と言って飛び乗ってました。しょぼい天才。

<%= image "dsc03066" %>

交通展示館へ移動。列車持ち込みで、プラレールで遊べます。

<%= image "dsc03069" %>
<%= image "dsc03073" %>
<%= image "dsc03074" %>
<%= image "dsc03079" %>
<%= image "dsc03082" %>
<%= image "dsc03089" %>
<%= movie "mov03080" %>

カヌー体験会やってたので、参加。

<%= image "dsc03094" %>
<%= image "dsc03098" %>
<%= image "dsc03103" %>
<%= image "dsc03107" %>
<%= image "dsc03115" %>
<%= movie "mov03100" %>
