---
title: ろみ来たる
---
イギリス時代からの嫁の友人のろみが遊びに来る。ゆめちゃん大きくなったねえ。

<%= image "dsc03154" %>
<%= image "dsc03155" %>
<%= image "dsc03157" %>
<%= image "dsc03161" %>
<%= movie "mov03176" %>

絵本を読むがどんどん先に進ませられる。

<%= image "dsc03170" %>
<%= image "dsc03173" %>

旦那が長期出張中でいないので、みんなで焼き肉食べに行きました。
味もいいし、個室が使えるので家族連れでもOK。

<pre class="address">
<a href="http://r.gnavi.co.jp/e631101/">焼肉どうらく 横浜西口店</a>
〒220-0005 神奈川県横浜市西区南幸2-6-2 ルミノスビル3F
Tel: 045-311-2983
</pre>

<%= image "dsc03179" %>
<%= image "dsc03181" %>
<%= image "dsc03184" %>
<%= image "dsc03187" %>
<%= image "dsc03189" %>
