---
title: 魚ひろ
tags: dinner, seafood
---
うどんメンバーで二代目魚ひろへ。なんか珍しく和やかな飲み会でした。お食事会みたいだった。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

<%= image "dsc03196" %>
<%= image "dsc03192" %>
<%= image "dsc03199" %>
<%= image "dsc03201" %>
<%= image "dsc03208" %>
<%= image "dsc03210" %>
<%= image "dsc03212" %>
<%= image "dsc03214" %>
<%= image "dsc03216" %>
<%= image "dsc03218" %>

suzは例によってドタキャン。きー。
