---
title: 今日のお宿
---
今日のお宿。

<pre class="address">
<a href="http://www.jalan.net/uw/uwp3000/uww3001.do?yadNo=358408">こだわりの蕎麦の宿 朋賛</a>
山梨県南都留郡山中湖村平野506
</pre>

部屋がやたら広いです。100平米だそうで。こんな家住みたい。

<%= image "dsc_0179" %>
<%= image "dsc_0180" %>
<%= image "dsc_0181" %>
<%= image "dsc_0182" %>
<%= image "dsc_0183" %>
<%= image "dsc_0185" %>
<%= image "dsc_0186" %>
<%= image "dsc_0187" %>
<%= image "dsc03387" %>

晩ご飯。これがまた山盛り。そばが二回出てきます。

<%= image "dsc03388" %>
<%= image "dsc03389" %>
<%= image "dsc03390" %>
<%= image "dsc03391" %>
<%= image "dsc03393" %>
<%= image "dsc03402" %>
<%= image "dsc03407" %>
<%= image "dsc03410" %>
<%= image "dsc_0194" %>
<%= image "dsc_0198" %>
<%= image "dsc_0199" %>
<%= image "dsc_0202" %>
