---
title: 富士急ハイランド
tags: playground, thomas, travel
---
トップハムハット卿に会いに来た！

<%= image "dsc_0163" %>
<%= image "dsc_0166" %>

<pre class="address">
<a href="http://www.fujiq.jp/">富士急ハイランド</a>
山梨県富士吉田市新西原
TEL 0555-23-2111
</pre>

コスト削減の折、乗り物乗り放題券はキッズパスとシニアパスのみ購入。
なので、今日はじーちゃんが乗り物担当。

<%= image "dsc03270" %>

ゴーカート。

<%= image "dsc03273" %>
<%= image "dsc03281" %>
<%= movie "mov03278" %>

メリーゴーランド。

<%= image "dsc03283" %>
<%= image "dsc03288" %>
<%= image "dsc03294" %>
<%= movie "mov03289" %>

ジェットコースター鑑賞。ええ、見るだけ。

<%= image "dsc03296" %>
<%= image "dsc03301" %>
<%= image "dsc03302" %>

ようやく到着、トーマスランド。

<%= image "dsc03304" %>
<%= image "dsc03363" %>
<%= image "dsc03334" %>
<%= image "dsc03338" %>
<%= image "dsc03340" %>

トーマス。

<%= image "dsc03307" %>
<%= image "dsc_0135" %>
<%= image "dsc_0121" %>
<%= image "dsc_0122" %>
<%= movie "mov03311" %>
<%= movie "mov03312" %>

トーマス電車の出口がおみやげ売り場。いきなり足が止まる。

<%= image "dsc_0126" %>
<%= image "dsc_0127" %>

ハロルド。

<%= image "dsc03315" %>
<%= image "dsc03317" %>
<%= movie "mov03314" %>

ツイストトーマス。

<%= image "dsc03319" %>
<%= movie "mov03323" %>

ロックンロールダンカン。

<%= image "dsc03331" %>
<%= movie "mov03327" %>

<%= image "dsc_0140" %>
<%= image "dsc_0157" %>
<%= image "dsc03343" %>

猫発見。

<%= image "dsc03368" %>
<%= image "dsc03372" %>
<%= image "dsc03377" %>
<%= image "dsc_0136" %>
