---
title: 富士サファリパーク
tags: animal, safari, travel
---
<pre class="address">
<a href="http://www.fujisafari.co.jp/">富士サファリパーク</a>
〒410-1231 静岡県裾野市須山字藤原2255-27
055-998-1311
</pre>

息子さん腹ごしらえ。

<%= image "dsc_0219" %>
<%= image "dsc_0221" %>

まずは<a href="http://www.fujisafari.co.jp/map/cat.htm">ネコの館</a>。

<%= image "dsc03423" %>
<%= image "dsc03427" %>
<%= image "dsc_0223" %>
<%= image "dsc_0269" %>

予約すると個室で指名した猫と遊べます。ティアラちゃんをご指名。

<%= image "dsc03418" %>
<%= image "dsc_0247" %>
<%= image "dsc_0232" %>
<%= image "dsc_0233" %>
<%= image "dsc_0236" %>
<%= image "dsc_0239" %>
<%= image "dsc_0240" %>
<%= image "dsc_0248" %>
<%= image "dsc_0249" %>
<%= image "dsc_0258" %>
<%= movie "mov03416" %>
<%= movie "mov03419" %>

サイ型のサファリバスに乗って、いよいよサファリパーク内へ。

<%= image "dsc_0273" %>
<%= image "dsc_0359" %>
<%= image "dsc_0360" %>
<%= image "dsc_0276" %>

クマ。

<%= image "dsc03433" %>
<%= image "dsc_0278" %>
<%= movie "mov03430" %>

ライオン。

<%= image "dsc03437" %>
<%= image "dsc_0284" %>
<%= image "dsc_0291" %>
<%= movie "mov03434" %>
<%= movie "mov03435" %>

トラとヒョウ。

<%= image "dsc_0292" %>
<%= image "dsc_0297" %>
<%= image "dsc_0305" %>
<%= image "dsc_0309" %>

草食動物のエリアへ。

<%= movie "mov03441" %>
<%= image "dsc_0317" %>
<%= image "dsc_0322" %>
<%= image "dsc_0325" %>
<%= image "dsc_0326" %>
<%= image "dsc_0328" %>
<%= image "dsc_0329" %>
<%= image "dsc_0330" %>
<%= image "dsc_0336" %>
<%= image "dsc_0338" %>
<%= image "dsc_0341" %>
<%= image "dsc_0342" %>
<%= image "dsc_0346" %>
<%= image "dsc_0347" %>
<%= image "dsc_0348" %>
<%= image "dsc_0349" %>
<%= image "dsc_0352" %>
<%= image "dsc_0354" %>
