---
title: 足柄ふれあいの村
tags: bike, camp, grandpa
---
恒例のふれあいハンター。県内のふれあい施設は三つしかないので、一巡してしまいました。
ということで、二巡目。

<pre class="address">
<a href="http://www.hureai.or.jp/ashigara/">足柄ふれあいの村</a>
〒250-0121 神奈川県南足柄市広町1507
0465-72-2010
</pre>

<%= image "dsc03501" %>
<%= image "dsc03505" %>
<%= image "dsc03507" %>

みかん狩りに小田原のじーちゃんが合流。

<%= image "dsc_0004" %>
<%= image "dsc_0006" %>
<%= image "dsc_0008" %>
<%= image "dsc_0012" %>
<%= image "dsc_0015" %>
<%= image "dsc_0018" %>
<%= image "dsc_0025" %>
<%= image "dsc_0027" %>

芋掘り。

<%= image "dsc_0040" %>
<%= image "dsc_0043" %>
<%= image "dsc_0050" %>
<%= image "dsc_0053" %>
<%= image "dsc03521" %>
<%= image "dsc_0055" %>
<%= image "dsc_0057" %>
<%= image "dsc_0060" %>
<%= image "dsc_0063" %>
<%= image "dsc_0084" %>
<%= image "dsc_0085" %>
<%= movie "mov03513" %>
<%= movie "mov03524" %>

じーちゃんが自転車を買って、持ってきてくれたので、練習。

<%= image "dsc_0100" %>
<%= image "dsc_0113" %>
<%= movie "mov03528" %>

芋を焼く。

<%= image "dsc_0115" %>
<%= image "dsc_0118" %>
<%= image "dsc_0120" %>
<%= image "dsc_0124" %>
<%= image "dsc03540" %>
<%= image "dsc03542" %>
<%= image "dsc_0126" %>
<%= image "dsc_0127" %>
<%= image "dsc03544" %>
<%= movie "mov03548" %>

今回、天体望遠鏡に初挑戦。月を見る。あと、木星もみれた。衛星が4つ見れた。

<%= image "dsc03552" %>
<%= image "dsc03554" %>
<%= image "dsc03558" %>

夜は近くの<a href="http://www.ashigara-only-you.com/">おんり〜湯〜</a>へ。
土曜の夜なのにガラガラでした。お湯もいいし、現在神奈川最強の温泉だと思う。

<%= image "dsc03562" %>
