---
title: 冒険の森
---
今日は足柄旅行。足柄に行くにはちょっと時間が早いので大和に行ってみる。

<%= image "dsc03490" %>

<pre class="address">
<a href="http://odekake.info/kanagawa/35_amuse/yamato_athletic/yamato_athletic.html">大和冒険の森フィールドアスレチック</a>
大和市草柳3-19-14
046-263-9221
</pre>

<%= image "dsc03443" %>
<%= image "dsc03446" %>
<%= image "dsc03449" %>
<%= image "dsc03458" %>
<%= image "dsc03462" %>
<%= image "dsc03469" %>
<%= movie "mov03470" %>
<%= image "dsc03472" %>
<%= image "dsc03476" %>
<%= image "dsc03477" %>
<%= movie "mov03481" %>
<%= image "dsc03483" %>
<%= movie "mov03484" %>
<%= image "dsc03487" %>
