---
title: 謎のインド料理屋
tags: curry, restaurant
---
公園で自転車の特訓。と思いきや応用的な遊びをはじめる息子さん。基礎をちゃんとやってください!

<%= movie "img_0004" %>

別の公園でどんぐり拾ってたら横のグラウンドでインド人がクリケットやってた。

<%= image "img_0005" %>

インド人見てたら猛烈にカレーが食いたくなったので天王町駅前に移動。
カレー屋が新規にオープンしてた。謎の看板。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1403/A140301/14030503/">Yeti Dining (イエティ)</a>
045-341-2764
神奈川県横浜市保土ケ谷区天王町2-47-2 2F
</pre>

<%= image "img_0011" %>

店に入ると和食屋のカウンターの奥でインド人がカレー作ってた。
芋焼酎のボトルが並んでるし、なんだかなあ。
あと、壁にもつ鍋のメニュー貼ってた。まったく意味が分かりません!

<%= image "img_0010" %>

味は普通のカレー。息子さんがナンをモリモリ食う。

<%= image "img_0007" %>
<%= image "img_0008" %>
<%= image "img_0009" %>

食後、公園に戻る。
子連れで遊びに来てる水知らずのお母さんに話しかける息子さん。
「あのね、今日ね、おひるごはんにね、ナン屋さんいったの。」
「な、なん屋さん?」
お母さんの頭をクエスチョンマークが飛び交っていました。
