---
title: Haskell飲み会
tags: programming, party
---
「<a href="http://www.amazon.co.jp/exec/obidos/ASIN/4274067815/daydreaonthen-22">プログラミングHaskell</a>」</dt>の出版祝い飲み会。

<pre class="address">
<a href="http://dining.rakuten.co.jp/restaurant/?rid=2849">シャヒダワット</a>
101-0054 東京都千代田区神田錦町2-2-11田口ビル B1
03-3293-5897
</pre>

<%= image "img_0026" %>

<%= image "img_0024" %>
<%= image "img_0027" %>
<%= image "img_0028" %>
<%= image "img_0030" %>
<%= image "img_0031" %>
<%= image "img_0033" %>
<%= image "img_0034" %>
<%= image "img_0035" %>
<%= image "img_0036" %>
<%= image "img_0037" %>
<%= image "img_0038" %>

知らないキーワードが飛び交う飲み会って久しぶりだなあ。
