---
title: 須藤くん結婚式
tags: wedding, restaurant, friend
---
すなみの写真は<a href="http://picasaweb.google.co.jp/sunagoya/jDnMyJ?authkey=Gv1sRgCJSXzsWkg5XQCQ#">こちら</a> / 
きよしの写真は<a href="http://picasaweb.google.co.jp/packet128k/KBfpPG?authkey=Gv1sRgCMrdrOzx3cDgKA#">こちら</a> /
須藤くんの写真は<a href="http://picasaweb.google.co.jp/yosudo3/Udon?authkey=Gv1sRgCL6hpoX5n7j4Kw#">こちら</a>

<pre class="address">
<a href="http://www.aso-net.jp/">リストランテASO</a>
東京都渋谷区猿楽町29-3
03-3770-3690
</pre>

<%= image "dsc03710" %>
<%= image "dsc03711" %>
<%= image "dsc03715" %>
<%= image "dsc03718" %>
<%= image "dsc03720" %>
<%= image "dsc03724" %>
<%= image "dsc03728" %>
<%= image "dsc03730" %>
<%= image "dsc03732" %>
<%= image "dsc03742" %>
<%= image "dsc03744" %>
<%= image "dsc03745" %>
<%= image "dsc03747" %>
<%= image "dsc03748" %>
<%= image "dsc03749" %>
<%= image "dsc03750" %>
<%= image "dsc03751" %>
<%= image "dsc03755" %>
<%= image "dsc03757" %>
<%= image "dsc03759" %>
<%= image "dsc03760" %>
<%= image "dsc03763" %>
<%= image "dsc03765" %>
<%= image "dsc03766" %>
<%= image "dsc03768" %>
<%= image "dsc03769" %>
<%= image "dsc03770" %>
<%= image "dsc03773" %>
<%= image "dsc03776" %>
<%= image "dsc03777" %>
<%= image "dsc03779" %>
<%= image "dsc03785" %>
<%= image "dsc03789" %>
<%= image "dsc03796" %>
<%= image "dsc03798" %>
<%= image "dsc03800" %>
<%= image "dsc03802" %>
<%= image "dsc03809" %>
<%= image "dsc03813" %>

<%= image "015s_0032" %>
<%= image "017s_0037" %>
<%= image "025s_0048" %>
<%= image "032s_0058" %>
<%= image "162s_0400" %>
<%= image "175s_0429" %>
<%= image "282s_0680" %>
<%= image "316s_0764" %>
<%= image "317s_0766" %>
<%= image "390s_0926" %>
<%= image "429s_1010" %>

<%= movie "mov03726" %>
<%= movie "mov03729" %>
<%= movie "mov03737" %>
<%= movie "mov03738" %>
<%= movie "mov03739" %>
<%= movie "mov03740" %>
<%= movie "mov03741" %>
<%= movie "mov03753" %>
<%= movie "mov03781" %>
<%= movie "mov03782" %>
<%= movie "mov03790" %>
<%= movie "mov03791" %>
<%= movie "mov03792" %>
<%= movie "mov03811" %>
<%= movie "mov03815" %>
<%= movie "mov03816" %>
<%= movie "mov03817" %>
<%= movie "mov03818" %>
<%= movie "mov03819" %>
<%= movie "mov03820" %>
