---
title: 川崎
---
冬場になったので屋内遊びが増えました。今日も雨が降ってるので川崎へ。

<pre class="address">
<a href="http://www.bornelund.co.jp/shop/kanto.html#kanagawa">キドキド 川崎ルフロン店</a>
川崎市川崎区日進町1-11　川崎ルフロン9階
044-221-1560
</pre>

<%= image "img_0042" %>
<%= movie "img_0043" %>
<%= movie "img_0044" %>
<%= movie "img_0048" %>
<%= movie "img_0049" %>

夜は王将の餃子。

<%= image "img_0050" %>

ボーネルンドはスタッフが遊んでくれるんで、親は楽だわあ。
