---
title: みなとみらい
tags: minatomirai, playground, illumination
---
お楽しみ発表会のあと、みなとみらいへ。

<pre class="address">
<a href="http://www.bornelund.co.jp/shop/kanto.html#kanagawa">あそびのせかい 横浜みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-6-5　リーフみなとみらい3階
045-650-1231
</pre>

<%= image "dsc03835" %>
<%= image "dsc03836" %>
<%= image "dsc03837" %>
<%= image "dsc03838" %>
<%= image "dsc03840" %>
<%= image "dsc03843" %>

イルミネーション鑑賞。

<%= image "dsc03844" %>
<%= image "dsc03854" %>
<%= image "dsc03857" %>
<%= image "dsc03864" %>
<%= movie "mov03846" %>
