---
title: ソレイユの丘
tags: animal, playground
---
レンタカー借りて日帰りで三浦へ。

<%= image "dsc03874" %>
<%= image "dsc03876" %>
<%= image "dsc03877" %>

<pre class="address">
<a href="http://www.yokosuka-soleil.jp/">長井海の手公園 ソレイユの丘</a>
神奈川県横須賀市長井4丁目
046-857-2500
</pre>

トーマスに乗る。

<%= image "dsc03879" %>
<%= movie "mov03881" %>

スワンボート。

<%= image "dsc03890" %>
<%= image "dsc03888" %>
<%= image "dsc03884" %>
<%= movie "mov03889" %>

羊と馬にエサやり。

<%= image "dsc03892" %>
<%= image "dsc03895" %>
<%= movie "mov03894" %>
<%= image "dsc03927" %>
<%= image "dsc03929" %>
<%= image "dsc03932" %>

ミニSL。

<%= image "dsc03899" %>
<%= image "dsc03904" %>
<%= movie "mov03901" %>
<%= movie "mov03905" %>

<%= image "dsc03908" %>
<%= image "dsc03913" %>
<%= image "dsc03919" %>
<%= image "dsc03921" %>
<%= image "dsc03922" %>
<%= image "dsc03925" %>

おもしろ自転車。猛スピードで走りやがるので、追いかけるだけで死にそうです。

<%= image "dsc03937" %>
<%= image "dsc03941" %>
<%= image "dsc03948" %>
<%= image "dsc03954" %>
<%= image "dsc03959" %>
<%= movie "mov03940" %>
<%= movie "mov03946" %>

乳しぼり体験。どうやって牛乳ができるか理解していただく。

<%= image "dsc03960" %>
<%= image "dsc03967" %>
<%= image "dsc03970" %>
<%= movie "mov03968" %>

遊具。

<%= image "dsc03975" %>
<%= image "dsc03977" %>
<%= image "dsc03984" %>
<%= image "dsc03986" %>
<%= movie "mov03983" %>

自転車遊びその2。

<%= image "dsc03990" %>
<%= image "dsc03995" %>
<%= image "dsc04001" %>
<%= image "dsc04003" %>
<%= image "dsc04004" %>
<%= image "dsc04006" %>
<%= image "dsc04013" %>
<%= image "dsc04020" %>
<%= image "dsc04022" %>
<%= movie "mov04007" %>
<%= movie "mov04021" %>
<%= movie "mov04023" %>

ソフトクリーム食って風呂入って帰る。

<%= image "dsc04029" %>
