---
title: アラ
tags: fukuoka, dining, seafood
---
中西さんと田頭スーパースターと飲み。

<pre class="address">
<a href="http://www.hotpepper.jp/strJ000683982/map/">中洲鷹勝</a>
福岡県福岡市博多区上川端町11-8　川端中央ビル2F
092-283-7788　
</pre>

アラ(クエ)のコース。アラの刺身って初めて食べた。おいしかった。

<%= image "img_0088" %>
<%= image "img_0089" %>
<%= image "img_0091" %>
<%= image "img_0093" %>
<%= image "img_0095" %>
<%= image "img_0096" %>
<%= image "img_0099" %>
<%= image "img_0101" %>
<%= image "img_0103" %>
<%= image "img_0104" %>
