---
title: CKP忘年会
tags: fukuoka, party, ramen
---
CKP忘年会。

<pre class="address">
<a href="http://r.gnavi.co.jp/f090502/">博多料理 春駒</a>
〒810-0002 福岡県福岡市中央区西中洲1-3
092-734-3988
</pre>

<%= image "img_0109" %>
<%= image "img_0111" %>
<%= image "img_0112" %>
<%= image "img_0114" %>
<%= image "img_0117" %>
<%= image "img_0119" %>
<%= image "img_0122" %>
<%= image "img_0123" %>
<%= image "img_0124" %>
<%= image "img_0125" %>
<%= image "img_0127" %>

<a href="http://r.tabelog.com/fukuoka/A4001/A400102/40005206/dtlrvwlst/1035776/1743450/">バー</a>で飲んだあと、人生初の焼きラーメン。うんまい。</a>

<pre class="address">
<a href="http://www.haruyoshi.jp/banryu/138/138.html">博多大砲ラーメン</a>
福岡市中央区春吉3-21-28
092-734-3773
</pre>

<%= image "img_0128" %>
<%= image "img_0129" %>
<%= image "img_0130" %>
<%= image "img_0131" %>
