---
title: 職場忘年会
tags: bar, party, yokohama
---
職場の忘年会。

<pre class="address">
<a href="http://30min.jp/place/43196">八吉</a> 横浜店
045-290-6878
神奈川県横浜市西区南幸1-5-27 ヨドバシ相鉄駅前ビル3F
</pre>

<%= image "img_0133" %>
<%= image "img_0135" %>
<%= image "img_0136" %>
<%= image "img_0138" %>
<%= image "img_0142" %>
<%= image "img_0144" %>
<%= image "img_0145" %>

二次会はアイリッシュパブへ。

<pre class="address">
<a href="http://www.foodcom.jp/green-sheep/top.php">アイリッシュパブ グリーンシープ</a>
神奈川県横浜市西区南幸2-10-13ブリラール横浜1F
045-321-0950
</pre>

<%= image "img_0146" %>
<%= image "img_0147" %>
