---
title: 小田原
tags: odawara, unagi
---
母娘で実家へ。

<%= image "dsc_6736" %>
<%= image "dsc_6738" %>
<%= image "dsc_6740" %>

<%= image "img_0012" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0019" %>
<%= image "img_0022" %>

うなぎ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14002105/">うな和</a>
神奈川県小田原市国府津2-8-1
0465-47-2933
</pre>

<%= image "img_0004" %>
<%= image "dsc_6722" %>
<%= image "dsc_6729" %>
<%= image "img_0006" %>
<%= image "dsc_6723" %>
<%= image "img_9994" %>
