---
title: 能登 その4
tags: travel, food, outdoor
---
ホテルのツアーに参加してみたら私一人でした。
[永光寺](https://www.city.hakui.lg.jp/kankou/kankoushisetsu/3164.html)へ連れていってもらう。

<%= image "img_1979" %>
<%= image "img_1980" %>
<%= image "img_1981" %>

現地に着いたあとも寺ごと貸し切り状態。
勝手知ってるドライバーのおじさんがスタスタと寺に入って、電気ストーブつけたり照明つけたり。

帰りは道中に降ろしてもらって、昼飯は鍋焼きうどん。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1703/A170301/17003162/">あら鵜</a>
石川県羽咋市柳田町74-43-1
0767-22-3686
</pre>

<%= image "img_1984" %>
<%= image "img_1983" %>

夜ご飯。毎食メニューを変えてくれるけどそれでも飽きてきた。特に刺し身。

<%= image "img_1985" %>
<%= image "img_1986" %>
<%= image "img_1987" %>
<%= image "img_1988" %>
<%= image "img_1989" %>
<%= image "img_1990" %>
