---
title: やるき
tags: travel, city
---
前から行きたかったカレー居酒屋へ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1319/A131902/13149792/">やるき</a>
東京都中野区本町4-36-7 1Ｆ
03-6304-8373
</pre>

<%= image "img_2070" %>
<%= image "img_2073" %>
<%= image "img_2074" %>
<%= image "img_2075" %>
<%= image "img_2079" %>
<%= image "img_2081" %>
<%= image "img_2082" %>
<%= image "img_2083" %>
