---
title: いちご狩り
---
今年も来ましたいちご狩り。

<%= image "dsc_6926" %>

<pre class="address">
<a href="http://agriways.com/">アグリウェイズ</a>
神奈川県小田原市上曽我2624
</pre>

<%= image "img_0390" %>
<%= image "img_0411" %>

<%= image "img_0422" %>
<%= image "img_0426" %>
<%= image "img_0439" %>
<%= image "img_0448" %>
<%= image "dsc_6911" %>
