---
title: 草津旅行 その1
tags: family, food, travel
---
週末を使って草津旅行。まずは湯の花畑。

<%= image "img_0741" %>
<%= image "img_0745" %>
<%= image "img_0751" %>
<%= image "img_0753" %>
<%= image "img_0759" %>
<%= image "img_0762" %>
<%= image "img_0766" %>
<%= image "img_0767" %>
<%= image "img_0768" %>
<%= image "img_0776" %>
<%= image "img_0791" %>
<%= image "img_0832" %>
<%= image "img_0833" %>
<%= image "img_0836" %>

ゆるキャラ発見。

<%= image "img_0796" %>
<%= image "img_0798" %>
<%= image "img_0805" %>
<%= image "img_0812" %>
<%= image "img_0815" %>
<%= image "img_0818" %>
<%= image "img_0823" %>
<%= image "img_0827" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10009725/">みやたや</a>
群馬県吾妻郡草津町草津283-1
0279-88-2241
</pre>

<%= image "img_0843" %>
<%= image "img_0838" %>
<%= image "img_0839" %>

[奈良屋](https://www.kusatsu-naraya.co.jp/)で温泉に入る。

<%= image "img_0845" %>
<%= image "img_0848" %>

射的。

<%= image "img_2354" %>
<%= image "img_0854" %>
<%= image "img_0858" %>
<%= image "img_0862" %>

おやつ。

<%= image "img_0866" %>
<%= image "img_0867" %>

今日のお宿は[ペンションほしかわ](http://www.hoshikawa.co/)

<%= image "img_0873" %>
<%= image "img_0881" %>

晩ごはんは焼肉。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10015110/">馬力屋</a>
群馬県吾妻郡草津町草津640-101
0279-88-8929
</pre>

<%= image "img_2360" %>
<%= image "img_2362" %>
<%= image "img_0883" %>
<%= image "img_0885" %>
<%= image "img_0886" %>
<%= image "img_0888" %>
<%= image "img_0890" %>
<%= image "img_0891" %>
<%= image "img_0894" %>
<%= image "img_0895" %>
<%= image "img_0897" %>

宿の温泉はビリビリ系なので、娘は痛がってあまり楽しめず。
