---
title: 草津旅行 その2
tags: travel, food, onsen
---
軽井沢に移動。

<%= image "img_0899" %>
<%= image "img_0900" %>
<%= image "img_0901" %>
<%= image "img_0908" %>

白糸の滝。

<%= image "img_0919" %>
<%= image "img_0921" %>
<%= image "img_0925" %>
<%= image "img_0931" %>
<%= image "img_0933" %>
<%= image "img_0938" %>
<%= image "img_0940" %>
<%= image "img_0942" %>
<%= image "img_0948" %>
<%= image "img_0949" %>
<%= image "img_0951" %>

[軽井沢野鳥の森](https://picchio.co.jp/facility/wildforest/)。

<%= image "img_0953" %>
<%= image "img_0957" %>
<%= image "img_0963" %>
<%= image "img_2364" %>
<%= image "img_0966" %>
<%= image "img_0970" %>
<%= image "img_0988" %>
<%= image "img_0992" %>
<%= image "img_0995" %>
<%= movie "hdimg_0998" %>
<%= image "img_1006" %>
<%= movie "hdimg_2367" %>
<%= image "img_1012" %>
<%= image "img_1013" %>

ニューアートミュージアム内のカフェでおしゃれランチ。

<pre class="address">
<a href="https://tabelog.com/nagano/A2003/A200301/20015828/">ピエトリ－ノ</a>
長野県北佐久郡軽井沢町軽井沢1151-5 軽井沢ニューアートミュージアム 1F
050-5597-1801
</pre>

<%= image "img_1015" %>
<%= image "img_1037" %>
<%= image "img_1042" %>

<%= image "img_1025" %>
<%= image "img_1027" %>
<%= image "img_1028" %>
<%= image "img_1029" %>
<%= image "img_1032" %>
<%= image "img_1034" %>

帰りますよー。

<%= image "img_1047" %>
<%= image "img_1049" %>
