---
title: 江ノ島デート
tags: family, food
---
娘と江ノ島デート。

<%= image "img_2396" %>

着いて早速昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140403/14059430/">アロハテーブル 湘南</a>
神奈川県藤沢市片瀬海岸2-17-17
050-5589-2431
</pre>

<%= image "img_2398" %>
<%= image "img_2399" %>
<%= image "img_2401" %>
<%= image "img_2404" %>

<%= image "img_2410" %>
<%= image "img_2412" %>

べんてん丸で岩屋へ移動。

<%= image "img_2415" %>
<%= movie "hdimg_2417" %>
<%= image "img_2418" %>
<%= image "img_2419" %>
<%= image "img_2422" %>

なぜか磯遊びが始まる。

<%= movie "hdimg_2423" %>
<%= movie "hdimg_2424" %>

アメフラシ発見。

<%= image "img_2430" %>
<%= movie "hdimg_2431" %>

トコブシっぽいんだけど、さすがに試さなかった。

<%= image "img_2432" %>

お茶屋で休憩、娘が野良猫他を撮影。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140403/14000198/">島の茶屋 あぶらや</a>
神奈川県藤沢市江の島2-5-8
0466-50-6180
</pre>

<%= image "img_2434" %>
<%= image "img_2435" %>
<%= image "img_2438" %>
<%= image "img_2439" %>
<%= image "img_2443" %>
<%= image "img_2449" %>
<%= image "img_2458" %>
<%= image "img_2459" %>
<%= image "img_2460" %>
<%= image "img_2461" %>
<%= image "img_2466" %>
<%= image "img_2467" %>

龍恋の鐘。

<%= image "img_2480" %>
