---
title: ラフティング
---
奥多摩へラフティングに来ました。

まずは昼飯。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1330/A133003/13081413/">奥多摩釜めし</a>
東京都青梅市二俣尾1-52
0428-78-9393
</pre>

<%= image "img_2049" %>
<%= image "img_2057" %>
<%= image "img_2058" %>
<%= image "img_2062" %>
<%= image "img_2064" %>
<%= image "img_2075" %>

[Forest & Water](http://www.fw-raft.com/okutama/)到着。

<%= image "dscf4017" %>
<%= image "dscf4021" %>
<%= image "dscf4028" %>
<%= image "dscf4029" %>
<%= image "dscf4030" %>
<%= image "dscf4032" %>
<%= image "dscf2963" %>
<%= image "dscf2965" %>
<%= image "dscf2966" %>
<%= image "dscf2967" %>
<%= image "dscf2969" %>
<%= image "dscf2971" %>
<%= image "dscf2972" %>
<%= image "dscf2973" %>
<%= image "dscf2974" %>
<%= image "dscf2975" %>
<%= movie "hddscf2976" %>
<%= image "dscf2977" %>
<%= image "dscf2978" %>

私だけ落水しました。

<%= image "dscf2980" %>
<%= image "dscf2983" %>
<%= image "dscf2989" %>
<%= image "dscf2991" %>
<%= image "dscf2993" %>
<%= image "dscf2994" %>
<%= image "dscf2995" %>
<%= image "dscf2997" %>
<%= image "dscf2998" %>
<%= image "dscf2999" %>
<%= image "dscf3940" %>
<%= image "dscf3941" %>
<%= image "dscf3946" %>
<%= image "dscf3947" %>
