---
title: ワン ドロップ カフェ
tags: outdoor
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140601/14063493/">ワン ドロップ カフェ</a>
神奈川県横須賀市本町3-11 U's Build.
046-845-6126
</pre>

<%= image "img_2084" %>
<%= image "img_2087" %>
<%= image "img_2089" %>
<%= image "img_2090" %>

<%= image "img_2094" %>
<%= image "img_2100" %>
