---
title: 鎌倉ハイキング
tags: family, kamakura, trail
---
葛原岡・大仏ハイキングコースをゆく。
台風の影響で一部難所あり。

<%= image "img_2260" %>
<%= image "img_2228" %>
<%= image "img_2232" %>
<%= image "img_2233" %>
<%= image "img_2237" %>
<%= image "img_2242" %>
<%= image "img_2244" %>
<%= image "img_2248" %>
<%= image "img_2252" %>
<%= image "img_2257" %>
<%= image "img_2259" %>

大仏。

<%= image "img_2261" %>
<%= image "img_2263" %>
<%= image "img_2265" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14058323/">ルーフトップス</a>
神奈川県鎌倉市小町1-6-17 鎌倉マークビル 6F
0467-84-9546
</pre>

<%= image "img_2268" %>
<%= image "img_2273" %>
<%= image "img_2274" %>
<%= image "img_2276" %>
<%= image "img_2277" %>
<%= image "img_3034" %>
