---
title: ふれあい動物園
tags: outdoor, museum, city
---
小田原のじーちゃんと。

<%= image "img_2524" %>
<%= image "img_2529" %>
<%= image "img_2531" %>
<%= image "img_2536" %>
<%= image "img_2545" %>
<%= image "img_2548" %>
<%= image "img_2562" %>
<%= image "img_2573" %>
<%= image "img_2596" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140407/14026021/">川万</a>
神奈川県平塚市明石町9-1
0463-21-0633
</pre>

<%= image "img_2600" %>
<%= image "img_2602" %>
<%= image "img_2603" %>
