---
title: US出張 その2
tags: food, travel, us
---
早朝に起きてホテル内のレストランでくっそ高くてまずいパンケーキを食う。
初日からアメ食に飽きている自分気づく。

チェックイン時に何も説明してくれないし、部屋をさんざん探したけどDirectoryもなく、チェックアウト時間がわからない(結局、ググった)。
部屋のポットで紅茶飲もうかと思ったが、黒いゴミが出てくる。2回繰り返したけど状況変わらないので諦める。ヒルトン許すまじ。

[Logan Express](http://www.massport.com/logan-airport/to-from-logan/transportation-options/logan-express/back-bay/)で市内に移動。
市内行きは無料、空港行きは有料というバス。

<%= image "img_3197" %>

今回メインのホテルに到着。時間早いけど部屋が空いてたのでアーリーチェックインに成功。
カウンターの対応もいいし、部屋のデスクも広い。ロビーには無料コーヒーもあるし、とてもいいホテルです。ヒルトンとの落差が大きい。

<pre class="address">
<a href="https://www.loewshotels.com/boston-hotel">Loews Boston Hotel</a>
154 Berkeley Street, Boston, MA, 02116
617-266-7200
</pre>

<%= image "img_3198" %>
<%= image "img_3199" %>

集合時間まで少し時間があるので、ホテルの周りを散策してたら、Lobster roll屋を発見。迷わず飛び込む。

<pre class="address">
<a href="https://www.lukeslobster.com/location/lukes-lobster-back-bay/">Luke's Lobster</a>
75 Exeter Street, Boston, MA 02116
857.350.4626
</pre>

The Luke's Trioを注文。ロブスターとカニとエビのセット。
ロブスターうまかった。アメ食飽きたって言ってすみません。

<%= image "img_3200" %>
<%= image "img_3201" %>

Concention Centerに移動。プロジェクターとグッズ持っていかないといけないので、今回初めてLyft使った。今更ですがめっちゃ便利。

<%= image "img_3202" %>
<%= image "img_3203" %>

仕事を終わらせて、戻ったホテルで翌日以降の進め方についてさんざん議論した後、ホテル向かいのレストランで晩飯。

<pre class="address">
<a href="https://grill23.com/">Grill 23 & Bar</a>
161 Berkeley Street, Boston, Massachusetts 02116
617.542.2255
</pre>

100 Day Aged Prime Ribeye。これも美味かった。ヒルトンへの恨みがふつふつとこみ上げる。ヒルトン許すまじ。

<%= image "img_3204" %>
