---
title: US出張 その5
---
最終日。
待望のフレンチトーストにありつく。これはめっちゃ美味かった。ヒルトン許すまじ。

<%= image "img_3218" %>
<%= image "20191103074705692" %>

ちなみに隣は外務省。

<%= image "img_3219" %>
<%= image "img_3221" %>

上から見たところ。青は企業ブースで、白はインタビューブース。

<%= image "img_3222" %>
<%= image "img_3223" %>

いい結果が出たので、夜は打ち上げでロブスター。記録によると最後にロブスター食ったのは1998年なので21年ぶり。

<pre class="address">
<a href="https://www.theoceanaire.com/location/boston-ma/">The Oceanaire</a>
40 Court Street, Boston, MA 02108 Opens in New Window
617-742-2277
</pre>

<%= image "img_3227" %>
<%= image "img_0134" %>
<%= image "img_3228" %>
<%= image "img_3231" %>
<%= image "img_3232" %>
<%= image "img_20191103_202134" %>
<%= movie "hdimg_3235" %>
<%= image "img_0135" %>
<%= image "20191103203048180" %>
<%= image "d82b22cd-bdc8" %>
<%= image "img_3239" %>

大変おいしゅうございました。ヒルトン、君を許すよ。
