---
title: 網代 その1
tags: ajiro, family, travel
---
網代へ向かう。

<%= image "img_2688" %>
<%= image "img_2689" %>
<%= image "img_2692" %>
<%= image "img_2695" %>
<%= image "img_2702" %>

熱海で妹一家と合流。

<%= image "img_2705" %>
<%= image "img_2706" %>
<%= image "img_2710" %>
<%= image "img_2717" %>
<%= image "img_2719" %>
<%= image "img_2724" %>
<%= image "img_2726" %>

<pre class="address">
<a href="https://hiraturu.com/">湯の宿 平鶴</a>
静岡県熱海市下多賀493番地
0557-67-2221
</pre>

<%= image "img_2727" %>
<%= image "img_2734" %>
<%= image "img_3253" %>
<%= image "img_3254" %>
<%= image "img_2736" %>
<%= image "img_2739" %>
<%= image "img_2743" %>
<%= image "img_2746" %>
<%= image "img_2748" %>
<%= movie "hdimg_2749" %>

<%= image "img_2750" %>
<%= image "img_3255" %>
<%= image "img_3256" %>
<%= image "img_3257" %>
<%= image "img_3258" %>
<%= image "img_3259" %>
<%= image "img_3260" %>
<%= image "img_2751" %>
<%= image "img_2752" %>
<%= movie "hdimg_3262" %>
<%= image "img_2754" %>
<%= image "img_2755" %>
<%= image "img_2756" %>
<%= image "img_3264" %>
<%= image "img_2760" %>
<%= image "img_2761" %>
<%= image "img_2764" %>
<%= image "img_2766" %>
<%= image "img_2769" %>
<%= image "img_2772" %>
<%= image "img_2775" %>
