---
title: 大山登山
tags: travel, family, outdoor
---
蓮抜きで登山。

<%= image "img_2932" %>
<%= image "img_2937" %>
<%= image "img_2947" %>
<%= image "img_2961" %>
<%= image "img_2963" %>
<%= image "img_2975" %>
<%= image "img_2979" %>
<%= image "img_2982" %>
<%= image "img_2984" %>
<%= image "img_2987" %>
<%= image "img_2988" %>
<%= image "img_2994" %>
<%= image "img_2997" %>
<%= image "img_2999" %>
<%= image "img_3002" %>
<%= image "img_3004" %>
<%= image "img_3006" %>
<%= image "img_3013" %>
<%= image "img_3016" %>
<%= image "img_3021" %>
<%= image "img_3025" %>
<%= image "img_3033" %>
<%= image "img_3034" %>
<%= image "img_3039" %>
<%= image "img_3040" %>
<%= image "img_3043" %>
<%= image "img_3048" %>
<%= image "img_3052" %>
<%= image "img_3056" %>
<%= image "img_3065" %>
<%= image "img_3066" %>
<%= image "img_3069" %>
<%= image "img_3075" %>
<%= image "img_3080" %>
<%= image "img_3081" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1408/A140803/14048389/">山の宿ねぎし</a>
神奈川県伊勢原市大山640
0463-95-2254
</pre>

<%= image "img_3083" %>
<%= image "img_3087" %>
<%= image "img_3088" %>
<%= image "img_3090" %>
