---
title: 台湾出張 その1
tags: travel, outdoor
---
今日から一週間の台湾出張。遠くへの空港の移動が無駄なので、羽田-松山にしました。

<pre class="flight">
12/1 (Sun) BR189 10:39 HND - TSA 13:30
12/8 (Sun) BR192  7:30 TSA - HND 11:15
</pre>

松山空港で最低限必要なSIMと台湾ドルとEasyCardをゲット。

<%= image "img_3298" %>
<%= image "img_3299" %>
<%= image "img_3300" %>

腹減ったのでとりあえず西門駅へ。
2016年に来たときに美味かった麺線へ。行列がすごい。

<%= image "img_3309" %>

<pre class="address">
<a href="http://www.taipeinavi.com/food/743/">阿宗麺線</a>
台北市峨嵋街8号之1
</pre>

<%= image "img_3310" %>
<%= image "img_3312" %>

さらに魯肉飯。

<pre class="address">
<a href="http://tabelog.com/taiwan/A5403/A540305/54000232/">天天利美食坊</a>
台湾台北市萬華區漢中街32巷1號
</pre>

<%= image "img_e3313" %>
<%= image "img_3314" %>
<%= image "img_3315" %>

流行ってるようでクレーンゲーム屋さんがめっちゃ増えてる。

<%= image "img_3316" %>

今回のホテル。

<pre class="address">
<a href="http://www.tango-hotels.com/">Tango Xinyi</a>
297, ZhongXiao East Road, Section 5
Taipei, 110 Taiwan
</pre>

<%= image "img_3301" %>
<%= image "img_3302" %>
<%= image "img_3303" %>
<%= image "img_3304" %>

オフィスへ歩いて行けるので大変便利なんですが、今回は想像の斜め上が多すぎる

- ルームライトに連動して電源の切れるQi
- 外に一切面してない部屋、つまり窓がない。代わりに謎のミニ庭園風空間がある
- クローゼットに引き出しが一つしかなく、代わりに配電盤がある。しかも鍵が空いているw
- デスクライトのスイッチがどこにも見つからない、寝るときに消せない
- ジャグジーがあるが(なんで?)、スイッチが足元にあり、かつ噴出口が高いところにあるので、オフにするために体を起こすと水深が浅くなってお湯が浴室中に飛び散る。体を支えるところがないので、ついでに腹筋がつる
- デスクの電源が非常に奥まったところにあって見つけられない
- とにかく部屋全体が薄暗いので、色んなものをが見つけ出せない。今、ベッドでこの投稿を書いているが、ここだけやけに明るいw
- 歯ブラシが洗面台の下にあって気づかない。コンビニで買って帰ってきてから気づいた。
- エアコンのスイッチをいじっても部屋が暖かくならないなあと思ったら、二つ目のスイッチが見つかった。でも、どっちをいじっても効果ない。外より寒い
- デスクに利用用途不明のリモコン。ここにもFANと書いてある
