---
title: 台湾出張 その4
tags: travel
---
昼は普通に日本のおいしいカレーライス。

<%= image "img_e3342" %>

夜は餃子。ここも私以外の客は誰もビール飲んでない。

<pre class="address">
<a href="http://4travel.jp/overseas/area/asia/taiwan/taipei/restaurant/10501699/map/#contents_inner">小楽天餃子館</a>
台湾台北市信義区忠孝東路五段151号
</pre>

<%= image "img_3345" %>
<%= image "img_3346" %>

着る服がなくなったので、自助洗衣坊。洗剤の違いが全く分からない。
二倍のやつが凄そうなので、それにした。

<%= image "img_e3351" %>
<%= image "img_3350" %>
<%= image "img_3349" %>
<%= image "img_3347" %>
<%= image "img_3352" %>

