---
title: 台湾出張 その5
tags: businesstrip, taiwan
---
昼は元弟子に誘われて、カラフル小籠包を食べにいく。

<pre class="address">
<a href="https://www.taipeinavi.com/food/1242/">楽天皇朝</a>
台北市忠孝東路五段68号(微風信義) 4F
(02)2722-6545
</pre>

<%= image "img_3363" %>
<%= image "img_3365" %>
<%= image "img_e3353" %>
<%= image "img_3354" %>
<%= image "img_3355" %>
<%= image "img_3356" %>
<%= image "img_e3357" %>
<%= image "img_e3359" %>
<%= image "img_3361" %>
<%= image "img_3362" %>

夜は雨降ってるし、オフィス出る時間遅くなっちゃったし、軟弱にも近くの鼎泰豊。ラストオーダーのちょっと前に来たので空いてた。

<pre class="address">
<a href="https://tabelog.com/taiwan/A5403/A540316/54000005/">鼎泰豊 101店</a>
台湾台北市市府路45號 B1(台北101購物中心)
(+886) 0281017799
</pre>

<%= image "img_3369" %>
<%= image "img_e3370" %>
<%= image "img_3371" %>

ホテルのジム。筋トレマシンがダンベルしかない上に10kgが最大。使えない。

<%= image "img_3308" %>
<%= image "img_3372" %>
<%= image "img_3373" %>

消せないデスクライトを寝る前に浴室に隠そうとした瞬間にデスクライトが消える。
おおお？と思い5日目にして、スイッチを発見。支柱の上がスイッチでした。気づくかこんなん。

<%= image "img_3374" %>
