---
title: 台湾出張 その6
tags: businesstrip, taiwan
---
お昼は鍋。

<%= image "img_3380" %>
<%= image "img_3378" %>
<%= image "img_3379" %>

コーヒーではなくお茶のテイクアウト。琥珀紅烏龍。煎れるのに10分ぐらい待つ。

<%= image "img_3381" %>
<%= image "img_3382" %>

<%= image "img_3377" %>

夜は帰り道でうまそうだった店に入る。

<pre class="address">
<a href="https://www.yipinprawn.com.tw/%e6%9c%80%e6%96%b0%e6%b6%88%e6%81%af%e2%94%80%e5%b8%82%e5%ba%9c%e5%ba%97/">一品活蝦 市府店</a>
台北市松山區忠孝東路五段195號
(02)2756-0028
</pre>

前菜は一人で食べ切れないシジミの醤油漬け。野毛と同じ味。

<%= image "img_3384" %>
<%= image "img_3388" %>

一見小洒落てるけど、ビールは自分で冷蔵庫から取ってくるスタイルだった。テーブルに栓抜きあり。
流石に周りのみんなも酒飲んでる。

<%= image "img_3396" %>

<a href="https://www.yipinprawn.com.tw/portfolio-item/%e8%92%9c%e8%93%89%e8%92%b8%e6%b4%bb%e9%ae%91/">蒜蓉蒸活鮑</a>。
一人で5つ食ってしまった。タレを吸った春雨が美味い。

<%= image "img_3385" %>
<%= image "img_3389" %>
<%= image "img_3395" %>

蟹にしようかと思ったがエビが看板メニューのようなので<a href="https://www.yipinprawn.com.tw/portfolio-item/%e8%83%a1%e6%a4%92%e8%9d%a6/">胡椒蝦</a>。
鉄のカメにいれて、蒸し焼きにするみたい。

<%= image "img_3398" %>
<%= image "img_3400" %>
<%= image "img_3391" %>
<%= image "img_3393" %>
<%= image "img_3394" %>

朝3時までやってた！ もっと前から来れば良かった。
