---
title: 台湾出張 その7
---
土曜日はおまけの日。台北がずっと天気悪いので観光どうしようかと思っていたら、南下すれば天気いいよと言われた。
台南はさすがに遠すぎるので、台中に行くことにする。

新幹線の自由席で台中へ移動。座席のトレイがデジャブー感が半端ない。
台中のこと何も調べてなかったので、行きの列車で調べまくるが、すぐ着いちゃった。

<%= image "img_3404" %>
<%= image "img_3402" %>

HSR台中駅(新烏日駅)、新横浜とか新大阪と同じ扱いで、本当の台中駅にはさらに電車で移動しないといけない。

<%= image "img_3405" %>
<%= image "img_3406" %>
<%= image "img_3407" %>

駅に止まるたびに車掌さんが出てきて、ドアの開閉をする。

<%= image "img_3408" %>

台中駅周辺をブラつく。電子街発見。

<%= image "img_3409" %>
<%= image "img_3415" %>
<%= image "img_3432" %>
<%= image "img_3410" %>

<a href="https://www.taipeinavi.com/shop/616/">宮原眼科</a>。

<%= image "img_3413" %>
<%= image "img_3414" %>

豚肉と玉子のサンドイッチと、ミルクティー。

<%= image "img_3416" %>
<%= image "img_3417" %>

台中は地下鉄がないので、メインの移動手段はバス。
バス会社がやたら多くて難しいけど、見知らぬ街でもバスが使えるGoogle mapは便利だねえ。
あと台北のEasyCardはここでも使えるのでキャッシュレス。

<%= image "img_3420" %>

台中孔子廟。コスプレーヤーが撮影してた。

<%= image "img_3423" %>
<%= image "img_3424" %>

宝覚寺。

<%= image "img_3426" %>
<%= image "img_3428" %>
<%= image "img_3429" %>

通りがかりの店で麺線。

<pre class="address">
<a href="https://deli-6376.business.site/">大台中大腸麺線</a>
中區中山路166號
</pre>

<%= image "img_3430" %>

清水駅に移動して(想定外に遠かった)、そこから台湾の高美湿地へ移動。
なお、なぜか高美湿地バス停はバスが停まりません。隣の18号風車で降りる必要あり。
訳わからなくて一度梧棲観光漁港まで行って戻ってきた。

<%= image "img_3433" %>

着いたら、ちょうど夕暮れでした。景色はいいんですが、暴風雨レベルの風で、デジカメ飛ばされそうなぐらい。

<%= image "img_3436" %>
<%= image "img_3437" %>
<%= image "img_3443" %>
<%= image "img_3447" %>
<%= image "img_3450" %>
<%= image "img_3456" %>
<%= image "img_3463" %>
<%= image "img_3466" %>
<%= image "img_3468" %>
<%= image "img_3473" %>
<%= image "img_3480" %>
<%= image "img_3481" %>
<%= image "img_3487" %>
<%= image "img_3490" %>
<%= image "img_3493" %>
<%= image "img_3497" %>
<%= movie "hdimg_3470" %>

台中駅までバスで移動。バス停の時刻表に書いてあるバスが目の前で回送扱いで通り過ぎていって、なかなか乗れず。

屋台でネギ焼き的なものをつまんで、台北へ戻る。

<%= image "img_3499" %>
<%= image "img_3501" %>

その足で今回一度も行けてなかった臨江街夜市へ。

<%= image "img_3502" %>

小籠包というか湯包。この店めっちゃうまかった。

<%= image "img_3504" %>
<%= image "img_3503" %>

牡蠣オムレツ。テーブルと屋台の位置が全然違うので最初訳わからなかった。
隣の店のおばちゃんが注文受けて、教えに行ってくれた。申し訳ない。

<%= image "img_3505" %>
<%= image "img_3506" %>
<%= image "img_3507" %>

卵焼き的なものをつまんでホテルに戻る。

<%= image "img_3509" %>
<%= image "img_3508" %>

4時間ほど寝て、早朝便で羽田に戻る。
