---
title: こどもの城
tags: playground, shibuya, son
---
渋谷のこどもの城へ。

<pre class="address">
<a href="http://www.kodomono-shiro.jp/">こどもの城</a>
〒150-0001 東京都渋谷区神宮前5-53-1
03-3797-5666
</pre>

手でこぐ乗り物。
最初はできなかったけど、すぐ出来るようになった。

<%= movie "img_0191" %>
<%= movie "img_0194" %>

ストリートオルゴール。

<%= image "img_0197" %>
<%= image "img_0199" %>
<%= movie "img_0198" %>

虎コスプレ。

<%= image "img_0202" %>
<%= image "img_0205" %>
<%= image "img_0210" %>
<%= movie "img_0209" %>

家に帰って撮影。

<%= image "dsc04123" %>
<%= image "dsc04126" %>
