---
title: 地球市民かながわプラザ
tags: yokohama, playground, kids
---
うさん臭い名前の公共施設へ。

<pre class="address">
<a href="http://www.k-i-a.or.jp/plaza/index.html">県立地球市民かながわプラザ</a>
〒247-0007
横浜市栄区小菅ヶ谷1-2-1 神奈川県立地球市民かながわプラザ
TEL: 045-896-2121
</pre>

<%= image "dsc04145" %>
<%= image "dsc04153" %>

<%= image "dsc04229" %>
<%= image "dsc04234" %>
<%= image "dsc04235" %>
<%= image "dsc04156" %>
<%= image "dsc04157" %>
<%= image "dsc04161" %>
<%= image "dsc04175" %>
<%= image "dsc04195" %>

エスニックエリア。

<%= image "dsc04198" %>
<%= image "dsc04200" %>
<%= image "dsc04202" %>
<%= image "dsc04206" %>
<%= image "dsc04211" %>
<%= image "dsc04214" %>
<%= image "dsc04215" %>
<%= image "dsc04225" %>

音遊び。

<%= image "dsc04184" %>
<%= image "dsc04188" %>
<%= movie "mov04182" %>
<%= movie "mov04186" %>

トランポリン。

<%= image "dsc04240" %>
<%= movie "mov04241" %>
