---
title: 東京都児童会館
tags: shibuya, playground, train
---
<pre class="address">
<a href="http://www.fukushihoken.metro.tokyo.jp/jidou/">東京都児童会館</a>
03-3409-6361
〒150-0002 東京都渋谷区渋谷一丁目18番24号
</pre>

無料で色々遊べます。ここも冬の天気の悪い日に最適。

<%= image "dsc04243" %>
<%= image "dsc04246" %>
<%= image "dsc04247" %>

目当てはこの電車のおもちゃ。ひたすら遊んでます。

<%= image "dsc04248" %>
<%= image "dsc04250" %>
<%= image "dsc04251" %>

音楽を聴く。

<%= image "dsc04254" %>
<%= movie "mov04256" %>
<%= movie "mov04257" %>

乗れる車のおもちゃもあり。

<%= image "dsc04265" %>
