---
title: あじわい回転寿司 禅
---
twitterで教えてもらった変な寿司屋に来ました。

<pre class="address">
<a href="http://gourmet.walkerplus.com/110005492001/">あじわい回転寿司 禅(ZEN)</a>
神奈川県小田原市東町2-1-29
0465-32-7001
</pre>

<%= image "img_0226" %>

メニューこんなの。生ビールだけでもベルギービール含めて5種類ぐらいあります。

<%= image "dsc04536" %>
<%= image "dsc04546" %>
<%= image "dsc04519" %>
<%= image "dsc04531" %>
<%= image "dsc04543" %>

ハモンイベリコ頼むと切ってくれる。
本当に回転寿司屋です。手前にガリの箱あるでしょ。

<%= image "dsc04512" %>
<%= image "img_0229" %>
<%= movie "img_0227" %>
<%= image "dsc04516" %>

息子さんは正統派にイクラ。

<%= image "dsc04514" %>
<%= image "dsc04520" %>
<%= image "dsc04521" %>

レバーパテ。

<%= image "dsc04524" %>
<%= image "dsc04544" %>

中トロ刺身、白子のワインソース、温野菜、ラム。

<%= image "dsc04527" %>
<%= image "dsc04529" %>
<%= image "dsc04533" %>
<%= image "dsc04540" %>
<%= image "img_0231" %>

デザートとコーヒーも普通にうまい。

<%= image "dsc04547" %>
<%= image "dsc04548" %>
<%= image "dsc04545" %>

とにかくレベル高いです。近所にあったら通いまくってるな。
