---
title: キドキド＠川崎
tags: kawasaki, kids, playground
---
まずは近所の公園。ドングリを砕いて、ハトにやる。が、ハトびびらせてどうする。

<%= movie "img_0235" %>
<%= movie "img_0237" %>

川崎へ。

<pre class="address">
<a href="http://www.bornelund.co.jp/shop/kanto.html#kanagawa">キドキド 川崎ルフロン店</a>
川崎市川崎区日進町1-11　川崎ルフロン9階
044-221-1560
</pre>

もう息子さんめちゃくちゃですわ。

<%= image "img_0238" %>
<%= movie "img_0239" %>
<%= movie "img_0240" %>
