---
title: トーマスタウン
tags: thomas, train, playground
---
一家で生まれて初めてTXに乗る。
絵本で見てたTXに乗れて興奮する息子さんと、車内無線LANにつながって興奮するお父さん。

<pre class="address">
<a href="http://www.thomastown.jp/">トーマスタウン</a>
埼玉県三郷市新三郷ららシティ3丁目1番1号ららぽーと新三郷2階
048-954-6518
</pre>

<%= image "dsc04692" %>

トーマスの乗り物。楽しそうに見てるんだけど、薄暗いトンネルがあるので乗った瞬間大泣き。
トンネル入っちゃえばケロっとしてるんだけど。

ちょっとした遊技場。

<%= image "dsc04697" %>
<%= image "dsc04701" %>
<%= image "dsc04703" %>
<%= image "dsc04705" %>
<%= movie "mov04719" %>
<%= movie "mov04721" %>

<%= image "dsc04707" %>
<%= image "dsc04708" %>
<%= image "dsc04712" %>
<%= image "dsc04718" %>
<%= movie "mov04709" %>
<%= movie "mov04711" %>
<%= movie "mov04713" %>
<%= movie "mov04714" %>
<%= movie "mov04715" %>
<%= movie "mov04716" %>

コインが余ったので記念合成写真作ってもらう。俺でももっと上手に作るぞ。

<%= image "cci20100223_00000" %>

狭い上にボッタクリ感が強いのでお勧めしません。
