---
title: しんばし光寿
tags: food, drink, tokyo
---
<a href="http://tokyo6to4.net/">Tokyo6to4</a>の飲み会に参加。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1301/A130103/13015065/">酒仙 しんばし光寿</a>
東京都港区東新橋1-2-17 下島ビル B1F
03-3575-0939
</pre>

<%= image "img_0241" %>
<%= image "img_0242" %>
<%= image "img_0243" %>
<%= image "img_0246" %>
<%= image "img_0247" %>
<%= image "img_0249" %>
<%= image "img_0250" %>
<%= image "img_0253" %>
<%= image "img_0255" %>
<%= image "img_0257" %>
