---
title: 東京都児童会館
---
例にって渋谷。

<pre class="address">
<a href="http://www.fukushihoken.metro.tokyo.jp/jidou/">東京都児童会館</a>
03-3409-6361
〒150-0002 東京都渋谷区渋谷一丁目18番24号
</pre>

<%= image "img_0269" %>
<%= movie "img_0271" %>

セレブランチ。

<pre class="address">
<a href="http://www.chefsv.com/restaurant/?id=1205376407-567300">chef's V 渋谷店</a>
〒150-0002 東京都渋谷区渋谷1-23-16 cocoti 3F
03-3486-7280
</pre>

<%= image "dsc04747" %>
<%= image "dsc04748" %>
<%= image "dsc04750" %>
<%= image "dsc04752" %>
<%= image "dsc04753" %>
<%= image "img_0263" %>
<%= image "img_0264" %>
<%= image "img_0265" %>
<%= image "img_0266" %>
<%= image "img_0267" %>
