---
title: 大江戸温泉物語
---
ゆりかもめ。

<%= image "dsc04768" %>
<%= image "dsc04782" %>

<pre class="address">
<a href="http://www.ooedoonsen.jp/">大江戸温泉物語</a>
〒135-0064 東京都 江東区青海2-57
03-5500-1126
</pre>

温泉は塩素臭くて今イチですが、都内に来てる外人さんを連れてくにはお手軽でいいね。

<%= image "dsc04786" %>
<%= image "img_0277" %>

<%= image "img_0272" %>
<%= image "img_0274" %>
<%= image "img_0282" %>
<%= image "img_0283" %>
<%= image "img_0285" %>
<%= movie "img_0286" %>
