---
title: アメイジングワールド
tags: playground, son, tokyo
---
ろみとゆめちゃんと一緒に多摩境へ。

<pre class="address">
<a href="http://www.amazingworld.jp/">アメイジングワールド多摩境店</a>
〒194-0215 東京都町田市小山ヶ丘4丁目1-16
042-700-3371
</pre>

<%= image "dsc04830" %>
<%= image "dsc04834" %>
<%= image "dsc04843" %>
<%= image "dsc04847" %>
<%= image "dsc04854" %>
<%= image "dsc04855" %>
<%= image "dsc04860" %>
<%= image "dsc04864" %>
<%= image "dsc04873" %>
<%= image "dsc04879" %>
<%= image "dsc04888" %>
<%= image "dsc04891" %>
<%= image "dsc04895" %>
<%= image "dsc04908" %>
<%= image "dsc04914" %>
<%= image "img_0290" %>
<%= movie "img_0291" %>
<%= movie "mov04839" %>
<%= movie "mov04858" %>
<%= movie "mov04863" %>
