---
title: 新菜楼
---
久方ぶりに新菜楼へ。もうすぐ開店から12周年だそうで、おめでとうございます。

<pre class="address">
<a href="http://gourmet.yahoo.co.jp/0001500520/">新菜楼</a>
042-749-5350
神奈川県相模原市相模大野3丁目11-18
</pre>

昔と変わらぬおいしさ。料理人が台湾の方に変わったそうで、チャーシューが絶品。

<%= image "img_0304" %>
<%= image "img_0307" %>
<%= image "img_0308" %>
<%= image "img_0309" %>
<%= image "img_0310" %>
<%= image "img_0313" %>
<%= image "img_0317" %>
<%= image "img_0323" %>
<%= image "img_0336" %>
<%= image "img_0339" %>
<%= image "img_0340" %>
<%= image "img_0344" %>
<%= image "img_0347" %>
<%= image "img_0349" %>

ちょうど紹興酒の龜を開封するタイミングだったので、動画を撮影。

<%= image "img_0325" %>
<%= movie "img_0324" %>
<%= movie "img_0328" %>

デザートはざくろ。こんなに大きいの初めてみた。

<%= image "img_0351" %>
<%= image "img_0353" %>
