---
title: 第一亭@日ノ出町
---
池田さんがニンニクくっさい店見つけたというので日ノ出町へ。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1401/A140102/14004194/">第一亭</a>
045-231-6137
神奈川県横浜市中区日ノ出町1-20
</pre>

<%= image "img_0356" %>
<%= image "img_0357" %>

シジミのしょうゆ漬けとホルモン各種。

<%= image "img_0358" %>
<%= image "img_0359" %>
<%= image "img_0360" %>
<%= image "img_0361" %>
<%= image "img_0362" %>
<%= image "img_0363" %>
<%= image "img_0364" %>
<%= image "img_0365" %>

最後の麺の生ニンニクが凄いです。二日ぐらい臭かった。

<%= image "img_0367" %>

ニンニク好きとホルモン好きにはお勧め。
