---
title: 本味楽
tags: party, yokohama
---
実習生と、依頼研究で来てた人たちの送別会。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1401/A140101/14015975/">本味楽</a>
045-311-0600
神奈川県横浜市西区南幸2-1
</pre>

<%= image "img_0491" %>
<%= image "img_0494" %>
<%= image "img_0499" %>
<%= image "img_0501" %>
<%= image "img_0502" %>
<%= image "img_0505" %>
<%= image "img_0507" %>
<%= image "img_0511" %>
<%= image "img_0514" %>
<%= image "img_0515" %>
