---
title: 金沢動物園
tags: zoo, park, kanagawa
---
息子さんがカンガルーのポケットに赤ちゃんが入ってるところが見たいと言い出したので、
妻が小田原のじーちゃんを誘って三人で動物園へ。
平日なのでお父さんはお仕事。

<pre class="address">
<a href="http://www.kanazawa-zoo.org/">金沢動物園</a>
横浜市金沢区釜利谷東5−15−1
045-783-9101
</pre>

<%= image "dsc_0038" %>
<%= image "dsc_0041" %>
<%= image "dsc_0042" %>
<%= image "dsc_0046" %>
<%= image "dsc_0051" %>
<%= image "dsc_0053" %>
<%= image "dsc_0056" %>
<%= image "dsc_0062" %>
<%= image "dsc_0063" %>
<%= image "dsc_0066" %>
<%= image "dsc_0069" %>
<%= image "dsc_0073" %>
<%= image "dsc_0079" %>
<%= image "dsc_0085" %>
<%= image "dsc_0087" %>
<%= image "dsc_0091" %>
<%= image "dsc_0124" %>
<%= image "dsc_0149" %>
<%= image "dsc_0160" %>
<%= image "dsc_0162" %>
<%= image "dsc_0163" %>
<%= image "dsc_0164" %>
<%= image "dsc_0169" %>
<%= image "dsc_0187" %>
