---
title: 立田くん送別会
tags: farewell, party, restaurant
---
3月中に実施できなかった立田くんの送別会。

<pre class="address">
<a href="http://www.ekipara.com/html/Indication/ShopHtml/K2030R01_156.html">菜な</a>
神奈川県横浜市西区南幸1-1-1 横浜シァル6F
045-317-6977
</pre>

<%= image "img_0527" %>
<%= image "img_0530" %>
<%= image "img_0533" %>
<%= image "img_0537" %>
<%= image "img_0539" %>
<%= image "img_0542" %>
<%= image "img_0543" %>
<%= image "img_0547" %>
<%= image "img_0548" %>
<%= image "img_0549" %>
<%= image "img_0551" %>
<%= image "img_0552" %>
<%= image "img_0553" %>
<%= image "img_0556" %>
<%= image "img_0560" %>
<%= image "img_0562" %>
<%= image "img_0531" %>
<%= image "img_0532" %>
