---
title: 相模三川公園
tags: park, music, playground
---
妻の友人の娘のはづがイベントでサックスを吹くと言うので見物にいく。
<a href="http://www.don.to/diary/2006/1009-haduhina/">昔のイメージ</a>
で会った瞬間ケリいれられんのかと思ったら、丁寧に挨拶されてかえってビビる。
そうか、もう中学生だもんな。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/sansensite/">相模三川公園</a>
046-236-5008
〒243-0434 海老名市上郷2-1-1
</pre>

<%= image "dsc05612" %>
<%= image "dsc05594" %>
<%= image "dsc05607" %>
<%= movie "mov05603" %>
<%= movie "mov05613" %>
<%= movie "mov05614" %>

演奏も以外とうまくておじさまびっくりですわ。

その後遊具で遊ぶ。

<%= image "dsc05577" %>
<%= image "dsc05581" %>
<%= image "dsc05587" %>
<%= image "dsc05617" %>
<%= movie "img_0574" %>
<%= movie "img_0575" %>
