---
title: 沖縄旅行 その1
tags: family, okinawa, travel
---
今回はリゾートとか関係なしで普通に親戚の家に遊びに行くノリで沖縄へ。

空港で拾ってもらって、漁港へ魚を調達に。

<pre class="address">
<a href="http://www.odnsym.com/spot/tomariyui.html">泊いゆまち</a>
沖縄県那覇市港1-1
098-868-1096
</pre>

<%= image "img_0576" %>
<%= image "dsc05626" %>
<%= image "dsc05628" %>
<%= image "dsc05630" %>
<%= image "dsc05637" %>
<%= image "dsc05638" %>
<%= image "dsc05643" %>
<%= image "dsc05647" %>
<%= image "img_0578" %>
<%= image "img_0581" %>
<%= image "img_0584" %>
<%= image "img_0590" %>

生きたイラブー売ってた。どうやって調理すんの、これ？

<%= image "img_0588" %>
<%= movie "img_0586" %>

昼飯はインド料理屋。

<pre class="address">
<a href="http://more.gnavi.co.jp/category/CategoryReport.php?scoop_no=1459">Krishuna</a>
沖縄市久保田3-1-6 3F
098-931-0885
</pre>

<%= image "img_0595" %>
<%= image "img_0593" %>

保育園でマークさんお迎えにいって、嘉手納基地のボーリング場へ。
サイドのガードと、滑り台見たいな機材のおかげで、三歳児もボーリング楽しめます。
お父さんのスコアは49点(おい)。3歳児二人ともにスコア負け。

<%= image "dsc05651" %>
<%= image "dsc05653" %>
<%= image "img_0596" %>
<%= image "dsc05654" %>
<%= image "dsc05660" %>
<%= image "dsc05668" %>
<%= image "dsc05669" %>
<%= image "dsc05670" %>
<%= image "dsc05671" %>
<%= image "dsc05674" %>
<%= image "dsc05678" %>
<%= movie "mov05679" %>
<%= movie "mov05681" %>
<%= movie "mov05682" %>

まーくん家着。

<%= image "dsc05683" %>
<%= image "dsc05686" %>
<%= movie "mov05690" %>
<%= movie "mov05714" %>

晩ご飯。炭火グリルで色々ボンコさんが色々焼いてくれた。漁港で買った牡蠣うまし。

<%= image "dsc05692" %>
<%= image "dsc05693" %>
<%= image "dsc05694" %>
<%= image "dsc05698" %>
<%= image "dsc05701" %>
<%= image "dsc05703" %>
<%= image "dsc05708" %>
