---
title: 沖縄旅行 その2
---
ホテルのプールで遊ぶ。海で遊ぶにはまだまだ寒いです。

<%= image "img_0598" %>
<%= image "img_0599" %>

<pre class="address">
<a href="http://www.renaissance-okinawa.com/">ルネッサンス リゾート オキナワ</a>
〒904-0416　沖縄県国頭郡恩納村山田3425-2
TEL：098-965-0707
</pre>

<%= image "dsc05716" %>
<%= image "dsc05726" %>
<%= image "dsc05735" %>
<%= image "dsc05736" %>
<%= image "dsc05742" %>
<%= image "dsc05756" %>
<%= image "dsc05758" %>
<%= image "dsc05760" %>
<%= image "dsc05761" %>
<%= image "dsc05720" %>
<%= image "dsc05722" %>
<%= movie "mov05728" %>
<%= movie "mov05729" %>
<%= movie "mov05744" %>

ホテルの中に鳥がいた。

<%= image "dsc05766" %>
<%= image "dsc05768" %>
<%= image "dsc05771" %>
<%= image "dsc05774" %>

おんなの駅でお昼ごはん。どの店もいちいちおいしい。

<pre class="address">
<a href="http://onna.or.tv/">おんなの駅</a>
沖縄県恩納村字仲泊1656-9
098-964-1188
</pre>

<%= image "img_0603" %>
<%= image "img_0604" %>
<%= image "img_0605" %>
<%= image "img_0606" %>
<%= image "img_0608" %>
<%= image "img_0607" %>

お家でちょろっと遊ぶ。

<%= image "dsc05783" %>
<%= image "dsc05784" %>
<%= movie "mov05781" %>

公園へ移動。

<%= image "dsc05787" %>
<%= image "dsc05790" %>
<%= image "dsc05791" %>
<%= image "dsc05801" %>
<%= image "dsc05804" %>
<%= image "dsc05808" %>
<%= image "dsc05810" %>
<%= image "dsc05812" %>
<%= image "dsc05814" %>
<%= image "dsc05817" %>
<%= image "dsc05819" %>
<%= movie "mov05792" %>
<%= movie "mov05797" %>
<%= movie "mov05798" %>
<%= movie "mov05799" %>

晩ご飯。

<%= image "dsc05820" %>
<%= image "dsc05824" %>
<%= image "dsc05827" %>
<%= image "dsc05830" %>

さらにお家で盛り上がる。

<%= movie "mov05832" %>
