---
title: 沖縄旅行 その3
tags: okinawa, travel, park, military-base
---
朝ご飯。

<%= image "dsc05835" %>

公園へ。

<%= image "dsc05839" %>
<%= image "dsc05843" %>
<%= image "dsc05845" %>
<%= image "dsc05848" %>
<%= image "dsc05850" %>
<%= image "dsc05852" %>
<%= image "dsc05854" %>
<%= image "dsc05859" %>
<%= image "dsc05865" %>
<%= image "dsc05868" %>
<%= image "dsc05872" %>
<%= image "dsc05876" %>
<%= image "dsc05878" %>
<%= image "dsc05884" %>
<%= movie "mov05842" %>
<%= movie "mov05856" %>
<%= movie "mov05858" %>
<%= movie "mov05877" %>

<pre class="address">
<a href="http://r.gnavi.co.jp/f049007/">健康食彩レストラン だいこんの花</a>
〒900-0003 沖縄県那覇市安謝620
098-861-8889
</pre>

<%= image "dsc05886" %>
<%= image "dsc05888" %>
<%= image "dsc05889" %>
<%= image "dsc05892" %>

嘉手納基地の中の公園へ。

<%= image "dsc05894" %>
<%= image "dsc05895" %>
<%= image "dsc05899" %>
<%= image "dsc05900" %>
<%= image "dsc05901" %>
<%= image "dsc05902" %>
<%= image "dsc05907" %>
<%= image "dsc05910" %>
<%= image "dsc05912" %>
<%= image "dsc05913" %>
<%= image "dsc05921" %>
<%= movie "mov05904" %>

晩ご飯。

<%= image "dsc05924" %>
<%= image "dsc05928" %>
<%= image "dsc05931" %>
<%= image "dsc05934" %>

家で遊ぶ。

<%= image "img_0610" %>
<%= movie "img_0611" %>
