---
title: 沖縄旅行 その4
---
朝ご飯。

<%= image "dsc05935" %>
<%= image "dsc05943" %>
<%= image "dsc05938" %>

公園へ。

<pre class="address">
<a href="http://www.okinawa-kenso.com/">沖縄県総合運動公園</a>
沖縄県沖縄市比屋根
098-932-5114
</pre>

連日の大騒ぎでもうヘロヘロなチビッコたち。
どっちもグズグズなので些細なことで10分おきに喧嘩。

<%= image "dsc05956" %>
<%= image "dsc05959" %>
<%= image "dsc05962" %>
<%= image "dsc05966" %>
<%= image "dsc05970" %>
<%= image "dsc05973" %>
<%= image "dsc05979" %>
<%= image "dsc05982" %>
<%= image "dsc05984" %>
<%= image "dsc05987" %>
<%= image "dsc05999" %>
<%= image "dsc06005" %>
<%= movie "mov05953" %>
<%= movie "mov05975" %>
<%= movie "mov06004" %>

魚にエサやり。

<%= image "dsc06014" %>
<%= image "dsc06016" %>
<%= movie "mov06015" %>

ボートに乗る。30分乗れたけど15分で全員飽きる。

<%= image "dsc06020" %>
<%= movie "mov06019" %>

もう一回公園。

<%= image "dsc06026" %>
<%= image "dsc06030" %>
<%= image "dsc06031" %>
<%= image "dsc06035" %>
<%= image "dsc06037" %>
<%= image "dsc06039" %>
<%= image "dsc06043" %>
<%= image "dsc06048" %>
<%= image "img_0612" %>
<%= image "img_0613" %>

まーくん、3才とは思えない運動神経。

<%= movie "mov06032" %>
<%= movie "mov06033" %>

お昼ごはん。

<pre class="address">
<a href="http://r.tabelog.com/okinawa/A4703/A470301/47004539/">HIGASHIYA</a>
098-938-0627
沖縄県沖縄市高原5-19-9
</pre>

<%= image "dsc06053" %>
<%= image "img_0616" %>
<%= image "dsc06055" %>
<%= image "dsc06060" %>
<%= image "img_0618" %>
<%= image "img_0620" %>
<%= image "dsc06063" %>
<%= image "dsc06064" %>
<%= image "img_0625" %>
<%= image "dsc06067" %>

那覇空港で<a href="http://www.mabuyer.com/">琉神マブヤー</a>のプリクラ発見。ご当地ヒーローだそうで。

<%= image "img_0628" %>
