---
title: まるう商店
tags: restaurant, izakaya, yokohama
---
池田さんがまた見つけてきた。
住宅外の真ん中にある変な飲み屋。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1401/A140101/14015237/">横浜漁酒場 まるう商店</a>
045-441-0804
神奈川県横浜市西区高島2-5-14
</pre>

<%= image "img_0629" %>
<%= image "img_0630" %>
<%= image "img_0631" %>
<%= image "img_0633" %>
<%= image "img_0634" %>
<%= image "img_0635" %>
<%= image "img_0637" %>

ツマミは文句ないんですが、ワンカップ地酒が若干高めなのと、注文記録がザルなので、たぶんもう行かない。
