---
title: 前歯が折れた
tags: accident, tooth, kids
---
息子と二人でこどもの国へ。妻は体調不良のため欠席。

<%= image "img_0649" %>
<%= image "img_0650" %>
<%= image "img_0651" %>
<%= image "img_0654" %>

この後、高さ80cmぐらいの一本橋から飛び降りて、着地した瞬間に息子さんの前歯が折れた。
顔面をぶつけたわけではなくて、普通に着地しただけで折れました。
衝撃で思いっきり噛んじゃったのかなあと推測してるんだけど、訳分からん。

泣いてる息子さんの相手してたんで写真撮ってる余裕なかったんですが、根元からポッキリといっちゃって、
歯茎から血が出てました。
とりあえず、落ちてた歯を見つけて財布にしまって、自宅方面に電車で移動してたら、
妻からメールが来て、折れた歯も適切に保存しておけばくっつく場合があるとのこと(詳細は<a href="http://www1.ocn.ne.jp/~yukinari/faq3.html">ここ</a>)。

牛乳の自動販売機も見つからないし、息子の口に放り込むと飲み込まれちゃう可能性があるので、僕の口に突っ込みながら、自宅の近所の歯医者にみてもらいました。

診断の結果によると、乳歯の根がとけてきてるので、元には戻らないだろうとのこと。
もう永久歯の準備がはじまってるらしいです。

見にくいですが、一応写真。
右側上部の前歯です。触るとグラグラします。
動画は息子さんのリクエストによるおまけ。

<%= image "img_0665" %>
<%= movie "img_0666" %>
