---
title: わんぱくランド
---
<pre class="address">
<a href="http://www.city.odawara.kanagawa.jp/public-i/park/wanpaku/">小田原こどもの森公園 わんぱくらんど</a>
神奈川県小田原市久野4377-1
0465-24-3189
</pre>

お父さんと息子さんはペアルック。

<%= image "dsc_0021" %>
<%= image "dsc_0005" %>
<%= image "dsc_0006" %>
<%= image "dsc_0008" %>
<%= image "dsc_0011" %>
<%= image "dsc_0018" %>
<%= image "dsc_0025" %>
<%= image "dsc_0029" %>
<%= image "dsc_0033" %>
<%= image "dsc_0035" %>

今年はじめの水遊び。
つるつるの石の上を走ったり跳んだりするので横で見てて怖ぇー。

<%= image "dsc_0040" %>
<%= image "dsc_0042" %>
<%= image "dsc_0053" %>
<%= image "dsc_0056" %>
<%= image "dsc_0064" %>
<%= image "dsc_0095" %>
<%= image "dsc06433" %>
<%= image "dsc_0113" %>
<%= image "dsc_0114" %>
<%= image "dsc_0120" %>
<%= image "dsc_0131" %>
<%= image "dsc_0139" %>
<%= movie "mov06436" %>

移動中は爆睡。

<%= image "dsc_0142" %>
