---
title: 辻堂海浜公園
tags: kids, outing, park
---
自転車とプラレールやりに来た。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/tujidou/">辻堂海浜公園</a>
神奈川県藤沢市辻堂西海岸3-2
TEL 0466-34-0011
</pre>

暴走自転車に追いつけないし、ブレーキもかけれてるし、こけそうになっても何とか対処してるので、放置しててベンチで本読んでたら、しばらくして泣きながら現れた。段差につまずいてコケたらしい。

<%= image "img_0044" %>
<%= image "img_0045" %>
<%= movie "img_0046" %>
<%= movie "img_0047" %>

プラレール。他所の子が一緒に遊んでくれてたので、お父さんベンチで居眠りしてました。

<%= movie "img_0048" %>

川でいらんことが始まる。

<%= movie "img_0049" %>
