---
title: 須藤くんと飲み
tags: beer, friends, roppongi
---
六本木で須藤くんと飲み。
<a href="http://www.coedobrewery.com/">COEDO</a>が5種類とも生で飲める店。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1307/A130701/13110475/dtlrvwlst/">Beer Cuisine GOSHIKI roppongi</a>
 03-3405-4480
東京都港区六本木6-1-6 ザクセンビルB1F
</pre>

<%= image "img_0065" %>
<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0070" %>
<%= image "img_0072" %>
<%= image "img_0075" %>
<%= image "img_0077" %>
<%= image "img_0078" %>
<%= movie "img_0073" %>
