---
title: ヱビスビール記念館
tags: beer, ebisu, museum
---
JANOG26の後、ヱビスビール記念館へ。

<%= image "img_0006" %>
<%= image "img_0008" %>
<%= image "img_0009" %>
<%= image "img_0011" %>

<pre class="address">
<a href="http://www.sapporobeer.jp/brewery/y_museum/">ヱビスビール記念館</a>
〒150-8522
東京都渋谷区恵比寿4-20-1 恵比寿ガーデンプレイス内
03-5423-7255
</pre>

有料テイスティングを申し込む。単なる飲み屋ですがヱビスビールが安い。
でも、飲み屋じゃないので19:00閉店。

<%= image "img_0015" %>
<%= image "img_0017" %>
<%= image "img_0021" %>
<%= image "img_0014" %>
<%= image "img_0018" %>
<%= image "img_0019" %>

須藤くん、有賀さんとさらに新橋に移動してビール。

<%= image "img_0023" %>
