---
title: 辻堂海浜公園
tags: outdoor, park, pool
---
最近、蓮ブームの辻堂海浜公園へ。
今日から屋外プールが始まるので水着も持っていく。

で、その前に駅前の公園に寄り道。なかなか目的地に着かねえ。

<%= movie "img_0024" %>

目的地着。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/tujidou/">辻堂海浜公園</a>
神奈川県藤沢市辻堂西海岸3-2
TEL 0466-34-0011
</pre>

まずは自転車乗ったり、プレレールで遊ぶ。写真省略。

さらに池で遊ぶ。この直後に後ろに下がりすぎた蓮が池に落ちる。下半身ビショビショ。
ズボンと靴の替え持ってきてねえ。

<%= image "img_0025" %>
<%= image "img_0026" %>

次に木登り。

<%= image "img_0034" %>
<%= movie "img_0027" %>
<%= movie "img_0029" %>
<%= movie "img_0035" %>

昼飯食って屋外プールへ。値段も安いし広いしお勧め。
でも、プール開き初日なんで寒すぎました。
二時間ぐらい遊んだら蓮がブルブル震えだしたので退散。
