---
title: インド出張 その1
---
2年半ぶりにデリーへ。空港が奇麗になってる！

<%= image "img_0004" %>
<%= image "img_0005" %>

ホテルへ移動。

<%= image "img_0010" %>
<%= movie "img_0007" %>
<%= movie "img_0008" %>

今回のホテル。できたてらしくてとても奇麗です。
ベッド横の仕切りを開けると風呂とトイレが丸見え。

<pre class="address">
Crowne Plaza Hotel New Delhi Okhla
Phase 1 New Delhi National Capital Territory of Delhi 110020
</pre>

<%= image "img_0012" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0020" %>

写真ないけど、浴槽にお湯を入れると薄いモスグリーン色になりました。
まるで天然入浴剤。やっぱり水は怖い。

晩ごはんはイタ飯屋。普通においしかったです。パスタは太麺でジャンクな味がして大変よろしい。

<pre class="address">
<a href="http://www.flavorsofitaly.net/">Flavors of Italy</a>
49-54 C, Moolchand-Flyover Park, Ring Rd., Defence Colony
New Delhi,Delhi,110048
</pre>

<%= image "img_0022" %>
<%= image "img_0040" %>
<%= image "img_0024" %>
<%= image "img_0025" %>
<%= image "img_0028" %>
<%= image "img_0029" %>
<%= image "img_0031" %>
<%= image "img_0033" %>
<%= image "img_0034" %>
<%= image "img_0037" %>
<%= image "img_0039" %>
