---
title: インド出張 その2
tags: businesstrip, food, india
---
ホテルで朝ご飯。

<%= image "img_0001" %>
<%= image "img_0002" %>

日立インドへ移動。オフィスは直線距離はたいしてないんだけど、道路が現在工事中で大幅に遠回り。
おまけに朝の渋滞で45分かかる。道路ができたら5分らしい。
何やっても移動に時間かかるなあ。

<%= movie "img_0003" %>
<%= movie "img_0004" %>

日立インド。

<%= image "img_0007" %>
<%= movie "img_0005" %>

列車の駅。月末オープンらしいけどとてもそんな風には見えません。

<%= image "img_0009" %>

晩ご飯。今回唯一のマトモなインド飯。

<pre class="address">
Singh Sahib
<a href="http://www.ichotelsgroup.com/intercontinental/en/gb/locations/newdelhi-nehruplace">Intercontinental Hotel, Nehru Place</a>
Lala Lajpat Rai Path, Greater Kailash I
New Delhi,Delhi,110019
+91 11 4122 3344
</pre>

<%= image "img_0033" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0020" %>
<%= image "img_0022" %>
<%= image "img_0024" %>
<%= image "img_0025" %>
<%= image "img_0027" %>
<%= image "img_0029" %>
<%= image "img_0031" %>
<%= image "img_0034" %>
