---
title: インド出張 その3
tags: india, sightseeing, subway
---
部屋からの眺めとホテルのロビー。

<%= image "img_0001" %>
<%= image "img_0003" %>

スケジュールがどうにも取れない人とのアポ待ちで、呼ばれたらすぐに駆けつけれるようにインド市内観光。
<a href="../../2008/0201-india/">前回行ったとこ</a>と全く同じなので、詳細はパス。

<a href="http://ja.wikipedia.org/wiki/%E3%82%AF%E3%83%88%E3%82%A5%E3%83%96%E3%83%BB%E3%83%9F%E3%83%8A%E3%83%BC%E3%83%AB">クトゥブ・ミナール</a>。

<%= image "img_0005" %>
<%= image "img_0006" %>
<%= image "img_0010" %>
<%= image "img_0011" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0019" %>
<%= image "img_0022" %>
<%= image "img_0023" %>
<%= image "img_0025" %>
<%= image "img_0026" %>
<%= image "img_0028" %>
<%= image "img_0029" %>
<%= image "img_0031" %>
<%= image "img_0032" %>
<%= image "img_0033" %>
<%= image "img_0035" %>
<%= image "img_0036" %>
<%= image "img_0038" %>
<%= image "img_0040" %>
<%= image "img_0041" %>
<%= image "img_0042" %>
<%= movie "img_0007" %>
<%= movie "img_0018" %>
<%= movie "img_0039" %>

道中。来月からCommon Wealth(旧イギリス植民地)のスポーツ大会があるので、町中工事してます。

<%= image "img_0043" %>
<%= image "img_0045" %>
<%= movie "img_0004" %>

Indian Gate。

<%= image "img_0050" %>
<%= image "img_0055" %>
<%= image "img_0056" %>

大統領官邸。野良猿がいる。

<%= image "img_0060" %>
<%= image "img_0062" %>
<%= image "img_0063" %>
<%= image "img_0064" %>
<%= image "img_0067" %>

公用車はアンバサダー。

<%= image "img_0066" %>
<%= movie "img_0059" %>

新しく出来た地下鉄に興味があったので乗ってみる。
外見は普通に廃墟。

<%= image "img_0069" %>
<%= image "img_0068" %>
<%= image "img_0070" %>

地下に降りてく。エレベーターもついてる。インドでエレベーター初めて見た。

<%= image "img_0072" %>
<%= movie "img_0071" %>

切符売り場。距離に関係なく8ルピー(約16円)だそうで。
車の交通量減らしたかったらここまで値段下げるしかないんだろうなあ。
正確には切符ではなくトークンがもらえます。

<%= image "img_0074" %>
<%= image "img_0076" %>
<%= image "img_0078" %>

警戒厳重。

<%= image "img_0079" %>
<%= image "img_0081" %>

トークンを当てると改札が開く。

<%= image "img_0080" %>
<%= movie "img_0082" %>

乗りますよ。
中はこんな感じ。

<%= image "img_0085" %>
<%= image "img_0089" %>
<%= image "img_0090" %>
<%= movie "img_0091" %>

降ります。繁華街の駅は混んでます。

<%= image "img_0094" %>
<%= image "img_0095" %>
<%= movie "img_0092" %>

改札を出るところでトークンを回収します。

<%= movie "img_0096" %>

昼飯。

<pre class="address">
<a href="http://www.asklaila.com/listing/Delhi-NCR/Connaught+Place/York+Chinese+Restaurant/G899skTb/">York Chinese Restaurant</a>
Phone: (011) 23415769
K-10, Outer Circle, Connaught Place , Delhi 110001
</pre>

<%= image "img_0098" %>
<%= image "img_0099" %>
<%= image "img_0100" %>
<%= image "img_0101" %>
<%= image "img_0102" %>
<%= image "img_0104" %>
<%= image "img_0105" %>
<%= image "img_0107" %>

夜はホテルのレストランで食べる。

<%= image "img_0108" %>
<%= image "img_0109" %>
<%= image "img_0110" %>
<%= image "img_0112" %>
<%= image "img_0116" %>
