---
title: インド出張 その4
tags: businesstrip, flight, india, shopping
---
お仕事の後、お土産購入の紅茶屋さん。
ティーバッグじゃない紅茶は面倒くさいので何も買わず。

<pre class="address">
<a href="http://www.mittalteas.com/">Mittal Sores</a>
12, Sunder Nagar Market, New Delhi, 110003
Tel: 24358588
</pre>

<%= image "img_0003" %>
<%= image "img_0002" %>

お昼ご飯。

<%= image "img_0005" %>

デリー空港到着。

<%= image "img_0011" %>

空港で時間が余ったのでビール飲む。

<%= image "img_0012" %>
<%= image "img_0014" %>
<%= image "img_0017" %>

で、とーじょー。行きも帰りも運良くなんちゃってフルフラットできた。

<%= image "img_0019" %>
