---
title: 新菜楼
tags: chinese, restaurant, sagamihara
---
歯医者の帰りに新菜楼に寄る。
相変わらずのレベルの高さ。
小皿料理も始めたそうです。

<pre class="address">
<a href="http://gourmet.yahoo.co.jp/0001500520/">新菜楼</a>
042-749-5350
神奈川県相模原市相模大野3丁目11-18
</pre>

<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0018" %>
<%= image "img_0019" %>

デザート。餅米とココナッツミルクのケーキ。素朴な味でおいしい。

<%= image "img_0020" %>
