---
title: 魚ひろ
tags: restaurant, birthday, grandparents
---
大阪のじーちゃんばーちゃん連れて魚ひろへ。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
神奈川県横浜市保土ケ谷区天王町1-8-1 第五瀬戸ビル2F
045-340-3717
</pre>

<%= image "dsc08383" %>
<%= image "dsc08385" %>
<%= image "dsc08388" %>
<%= image "dsc08390" %>
<%= image "dsc08392" %>
<%= image "dsc08395" %>
<%= image "dsc08397" %>
<%= image "dsc08399" %>
<%= image "dsc08400" %>
<%= image "dsc08405" %>
<%= image "dsc08412" %>
<%= image "dsc08414" %>
<%= image "dsc08423" %>
<%= image "dsc08425" %>

娘酒。

<%= image "dsc08410" %>
<%= image "dsc08410" %>

家に戻ってばーちゃんの誕生日を祝う。

<%= image "dsc08427" %>
<%= image "dsc08431" %>
<%= image "dsc08436" %>
<%= movie "mov08432" %>
<%= movie "mov08433" %>
<%= movie "mov08437" %>
