---
title: インド出張 その2
tags: businesstrip, food, india
---
ホテルで朝飯。

<%= image "img_0002" %>
<%= image "img_0004" %>

午前中は時間空いたのでMallに行ってみました。
移動はホテル持ちの車を借り切って往復で450ルピー(900円、駐車場代込み)

中は別世界で、いかにもなモール。
外国人ばっかりかと思ったら、こざっぱりしたインド人の学生も友達と連れ立って遊びに来てます。
うーん、格差社会。

<%= image "img_0005" %>
<%= image "img_0006" %>

さらにホテルで昼飯。
高級ホテルだけあってBuffetで4000円しました。
ホイホイと外に食いにいけないしね。泣ける。

<%= image "img_0008" %>
<%= image "img_0011" %>

夜は2008年に初めて入ったインド料理屋さん。タンドリー料理で有名な店。
ところで、タンドリー料理って北インド料理(デリー含む)なのね。知らんかった。

<pre class="address">
<a href="http://www.claridges.com/the-claridges-newdelhi/dining-daba.asp?links=nd4d">Dhaba</a>
The Claridges New Delhi
12 Aurangzeb Rd, New Delhi 110011
Tel:+91 11-3955 5082/5083
</pre>

<%= image "img_0012" %>
<%= image "img_0014" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0019" %>
<%= image "img_0020" %>
<%= image "img_0022" %>
<%= image "img_0024" %>
<%= image "img_0025" %>
<%= image "img_0027" %>
<%= image "img_0029" %>

チキンうまし。満足。

<%= image "img_0030" %>
<%= image "img_0031" %>
<%= image "img_0036" %>
<%= image "img_0037" %>
<%= image "img_0039" %>
<%= image "img_0043" %>
<%= image "img_0045" %>
<%= image "img_0048" %>
<%= image "img_0050" %>
<%= image "img_0053" %>
<%= image "img_0057" %>
<%= image "img_0060" %>
<%= image "img_0062" %>
