---
title: アメイジングワールド
---
そろそろ寒くなってきたので、屋内遊戯場へ。

<pre class="address">
<a href="http://www.amazingworld.jp/">アメイジングワールド</a> ルララ港北店
神奈川県横浜市都筑区中川中央2-2-1
</pre>

足こぎバイク。3周で交代なんだけど列に並びなおして延々とやってた。
動画ないけど後半になるとドリフトしてるし。

<%= image "img_0028" %>
<%= movie "img_0040" %>

山盛り積み木。

<%= image "img_0032" %>
<%= image "img_0036" %>
<%= movie "img_0035" %>

歩行器があったのでりりちゃんを乗せてみる。なぜか後退する。蝦か。

<%= movie "img_0031" %>

その他運動。久しぶりに体力使い切った感じ。

<%= movie "img_0029" %>
<%= movie "img_0030" %>
