---
title: 風月でお好み焼き
tags: restaurant, yokohama
---
新横浜のプールに行く前に腹ごしらえ。

<pre class="address">
<a href="http://www.ideaosaka.co.jp/">鶴橋風月</a> ヨドバシ横浜店
神奈川県横浜市西区北幸1丁目2−7
045-317-9220
</pre>

<%= image "dsc08979" %>
<%= image "dsc08984" %>
<%= image "dsc08991" %>
<%= image "dsc08994" %>
<%= image "dsc09004" %>
<%= image "dsc09007" %>
<%= image "dsc09009" %>
<%= movie "mov09005" %>
