---
title: 職場忘年会
tags: party, restaurant, work
---
安くて美味しかった。また来よう。

<pre class="address">
<a href="http://rp.gnavi.co.jp/6126737/">Baba's</a>
〒212-0058 神奈川県川崎市幸区鹿島田1133 アーケード内
090-3902-2391
</pre>

<%= image "img_0062" %>
<%= image "img_0059" %>
<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0072" %>
<%= image "img_0074" %>
<%= image "img_0080" %>
