---
title: CKP忘年会
---
CKP忘年会。名物イタリア鍋だそうです。

<pre class="address">
<a href="http://restaurant.gourmet.yahoo.co.jp/0002105939/">スペシャルいづみ</a>
大阪府大阪市北区西天満2丁目3-1大きな地図を見る
06-6361-0396
</pre>

<%= image "img_0090" %>
<%= image "img_0091" %>
<%= image "img_0093" %>
<%= image "img_0096" %>
<%= image "img_0097" %>
<%= image "img_0098" %>
<%= image "img_0100" %>
<%= image "img_0089" %>
<%= image "img_0102" %>
