---
title: Tokyo6to4忘年会
tags: party, dinner, year-end
---
<a href="http://www.tokyo6to4.net/">Tokyo6to4</a>の忘年会で火鍋。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1305/A130501/13040630/">中国家庭料理 楊 3号店</a>
03-3985-9247
東京都豊島区池袋2-54-2
</pre>

<%= image "img_0120" %>
<%= image "img_0121" %>
<%= image "img_0122" %>
<%= image "img_0125" %>
<%= image "img_0128" %>
<%= image "img_0130" %>

終電まで盛り上がりました。
