---
title: アルペンジロー
---
奥さんとランチ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140306/14000553/">アルペンジロー 本店</a>
神奈川県横浜市中区弥生町3-26
050-5596-9637
</pre>

<%= image "img_0497" %>
<%= image "img_8348" %>
<%= image "img_8347" %>
<%= image "img_8346" %>
<%= image "img_9039" %>
<%= image "img_9040" %>
<%= image "img_0498" %>
