---
title: 草津 その1
---
草津へ湯治に行く。
横浜から高速バスで草津バスターミナルへ。往復9000円。
楽だし安い。

ホテルは中心エリアから2km弱離れてるので、無料送迎バスの時間までカフェで過ごす。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10022203/">カフェ わとわ</a>
群馬県吾妻郡草津町60
050-1057-9775
</pre>

<%= image "img_0502" %>
<%= image "img_0501" %>

今回の宿は[伊東園ホテル草津](https://www.itoenhotel.com/kusatsu/)。

<%= image "img_0503" %>
<%= image "img_0504" %>

ここ何がすごいかって朝夜がビュッフェで、アルコールも飲み放題で9000円。
帰るまで引きこもり決定というか、仮に湯畑近辺で飲んだら徒歩でホテルまで戻らないといけないので、転んで怪我して凍死する。

晩飯に前にサウナ三本入った。水風呂が冷たすぎて入れないので、露天風呂でクールダウン。

<%= image "img_0505" %>
<%= image "img_0506" %>

ビールx4、ハイボール、レモン酎ハイ飲んで泥酔。
最近、酒量が増えてるので最高すぎる。
