---
title: 中野
tags: nakano, soft cream, lunch
---
宮さんが大阪帰る前に懐かしの8段ソフトクリームに挑戦したいというので中野に集合。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1319/A131902/13001083/">デイリーチコ</a>
東京都中野区中野5-52-15 中野ブロードウェイ B1F
03-3386-4461
</pre>

<%= image "img_0545" %>
<%= image "6004b672" %>
<%= image "img_0546" %>

軽く食いきってやったわ！

ランチは特に行きたい店もないというので、食べログで適当に調べた店へ。
ブロードウェイの奥って行ったことなかった。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1319/A131902/13283134/">福籠叉焼</a>
東京都中野区新井1-14-14
03-6454-0444
</pre>

焼きそばセット。チャーシューは4種類全部にして、半分こ。

<%= image "img_0547" %>
<%= image "img_0548" %>
<%= image "img_0549" %>

品川に移動して解散。
