---
title: 中華街で四川料理
tags: yokohama, chinatown, sichuan cuisine
---
大さん橋にパスポートを取りにいくついでに海を眺める。

<%= image "img_0554" %>

中華街でCloudFront関連メンバーで飲み会。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14002188/">中華第一家 杜記</a>
神奈川県横浜市中区山下町138-14
050-5596-5609
</pre>

<%= image "img_0555" %>
<%= image "img_0556" %>
<%= image "img_0557" %>
<%= image "img_0558" %>
<%= image "img_0559" %>

<%= image "475915244" %>
