---
title: 宮古島キャンプ その1
---
昨日から公式に無職。

国民健康保険申請に必要な雇用保険被保険者離職票がすぐに届かないのに気づいて、一昨日にマイルで確保した宮古島に向かう。

<pre>
2025/02/02(日) 12:00 HND -u NH087 - MMY 15:20
</pre>

片道切符でいつ戻るか決めてない。

フライト中に供された日本酒が農口尚彦研究所で泥酔する気まんまんだっだけど、3杯目で売り切れたので、スパークリングワインに切り替え。

<%= image "img_0560" %>
<%= image "img_0561" %>
<%= image "img_0562" %>

宮古島空港到着。自転車いれて荷物が全部で27kgで重い。
ANA SFCじゃなかったら帰りは超過料金取られるとこだった。

<%= image "img_0564" %>

今日はもう遅いので、[Airbnb](https://www.airbnb.jp/rooms/1136832943368496141)に泊まる。

<%= image "img_0566" %>
<%= image "img_0565" %>

荷物置いて、とりあえず海。

<%= image "img_0567" %>
<%= image "img_0568" %>
<%= image "img_0569" %>

晩飯は本店じゃないほうのでいりぐち。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028942/">居酒屋でいりぐち 下里通り店</a>
沖縄県宮古島市平良下里596-1
0980-79-0197
</pre>

<%= image "img_0572" %>

セーイカと琉球王朝(古酒)。セーイカがねっとりしててうまい。鮮魚のヅケと、イカスミ焼きそば。

<%= image "img_0574" %>
<%= image "img_0575" %>
<%= image "img_0576" %>
