---
draft: true
title: 宮古島キャンプ その2
---
空港そばにあるタイムズでカーシェア借りる。

<%= image "img_0579" %>

消耗品を買い出ししてからキャンプ場へ。

<pre class="address">
<a href="https://www.nap-camp.com/okinawa/14297">Ysガーデン狩俣キャンプ場</a>
沖縄県宮古島市平良狩俣1713-1
</pre>

<%= image "img_0580" %>

キャンプ場来たらまさかの完ソロ。強風でキャンセル続出らしい。なんもみてなかった…
木の壁が風を防いでくれてるのでたぶん大丈夫
ヤバくなったら、屋根のあるウッドデッキに避難する

<%= image "img_0581" %>
<%= image "img_0582" %>
<%= image "img_0583" %>
<%= image "img_0584" %>
<%= image "img_0585" %>

風速11m/s

<%= image "img_0586", ext: 'png' %>

風のせいで体感温度は低いです。早々とシェラフに潜り込んだ。風と海がめっちゃうるさい。

