---
title: 宮古島キャンプ その2
tags: miyako, camp, travel
---
空港そばにあるタイムズでカーシェア借りる。

<%= image "img_0579" %>

100円ショップで消耗品とサンエーで酒と食料を買い出ししてからキャンプ場へ。
肌寒いので温かい肌着も買っておく。

<pre class="address">
<a href="https://www.nap-camp.com/okinawa/14297">Ysガーデン狩俣キャンプ場</a>
沖縄県宮古島市平良狩俣1713-1
</pre>

<%= image "img_0580" %>
<%= image "img_0581" %>
<%= image "img_0596" %>

キャンプ場来たらまさかの完ソロ。強風でキャンセル続出らしい。風のチェックなんてしてなかった...

海辺エリアの木の壁のすぐ横にテントを張る。風を防いでくれてるのできっと大丈夫。
ヤバくなったら、芝生エリアにある屋根のあるウッドデッキに避難する。

<%= image "img_0582" %>
<%= image "img_0583" %>

風吹きすさぶなかビールと、油で軽く温め直して一味をかけた枝豆。

<%= image "img_0584" %>
<%= image "img_0585" %>

風速11m/sだった。

<%= image "img_0586", ext: 'png' %>

風のせいで体感温度は低い。早々とシェラフに潜り込んだ。
風と海がめっちゃうるさい。冷気がじんわりと下から上がってきて何度も目覚める。
