---
title: 宮古島キャンプ その3
tags: miyakojima, camp, travel
---
天気予報見ると今日も早朝から深夜までずっと強風。キャンプ場にいるだけで体温が奪われるので、学生さんに混じって朝イチのバスで町中に来て、ファミレスで今夜をどうすごすか作戦立てる。

<%= image "img_0587" %>

- シュラフに頭から潜り込んでても冷える。追加の防寒対策が必要。肌着がもう一枚と、使い捨てカイロが必要か？
- 今日は洗濯したい。想定外の寒さに持ってきた服を全部着込んでいるので、ローテーションで洗濯できない。なので、キャンプ場の洗濯機を使うのは厳しい。
- 芝生サイトに移動する選択肢もあるが、見て回って風の強さをチェックしたがあまり状況改善する気がしない
- 風が強すぎて焚き火ができない、座ってるだけで体温奪われるので、あまりキャンプが楽しめていない

結論として、今日は中心地に泊まることにして、洗濯機の使える宿を探す。

あと、週末にかけて気温が下がって、風も強くなるので、金曜の夕方の帰国便を押さえる。
結局、日程的には普通の旅行ですやん。

沖縄そばが体に染みる。これでドリンクバーついて650円て。
電源席の確保には失敗した。

<%= image "img_0588" %>

バスでキャンプ地に一旦戻る。戻りは貸し切り。

<%= image "img_0589" %>

キャンプ場を散歩。小さい洞窟があって、ここに移動する手もなくはない。風が全然入ってこないけど、地面がでこぼこ。
電波も入らん。

<%= image "img_0590" %>
<%= image "img_0591" %>

キャンプ場の人が「これから街に行く。延泊したけりゃ好きにしろ」といなくなった。完ソロ通り越して真ソロになった

<%= image "img_0592" %>
<%= image "img_0593" %>

やっと晴れてきたので持ってきたソーラー充電器で実験くん。

<%= image "img_0595" %>
<%= image "img_0594" %>

前回時間がなくてスクーターでチャチャっと回っただけの池間島に向かう。

<%= image "img_0597" %>

池間座島を一周。カニの標識って初めて見た。

<%= image "img_0598" %>
<%= image "img_0599" %>
<%= image "img_0600" %>

キャンプ場の手前にあるスーパーで惣菜とビールを買う。

<%= image "img_0601" %>
<%= image "img_0602" %>

ソーラー充電はバッテリーが全然増えてなかった。こんな日差しじゃあかん。
買ったのは10Wで、丸一日でiPhoneが満タンになればキャンプ場に無限に住めると思ったんだけど甘かった。

冷え込んできたので街に向かう。
朝に街に向かう中学生もいれば、夕方に街に戻る中学生もいる。この小さい島でも越境入学あるのかしら。

<%= image "img_0603" %>

楽天トラベルで、ゲストハウス以外で一番安い[宿](https://hotel.travel.rakuten.co.jp/hotelinfo/plan/182696)だったんだけど、理想的だった。
部屋に洗濯機があるので下着姿になって全部洗える！

<%= image "img_0605" %>
<%= image "img_0606" %>

惣菜食ったのが遅い時間だったので、軽く寝てから20:00に遅めの夕食。
ふらっと行ったら席開いてた。よかった。

<%= image "img_0612" %>

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47000098/">島おでん たから</a>
沖縄県宮古島市平良字西里172
0980-72-0671
</pre>

くっそ寒いので島おでんと豊見親お湯割。
おかしい、なぜ私は海辺でキャンプをしようなどと思ったのか。

<%= image "img_0608" %>

ジーマーミ豆腐としまの風(島限定)。

<%= image "img_0609" %>
<%= image "img_0610" %>

今夜と明日の天気。いやいや体感温度こんなもんじゃないだろう。

<%= image "img_0611", ext: 'png' %>

ビビってコンビニで明日以降に向けて追加のカイロを購入。
洗濯機回しながら部屋飲み。

<%= image "img_0613" %>
