---
title: 宮古島キャンプ その4
---
宮古島来たからには伊良部大橋渡っとく。
若干肌寒いけど、運動してる分には温かい。

<%= image "img_0614" %>
<%= image "img_0615" %>
<%= image "img_0616" %>
<%= image "img_0617" %>

水出しコーヒーを飲む。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47029847/">1 LAB Hello,VACAY!</a>
沖縄県宮古島市伊良部仲地96-2
</pre>

店の人と話してて狩俣のキャンプ場に泊まってることを告げると、近くの[沖縄そば屋](https://tabelog.com/okinawa/A4705/A470503/47028426/)が宮古島で一番おいしいとのこと。
大人気ですぐ埋まるので、予約を受け付ける8:30に名前を書きにいくといいとのことだけど、あとで食べログみたら明日休みですやん。
いくチャンスがない。次回だな。

<%= image "img_0618" %>
<%= image "img_0619" %>
<%= image "img_0620" %>

下地島空港の滑走路が正面から見れる17END。ちょうど離陸タイミングだった。

<%= movie "hdimg_0622" %>
<%= image "img_0623" %>
<%= image "img_0624" %>
<%= image "img_0625" %>
<%= image "img_0626" %>
<%= image "img_0627" %>

狩俣に戻りたいんだけど、昼間の時間帯だとちょうどいいバスがない。
結局、自転車で戻ることにする。

糖分が切れたので、休憩。
マスターの昔の武勇伝を聞きながら、なんちゃってパフェを食う。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47001433/">カフェカラカラ</a>
沖縄県宮古島市平良字大浦130-32
0980-73-8385
</pre>

<%= image "img_0629" %>
<%= image "img_0628" %>

キャンプ場の近くにマングローブ林があった。明日じっくり見よう。

<%= image "img_0630" %>

15:00過ぎにやっとキャンプ場に戻ってきた。

<%= image "img_0633" %>

リュックの中にタープがあったのを思い出す。
シルバーコーティングされているので、コットの上に引けば多少は冷えを食い止めてくれるはず。

<%= image "img_0631" %>

スーパーで買ったバラ焼き肉と鶏肉鍋。あとご飯を炊く。

<%= image "img_0634" %>
<%= image "img_0637" %>
<%= image "img_0638" %>

この夜は風は比較的おだやかだったけど、20時ぐらいにはシュラフに入って、ゴロゴロする。

未明に風が強くなりぐっと冷え込んで、目が覚める。
