---
title: 宮古島キャンプ その5
tags: miyakojima, camp, travel
---
未明に目が覚めたせいで二度寝した。
朝焼け。キャンプ場のスタッフによると早くに起きればもっと真っ赤に染まって綺麗だったらしい。

風に全部やられてる。

<%= image "img_0639" %>

パワースポットの宝庫らしい[大神島](https://o-gamijima.com/)へ10:20の船で渡る。

<%= image "img_0640" %>
<%= image "img_0641" %>

<%= image "img_0642" %>
<%= image "img_0643" %>
<%= movie "hdimg_0644" %>
<%= image "img_0645" %>
<%= image "img_0646" %>
<%= image "img_0647" %>
<%= image "img_0648" %>
<%= image "img_0649" %>
<%= image "img_0650" %>
<%= image "img_0651" %>
<%= image "img_0652" %>

思い出をサンゴで刻む。

<%= image "img_0653" %>
<%= image "img_0654" %>

小さい島なのであっという間に一周した。
帰りの船までまだ1時間半以上あるので、昼飯。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47012571/">おぷゆう食堂</a>
沖縄県宮古島市平良大神130
080-1726-8698
</pre>

タコのカーキ丼をつまみに、オリオンビール。

<%= image "img_0655" %>

スマホを充電させてもらいながら船を待つ。結局、ビール三杯飲んだ。

<%= image "img_0656" %>
<%= image "img_0657" %>

[島尻のマングローブ林](https://miyako-island.net/beach_and_spot/beach_spot_021/)へ。

<%= image "img_0658" %>
<%= image "img_0660" %>
<%= image "img_0663" %>
<%= image "img_0664" %>

キャンプ場へ戻る。太陽が出てハンモックが張れる気候になった。
酔っ払ってるので昼寝。

<%= image "img_0665" %>
<%= image "img_0666" %>

冷え込んで目覚める。

この時点で今回一番不要だった水着。

<%= image "img_0667" %>

昨日の鳥鍋の残りを温めて食べたあと、卵と同じくのこった飯で雑炊を作る。

<%= image "img_0668" %>
<%= image "img_0669" %>

夕方になって風が強くなったので、テントを締め切って飯食ってたんだけど、ふとテントから出たら景色が違うことに気づく。
めっちゃ引き潮になってて、今まで行けてないところに行ける。薄暗いので怖い。

<%= image "img_0670" %>
<%= image "img_0671" %>
<%= image "img_0672" %>
<%= image "img_0673" %>
<%= image "img_0675" %>
<%= image "img_0676" %>

結局、今夜も完ソロ。
寝る前にシュラフで明日の予定立ててたら、09:00から雨の予報。
さらに、体がくっさいので飛行機に乗る前に[みやこの湯](https://miyakojima-onsen.co.jp/)に行こうと思ってたら、よくみたら長期休業でやんの。
