---
title: 宮古島キャンプ その6
tags: miyakojima, camp, travel
---
朝9時から雨の予報だったので、降り出す前に撤収するつもりだったけど、未明から雨が降り出した。
さらに強風のなか撤収作業。

芝生エリアに自転車で2往復して、テラスにとりあえず荷物を全部移動してから、改めて荷造り完了。

<%= image "img_0677" %>

バスで空港に向かう。

<%= image "img_0678" %>

<pre class="flight">
09:08 狩俣 - 09:45 ツタヤ前 09:51 - 10:06 宮古空港
</pre>

この時点でフライトまでまだ4時間あるけど、外は雨。

空港で自転車含めて荷物を全部チェックインしてから、着替えだけ持ってカーシェア借りて島の南側の風呂に入りに行く(入浴は二日ぶり2回目)。
みやこ温泉が休業なので風呂入りたかったら、ここしか選択肢がない。

<pre class="address">
<a href="https://shigira.com/onsen">シギラ黄金温泉</a>
〒906-0202 沖縄県宮古島市上野新里1405-223
</pre>

<%= image "img_0679" %>

屋外温泉プールあり。
まさか持ってきた水着が役に立つとは思わなんだ。
寒いけどね。

<%= image "img_0680" %>
<%= image "img_0681" %>

サウナx3のあと、プールで少し泳いで満喫した。
くっさい体も綺麗になった。

少し時間があるので、空港そばでマンゴーパフェ食べる。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47029131/">Blue Turtle Farm Mango Cafe</a>
沖縄県宮古島市平良松原1760-3
0980-79-7274
</pre>

<%= image "img_0682" %>
<%= image "img_0683" %>

空港に戻ったら天候不良で遅延してた。
A&Wでビール。

<%= image "img_0684" %>

<pre class="flight">
2025/2/7 16:15 MMY - NH088 - HND 18:45
</pre>

横浜戻ってきた。寒波らしいけど、宮古島2日目の夜と体感温度大して変わらない。

### Lesson Learned

- 風速は必ずチェックすること。6m/sを超えるとしんどい
- キャンプ初日にレンタカーで買い出ししながら荷物運んだけど、半日潰れて効率が悪い。レンタカーを使わない作戦を考える
  - 宅急便で荷物を事前に宮古島の営業所に送る手がある。クロネコヤマトは[離島料金がかからない](https://faq.kuronekoyamato.co.jp/app/answers/detail/a_id/1395/~/%E8%8D%B7%E7%89%A9%E3%82%92%E9%9B%A2%E5%B3%B6%E3%81%AB%E9%80%81%E3%82%8B%E5%A0%B4%E5%90%88%E3%80%81%E8%BF%BD%E5%8A%A0%E6%96%99%E9%87%91%E3%81%8C%E5%BF%85%E8%A6%81%E3%81%A7%E3%81%99%E3%81%8B%EF%BC%9F)ので、消耗材を現地調達せずに家にある使いさしの調味料などを荷物にいれて送れば良い
  - 朝一の便で宮古島にいって、空港からクロネコヤマトの営業所で荷物を受け取ってバスに乗れば、空港で荷物を受取るより楽。荷物重量が20kgを切るのでANA以外も選択肢に入る
  - あとはキャンプ場そばのスーパーでどうにかなるし、初日さえ乗り切れば二日目以降に町に買い出しにいけばいい
- ワンポールテントとコットの組み合わせは正解。連泊だとかなり快適。ただし冷気対策をもう少しすべき。まあ気温次第だけど
- Facebookやりすぎない。そんなことしとらんで眼の前の自然に向き合う。旅のメモとしては便利。
- 充電をどうするかは課題。デジタルデトックスという手はあるが読書はしたい。紙の書籍を持ってくるのは大変なので、Kindleが欲しくなる。まあ、iPad miniの電池の保ちも優秀なのでこれでいいかも
- 帰りの服のことを全く考えていなかった。焚き火臭い服で飛行機に乗りたくない
- 米を一合で小分けにしたけど、これは大きすぎる。0.5合ごとでいいのでは。スーパーにごはん売ってるので、そんなに持っていかなくてよい
- キャンプ場周辺の木は南国特有のヘニョヘニョ木なので、タープポールの代わりになるような枝はない

いい体験にはなったけど、暖かいキャンプ場でダラダラという本来の目的は果たせていない。5月か6月あたりに再挑戦したい。
