---
title: 卒業式
tags: family, graduation, son
---
早いもんで蓮の卒業式。

<%= image "img_0726" %>

奥さんと昼飯。刺身定食と昼ビー。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140210/14023870/">生麦</a>
神奈川県横浜市鶴見区生麦5丁目23-9
045-501-0467
</pre>

<%= image "img_0728" %>
<%= image "img_0694" %>
<%= image "img_0697" %>

国道駅。横浜市内のJR駅とは思えない景色。無人駅だし、入り口怖いし。

<%= image "img_0729" %>
<%= image "img_0700" %>
