---
title: 鎌倉ドライブ
tags: car, family, kamakura
---
蓮が免許を取ったので、鎌倉へドライブ。お父さんは不参加。

<%= image "img_0750" %>
<%= image "img_0752" %>
<%= image "img_0753" %>
<%= image "img_0756" %>

<%= image "img_0757" %>
<%= image "img_0759" %>
<%= image "img_0761" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140602/14000742/">レストラン ラ・マーレ</a>
神奈川県三浦郡葉山町堀内24-2
050-5570-7222
</pre>

<%= image "img_0767" %>
<%= image "img_0770" %>
<%= image "img_0772_edited" %>
<%= image "img_8103" %>
<%= image "img_8110" %>
<%= image "img_8112" %>
<%= image "img_0774" %>
