---
title: 鎌倉ハイキング
tags: kamakura, hiking, friend
---
高校の友人が四ヶ月だけ東京に滞在しているので、誘って鎌倉ハイキングへ。

定点観測。

<%= image "img_0773" %>

明王院まで歩いて、昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14010501/">峰本 朝比奈店</a>
神奈川県鎌倉市十二所152
0467-24-5544
</pre>

雲水そば。

<%= image "img_0774" %>

さらに朝比奈方面を歩く。十二所展望台。

<%= image "img_0775" %>

大船で一風呂浴びて、まだ16時。飲み開始。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14067389/">大船ホルモンセンター</a>
神奈川県鎌倉市大船1-10-7
0467-84-9665
</pre>

<%= image "img_0776" %>
<%= image "img_0778" %>

三軒目あたりから記憶が怪しい。レシート見ると、四軒目まで行ったようだが記憶がない。
