---
title: 台湾旅行 その1
tags: daughter, taiwan, travel
---
春休みの娘と台湾旅行。

ジェットスターで成田空港から桃園空港へ。遠い。

<pre class="flight">
2025/04/01 09:15 NRT - GK13 - TPE 12:10
2025/04/05 13:10 TPE - GK14 - NRT 17:35
</pre>

<%= image "img_0819" %>
<%= image "img_0820" %>

西門へ。お約束の麺線。

<pre class="address">
<a href="https://tabelog.com/taiwan/A5403/A540305/54000023/">阿宗麺線 西門町店</a>
台湾台北市萬華區峨眉街8之1號
(+886) 223888808
</pre>

<%= image "img_0821" %>
<%= image "img_0822" %>
<%= image "img_0823" %>
<%= image "img_0824" %>

そのまま歩いて龍山寺。

<%= image "img_0825" %>
<%= image "img_0826" %>
<%= image "img_0827" %>
<%= image "img_0828" %>
<%= image "img_0829" %>
<%= image "img_0830" %>
<%= image "img_0831" %>

宿へ移動。今回は[AirBnB](https://www.airbnb.jp/rooms/1315955345191076785)。
忠孝復興駅に近いのでどこ行くのにも便利。

<%= image "img_0833" %>
<%= image "img_0836" %>

難点はシャワーでトイレとの仕切りが短いのでシャワー浴びるとビショビショになる。
ここには3日間宿泊したけど、バスタオルで都度床を拭かないといけないので、全日洗濯機を回した。

排水管が古いのでトイレットペーパーを流すのは禁止でゴミ箱に捨てるルール。

<%= image "img_0874" %>

士林夜市へ。最寄り駅が士林ではなくて、劍潭駅なことをすっかり忘れてて、遠回りした。

<%= image "img_0838" %>
<%= image "img_0839" %>
<%= image "img_0840" %>
<%= image "img_0841" %>
<%= image "img_0843" %>
<%= image "img_0846" %>
<%= image "img_0847" %>
<%= image "img_0848" %>
<%= image "img_0849" %>
<%= image "img_0850" %>
<%= image "img_0853" %>
<%= image "img_0855" %>

洗濯機難しい。

<%= image "img_0857" %>
