---
title: 台湾旅行 その2
tags: taiwan, travel, family
---
朝食は宿のすぐそばで朝から空いている店があったので、そこで肉まん(鮮肉包)を買う。

<%= image "img_0859" %>
<%= image "img_0860" %>

台北101の方向にブラブラ散歩するつもりだったが逆方向に歩いてしまう。
予定を変えて忠考新生駅から東門駅へ移動。

永康街を歩く。
混んでる蔥抓餅の店があった。蔥抓餅好きの父としては並ばざるを得ない。

<pre class="address">
<a href="https://tabelog.com/taiwan/A5403/A540307/54000165/">天津葱抓餅</a>
台湾台北永康街6巷1号
(+886) 0223222765
</pre>

<%= image "img_0861" %>
<%= image "img_0862" %>
<%= image "img_0863" %>

大安森林公園。
[牛背鷺](https://zh.wikipedia.org/zh-cn/%E7%89%9B%E8%83%8C%E9%B9%AD)なる鳥が大量にいた。

<%= image "img_0865" %>
<%= image "img_0866" %>
<%= image "img_0867" %>
<%= image "img_0868" %>

忠孝復興へ戻る。そごうをブラつく。

<%= image "img_0869" %>
<%= image "img_0870" %>

宿のそばで昼飯を調達して、部屋に戻って食べる。
四海木須麵の木須炒麺。

<%= image "img_0872" %>
<%= image "img_0873" %>

休憩してから、忠孝復興駅から出ている九份行きのバスに乗る。
渋滞で1時間半経ってもまだ到着せず。

外を見てたら、ずっと田舎風景だったのに急に都会エリアになる。
google mapで調べたら瑞芳という駅で、ここまで鉄道で来れることを知る。
すると、娘が急にお腹が痛いと言い出し、慌ててその次のバス停で降りる。

「コンビニにトイレがあるはず」と娘が言うので、とりあえず方向に瑞芳駅に歩いて戻る。
最悪、駅にはトイレあるだろうし。
一つ目のコンビニにはなかったけど、瑞芳駅そばのコンビニの2Fにイートインスペースがあり、そこにトイレがあった。

途中下車したバス停に戻って、同じ番号のバスに乗ろうとしたんだけど、九份行きのバスが大量に発着していることを知り、一番早いバスで九份に到着。
細い登り道の両側に観光客向けの店が並んでて、江の島みたい。

<%= image "img_0878" %>
<%= image "img_0879" %>
<%= image "img_0880" %>
<%= image "img_0881" %>

山の上にある聖明宮。

<%= image "img_0882" %>
<%= image "img_0884" %>

芋圓を食べる。ホット、アイス一つずつ。

<pre class="address">
<a href="https://tabelog.com/taiwan/A5403/A540302/54000050/">阿柑姨芋圓</a>
台湾新北市瑞芳区福住里豎崎路5号
</pre>

<%= image "img_0885" %>
<%= image "img_0886" %>

夕焼けまで少しブラつく。

<%= image "img_0887" %>
<%= image "img_0888" %>
<%= image "img_0891" %>

外を見ながら生ビール飲める店があったので入る。

<pre class="address">
<a href="https://www.jiufenhotel.com/?page_id=243">山海觀茶坊</a>
新北市瑞芳區基山街150號
</pre>

<%= image "img_0892" %>
<%= image "img_0893" %>
<%= image "img_0896" %>

雲が多くて夕焼けは微妙。
ランタンがいい具合に点いたので、ブラつきながら下山する。

<%= image "img_0897" %>
<%= image "img_0898" %>
<%= image "img_0899" %>
<%= image "img_0901" %>
<%= image "img_0903" %>
<%= image "img_0905" %>
<%= image "img_0907" %>
<%= image "img_0908" %>
<%= image "img_0910" %>
<%= image "img_e0910" %>
<%= image "img_0912" %>

バス停で待ってたら、バスが満車の表示で止まりもしないでスルーしていく。
おそらく一つ手前のバス停で大量乗車しているものと思われる。
行きで利用した忠孝復興行きのバスで座って帰れる気がしないので、とにかく瑞芳駅に出てそこから鉄道で帰ることに方針変更。

娘が腹痛で途中下車してなかったら、こんな作戦立てられなかったので結果オーライ。

一本スルーしたあと、座って乗車することに成功。

<%= image "img_0913" %>

瑞芳駅到着。奥にあるのが娘を救ったファミマ。

<%= image "img_0914" %>
<%= image "img_0915" %>

ちょうど松山駅行きの列車が来たのでそれに乗る。

<%= image "img_0916" %>

空いてる席に座ろうとしたら、他の乗客に注意される。どうも指定席に座ろうとしたみたい。
親切な女性が通訳アプリ使いながら説明してくれたところによると、自由席は満席らしいのでデッキで過ごす。
特急だったようで、二駅で松山駅についた。激混みの九份から最速で帰ってこれた。

台湾で二番目に大きい饒河街觀光夜市へ。

<%= image "img_0917" %>
<%= image "img_0918" %>
<%= image "img_0919" %>
<%= image "img_0921" %>
<%= image "img_0922" %>
<%= image "img_0924" %>
<%= image "img_0925" %>
<%= image "img_0926" %>
<%= image "img_0927" %>
<%= image "img_0928" %>
<%= image "img_0929" %>
<%= image "img_0931" %>
<%= image "img_0933" %>
<%= image "img_0934" %>
<%= image "img_0935" %>
<%= image "img_0936" %>
<%= image "img_0937" %>

今日はトータルでラッキーだったねえと話しながら帰路につく。

地下鉄に乗って帰るつもりだったが、酔った父は間違えてバス停に向かってしまう。
ちょうどバスが来る時間だったので引き続きラッキーと思いながら道路を横断すると、方向を間違えていて今いた方のバス停にバスが来て去ってしまった。

次のバスまでは時間があるのでコンビニに寄ってトイレ借りて水買って出たら、眼の前の青信号があと4秒だったので走り出す。
渡りきったところで娘が正面にすっ転んで、両手のひらを擦りむいた。
次のバスまでまだ時間があって全然急ぐ必要ないのにやっちまった。

運の総量一定の法則。

バスで忠考新生駅近くで降りる。駅周辺にあるもう一つのそごう。

<%= image "img_0938" %>

今日は盛りだくさんだった。

