---
title: 台湾旅行 その3
---
朝から動物園。
台湾に来てから知ったのですが、今日から台湾は4連休。どこも激混み。

<%= image "img_0940" %>

朝食を売っている宿周辺の店はどこも休日で閉まってたので、入園して取り急ぎ動物園内のコンビニで朝食。

<%= image "img_0941" %>
<%= image "img_0943" %>

めっちゃ広い。ズーラシアより広いと思う。しかも同じ動物が複数箇所にいるので混乱する。

<%= image "img_0945" %>
<%= image "img_0946" %>
<%= image "img_0944" %>

<%= image "img_0947" %>
<%= image "img_0948" %>
<%= image "img_0949" %>
<%= image "img_0950" %>

昆虫館。娘が擬態した昆虫見つけるの異様に早い。才能あるんじゃないか。

<%= image "img_0951" %>
<%= image "img_0952" %>
<%= image "img_0953" %>
<%= image "img_0955" %>
<%= image "img_0956" %>
<%= image "img_0960" %>
<%= image "img_0961" %>
<%= image "img_0963" %>
<%= image "img_0964" %>

動物エリア続き。

<%= image "img_0965" %>
<%= image "img_0971" %>
<%= image "img_0973" %>
<%= movie "hdimg_0974" %>
<%= image "img_0975" %>
<%= image "img_0976" %>

まだ半分近く残ってるけど、一旦、外に出て猫空ロープウェイに乗る。
園内バスでロープウェイの駅へ移動。

<%= image "img_0977" %>

せっかくなので足元が透けてるやつにした。
長距離のロープウェイで角度もかなり急だった。

<%= image "img_0978" %>
<%= image "img_0979" %>
<%= image "img_0984" %>
<%= image "img_0985" %>
<%= image "img_0987" %>
<%= image "img_0989" %>
<%= movie "hdimg_0990" %>

到着。

<%= image "img_0991" %>
<%= image "img_0992" %>

昼飯で[四爺](https://www.taipeinavi.com/food/267/)という店へ。
おしゃれお茶とパイナップルの入った南洋炒飯。

<%= image "img_0998" %>
<%= image "img_0993" %>
<%= image "img_0994" %>
<%= image "img_0995" %>
<%= image "img_0996" %>
<%= image "img_0997" %>

付近を軽く散歩して戻る。

<%= image "img_0999" %>
<%= image "img_1002" %>

動物園に再入園。

<%= image "img_1003" %>
<%= image "img_1004" %>
<%= image "img_1006" %>
<%= image "img_1007" %>
<%= image "img_1008" %>

逃げもせずずっと体かいてる鳥。

<%= image "img_1015" %>
<%= movie "hdimg_1016" %>
<%= image "img_1019" %>

トルコアイス。お約束のやりとり。

<%= movie "hdimg_1020" %>

帰ります。この光景まんまズーラシアだな。

<%= image "img_1021" %>

台北101。チケットその場で買う。17:15頃に17:00-17:30の時間指定チケットを買ったが、激混みでそのまま1時間半並ぶ。
なんのための時間指定なのか。

<%= image "img_1022" %>
<%= image "img_1023" %>

やっと上へ。夕焼け終わってしまった。

<%= image "img_1027" %>
<%= image "img_1028" %>
<%= image "img_1031" %>
<%= image "img_1032" %>

歩いて近くの夜市へ。前回美味かった小籠包の店へ行く。ここも30分ぐらい並んだ。

<pre class="address">
<a href="https://tabelog.com/taiwan/A5403/A540318/54001504/">正好鮮肉小籠湯包</a>
台湾台北市大安區通化街57巷6號
(+886) 227076005
</pre>

<%= image "img_1033" %>

やはり美味い。お代わりして二人で三人前食べた。
ビールは自分で冷蔵庫から出すスタイル。店内で俺しか飲んでないけど。

<%= image "img_1034" %>
<%= image "img_1035" %>

コンビニで台南行き新幹線の往復チケットを印刷する。
アプリでもデジタル乗車券を発券できそうだったけど、娘のチケットの扱いが少し不安だったので手堅く発券した。
仕組み的にはチケットのアプリ間転送機能があるようだけど、初めて使うアプリなので勝手が分からず不安。
台北駅も連休で混んでそうなのでトラブルは避けたい。手数料取られるけど原始的手法でいく。

<%= image "img_1040" %>
