---
title: 台湾旅行 その5
tags: taiwan, travel, food
---
5時に起床して朝ご飯を食べに行く。
バスが行ってしまったのでUber Taxi。

<pre class="address">
<a href="https://tabelog.com/taiwan/A5411/A541101/54003360/">阿村牛肉湯</a>
台湾台南市中西區國華街三段128號
(+886) 62229446
</pre>

牛肉湯と白飯。葱爆牛舌も頼むつもりがすっかり忘れてた。

<%= image "img_1130" %>

歩いて大天后宮へ。

<%= image "img_1131" %>
<%= image "img_1132" %>
<%= image "img_1133" %>

そのまま宿まで歩いて戻って、チェックアウトして台北に戻る。

桃園駅で下車して、空港へ。

<%= image "img_1134" %>

空港でチェックインしたあと、フードコートで牛肉麺。

<%= image "img_1135" %>

帰りまーす。

<%= image "img_1136" %>
