---
title: 鎌倉ハイキング
---
鎌倉でトカゲを初めて見た。

<%= image "img_1142" %>

定点観測。

<%= image "img_1143" %>

八幡宮前の通りの桜は今日がベストではないか。

<%= image "img_1144" %>

お約束の大船で今日も頑張った会。この時点でまだ15:30。
昨日もサウナ行ったので銭湯はスキップしてしまった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14067389/">大船ホルモンセンター</a>
神奈川県鎌倉市大船1-10-7
0467-84-9665
</pre>

<%= image "img_1145" %>
<%= image "img_1146" %>

メガハイボール4杯目で記憶がなくなった。
椅子から転げ落ちて目が覚めて、さっきまで財布に入ってたクレカがないことに気づく。
はていつの間にお会計したのかと思ってしばらく待ってたけど、店員さんに動きがない。
おかしいなと思い10分ぐらい探し回ったあと、よく見たらテーブルにポンと置いてあった。

たぶん会計しようとカードを出してそのまま記憶がなくなったと思われる。そして、目の前にカードがあるのに10分間気づかない。
この店のメガハイボールは危険なので3杯でやめておこう心に誓う。

帰りの電車も乗り過ごして横浜経由で帰宅。
