---
title: 海岸めぐり
---
娘と海岸巡り。逗子駅から歩く。

<%= image "img_1152" %>
<%= image "img_1153" %>
<%= image "img_1155" %>
<%= image "img_1156" %>
<%= image "img_1157" %>
<%= image "img_1158" %>

砂に何度も書いては消えた。

<%= image "img_1160" %>
<%= image "img_1161" %>

ウニが大量に打ち上げられている。
中身も普通に入ってた。食えそう。

<%= image "img_1163" %>
<%= image "img_1164" %>

<%= image "img_1162" %>
<%= image "img_1165" %>

疲れたので一杯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140601/14092623/">Pa'ina Kitchen</a>
神奈川県横須賀市芦名1-16-13
046-884-9008
</pre>

<%= image "img_1167" %>
<%= image "img_1169" %>

20,000歩ぐらい歩いた。10km以上。
