---
title: 九州旅行 その1 (熊本)
---
今日から12日間の九州旅行。

まずANAで熊本へ。

<pre class="flight">
ANA 641 08:10 羽田 - 熊本 09:55
</pre>

自転車を持っていく予定だったんだけど、家を出たときに前輪の空気が抜けていることに気づく。
時間もないし、熊本まで持っていってパンク修理するのも大変なので、急遽電車＆バス旅に切り替える。
前日に空気を入れたときには問題なかったのに。

<%= image "img_1177" %>

空港からのバス。

<%= image "img_1178" %>

バスターミナルにある熊本ラーメン屋で昼飯。

<pre class="address">
<a href="https://tabelog.com/kumamoto/A4301/A430101/43014151/">熊本ラーメン 黒亭 桜町熊本城前店</a>
熊本県熊本市中央区桜町3-10 SAKURA MACHI Kumamoto B1F
096-285-9797
</pre>

<%= image "img_1179" %>

急遽予約したカーシェアで阿蘇方面にドライブして、[大観峰](https://kumamoto.guide/spots/detail/211)。

<%= image "img_1181" %>
<%= image "img_1182" %>
<%= movie "hdimg_1183" %>
<%= image "img_1184" %>
<%= image "img_1185" %>
<%= image "img_1186" %>
<%= image "img_1187" %>

[阿蘇神社](https://asojinja.or.jp/)。

<%= image "img_1188" %>
<%= image "img_1189" %>
<%= image "img_1190" %>

戻りの道中に[温泉](https://dondokoyu.com/)があったので寄る。

<%= image "img_1191" %>

車を返却して[ホテル](https://www.nesthotel.co.jp/kumamoto/)にチェックイン。

<%= image "img_1216" %>
<%= image "img_1192" %>

辛島町をブラブラ。勝烈庵かと思ったら勝烈亭だった。いちご安い。

<%= image "img_1194" %>
<%= image "img_1195" %>

アラクサラ時代の同僚が熊本在住なので飲む。

<pre class="address">
<a href="https://tabelog.com/kumamoto/A4301/A430101/43012895/">惣や 手取本町店</a>
熊本県熊本市中央区手取本町2-20 手取本町Aビル 1F
096-352-0129
</pre>

行きつけの店が日曜で空いてないので、選択肢が限られたとのことだけど、全然美味いす。そして、安い。

<%= image "img_1196" %>

馬刺と馬フタエゴ刺。

<%= image "img_1197" %>
<%= image "img_1198" %>

辛子蓮根。こんな形で揚げてるの始めて見た。

<%= image "img_1199" %>

刺身盛り合わせ、これで2000円。しかもイカゲソは後で天ぷらに、アラは煮付けに。

<%= image "img_1200" %>
<%= image "img_1203" %>
<%= image "img_1205" %>

枝豆ペペロンチーノ。

<%= image "img_1202" %>

ウニチャーハン。

<%= image "img_1206" %>

二軒目、球磨焼酎のバー。
同僚の行きつけの店は同じく日曜は閉まってて、開けろと交渉したけど駄目で、ここを紹介されたらしい。

<pre class="address">
<a href="https://tabelog.com/kumamoto/A4301/A430101/43005730/">焼酎Bar 粋</a>
熊本県熊本市中央区下通1-9-27 ナポレオンビル B1F
096-355-2330
</pre>

球磨焼酎の美味さに目覚める。熟成させてないのにウィスキーとタメはれる。

<%= image "img_1207" %>
<%= image "img_1208" %>
<%= image "img_1209" %>
<%= movie "hdimg_1211" %>
<%= image "img_1212" %>
<%= movie "hdimg_1213" %>

[フラミンゴオレンジ](https://kokubu-imo.com/pg/newsinfo.htm?dltn=20&ostn=0&nid=292)。芋焼酎とは思えない華やかさ。

<%= image "img_1215" %>

いいなあ熊本。
