---
title: 九州旅行 その2 (川内)
tags: kyushu, travel, kagoshima
---
市電で熊本駅へ。

<%= image "img_1217" %>

さらにJRで八代駅へ。

<%= image "img_1218" %>

八代駅から、そのうちなくなるかもしれない[肥薩おれんじ鉄道](https://www.hs-orange.com/)に乗る。

<%= image "img_1219" %>
<%= image "img_1220" %>
<%= image "img_1222" %>
<%= image "img_1224" %>

くまモンが駅長やってた。

<%= image "img_1225" %>
<%= image "img_1227" %>
<%= image "img_1228" %>

教科書でしか見たことのない水俣駅。拓けた町でした。

<%= image "img_1230" %>

一応動画も撮っておく。

<%= movie "hdimg_1231" %>

出水駅着。このおれんじ鉄道はここまで。そのまま同一路線を走っているJRのローカル線に乗り換える手もあったが、一旦外にでる。

<%= image "img_1233" %>

遅めの昼食。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4602/A460204/46014300/">GORILLA KITCHEN</a>
鹿児島県出水市昭和町47-22
0996-68-8813
</pre>

<%= image "img_1235" %>
<%= image "img_1234" %>

後続のJRで西方駅に移動。
その後、5km先の目的地まで徒歩。路線バスに乗る手もあったが、屋久島に向けて少し運動しておかないといけない。

西方海水浴場。

<%= image "img_1237" %>
<%= image "img_1238" %>

諏訪神社。

<%= image "img_1239" %>

川内高城温泉エリアに入る。

<%= image "img_1240" %>
<%= image "img_1241" %>

今日のお宿は[竹屋旅館](https://travel.rakuten.co.jp/HOTEL/158416/158416.html)。湯治宿です。

<%= image "img_1243" %>

外湯って書いてあったから露天風呂かと思ったら、近所にある公衆浴場のことでした。
湯はかなり熱め。サウナのように水風呂に入ってかつインターバルおいたほうがいいようだ。
近所のおじさんたちは床に直座りして雑談してた。

デカいペットボトルに湯を入れて持って帰る人も多数。風呂場に柄杓もあったし飲むんかな。

<%= image "img_1244" %>
<%= image "img_1245" %>

晩飯はさつま揚げだけ食って寝る。

<%= image "img_1246" %>
