---
title: 九州旅行 その3 (鹿児島)
---
朝にもう一度公衆浴場に行ってから移動。
まずはコミュニティバスで川内駅まで。一時間近く乗って、150円だった。バグっとる。しかもほぼ貸し切り。

<%= image "img_1247" %>
<%= image "img_1248" %>

次の電車まで時間あるので朝食。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4602/A460201/46014966/">1tree coffee 川内店</a>
鹿児島県薩摩川内市平佐1-18
</pre>

<%= image "img_1250" %>

鹿児島本線で鹿児島へ。午前中に鹿児島中央駅に到着。

<%= image "img_1251" %>
<%= image "img_1252" %>
<%= image "img_1253" %>

市電で一番にぎやかなエリアな天文館に移動。テレビで見る白熊かき氷あった。

<%= image "img_1254" %>
<%= image "img_1255" %>

ホテルに荷物を預けて、まずは明日の朝の屋久島フェリーの場所を確認に行く。
高速フェリーと発着場所が全然違うので事前に確認しておいてよかった。

チケットは当日朝じゃないと買えないようだ。ついでに屋久島の資料をゲット。

<%= image "img_1258" %>
<%= image "img_1256" %>
<%= image "img_1257" %>

海の向こうは桜島。桜島でも観光に行こうかと思ったんだけど、午後からずっと強い雨なので、桜島に渡るのは断念。

<%= image "img_1259" %>

天文館をブラブラする。このビル、一体どの店舗が個室完備なのか。

<%= image "img_1260" %>

13:00の開店時間になったので、カフェ(?)に入って、屋久島の予習をする。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4601/A460101/46012932/">立飲み屋 Kiritsu</a>
鹿児島県鹿児島市千日町14-21 天文館アーケード 1F
</pre>

<%= image "img_1261" %>
<%= image "img_1269" %>

鳥刺しときびなごの刺身。

<%= image "img_1267" %>
<%= image "img_1268" %>

焼酎はほとんど250円。やっすい。

<%= image "img_1271" %>
<%= image "img_1264" %>
<%= image "img_1265" %>
<%= image "img_1266" %>
<%= image "img_1270" %>

飲んだ焼酎メモ。全部ソーダ割にした。

- 黒利右衛門
- 鉄馬 (シェリー樽7年熟成)
- 小松帯刀

<%= image "img_1272" %>

豚なんこつ煮込みとさつま揚げ。

<%= image "img_1273" %>
<%= image "img_1275" %>

いい具合に酔っ払ったところで、チェックイン時間になったのでホテルへ。今日は[カプセルホテル](https://travel.rakuten.co.jp/HOTEL/145398/145398.html)です。

<%= image "img_1280" %>

ちょっと寝たら夕方になったので二軒目。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4601/A460101/46003588/">丸万元祖焼鳥</a>
鹿児島県鹿児島市山之口町12-31
099-224-6808
</pre>

モモ焼きと鶏皮ポン酢の二品しかメニューのないお店。モモ焼きはバラしてもらった。

<%= image "img_1282" %>
<%= image "img_1283" %>
<%= image "img_1286" %>

三軒目。ゴマカンパチだけ食べに来た。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4601/A460101/46013202/">天文館かごしま横丁</a>
鹿児島県鹿児島市千日町12-1
050-3160-8752
</pre>

<%= image "img_1287" %>

締めはラーメン。SSラーメン/Sチャーハンのセット。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4601/A460101/46000027/">ラーメン小金太</a>
鹿児島県鹿児島市樋之口町11-5
099-223-9455
</pre>

<%= image "img_1288" %>

カプセルホテルは6部屋で1コロニーなんだけど、周りに誰もいなかった。完ソロ。

<%= image "img_1289" %>
