---
title: 九州旅行 その4 (屋久島)
tags: kyushu, travel, yakushima
---
[フェリー屋久島2](https://ferryyakusima2.com/)で屋久島へ。
金額は高速船の半額。去年からエンジントラブルで長期欠航してたけど、先日復活。

<%= image "img_1290" %>

2等船室はオイルくさいので、展望室のソファで過ごしてた。

<%= image "img_1292" %>
<%= image "img_1293" %>
<%= image "img_1294" %>
<%= image "img_1295" %>
<%= image "img_1296" %>

時間通り到着。遅れることが多いらしいんだけど、路線バスは待ってくれないんだって。
乗り過ごすと次のバスは90分後。新紙幣は使えないので注意。
新500円も両替不可。支払いはできる。

<%= image "img_1297" %>
<%= image "img_1298" %>

滞在中はスクーターを借りる予定だったんだけど、レンタカー屋がマイナ免許証不可だそうでスクーターを借りられず、代わりに電動自転車を三時間借りた。
マイナ免許証不可の理由は不明。免許証アプリをスマホにインストールしてあるので、免許証番号を控えるだけなんだけどね。

スクーター前提で予定立ててたので明日以降どうするか作戦を立て直す必要あり。

<%= image "img_1299" %>

明日の登山バスのチケットを購入したあと、[猿川ガジュマル](https://yakukan.jp/spot/7008.html)へ。

<%= image "img_1303" %>
<%= image "img_1304" %>
<%= image "img_1305" %>
<%= image "img_1306" %>
<%= movie "hdimg_1307" %>
<%= image "img_1308" %>

想像以上に屋久島は広かった。3時間だと他に行けるところがないので引き返す。

今日の[宿](https://travel.rakuten.co.jp/HOTEL/128356/128356.html)。

<%= image "img_1309" %>

明日に向けて晩ごはんは生モノは避けてビールも一杯だけ。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4605/A460501/46000341/">八重岳食堂</a>
鹿児島県熊毛郡屋久島町安房66
0997-46-2658
</pre>

<%= image "img_1312" %>
<%= image "img_1310" %>
<%= image "img_1311" %>

宿に戻る道中で安房川の景色が素晴らしいことに気づく。
カヤックに乗りたくなったのでツアーをやってくれるところを調べる。

<%= image "img_1313" %>
