---
title: 九州旅行 その5 (屋久島)
tags: kyushu, travel, yakushima
---
今日は縄文杉トレッキングの日。
4時過ぎに起きて、[あさひ弁当](https://yakushima.co.jp/bento/)を食べる。
前日に連絡しておくと宿に届けてくれます。

<%= image "img_1314" %>

安房から屋久杉自然館、屋久杉自然館から荒川登山口へ。
行きのバスの中でカヤックツアーのメールを書く。屋久杉自然館から電波入らないので、返事は読めず。

<%= image "img_1315" %>
<%= image "img_1316" %>
<%= image "img_1317" %>

登山開始。

<%= image "img_1318" %>
<%= image "img_1319" %>
<%= image "img_1320" %>

こんな感じのトロッコ道を片道8km延々と歩く。

<%= image "img_1321" %>
<%= movie "hdimg_1322" %>
<%= image "img_1323" %>
<%= image "img_1324" %>
<%= image "img_1325" %>

猿の群れが道中に現れる。この写真は木の上にいたけど、ボスザルっぽいのが前方の線路上にいて、しばらく睨み合って、進めんかった。

<%= image "img_1326" %>
<%= image "img_1328" %>
<%= image "img_1329" %>

小杉谷集落。

<%= image "img_1330" %>
<%= image "img_1331" %>

<%= image "img_1332" %>
<%= image "img_1333" %>
<%= image "img_1334" %>
<%= image "img_1335" %>
<%= image "img_1336" %>
<%= image "img_1337" %>
<%= image "img_1338" %>

トロッコ道終了。ここから先はトイレ無し。

<%= image "img_1340" %>
<%= image "img_1341" %>


<%= image "img_1342" %>
<%= image "img_1343" %>
<%= image "img_1344" %>
<%= image "img_1345" %>
<%= image "img_1346" %>
<%= image "img_1347" %>
<%= image "img_1348" %>

ウィルソン株。

<%= image "img_1349" %>
<%= image "img_1350" %>
<%= image "img_1351" %>
<%= image "img_1352" %>
<%= movie "hdimg_1354" %>

王蟲の死骸みたい。

<%= image "img_1355" %>
<%= image "img_1356" %>

大王杉。

<%= movie "hdimg_1357" %>
<%= image "img_1358" %>
<%= image "img_1359" %>

<%= image "img_1360" %>
<%= image "img_1361" %>

縄文杉到着！

<%= image "img_1362" %>
<%= image "img_1363" %>
<%= movie "hdimg_1364" %>
<%= image "img_1365" %>
<%= image "img_1366" %>
<%= image "img_1367" %>

縄文杉を見終わったので昼ごはん。

<%= image "img_1368" %>
<%= image "img_1369" %>
<%= image "img_1370" %>

後半足の踏ん張りが全然効かなくなって、ゴールまでまだ二時間あるのにまた右足首を捻ってしまった。
その後、何度もトロッコ道の段差で追加で捻って何度も転ぶ。そして、なぜか攣る腹筋。しんどい。

<%= image "img_1371" %>
<%= image "img_1372" %>

ようやく下山。トロッコ道が長過ぎる。

<%= image "img_1374" %>
<%= image "img_1376" %>

サンダルでずっと歩いていた女性がいた。化け物か。

<%= image "img_1375" %>

宿に戻って風呂に入る。もう歩きたくないので宿のそばの店へ

<%= image "img_1377" %>

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4605/A460501/46000333/">鮨居酒屋 ヤシマ</a>
鹿児島県熊毛郡屋久島町安房92-1
0997-46-4005
</pre>

<%= image "img_1378" %>
<%= image "img_1379" %>

飛魚のつきあげ。

<%= image "img_1380" %>

ゲソの天ぷら。

<%= image "img_1381" %>

カツオの腹皮。うまい。

<%= image "img_1382" %>

しま茶漬け。

<%= image "img_1383" %>
