---
title: 九州旅行 その6 (屋久島)
---
バスに乗って湯泊温泉へ。海そばの源泉掛け流しなので塩化ナトリウム系かと思ったら、硫黄臭もちゃんとある。

<%= image "img_1385" %>
<%= image "img_1386" %>
<%= image "img_1387" %>

お風呂で居合わせた村長さんが、奥にもう一つ湯船あるよと言うので来てみたら、絶景の野天風呂だった。
満潮時は海に沈むので入れないらしい。今は干潮時。

仙人みたいなおじいさんと入れ替わりに、そこらへんの岩の上に脱いだ服を置いて入浴。
ぬるめの湯で気持ちいい。その後誰も来なかったので、一時間ぐらい独占する。周囲に何も施設はないし、適度に視線も遮られているので最高のロケーション。
<%= image "img_1388" %>
<%= image "img_1389" %>
<%= image "img_1390" %>
<%= image "img_1391" %>
<%= image "img_1393" %>

午後からは安房川半日カヤックツアー。前日にメールしたら、ちょうど予定が空いたらしく受けていただいた。

<%= image "img_1449" %>
<%= image "img_2350" %>

<%= image "img_2351" %>
<%= image "img_1397" %>
<%= image "img_1398" %>
<%= image "img_2352" %>
<%= image "img_1400" %>
<%= image "img_2354" %>
<%= image "img_1402" %>
<%= image "img_2356" %>
<%= image "img_1403" %>
<%= image "img_1404" %>
<%= image "img_1405" %>
<%= image "img_1406" %>
<%= image "img_2360" %>
<%= image "img_1407" %>
<%= image "img_1408" %>
<%= image "img_1409" %>
<%= image "img_1410" %>
<%= image "img_1411" %>
<%= movie "hdimg_1412" %>

ちょうど満潮のタイミングで上陸した中洲がどんどん埋もれていく。

<%= movie "hdimg_1413" %>
<%= image "img_1414" %>
<%= image "img_1416" %>
<%= image "img_2365" %>
<%= movie "hdimg_2368" %>
<%= image "img_2370" %>
<%= image "img_2372" %>
<%= image "img_1417" %>
<%= image "img_2373" %>
<%= image "img_1418" %>
<%= image "img_2374" %>
<%= image "img_1419" %>
<%= image "img_1420" %>
<%= image "img_1421" %>
<%= image "img_1423" %>
<%= movie "hdimg_1424" %>
<%= image "img_1425" %>
<%= image "img_2375" %>
<%= image "img_1427" %>
<%= image "img_1429" %>
<%= image "img_2382" %>
<%= image "img_1430" %>
<%= movie "hdimg_2383" %>
<%= image "img_1431" %>
<%= image "img_1433" %>
<%= image "img_1434" %>
<%= image "img_1435" %>
<%= movie "hdimg_1436" %>
<%= image "img_2385" %>
<%= image "img_2386" %>
<%= image "img_2387" %>
<%= image "img_2389" %>
<%= image "img_1437" %>
<%= image "img_2392" %>
<%= image "img_1438" %>
<%= image "img_1439" %>
<%= image "img_2393" %>
<%= image "img_2394" %>
<%= movie "hdimg_2396" %>
<%= image "img_2400" %>
<%= image "img_2401" %>
<%= image "img_1440" %>
<%= image "img_2406" %>
<%= image "img_2408" %>
<%= image "img_2409" %>
<%= image "img_2410" %>
<%= image "img_2411" %>
<%= image "img_1443" %>
<%= movie "hdimg_2412" %>
<%= image "img_1444" %>
<%= image "img_1445" %>
<%= image "img_1447" %>
<%= image "img_1448" %>

今日の晩飯。宿から2km以上離れてるんだけど、明日のチェックアウトの方法を確認するために宿のお母さんと話してたら、車で送ってくれた。まだ足が痛いのでありがたい。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4605/A460501/46000334/">いその香り</a>
鹿児島県熊毛郡屋久島町安房788-150
0997-46-3218
</pre>

<%= image "img_1516" %>

カメノテの蒸し焼き。蒸してるのでダシが啜れる。うまい。
俺の知ってるカメノテの食べ方と比べると持ち方が逆なのはダシを啜るために特化している。

<%= image "img_1519" %>

飛魚の刺身うまいぞ、なんだこれ。

<%= image "img_1520" %>

島限定 三岳(みたけ)。
なお、首折れサバはなし。最近不漁のようだ

<%= image "img_1522" %>
<%= image "img_1521" %>

島限定 水の森。これくっそ美味い。

<%= image "img_1524" %>

汁。磯の香がすごいのに、ダシはカメノテじゃなくて、地魚のアラらしい。

<%= image "img_1525" %>

地魚盛り合わせ。全部美味い。

<%= image "img_1527" %>

筍の天ぷら、安納芋のフライ、永田の手作り豆腐。

<%= image "img_1528" %>
<%= image "img_1529" %>

無何有(むかう)のロック。

<%= image "img_1530" %>

終バスの時間が過ぎてしまったので歩いて戻るつもりだったけど、バスが遅れて到着。ラッキー。

<%= image "img_1532" %>

最後の夜なので安房川でエビス。

<%= image "img_1533" %>

宿に戻ったらお母さんがいたのでしばらく雑談した後、気に入った安房川で戻って独り3次会。

<%= image "img_1534" %>
