---
title: 九州旅行 その7 (屋久島->鹿児島)
---
バスで宮之浦へ。

<%= image "img_1535" %>

宮之浦にある別のレンタカー屋でスクーターを借りる。マイナ免許証でなんの問題もなかった。
こんな山道走るの初めて。

<%= image "img_1536" %>
<%= image "img_1537" %>

白谷雲水峡へ。ミニスカ発電に空目。

<%= image "img_1539" %>
<%= image "img_1538" %>

苔むす森へ向かう。

<%= image "img_1541" %>
<%= image "img_1542" %>
<%= image "img_1544" %>

腹減ったので[あさひ弁当](https://yakushima.co.jp/bento/)の二段弁当。

<%= image "img_1543" %>
<%= image "img_1545" %>

苔むす森とその近辺。

<%= image "img_1546" %>
<%= image "img_1548" %>
<%= image "img_1549" %>
<%= image "img_1550" %>
<%= image "img_1551" %>
<%= image "img_1552" %>
<%= image "img_1553" %>
<%= image "img_1554" %>
<%= image "img_1555" %>
<%= image "img_1556" %>
<%= image "img_1557" %>
<%= image "img_1559" %>
<%= movie "hdimg_1560" %>
<%= image "img_1561" %>
<%= image "img_1562" %>
<%= image "img_1564" %>
<%= image "img_1566" %>
<%= image "img_1567" %>
<%= movie "hdimg_1568" %>
<%= image "img_1569" %>
<%= movie "hdimg_1570" %>
<%= image "img_1572" %>

太鼓岩は今の右足だと危ないので断念。途中で引き返す。

<%= image "img_1573" %>
<%= image "img_1574" %>
<%= image "img_1575" %>
<%= image "img_1576" %>
<%= image "img_1577" %>
<%= image "img_1578" %>

下山。まだ筋肉痛が残ってるし、捻挫の痛みもあって踏ん張りきかないので、かなりゆっくり歩いた。

<%= image "img_1590" %>
<%= image "img_1579" %>

まだ時間があるのでガジュマル公園へ向かう。でも、見学時間は10分。

<%= image "img_1580" %>
<%= image "img_1581" %>
<%= image "img_1582" %>
<%= image "img_1583" %>
<%= image "img_1584" %>
<%= image "img_1585" %>
<%= image "img_1586" %>
<%= image "img_1587" %>
<%= image "img_1588" %>

鹿児島本土に戻る。時間の関係で高速フェリーにした。

<%= image "img_1589" %>
<%= image "img_1591" %>
<%= image "img_1592" %>
<%= image "img_1598" %>
<%= image "img_1599" %>

タンパク質摂取しとかんとね！

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4601/A460101/46000209/">うなぎの末よし</a>
鹿児島県鹿児島市東千石町14-10
099-222-1525
</pre>

<%= image "img_1600" %>
<%= image "img_1602" %>

二軒目。カウンター一席だけちょうど空いて、30分一本勝負。

<pre class="address">
<a href="https://tabelog.com/kagoshima/A4601/A460101/46000599/">赤鶏炭焼 大安</a>
鹿児島県鹿児島市山之口町9-1 野添ビル　１Ｆ
099-224-6611
</pre>

<%= image "img_1604" %>
<%= image "img_1605" %>
<%= image "img_1606" %>
<%= image "img_1607" %>

ただいま。

<%= image "img_1608" %>

