---
title: 九州旅行 その8 (宮崎)
tags: kyushu, travel, miyazaki
---
市電で鹿児島駅へ移動。

<%= image "img_1609" %>
<%= image "img_1610" %>

日豊本線のきりしま6号で南宮崎に向かう。
次のローカル列車に乗るつもりだったけど、ちょうど目の前に特急が来たので乗ってしまった。この次の列車への接続もいいし。

<%= image "img_1612" %>

ここ自転車で走ったら気持ち良さそう。今後のメモ: 鹿児島-隼人、もしくは鹿児島空港 - 鹿児島駅を自転車で走る。

<%= image "img_1613" %>
<%= image "img_1614" %>

45都道府県目の宮崎県へ到着。あと福井と福島で全県制覇。

<%= image "img_1619" %>

日南線で青島駅へ。

<%= image "img_1620" %>
<%= image "img_1621" %>
<%= image "img_1638" %>

[青島神社](https://aoshima-jinja.jp/)へ向かう。

<%= image "img_1622" %>
<%= image "img_1623" %>
<%= image "img_1624" %>
<%= image "img_1626" %>
<%= image "img_1627" %>
<%= image "img_1628" %>
<%= image "img_1629" %>
<%= image "img_1630" %>
<%= image "img_1631" %>
<%= image "img_1632" %>
<%= image "img_1633" %>
<%= image "img_1634" %>
<%= image "img_1635" %>

観光地なのに電車の便が悪すぎる。少し発車が早いバスに乗る。
反対行きのバス停がかなり混んでたので、念のため一つ手前の停留所から乗ってみたけど、大して混まなかった。

<%= image "img_1640" %>
<%= image "img_1642" %>

宮崎駅着。延岡へ。

<%= image "img_1646" %>
<%= image "img_1655" %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/153527/153527.html)。

<%= image "img_1656" %>
<%= image "img_1657" %>

もう夕方だけど近くの今宮大師に行ってみる。誰もいない。

<%= image "img_1658" %>
<%= image "img_1659" %>
<%= image "img_1660" %>
<%= image "img_1661" %>
<%= image "img_1664" %>
<%= image "img_1665" %>
<%= image "img_1666" %>

ザ・シャッター街を抜けて今日のお店へ。日曜日ということもあるけど、開いてる店が少ない。

<pre class="address">
<a href="https://tabelog.com/miyazaki/A4505/A450501/45002067/">青春の門</a>
宮崎県延岡市祇園町2-1-8
0982-33-6424
</pre>

<%= image "img_1667" %>
<%= image "img_1668" %>
<%= image "img_1669" %>

生ビールセット。刺身、ホルモン煮込み、焼魚がついて1800円。安い。

<%= image "img_1670" %>
<%= image "img_1671" %>
<%= image "img_1672" %>
<%= image "img_1673" %>
<%= image "img_1674" %>
<%= image "img_1675" %>

宮崎だしチキン南蛮は食っとかんとね。

<%= image "img_1676" %>
<%= image "img_1677" %>
