---
title: 九州旅行 その9 (宮崎->別府)
---
朝から結構な雨。7:15にカーシェア借りて[高千穂峡](https://takachiho-kanko.info/)へ。
GWに突入したので、貸しボートの予約が埋まりまくり。何度か試したら8:30の枠でキャンセルが出たので慌てて予約した。

8:15ぐらいに到着。第二駐車場に回されたので、徒歩へ貸しボート乗り場へ。

<%= image "img_1678" %>

道がわからなくてちょっと遅れたけど問題なさそう。ボートに乗り始めてから30分カウントするそうだけど、実際はかなり適当。まあ、30分も乗れば充分。雨が降っててiPhoneのタッチ効きづらい。さらに後ろ向きに漕ぎながらの撮影なので忙しい。

<%= image "img_1679" %>
<%= image "img_1681" %>
<%= image "img_1683" %>
<%= image "img_1685" %>
<%= image "img_1689" %>
<%= movie "hdimg_1690" %>
<%= image "img_1691" %>
<%= image "img_1692" %>
<%= image "img_1693" %>
<%= movie "hdimg_1694" %>
<%= image "img_1696" %>
<%= movie "hdimg_1697" %>
<%= image "img_1700" %>
<%= image "img_1701" %>
<%= image "img_1702" %>
<%= image "img_1703" %>
<%= image "img_1706" %>
<%= image "img_1707" %>
<%= image "img_1708" %>
<%= image "img_1709" %>
<%= image "img_1710" %>

[高千穂神社](https://www.kanko-miyazaki.jp/spot/1032)。

<%= image "img_1712" %>
<%= image "img_1713" %>

[天岩戸神社](https://www.kanko-miyazaki.jp/spot/1013)。
天岩戸は撮影禁止。自由には行けなくて、無料ガイドについていくと入れてもらえる。神社に着いたらちょうどツアー開始時間だった。

<%= image "img_1714" %>
<%= image "img_1719" %>
<%= image "img_1718" %>
<%= image "img_1715" %>
<%= image "img_1716" %>

帰り道にクロネコヤマトがあったので、もうこの旅では使わない登山道具を家に発送する。
妻はマンゴーが送られてきたと勘違いしたらしい。

<%= image "img_1720" %>

にちりん10号で大分へ。さらに乗り換えて別府へ。

<%= image "img_1722" %>
<%= image "img_1724" %>

別府で前職の同僚と合流。

<%= image "img_1728" %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/30130/30130.html)。
せっかくの別府なので、ちょっと奮発して海沿い露天風呂ありにしたら、いい部屋でビビる。カプセルホテルの20倍ぐらい広い。
同僚は温泉に興味がないので別の宿に宿泊。別府まで来てもったいない。

<%= image "img_1731" %>
<%= image "img_1733" %>
<%= image "img_1734" %>
<%= image "img_1735" %>
<%= image "img_1736" %>

露天風呂を堪能したあと、もう一度来たかった店へ。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000327/">チョロ松</a>
大分県別府市北浜1-4
050-5594-6232
</pre>

<%= image "img_1738" %>
<%= image "img_1739" %>
<%= image "img_1742" %>
<%= image "img_1743" %>
<%= image "img_1744" %>
<%= image "img_1745" %>
<%= image "img_1747" %>

二軒目。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000332/">ろばた仁</a>
大分県別府市北浜1丁目15-7
0977-21-1768
</pre>

<%= image "img_1748" %>
<%= image "img_1749" %>
<%= image "img_1750" %>
<%= image "img_1752" %>
