---
draft: true
title: 九州旅行 その9 (宮崎->別府)
---
朝から結構な雨。7:15にカーシェア借りて[高千穂峡](https://takachiho-kanko.info/)へ。
GWに突入したので、貸しボートの予約が埋まりまくり。何度か試したら8:30の枠でキャンセルが出たので慌てて予約した。

8:15ぐらいに到着。第二駐車場に回されたので、徒歩へ貸しボート乗り場へ。

<%= image "img_1678" %>

道がわからなくてちょっと遅れたけど問題なさそう。ボートに乗り始めてから30分カウントするそうだけど、実際はかなり適当。まあ、30分も乗れば充分。雨が降っててタッチ効きづらいし、さらに漕ぎながらの撮影なので忙しい。

<%= image "img_1679" %>
<%= image "img_1681" %>
<%= image "img_1683" %>
<%= image "img_1685" %>
<%= image "img_1689" %>
<%= movie "hdimg_1690" %>
<%= image "img_1691" %>
<%= image "img_1692" %>
<%= image "img_1693" %>
<%= movie "hdimg_1694" %>
<%= image "img_1696" %>
<%= movie "hdimg_1697" %>
<%= image "img_1700" %>
<%= image "img_1701" %>
<%= image "img_1702" %>
<%= image "img_1703" %>
<%= image "img_1706" %>
<%= image "img_1707" %>
<%= image "img_1708" %>
<%= image "img_1709" %>
<%= image "img_1710" %>

高千穂神社。

<%= image "img_1712" %>
<%= image "img_1713" %>

岩戸神社

<%= image "img_1714" %>
<%= image "img_1715" %>
<%= image "img_1716" %>
<%= image "img_1718" %>
<%= image "img_1719" %>

<%= image "img_1720" %>

<%= image "img_1722" %>
<%= image "img_1724" %>

<%= image "img_1728" %>

https://travel.rakuten.co.jp/HOTEL/30130/30130.html

<%= image "img_1731" %>
<%= image "img_1733" %>
<%= image "img_1734" %>
<%= image "img_1735" %>
<%= image "img_1736" %>

<a href="https://tabelog.com/oita/A4402/A440202/44000327/">チョロ松</a>
大分県別府市北浜1-4
050-5594-6232
</pre>

<%= image "img_1738" %>
<%= image "img_1739" %>
<%= image "img_1742" %>
<%= image "img_1743" %>
<%= image "img_1744" %>
<%= image "img_1745" %>
<%= image "img_1747" %>

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000332/">ろばた仁</a>
大分県別府市北浜1丁目15-7
0977-21-1768
</pre>

<%= image "img_1748" %>
<%= image "img_1749" %>
<%= image "img_1750" %>
<%= image "img_1752" %>
