---
title: 九州旅行 その10 (別府)
---
鉄輪に行って[地獄めぐり](https://www.beppu-jigoku.com/)。共通観覧券を買うと、「各地獄の入口にある受付」にそれぞれの券を入れろと言われる。何そのパワーワード。

まずはかまど地獄。

<%= image "img_1754" %>
<%= image "img_1755" %>
<%= image "img_1756" %>
<%= image "img_1757" %>
<%= image "img_1758" %>
<%= image "img_1759" %>
<%= image "img_1760" %>
<%= image "img_1761" %>
<%= image "img_1762" %>
<%= image "img_1763" %>

鬼山地獄。

<%= image "img_1764" %>
<%= image "img_1765" %>
<%= image "img_1766" %>
<%= image "img_1767" %>
<%= image "img_1768" %>
<%= image "img_1769" %>
<%= image "img_1770" %>
<%= image "img_1772" %>
<%= image "img_1777" %>

昼飯、だんご汁。

<pre class="address">
<a href="https://tabelog.com/oita/A4402/A440202/44000227/">湯沢家</a>
大分県別府市鉄輪御幸5-1
0977-66-6440
</pre>

<%= image "img_1780" %>
<%= image "img_1779" %>

白池地獄。

<%= image "img_1781" %>
<%= image "img_1782" %>

ぶらぶら山を登って温泉神社へ。

<%= image "img_1783" %>
<%= image "img_1784" %>
<%= image "img_1785" %>
<%= image "img_1786" %>
<%= image "img_1787" %>

つまり他の地獄ならオッケー。

<%= image "img_1788" %>

海地獄。

<%= image "img_1789" %>
<%= image "img_1790" %>
<%= image "img_1792" %>
<%= image "img_1793" %>
<%= image "img_1794" %>
<%= image "img_1795" %>
<%= image "img_1796" %>
<%= image "img_1797" %>

鬼石坊主地獄。

<%= image "img_1798" %>
<%= image "img_1799" %>
<%= image "img_1800" %>

歩いて離れた残りの地獄へ向かう。

<%= image "img_1801" %>
<%= image "z6f_0581" %>

龍巻地獄。

<%= image "img_1802" %>
<%= image "img_1803" %>
<%= image "img_1804" %>
<%= image "img_1805" %>
<%= image "img_1806" %>
<%= image "img_1808" %>

待ち構えてたらちょうど噴出が始まった。

<%= movie "hdimg_1810" %>
<%= image "img_1811" %>
<%= image "img_1812" %>
<%= image "img_1813" %>
<%= image "img_1814" %>
<%= movie "hdtrimg_1815" %>
<%= image "img_1816" %>
<%= image "img_1817" %>
<%= image "z6f_0761" %>
<%= image "img_1818" %>
<%= image "img_1819" %>

血の池地獄。

<%= image "img_1820" %>
<%= image "img_1821" %>
<%= image "img_1824" %>
<%= image "img_1826" %>
<%= image "img_1827" %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/160771/160771.html)

古い別館を予約してたんだけど、空いているのか本館に回される。
しかも一階の玄関に近い部屋なので、冷蔵庫で冷やしたビールを持ち出せるので、この後の地獄蒸しに便利。

<%= image "img_1828" %>

調味料を確認して、スーパーに行って食材を調達する。

<%= image "img_1830" %>
<%= image "img_1831" %>
<%= image "img_1832" %>

地獄蒸し開始。食材ごとの最適な蒸し時間が書いてあるんだけど、受付の人は全部ぶち込んじゃって20分待てと言われる。

<%= image "img_1833" %>
<%= image "img_1835" %>
<%= image "img_1836" %>

すぐそばに唐揚げ屋さんがあった。注文してから揚げるのでアツアツ。

<%= image "img_1837" %>

宴の開始。

<%= image "img_1838" %>
<%= image "img_1839" %>
<%= image "img_1840" %>
<%= image "img_1841" %>
<%= image "img_1842" %>
<%= image "img_1844" %>
<%= image "img_1845" %>

風が強いため、しばらくしたら寒くなってきたので部屋に移動して二次会。

明日は朝から別行動のため、そのまま解散。
