---
title: 九州旅行 その11 (北九州)
tags: kyushu, travel, kitakyushu
---
バスで別府に向かい、別府から日豊本線で宇佐へ。

<%= image "img_1852" %>

駅を降りたらそこはアメリカだった。

<%= image "img_1854" %>
<%= image "img_1856" %>

[宇佐神社](http://www.usajinguu.com/)。八幡宮の総本社。全ての八幡宮の産みの親。八幡宮を愛し八幡宮に愛された八幡宮。

<%= image "img_1859" %>
<%= image "img_1860" %>
<%= image "img_1861" %>
<%= image "img_1862" %>
<%= image "img_1863" %>
<%= image "img_1864" %>
<%= image "img_1865" %>

下宮へ。三神が祀られている。後で気づいたけど、さきに上宮に行くべきっぽい。

<%= image "img_1866" %>
<%= image "img_1867" %>
<%= image "img_1868" %>

若宮神社。

<%= image "img_1869" %>

上宮。こっちも三神。

<%= image "img_1870" %>
<%= image "img_1871" %>
<%= image "img_1872" %>
<%= image "img_1873" %>
<%= image "img_1874" %>

亀山神社。

<%= image "img_1875" %>

広い、神社だらけ。

<%= image "img_1876" %>
<%= image "img_1878" %>
<%= image "img_1879" %>
<%= image "img_1880" %>
<%= image "img_1881" %>
<%= image "img_1882" %>
<%= image "img_1883" %>

八坂神社。

<%= image "img_1885" %>

国東半島には大量の神社があるようだ。歩いて回っても面白いかも。

<%= image "img_1886" %>
<%= image "img_1887" %>
<%= image "img_1888" %>

流鏑馬の道を歩く。

<%= image "img_1889" %>
<%= image "img_1890" %>
<%= image "img_1891" %>
<%= image "img_1892" %>

宇佐神宮の外へ。次のバスまでまだ時間があるので、山の中の神社に行ってみる。
宇佐神宮と同様に二拝四拍二拝するべきかどうか悩む。

<%= image "img_1893" %>
<%= image "img_1894" %>

出発時刻が列車より早いバスで中津へ向かう。結構遅れて来た上に到着もさらに遅れた。列車の方が先に着いたかも。

<%= image "img_1896" %>
<%= image "img_1899" %>
<%= image "img_1900" %>

福澤諭吉先生の[旧居](https://fukuzawakyukyo.com/)へ。

<%= image "img_1901" %>
<%= image "img_1902" %>
<%= image "img_1903" %>
<%= image "img_1904" %>
<%= image "img_1905" %>
<%= image "img_1906" %>
<%= image "img_1907" %>
<%= image "img_1909" %>

中津城はリニューアル(?)のため休館で入れず。

<%= image "img_1910" %>
<%= image "img_1911" %>
<%= image "img_1912" %>
<%= image "img_1914" %>
<%= image "img_1915" %>

小倉へ移動。

<%= image "img_1916" %>
<%= image "img_1918" %>

九州最後の夜。

<pre class="address">
<a href="https://tabelog.com/fukuoka/A4004/A400401/40001071/">味楽</a>
福岡県北九州市小倉北区京町1-6-28
050-5595-5384
</pre>

<%= image "img_1920" %>
<%= image "img_1921" %>
<%= image "img_1922" %>
<%= image "img_1923" %>
<%= image "img_1924" %>
<%= image "img_1925" %>

駅のホームでかしわうどん。そのまま、ホームに来た列車に乗る。

<%= image "img_1926" %>
<%= image "img_1927" %>
<%= image "img_1928" %>

門司駅到着。フェリーにはまだ時間があるので、本当は門司港駅近辺を散策するつもりだったんだけど、門司駅と門司港駅という異なる二つの駅があることに気づいておらず、同じ駅だと思い込んでた。

<%= image "img_1929" %>
<%= image "img_1931" %>

今から門司港駅に向かうのは時間的に微妙なので門司駅周辺をブラつくが何もねえ。
軽く飲めそうな良さげな飲み屋も無し。

<%= image "img_1933" %>
<%= image "img_1935" %>
<%= image "img_1936" %>
<%= image "img_1937" %>

ようやくバスが来て、新門司港のフェリー乗り場へ移動。

<%= image "img_1938" %>
<%= image "img_1940" %>

これから[東京九州フェリー](https://tqf.co.jp/)で横須賀に向かいます。21時間の船旅。

<%= image "img_1941" %>
<%= movie "hdimg_1942" %>

乗船。

<%= image "img_1943" %>

部屋は一番安いツーリストA。レギュラーシーズンなので18,000円。

<%= image "img_1944" %>
<%= image "img_1945" %>

出航まで時間があるので、急いで風呂に入る。

<%= image "img_1946" %>

出航。

<%= image "img_1947" %>
<%= image "img_1949" %>
<%= image "img_1950" %>
<%= movie "hdimg_1955" %>
<%= image "img_1957" %>
<%= movie "hdimg_1958" %>
<%= movie "hdimg_1959" %>
