---
title: 蓮くん誕生日
tags: dinner, birthday, family
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14085861/">Gastronomia Heritage Yokohama</a>
神奈川県横浜市西区平沼1-37-15 モンテベルデ第2横浜 102
050-5890-7724
</pre>

<%= image "img_1990" %>
<%= image "img_1991" %>
<%= image "img_1992" %>
<%= image "img_1993" %>
<%= image "img_1994" %>
<%= image "img_1995" %>
<%= image "img_1996" %>
<%= image "img_1997" %>
<%= image "img_1998" %>
<%= image "img_1999" %>
<%= image "img_2001" %>

<%= image "img_2002" %>
<%= image "img_2007" %>
