---
title: 宮古島キャンプ再挑戦 その1
tags: miyako, camp, travel
---
前回のキャンプ旅は寒すぎたので宮古島再挑戦。

<%= image "img_2035" %>

今回は、事前に宅急便でキャンプ道具をヤマト営業所に発送してみたので、身軽。

<%= image "img_2036" %>

前回うまかったので、空港そばのマンゴー屋さんへ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47029131/">Blue Turtle Farm Mango Cafe</a>
沖縄県宮古島市平良松原1760-3
0980-79-7274
</pre>

<%= image "img_2041" %>
<%= image "img_2037" %>
<%= image "img_2040" %>

[今回の宿](https://hpdsp.jp/horinoyado/)。

<%= image "img_2043" %>
<%= image "img_2044" %>

とりあえず海。最寄りのスーパーにビール買いに行ったら、18時の時点で店やりながら酒盛りしてた。さすがやで。

<%= image "img_2046" %>
<%= image "img_2049" %>

晩ごはん。開店直後は満席だったけど、観光地のお約束で20時頃にいけば空いてる。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47030333/">島おでん ゑびす</a>
沖縄県宮古島市平良西里259-2
050-1287-3437
</pre>

<%= image "img_2055" %>

島おでん。デカいテビチが2つも入ってる。

<%= image "img_2050" %>
<%= image "img_2051" %>

いかげそ墨炒め。さらに麺を追加。

<%= image "img_2052" %>
<%= image "img_2053" %>
<%= image "img_2054" %>
