---
title: 宮古島キャンプ再挑戦 その3
tags: camp, miyako, travel
---
日の出を撮影。
半袖で寝れた。二月はヒートテックとダウンジャケットを着ても、寝袋から腕も出せないぐらい寒かったのに。
たった三ヶ月で真冬から真夏になった。

<%= image "img_2083" %>
<%= image "img_2086" %>
<%= movie "hdimg_2087" %>

足りない物を補充するために、自転車で町に出る。
とりあえずジョイフルで朝食。

<a href="https://tabelog.com/okinawa/A4705/A470503/47004639/">ジョイフル 宮古店</a>
沖縄県宮古島市平良605
0980-74-2205
</pre>

<%= image "img_2088" %>

釣り道具一式買ってきた。

<%= image "img_2089" %>

おやつはスイカ。

<%= image "img_2090" %>

今回持ってきた大活躍のガスバーナー。これのせいで、今回の旅では二回しか焚き火をしなかった。
便利すぎる。お湯がすぐに沸くのよ！

<%= image "img_2091" %>

今日も誰もいねえ。

<%= image "img_2092" %>

何の千切り？と思ったら、裏に書いてあった。

<%= image "img_2094" %>
<%= image "img_2095" %>

晩飯はソーセージ入焼きそば。こういうのでいいのよ。

<%= image "img_2098" %>
<%= image "img_2099" %>

例年なら梅雨が始まってるらしいけど、全日晴れの予報！

<%= image "img_0037" %>
