---
title: 宮古島キャンプ再挑戦 その4
tags: camp, miyako, travel
---
昨夜は微風のため寝苦しくて何度も目が覚める。寝袋なしで寝たけどそれでも暑くて、最後はテントの入り口開けた。温度調整難しい。

キャンプ場の眼の前と浜は遠浅で魚があまり寄ってこないので、夜明けに島尻漁港に釣りに来てみた。
小魚にエサを突かれるけど釣れず。難しい。

<%= image "img_2100" %>
<%= image "img_2101" %>

最寄りのスーパーで朝飯買ってキャンプ場に戻る。

<%= image "img_2103" %>

キャンプ場に誰もおらんので洗濯機が使えない。しょうがないので14km離れたコインランドリーへ自転車で向かう、道中の農園の無人販売でパパイヤ売ってた。
氷をゲットしたタイミングで冷やして食べよう。

<%= image "img_2104" %>
<%= image "img_2105" %>

その足で電源のあるビール屋さんへ。充電しながら地ビール。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028723/">IslandBrewing</a>
沖縄県宮古島市平良下里615-1
0980-79-7156
</pre>

<%= image "img_2108" %>
<%= image "img_2114" %>
<%= image "img_2111" %>

シークワーサーセゾン。

<%= image "img_2106" %>

沖縄ソーキのスモークBBQ。

<%= image "img_2109" %>

マンゴーIPA。

<%= image "img_2110" %>

クラフトビールお高めだけど、オリオンは安かった。

<%= image "img_2112" %>

アイランド・ナチョス。

<%= image "img_2113" %>

最終のバスで戻る。完ソロ三日目。

<%= image "img_2115" %>

毎夜毎夜テントの周囲をガサガサと人が歩く音がするなと思ったらヤシガニだった。
ハンモックにいたら至近距離で足音すれど姿が見えず。足元を見たらヤシガニがいた。

姿見えたら見えたであのフォルムと色が怖いし。ツメで挟まれたらヤバいし。

素早く逃げられてまた写真撮れなかった。
ソフトボールぐらいのサイズだった。
