---
title: 宮古島キャンプ再挑戦 その5
---
昨夜ははぼ無風。テント全開して、寝袋無しで寝た。それでも寝汗かいた。日焼けで体が火照っているというのもあり。
オーナーによるともう梅雨の時期なのにこれだけ晴れが続くのは珍しいらしい

<%= image "img_2116" %>
<%= image "img_2119" %>

朝飯。

<%= image "img_2120" %>

晴れてれば5000mAhのモバイルバッテリーを満充電できた。これで生きていける。

<%= image "img_2121" %>

西平安名崎で釣りしてみる。ここも小魚に突かれて終わり。

<%= image "img_2122" %>
<%= image "img_2123" %>
<%= image "img_2124" %>
<%= image "img_2125" %>
<%= image "img_2126" %>
<%= image "img_2127" %>

ちゃんと泳げる深さの西の浜ビーチに来た。雪塩の直売所の横。

<%= image "img_2132" %>
<%= image "img_2128" %>
<%= image "img_2129" %>

ガーリックチキンをテイクアウト。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028463/">ガーリックチキンチキチキ</a>
沖縄県宮古島市平良狩俣4451-4
0980-79-7870
</pre>

<%= image "img_2130" %>

ガーリックチキンと宮古島産カツオ。

<%= image "img_2131" %>

パパイヤターイム。

<%= image "img_2133" %>

<%= image "img_2134" %>

今日こそヤシガニを撮影してやろうと身構えてるんだけど、物音すれど姿が見えず。
結局、最終日まで撮影できず。

今夜は2組泊まりに来てた。
