---
title: 宮古島キャンプ再挑戦 その6
tags: miyako, camp, travel
---
毎日、夜明け前に起きてます。めっちゃ健康的。

<%= image "img_2142" %>
<%= image "img_2143" %>

蚊取り線香が切れた。死活問題なので町に出る。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47000106/">古謝そば屋</a>
沖縄県宮古島市平良字下里1517-1
0980-72-8304
</pre>

<%= image "img_2145" %>
<%= image "img_2144" %>

穴釣りポイントが全然ないので、ついでにルアーもゲット。何の釣りすればいいのか正解がわからんけど。

<%= image "img_2146" %>

干潮時にウロウロしてたら、生き物一杯いた。

<%= image "img_2148" %>
<%= image "img_2149" %>
<%= image "img_2150" %>
<%= image "img_2151" %>
<%= image "img_2152" %>
<%= image "img_2155" %>
<%= image "img_2157" %>
<%= image "img_2161" %>
<%= image "img_2164" %>
<%= image "img_2165" %>
<%= image "img_2166" %>
<%= image "img_2168" %>
<%= image "img_2169" %>
<%= movie "hdimg_2170" %>
<%= image "img_2171" %>

生き餌ゲット。

<%= image "img_2173" %>

今日も暑かった。頼むからもうちょっと風吹いてくれ。

ジーマミー豆腐がもっちりしてて美味い。

<%= image "img_2174" %>

分かりづらいけど、小さく聞こえるこの安い電子音の木魚の正体が分からない。一晩中鳴いててうるさい。慣れたけど

<%= movie "hdimg_2179" %>

ChatGPTに相談したら、シロハラクイナと教えてくれた。

<iframe width="560" height="315" src="https://www.youtube.com/embed/tCM3x49B5kc?si=U9pKUkO1xiLSeRne" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

