---
title: 宮古島キャンプ再挑戦 その7
---
朝焼け見ながら30分ほど竿を出したが、さっぱり。
一匹跳ねてる魚はいた

<%= image "img_2182" %>
<%= image "img_2183" %>

この旅で最も不要だったもの。

<%= image "img_2184" %>

「宮古そば食べに行こう」とキャンプ場のオーナーに連れられて昭和のゲーム喫茶へ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47008234/">とすと</a>
沖縄県宮古島市平良字西里1327-3
0980-75-4385
</pre>

ドアは黒塗りで中は見えない。店内はやたら広くて、全てのテーブル席に間仕切りがある。テーブル筐体は稼働してた。タバコ臭い。そばは普通にうまいし量が二郎。

<%= image "img_2186" %>
<%= image "img_2185" %>

チェックアウトから三日経っているが延泊料金はまだ払っていない。「いつでもいいよ」と言われて払うタイミングない。

狩俣集落を探索した。宮古島中央部とは異なる独自のコミュニティで言語も違ってたらしい。石の門と石垣で集落を囲っていた。

<%= image "img_2187" %>
<%= image "img_2188" %>
<%= image "img_2189" %>
<%= image "img_2190" %>
<%= image "img_2191" %>
<%= image "img_2192" %>
<%= image "img_2193" %>
<%= image "img_2194" %>
<%= image "img_2195" %>
<%= image "img_2196" %>
<%= image "img_2197" %>
<%= image "img_2198" %>
<%= image "img_2199" %>
<%= image "img_2200" %>
<%= image "img_2201" %>

禁足地あり。たぶん[この空間](https://maps.app.goo.gl/9BqABRDbrszV6P2Z8)。

<%= image "img_2202" %>

狩俣集落の情報は[このpdf](https://www.city.miyakojima.lg.jp/soshiki/kyouiku/syougaigakusyu/hakubutsukan/files/kiyou09-2.pdf)にまとまっていた。俺、今たぶん内地で一番狩俣集落に詳しい。

ンナグズグスなる崖下の水場の話を、キャンプ場のオーナーが2回も話すので見に行く。
足音を聞いて、鳥が逃げてくんだけど、ドタバタ大きな音を立ててドンクサそうに逃げていく。姿は見えないけど、どうも野生のクジャクらしい

これが最後の看板で、この後草木ボウボウの道なき道を進むんだけど、目的地が見つからない。おかしいなあと炎天下をそのまま延々と歩いてたら、キャンプ場のすぐそばの道路に出る。
以上をオーナーに報告したら、「だよなあ、俺6回ぐらい行ったけど、全然見つけられないもん」
そういうこと先に言おうや！

<%= image "img_2208" %>

一休みして2回目の挑戦。たぶんこの下だと思うけど、木が邪魔してて降りれない。集落の人たち、看板立てて名所にしたいんなら整備してくれ。

<%= image "img_2206" %>

<%= image "img_2203" %>
<%= image "img_2204" %>
<%= image "img_2205" %>
<%= image "img_2207" %>

遠見の石。

<%= image "img_2209" %>
<%= image "img_2211" %>

二日ぶり完ソロ記念焼肉。

<%= image "img_2212" %>
