---
title: 宮古島キャンプ再挑戦 その8
tags: camp, miyako, travel
---
<%= image "img_2213" %>

昼は、にいまそば。二月の宮古島に来たときに、コーヒーショップで店員さんと話してて、狩俣のキャンプ場に泊まってると言ったら、近くに一番うまい宮古そばの店があるとのこと。今回はヘビロテする気まんまんで初日にいったら「当面の間臨時休業」の看板。
この話をキャンプ場のオーナーにしたら、「日曜から空いてるよ」とのことなので来た。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028426/">にいまそば</a>
沖縄県宮古島市平良狩俣3
</pre>

<%= image "img_2217" %>

予約必須の店で、8:30から予約開始なんだけど、8:50の時点で予約簿はこんな感じ。

<%= image "img_2216" %>

なぜ、当面臨時休業になったのかキャンプ場のオーナーが知ってた(プレイベート情報なので略)。
「駐車場は俺がユンボで作った」とのこと

11:00に戻ってきて、ちぢれ麺の三枚肉。優しい味でした。今週もう一度行く。

<%= image "img_2218" %>

暑いのでもう一回ビール飲みに行く。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028723/">IslandBrewing</a>
沖縄県宮古島市平良下里615-1
0980-79-7156
</pre>

とりあえずのオリオン、島野菜のバーニャカウダと、バッファローウィング。

<%= image "img_2219" %>
<%= image "img_2221" %>
<%= image "img_2222" %>

Wolf Breu (首里)のAlt。

<%= image "img_2223" %>

Johnny UtahのPale Ale。

<%= image "img_2224" %>
