---
draft: true
title: 宮古島キャンプ再挑戦 その8
---
<%= image "img_2213" %>

<%= image "img_2216" %>
<%= image "img_2217" %>
<%= image "img_2218" %>

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028723/">IslandBrewing</a>
沖縄県宮古島市平良下里615-1
0980-79-7156
</pre>

<%= image "img_2219" %>
<%= image "img_2221" %>
<%= image "img_2222" %>
<%= image "img_2223" %>
<%= image "img_2224" %>
