---
draft: true
title: 宮古島キャンプ再挑戦 その8
---
<%= image "img_2213" %>


昼はにいまそば。二月の宮古島に来たときに、コーヒーショップで店員さんと話してて、狩俣のキャンプ場に泊まってると言ったら、近くに一番うまい宮古そばの店があるとのこと。今回はヘビロテする気まんまんで初日にいったら「当面の間臨時休業」の看板。
この話をキャンプ場のオーナーにしたら、「日曜から空いてるよ」とのことなので来た。
予約必須の店で、8:30から予約開始なんだけど、8:50の時点で予約簿はこんな感じ。

なぜ、当面臨時休業になったのかキャンプ場のオーナーが知ってたw(プレイベート情報なので略)
「駐車場は俺がユンボで作った」とのこと


優しい味でした。今週もう一度行く。

<%= image "img_2216" %>
<%= image "img_2217" %>
<%= image "img_2218" %>

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028723/">IslandBrewing</a>
沖縄県宮古島市平良下里615-1
0980-79-7156
</pre>

<%= image "img_2219" %>
<%= image "img_2221" %>
<%= image "img_2222" %>
<%= image "img_2223" %>
<%= image "img_2224" %>
