---
title: 宮古島キャンプ再挑戦 その9
tags: camp, food, miyako
---
<%= image "img_2240" %>

昼はパーントゥ焼きそば。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47025111/">パーントゥ食堂</a>
沖縄県宮古島市平良字島尻1462
</pre>

<%= image "img_2242" %>
<%= image "img_2241" %>

<%= image "img_2243" %>

今日も焚き火で、火遊び晩酌。

キャンプ場にふらっと来た女の人と話をする。オーナーの姪とのこと。

<%= image "img_2246" %>

19:00ぐらいにキャンプ場に車で乗り付けて、沖の方に1kmぐらい歩いていく二人組がいた。夜釣りかしらね。

<%= image "img_2250" %>
