---
title: 宮古島キャンプ再挑戦 その10
---
にいまそば二回目。

<%= image "img_2252" %>

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47028426/">にいまそば</a>
沖縄県宮古島市平良狩俣3
</pre>

細麺のなんこつそば。細麺の方が好み。じゅーしーがめっちゃ美味かった。

<%= image "img_2253" %>

昨日キャンプ場にふらっと来たオーナーの姪が来て、手作りドーナツの差し入れをもらった。おいしい。

<%= image "img_2254" %>
<%= image "img_2255" %>

日曜日から一度もキャンプ場のオーナーに会えてない。延泊料金(8泊分)踏み倒しまで後二日！

<%= image "img_2256" %>

夕方海に入ると、お湯。

<%= image "img_2257" %>
<%= image "img_2258" %>

デカめのヤドカリがいた。

<%= movie "hdimg_2265" %>
<%= image "img_2266" %>

眼の前の島バナナの木、よくみたら実がなってた。

<%= image "img_2267" %>
