---
title: 宮古島キャンプ再挑戦 その12
tags: miyako, camp, travel
---
夜の雨で濡れたテント外を乾かしながら撤収開始。

<%= image "img_2278" %>
<%= image "img_2280" %>
<%= image "img_2281" %>

テントに大量の翅がくっついていた。羽アリらしい。

<%= image "img_2282" %>

荷物を発送して、朝ご飯。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47026775/">Coffee Barista</a>
沖縄県宮古島市平良字西里840-2
0980-79-7866
</pre>

<%= image "img_2283" %>

天然温泉にいく。バスでうえのドイツ村。

<%= image "img_2286" %>

そこから自転車で、[シギラ黄金温泉](https://shigira.com/onsen)へ。

<%= image "img_2287" %>
<%= image "img_2288" %>

夜は前職の同僚がちょうど宮古島に来ているので一緒に飲む。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47001059/">ぽうちゃたつや</a>
沖縄県宮古島市平良字西里275
0980-73-3931
</pre>

<%= image "img_2291" %>

同僚は明日の早朝からダイビングなので早めに解散。一人で二次会へ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47030333/">島おでん ゑびす</a>
沖縄県宮古島市平良西里259-2
050-1287-3437
</pre>

<%= image "img_2293" %>
