---
draft: true
title: 宮古島キャンプ再挑戦 その12
---
<%= image "img_2278" %>
<%= image "img_2280" %>
<%= image "img_2281" %>
<%= image "img_2282" %>
<%= image "img_2283" %>
<%= image "img_2286" %>
<%= image "img_2287" %>
<%= image "img_2288" %>
<%= image "img_2291" %>
<%= image "img_2292" %>
<%= image "img_2293" %>

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47030333/">島おでん ゑびす</a>
沖縄県宮古島市平良西里259-2
050-1287-3437
</pre>
