---
draft: true
title: 
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14076735/">もつしげ 大船店</a>
神奈川県鎌倉市大船1-10-7
0467-81-3548
</pre>

<%= image "img_2332" %>
<%= image "img_2334" %>
<%= image "img_2335" %>
<%= image "img_2337" %>
<%= image "img_2338" %>
<%= image "img_2339" %>
<%= image "img_2340" %>
<%= image "img_2342" %>
<%= image "img_2343" %>
