---
title: 鎌倉ハイキング
---
しまった、紫陽花の時期なので、今日は激混みデーだ。

<%= image "img_2332" %>
<%= image "img_2334" %>

定点観測。
昨日の雨の影響で足元がぬかるんでいる。

<%= image "img_2335" %>

いつものルーチーン。
大船行って、サウナからの記憶をなくすメガハイボール！

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14076735/">もつしげ 大船店</a>
神奈川県鎌倉市大船1-10-7
0467-81-3548
</pre>

<%= image "img_2337" %>
<%= image "img_2338" %>
<%= image "img_2339" %>
<%= image "img_2340" %>
<%= image "img_2342" %>

締めは豚山。

<%= image "img_2343" %>
