---
title: OB飲み
---
AWSのOBで飲む。

0次会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1303/A130302/13236001/">クラフトビアバル IBREW 恵比寿駅前店</a>
東京都渋谷区恵比寿南1-8-1 STM恵比寿ビル B2F
050-5597-8505
</pre>

<%= image "img_2352" %>

1次会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1303/A130302/13107302/">ブロッ＆コリー</a>
東京都渋谷区恵比寿西1-10-16 ウェストパークビル 2F
03-3476-0613
</pre>

<%= image "img_2354" %>
<%= image "img_2357" %>
<%= image "img_2358" %>
<%= image "img_2359" %>
<%= image "img_2360" %>
<%= image "img_2361" %>
<%= image "img_2362" %>

2次会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1303/A130302/13301479/">餃子専門 八宝亭 恵比寿店</a>
東京都渋谷区恵比寿南2-1-12 サトウビル 1F
050-5594-5452
</pre>
