---
title: ベトナム旅行 その1 (ホーチミン)
---
今日から6/27までベトナム旅行。
フライトは下記。深夜便なので家で風呂入ってから羽田空港へ。

<pre class="flight">
2025/06/07 | 02:00 - 06:10 | VJ821 (HND - SGN)
2025/06/09 | 10:45 - 12:05 | VJ624 (SGN - DAD)
2025/06/24 | 12:00 - 13:20 | VJ508 (DAD - HAN)
2025/06/27 | 00:30 - 08:00 | VJ932 (HAN - NRT)
</pre>

LCCのVietjetを使う。オンラインチェックインしてもパスポートチェックのためにカウンターに並ばないといけない。紙の搭乗券も必要。

<%= image "img_2368" %>
<%= image "img_2369" %>

ホーチミン行きのフライトは5,700円なんだけど、なんだかんでチャージされて、23,500円。

<%= image "img_0050_edited" %>

席は2,550円を追加で払って12Aを指定した。たぶん最強席。でも、シート自体が硬くてあまり眠れず。

<%= image "img_2371" %>

ホーチミン着。入国は長蛇の列で一時間以上かかった。途中でスタッフの一斉交替式もあった。さすが社会主義国。

<%= image "img_2373" %>
<%= image "img_2375" %>

空港からホテルはGrab Carで移動。今後はGrab Bikeも活用したいので、道中バイクの2人乗りの仕方を観察する。みんなほとんど足だけで体支えてる。

ホテルは[Akoya Saigon Central Hotel](https://akoyahotel.com/)。Agoraで予約した。

<%= image "img_2376" %>

この時点でまだ8時前なので荷物を預かってもらって観光へ。

ホテルから一番近いIndependence Palace。

展示が人物中心の説明で全体のストーリーがわからない。ベトナムの歴史勉強しないといけない。

<%= image "img_2377" %>
<%= image "img_2378" %>
<%= image "img_2381" %>
<%= image "img_2382" %>
<%= image "img_2383" %>
<%= image "img_2384" %>
<%= image "img_2386" %>
<%= image "img_2387" %>

昼飯は[Quán Mì Cật](https://www.foody.vn/ho-chi-minh/mi-cat-truong-dinh)で麺。
米粉平打ち麺、豚レバー、汁無し。美味い。最後の最後で下にタレが溜まっていることに気づく。混ぜて食うのか。

<%= image "img_2392" %>
<%= image "img_2389" %>
<%= image "img_2391" %>

ベンタイン市場。

<%= image "img_2394" %>
<%= image "img_2393" %>

サイゴン川を見たいが車線数が多いのと交通量が多すぎて横断できない。

<%= image "img_2395" %>
<%= image "img_2396" %>
<%= image "img_2397" %>

Saigon Opera House。[A O SHOW](https://www.luneproduction.com/ao-show?show_id=1&venue_id=&location_id=&from_date=2025-05-31T17%3A00%3A00.000Z&to_date=2025-06-30T17%3A00%3A00.000Z&limit=&step=0)は土日は開催していないので断念。

<%= image "img_2398" %>

丸亀製麺。

<%= image "img_2399" %>

12時半でもう歩き疲れたので、チェックインの時間までビール飲むことにする。
East West Pale Ale。地元のクラフトビールの醸造所の直営店らしい。

今日も早朝から頑張った。

<%= image "img_2400" %>
<%= image "img_2401" %>
<%= image "img_2402" %>

ビール飲んでるうちに雨が降り出した。ホテルに戻って昼寝。

<%= image "img_2403" %>

夜になって晩飯を食いにいく。
徒歩30分ぐらいなのでブラブラ歩きながら行こうとしたが、方向を勘違いして1時間以上かかった。

タンディン教会。

<%= image "img_2405" %>

晩飯はバインセオと揚げ春巻き。
後述の旧友がこの店を教えてくれた。

<pre class="address">
<a href="https://tabelog.com/vietnam/A8101/A810110/81000200/">BANH XEO 46A</a>
ベトナム46A Dinh Cong Trang,Dist1,Dist1,HCM City
(+84) 0838241110
</pre>

<%= image "img_2407" %>
<%= image "img_2408" %>
<%= image "img_2409" %>
<%= image "img_2410" %>

店長が大量にいる。

<%= image "img_2411" %>

終盤戦になって、下の方の葉っぱは全然種類が違うことに気づく。しかも香草系。なんかパンチが足りないなと思ってたんだよな。

<%= image "img_2412" %>

その後、たまたま出張で来てた大学時代の同級生と合流。たぶん15年以上振り。
まさかこんなところで会うとは。

明日の早朝に帰国とのことで早々に解散する。
