---
title: ベトナム旅行 その4 (ダナン)
tags: da nang, travel, vietnam
---
右眼がまだ調子悪いので午前中は宿でゴロゴロ。

宿の1Fにあるオシャレコーヒー屋で初ココナッツコーヒー。美味い。

<%= image "img_2530" %>
<%= image "img_2532" %>

いまだにベトナムドンの貨幣価値が身につかず、支払いで戸惑う。特にこの四枚。
ホーチミンの飯屋で20,000ドン(110円)だして、お釣りもらおうとしたら、ちょっとキレられた。200,000ドンのつもりだったんやー。

<%= image "img_2533" %>

昼過ぎにお腹空いたのでご飯食べに行く。タイミングが外れたのでやってない店もちらほら。
ある程度客がいるシーフード屋があったのでここにする。

<pre class="address">
<a href="https://www.foody.vn/da-nang/hai-san-be-ni">Hải Sản Bé Ni 2</a>
228 Võ Nguyên Giáp, Phước Mỹ, Sơn Trà, Đà Nẵng 550000 ベトナム
</pre>

<%= image "img_2535" %>

生簀とボード見て注文するスタイル。1人なので小さい皿で出してくれとお願いする。

<%= image "img_2544" %>
<%= image "img_2545" %>
<%= image "img_2546" %>
<%= image "img_2547" %>
<%= image "img_2549" %>

やっと飲めたよLarue。

<%= image "img_2536" %>

指差し注文したSò Mía (オイノカガミ)。
葱油焼きで頼んだ。ネギかと思ったらレモングラスの茎だった。美味いけど、レモングラスは硬いのでちょっとしか食べてない。

<%= image "img_2537" %>

牡蠣。ガーリック炒めを頼んだつもりだけど、ピーナッツ炒めだった。美味いけどね。

<%= image "img_2539" %>
<%= image "img_2541" %>

ボードの値段見て少しビビってたけど、実際の値段はビール二杯と料理で1400円ぐらい。小さい皿が半人前扱いのようだ。でも、ボードがkg単位の値段になってるが、この皿500g入ってるか？ ルール難しいぞ。
突き出しで勝手に置かれたピーナッツは手をつけてないので引いてもらう。

<%= image "img_2543" %>

お寺 (Đình Mỹ Khê)があったのでお参り。

<%= image "img_2550" %>
<%= image "img_2551" %>
<%= image "img_2552" %>

二軒目はmì quảngのお店。

<pre class="address">
Mì Quảng Ông Cảnh
367 Hồ Nghinh, Phước Mỹ, Sơn Trà, Đà Nẵng 550000 Vietnam
</pre>

<%= image "img_2558" %>
<%= image "img_2553" %>

麺を注文したあと、ビール無いなあと思ってメニュー見てたらソフトドリンクの欄にあった。ソフトドリンクとは。

<%= image "img_2554" %>

注文のタイミング逃したらお茶が運ばれてきて、これが思いのほかうまかったのでビール頼むのやめた。

ベトナムでは麺を啜っちゃいけないのすぐ忘れる。

<%= image "img_2556" %>

宿に戻る。シャワー浴びてから1Fでライムネード。降りてすぐコーヒー屋があるのめっちゃ便利。

<%= image "img_2561" %>

吟味したビーチセット。折りたたみレジャーシート、防水スマホケース、100均の財布には現金と部屋のカードキーとプリペイドクレカ。
これで貴重品を持ったまま海に入れる。
問題は天気予報がずっと雨なこと。

<%= image "img_2560" %>
<%= image "img_2559_edited" %>
