---
title: ベトナム旅行 その6 (ダナン)
---
起きたら両眼が目ヤニだらけ。
朝から土砂降りだし、眼の調子も悪いので昼まで宿でダラダラ。

とはいえ昨日のジムで筋肉痛なのでタンパク質を摂取する必要あり。
昨日の店にもう一回行ってSteak and Egg。

<pre class="address">
Phở Bát Đá- Bún Chả Hà Nội
216-218 Trần Bạch Đằng, Bắc Mỹ Phú, Ngũ Hành Sơn, Đà Nẵng 550000 Vietnam
</pre>

雨で観光もできないので110円ビールを昼から飲むしかない。

<%= image "img_2586" %>
<%= image "img_2587" %>

宿のコーヒー屋に戻ってコーヒータイム。

<%= image "img_2588" %>

色んなコーヒーを一通り飲んでオリジナルの味を理解したので、カスタマイズをしようと、ベトナムコーヒーをNo sugarにしてもらった。
濃ゆいし苦い。ちょうどいいの難しい。
氷がたっぷり入ってるので溶かしながらゆっくりの飲むのがいいのかなあ。

晩飯。
さらに土砂降りが激しくなって、Grab Carでドア開けて、店まで歩く距離ですら体がビショビショになるので、隣のステーキ屋にした。
Flank Steak 180g。
ビール二杯つけて2,136円。

<pre class="address">
<a href="https://butchershopplus.com/">Butcher Steak Danang</a>
64 Lê Quang Đạo, Bắc Mỹ Phú, Ngũ Hành Sơn, Đà Nẵng 550000 Vietnam
</pre>

<%= image "img_2589" %>
<%= image "img_2590" %>

宿のコーヒー屋に戻ってHerbal Tea。
ゆっくり飲んでたらめっちゃ濃くなった。

<%= image "img_2591" %>

部屋に戻ってゴロゴロしていたが、隣りの部屋がうるさいので向かいのバーに飲みに来た。

<%= image "img_2592" %>

二杯目にマンゴースムージー飲もうとしたが、売り切れとのことで、ストロベリースムージーを飲む。分かってたけど、甘味料でくっそ甘い。

<%= image "img_2593" %>

今回使ったeSIMは[これ](https://www.amazon.co.jp/gp/aw/d/B0DJ7B8FR7
)。30日間データ無制限ですげえ助かる。
日本で事前設定したら、ホーチミンに着陸前から電波拾ってActivateされた。

iPad miniからのテザリングもオッケーで、ホーチミンのホテルのWiFiより安定していた。
