---
title: ベトナム旅行 その18 (ハノイ)
tags: vietnam, travel, hanoi
---
今日はハノイへの移動。
前日にVietjetから通知がきて、また一時間前の便に勝手に変更された。
乗客が足りないと便を集約するのかしら。
さらに朝の時点でフライトが70分遅延とのこと。好きにしてくれ。

とりあえず近所で朝フォー。60,000ドン。

<%= image "img_3236" %>
<%= image "img_3237" %>

2時間前に空港着。問題なくセキュリティを越える。

まだバインボーたべてないので空港の売店で買ってみた。
カボチャのやつで25,000ドン。
ゲートそばの店でカフェアメリカーノを買う。75,000ドン。空港価格。

<%= image "img_3245" %>
<%= image "img_3247" %>

11:40(搭乗開始予定時刻)になってそろそろ列に並ぼうかと思ったらなんか変。
同じハノイ行きだけど10分早い別の航空会社の便が同じゲートってどういうこと…

<%= image "img_3253" %>

ゲート6のVietnam Airlinesのスタッフに聞いたら、何か変、Vietjetのスタッフに確認してくれと言われる。
別の同じく困っていた外国人旅行者がVietjetのスタッフ捕まえて聞いたら、ゲート1になったとのこと。

<%= image "img_3254" %>

別フロアのゲート1に急いで来たら閑散としている。画面表示は知らない航空会社(Vietravel Airlines)の14時台のホーチミン行き。
そこにいるスタッフに聞いたら画面がハノイ行きに変わった。なんだかなあ

<%= image "img_3256" %>

この時点でほとんどの乗客がゲート難民。
外国人旅行者っぽいのが続々と集まってくる。ベトナム人はあまり見かけない。

12:01、まだボーディング待ち列が大量に残っているし、バスで移動して飛行機に乗りつけるので、当分離陸出来ないな。

<%= image "img_3257" %>

12:32、ドアクローズ。大量の持ち込み荷物を押し込むイベントは発生しなかった。平和だ。

後から聞くとゲートが直前に変わるのは国内線あるあるらしい。
なのでベトナム人だけ慌ててないのか。なるほど。

ハノイ着。見慣れた煙幕。

<%= image "img_3258" %>

バスで市内まで行ってみる。45,000ドン。
86番がエアポートバスらしい。同じ乗り場に68番に停まるバスがある。紛らわしい。

<%= image "img_3259" %>
<%= image "img_3260" %>
<%= image "img_3261" %>

車掌おらんなあと思ったら、運転手が途中で停車して集金に来た。

<%= image "img_3262" %>
<%= image "img_3263" %>

[今回の宿](https://www.airbnb.jp/rooms/1249823699700552853)。

<%= image "img_3264" %>
<%= image "img_3265" %>
<%= image "img_3266" %>
<%= image "img_3267" %>
<%= image "img_3268" %>

付近を散策。電線無茶苦茶やなあ。配電盤開いてるし。

<%= image "img_3269" %>

公園歩こうとしたら、立ち入り禁止だった。
反対側は行政府で銃を持った軍人が見張ってる。
ひたすら直進する。

<%= image "img_3270" %>

偉そうなホテルだなあと思ったら、Army Hotelだった。

<%= image "img_3271" %>

立ち食い串揚げ屋。興味深いが難易度高そう。

<%= image "img_3272" %>

西湖。

<%= image "img_3273" %>
<%= image "img_3274" %>

晩飯は日本人がベトナムで経営している有名なピザ屋にした。麻布台ヒルズに支店がある。

<pre class="address">
<a href="http://pizza4ps.com/">Pizza4Ps Bao Khanh</a>
11B Bao Khanh Hoan Kiem Ha Noi
</pre>

なんとかハッピーアワーに滑り込んだので、ビール二杯目タダ。

<%= image "img_3284" %>
<%= image "img_3278" %>
<%= image "img_3280" %>
<%= image "img_3281" %>
<%= image "img_3282" %>

昨日を超えてさらに最高額達成。

<%= image "img_3283" %>

花屋兼八百屋。

<%= image "img_3285" %>

二軒目はデザート。

<pre class="address">
Chè Khúc Bạch Phô Mai
16 P. Nguyễn Trường Tộ, Trúc Bạch, Ba Đình, Hà Nội, Vietnam
</pre>

Sữa chưa hoa quả (Yogurt, fresh fruits, white pearl, passion fruit sauce)。
40,000ドン。
しゅあーちゅあーほあーと片言で料理名を発音してたら、あー分かったからもういいと流された。

<%= image "img_3286" %>
<%= image "img_3288" %>
<%= image "img_3289" %>
<%= image "img_3275" %>

点眼二日目でほぼ目ヤニでなくなった。ありがとうダナンの薬局。

<%= image "img_3290" %>
