---
title: ハングリータイガー
tags: hungry tiger, hamburg steak, yokohama
---
横浜市民のソウルフード。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140302/14000062/">ハングリータイガー 保土ヶ谷本店</a>
神奈川県横浜市保土ケ谷区星川3-23-13
045-333-7023
</pre>

<%= image "img_3583" %>
<%= image "img_3591" %>
<%= image "img_3592" %>

ステーキよりハンバーグが美味いという結論になった。
西のさわやか、東のグリタイ。

<%= image "img_3595" %>
<%= image "img_3599" %>
<%= image "img_3600" %>
<%= image "img_3601" %>

ヨシ。

<%= image "img_3604" %>
<%= image "img_3605" %>
