---
title: ふもとっぱら その3
tags: camp, shizuoka, travel
---
夜明け。結局一度も富士山は見れず。

<%= image "img_3633_edited" %>

前夜は雨が降り出したのでテントで寝た。
天気予報的には晴れだったけどタープ張っといて良かった。今回はキレイに張れた。

<%= image "img_3631" %>

家で寝るよりテントの方がレム睡眠の時間が長くなった
(後半の赤い部分は夜が明けてからハンモックに移動したので、半分起床している)。

<%= image "img_3634_edited" %>

河口湖駅に戻る。

<%= image "img_3635" %>
<%= image "img_3636" %>
<%= image "img_3637" %>

河口湖商店街バス停から最寄りの[日帰り温泉](https://www.yamagisi.jp/hot_spring.html)へ。
少し待たせてもらって利用可能になる15時から入るが、エアコンが効いてないので風呂上がりに汗がひかない。
風呂もイマイチだったので、次回は他の日帰り温泉を探す。

<%= image "img_3638" %>
<%= image "img_3640" %>

バス停のすぐそばの店でほうとうを食べる。

<pre class="address">
<a href="https://tabelog.com/yamanashi/A1903/A190303/19004308/">ほうとう不動 河口湖駅前店</a>
山梨県南都留郡富士河口湖町船津3631-2
0555-72-5560
</pre>

<%= image "img_3641" %>
<%= image "img_3642" %>
<%= image "img_3643" %>

バスの発車時間を30分間違えたことに気づいて、ビールをまったり飲みながら長めに滞在しようと思ったんだけど、バス発車までまだ50分あるのにみんな帰っちゃった。早いぞインバウンド。

ビールおかわりしようとしたら断られた。16時前に入店したけど閉店時間聞いてないし、ラストオーダーも聞かれてないんですけど。
店もやる気ないんなら[閉店時間](http://www.houtou-fudou.jp/location.html)を書き換えてくれ。

<%= image "img_3644" %>

ローソン前で記念撮影者多数。どうも富士山が背景に見えるローソンとしてインバウンドで有名らしいんだけど、今日は曇ってて富士山が全く見えてない。
ローソン自体が名所化したようだけど、これ撮ってどうすんだ。意味わからん。

<%= image "img_3645" %>
<%= image "img_3646" %>

横浜経由で帰宅。何だろうこの外国から帰ってきたみたいな感覚。

#### Lesson Learned

- ブヨに刺されるので長ズボンを履く
- 上着も忘れるな
- 高地で曇りが多いし、木陰にテント張ってるので日差しが弱い。ソーラー充電器は役に立たない
- 油ぐらいは持っていこう
