---
title: 鱧しゃぶ
---
鱧しゃぶの会にご招待いただいた。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1311/A131106/13054593/">谷中 鳥よし</a>
東京都台東区谷中3-14-6
03-3823-6298
</pre>

<%= image "img_3693" %>
<%= image "img_3694" %>
<%= image "img_3695" %>
<%= image "img_3696" %>
<%= image "img_3697" %>
<%= image "img_3698" %>
<%= image "img_3699" %>
<%= image "img_3700" %>

帰りに終電に乗ったはずなのに気がついたら武蔵小杉で降りてた。意味がわからない。

朝まで時間潰して始発で帰る。

なお、翌日も朝帰りという体たらく。
そのさらに翌日も飲みだったけど、終電までに帰ったら家族に褒められた。
