---
title: 銀座デリー
tags: curry, dinner, ginza
---
AWSサポートの古いーメンバー4人でカレー飲み会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130101/13002616/">デリー 銀座店</a>
東京都中央区銀座6-3-11 西銀座ビル 3F
050-5571-4620
</pre>

<%= image "img_3882" %>
<%= image "img_3883" %>
<%= image "img_3884" %>
<%= image "img_3885" %>
<%= image "imp_3887" %>

カレーは4人でバラバラに頼んでシェア。
インド、カラヒ、コルマ、カシミール。

<%= image "img_3889" %>

二次会は久しぶりのシェリー屋さん。

<%= image "20250827-2106_img8580" %>

プロフィール写真撮ってもらう。

<%= image "20250827-2125_img8583" %>
<%= image "20250827-2126_img8585" %>
<%= image "a7r8587" %>
