---
title: 黒崎の鼻 その2
tags: miura, camp, sunrise
---
日の出。

<%= image "img_3907" %>
<%= image "img_3908" %>
<%= image "img_3909" %>
<%= image "img_3911" %>
<%= image "img_3912" %>

荷物片付けてコメダ珈琲でモーニング。無料モーニング初めて食べた。

<%= image "img_3913" %>

一時間ぐらい自転車走らせて久里浜へ。

朝風呂からの地魚漬け丼。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140601/14066188/">漁師料理 よこすか</a>
神奈川県横須賀市久里浜8-17-23
046-834-3431
</pre>

<%= image "img_3914" %>

帰宅してキャンプ道具片付けてから前職の送別会にご招待いただいので品川シーサイドへ。

<%= image "img_3917" %>

その後、青物横丁で朝まで飲む。
さすがに疲れた。
