---
title: みなとみらい
tags: minatomirai, art, lunch
---
みなとみらいギャラリーに娘が行きたいというのでお出かけ。

まずは昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14029714/">やさい家めい ルミネ横浜店</a>
神奈川県横浜市西区高島2-16-1 ルミネ横浜店 7F
050-5890-9425
</pre>

<%= image "img_3931" %>
<%= image "img_3933" %>
<%= image "img_3934" %>
<%= image "img_3935" %>
<%= image "img_3938" %>

歩いてみなとみらいへ。

<%= image "img_3947" %>
