---
title: アメリカ列車旅行 その1 サンフランシスコ
tags: us, travel, san francisco
---
息子と二人でアメリカをアムトラックで横断してきます。
行きはZIPAIR。

<%= image "img_3948" %>

サンフランシスコ着。見たことのない塗装の飛行機があった。

<%= image "img_3950" %>
<%= image "img_3951" %>
<%= image "img_3955" %>

BARTでダウンタウンへ移動。

<%= image "img_3956" %>
<%= image "img_3957" %>

WiFiのないところを移動するので今回はT-Mobileの無制限プランのSIMを日本で購入した。
5GUCのアイコン初めてみた。

<%= image "img_3949_edited" %>

今回のお宿は[ホステル](https://www.airbnb.jp/rooms/1207404109634140813)の二人部屋。

<%= image "img_3961" %>

ユニオン・スクエアへ散歩。

<%= image "img_3962" %>
<%= image "img_3963" %>
<%= image "img_3965" %>
<%= image "img_3966" %>

晩ごはんはメキシカンで軽く済ませる。

<pre class="address">
<a href="https://www.tropisueno.com/">Tropisueno</a>
75 Yerba Buena Ln, San Francisco, CA
</pre>

タコスメモ: Chile verde, Carnitas, Birria。

<%= image "img_3970" %>
<%= image "img_3971" %>
<%= image "img_3972" %>
<%= image "img_3973" %>

Sierra Nevada Pale Aaleをホテルそばの酒屋で買ったら$6.51。何もかもが高い。

<%= image "img_3974" %>

寝台車のアップグレードのオークションを申し込んでいたんだけど、アムトラックから通知が来て、落札できたとのこと。(ほぼ)最低金額で上がれた。
これで50時間の電車旅が快適になる。

<%= image "img_3976_edited" %>
