---
title: アメリカ列車旅行 その2
---
ケーブルカー。立ち乗りでテンションが上がる息子さん。

<%= movie "hdimg_3977" %>
<%= movie "hdimg_3978" %>
<%= image "img_3980" %>
<%= movie "hdtrimg_3981" %>
<%= image "img_3982" %>

Mason駅から徒歩でPier 33へ。

<%= image "img_3983" %>
<%= image "img_3984" %>

[アルカトラズ島ツアー](https://www.cityexperiences.com/ja/san-francisco/city-cruises/alcatraz/tour-options/alcatraz-day-tour/)に参加。

<%= image "img_3986" %>
<%= image "img_3988" %>
<%= image "img_3989" %>
<%= image "img_3993" %>
<%= image "img_3994" %>
<%= image "img_3995" %>
<%= image "img_3997" %>
<%= image "img_4001" %>
<%= image "img_4004" %>
<%= image "img_4006" %>
<%= image "img_4008" %>

到着。刑務所跡地を見学。

<%= image "img_4012" %>
<%= image "img_4013" %>
<%= image "img_4014" %>
<%= image "img_4015" %>

入所者が最初に浴びるシャワー室。

<%= image "img_4016" %>
<%= image "img_4017" %>
<%= image "img_4018" %>
<%= image "img_4020" %>
<%= image "img_4023" %>
<%= image "img_4024" %>

運動場。

<%= image "img_4025" %>
<%= image "img_4026" %>
<%= image "img_4027" %>
<%= image "img_4029" %>

図書室。

<%= image "img_4030" %>
<%= image "img_4031" %>

画材も持ち込めたそうで。

<%= image "img_4032" %>
<%= image "img_4033" %>

面会エリア。

<%= image "img_4034" %>
<%= image "img_4035" %>
<%= image "img_4036" %>

事前に[ビデオ](https://www.amazon.co.jp/dp/B0B8P3FDPM)見て予習してた、脱獄に使われた通路と脱獄部屋。

<%= image "img_4038" %>
<%= image "img_4039" %>
<%= image "img_4041" %>
<%= image "img_4042" %>
<%= image "img_4043" %>
<%= image "img_4044" %>
<%= image "img_4045" %>
<%= image "img_4047" %>
<%= image "img_4058" %>

記念撮影。

<%= image "img_4048" %>
<%= image "img_4049" %>
<%= image "img_4051" %>

食堂。

<%= image "img_4052" %>
<%= image "img_4053" %>
<%= image "img_4055" %>
<%= image "img_4056" %>
<%= image "img_4057" %>

元囚人の人が書いた本のサイン会やってた。
「今日はサイン会があります！」的な説明を入口でやってたけど、たぶん毎日通勤してきている。

<%= image "img_4059" %>

戻ります。

<%= image "img_4061" %>
<%= image "img_4062" %>
<%= image "img_4063" %>
<%= movie "hdimg_4064" %>
<%= image "img_4065" %>
<%= image "img_4066" %>

海岸エリアをブラブラ。

<%= image "img_4071" %>
<%= image "img_4073" %>
<%= image "img_4074" %>
<%= image "img_4075" %>
<%= image "img_4076" %>

アシカが馬鹿みたいに集まっている。

<%= image "img_4077" %>
<%= movie "hdimg_4078" %>
<%= image "img_4079" %>
<%= image "img_4080" %>
<%= movie "hdimg_4081" %>

Fishermans wharf着。

<%= image "img_4087" %>

昼飯。クラムチャウダーとMac&Cheese。ClamとCrabのどっちが欲しいのかうまく伝わらずに苦労する。

<pre class="address">
<a href="https://boudinbakery.com/">Boudin Bakery</a>
160 Jefferson Street, Lower Level, San Francisco, CA
</pre>

<%= image "img_4082" %>
<%= image "img_4084" %>
<%= image "img_4085" %>
<%= image "img_4086" %>
<%= image "img_4088" %>

ロンバード・ストリート。

<%= image "img_4091" %>

ケーブルカー博物館。実際の動力機がある。
どう動いてるのかめっちゃ勉強になる。

<%= image "img_4092" %>
<%= image "img_4094" %>
<%= movie "hdimg_4095" %>
<%= image "img_4096" %>
<%= image "img_4098" %>
<%= image "img_4099" %>
<%= image "img_4100" %>

サンフランシスコ来たらそりゃ乗っとくよね[Waymo](https://waymo.com/intl/jp/)。
運転めっちゃうまいし、当たり前だけど迷いがない。すごい。

<%= image "img_4102" %>
<%= image "img_4103" %>
<%= movie "hdimg_4106" %>
<%= movie "hdimg_4107" %>
<%= movie "hdimg_4109" %>

Golden Gate Bridge。
ちょっと橋を歩いたけど雨が降ってるので退散。

<%= image "img_4111" %>
<%= image "img_4113" %>
<%= image "img_4115" %>
<%= image "img_4116" %>
<%= image "img_4117" %>
<%= image "img_4124" %>

City Hall。

<%= image "img_4125" %>

一旦ホステルに戻ろうとバスに乗ったら、降りたバス停からホステルの道が危なかった。
歩道に大量の人が座り込んでた。いわゆる一本隣の通りに出ただけで急に雰囲気変わるやつ。
早足でホステルに戻る。今日まで気づいてなかったけど、ホステルのすぐ横の通りだった。

少し休憩してもう一度、Fishermans Wharfに移動。
サンフランシスコ来たらシーフード食っとかんとね。

<pre class="address">
<a href="https://scomas.com/">Scoma's</a>
1965 Al Scoma Way Pier 47, Fisherman's Wharf, San Francisco, CA
</pre>

<%= image "img_4128" %>

時間ちょっと早いので付近をぶらつく。

<%= image "img_4129" %>
<%= image "img_4130" %>

入店。
Calamari Fritti、Linguini con Vongole、"Lazy Man's" Cioppino。

<%= image "img_4132" %>
<%= image "img_4133" %>
<%= image "img_4134" %>
<%= image "img_4138" %>
<%= image "img_4135" %>
<%= image "img_9907" %>

夜のケーブルカーで帰宅。

<%= image "img_4141" %>
