---
title: アメリカ列車旅行 その5 シカゴ
tags: chicago, travel, us
---
深夜のリンカーン駅着。一時間半ぐらい遅延中。

<%= image "img_4367" %>

起きたらオマハ過ぎてた。アイオワ州に突入。

<%= image "img_4369" %>
<%= image "img_4371" %>
<%= image "img_4376" %>
<%= movie "hdimg_4378" %>
<%= image "img_4380" %>
<%= movie "hdimg_4381" %>
<%= image "img_4382" %>

コーン畑らしい。

<%= image "img_4386" %>
<%= image "img_4387" %>
<%= image "img_4391" %>
<%= movie "hdimg_4398" %>

ロッキー山脈超えたら緑が濃い。土壌と高度の違いかしら。
電波も比較的安定している。

<%= image "img_4400" %>
<%= image "img_4402" %>
<%= image "img_4407" %>

クレストン駅。現在50分遅れ。

<%= image "img_4410" %>

たまに現れるメガソーラー。

<%= image "img_4411" %>

朝食。

<%= image "img_4413" %>
<%= image "img_4414" %>
<%= image "img_4415" %>

Ottumwa駅。車掌に聞いたら「おたむま駅」らしい。「む」は小さく発音。Native American語だそうです。

<%= image "img_4416" %>

Mt. Pleasant駅。

<%= image "img_4418" %>
<%= image "img_4419" %>
<%= image "img_4420" %>
<%= image "img_4422" %>
<%= image "img_4423" %>

Burlinton駅。

<%= image "img_4424" %>
<%= image "img_4426" %>

ミシシッピ川を超えたらイリノイ州。

<%= image "img_4436" %>
<%= movie "hdimg_4432" %>

この列車最後のご飯。今日は晩飯が遅いので、食堂車に行くのを遅らせたらランチ終了10分前で最後の客だった。
息子が仲良くなったインド人夫妻と相席。

<%= image "img_7639" %>
<%= image "img_0050" %>
<%= image "img_0052" %>

Galesburg駅。30分遅れ。

<%= image "img_4446" %>

<%= image "img_4457" %>

シャンプーがない問題に続き、シャワーが排水されなくなった。三時間経ってもこのままなので息子は風呂キャン界隈。

<%= image "img_4459" %>

停車駅じゃないけど、Aurora駅があった。

<%= image "img_4461" %>

シカゴ前の最後のNaperville駅。25分遅れ。

<%= image "img_4468" %>
<%= image "img_4469" %>
<%= image "img_4470" %>

16分遅れで、終点のシカゴ・ユニオン駅到着。

<%= image "img_4474" %>
<%= image "img_4478" %>
<%= image "img_4480" %>
<%= image "img_4483" %>

シカゴの宿はホテルにした。

<pre class="address">
<a href="https://www.hilton.com/en/hotels/chiwjgi-hilton-garden-inn-chicago-central-loop/">Hilton Garden Inn Chicago Central Loop</a>
245 S. Franklin St., Chicago, Illinois
</pre>

<%= image "img_4484" %>
<%= image "img_4486" %>
<%= image "img_4487" %>

荷物をおいて観光。金融街。

<%= image "img_4488" %>

ウィリス・タワーへ。

<%= image "img_4489" %>
<%= image "img_4494" %>
<%= image "img_4498" %>

Skydeckへ登る。

<%= image "img_4501" %>
<%= image "img_4502" %>
<%= image "img_4504" %>
<%= image "img_4506" %>
<%= image "img_4507" %>
<%= image "img_4510" %>
<%= image "img_4517" %>
<%= image "img_4524" %>
<%= image "img_4529" %>
<%= image "img_4531" %>
<%= movie "hdtrimg_0109" %>
<%= image "img_4539" %>
<%= image "img_0110" %>
<%= image "img_4544_edited" %>
<%= image "img_0114" %>
<%= image "img_4551" %>
<%= image "img_4552" %>
<%= image "img_0123" %>
<%= image "img_4555" %>
<%= image "img_4556" %>
<%= image "img_0118" %>
<%= image "img_4558" %>
<%= image "img_0127" %>

夜はブルースを聞きに[House of Blues](https://www.houseofblues.com/)へ。

<%= image "img_4566" %>

ブルースは午後9時以降にライブ会場やバーで実施されることがほとんどで、この場合は州法で21才以下は店に入れない。
息子は19才なのでこの制限に抵触するんだけど、この店はレストランが併設されていて、レストランの客は21時以降も入店できる。
しかも、この日はライブ演奏があるので、食事しながらブルースが聴ける。

Spinach artichoke dipとBaby back ribs。

<%= image "img_4560" %>
<%= image "img_4568" %>
<%= image "img_4569" %>
<%= image "img_4570" %>

ライブ。

<%= movie "hdimg_4565" %>
<%= movie "hdimg_4567" %>
<%= movie "hdimg_4571" %>
