---
title: アメリカ列車旅行 その7 シカゴ
---
ホテルをチェックアウト。フロントに荷物を預けて朝ご飯を食べに行く。
狙ってた店は時間が早すぎて開いてなかったので、金融街の他の店に入る。

<pre class="address">
<a href="https://www.goddessandthebaker.com/">Goddess and the Baker</a>
181 West Madison Street, Chicago, IL 60602
</pre>

<%= image "img_4821" %>
<%= image "img_4825" %>

Iced Bananas Foster Latte, Persian Tea, Avocado Toast, Bacon Avocado Omelette。

<%= image "img_0298" %>
<%= image "img_0299" %>
<%= image "img_4823" %>
<%= image "img_0301" %>
<%= image "img_4824" %>

<%= image "img_4826" %>
<%= image "img_4827" %>

[シカゴ文化センター](https://www.chicago.gov/city/en/depts/dca/supp_info/chicago_culturalcenter.html)。

<%= image "img_4836" %>
<%= image "img_4828" %>
<%= image "img_4829" %>
<%= image "img_4833" %>
<%= image "img_4834" %>
<%= image "img_4835" %>

ミレニアム・パーク。

<%= image "img_4837" %>
<%= image "img_4838" %>
<%= image "img_4840" %>

シカゴ美術館。三時間以上滞在したけど全然時間が足らない。

<%= image "img_4841" %>
<%= image "img_4847" %>
<%= image "img_4848" %>
<%= image "img_4849" %>

「蓮りり」という[絵](https://collection.terraamericanart.org/objects/10/lotus-lilies)があった。

<%= image "img_4843" %>

息子がどうしてもガチョウを撮りたいというので今日も噴水。

<%= movie "hdimg_4850" %>
<%= image "img_4851" %>
<%= image "img_4855" %>

予定が詰まってるので徒歩圏内でウォークインできるピザ屋へ。

<pre class="address">
<a href="https://www.ginoseast.com/">Gino's East</a>
521 South Dearborn St. Chicago, IL 60605
</pre>

Hummus plateと、Deep dish pizza 9inch (Gino's supreme w/ Italian sausage)。

<%= image "img_4861" %>
<%= image "img_4862" %>
<%= image "img_4863" %>

シカゴピザを初めて食べた。耳の部分がクラストで意外とうまい。
小さい方の9インチ(22cm)を二人で食べて腹いっぱい。

<%= image "img_4867" %>
<%= image "img_4868" %>
<%= image "img_4871" %>
<%= image "img_4866" %>

雰囲気の悪い電車はやめて、バスで郊外へ移動。

<%= image "img_4872" %>

一昨日に続いてブルース2軒目。[Kingston Mines](https://kingstonmines.com/)。
たぶん22才のときに来た店がここだと思うんだけど記憶が怪しい。

<%= image "img_4873" %>

この日は6時から[Jam Session](https://www.ticketweb.com/event/kingston-mines-blues-jam-with-kingston-mines-chicago-tickets/13558073)やってるので、19才の息子でも入場できる。
ただし、手首にテープを巻かれて、バーに近づいちゃ駄目、何か注文するときは親が行くようにと言われる。

<%= image "img_4875" %>
<%= image "img_4891" %>

カロリーたっぷりおつまみがあるんだけど、ピザで腹いっぱいなのでドリンクだけ。

<%= image "img_4877" %>

[Mike Wheeler](https://www.mikewheelerband.com/)の演奏開始。

<%= image "img_4880" %>
<%= movie "hdimg_4879" %>
<%= movie "hdimg_4881" %>

三曲演奏したらJam Session開始。
Jammerは最前列にある名簿に名前を書いて、順番に名前を呼ばれて演奏する。

<%= image "img_4888" %>
<%= image "img_4890" %>
<%= image "img_4893" %>

8時過ぎに帰路へつく。

<%= image "img_4894" %>

ホテルで荷物を受け取りユニオン駅へ向かう。

<%= image "img_4895" %>

21時前に到着。時間が遅いので閑散としている。
まだどこに列車が来るのか決まってない。

<%= image "img_4896" %>
<%= image "img_4897" %>

やっと乗り場が決まったと思ったらGLDってどこやねん。他は全部数字なのに。しかもいきなりBoardingになってる。
[地図](https://chicagounionstation.com/directory)にも載ってなくて焦る。
ラウンジにスタッフがいたので、道を教えてもらう。
数字のトラックは到着用で、搭乗者はBoarding Areaに行けと。分かるか。

なお、我々もラウンジが使えたので最初からラウンジに行れば良かった。

<%= image "img_4899" %>

慌てて来たら来たで搭乗始まってないしな！

<%= image "img_4900" %>

搭乗。
[Lake Shore Limited](https://www.amtrak.com/lake-shore-limited-train)路線で、ニューヨークへ向かいます。

<%= image "img_4904" %>

今回の部屋は[Roomette](https://www.amtrak.com/roomette)。

<%= image "img_4910" %>

狭い部屋の中にシンクあり。
歯を磨けて便利なんだけど、電源コネクタがすぐ横にあって危ない。
シンクを閉じると水が排水されるギミック。

<%= image "img_4908" %>

今度はシャンプーちゃんとあった。

<%= image "img_4906" %>
<%= image "img_4907" %>

乗車の時点で2段ベッドにしてくれていた。
酔っ払ってるので早々に寝る。
