---
title: アメリカ列車旅行 その9 ニューヨーク
---
ランドリー。洗濯が4ドル、乾燥機が4ドル。支払いはプリペイドカードで、カード代が10ドル。チャージは10ドル単位。
つまり、一回しか洗濯しないのに20ドルかかる。
なお、現金がないのでATMで50ドル下ろしたら、50ドル札出てきた。スーパーで水買って10ドル札でお釣りをもらう。
Airbnbなのでフロントで両替みたいなのはない。

<%= image "img_5016" %>
<%= image "img_5017" %>
<%= image "img_5018" %>
<%= image "img_5020" %>

以上の作業のせいで昨日の夜洗濯できなかった。
今日の午前中が潰れてしまった。

洗濯を終わらせてベーグルを食べに行く。

<pre class="address">
<a href="https://www.russanddaughters.com/">Russ & Daughters</a>
179 E. Houston Street, New York, NY 10002
</pre>

<%= image "img_5022" %>
<%= image "img_5023" %>
<%= image "img_5024" %>
<%= image "img_5025" %>
<%= image "img_5026" %>
<%= image "img_5027" %>

店はテイクアウトのみなので、海そばの公園へ。
Classic Bagel & Lox Sandwich (Sesame seed Bagel, Vegetable Cream Cheese)と、Shtetl。

<%= image "img_5031" %>
<%= image "img_5032" %>
<%= image "img_5034" %>
<%= image "img_5038" %>

海沿いを歩く。

<%= image "img_5040" %>
<%= image "img_5041" %>
<%= image "img_5042" %>
<%= image "img_5043" %>
<%= image "img_5046" %>
<%= movie "hdimg_5047" %>
<%= image "img_5048" %>

China Town。上海蟹売ってた。

<%= image "img_5050" %>

息子が乗ろうと言うのでにニューヨークの地下鉄。暗くてボロくて薄汚れてるけど、そこまで雰囲気は悪くない。
翌朝も乗ったけどただの通勤列車。

<%= image "img_5051" %>
<%= image "img_5052" %>
<%= image "img_5053" %>
<%= image "img_5056" %>

[MoMA](https://www.moma.org/)。閉館まで三時間滞在したが時間が足りない。

<%= image "img_5057" %>
<%= image "img_5058" %>
<%= image "img_5059" %>
<%= image "img_5062" %>
<%= image "img_5063" %>
<%= image "img_5064" %>
<%= image "img_5065" %>
<%= image "img_5066" %>

全ての男子中学生が「俺でも描けるわ」と思ったあの絵を見ることができました。
実際に本物を目の当たりにして「俺でも描けるわ」と思いました。

<%= image "img_5060" %>

中庭。

<%= image "img_5067" %>

[セント・パトリック大聖堂](https://www.saintpatrickscathedral.org/)。ちょうどミサやってた。

<%= image "img_5069" %>
<%= image "img_5073" %>
<%= image "img_5074" %>

ロックフェラー・センター。

<%= image "img_5076" %>
<%= image "img_5077" %>

おバカなビル見つけた。ビル改装の造作らしい。アホか。

<%= image "img_5083" %>

Apple Store。やはり新iPhoneはない。

<%= image "img_5084" %>
<%= image "img_5085" %>

<%= image "img_5086" %>

ニューヨークステーキを食べに来た。

<pre class="address">
<a href="https://clubasteakhouse.com/">Club A Steakhouse</a>
240 E 58th Street, New York, NY 10022
</pre>

<%= image "img_5087" %>
<%= image "img_5088" %>
<%= image "img_5090" %>

Caesar salad。

<%= image "img_5092" %>
<%= image "img_5094_edited" %>

Porterhouse(二人前)とOnion rings。

<%= image "img_5096" %>
<%= image "img_5097" %>
<%= image "img_5099_edited" %>
<%= image "img_0502" %>

サービスのデザート盛り合わせ。

<%= image "img_5101" %>

おバカビルの前でもう一度記念撮影。

<%= image "img_0507" %>
<%= image "img_0508" %>
