---
title: 四国旅行 その1
tags: shikoku, travel, kochi
---
高知へ向かう。

<%= image "img_5371" %>

持参した自転車で桂浜行く予定だったんだけど、雨が降ってたので1時間後にやってくる元同僚と集合して、レンタカーで桂浜へ。

<%= image "img_5374" %>
<%= image "img_5378" %>
<%= image "img_5379" %>
<%= image "img_5382" %>
<%= image "img_5383" %>
<%= image "img_5384" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/kochi/A3901/A390101/39008028/">マンテンノホシ 桂浜店</a>
高知県高知市浦戸6
090-5317-9492
</pre>

<%= image "img_5386" %>
<%= image "img_5385" %>

[坂本龍馬記念館](https://ryoma-kinenkan.jp/)。

<%= image "img_5387" %>
<%= image "img_5388" %>
<%= image "img_5390" %>
<%= image "img_5392" %>
<%= image "img_5393" %>

晩飯。

<pre class="address">
<a href="https://tabelog.com/kochi/A3904/A390403/39006186/">彩食や 一期一笑</a>
高知県宿毛市宿毛5340-10
0880-63-1661
</pre>

<%= image "img_5395" %>

カツオのたたきと刺身の両方を注文。

<%= image "img_5397" %>
<%= image "img_5400" %>

ウツボのたたき。

<%= image "img_5401" %>

<%= image "img_5402" %>
<%= image "img_5403" %>
<%= image "img_5404" %>
<%= image "img_5405" %>
<%= image "img_5408" %>
<%= image "img_5409" %>

ウツボの唐揚げ。

<%= image "img_5406" %>

トンゴロ素揚げ。

<%= image "img_5407" %>

土佐巻き。

<%= image "img_5410" %>
