---
title: 四国旅行 その3
---
4時頃起きたら月が沈んでたのであたりは真っ暗で何も見えない。

夜が明けたけど、霧がすごくて日の出は見えず。

<%= image "img_5465" %>

我々はテントで寝たけどガイドさんはタープ泊。
パックラフトをひっくり返して寝床にしてる。これで十分ですね。

<%= image "img_4252" %>

朝食。

<%= image "img_4258" %>
<%= image "img_5466" %>
<%= image "img_4262" %>

ようやく太陽見えた。

<%= image "img_5467" %>

ガイドさんが片付けの間、川遊び。

<%= movie "hdtrimg_4264" %>
<%= image "img_4265" %>
<%= image "img_4266" %>

出発。いい天気!

<%= image "img_5468" %>
<%= movie "hdtrimg_4270" %>
<%= image "img_4273" %>
<%= image "img_5469" %>
<%= movie "hdtrimg_4277" %>
<%= image "img_5470" %>
<%= movie "hdtrimg_4280" %>
<%= image "img_5471" %>
<%= movie "hdtrimg_4286" %>
<%= movie "hdtrimg_4289" %>

屋内大橋。

<%= movie "hdimg_4290" %>
<%= image "img_4292" %>

口屋内大橋。

<%= image "img_5472" %>
<%= image "img_5473" %>

<%= movie "hdimg_5474" %>
<%= image "img_5475" %>
<%= movie "hdimg_5476" %>
<%= image "img_5477" %>
<%= image "img_5478" %>
<%= movie "hdtrimg_4296" %>
<%= image "img_5479" %>
<%= movie "hdtrimg_4303" %>
<%= movie "hdimg_4304" %>
<%= image "img_5480" %>
<%= image "img_5482" %>
<%= movie "hdtrimg_4305" %>
<%= image "img_5485" %>

ゴール。快適で楽しい川下りでした。

<%= movie "hdtrimg_4307" %>
<%= image "img_4309" %>

高知に車で戻る。途中で遅めの昼飯。

<pre class="address">
<a href="https://tabelog.com/kochi/A3904/A390402/39005250/">道の駅 なぶら土佐佐賀</a>
高知県幡多郡黒潮町佐賀1350
0880-55-3325
</pre>

<%= image "img_5488" %>
<%= image "img_5486" %>
<%= image "img_5487" %>

高知駅で下ろしてもらって電車で移動。
予定では自転車で移動するつもりだったけど、そんな時間なかった。

<%= image "img_5489" %>
<%= image "img_5493" %>

安芸駅着。古民家[ホステル](https://kochinoya.com/)に泊まる。

<%= image "img_5494" %>

晩御飯。

<pre class="address">
風来坊
高知県安芸市本町1丁目5-18
</pre>

<%= image "img_5497" %>
<%= image "img_5499" %>
<%= image "img_5500" %>
<%= image "img_5502" %>
<%= image "img_5503" %>

ハランボ(カツオの腹身)の刺身。

<%= image "img_5501" %>

どれも量が多くて腹いっぱい。
