---
title: 四国旅行 その4
tags: shikoku, travel, kochi
---
[岩崎弥太郎生家](https://www.akikanko.or.jp/kanko/yatarouseika.html)。休みで入れず。

<%= image "img_5504" %>
<%= image "img_5505" %>
<%= image "img_5506" %>
<%= image "img_5507" %>

安芸駅。列車に乗るつもりだったが次の観光地までバスが出ていることを知ってバスに切り替える。

<%= image "img_5508" %>
<%= image "img_5510" %>

鯨館。定休日だった。そんなんばっかりや。

<%= image "img_5511" %>
<%= image "img_5512" %>

ここからは自転車で移動。

<%= image "img_5513" %>
<%= image "img_5514" %>

室戸岬。ここは中岡慎太郎なのね。

<%= image "img_5515" %>
<%= image "img_5516" %>
<%= image "img_5517" %>
<%= image "img_5518" %>

空海の修行場だそうで。

<%= image "img_5519" %>
<%= image "img_5520" %>

ジオパークセンター。補助金臭。涼んで休憩するにはちょうどよかった。

<%= image "img_5521" %>
<%= image "img_5522" %>

[むろと廃校水族館](https://www.city.muroto.kochi.jp/pages/page0343.php)。

<%= image "img_5523" %>
<%= image "img_5524" %>
<%= image "img_5525" %>
<%= image "img_5526" %>
<%= image "img_5527" %>
<%= image "img_5528" %>
<%= image "img_5529" %>
<%= image "img_5530" %>
<%= image "img_5531" %>
<%= image "img_5532" %>
<%= image "img_5533" %>
<%= image "img_5534" %>
<%= image "img_5535" %>
<%= image "img_5536" %>
<%= image "img_5537" %>

<%= image "img_5539" %>
<%= movie "hdimg_5540" %>

40kmほど走って東陽町着。

<%= image "img_5541" %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/184724/184724.html)。

<%= image "img_5542" %>

道の駅に戻って夕日を見る。

<%= image "img_e5543" %>
<%= image "img_5544" %>
<%= image "img_5546" %>

<%= image "img_5547" %>
<%= image "img_5548" %>
<%= image "img_5550" %>
<%= image "img_5551" %>
<%= image "img_5552" %>

晩飯。予約なしで行ったら一席しか空いてなかった。直後に来た外国人は一時間ぐらい待ってた。危なかった。

<pre class="address">
<a href="https://tabelog.com/kochi/A3902/A390203/39000908/">いせや食堂</a>
高知県安芸郡東洋町河内24-52
0887-29-2245
</pre>

<%= image "img_5559" %>
<%= image "img_5553" %>
<%= image "img_5554" %>
<%= image "img_5555" %>
<%= image "img_5556" %>

中秋の名月を見に海に戻る。

<%= image "img_5561" %>
