---
title: 四国旅行 その5
---
うず潮のピーク時間に間に合うように早朝に徳島へ向かう。
[DMV](https://asatetu.com/archives/156/)に乗る。

<%= image "img_5565" %>
<%= image "img_5567" %>
<%= movie "hdimg_5568" %>

阿波海南駅から徳島駅へ。

<%= image "img_5569" %>

徳島駅で一旦観光。[眉山ロープウェイ](https://www.city.tokushima.tokushima.jp/smph/kankou/keikan/bizan.html)に乗る。

<%= image "img_5570" %>
<%= image "img_5571" %>
<%= image "img_5573" %>
<%= image "img_5574" %>
<%= image "img_5575" %>

パゴダは改装中で入れず。

<%= image "img_5576" %>
<%= image "img_5577" %>

<%= image "img_5578" %>
<%= image "img_5579" %>
<%= image "img_5580" %>
<%= image "img_5581" %>

徳島駅に戻って鳴門駅へ。

<%= image "img_5582" %>

鳴門着。さらにバスで鳴門観光港へ。

<%= image "img_5585" %>
<%= image "img_5584" %>

12:45の[アクアエディ](https://www.uzusio.com/geton/)を予約してたけど、一本前の12:15の船がちょうど出るところだったので、変更してもらう。
慌てて船に乗り込む。

<%= image "img_5613" %>
<%= image "img_5586" %>
<%= image "img_5587" %>

うず潮すごい。アルカトラズみたいにここに刑務所作ればいいんじゃ。

<%= image "img_5588" %>
<%= movie "hdimg_5589" %>
<%= movie "hdimg_5590" %>
<%= image "img_5591" %>
<%= image "img_5593" %>
<%= image "img_5596" %>
<%= movie "hdimg_5597" %>
<%= image "img_5598" %>
<%= image "img_5600" %>
<%= movie "hdimg_5601" %>
<%= image "img_e5602" %>
<%= image "img_5602" %>
<%= image "img_5604" %>
<%= movie "hdimg_5606" %>
<%= image "img_5607" %>
<%= image "img_5609" %>
<%= movie "hdimg_5611" %>

バスの道中にデカい[美術館](https://o-museum.or.jp/)があり、多くの人が入場してたので自転車で寄ってみる。
世界中の名画を陶板にコピーした美術館なのね。全然知らなかった。

<%= image "img_5614" %>
<%= image "img_5615" %>
<%= image "img_5616" %>
<%= image "img_5617" %>
<%= image "img_5618" %>

とりあえず中で昼飯。刺身定食。ワカメうまい。

<%= image "img_5619" %>

この絵、最近見たな...

<%= image "img_5620" %>

<%= image "img_5621" %>
<%= image "img_5622" %>
<%= image "img_5623" %>

絵を眺めるものでもないので、説明を中心に読む。説明がいちいち面白い。

<%= image "img_5624" %>
<%= image "img_5625" %>
<%= image "img_5626" %>
<%= image "img_5627" %>
<%= image "img_5628" %>
<%= image "img_5630" %>
<%= image "img_5631" %>
<%= image "img_5632" %>
<%= image "img_5675" %>

しかしこんなに原寸大のコピーを作るのすごい。

<%= image "img_5633" %>
<%= image "img_5674" %>
<%= image "img_5690" %>

モネ部屋。

<%= image "img_5634" %>

テーマも色々凝ってて、これはゴヤの家の再現。絵は世界中に散らばってるので、ニセモノじゃないと実現できない。

<%= image "img_5642" %>
<%= image "img_5636" %>
<%= image "img_5637" %>
<%= image "img_5639" %>
<%= image "img_5640" %>

ひまわり大集合。

<%= image "img_5643" %>

コスプレその1。

<%= image "img_5672" %>

最後の晩餐の修復前と修復後。

<%= image "img_5676" %>
<%= image "img_5678" %>

大睡蓮。

<%= image "img_5679" %>
<%= image "img_e5686" %>

コスプレその2。

<%= image "img_5686" %>

ここで将棋やってたのね。

<%= image "img_5691" %>
<%= image "img_5692" %>

すごい広いので海外の美術館のようにほぼ閉館まで過ごす。これは値打ちあった。

自転車で鳴門駅周辺に戻る。[今日の宿](https://www.hotel-areaone.com/naruto/)。

<%= image "img_5694" %>
<%= image "img_5695" %>

夕食。

<pre class="address">
<a href="https://tabelog.com/tokushima/A3601/A360102/36000200/">天野屋</a>
徳島県鳴門市撫養町小桑島字前浜171
088-685-1955
</pre>

<%= image "img_5699" %>
<%= image "img_5700" %>
<%= image "img_5701" %>

[天然温泉](https://aratae.jp/)に行って、戻ってきて洗濯して就寝。
