---
title: 四国旅行 その6
tags: kagawa, shikoku, travel
---
うどん屋の開店に間に合うべく早朝から香川に移動。
まずは鳴門から池谷へ。

<%= image "img_5702" %>

池谷駅。
お遍路のスタート地点らしい。

<%= image "img_5704" %>
<%= image "img_5705" %>
<%= image "img_5706" %>

特急うずしおで高松へ。さらに特急しまんとで琴平へ。

<%= image "img_5707" %>

琴平着。

<%= image "img_5708" %>

前職の同僚に連絡したら車出してくれるとのことで、久しぶりのうどんツアースタート。

やまうち。

<%= image "img_5709" %>
<%= image "img_5710" %>

山越は定休日だった。

<%= image "img_5711" %>

たむら。

<%= image "img_5714" %>
<%= image "img_5713" %>
<%= image "img_5712" %>

(坂出)山下。

<%= image "img_5715" %>
<%= image "img_5718" %>
<%= image "img_5717" %>
<%= image "img_5716" %>

12:30から13:30の一時間しかやってない日の出製麺所。

<%= image "img_5719" %>
<%= image "img_5720" %>

ヨコクラ。

<%= image "img_5721" %>
<%= image "img_5722" %>

大窪寺。88番札所なので、途中全部すっ飛ばしてお遍路完了。最後なので金剛杖奉納場所もある。

<%= image "img_5723" %>
<%= image "img_5724" %>
<%= image "img_5725" %>
<%= image "img_5726" %>
<%= image "img_5727" %>

[天体望遠鏡博物館](https://www.telescope-museum.com/)。500台の望遠鏡があるらしい。意味わからん。
土日しか空いてないので入れず。

<%= image "img_5728" %>
<%= image "img_5729" %>
<%= image "img_5730" %>
<%= image "img_5731" %>

どぶろく工房も興味ある。

<%= image "img_5732" %>

[平賀源内記念館](https://hiragagennai.com/)。

<%= image "img_5735" %>
<%= image "img_5736" %>

夕方になったので飲みに行く。うどんで腹が減らないので一軒目からバーっぽい店。

<pre class="address">
<a href="https://tabelog.com/kagawa/A3701/A370101/37012916/">KAZMART</a>
香川県高松市片原町9-15
</pre>

ゲーミングジンハイボール。

<%= image "img_5737" %>
<%= image "img_5738" %>

二軒目。骨付鳥を食べたかったが諦めて、地ビールの直営店へ。

<pre class="address">
<a href="https://tabelog.com/kagawa/A3701/A370101/37013125/">OHLOY STORE</a>
香川県高松市内町3-4 YAMA BLD2
087-802-1848
</pre>

<%= image "img_5742" %>
<%= image "img_5743" %>

サンライズ瀬戸で横浜へ戻る。今回はシングル。部屋の場所が良かったのか[前回](/diary/2011/0127-sunrise/)に比べて振動が気にならない。まあまあ寝れた。

<%= image "img_5745" %>
<%= image "img_5746" %>
<%= image "img_5747" %>

ブロンプトンは隙間にちょうど入る。

<%= image "img_5757" %>

瀬戸大橋を渡るときがクライマックスなので後の景色はどうでもいい。

<%= image "img_5748" %>
<%= movie "hdimg_5749" %>

岡山の連結は2011年に見たので外には出ない。

<%= image "img_5754" %>
