---
title: 野毛
---
もう来ない予定だったが所用のためにハロワ。

<%= image "img_5786" %>

嫁さんが毎日ブロンプトン乗るので自分用に二台目見に来た。T Lineたけえよ。

<%= image "img_5787" %>
<%= image "img_5788" %>

野毛でせんべろ。

<%= image "img_5790" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14085363/">野毛ごえん</a>
神奈川県横浜市中区宮川町1-4 1F
050-3395-8406
</pre>

4時の開店と同時に入場。三杯(ビールあり)とモツ煮込み(日によってはモツ刺しも選べる)と串2本で1100円。
これは安い。今日はハツ刺しだった。

<%= image "img_5791" %>
<%= image "img_5794" %>
<%= image "img_5795" %>
<%= image "img_5796" %>

「行ってらっしゃい！」と言われて退店して二軒目。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14003445/">福田フライ（ふくだふらい）</a>
神奈川県横浜市中区野毛町2-71 第3加藤ビル １Ｆ
</pre>

ビール撮ったあとで、撮影禁止の張り紙に気づく。
辛ソースがうまかった。

<%= image "img_5797" %>

焼きそばで締め。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14064342/">野毛焼きそばセンターまるき 野毛本店</a>
神奈川県横浜市中区宮川町2-29-1
050-5594-5866
</pre>

<%= image "img_5798" %>
<%= image "img_5800" %>
