---
title: 田町でフレンチ
tags: tamachi, french cuisine, dinner
---
kazuさんと中渡さんと飲む。

itojunの墓参りしたあと、まだ時間があるので高輪ゲートウェイ駅から田町までブラブラ。

<%= image "img_5846" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1314/A131402/13108513/">Bistrot a la demande</a>
東京都港区芝浦2-16-11 オアーゼ芝浦 1F
03-6435-1017
</pre>

<%= image "img_5849" %>
<%= image "img_5852" %>
<%= image "img_5854" %>
<%= image "img_5855" %>
<%= image "img_5856" %>
<%= image "img_5857" %>
<%= image "img_5860" %>
<%= image "img_5861" %>
