---
title: 蒲田でベトナム料理
tags: kamata, vietnamese, dinner
---
蒲田にベトナム人一押しのベトナム料理やがあると聞き、アラクサラ時代の同僚と飲む。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1315/A131503/13038849/">THI THI</a>
東京都大田区蒲田5-26-6B1
03-3731-1549
</pre>

<%= image "img_5866" %>
<%= image "img_5867" %>
<%= image "img_5868" %>
<%= image "img_5869" %>
<%= image "img_5870" %>
<%= image "img_5871" %>
<%= image "img_5872" %>

おいしゅうございました。
