---
title: 岐阜から北陸へ その1
tags: gifu, travel, castle
---
全県宿泊制覇を目指し、岐阜へ。

名古屋までは、ぷらっとこだまのグリーンにした。
東海道新幹線は大型荷物の置き場所が難しいけど、最前列だと足元にブロンプトンが置ける。

<%= image "img_5877" %>
<%= image "img_5881" %>

新幹線ホームできしめんを食って、在来線で岐阜駅へ。
在来線のホームにもきしめん屋があった。試しにそっちで食べてみればよかった。

<%= image "img_5891" %>
<%= image "img_5890" %>

岐阜駅。

<%= image "img_5892" %>
<%= image "img_5893" %>

自転車で岐阜公園へ。山の上にあるのが岐阜城。

<%= image "img_5894" %>
<%= image "img_5895" %>
<%= image "img_5896" %>

ロープウェー。

<%= image "img_5897" %>

[岐阜城](https://www.gifucvb.or.jp/sightseeing/gifu-castle.php)。

<%= image "img_5898" %>
<%= image "img_5899" %>
<%= image "img_5900" %>
<%= image "img_5901" %>
<%= image "img_5902" %>
<%= image "img_5903" %>
<%= image "img_5904" %>
<%= image "img_5905" %>
<%= image "img_5906" %>

戻りは徒歩にしてみたが、かなりの下り坂だった。膝が笑う。

<%= image "img_5908" %>

遅めの昼飯。

<pre class="address">
<a href="https://tabelog.com/gifu/A2101/A210101/21006119/">丸デブ 総本店</a>
岐阜県岐阜市日ノ出町3-1
058-262-9573
</pre>

<%= image "img_5909" %>
<%= image "img_5910" %>

[伊奈波神社](https://www.inabasan.com/)。

<%= image "img_5911" %>
<%= image "img_5912" %>
<%= image "img_5913" %>
<%= image "img_5914" %>

高山本線で下呂に向かう。ほとんど無人駅なのでICカードの運用ができないが、ホームに来てから言われても困る。

<%= image "img_5915" %>
<%= image "img_5916" %>

単線なのですげえ遅い。謎の地点ですれ違ったりする。

<%= image "img_5917" %>

下呂駅到着。

<%= image "img_5919" %>

今日の宿は[下呂観光ホテル本館](https://travel.rakuten.co.jp/HOTEL/4730/4730.html)のカプセルホテル。

通常のホテルと施設が共有なので寝るところ以外はゆったりしてる。
まあ風呂入るか寝るなんだけどさ。

<%= image "img_5925" %>
<%= image "img_5920" %>
<%= image "img_5921" %>
<%= image "img_5922" %>
<%= image "img_5923" %>

夕食は鶏ちゃん焼き。

<pre class="address">
<a href="https://tabelog.com/gifu/A2104/A210403/21019299/">下呂 けいちゃん屋</a>
岐阜県下呂市森1072
0576-25-2080
</pre>

砂肝ラー油と鶏ちゃん(醤油)。

<%= image "img_5926" %>
<%= image "img_5927" %>
<%= image "img_5929" %>

鶏ちゃんうどん(味噌)。

<%= image "img_5930" %>

地酒の天領。入店したときにいた女性三人組が帰ったあと、地元の二人組の男性のみになる。
他に客がいないのでバーっぽいノリになり、下呂のインバウンド事情や地元の噂話を聞く。

<%= image "img_5931" %>

宿に戻って風呂に入るが、塩素臭かった。
調べると湯量が減ってるらしい。
下呂でもあかんのか…。
