---
title: 岐阜から北陸へ その2
tags: gifu, travel, trail
---
今回の旅のお供は2台目ブロンプトン。

<%= image "img_5939" %>

朝だけ空いてる野天風呂へ。

<%= image "img_5933" %>
<%= image "img_5934" %>
<%= image "img_5935" %>
<%= image "img_5936" %>
<%= image "img_5938" %>

JR高山本線。

<%= image "img_5940" %>

飛騨小坂駅。
無人駅なので、先頭車両の一番前のドアしか開かないのに、二両目から降りようとしてめっちゃ焦る。

<%= image "img_5943" %>
<%= image "img_5978" %>

乃木坂のサインのコピーあった。まあ、本物を無人駅に置いてたら速攻盗まれるわな。

<%= image "img_5977" %>

自転車でがんだて公園に向かう。

<%= image "img_5944" %>
<%= image "img_5945" %>
<%= image "img_5972" %>

[がんだて峡](https://hidaosaka-kanko.com/touristspots/232/)着。
ハイキング開始。昨日の岐阜城の下り道の筋肉痛が発生していて、太ももめっちゃ痛い。

<%= image "img_5946" %>
<%= image "img_5947" %>

三ツ滝。

<%= image "img_5948" %>
<%= image "img_5949" %>
<%= image "img_5950" %>
<%= movie "hdimg_5951" %>

<%= image "img_5952" %>
<%= image "img_5953" %>
<%= image "img_5954" %>

どんびき平。

<%= image "img_5956" %>

<%= image "img_5957" %>
<%= image "img_5959" %>
<%= image "img_5960" %>
<%= image "img_5963" %>
<%= image "img_5964" %>

あかがねとよ。

<%= image "img_5966" %>

からたに滝。

<%= image "img_5968" %>
<%= movie "hdimg_5969" %>

<%= image "img_5970" %>
<%= image "img_5971" %>

電車の時間まで余裕があるので、道の駅で昼食。今日もけいちゃん焼。

<pre class="address">
<a href="https://tabelog.com/gifu/A2104/A210403/21014038/">はなもも</a>
岐阜県下呂市小坂町赤沼田811-1 道の駅 南飛騨小坂はなもも
0576-62-1010
</pre>

<%= image "img_5974" %>
<%= image "img_5973" %>

飛騨小坂駅の戻って高山駅へ。30分電車来ないので、外にでる。
河口湖なみにインバウンドだらけだった。古い町並みが残っていることと、金沢への道中なので途中で寄っていく人が多いらしい。

<%= image "img_5982" %>
<%= image "img_5984" %>

角川駅来た！
次の列車は二時間後なので途中下車は断念。

<%= image "img_5985" %>
<%= image "img_5989" %>
<%= image "img_5990" %>
<%= image "img_5991" %>
<%= image "img_5941" %>

猪谷駅から列車乗り換え。同じホームの向こうの方に止まってのに気づかなかった。車内アナウンスも特になく分かりづらい。

<%= image "img_5995" %>

富山着。
飛騨小坂駅の整理券見せて精算しようとしたら、3社またがりで精算できない。
新幹線の窓口に行ってくれ(JR東海だから)と言われる。ひどい。

<%= image "img_5997" %>
<%= image "img_5998" %>

今日の宿は[スーパーホテル](https://www.superhotel.co.jp/s_hotels/p_toyama/)。無料のウェルカムバーで酒が飲める。

<%= image "img_6002" %>
<%= image "img_6013" %>
<%= image "img_6001" %>

晩飯。

<pre class="address">
<a href="https://tabelog.com/toyama/A1601/A160101/16010919/">越中桜町 船酔い</a>
富山県富山市桜町1-2-16
076-441-8477
</pre>

この店、安くて美味い。カワハギ刺し、原木舞茸バター焼き、満寿泉マス印からくち。

<%= image "img_6003" %>
<%= image "img_6005" %>
<%= image "img_6006" %>
<%= image "img_6007" %>
<%= image "img_6008" %>

白子ポン酢、酒は勝駒の純米。

<%= image "img_6009" %>

豆腐の刺身と氷見うどん。

<%= image "img_6010" %>
<%= image "img_6011" %>
