---
title: 岐阜から北陸へ その3
tags: hokuriku, toyama, travel
---
スーパーホテルの無料朝食。

<%= image "img_6012" %>

富山城。中に入るまでもないかなと思ってぐるっと一周。

<%= image "img_6015" %>
<%= image "img_6016" %>

神通川を自転車で走る。

<%= image "img_6017" %>
<%= image "img_6018" %>
<%= image "img_6019" %>

世界で最も美しい(らしい)[スタバ](https://store.starbucks.co.jp/detail-897/)へ。
朝食でコーヒー飲んじゃったので入らないでスルー。

<%= image "img_6020" %>
<%= image "img_6021" %>

富山駅そばの店舗に[World ID](https://world.org/ja-jp)のOrbがあったので、試しに認証してみるが、エラーになってうまくいかず。
まあ、横浜にも数店舗あるので帰ってから試す。

<%= image "img_6023" %>
<%= image "img_6022", ext: 'png' %>

富山駅から滑川へ。

<%= image "img_6025" %>
<%= image "img_6029" %>

富山といえば[ほたるいかミュージアム](https://hotaruikamuseum.com/museum)。

<%= image "img_6030" %>

分かってはいたがショボい。

<%= image "img_6032" %>
<%= image "img_6033" %>

この時期の展示は映像のみらしい。
ほたるいかの寿命は一年。
漁で獲るのは産卵直後のメスなので、すぐに死んでしまう。
オスは深海から上がってこないので、養殖も飼育もできない。
猟期に穫れたものをミュージアムに持ち込んでいる。

来るなら四月に来いと言われた。[漁の見学ツアー](https://hotaruikamuseum.com/tour)もある。午前2時集合。

<%= image "img_6031" %>

オニオコゼ。

<%= image "img_6035" %>

ダイオウグソクムシが見れたので良しとする。

<%= image "img_6036" %>
<%= image "img_6037" %>
<%= image "img_6038" %>

カニと触れ合える。

<%= image "img_6039" %>

滑川駅に戻って金沢駅へ。さらに乗り継いで福井駅へ。2時間半ぐらいかかった。
福井初上陸。

<%= image "img_6040" %>
<%= image "img_6042" %>
<%= image "img_6043" %>

早めの夕食。ヨーロッパ軒でカツ、メンチカツ、カキフライx2。

<pre class="address">
<a href="https://tabelog.com/fukui/A1801/A180101/18000015/">ヨーロッパ軒 総本店</a>
福井県福井市順化1-7-4
0776-21-4681
</pre>

<%= image "img_6046" %>
<%= image "img_6045" %>

<pre class="address">
<a href="https://tabelog.com/fukui/A1801/A180101/18000015/">ヨーロッパ軒 総本店</a>
福井県福井市順化1-7-4
0776-21-4681
</pre>

福井駅に戻ってさらに南下。

<%= image "img_6047" %>
<%= image "img_6048" %>
<%= image "img_6049" %>

湯尾駅ついたらもう暗かった。真っ暗な道を自転車で移動する。
写真ないけど月がすごい大きく見えた。昨日が[スーパームーン](https://www.nao.ac.jp/astro/sky/2025/11-topics03.html)だったのね。

<%= image "img_6051" %>

[今日の宿](https://travel.rakuten.co.jp/HOTEL/161184/161184.html)。

<%= image "img_6052" %>

サウナを三本決める。水風呂が冷たくて肩まで浸かれない。
