---
title: 岐阜から北陸へ その4
tags: hokuriku, travel, fukui
---
7時頃に宿を出て南条駅へ。湯尾駅より若干遠いがずっと下りなので楽。

<%= image "img_6059" %>
<%= image "img_6060" %>

福井は観光地が分散してるので、福井駅に戻ってレンタカーを借りる。カーシェアは全部埋まってた。

<%= image "img_6061" %>
<%= image "img_6065" %>

東尋坊へ。

<%= image "img_6066" %>
<%= image "img_6067" %>
<%= image "img_6069" %>

さーねむりなさいーつかれきったー。

「ここが！何百もの殺人犯が無理やり連れてこられた挙句に自供させられるというあの！」

こーのーまちはーせんじょーだからー。

<%= image "img_6070" %>
<%= image "img_6071" %>
<%= image "img_6072" %>
<%= image "img_6073" %>
<%= image "img_6074" %>
<%= image "img_6075" %>
<%= image "img_6076" %>
<%= image "img_6077" %>

岩が尖ってないので、登りやすい。

<%= image "img_6078" %>
<%= image "img_6079" %>
<%= image "img_6080" %>
<%= image "img_6081" %>
<%= image "img_6082" %>
<%= image "img_6083_edited" %>
<%= image "img_6084" %>
<%= image "img_6085" %>

駐車場代割引に釣られて刺身丼。うまい商売やな。

<pre class="address">
<a href="https://tabelog.com/fukui/A1801/A180102/18000389/">越前がに やまに水産（えちぜんがにやまにすいさん）</a>
福井県坂井市三国町安島64-1
050-5872-4864
</pre>

<%= image "img_6086" %>
<%= image "img_6087" %>

雄島。

<%= image "img_6088" %>
<%= image "img_6089" %>
<%= image "img_6090" %>
<%= image "img_6091" %>
<%= image "img_6092" %>

幼少期のれんくんが大喜びしそうな飛び石がずっと続いてる。

<%= image "img_6093" %>

YAY-HEY-Z!([永平寺](https://daihonzan-eiheiji.com/))。
[道元禅師](https://ja.wikipedia.org/wiki/%E9%81%93%E5%85%83)の日本一厳しい修行道場。

<%= image "img_6096" %>
<%= image "img_6097" %>
<%= image "img_6099" %>
<%= image "img_6101" %>
<%= image "img_6102" %>
<%= image "img_6103" %>
<%= image "img_6104" %>
<%= image "img_6105" %>
<%= image "img_6106" %>
<%= image "img_6107" %>
<%= image "img_6108" %>
<%= image "img_6109" %>
<%= image "img_6110" %>
<%= image "img_6112" %>

[恐竜博物館](https://www.dinosaur.pref.fukui.jp/)。デカい。
種類とか時期とか覚えようとしたけど、進化はランダムでかつ当然だけど絶滅が体系だってないので、全然覚えられない。

<%= image "img_6114" %>
<%= image "img_6117" %>
<%= image "img_6120" %>
<%= image "img_6121" %>
<%= image "img_6122" %>
<%= image "img_6123" %>
<%= image "img_6124" %>
<%= image "img_6125" %>
<%= image "img_6126" %>
<%= image "img_6127" %>
<%= image "img_6129" %>
<%= image "img_6131" %>
<%= image "img_6132" %>
<%= image "img_6133" %>
<%= image "img_6134" %>
<%= image "img_6135" %>
<%= image "img_6137" %>
<%= image "img_6138" %>
<%= image "img_6139" %>
<%= image "img_6140" %>
<%= image "img_6141" %>
<%= image "img_6143" %>
<%= image "img_6144" %>
<%= image "img_6145" %>
<%= image "img_6146" %>
<%= image "img_6147" %>
<%= image "img_6148" %>
<%= image "img_6149" %>
<%= image "img_6150" %>
<%= image "img_6151" %>
<%= image "img_6152" %>
<%= image "img_6153" %>
<%= image "img_6154" %>
<%= image "img_6155" %>
<%= image "img_6156" %>
<%= image "img_6157" %>

次の電車まで時間があったので、[福井城址](https://www.fuku-e.com/spot/detail_1016.html)。暗い。

<%= image "img_6158" %>
<%= image "img_6159" %>
<%= image "img_6160" %>
<%= image "img_6161" %>

福井駅から移動。

<%= image "img_6163" %>
<%= image "img_6167" %>

最後の夜は、そりゃあ来とくでしょう金沢。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17013695/">鮨 はち丸 総本店</a>
石川県金沢市本町2-2-13
050-5590-5498
</pre>

<%= image "img_6168" %>

手取川あらばしり大吟醸と刺身。まふぐの若狭焼き。

<%= image "img_6169" %>
<%= image "img_6170" %>
<%= image "img_6171" %>

香箱。地物の解禁日は昨日で祝儀相場になってて高かすぎるので、他所のやつ。
黒龍crystal dragon。ほぼ水(ヤバい)。

<%= image "img_6173" %>
<%= image "img_6174" %>

加賀蓮根、獅子の里 純米。ガリ美味えぞ。

<%= image "img_6175" %>
<%= image "img_6176" %>
<%= image "img_6178" %>

イカ、地のアラ(クエじゃないらしい)。マグロ系はインバウンドが欲しがるのでメニューに入ってるようだ。
最初にいらないと言っておけばよかった。

<%= image "img_6179" %>
<%= image "img_6181" %>
<%= image "img_6182" %>

アジ。

<%= image "img_6183" %>
<%= image "img_6184" %>

のどぐろ。かき混ぜてツマミしろと言われた。常山。純米吟醸辛口。

<%= image "img_6185" %>
<%= image "img_6186" %>

黒もずくと金時草。

<%= image "img_6187" %>
<%= image "img_6188" %>

トロと甘エビ。石川門。

<%= image "img_6189" %>
<%= image "img_6191" %>
<%= image "img_6193" %>
<%= image "img_6194" %>
<%= image "img_6195" %>

タイとバイ貝。

<%= image "img_6196" %>
<%= image "img_6197" %>
<%= image "img_6200" %>
<%= image "img_6201" %>
<%= image "img_6203" %>

おいしゅうございました。

[今日の宿](https://travel.rakuten.co.jp/HOTEL/142640/142640.html)。超巨大24hスーパー銭湯に付属のホテル。遠いねん。

<%= image "img_6204" %>
<%= image "img_6205" %>

酔っ払いすぎてこのホテルの全貌が把握できない。

<%= image "img_6207" %>

金沢はインバウンドの増加で宿泊費が高騰してるので、旅費をエンゲル係数に全振りするにはどうすればいいか考える。

- 金沢駅周辺のネカフェに泊まる。[快活CLUB](https://www.kaikatsu.jp/shop/detail/20911.html)なら予約ができる。9時間宿泊で2,770円。シャワーも選択もできる
- 飲んだあとにインバウンドの少ない富山駅まで移動する。終電は23:00。富山空港はマイルでフライトを取りやすいのであり
- テルメ金沢にドミトリーがあるが、団体客しかダメそう
