---
title: 岐阜から北陸へ その5
tags: hokuriku, travel, toyama
---
飲みすぎで目覚める。
朝サウナしたけど、一本でやめといた。

金沢駅の黒百合で金沢おでん食べようとしたけど、まだ食欲がないので富山駅へ移動。

<pre class="address">
<a href="https://tabelog.com/toyama/A1601/A160101/16000581/">神通町 田村</a>
富山県富山市神通町2-1-3
076-432-1505
</pre>

各地のそばが選べます。越前の新蕎麦と野菜天をいただく。きのこ天は売り切れだった。

<%= image "img_6218" %>
<%= image "img_6211" %>
<%= image "img_6214" %>
<%= image "img_6216" %>
<%= image "img_6217" %>
<%= image "img_6212" %>
<%= image "img_6213" %>

一昨日入店しなかった世界で最も美しい(らしい)[スタバ](https://store.starbucks.co.jp/detail-897/)へ。

<%= image "img_6219" %>
<%= image "img_6221" %>
<%= image "img_6222" %>
<%= image "img_6225" %>

神通川沿いを走りつつ富山空港に向かう。

<%= image "img_6226" %>
<%= image "img_6227" %>
<%= image "img_6228" %>
<%= image "img_6229" %>

早めの晩御飯。

<pre class="address">
<a href="https://tabelog.com/toyama/A1601/A160101/16006686/">エアポートキッチン</a>
富山県富山市秋ケ島30 富山空港ターミナル 2F
076-481-6873
</pre>

<%= image "img_6230" %>
<%= image "img_6231" %>
