---
title: 素早く充電できるモバイルバッテリー
note_url: https://note.com/yodarez/n/n4b11ba007be6
tags: note, gadget
---
<%= simage "image_001", grid: false %>

<%= note %>

普段はモバイルバッテリーを持ち歩かない派だが、カンファレンスにMacを持っていったり、安旅で長距離移動を繰り返したり、キャンプで複数泊(最長で10泊経験あり)すると、スマホのバッテリーを充電するチャンスが限られる。このため、大容量でかつ充電を素早くできるモバイルバッテリーが必要になる。

この「素早い充電」がミソで、例えばカフェで食事をとっている時間、空港での待ち時間など、細切れの時間でモバイルバッテリーを満充電状態にもっていきたい。

「モバイルバッテリー 充電時間 早い」などでググるとデバイスへの充電速度の情報ばかりで、モバイルバッテリー側への充電時間についての説明はなかなか見当たらない。色々調べた結果、下記のYouTube動画を見つけ、CIOがベストという結論になった。

<div data-name="embedContainer"><div data-embed-service="youtube"><span><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;"><iframe allow="accelerometer *; clipboard-write *; encrypted-media *; gyroscope *; picture-in-picture *; web-share *;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin" scrolling="no" src="https://www.youtube.com/embed/pxBcXGODpkI?rel=0" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;"></iframe></div></span></div></div>

なんと20000mAhの充電が約70分で完了する。70分ならちょっとカフェで長居するぐらいの時間だ。充電で完了するまでコンセント席をダラダラ占有する必要はない。また、パススルーでデバイスとモバイルバッテリーの両方を最速に充電できる。

<%= product('CIO モバイルバッテリー 100W ケーブル内蔵 大容量 20000mAh [脱着式ケーブル] PD 高出力 CIO独自技術 NovaIntelligence NovaSafety2.0搭載 ノートパソコン用モバイルバッテリー MacBook Pro iPhone 17 / 16 / 15 Android SMARTCOBY Pro CABLE 100W 20K (ブラック)',
    'https://amzn.to/4reRMVD',
    'https://m.media-amazon.com/images/I/31LTWejz1cL._SL500_.jpg'
) %>

高速充電のためには仕方がないが、100WのUSB-Cチャージャーも持ち歩く必要がある。これについてはAnkerを購入した。

<%= product('Anker Prime Charger (100W, 3 Ports, GaN) 【PSE技術基準適合/折りたたみ式プラグ】MacBook PD対応Windows PC iPad iPhone Galaxy Android スマートフォン ノートPC 各種',
    'https://amzn.to/4ppaY15',
    'https://m.media-amazon.com/images/I/21GkFCYzaqL._SL500_.jpg'
) %>

両方持ち歩くと550gぐらい。悩ましい重さだが、バッテリー不足にならないので重宝している。

<%= simage "image_002", grid: false %>

iPad mini 7と比べる。デカい
