---
title: 大沢温泉 湯治旅 その1
tags: iwate, onsen, travel
---
今年も湯治に行くよー。

岩手への安い手段を探したが手頃なのが何も無い。
ローカル線乗り継ぎだと12時間かかるので送迎バスに間に合わない。
夜行バスは横浜から出ておらず、東京駅から乗った上に盛岡までしかいかない。早朝にさらに移動しないと受けない上に花巻到着が早すぎて送迎バスを6時間ぐらい待たないといけない。12月はレンタサイクルも貸し出しておらず時間潰しの観光もできない。

ということで、結局、去年と同じ東北新幹線。早めに東京駅に行って、滞在中に飲む日本酒を調達。
豆狸は今年も混んでたけど時間に余裕があったので買えた。

<%= image "img_6342" %>
<%= image "img_6343" %>

新花巻駅到着。

<%= image "img_6345" %>

送迎バスまで時間があるので駅のソバ屋で釜石ラーメン。

<pre class="address">
<a href="https://tabelog.com/iwate/A0302/A030201/3007502/">そば処イーハトーブの里 新花巻駅店</a>
岩手県花巻市矢沢第10地割87-7 新花巻駅
0198-31-2784
</pre>

<%= image "img_6344" %>

送迎バス。

<%= image "img_6346" %>

やってきました[大沢温泉 湯治屋](https://www.oosawaonsen.com/touji/)。

<%= image "img_6347" %>
<%= image "img_6348" %>

一風呂浴びて館内の食堂でビール飲んで、部屋でまったり日本酒を飲む。

<%= image "img_6349" %>
<%= image "img_6350" %>
<%= image "img_6351" %>
