---
title: 谷中 鳥よし
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1311/A131106/13054593/">谷中 鳥よし</a>
東京都台東区谷中3-14-6
03-3823-6298
</pre>

鮟鱇鍋の会に参加。

<%= image "img_6391" %>
<%= image "img_6392" %>
<%= image "img_6393" %>
<%= image "img_6394" %>
<%= image "img_6395" %>
