---
title: 新潟旅行 その1
tags: niigata, snow, travel
---
今回のお宿。

<pre class="address">
<a href="http://www.yuzawa-tamakiya.com/">湯沢 玉城屋</a>
新潟県南魚沼郡湯沢町土樽5081-5
025-787-3019
</pre>

駅を越えて反対側の湯沢中里スキー場へ。

<%= image "img_2892" %>
<%= image "img_4017" %>

<%= image "img_2886" %>
<%= image "img_2888" %>
<%= image "img_2890" %>

昼飯のピザ。うまかった。

<%= image "img_3987" %>

今日はソリ滑り中心。

<%= image "img_2893" %>
<%= image "img_2894" %>
<%= image "img_2896" %>
<%= image "img_2900" %>
<%= image "img_2903" %>
<%= image "img_2909" %>
<%= image "img_2919" %>
<%= movie "hdimg_2920" %>
<%= image "img_2924" %>
<%= image "img_2928" %>
<%= image "img_2932" %>
<%= image "img_2939" %>
<%= movie "hdimg_2944" %>
<%= movie "hdimg_2946" %>
<%= movie "hdimg_2947" %>
<%= image "img_3988" %>
<%= movie "hdimg_3991" %>
<%= image "img_3993" %>
<%= image "img_3998" %>
<%= image "img_4001" %>
<%= image "img_4006" %>

晩御飯。

<%= image "img_4020" %>
<%= image "img_4021" %>
<%= image "img_4022" %>
<%= image "img_4024" %>
<%= image "img_4026" %>
<%= image "img_4028" %>
<%= image "img_4031" %>
<%= image "img_4034" %>
