---
title: 今村商店
tags: dinner, family, izakaya
---
家族で居酒屋へ。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14036601/">今村商店</a>
神奈川県横浜市西区南幸2-1-31 アルテックスビル1F
045-323-6225
</pre>

<%= image "img_3083" %>
<%= image "img_3084" %>
<%= image "img_3085" %>
<%= image "img_3087" %>
<%= image "img_3089" %>
<%= image "img_3091" %>
