---
title: 東芝未来科学館
tags: family, museum, science
---
<pre class="address">
<a href="http://toshiba-mirai-kagakukan.jp/">東芝未来科学館</a>
神奈川県川崎市幸区堀川町72-34ラゾーナ川崎東芝ビル スマートコミュニティセンター2F
044-549-2200
</pre>

<%= image "img_3134" %>
<%= image "img_3136" %>
<%= image "img_3140" %>
<%= image "img_3144" %>
<%= movie "hdimg_3149" %>
<%= image "img_3150" %>
<%= image "img_3153" %>
<%= image "img_3155" %>
<%= image "img_3161" %>
<%= movie "hdimg_3162" %>
