---
title: 奈良&amp;京都
---
NAISTにちょー久しぶりに来る。食堂なつかしー。
独身寮はこんなボロボロだったっけと思ったが、考えたらもう築22年か。

<%= image "img_4112" %>
<%= image "img_4115" %>
<%= image "img_4116" %>

夜ご飯は京都で鳥なべ。

<pre class="address">
<a href="http://tabelog.com/kyoto/A2601/A260403/26005810/">とりよね</a>
京都府京都市西京区嵐山朝月町66 
075-872-7711
</pre>

<%= image "img_4120" %>
<%= image "img_4126" %>
<%= image "img_4122" %>
<%= image "img_4124" %>
<%= image "img_4125" %>
<%= image "img_4127" %>
<%= image "img_4128" %>
<%= image "img_4130" %>
<%= image "img_4131" %>
