---
title: かき小屋
tags: dinner, birthday, yokohama
---
かき小屋でおかあさんの誕生日パーティー。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140212/14051584/">かき小屋○座</a>横浜西口店
神奈川県横浜市神奈川区鶴屋町2-13-11 シープラザビル3F
050-5872-6585
</pre>

<%= image "img_4141" %>
<%= image "img_4134" %>
<%= image "img_4135" %>

<%= image "img_4137" %>
<%= image "img_4136" %>
<%= image "img_4139" %>
<%= image "img_4144" %>
<%= image "img_4145" %>
<%= image "img_4147" %>
