---
title: 海福
tags: dinner, izakaya, family
---
家族で居酒屋。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140301/14005380/">海福 天王町店</a>
神奈川県横浜市保土ケ谷区天王町2-47-2
045-331-0422
</pre>

<%= image "img_3296" %>
<%= image "img_3302" %>
<%= image "img_3308" %>
<%= image "img_3309" %>
<%= image "img_3311" %>
<%= image "img_3312" %>
<%= image "img_3313" %>
<%= image "img_3316" %>
