---
title: レゴWeDo
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

「初めてのプログラミング～レゴWeDoを使って～ おなかをすかせたワニ」に参加。

基本形。

<%= image "img_4179" %>
<%= movie "hdimg_4180" %>
<%= image "img_4182" %>
<%= movie "hdimg_4183" %>

プログラムで、口が開くスピードと閉じるスピードに変化をつけてみる。

<%= image "img_4186" %>
<%= movie "hdimg_4185" %>
<%= image "img_4188" %>
