---
title: 東芝未来科学館
---
<pre class="address">
<a href="http://toshiba-mirai-kagakukan.jp/index_j.htm">東芝未来科学館</a>
神奈川県川崎市幸区堀川町72番地34ラゾーナ川崎東芝ビル2F スマートコミュニティセンター
044-549-2200
</pre>

<a href="http://toshiba-mirai-kagakukan.jp/event/event/detail/262/">「みえる」「わかる」のふしぎ</a>というイベントに参加。

<%= image "img_3327" %>
<%= image "img_3331" %>
<%= image "img_3333" %>
<%= movie "hdimg_3336" %>
<%= image "img_3338" %>
<%= image "img_3340" %>
<%= image "img_3342" %>
<%= image "img_3345" %>
