---
title: レゴWeDo その2
tags: lego, museum, programming
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

「初めてのプログラミング・アドバンス ～レゴWeDoを使って～」に参加。

<%= image "img_3355" %>
<%= image "img_3359" %>
<%= image "img_3363" %>
<%= image "img_3369" %>
<%= image "img_3376" %>
<%= movie "hdimg_4195" %>
<%= movie "hdimg_4196" %>
<%= movie "hdimg_4200" %>
<%= movie "hdimg_4201" %>

科学館で引き続き遊ぶ。

<%= image "img_3366" %>
<%= image "img_3381" %>
<%= image "img_3383" %>
<%= image "img_3385" %>
<%= image "img_3386" %>
