---
title: 目黒ごはん なっぱ ごちそう
tags: dinner, izakaya, meguro
---
職場メンバーで飲み。店の入り口はこれ。偽装された扉から入店。すげえ入りづらい。

<%= image "img_4250" %>

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13143798/">なっぱ ごちそう</a>
東京都品川区上大崎2-26-5 メグロード B1F
03-6420-3700
</pre>

<%= image "img_4234" %>
<%= image "img_4233" %>
<%= image "img_4235" %>
<%= image "img_4237" %>
<%= image "img_4240" %>
<%= image "img_4241" %>
<%= image "img_4243" %>
<%= image "img_4246" %>
<%= image "img_4248" %>
