---
title: くらち
---
僕の誕生日パーティー。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14002225/">くらち</a>
神奈川県横浜市神奈川区鶴屋町2-13-2 横浜スクウェアビル 1F
050-5868-0728
</pre>

<%= image "dsc_0348" %>
<%= image "dsc_0355" %>
<%= image "dsc_0350" %>
<%= image "dsc_0357" %>
<%= image "img_4270" %>
<%= image "img_4274" %>
<%= image "img_4278" %>
<%= image "img_4280" %>

<%= image "dsc_0358" %>
