---
title: 東芝未来科学館
tags: museum, kawasaki, lunch
---
<%= image "img_3650" %>
<%= image "img_3651" %>
<%= image "img_4294" %>

息子と天丼ランチを食う。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1405/A140501/14005552/">銀座 ハゲ天 川崎アゼリア店</a>
神奈川県川崎市川崎区駅前本町26-2アゼリア
044-245-1790
</pre>

<%= image "img_4298" %>
<%= image "img_4299" %>
