---
title: あそびパーク
tags: kawasaki, kids, play
---
りりちゃんはラゾーナ川崎の<a href="http://www.namco.co.jp/am/loc/kawasaki/">あそびパーク</a>へ。

<%= image "img_3654" %>
<%= image "img_3659" %>
<%= image "img_3671" %>
<%= image "img_3691" %>
<%= image "img_3698" %>
<%= image "img_3702" %>
<%= image "img_3707" %>
