---
title: ホタルを楽しむ夕べ
tags: event, yokohama, nature
---
YBPの<a href="http://www.nomura-re.co.jp/cfiles/news/n2015060400940.pdf">イベント</a>に参加。

<%= image "img_3830" %>
<%= image "img_3834" %>
<%= image "img_3839" %>
<%= image "img_3841" %>
<%= image "img_3845" %>
<%= image "img_3847" %>
<%= image "img_3852" %>
<%= image "img_3856" %>
<%= image "img_3857" %>
<%= image "img_3862" %>
<%= movie "hdimg_3863" %>
<%= image "img_3872" %>
<%= image "img_3874" %>
<%= image "img_3876" %>
<%= image "img_3884" %>

ホタル鑑賞。りりちゃん気に入りまくりで三周する。

<%= image "img_4309" %>
<%= image "img_3886" %>

帰り道の焼き鳥屋で晩御飯。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140301/14043643/">やきとりの拓</a>
神奈川県横浜市保土ヶ谷区神戸町54-1 第八瀬戸ビル2F
045-334-2586
</pre>

<%= image "img_3889" %>
<%= image "img_3891" %>
<%= image "img_3894" %>
<%= image "img_4312" %>
<%= image "img_4316" %>
