---
title: 金沢動物園
tags: yokohama, zoo
---
<a href="http://www2.kanazawa-zoo.org/">金沢動物園</a>来ました。
ついてコンビニ弁当食ってたら、トンビに盗まれる。超怖い。

<%= image "img_3711" %>
<%= image "img_3717" %>
<%= image "img_3715" %>

<%= image "img_3723" %>

<%= image "img_3731" %>
<%= image "img_3733" %>
<%= image "img_3736" %>
<%= image "img_3741" %>
<%= movie "hdimg_3744" %>
<%= movie "hdimg_3745" %>

コアラとカンガルー。

<%= image "img_3726" %>
<%= image "img_3749" %>
<%= image "img_3762" %>
<%= image "img_3764" %>

<%= image "img_3768" %>
<%= image "img_3771" %>
<%= image "img_3772" %>
<%= image "img_3774" %>
<%= image "img_3777" %>

オオツノヒツジの角。

<%= image "img_3782" %>
<%= image "img_3784" %>
<%= image "img_3785" %>
<%= image "img_3788" %>
<%= image "img_3789" %>

ゾウ。

<%= image "img_3791" %>
<%= image "img_3796" %>
<%= image "img_3801" %>

遊具で遊んで帰る。

<%= image "img_3803" %>
<%= image "img_3805" %>
<%= image "img_3809" %>
<%= image "img_3812" %>
<%= image "img_3817" %>
<%= image "img_3822" %>
<%= movie "hdimg_3827" %>
