---
title: ビール工場見学
tags: beer, factory, yokohama
---
キリンビール横浜工場の<a href="http://www.kirin.co.jp/entertainment/factory/yokohama/tour/family.html">ファミリーツアー</a>に参加。

<%= image "img_0059" %>
<%= image "img_0067" %>
<%= image "img_0081" %>
<%= image "img_4051" %>
<%= image "img_4369" %>
<%= image "img_4374" %>
<%= image "img_4376" %>

<%= image "img_4017" %>
<%= image "img_4378" %>
<%= image "img_4379" %>
<%= image "img_0117" %>
<%= image "img_4382" %>
<%= image "img_4389" %>
<%= image "img_4391" %>
<%= image "img_4028" %>

お楽しみの試飲。横浜限定ビールがあった。

<%= image "img_4395" %>
<%= image "img_4400" %>
<%= image "img_4402" %>
<%= image "img_4408" %>
<%= image "img_4409" %>
<%= image "img_4030" %>
<%= image "img_4036" %>

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140211/14009595/">ビアポート</a>
神奈川県横浜市鶴見区生麦1-17-1 キリンビール横浜工場 キリン横浜ビアビレッジ
045-506-3013
</pre>

併設のレストランで食事。

<%= image "img_4412" %>
<%= image "img_4415" %>
<%= image "img_4417" %>
<%= image "img_4422" %>
<%= image "img_4039" %>
<%= image "img_0140" %>
<%= image "img_0142" %>
<%= image "img_0147" %>
<%= image "img_4426" %>
<%= image "img_4428" %>
<%= image "img_4431" %>
<%= image "img_4434" %>
<%= image "img_4439" %>

<%= image "img_0161" %>
<%= image "img_0165" %>
<%= image "img_0178" %>
<%= image "img_0181" %>
<%= image "img_4045" %>
