---
title: 辻堂海浜公園
---
<a href="http://www.kanagawa-park.or.jp/tujidou/pool.html">辻堂海浜公園</a>のプールきました。

<%= image "img_4402" %>
<%= image "img_4407" %>
<%= image "img_4413" %>
<%= image "img_4419" %>
<%= image "img_4422" %>
<%= movie "hdimg_4423" %>
<%= image "img_4427" %>
<%= image "img_4430" %>
<%= movie "hdimg_4434" %>
<%= movie "hdimg_4435" %>
<%= image "img_4436" %>
<%= image "img_4440" %>

公園で縁日やってた。

<%= image "img_4441" %>
<%= image "img_4444" %>
<%= image "img_4450" %>
<%= image "img_4453" %>

晩御飯。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1404/A140404/14043349/">いしがまやハンバーグ テラスモール湘南店</a>
神奈川県藤沢市辻堂神台1-3-1 テラスモール湘南 4F
0466-38-1616
</pre>

<%= image "img_4501" %>
<%= image "img_4511" %>
<%= image "img_4515" %>
<%= image "img_4518" %>
<%= image "img_4505" %>
<%= image "img_4508" %>
