---
title: 沖縄旅行 その1
tags: beach, okinawa, travel
---
沖縄の離島行きます。めんそーれ。

<%= image "img_4547" %>
<%= image "img_4551" %>

空港内の店で沖縄そばをダッシュで食って、泊港のフェリー乗り場へ。

<%= image "img_4552" %>
<%= image "img_4554" %>

クィーン座間味で阿嘉島へ。

<%= image "img_4560" %>
<%= movie "hdimg_4575" %>
<%= image "img_4580" %>
<%= image "img_4585" %>
<%= image "img_4700" %>
<%= image "img_4707" %>
<%= image "img_4708" %>
<%= image "img_4709" %>
<%= image "img_4719" %>
<%= image "img_4712" %>
<%= image "img_4592" %>

到着。

<%= image "img_4595" %>
<%= image "img_4735" %>
<%= image "img_4739" %>

宿はこちら。

<pre class="address">
<a href="http://www.vill.zamami.okinawa.jp/guidemap/detail/211/">すまいる</a>
沖縄県島尻郡座間味村阿嘉45
098-987-2818
</pre>

<%= image "img_4743" %>

一番近くの阿嘉ビーチへ。ウミガメがいるらしいけど、会えなかった。

<%= image "img_4598" %>
<%= image "img_4745" %>
<%= image "img_4746" %>
<%= image "img_4747" %>
<%= image "img_4750" %>
<%= image "img_4757" %>
<%= image "img_4760" %>
<%= image "img_4762" %>
<%= image "img_4765" %>
<%= image "img_4769" %>
<%= image "img_4773" %>
<%= image "img_4775" %>
<%= image "img_4776" %>

野良鹿。

<%= image "img_4604" %>

晩御飯。デザートは揚げたてサーダーアンダギー。うまし。

<%= image "img_4606" %>
<%= image "img_4608" %>
<%= image "img_4612" %>
<%= image "img_4614" %>

夜の散歩。

<%= image "img_4780" %>
<%= image "img_4782" %>
<%= image "img_4788" %>
<%= image "img_4792" %>
<%= image "img_4793" %>
<%= image "img_4795" %>
