---
title: 芦川オートキャンプ場 その1
tags: camp, yamanashi
---
山梨にキャンプに来ました。まずは道の駅で野菜を調達。

<pre class="address">
<a href="https://www.city.fuefuki.yamanashi.jp/kanko/shisetsu.php?id=240">芦川農産物直売所</a>(おごっそう家)
笛吹市芦川町上芦川679-1
055-298-2820
</pre>

<%= image "img_5943" %>
<%= image "img_5947" %>

<pre class="address">
<a href="http://www.geocities.jp/ashigawa_auto/">芦川オートキャンプ場</a>
山梨県笛吹市芦川町中芦川入沢
055(298)2186
</pre>

初テントにしてみました。テントとタープをレンタル。

<%= image "img_5970" %>
<%= image "img_5958" %>
<%= image "img_5963" %>
<%= image "img_5982" %>
<%= image "img_5990" %>
<%= image "img_5998" %>

ご飯を炊きます。

<%= image "img_5971" %>
<%= image "img_6012" %>
<%= image "img_6020" %>

花火。

<%= image "img_6026" %>
<%= image "img_6035" %>
<%= image "img_6042" %>
