---
title: 芦川オートキャンプ場 その2
tags: boat, camp, yamanashi
---
夜中にブランコみたいな不審な音に悩まされて、気になっちゃってあまり眠れず。
調べたら<a href="https://www.youtube.com/watch?v=z83rklgSn9M">トラツグミ</a>でした。次回は耳栓持って行こう。

<%= image "img_6047" %>
<%= image "img_6055" %>
<%= image "img_6057" %>
<%= image "img_6064" %>

ボート。

<%= image "img_6073" %>
<%= image "img_6076" %>

スイカ。

<%= image "img_6082" %>
<%= image "img_6086" %>

昼飯は冷麺。

<%= image "img_6097" %>
<%= image "img_6099" %>
<%= image "img_6111" %>
