---
title: 大阪 その2
tags: osaka, steak, shrine
---
<%= image "img_6580" %>
<%= image "img_6590" %>
<%= image "img_6596" %>
<%= image "img_6599" %>

夜はステーキ。

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270101/27002686/">アウトバック ステーキハウス 梅田店</a>
大阪府大阪市北区堂島1-6-20 堂島アバンザ B1F
06-6457-7121
</pre>

<%= image "img_4857" %>
<%= image "img_4860" %>
<%= image "img_4863" %>
<%= image "img_4865" %>
<%= image "img_4869" %>
<%= image "img_4872" %>
<%= image "img_6607" %>
<%= image "img_6611" %>

お初天神に寄る。

<%= image "img_6612" %>
<%= image "img_6615" %>
<%= image "img_6617" %>
<%= image "img_6620" %>
<%= image "img_6621" %>
<%= image "img_6627" %>
<%= image "img_6628" %>
<%= image "img_6633" %>
<%= image "img_6635" %>
