---
title: 大阪 その3
---
<%= image "img_4876" %>
<%= image "img_4879" %>
<%= image "img_6644" %>
<%= image "img_6654" %>

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270304/27071654/">まぐろ一徹</a>
大阪府大阪市旭区大宮2-27-18 
050-5868-2019
</pre>

<%= image "img_6660" %>
<%= image "img_6663" %>

角屋来ました。

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270304/27002992/">角屋</a>
大阪府大阪市旭区森小路2-8-22 
</pre>

<%= image "img_6675" %>
<%= image "img_6679" %>
<%= image "img_6680" %>
<%= image "img_6687" %>
<%= image "img_6689" %>
<%= image "img_6696" %>
<%= image "img_6703" %>
