---
title: かき小屋
tags: oyster, machida, restaurant
---
町田でかき小屋。

<pre class="address">
<a href="http://r.gnavi.co.jp/bkvt28zp0000/">かき小屋 町田</a>
東京都町田市中町1-3-2
042-851-8134
</pre>

<%= image "img_6939" %>
<%= image "img_6940" %>
<%= image "img_6941" %>
<%= image "img_6943" %>
<%= image "img_6945" %>
<%= image "img_6946" %>
<%= image "img_6951" %>
<%= image "img_6952" %>
<%= image "img_6957" %>
<%= image "img_0800" %>
