---
title: アメリカ出張 ラスベガス その1
tags: las vegas, travel, venetian
---
久しぶりにラスベガス来ました。

<%= image "img_4916" %>

今回のホテルは<a href="http://www.venetian.com/">ベネチアン</a>。

<%= image "img_4938" %>

ホテルの中に川とゴンドラが….

<%= image "img_4918" %>

ブラつきます。

<%= image "img_4921" %>
<%= image "img_4924" %>
<%= image "img_4925" %>
<%= image "img_4929" %>
<%= image "img_4930" %>

晩御飯はハンバーグ。

<%= image "img_4932" %>
<%= image "img_4934" %>
<%= image "img_4936" %>
