---
title: アメリカ出張 ラスベガス その2
tags: las vegas, shopping, buffet
---
バスに乗って、フリーモント通りへ。

<%= image "img_4941" %>
<%= image "img_4943" %>

ノースのプレミアムアウトレット。

アウトレットのフードコートで中華。

<%= image "img_4944" %>

<%= image "img_4945" %>

フォーラムショップで、ショーを観る。

<%= image "img_4951" %>
<%= image "img_4952" %>
<%= image "img_4955" %>
<%= image "img_4957" %>
<%= image "img_4958" %>
<%= movie "hdimg_4960" %>

明日と明後日のポロシャツをゲット。

<%= image "img_4962" %>

晩御飯はバフェに来ました。

<pre class="address">
<a href="http://www.wynnlasvegas.com/#dining/">The Buffet</a>
3131 Las Vegas Blvd S. Las Vegas, NV 89109
1-888-320-7110
</pre>

<%= image "img_4964" %>
<%= image "img_4967" %>
<%= image "img_4970" %>
<%= image "img_4973" %>
<%= image "img_4974" %>
<%= image "img_4977" %>

帰り道にMirageの噴火ショーを見る。

<%= image "img_4979" %>
