---
title: アメリカ出張 ラスベガス その4
tags: aws, las vegas, reinvent
---
同時並列セッション見てビビる。20超えてるし。

<%= image "img_4995" %>

朝飯と昼飯の会場。

<%= image "img_4997" %>

AWSブースで説明員をやる。
新製品の<a href="https://aws.amazon.com/jp/blogs/aws/aws-importexport-snowball-transfer-1-petabyte-per-week-using-amazon-owned-storage-appliances/">Snowball</a>の展示してた。

<%= image "img_5008" %>
<%= image "img_5012" %>

夜はお肉。

<pre class="address">
<a href="http://www.lawrysonline.com/lawrys-primerib/las-vegas">Lawry's the prime rib</a>
4043 Howard Hughes Pkwy, Las Vegas, NV 89169
702-893-2223
</pre>

<%= image "img_5014" %>
<%= image "img_5016" %>
<%= image "img_5018" %>
<%= image "img_5021" %>
