---
title: アメリカ出張 ラスベガス その5
tags: reinvent, replay, zedd
---
re:Play来ました。とにかく人が多い。

<%= image "img_5023" %>
<%= image "img_5029" %>
<%= image "img_5032" %>
<%= image "img_5034" %>
<%= image "img_5038" %>
<%= image "img_5040" %>

やっと食い物にありつく。ホットドック。

<%= image "img_5046" %>

ミサイルコマンドだ！

<%= image "img_5053" %>
<%= image "img_5050" %>
<%= image "img_5051" %>

Tシャツもらう列に並んでたら、風で飛んでる人がいた。

<%= movie "hdimg_5048" %>

<a href="https://www.zedd.net/">Zedd</a>登場。

<%= image "img_5057" %>
<%= movie "hdimg_5055" %>
<%= image "img_5060" %>

帰り道に面白い看板を見つける。

<%= image "img_5062" %>
