---
title: アメリカ出張 ラスベガス その6
tags: las vegas, entertainment
---
ベラージオの噴水ショー。

<%= movie "hdimg_5070" %>

安売りチケット屋で、<a href="http://www.blueman.com/">ブルーマン</a>のチケットを購入。
時間ないので、急いで晩飯。Curry Ramen。

<pre class="address">
<a href="http://www.yusholv.com/">Yusho</a>
3770 Las Vegas Blvd. South, Las Vegas, Nevada 89109
</pre>

<%= image "img_5072" %>

ブルーマン。

<%= image "img_5076" %>
<%= image "img_5078" %>
<%= image "img_5090" %>
