---
title: アメリカ出張 シアトル その1
tags: businesstrip, seafood, seattle
---
ラスベガス空港でワンタンスープの朝飯。

<%= image "img_5081" %>

シアトル到着。Westlake centerのフードコートで昼飯。

<%= image "img_5083" %>

今回のホテル。

<pre class="address">
<a href="http://www.marriott.com/hotels/travel/seadt-springhill-suites-seattle-downtown-south-lake-union/">SpringHill Suites Seattle Downtown</a>
1800 Yale Ave, Seattle, WA 98101
(206)254-0500
</pre>

Space Needleを見にいく。展望台は一時間待ちなので、モノレール乗って戻る。

<%= image "img_5084" %>
<%= image "img_5085" %>
<%= image "img_5086" %>
<%= image "img_5087" %>
<%= image "img_5088" %>

<%= image "img_5092" %>
<%= image "img_5095" %>
<%= image "img_5097" %>

そして耐えきれずにカキ屋。

<pre class="address">
<a href="http://www.yelp.com/biz/taylor-shellfish-farms-seattle">Taylor Shellfish Farms</a>
1521 Melrose Ave Seattle, WA 98122
206-501-4321
</pre>

<%= image "img_5101" %>
<%= image "img_5104" %>
<%= image "img_5105" %>
<%= image "img_5109" %>

2軒目。

<pre class="address">
<a href="http://www.pineboxbar.com/">Pine Box</a>
1600 Melrose Ave Seattle, WA
(206) 588-0375
</pre>

<%= image "img_5111" %>
<%= image "img_5113" %>
<%= image "img_5115" %>
