---
title: アメリカ出張 シアトル その2
tags: museum, seattle
---
航空博物館へバスで行く。バスルートが面白かった。

<%= image "img_5117" %>

アメリカっぽい道。

<%= image "img_5125" %>
<%= image "img_5232" %>
<%= image "img_5233" %>

到着。

<pre class="address">
<a href="http://www.museumofflight.org/">The Museum of Flight</a>
9404 E.Marginal Way S, Seattle, WA 98108
(206) 764-5720
</pre>

<%= image "img_5121" %>
<%= image "img_5128" %>
<%= image "img_5131" %>
<%= image "img_5139" %>
<%= image "img_5143" %>
<%= image "img_5148" %>
<%= image "img_5153" %>
<%= image "img_5154" %>
<%= image "img_5155" %>
<%= image "img_5157" %>
<%= image "img_5161" %>
<%= image "img_5159" %>
<%= image "img_5160" %>

Blackbirdカッコイイ。

<%= image "img_5134" %>
<%= image "img_5137" %>
<%= image "img_5138" %>
<%= image "img_5150" %>
<%= image "img_5151" %>

ライト兄弟の作った飛行機のレプリカ。

<%= image "img_5178" %>
<%= image "img_5146" %>
<%= image "img_5141" %>

ボーイング737。

<%= image "img_5177" %>
<%= image "img_5162" %>
<%= image "img_5164" %>
<%= image "img_5165" %>
<%= image "img_5167" %>
<%= image "img_5168" %>

管制塔。

<%= image "img_5173" %>
<%= image "img_5174" %>
<%= image "img_5176" %>

宇宙エリア。

<%= image "img_5180" %>
<%= image "img_5183" %>
<%= image "img_5185" %>

ボーイングの昔の工場。

<%= image "img_5235" %>
<%= image "img_5187" %>
<%= image "img_5189" %>
<%= image "img_5190" %>
<%= image "img_5192" %>

戦闘機エリア。

<%= image "img_5193" %>
<%= image "img_5194" %>
<%= image "img_5195" %>
<%= image "img_5196" %>
<%= image "img_5197" %>
<%= image "img_5200" %>
<%= image "img_5202" %>
<%= image "img_5204" %>
<%= image "img_5205" %>
<%= image "img_5207" %>
<%= image "img_5206" %>

一度は乗りたかったコンコルド！中に入れた、狭い。

<%= image "img_5209" %>
<%= image "img_5211" %>
<%= image "img_5214" %>

787のエンジン。

<%= image "img_5220" %>
<%= image "img_5219" %>

エアフォースワン。これも中に入れます。

<%= image "img_5222" %>
<%= image "img_5225" %>
<%= movie "hdimg_5227" %>
<%= movie "hdimg_5228" %>
<%= image "img_5229" %>

Pike Place Market。スタバ一号店に行く。

<%= image "img_5240" %>
<%= image "img_5238" %>
<%= image "img_5244" %>
<%= image "img_5254" %>
<%= image "img_5257" %>

ガムだらけの壁。

<%= image "img_5251" %>
<%= image "img_5252" %>

晩御飯はクラムチャウダー。

<pre class="address">
<a href="http://www.pikeplacechowder.com/">Pike Place Chowder</a>
600 Pine St. 4th Floor Seattle WA 98101
(206) 838-5680
</pre>

<%= image "img_5261" %>
<%= image "img_5265" %>
