---
title: アメリカ出張 シアトル その4
tags: aws, beer, seattle, us
---
会社のエレベーターは乗っても階が押せない仕様。

<%= image "img_5273" %>

乗る前に行きたい階を押すと、エレベーターを指示される。なるほどね。

<%= image "img_5274" %>
<%= image "img_5276" %>

夜は職場のメンバーとTap House。

<pre class="address">
<a href="http://taphousegrill.com/">Tap House Grill</a>
1506 Sixth Avenue Seattle Washington 98101
206-816-3314
</pre>

<%= image "img_5279" %>
<%= image "img_5280" %>
<%= image "img_5281" %>
<%= image "img_5283" %>
