---
title: アメリカ出張 シアトル その7
---
また来てしまった...。

<pre class="address">
<a href="http://www.yelp.com/biz/taylor-shellfish-farms-seattle">Taylor Shellfish Farms</a>
1521 Melrose Ave Seattle, WA 98122
206-501-4321
</pre>

<%= image "img_5337" %>
<%= image "img_5334" %>

カキ食ったあとは空海。

地ビール飲めて、つまみがあって、〆にラーメンって最高ですな。

<%= image "img_5339" %>
<%= image "img_5344" %>
<%= image "img_5341" %>
<%= image "img_5342" %>
<%= image "img_5345" %>
<%= image "img_5346" %>
<%= image "img_5351" %>

一緒に来た同僚は最終日なので、部屋でさらに飲む。
Whole Foodsで買ったおすすめピーナッツがうまい。

<%= image "img_5352" %>
