---
title: アメリカ出張 シアトル その14
---
最後の夜はステーキ。自分にご褒美。

<pre class="address">
<a href="http://www.ruthschris.com/restaurant-locations/washington-convention-center">Ruth's Chris Steak House</a>
724 9th Street, NW, Washington, D.C. 20001
</pre>

<%= image "img_5388" %>
<%= image "img_5389" %>
<%= image "img_5390" %>
<%= image "img_5391" %>
<%= image "img_5393" %>

コース最後のデザートが甘すぎて脳みそ飛んでいきそうになった。

<%= image "img_5394" %>
