---
title: 駒場
tags: food, komaba, university
---
所用で駒場へ。

<%= image "img_7224" %>
<%= image "img_7229" %>

昼ごはん。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1318/A131801/13141779/">オリエンタル デリ 駒場店</a>
東京都目黒区駒場2-17-8 ローズハイム松永 1F
03-3465-2267
</pre>

<%= image "img_0066" %>
<%= image "img_7236" %>
<%= image "img_7237" %>
<%= image "img_7239" %>
<%= image "img_7232" %>

娘さんと東大に寄って、銀杏並木を歩く。

<%= image "img_0067" %>
<%= image "img_0070" %>
<%= image "img_0071" %>
