---
title: あーすぷらざ
tags: yokohama, kids, food
---
娘とお出かけ。横浜で昼飯を物色してたら、神座があった。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14058916/">神座飲茶楼 横浜ジョイナス店</a>
神奈川県横浜市西区南幸1-5-1
045-548-4578
</pre>

<%= image "img_0154" %>
<%= image "img_0155" %>
<%= image "img_0156" %>

なんかデートしてる気分になってきた。

<%= image "img_0153" %>

<pre class="address">
<a href="http://www.earthplaza.jp/">あーすぷらざ</a>
〒247-0007 横浜市栄区小菅ケ谷1−2−1
</pre>

<%= movie "hdimg_0159" %>
