---
title: 中国出張 その1
tags: beijing, business-trip, china
---
出張で北京へ。よりによって、初めてPM2.5の赤色警報(最悪レベル)が発令された日に来てしまいました。
小中学校は休校とのこと。
12/7の深夜にホテル到着。町中排気ガス臭い。

<pre class="address">
<a href="http://www.hotellidobeijing.com/en/">METROPARK LIDO HOTEL BEIJING</a>
Jiang Tai Road, Chaoyang District, Beijing
Tel:+86 10-64376688
</pre>

<%= image "img_0209" %>
<%= image "img_0210" %>

シャワー浴びて寝るかと思ったらメールが来て、警報のため明日みんな在宅勤務なんで、ホテルからリモートワークしてと言われる。
何しに来たんだか。

夜になって、ホテルで晩飯食おうかと思ったけど、朝食用のレストラン以外どこも空いてない。
観光客来ないので潰れたみたい。
夜も同じレストラン行きたくないし、2Fのバーでビール頼んだあと、食事頼もうとしたらやってないと言われる。
ビール頼む前に言えや。

諦めて外に出て適当な店に入る。

<%= image "img_0212" %>

紅焼牛肉麺。

<%= image "img_0211" %>

街は昔に比べるとすごい綺麗になってる。これで空気さえ悪くなければねえ。

<%= image "img_0213" %>
