---
title: あーすぷらざ
tags: museum, yokohama, kids
---
<pre class="address">
<a href="http://www.earthplaza.jp/">あーすぷらざ</a>
〒247-0007 横浜市栄区小菅ケ谷1−2−1
</pre>

<%= image "img_7723" %>
<%= image "img_7738" %>
<%= image "img_7743" %>
<%= image "img_7748" %>
<%= image "img_7754" %>
<%= image "img_7756" %>
<%= image "img_7759" %>
<%= image "img_7761" %>
