---
title: バッティングセンター
tags: sports, baseball, odawara
---
<pre class="address">
<a href="http://www.battingcenter.com/kanagawa/2547/">バッティングセンター 金太郎</a>
神奈川県小田原市飯泉1064
0465-47-8688
</pre>

<%= image "img_7952" %>
<%= image "img_7956" %>
<%= image "img_7959" %>
<%= image "img_7960" %>
<%= image "img_7961" %>
<%= image "img_7964" %>
<%= image "img_7966" %>
