---
title: 新潟旅行 その1
tags: travel, niigata, skiing
---
正月から新潟へ。雪不足で心配してたんだけど、なんとか行く前にスキー場がオープンしました。

<%= image "img_8129" %>
<%= image "img_0293" %>

ピザ屋。

<%= image "img_0263" %>
<%= image "img_0264" %>
<%= image "img_0266" %>
<%= image "img_0267" %>
<%= image "img_0268" %>

スキーチームとそりすべりチームに分かれるがすぐに合流。

<%= image "img_8147" %>
<%= image "img_8151" %>
<%= movie "hdimg_0271" %>
<%= movie "hdimg_0272" %>
<%= image "img_0277" %>
<%= movie "hdimg_0278" %>
<%= image "img_8164" %>
<%= image "img_8167" %>
<%= image "img_8173" %>
<%= image "img_8176" %>
<%= image "img_8181" %>
<%= image "img_8185" %>

旅館に戻ります。

<%= image "img_0282" %>
<%= movie "hdimg_0285" %>
<%= image "img_0296" %>
<%= image "img_0297" %>
<%= movie "hdimg_0300" %>
<%= image "img_0301" %>
<%= movie "hdimg_0304" %>

今年も玉城屋さんにお邪魔します。

<pre class="address">
<a href="http://www.yuzawa-tamakiya.com/">湯沢 玉城屋</a>
新潟県南魚沼郡湯沢町土樽5081-5
025-787-3019
</pre>

晩御飯。米うまい。笹団子うまい。

<%= image "img_0305" %>
<%= image "img_0306" %>
<%= image "img_0307" %>
<%= image "img_0308" %>
<%= image "img_0309" %>
<%= image "img_0311" %>
<%= image "img_0312" %>
