---
title: 海福
---
<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140301/14005380/">海福 天王町店</a>
神奈川県横浜市保土ケ谷区天王町2-47-2
045-331-0422
</pre>

<%= image "img_0371" %>
<%= image "img_0373" %>
<%= image "img_8348" %>
<%= image "img_8350" %>
<%= image "img_8351" %>
<%= image "img_8355" %>
<%= image "img_8358" %>
<%= image "img_8359" %>

<%= image "img_8343" %>
<%= image "img_8363" %>
