---
title: 東京スカイツリー
tags: sightseeing, tokyo, tower
---
東京スカイツリーに観光へ。

<%= image "img_8384" %>
<%= image "img_8391" %>
<%= image "img_8396" %>
<%= image "img_8400" %>
<%= image "img_8404" %>
<%= image "img_8410" %>
<%= image "img_8411" %>
<%= image "img_8426" %>
<%= image "img_8433" %>
<%= image "img_8437" %>
<%= image "img_8455" %>
<%= image "img_0437" %>
<%= image "img_8472" %>
<%= image "img_8482" %>

スケスケフロアー。

<%= image "img_0441" %>

隣の<a href="http://www.it-chiba.ac.jp/skytree/">千葉工業大学東京スカイツリータウンキャンパス</a>へ。

<%= image "img_8487" %>
<%= image "img_8489" %>
<%= image "img_8491" %>

バルキリー。

<%= image "img_0442" %>
<%= image "img_0445" %>
<%= image "img_0447" %>
