---
title: 新橋
tags: restaurant, shinbashi, yakiniku
---
新橋で焼肉。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1301/A130103/13013436/">大盛苑</a>
東京都港区新橋2-8-14 
03-3580-1761
</pre>

<%= image "img_8495" %>
<%= image "img_0448" %>
<%= image "img_0449" %>
<%= image "img_0450" %>
<%= image "img_0451" %>
<%= image "img_0452" %>
<%= image "img_0453" %>
<%= image "img_0454" %>

SL広場。

<%= image "img_8492" %>
