---
title: バルバッコア
tags: restaurant, churrasco, shibuya
---
職場のメンバーでシェラスコ大会。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1303/A130301/13161792/">バルバッコア 渋谷店</a>
東京都渋谷区宇田川町20-15 ヒューマックスパビリオン渋谷公園通り 7F
050-5872-5977
</pre>

サラダバーも充実。

<%= image "img_0458" %>
<%= image "img_0459" %>
<%= image "img_0460" %>
<%= image "img_0461" %>
<%= image "img_0462" %>

肉肉肉。

<%= image "img_0465" %>
<%= image "img_0467" %>
<%= image "img_0469" %>
<%= image "img_0470" %>
<%= image "img_0472" %>
<%= image "img_0474" %>
<%= image "img_0476" %>
