---
title: アウトバックステーキハウス
tags: restaurant, steak, ebina
---
にくー。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1408/A140801/14001205/">アウトバック ステーキハウス 海老名店</a>
神奈川県海老名市中央1-18-1 ビナウォーク6番館 1F
050-5868-2713
</pre>

<%= image "img_0700" %>
<%= image "img_0702" %>
<%= image "img_0708" %>
<%= image "img_0715" %>
<%= image "img_0721" %>
<%= image "img_0728" %>

<%= image "img_8663" %>
<%= image "img_8667" %>
<%= image "img_8672" %>
