---
title: 横浜
---
久しぶりにそごうの屋上。

<%= movie "hdimg_0756" %>
<%= image "img_0757" %>
<%= image "img_0758" %>
<%= image "img_0762" %>
<%= movie "hdimg_0764" %>

日産の本社ビルに行ったら、あぶ刑事の新旧パトカーが展示されてた。

<%= image "img_0765" %>
<%= image "img_0767" %>
<%= image "img_0769" %>

おしゃれ空間。

<%= image "img_0772" %>

<a href="https://nissan-rentacar.com/choi-mobi/">チョイモビ</a>。

<%= image "img_0774" %>
<%= image "img_0776" %>
<%= movie "hdimg_0777" %>
