---
title: 台湾 その1
tags: food, taiwan, travel
---
エバー航空で台湾へ。キティちゃんジェットでした。

<%= image "img_0843" %>
<%= image "img_0844" %>
<%= image "img_0845" %>

松山空港着。初台湾。人生<a href="/prof/visited.html">23国目</a>。

<%= image "img_0849" %>

空港でSIMカードをゲット。

<%= image "img_0848" %>
<%= image "img_0847" %>
<%= image "img_0865" %>

今回のホテル。

<pre class="address">
<a href="http://taipei.jp.howard-hotels.com/">Howard Plaza Hotel Taipei</a>
臺北市仁愛路三段160號
</pre>

<%= image "img_0850" %>
<%= image "img_0851" %>

街並み。

<%= image "img_0856" %>

ホテルのそばで牛肉麺。

<%= image "img_0958" %>
<%= image "img_0859" %>
<%= image "img_0861" %>

地下鉄(MRT)の駅に寄って、Suica的なものをゲット。

<%= image "img_0863" %>

街に溢れかえっている日本語

<%= image "img_0846" %>
<%= image "img_0853" %>
<%= image "img_0855" %>
<%= image "img_0862" %>
<%= image "img_0864" %>
