---
title: 台湾 その2
tags: businesstrip, food, taipei, taiwan
---
職場の向かいのビルのオシャレ本屋をのぞいたら、漫画が充実してる。

<%= image "img_0867" %>

地下鉄で西門駅へ移動。

<%= image "img_0869" %>
<%= image "img_0882" %>

日本の同僚に教えてもらった店へ。これで50元(172円)、安くてうまし。

<pre class="address">
<a href="http://www.taipeinavi.com/food/743/">阿宗麺線</a>
台北市峨嵋街8号之1
</pre>

<%= image "img_0872" %>
<%= image "img_0874" %>

この店も混んでてうまそうだった。今度行ってみたい。

<%= image "img_0883" %>

今日の日本。

<%= image "img_0868" %>
<%= image "img_0870" %>
<%= image "img_0878" %>
<%= image "img_0879" %>
<%= image "img_0880" %>
