---
title: 台湾 その3
tags: food, taiwan
---
台湾チームメンバーで昼飯。焼き餃子にしてみた。お腹いっぱい。

<pre class="address">
<a href="http://4travel.jp/overseas/area/asia/taiwan/taipei/restaurant/10501699/map/#contents_inner">小楽天餃子館</a>
台湾台北市信義区忠孝東路五段151号
</pre>

<%= image "img_0890" %>
<%= image "img_0885" %>
<%= image "img_0889" %>
<%= image "img_0886" %>
<%= image "img_0887" %>
<%= image "img_0888" %>

職場のそぐそばなので、帰りに北京から来た同僚と<a href="http://www.taipei-101.com.tw/jp/index.aspx">台北101</a>に登る。

<%= image "img_0892" %>
<%= image "img_0894" %>
<%= image "img_0896" %>
<%= image "img_0907" %>
<%= movie "hdimg_0908" %>
<%= image "img_0910" %>
<%= image "img_0914" %>

660tの重りで、揺れを軽減するんだそうです。

<%= image "img_0918" %>
<%= image "img_0928" %>

なんと外に出れる。

<%= image "img_0923" %>
<%= image "img_0925" %>
<%= image "img_0926" %>

地下鉄(MRT)。路線にもよるけど、車幅が広い。

<%= image "img_0930" %>

東門駅から、同僚が行ってみたいというお店へ。

<pre class="address">
<a href="http://www.taipeinavi.com/food/37/">永康牛肉麺館</a>
台北市金山南路二段31巷17號
</pre>

紅焼牛肉麺と粉蒸排骨(スペアリブと餅米を蒸したやつ)。うまし。

<%= image "img_0932" %>
<%= image "img_0933" %>
<%= image "img_0934" %>
<%= image "img_0937" %>
<%= image "img_0940" %>

底にはサツマイモが入ってる。

<%= image "img_0941" %>

今日の日本。

<%= image "img_0931" %>
<%= image "img_0942" %>
