---
title: 台湾 その9
tags: food, taiwan, xiaolongbao
---
駅そばのお店で肉饅頭を買う。野菜多めのやつと肉多めのやつ。
駅前で座って食ったら、肉汁が溢れ出てきて手とズボンがべっちょり。

<%= image "img_1138" %>
<%= image "img_1112" %>
<%= image "img_1114" %>
<%= image "img_1115" %>

婦女節(Women's Day)だそうで、職場で花配ってた。身近な女性にプレゼントしろとのこと。
出張中にどうしろと。結局、初日に親切にしてもらった受付の女性に渡す。

<%= image "img_1116" %>

雨降ってきた。

<%= image "img_1117" %>

時々売ってるモミジ。まだ未挑戦。

<%= image "img_1118" %>

雨なんで駅から行ける店にした。ようやく初小籠包。

<pre class="address">
<a href="http://4travel.jp/overseas/area/asia/taiwan/taipei/restaurant/10380980/">鼎泰豊 SOGO復興館</a>
台北市忠孝東路3段300号 SOGO復興店B2F
</pre>

小籠包と、カニ味噌スープの小籠包と、牛筋肉のスープ。
うまーい。でも、この店、横浜にも支店あるのね。

<%= image "img_1137" %>
<%= image "img_1131" %>
<%= image "img_1132" %>
<%= image "img_1133" %>
<%= image "img_1135" %>
<%= image "img_1134" %>

今日の日本。

<%= image "img_1119" %>
<%= image "img_1130" %>
<%= image "img_1120" %>
<%= image "img_1121" %>
<%= image "img_1123" %>
<%= image "img_1124" %>
<%= image "img_1129" %>
<%= image "img_1136" %>
