---
title: 台湾 その10
---
同僚に連れられて台北市政府の地下にある職員向けの食堂で昼飯。
観光だと行く機会がないので、面白い。味はまあ社員食堂なんでそれなりですが。

<%= image "img_1141" %>
<%= image "img_1140" %>

この食べ物が不思議な味だったんで、聞いたらゴーヤを煮た物だそうで。

<%= image "img_1143" %>

雨にも負けず天天利にきた。

<pre class="address">
<a href="http://tabelog.com/taiwan/A5403/A540305/54000232/">天天利美食坊</a>
台湾台北市萬華區漢中街32巷1號
</pre>

魯肉飯と油豆腐と魚団子のスープ。

<%= image "img_1151" %>
<%= image "img_1150" %>
<%= image "img_1147" %>
<%= image "img_1149" %>

ホテルそばの<a href="http://www.dante.com.tw/">Dante Coffee</a>でマンゴージュース。大を頼んだら量が多すぎた。

<%= image "img_1154" %>

今日の日本。

<%= image "img_1145" %>
<%= image "img_1152" %>
