---
title: 台湾 その11
tags: food, taiwan, xiaolongbao
---
雨が降ってるのでソーセージ弁当。

<%= image "img_1159" %>
<%= image "img_1160" %>

各方面から世界的チェーン店で小籠包食ってんじゃねえと指摘されたので別の店へ。

<pre class="address">
<a href="http://www.taipeinavi.com/food/625/">濟南鮮湯包</a>
濟南路三段20号
</pre>

小籠包とエビ焼売。

<%= image "img_1173" %>
<%= image "img_1163" %>
<%= image "img_1167" %>
<%= image "img_1168" %>

トンポーローはパンに巻いて食べます。これの量が多すぎた。

<%= image "img_1166" %>
<%= image "img_1164" %>
<%= image "img_1165" %>
<%= image "img_1170" %>
