---
title: 台湾 その12
tags: buffet, businesstrip, taiwan, thai
---
最終日ということで、ランチパーティーを開催してくれた。
シーフード中心のタイ料理バイキングです。

<pre class="address">
<a href="http://jay7134.pixnet.net/blog/post/184968924-%EF%BC%88%E5%8F%B0%E5%8C%97%E4%BF%A1%E7%BE%A9%E5%8D%80%E7%BE%8E%E9%A3%9F%EF%BC%89%E6%B3%B0%E5%B8%82%E5%A0%B4-%E8%AA%A0%E5%93%81%E4%BF%A1%E7%BE%A9%E6%97%97%E8%89%A6%E5%BA%97-">泰市場 誠品信義旗艦店</a>
台北市信義區松高路11號6樓
</pre>

<%= image "img_1174" %>
<%= image "img_1175" %>
<%= image "img_1176" %>
<%= image "img_1177" %>
<%= image "img_1181" %>
<%= image "img_1183" %>
<%= image "img_1185" %>
<%= image "img_1188" %>
<%= image "img_1178" %>

<%= image "img_1179" %>
<%= image "img_1182" %>
<%= image "img_1184" %>

Deep Fried Durian。ドリアン久しぶりに食った。

<%= image "img_1187" %>

記念写真。

<%= image "img_1194" %>

昼食い過ぎて腹減ってないし、眠いし、雨降ってるし、寒いし、財布に現金残ってないし、冷蔵庫に飲んでないビールあるので、肉饅買って部屋飲み。

<%= image "img_1196" %>
