---
title: 台湾 その13
---
西門町に来て朝飯。天天利で魯肉飯と油豆腐。

<pre class="address">
<a href="http://tabelog.com/taiwan/A5403/A540305/54000232/">天天利美食坊</a>
台湾台北市萬華區漢中街32巷1號
</pre>

<%= image "img_1197" %>
<%= image "img_1200" %>
<%= image "img_1199" %>
<%= image "img_1198" %>

バスで桃園空港へ。車窓がまるで日本。

<%= image "img_1203" %>
<%= image "img_1205" %>
<%= image "img_1206" %>

空港。小銭が余ったので、コンビニで豆花を買う。

<%= image "img_1207" %>
<%= image "img_1210" %>
<%= image "img_1208" %>
<%= image "img_1209" %>

ハローキティーエリア。

<%= image "img_1211" %>
<%= image "img_1212" %>
<%= image "img_1213" %>
