---
title: 社内花見イベント
tags: sakura, party, meguro
---
オフィスからの眺め。目黒川はお花見本番。

<%= image "img_1263" %>

<a href="http://www.happo-en.com/">八芳園</a>でお花見イベント。

<%= image "img_1264" %>
<%= image "img_1267" %>
<%= image "img_1268" %>
<%= image "img_1296" %>
<%= image "img_1288" %>
