---
title: 鼎泰豐
tags: food, yokohama
---
台北のお店と比較検証に来ました。

<%= image "img_1317" %>

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14000058/">鼎泰豐 高島屋横浜店</a>
神奈川県横浜市西区南幸1-6-31 横浜タカシマヤ 8F
045-321-0036
</pre>

なかなかに美味しかったのでまた来ます。が、結論としては台北のお店の方がうまかった。

<%= image "img_1318" %>
<%= image "img_1319" %>
<%= image "img_1320" %>
<%= image "img_1321" %>
<%= image "img_1322" %>
<%= image "img_1323" %>

<%= image "img_9107" %>
