---
title: こども宇宙科学館
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

ペットボトルロケットを飛ばす。

<%= movie "hdimg_1330" %>

息子はレゴでロボット作成。2位でした。

<%= image "img_1331" %>
<%= movie "hdimg_1332" %>
<%= image "img_1338" %>

ログハウスで遊ぶ。

<%= movie "hdimg_1341" %>
