---
title: 横ぶら
tags: yokohama, family, zoo
---
娘さんと横浜デート。まずは野毛山動物園。

<%= image "img_1359" %>
<%= image "img_1360" %>
<%= image "img_1361" %>
<%= image "img_1364" %>
<%= image "img_1365" %>
<%= image "img_1369" %>
<%= movie "hdimg_1370" %>
<%= image "img_1371" %>
<%= image "img_1378" %>
<%= image "img_1386" %>
<%= image "img_1389" %>

歩いてみなとみらいへ。
<a href="http://www.nippon-maru.or.jp/">日本丸</a>を見学。

<%= image "img_1400" %>
<%= image "img_1404" %>
<%= image "img_1405" %>
<%= image "img_1406" %>
<%= image "img_1409" %>
<%= image "img_1411" %>
<%= image "img_1414" %>
<%= image "img_1415" %>
<%= image "img_1416" %>
<%= image "img_1418" %>
<%= image "img_1432" %>
<%= image "img_1433" %>
<%= image "img_1434" %>
<%= image "img_1436" %>
<%= image "img_1437" %>
<%= image "img_1438" %>
<%= image "img_1440" %>

観覧車。強風のため娘さんビビりまくり。

<%= image "img_1446" %>
<%= image "img_1454" %>

さらに遊具で遊ぶ。

<pre class="address">
<a href="http://www.queens-east.co.jp/qe/shopguide/detail.html/?shopcode=yukidsisland">ユーキッズアイランド</a>
神奈川県横浜市西区みなとみらい2丁目3番2号 4F
</pre>

<%= image "img_1456" %>
<%= movie "hdimg_1458" %>
<%= image "img_1459" %>
<%= image "img_1460" %>
<%= movie "hdimg_1466" %>
<%= movie "hdimg_1467" %>
