---
title: 鎌倉
tags: family, kamakura, temple
---
娘さんと鎌倉デート。

鎌倉駅着いたら江ノ電は混雑のため30分待ちとのこと。GWなめてた。
長谷までブラブラ歩く。途中で住宅地エリアに入って、りりちゃんの言う通り歩いてたら公園を発見。嗅覚鋭い。
例によって逆上がり。

<%= movie "hdimg_1468" %>

<a href="http://www.kotoku-in.jp/">高徳院</a>到着。

<%= image "img_1470" %>
<%= image "img_1478" %>
<%= image "img_1479" %>
<%= image "img_1487" %>

大仏の中にも入る。

<%= image "img_1489" %>

長谷駅通り過ぎて海岸へ。涼しくなってきたので鎌倉ビール飲む。

<%= image "img_1495" %>
<%= image "img_1499" %>

コンビニでおつまみ買って、海見ながら晩飯。

<%= image "img_1504" %>
<%= image "img_1510" %>
