---
title: 木登り
tags: outdoor, restaurant, family
---
木登り。見えんぞ。

<%= image "img_9345" %>
<%= image "img_9347" %>
<%= image "img_9349" %>

<a href="http://www.yodobashi-yokohama.com/restaurant/yy_hama.html">ハマバーグ</a>。

<%= image "img_9351" %>
<%= image "img_9352" %>
<%= image "img_9354" %>
