---
title: 大阪 その1
tags: travel, osaka, food
---
大阪へ。

<%= image "img_9361" %>
<%= image "img_9367" %>
<%= image "img_9371" %>
<%= image "img_1585" %>

記念撮影

<%= image "img_9375" %>
<%= image "img_9380" %>
<%= image "img_9390" %>

晩御飯へ移動。

<%= image "img_9395" %>

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270305/27086154/">魚庭の立ち寿司</a>
大阪府大阪市城東区今福西1-8-14 
06-6939-3491
</pre>

<%= image "img_1513" %>
<%= image "img_1514" %>
<%= image "img_1515" %>
<%= image "img_9397" %>
<%= image "img_9398" %>
<%= image "img_9399" %>
<%= image "img_9400" %>
<%= image "img_9403" %>

角屋へ。

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270304/27002992/">角屋</a>
大阪府大阪市旭区森小路2-8-22 
06-6952-1487
</pre>

定番の氷ミルクプリンソフト。食べきったぜ！

<%= image "img_1519" %>
<%= image "img_1525" %>
<%= image "img_1520" %>
<%= image "img_1523" %>

あご出汁の自販機。

<%= image "img_1517" %>

ハッピバースデー。

<%= image "img_9406" %>
<%= image "img_9410" %>
<%= image "img_9418" %>
<%= image "img_9427" %>
