---
title: 大阪 その2
tags: osaka, travel, yakiniku
---
焼肉でーす。

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270305/27012723/">薩摩の久保</a>
大阪府大阪市都島区都島本通5丁目10-16 
06-6927-4111
</pre>

<%= image "img_1527" %>
<%= image "img_1528" %>
<%= image "img_1532" %>
<%= image "img_1533" %>
<%= image "img_1535" %>
<%= image "img_1536" %>
<%= image "img_1538" %>
<%= image "img_1539" %>
<%= image "img_1540" %>
<%= image "img_9430" %>
<%= image "img_9431" %>
<%= image "img_9437" %>
