---
title: 月あかり
---
前職飲み。
みんなもう結構バラバラ。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1408/A140801/14060907/">月あかり</a>
神奈川県海老名市扇町13-1
0120-48-3322
</pre>

<%= image "img_1545" %>
<%= image "img_1548" %>
<%= image "img_1549" %>
<%= image "img_1552" %>
<%= image "img_1554" %>
<%= image "img_1559" %>
