---
title: 千葉旅行 その1
tags: chiba, travel, zoo
---
千葉に象に乗りに行きますよー(8年ぶり2回目)。

まずは海ほたる。

<%= image "img_9695" %>
<%= image "img_9704" %>
<%= image "img_9712" %>
<%= image "img_9720" %>
<%= image "img_9722" %>
<%= image "img_9727" %>

ぞうの国到着。

<pre class="address">
<a href="http://www.zounokuni.com/">市原 ぞうの国</a>
市原市山小川937
0436-88-3001
</pre>

<%= image "img_1679" %>
<%= image "img_1682" %>
<%= image "img_1684" %>
<%= image "img_1686" %>
<%= image "img_1690" %>
<%= image "img_1702" %>
<%= image "img_9738" %>
<%= image "img_9739" %>
<%= image "img_9741" %>
<%= movie "hdimg_9742" %>
<%= movie "hdimg_9746" %>
<%= image "img_9749" %>
<%= image "img_9752" %>
<%= image "img_9785" %>

ちょうど移動中の象さんに出会う。

<%= image "img_1693" %>
<%= image "img_1698" %>
<%= movie "hdimg_9745" %>

触れあいます。

<%= image "img_9759" %>
<%= image "img_9761" %>
<%= image "img_9766" %>
<%= image "img_9769" %>
<%= image "img_9777" %>
<%= image "img_9782" %>

ショー開始。

<%= image "img_9800" %>
<%= image "img_9807" %>
<%= image "img_9816" %>

絵を描く。

<%= image "img_9823" %>
<%= movie "hdimg_9824" %>
<%= image "img_9825" %>
<%= image "img_9827" %>

バスケ。

<%= image "img_9829" %>
<%= image "img_9831" %>
<%= movie "hdimg_1721" %>

サッカー。

<%= movie "hdimg_9833" %>

休憩

<%= image "img_9842" %>

象の背中に乗ります。

<%= image "img_9837" %>
<%= image "img_9853" %>
<%= movie "hdimg_9856" %>
<%= image "img_9860" %>
<%= movie "hdimg_9863" %>

猫エリア。

<%= image "img_1731" %>
<%= image "img_1736" %>
<%= image "img_1739" %>
<%= image "img_9886" %>
<%= image "img_9889" %>
<%= image "img_9898" %>

今日のお宿。

<pre class="address">
<a href="http://magusa.web.fc2.com/">民宿まぐさ</a>
千葉県勝浦市吉尾454
0120−093−246
</pre>

<%= image "img_1746" %>
<%= image "img_1747" %>
<%= image "img_1748" %>
<%= image "img_1756" %>
<%= image "img_1762" %>
