---
title: こども宇宙科学館
tags: museum, science, lego
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

レゴWe Do

<%= image "img_0085" %>
<%= image "img_0088" %>
<%= image "img_0091" %>
<%= image "img_0093" %>

家で回転寿司。

<%= image "img_0094" %>
<%= image "img_0099" %>
