---
title: なまはげ
tags: dinner, ginza, nabe
---
某集まりにお招き頂いて、きりたんぽ鍋。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1301/A130103/13021184/">なまはげ 銀座店</a>
東京都中央区銀座8-5-6 中島商事ビル 9F
050-5869-1654
</pre>

<%= image "img_1796" %>
<%= image "img_1797" %>
<%= image "img_1799" %>
<%= image "img_1801" %>
<%= image "img_1813" %>

なまはげ登場。

<%= movie "hdimg_1803" %>
<%= image "img_1806" %>
