---
title: RIBLAB KITCHEN
tags: yokohama, restaurant, ribs
---
<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14060542/">RIBLAB KITCHEN 横浜</a>
神奈川県横浜市西区南幸1-3-1 横浜モアーズ  9F
045-595-9091
</pre>

スペアリブとパエリア。

<%= image "img_0115" %>
<%= image "img_0117" %>
<%= image "img_0119" %>

<%= image "img_0107" %>
<%= image "img_0110" %>
<%= image "img_0120" %>
