---
title: どろんこ体験
---
足柄ふれあいの村でどろんこ体験

<%= image "dsc_0004" %>
<%= image "dsc_0008" %>
<%= image "dsc_0012" %>
<%= image "dsc_0015" %>
<%= image "dsc_0017" %>
<%= image "dsc_0024" %>
<%= image "dsc_0028" %>
<%= image "dsc_0029" %>
<%= image "dsc_0031" %>
<%= image "dsc_0032" %>
<%= image "dsc_0038" %>
<%= image "dsc_0039" %>
<%= image "dsc_0043" %>
<%= image "dsc_0045" %>
<%= image "dsc_0053" %>
<%= image "dsc_0072" %>
<%= image "dsc_0082" %>
<%= image "dsc_0084" %>
<%= image "dsc_0097" %>
<%= image "img_0707" %>

久しぶりに担々麺を食べに行く。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1409/A140901/14003104/">中華 四川</a>
神奈川県小田原市上曽我173-1 
0465-42-5451
</pre>

<%= image "dsc_0083" %>
<%= image "img_1934" %>
<%= image "img_1936" %>
<%= image "img_1937" %>
<%= image "img_1939" %>
<%= image "dsc_0093" %>
<%= image "dsc_0090" %>
<%= image "img_0709" %>
<%= image "img_0712" %>

じーちゃん家。

<%= image "img_0715" %>
<%= image "img_0725" %>

ポケモン狩り。

<%= image "img_1941" %>
