---
title: 沖縄旅行 その1
---
今年も阿嘉島いきます。
高速船はすげえ強風。

<%= image "img_1958" %>
<%= image "img_1960" %>
<%= image "img_0739" %>
<%= image "img_0744" %>
<%= image "img_0746" %>
<%= image "img_0753" %>
<%= image "img_0754" %>

今年もすまいるさんにお世話になりました。

<pre class="address">
<a href="http://www.vill.zamami.okinawa.jp/guidemap/detail/211/">すまいる</a>
沖縄県島尻郡座間味村阿嘉45
098-987-2818
</pre>

<%= image "img_0768" %>

一番近い阿嘉ビーチへ。

<%= image "img_1966" %>
<%= image "img_0777" %>
<%= image "img_0778" %>

近所をぶらつく。

<%= movie "hdimg_1967" %>
<%= image "img_1968" %>
<%= image "img_1970" %>
<%= image "img_1971" %>
<%= image "img_1972" %>
<%= image "img_1976" %>
<%= image "img_1978" %>
<%= movie "hdimg_1982" %>

晩御飯。

<%= image "img_0781" %>
<%= image "img_0782" %>
<%= image "img_0783" %>
<%= image "img_0786" %>

揚げたてさーだーあんだぎーがうまい。

<%= image "img_1983" %>

<%= image "img_0789" %>

近所の辰登城ストア。

<%= image "img_0790" %>
