---
title: 沖縄旅行 その3
---
すげえデカいヤドカリ。デビル佐藤と名付ける。

<%= image "img_2039" %>
<%= image "img_2049" %>

朝ごはん。

<%= image "img_0875" %>

強風と雨で天気予報が芳しくない上に、明日さらにひどくなるとのことで、一日予定早めて沖縄本島に戻ることにする。
残念だけど、欠航のリスクがあるしねえ。

<%= image "img_0876" %>

急遽抑えたホテルがこちら。

<pre class="address">
<a href="http://www.hotespa.net/hotels/okinawa/">ザ・ビーチタワー沖縄</a>
沖縄県中頭郡北谷町美浜8-6
098-921-7711
</pre>

すげえいいホテルでビックリした。
海水浴場、プール、お風呂があって、イオンモールその他も徒歩圏にある。

<%= image "img_2062" %>
<%= image "img_2060" %>
<%= image "img_0878" %>
<%= image "img_0882" %>

部屋も広い。四人家族余裕です。

<%= image "img_0885" %>
<%= image "img_0886" %>
<%= image "img_0887" %>
<%= image "img_0888" %>

プール。曇ってて風が強くて寒い。
温水プールもあるんで助かりました。

<%= image "img_0902" %>
<%= image "img_0905" %>
<%= image "img_0907" %>
<%= image "img_0913" %>
<%= image "img_0916" %>
<%= image "img_0917" %>
<%= image "img_0920" %>
<%= image "img_0921" %>
<%= image "img_0925" %>
<%= image "img_0932" %>
<%= image "img_0938" %>
<%= image "img_0939" %>

<pre class="address">
<a href="http://tabelog.com/okinawa/A4703/A470304/47000247/">海鮮ばってん</a>
沖縄県中頭郡北谷町美浜2-5-8 ひのビル1F
098-921-7270
</pre>

<%= image "img_2065" %>
<%= image "img_2066" %>
<%= image "img_2067" %>
<%= image "img_2069" %>
<%= image "img_2070" %>
<%= image "img_0949" %>
<%= image "img_0950" %>
<%= image "img_0955" %>
<%= image "img_0958" %>
<%= image "img_0959" %>
<%= image "img_0962" %>
<%= image "img_0963" %>
<%= image "img_0966" %>
<%= image "img_0967" %>
<%= image "img_0969" %>
<%= image "img_0970" %>
<%= image "img_0974" %>
<%= image "img_0975" %>
<%= image "img_0976" %>
<%= image "img_0980" %>

夜景。

<%= image "img_0984" %>
<%= image "img_0985" %>
<%= image "img_0991" %>

ゴーヤビール。めっさ苦い。

<%= image "img_2073" %>
