---
title: 深海水族館
tags: aquarium, family, shizuoka
---
沼津港の深海水族館に行ってきました。

<pre class="address">
<a href="http://www.numazu-deepsea.com/"></a>
静岡県沼津市千本港町83
055-954-0606
</pre>

世界でここにしかない冷凍シーラカンス。

<%= image "img_2077" %>
<%= image "img_2081" %>
<%= image "img_2095" %>

ダイオウグソクムシもたっぷり。

<%= image "img_2084" %>
<%= image "img_2088" %>
<%= image "img_2102" %>
<%= image "img_2104" %>
<%= image "img_2108" %>
<%= movie "hdimg_2112" %>

ふ化前のサメの赤ちゃん。

<%= movie "hdimg_2096" %>
<%= image "img_2098" %>
<%= image "img_2100" %>
<%= image "img_2125" %>
<%= image "img_2127" %>
<%= image "img_2129" %>
<%= image "img_2132" %>

おみやげグッズを漁る。一番グッと来たのが茶漉し。

<%= image "img_2093" %>

最初に上陸したやつ。

<%= image "img_2090" %>

お昼ご飯は丸天へ。

<pre class="address">
<a href="http://tabelog.com/shizuoka/A2205/A220501/22001241/">魚河岸 丸天 魚河岸店 （うおがし まるてん） - 沼津/魚介料理・海鮮料理 [食べログ]</a>
静岡県沼津市千本港町114-1 
055-963-0202
</pre>

名物かき揚げ、地魚の天ぷら、生しらす、みる貝。

<%= image "img_2114" %>
<%= image "img_2116" %>
<%= image "img_2120" %>
<%= image "img_2117" %>
<%= image "img_2121" %>
