---
title: 江ノ島
tags: enoshima, pokemon, outing
---
ポケモンが大量発生してると聞いて来ました。

<%= image "img_1396" %>

江ノ島到着直後にチーム分割。非ポケモンチームは、べんてん丸で裏磯へ。

<%= image "img_1361" %>
<%= image "img_1363" %>
<%= image "img_1366" %>
<%= image "img_1369" %>
<%= image "img_1375" %>
<%= image "img_1382" %>
<%= image "img_1392" %>

ポケモンチームは正面から。スマホいじってる人ばっかり。

<%= image "img_2231" %>
<%= image "img_2235" %>
<%= image "img_2236" %>
<%= image "img_2241" %>
<%= image "img_2248" %>
<%= image "img_2254" %>
<%= image "img_2257" %>
<%= image "img_2260" %>

合流。

<%= image "img_1397" %>
<%= image "img_1406" %>
<%= image "img_1411" %>
<%= image "img_1412" %>
<%= image "img_1414" %>

クアアイナで晩飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140403/14063356/">クアアイナ 片瀬江ノ島店</a>
神奈川県藤沢市片瀬海岸2-16-10
0466-55-2477
</pre>

<%= image "img_2277" %>
<%= image "img_1417" %>
<%= image "img_1418" %>
<%= image "img_2278" %>
