---
title: 鼎泰豐
tags: yokohama, restaurant, birthday
---
横浜で小籠包。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14000058/">鼎泰豐 高島屋横浜店</a>
神奈川県横浜市西区南幸1-6-31 横浜タカシマヤ 8F
045-321-0036
</pre>

<%= image "img_1589" %>
<%= image "img_1584" %>
<%= image "img_1590" %>
<%= image "img_1595" %>
<%= image "img_1598" %>
<%= image "img_2345" %>
<%= image "img_1600" %>

家に帰って誕生ケーキ。

<%= image "img_1607" %>
<%= image "img_1602" %>
<%= image "img_1608" %>
