---
title: 保土ヶ谷宿場まつり
tags: festival, hodogaya, yokohama
---
保土ヶ谷宿場まつりへ。

<%= image "img_2347" %>

フェイスペイント。

<%= image "img_1610" %>
<%= image "img_1612" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14059777/">俺のフレンチ YOKOHAMA</a>
神奈川県横浜市西区南幸2-17-1 相鉄南幸第7ビル 1F
050-5592-3933
</pre>

<%= image "img_1633" %>
<%= image "img_1636" %>
<%= image "img_1637" %>
<%= image "img_1639" %>
<%= image "img_1634" %>
