---
title: ダリ展
tags: exhibition, art, yoyogi
---
ダリ展

<%= image "img_1809" %>

代々木公園

<%= image "img_1816" %>
<%= image "img_1819" %>
<%= image "img_1821" %>
<%= image "img_1828" %>
<%= image "img_1830" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1318/A131810/13127544/">セバスチャン</a>
東京都渋谷区神山町7-15 １０２
03-5738-5740
</pre>

<%= image "img_1836" %>
<%= image "img_1839" %>
