---
title: 名古屋 その1
tags: museum, nagoya, travel
---
名古屋旅行。

まずは徳川美術館。

<pre class="address">
徳川美術館
〒461-0023 愛知県名古屋市東区徳川町1017 徳川美術館
</pre>

<%= image "img_1935" %>
<%= image "img_1938" %>

徳川園。

<%= image "img_1943" %>
<%= image "img_1949" %>
<%= image "img_1956" %>
<%= image "img_1958" %>
<%= image "img_1962" %>
<%= image "img_1964" %>
<%= image "img_1968" %>
<%= image "img_1969" %>

昼飯はきしめん。

<%= image "img_2384" %>

名古屋城。ボランティアの人に丁寧に説明してもらう。

<%= image "img_1974" %>
<%= image "img_1975" %>
<%= image "img_1976" %>
<%= image "img_1977" %>
<%= image "img_1979" %>
<%= image "img_1981" %>
<%= image "img_1984" %>
<%= image "img_1989" %>
<%= image "img_1999" %>
<%= image "img_2004" %>
<%= image "img_2014" %>
<%= image "img_2016" %>
<%= image "img_2020" %>
<%= image "img_2023" %>
<%= image "img_2024" %>
<%= image "img_2033" %>
<%= image "img_2034" %>

晩御飯。

<pre class="address">
<a href="https://tabelog.com/aichi/A2301/A230103/23000294/">伍味酉 本店</a>
愛知県名古屋市中区栄3-9-13
052-241-0041
</pre>

<%= image "img_2035" %>
<%= image "img_2036" %>
<%= image "img_2037" %>
<%= image "img_2038" %>
<%= image "img_2040" %>
<%= image "img_2041" %>
