---
title: 名古屋 その2
tags: nagoya, planetarium, travel
---
おはようございます。

<%= image "img_2053" %>

<pre class="address">
<a href="http://www.ncsm.city.nagoya.jp/">名古屋市科学館</a>
愛知県名古屋市中区栄2-17-1
</pre>

<%= image "img_2058" %>
<%= image "img_2061" %>
<%= movie "hdimg_2064" %>
<%= image "img_2065" %>
<%= image "img_2068" %>
<%= image "img_2073" %>
<%= image "img_2076" %>

極寒の世界。めっちゃ寒い。

<%= image "img_2080" %>
<%= image "img_2084" %>
<%= image "img_2091" %>

昼は煮込みうどん。

<pre class="address">
<a href="https://tabelog.com/aichi/A2301/A230102/23000124/">山本屋本店 栄本町通店</a>
愛知県名古屋市中区栄2-14-5 山本屋本店栄ビル
052-201-4082
</pre>

<%= image "img_2093" %>
<%= image "img_2095" %>
<%= image "img_2098" %>
<%= image "img_2099" %>

日本一のプラネタリウム。すごかったです。

<%= image "img_2106" %>

<%= image "img_2110" %>
<%= image "img_2111" %>
<%= image "img_2113" %>
<%= image "img_2115" %>
<%= image "img_2119" %>
<%= image "img_2126" %>
<%= image "img_2129" %>

メインイベント(らしい)のポケモン散策。
寒くなってきたので、娘と父に先に帰る。

<%= image "img_2130" %>
<%= image "img_2137" %>
<%= image "img_2144" %>
<%= image "img_2148" %>
<%= image "img_2150" %>
<%= image "img_2155" %>
