---
title: 小田原
tags: odawara, pokemon, unagi
---
ピカチュウ大量発生の小田原城へ。
まずは<a href="http://www.ninomiya.or.jp/">報徳二宮神社</a>。

<%= image "dsc_7852" %>
<%= image "dsc_7853" %>
<%= image "dsc_7860" %>

改装された小田原城。

<%= image "dsc_7869" %>
<%= image "dsc_7872" %>
<%= image "dsc_7877" %>
<%= image "dsc_7880" %>
<%= image "dsc_7894" %>
<%= image "dsc_7895" %>
<%= image "dsc_7900" %>
<%= image "dsc_7919" %>

城址公園へ。

<%= image "dsc_7925" %>
<%= image "dsc_7932" %>
<%= image "dsc_7942" %>
<%= image "dsc_7946" %>
<%= image "dsc_7947" %>
<%= image "dsc_7952" %>
<%= image "dsc_8008" %>
<%= image "img_2254" %>
<%= image "img_2257" %>

銅門。お前らポケモンばっかりやってないで観光しろ。

<%= image "img_2259" %>
<%= image "dsc_7957" %>
<%= image "dsc_7964" %>

<a href="http://www.city.odawara.kanagawa.jp/kanko/odawaracastle/castlepark/historicalmuseum/">歴史見聞館</a>。

<%= image "dsc_7967" %>
<%= image "dsc_7970" %>
<%= image "dsc_7971" %>
<%= image "dsc_7973" %>
<%= image "dsc_7974" %>

<%= image "dsc_7978" %>
<%= image "dsc_7979" %>
<%= image "dsc_7983" %>
<%= image "dsc_7989" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14011925/">うなぎ 松琴楼</a>
神奈川県小田原市栄町1-14-37
0465-22-4401
</pre>

<%= image "img_2267" %>
<%= image "dsc_7999" %>
<%= image "dsc_8002" %>
<%= image "img_2260" %>

じーちゃん家へ移動。

<%= image "img_2273" %>
<%= image "img_2279" %>
