---
title: ジャイアン祭＠ひだまりの里
tags: bbq, party
---
jinmeiさんの日記は<a href="http://www.jinmei.org/photo/20010612/">こちら</a>

かめBBQ改め、邪慰安祭開催。
場所は去年に続いて<a href="http://www1.plala.or.jp/tanzawa/City/Yama030.html">ひだまりの里</a>。1期/2期coreメンバーがこんなに集まったのって初めて？

今年の罰ゲームはドリアンを用意しようと試みて伊勢丹に購入に行くが、
家で熟さないといけないと言われて諦める。
時間的に間に合わないということもありますが、
それよりも家で熟させる根性ないっす。

<%= image "img_0029" %>
<%= image "img_0030" %>
<%= image "img_0031" %>
<%= image "img_0032" %>
<%= image "img_0033" %>
<%= image "img_0034" %>
<%= image "img_0035" %>

KAME新メンバー島さん。KAMEの前身であるhydrangeaの生みの親です。
当時の<a href="../../1996/0321-suwa/r0100013.jpg">顔</a>。
変わっとらんな。

<%= image "img_0036" %>

<%= image "img_0037" %>
<%= image "img_0038" %>
<%= image "img_0039" %>
<%= image "img_0040" %>
<%= image "img_0041" %>
<%= image "img_0042" %>
<%= image "img_0043" %>
<%= image "img_0044" %>
<%= image "img_0045" %>
<%= image "img_0046" %>

にんにく焼きすぎた。妙に軽いんですけど。

<%= image "img_0047" %>
<%= image "img_0048" %>

アイスクリーム食ってつつがなく解散。

<%= image "img_0049" %>
<%= image "img_0050" %>
<%= image "img_0051" %>
