---
title: きのこツアー
tags: travel, food, mushroom
---
キノコを食い倒すツアー。場所は<a href="http://www.sunfield.ne.jp/~kinoko/">きのこの森</a>。itojunさんの日記は<a href="http://www.itojun.org/diary/20010616-17/">こちら</a>。moleyの日記は<a href="http://www.morishima.net/~naoto/fragments/archives/2001/06/">こちら</a>。

桐生駅そばのモスバで待ち合わせ。

<%= image "img_0052" %>
<%= image "img_0053" %>
<%= image "img_0054" %>

ホテル中、きのこきのこきのこ。我々にどうしろと...。
しかし、10年後にyuo家がかめの森とか作ってそうで恐い。

<%= image "img_0055" %>
<%= image "img_0057" %>
<%= image "img_0058" %>
<%= image "img_0059" %>
<%= image "img_0111" %>
<%= image "img_0112" %>
<%= image "img_0060" %>
<%= image "img_0109" %>
<%= image "img_0110" %>
<%= image "img_0062" %>
<%= image "img_0101" %>

究極はこれ。欲しいよぉ。どっかで売ってないかなあ。

<%= image "img_0103" %>

<%= image "img_0061" %>
<%= image "img_0063" %>
<%= image "img_0064" %>

一風呂浴びて(残りのメンバーはミーティング)、
<a href="http://www.sunfield.ne.jp/~kinoko/tyaya.html">きのこ茶屋</a>へ。
座敷ごとに離れ部屋になっております。

<%= image "img_0065" %>
<%= image "img_0066" %>
<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0069" %>

炭火焼きコース。おいしゅうございます。

<%= image "img_0072" %>
<%= image "img_0070" %>
<%= image "img_0071" %>
<%= image "img_0073" %>
<%= image "img_0074" %>
<%= image "img_0075" %>
<%= image "img_0076" %>
<%= image "img_0077" %>
<%= image "img_0079" %>
<%= image "img_0080" %>
<%= image "img_0081" %>
<%= image "img_0082" %>
<%= image "img_0083" %>
<%= image "img_0084" %>
<%= image "img_0085" %>
<%= image "img_0086" %>
<%= image "img_0087" %>
<%= image "img_0088" %>
<%= image "img_0089" %>
<%= image "img_0091" %>
<%= image "img_0092" %>
<%= image "img_0093" %>
<%= image "img_0094" %>
<%= image "img_0095" %>
<%= image "img_0096" %>
<%= image "img_0097" %>
<%= image "img_0098" %>
<%= image "img_0099" %>
<%= image "img_0100" %>

疲れてたのか早々に撃沈。日本酒バー行きたかったんだけどなぁ。
次の日も朝から食欲旺盛。

<%= image "img_0104" %>
<%= image "img_0105" %>
<%= image "img_0106" %>
<%= image "img_0107" %>
<%= image "img_0108" %>

<a href="http://www.aic.pref.gunma.jp/flower/">群馬フラワーパーク</a>へ。
目が和みますな。

<%= image "img_0114" %>
<%= image "img_0115" %>
<%= image "img_0116" %>
<%= image "img_0117" %>
<%= image "img_0118" %>
<%= image "img_0119" %>
<%= image "img_0120" %>
<%= image "img_0121" %>
<%= image "img_0122" %>
<%= image "img_0123" %>
<%= image "img_0124" %>
<%= image "img_0125" %>
<%= image "img_0126" %>
<%= image "img_0127" %>
<%= image "img_0128" %>

さらに、<a href="http://www.doitsumura.com/">赤城高原牧場</a>へ。
デジカメの空き容量なくなりました。128MB買うかあ。
大人気もなくはしゃぐ。
ロバ、羊とたわむれたり、アーチェリーやったり、自転車レースやったり、
パーゴルフして遊ぶ。

パーゴルフの結果。1ホールは集計なし。

<pre class="address">
                 2  3  4  5  6  7  8  9  合計
itojun&amp;sumikawa +1  0 +2 +3 +2  0 +1  0  +9
jin&amp;ayaya       -1 +1  0 +4 +1 +5 +1 -1  +10
moley&amp;yuo       +1 +3 +5 +5 +2 +1  0  0  +17
ogs&amp;akimichi     0  0  0 +2 +1  0 +1  0  +4
</pre>
