---
title: 須藤くんお別れ会 その2＠新菜楼
---
相模大野組(+1)による須藤君お別れ会その2。
鈴木くんが別件により参加できず。
新菜楼はもともと須藤くんが発見したお店です。
最近は僕の方がよく通ってるんですが。

<%= image "img_0002" %>
<%= image "img_0003" %>
<%= image "img_0004" %>
<%= image "img_0005" %>

マテ貝の辛炒め、ピータン豆腐、カメ出し招興酒、豚の耳、
蝦の春巻、砂肝とアスパラの炒め、トビウオの蒸しもの、
鳥肝の炒め、マテ貝のトウバン炒め、
チンゲン菜の炒めもの辛くないバージョン
(いつもは辛い、愛美さんからのプレゼント)、
焼きそば、杏仁豆腐(の入ってた器)。

<%= image "img_0001" %>
<%= image "img_0006" %>
<%= image "img_0007" %>
<%= image "img_0008" %>
<%= image "img_0009" %>
<%= image "img_0010" %>
<%= image "img_0011" %>
<%= image "img_0012" %>
<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0018" %>

トビウオはオーナーの愛美さんがとりわけてくれました。
って、暗くて何も見えんな。

<%= image "img_0013" %>
<%= image "img_0014" %>

2次会は<a href="http://www2s.biglobe.ne.jp/~lemonpie/">レモンパイ</a>でビール。
