---
title: シンガポール→クアラトレンガヌ
tags: travel, singapore, malaysia
---
jinmeiさんのページは<a href="http://www.jinmei.org/photo/20010820/">こちら</a>

マレーシアに飛ぶ前にSentosaなるところに水族館を観に行く。
地下鉄とタクシーとバスを乗り継ぐ。

<%= image "img_0046" %>

ということで、<a href="http://www.underwaterworld.com.sg/">underwater world</a>へ。けっこうちゃちいけど、
それなりに楽しめました。ウツボかわいい。

<%= image "img_0048" %>
<%= image "img_0049" %>
<%= image "img_0050" %>
<%= image "img_0051" %>
<%= image "img_0052" %>
<%= image "img_0053" %>
<%= image "img_0055" %>

一応ここがメインかな。水槽の道を歩く。
写真撮るの難しい。

<%= image "img_0056" %>
<%= image "img_0057" %>
<%= image "img_0059" %>
<%= image "img_0061" %>
<%= image "img_0062" %>
<%= image "img_0064" %>
<%= image "img_0066" %>
<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0069" %>
<%= image "img_0073" %>
<%= image "img_0076" %>

売店でサメ帽子発見。

<%= image "img_0077" %>
<%= image "dscf0062" %>

モノレールで移動。

<%= image "img_0091" %>
<%= image "img_0079" %>
<%= image "img_0080" %>
<%= image "img_0081" %>
<%= image "img_0085" %>
<%= image "img_0086" %>

まあライオン(ベタ)。

<%= image "img_0087" %>
<%= image "img_0088" %>
<%= image "img_0089" %>
<%= image "img_0090" %>

ビーチ。人いねえ。アベック1組みのみ、なんで？

<%= image "img_0092" %>
<%= image "img_0093" %>
<%= image "img_0094" %>
<%= image "img_0095" %>
<%= image "img_0096" %>

underwaterworldの入場券と組になってたDolphin Lagoonにイルカショー観に行くが、
時間がないので始まる前に移動。でも、ちょっとだけ泳いでるイルカ見えました。
ピンク色だったよ。すげえすげえ。本当にそんな色のイルカいるんだ。アニメみたい。

<%= image "img_0097" %>

んで、村井さん絶賛のバナナリーフアポロにfish head curryを食いにいく。
インド人が兜煮つくったらこうなりましたって感じ。でけえ！

<pre class="address">
THE BANANA LEAF APOLO
54-56-58 Race Cource Road Singapore 218564
Tel: 2938682/2935054 Fax: 2945770
10:00AM-10:00PM
</pre>

<%= image "img_0099" %>
<%= image "img_0098" %>
<%= image "img_0100" %>
<%= image "img_0102" %>
<%= image "img_0103" %>
<%= image "img_0104" %>
<%= image "img_0106" %>

携帯電話で大きさを比べてみましたが、これじゃよーわからんな。

<%= image "img_0107" %>

めちゃうまいす。食い切った。シンガポール御来訪の際には是非行くべし。

<%= image "img_0108" %>

クアラ・ルンプール空港へ移動。ココナッツジュースを飲む10RM(リンギット、400円)。
あまくて妙な味。kazuさん一人が絶賛。

<%= image "img_0110" %>
<%= image "img_0111" %>
<%= image "img_0112" %>
<%= image "img_0113" %>

クアラ・トレンガヌ(Kuala Terengganu)空港。すんげー場末の空港。めちゃ小さくて、
飛行機はきっと1台しか止まれんぞこれ。

<%= image "img_0115" %>
<%= image "img_0116" %>

空港でタクシーに乗る。すんげーボロボロ。中国のタクシーよりすごかった。
ベンツのエンブレムがついてるけど嘘くせえ。
助手席に座ったのでシートベルトつけようと思ったが、
一度差したら永遠に抜けそうにないので恐くて差せない。

ホテル。元々3人で1部屋だったけど、
交渉して1人1部屋にする。だって、RMしかかからないんだもん。
シンガポールが1人部屋なので、なんか金の使い方間違ってるような気がする。

<pre class="address">
Hotel Grand Continental(大州酒店)
Jalan Sultan Zainal Abidin, Deerah 8, 20000 Kuala Trengganu, Terengganu
Tel: 09-6251888 Fax: 09-6251999
</pre>

125RM(5000円)でこの部屋！ 全然シンガポール・ヒルトンに勝ってる。

<%= image "img_0118" %>
<%= image "img_0119" %>

果物の王様ドリアン(ドゥーリアン、Durian)探しに行く。
3人ともまだ食ったことないので、
是非挑戦したいと思ってました。
kazuさんが交番に聞きにいってやっと見付ける。

2kgぐらいのドリアンを屋台で買って、すぐ横で手づかみで食う。
6RM(240円)。伊勢丹で5000円したよなこれ。
初体験なので、そんなにおいしいとは思わなかった。
3回ぐらい食って始めてハマるらしい。
もちもちした繊維の固まり。なぜか551の豚まんの味と重なる。
手くせえ。

<%= image "img_0120" %>

その後、マレー人ばっかしの屋台街でマレー料理食う。全然英語通じない。
ちょっと恐かったので写真なし。
チキンとビーフの串焼き、焼きビーフンと野菜イタメ。
はじめアイスティーを頼むが氷入ってるとヤバかろうと
ホットティーに変更。
明日から潜るのにお腹壊すとヤバいからね。

ホテルに戻る。エレベーターに「ドリアン禁止」マーク発見。

<%= image "img_0122" %>

手を洗うと熱で活性化されたドリアンがくせえ。
