---
title: クアラトレガンヌ→レダン島
tags: travel, diving, malaysia
---
jinmeiさんのページは<a href="http://www.jinmei.org/photo/20010821/">こちら</a>

そういや、ホテルの部屋最上階だったなと、
窓を見るとすぐ裏がビーチ。いいホテルだな、ここ。

<%= image "img_0002" %>

朝8時にホテルに車でお迎え、おんぼろバンでムラン(Merrang)に移動。

<%= image "img_0003" %>
<%= image "img_0004" %>
<%= image "img_0005" %>
<%= image "img_0006" %>
<%= image "img_0008" %>

そこからさらにボートで移動。所用時間30分。
移動のためのボートに乗るの初めて。
観光船と比べると全然すごいスピードで進むので、波を越えるたんびにボートが浮く。
こりゃ酔うわ。

<%= image "img_0009" %>
<%= image "img_0010" %>

<a href="http://www.designius.com/redang/">レダン島</a>(Puala Redang)に到着。でも、ここは南の桟橋なのでまだ目的地じゃないのよね。

<%= image "img_0011" %>
<%= image "img_0012" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0017" %>
<%= image "img_0019" %>
<%= image "img_0026" %>
<%= image "img_0027" %>
<%= image "img_0028" %>

しばし休憩。海きれい。熱帯魚がうじゃうじゃ泳いでる。

<%= image "img_0023" %>
<%= image "img_0024" %>
<%= image "img_0025" %>
<%= image "img_0029" %>
<%= image "img_0031" %>

カニ発見。

<%= image "img_0035" %>

<%= image "img_0033" %>
<%= image "img_0037" %>
<%= image "img_0038" %>
<%= image "img_0039" %>

さらに目的地のビーチに移動。この島の移動手段は基本的に船だけ。
車は道が一本でしかも島の中心からは徒歩以外の手段がない。
島の中心から目的のビーチまでは2時間ぐらいらしい。

<%= image "img_0041" %>
<%= image "img_0042" %>

ホテルに着いて、ボートから荷物を受け取る。うーみーきーれーいー。
青い海見るの生まれて初めてっす。うひゃひゃひゃひゃーって感じ。
笑い止まらん。

ホテルの資料

<pre class="address">
REDANG REEF
167, Jalan Bandar, 20100 Kuala Terengganu,
Terenggau Darul Iman, Malaysia.
Tel: 09-6247994 &amp; 6247528. Fax: 09-6247994.
</pre>

気温は日本より涼しく感じるんですけど、湿度は高いけど風吹いてるからかなあ。

<%= image "img_0044" %>
<%= image "img_0045" %>
<%= image "img_0051" %>

<a href="http://www.perhentianferry.com.my/redang_reef.htm">ホテル</a>(Redang Reef Resort)とビーチは徒歩0分。部屋まで20秒。部屋はこんな感じ。
ダブルベッド1つと、シングルベッド1つ。高校生の合宿って感じ。
トイレとシャワーと洗面室は一体。シャワーは当然水のみ。
南国なので水あったかいので全然問題なし。
ちなみに水は地下から汲み上げてるらしい。

<%= image "img_0046" %>
<%= image "img_0091" %>
<%= image "img_0092" %>

ダイビングの授業はじまる前に軽く泳ぐ。水きれえんですんげえ楽しい。

んで、授業。写真は後で載せますが、インストラクターはkeikoさん。マレーシア在住5年目。
あと、アシスタントとして、divemasterのライセンスを取りに来たnaokoちゃんという人が
手伝ってくれました。千葉在住の学生さんです。

まずは、1時間強程ビデオを見て勉強。jinmeiさんビデオ見ながら何度も沈没。

その後、ダイビングの機材つけて海に入り、基本的な技術を習う。空気タンク1回分の授業。
通常の場合はプールでやるんだけど、今回はすべて海。
keikoさんの所属するplanet scubaでもこのような授業形態は珍しいそうな。
まだ、全然コツが掴めず泣きそうになる。

夜は飯食って、さらにテキスト読みながら授業。おかげで酒飲めず。

夜は誰がシングルベッドに寝るかえんえんと議論する。さんざん話あった結果、
ジャンケンで勝ったものが王様としてシングルベッドに寝る。
2番目に勝った人が明日の王様、そのままローテーションすることに合意。
今日の王様はjinmeiさん。僕とkazuさんはダブルベッドでラブラブ。

<%= image "img_0048" %>
<%= image "img_0049" %>
<%= image "img_0050" %>
