---
title: マレーシア旅行 ダイビング3日目
tags: diving, malaysia, license
---
jinmeiさんのページは<a href="http://www.jinmei.org/photo/20010823/">こちら</a>

ホテルのテラスから食堂を望む。左がフロントで、右が食堂ね。

<%= image "img_0001" %>
<%= image "img_0002" %>

試験にそなえてお勉強。

<%= image "img_0003" %>

今日もダイブ2本。
まず朝の1本目は体がこわばってたのとマスクがゆるかったせいで、
楽しんで潜れず。変に体に力が入り、さらにうまく潜れなくなって焦る。
焦りが緊張産んで、さらに無駄に体力使う。悪循環。
次回は潜る前にきちんと体をほぐしておくのと、
マスクのセッティングをきちんとしようと反省。

潜ったあとログブックの書き方習う。

<pre class="address">
Location: Tanjunk Mak Cantik
DEPTH: 9m, BOTTOM TIME: 40min
Temparture 30C(Bottom)
</pre>

その後、2本目のダイブ。
今までは徒歩でビーチに入って行ってたけど、
はじめてボートから潜る。あのTVでよくやるくるってボートから海面に入るやつね。
今回は肩の力を抜いて潜れました。
やっと楽しくなってきたぞ。
ここら辺はクラゲ(jerry fish)がいて、避けながら泳がないといけない。
海底でコンパス使って行って帰ってくる演習やったけど、見事に方向分からなくなる。

<pre class="address">
Location: Puala Kerengga Kecil
DEPTH: 10.1m, BOTTOM TIME: 43min
Temparture 30C(Bottom)
</pre>

上がって筆記試験。50問中34問正解で合格。
sumikawa 44点、jinmei 43点、kazu 42点。
一夜漬けならまーかして。

ということで、晩飯にビール飲んでお祝い。

<%= image "img_0005" %>

星見ようとするが曇っててダメ。
その後、スコールが降るものの15分でやむ。

毎日10〜11時には就寝。なんて健康的な生活。

<%= image "img_0006" %>
