---
title: マレーシア旅行 ダイビング4日目
tags: diving, malaysia, sunrise, travel
---
jinmeiさんのページは<a href="http://www.jinmei.org/photo/20010824/">こちら</a>

まだ空が暗いうちに早起きして日の出撮影に挑戦。日の出は7時ぐらい。
もうちょっと雲がなければ完璧なんだけど、それでも十分に美しい。
徐々にに空の色が変わっていくのをお楽しみください。

日の出ってこんなに幻想的だったんだねえ。

<%= image "img_0007" %>
<%= image "img_0010" %>
<%= image "img_0012" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0019" %>
<%= image "img_0021" %>
<%= image "img_0022" %>
<%= image "img_0025" %>
<%= image "img_0026" %>
<%= image "img_0027" %>
<%= image "img_0028" %>
<%= image "img_0029" %>
<%= image "img_0030" %>
<%= image "img_0031" %>
<%= image "img_0032" %>
<%= image "img_0033" %>
<%= image "img_0034" %>
<%= image "img_0035" %>
<%= image "img_0036" %>
<%= image "img_0037" %>
<%= image "img_0038" %>
<%= image "img_0039" %>
<%= image "img_0040" %>
<%= image "img_0041" %>
<%= image "img_0042" %>
<%= image "img_0043" %>
<%= image "img_0044" %>
<%= image "img_0045" %>
<%= image "img_0046" %>
<%= image "img_0047" %>
<%= image "img_0048" %>
<%= image "img_0049" %>
<%= image "img_0050" %>
<%= image "img_0051" %>
<%= image "img_0052" %>

これは裏側のビーチ。

<%= image "img_0053" %>
<%= image "img_0054" %>
<%= image "img_0055" %>

朝飯食ってくつろぐ。気がつくと寝てる。

<%= image "img_0056" %>
<%= image "img_0057" %>

今日もボート2本のダイビング。
前日の反省生かして今日は潜る前に一泳ぎして体をほぐす。

<pre class="address">
Location:  Mak Cantik
DEPTH: 18m, BOTTOM TIME: 40min
Temparture 29C(Bottom)
</pre>

水深18mまで潜る。水が綺麗ので全然明るい。
ここもクラゲが多くて困る。一匹避けたつもりがもう一匹死角にいて足刺された。
水深18mのナマコは下半分がピンク色なのを発見。
バラクーダの群を見る。

飯食ってシュノーケリングして遊ぶ。
魚が一杯いるので、そこら辺でプカプカ浮かんでるだけで楽しい。
中には30cmぐらいの魚もいて、岩についた苔をついばんでる音がコツコツ聞こえる。
ふと振り向くと50cmぐらいの<a href="http://www.geocities.com/Tokyo/Fuji/5024/sipadan/spkanmuri.html">カンムリブダイ</a>がいて、ビビる。
岩をついばむっとゴツって音がするもん、めちゃめちゃ恐いって。
絶対正面から頭突きされたら負ける。

夕方前に2本目。

<pre class="address">
Location:  Paku Kecil
DEPTH: 14.1m, BOTTOM TIME: 43min
Temparture 30C(Bottom)
</pre>

海底12mで生ウミガメ発見！
かぶりつきで見る。keiko先生が一生懸命知らせてくれているのに
jinmeiさん気がつかず一人で悔しい思いをする。

もうここら辺から全然余裕のダイビング。楽しくて仕方がない。

今日ですべての演習は終了、めでたくライセンス取得。
写真はtemporally cardでおっつけ本物が送られてくるそうです。

<%= image "img_1008" %>

ということで、お祝いのビール。晩飯はバイキング。

<%= image "img_0058" %>
<%= image "img_0059" %>
<%= image "img_0060" %>
