---
title: レダン島→シンガポール
---
jinmeiさんのページは<a href="http://www.jinmei.org/photo/20010826/">こちら</a>

減圧症を避けるために今日はダイビングなし。
朝はnaokoちゃんにシュノーケルとフィンだけを使ったスキンダイビングを教わる。
素潜りは頭が下になるので耳抜きが難しい。
ホテルのすぐそばにエイ泳いでました。

今日でこの景色ともお別れかあ……。

<%= image "img_0001" %>
<%= image "img_0002" %>

最後に記念撮影。左がnaokoちゃんで右がkeiko先生。

<%= image "img_0003" %>
<%= image "img_0004" %>

昼飯くって、来た道を逆に引き返す。ボート乗ってムランにいって、
そこから車でクアラ・トレンガヌ空港へ。
車に乗り合わせた子どもが異様に人なつっこい。

<%= image "img_0005" %>
<%= image "img_0006" %>

クアラ・トレンガヌ空港(TGG)。マジ小さい。カウンターはマレーシア航空のこれだけ。

<%= image "img_0007" %>

空港の全景。幅こんだけ。

<%= image "img_0011" %>
<%= image "img_0010" %>
<%= image "img_0012" %>
<%= image "img_0014" %>

フライトスケジュール。
結構早くつき過ぎたので暇。

<%= image "img_0015" %>
<%= image "img_0016" %>

クアラ・ルンプールから、そのまま乗り継いでシンガポールへ。
ホテルは来たときと同じ<a href="http://www.asiatours.com.sg/hotel/singapore/hilton/hilton.htm">Hilton Singapore</a>。

晩飯は中華料理の予定だったけど、変更してくんくん香ったタイ飯屋に入る。
写真はjinmeiさんの方を見るべし。うまかった。

<pre class="address">
Authentic Royal Thai Cusinie
Amara Hotel Level 2 165 Tanjong Pagar Road
Singapore 088539 Tel: 222 4688, 227 7856 Fax: 223 7183
Clarke Quay Blk D #01-14 River Valley Road
Singapore 179023 Tel: 336 1821, 336 5376 Fax: 336 8146
</pre>

住所どっちか分からん。たぶん下の方。

道を聞きに入ったスーパーで探していたドリアン・ケーキ発見。
新菜楼の愛美さんに絶対おみやげに買ってこいと強力にプッシュされてました。

<%= image "img_1009" %>
<%= image "img_1010" %>
