---
title: のぢ結婚式
tags: friend, party, wedding
---
<a href="http://www.nojimas.com/akinori/">ハンサム野島</a>とワイフ野島の結婚式。
場所は池袋の「リビエラ・アイ」。
久しぶりの同期集合。

吾郎と僕は余興練習のため、朝11時に集合。
はじめ路地裏で練習しようとするが、
礼服姿で喧嘩しに来た二人組に見える。
周りの視線に耐えきれず退散。
結局駐車場で練習する。
それでもときおり人や車が通りかかる。

<%= image "img_0001" %>
<%= image "img_0004" %>

明日香とあずさが子ども連れて来る。かわいいのう。

<%= image "img_0006" %>
<%= image "img_0007" %>
<%= image "img_0009" %>
<%= image "img_0010" %>
<%= image "img_0011" %>
<%= image "img_0012" %>

披露宴スタート。のぢ登場。異様なぐらい和服が似合う。

<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0020" %>

初めての共同作業。

<%= image "img_0021" %>
<%= image "img_0022" %>
<%= image "img_0023" %>
<%= image "img_0024" %>
<%= image "img_0025" %>

本日のお食事。

<%= image "img_0027" %>
<%= image "img_0026" %>
<%= image "img_0028" %>
<%= image "img_0031" %>
<%= image "img_0032" %>
<%= image "img_0036" %>
<%= image "img_0037" %>

3品目ぐらいで早々に退場。
海老もってみんなで前に行こうと用意していたのに失敗。
その後チャンスなし。ああ、一生悔やまれる。

<%= image "img_0029" %>
<%= image "img_0034" %>
<%= image "img_0035" %>

余興を前に緊張ぎみの吾郎主任。

<%= image "img_0038" %>
<%= image "img_0039" %>

再入場。花嫁さんかわいい。旦那、タキシード似合わねえ。

<%= image "img_0041" %>
<%= image "img_0042" %>
<%= image "img_0043" %>
<%= image "img_0044" %>
<%= image "img_0045" %>

んで、余興。なかなか好評でした。この余興は同期が結婚するたびにやるお約束余興。
いつもは野島主任と吾郎開発担当でやるんですが、
のぢの結婚なので僕が開発を担当。吾郎は主任に昇進。

しかし、作業服着るのって工場実習以来だなあ。

<%= image "img_0048" %>

花束贈呈とご挨拶。

<%= image "img_0049" %>
<%= image "img_0050" %>
<%= image "img_0051" %>
<%= image "img_0052" %>
<%= image "img_0053" %>
<%= image "img_0054" %>
<%= image "img_0056" %>

お幸せに。

<%= image "img_0057" %>
<%= image "img_0058" %>

ちなみに台本はこちら。
次回のために保存しとこう。

<pre>
Title:「あきのりＸＰ出荷」
------------------------------
設定：開発ＱＡ体制　　　　ご：主任　　　　す：開発担当者

(準備：ビールx2、コップx1)
(駆け足で入場)(例の格好で)(マイクは1本づつ)

(礼)

す：主任！今日は我が社待望の新商品「あきのりＸＰ」の出荷日です。
ご：うむ。この日を何年待ったことか。
す：はい。このまま出荷は無しかと思っていましたよ。
ご：おい、なんてことを言う。いや、わたしも実はそう思ってた。　「あきのりＸＰ」は優れているが少々特殊な製品だからな。 こうして今日、出荷を迎えられ、ほんとによかった。
す：はい、開発者として感激です。主任、出荷前の「あきのりＸＰ」の仕上がりをご覧下さい。
ご：おう。

(ふたりで「あきのりＸＰ」を遠目からのぞきこむ)
ご：おお、すばらしい！　ん？だが　「あきのりＸＰ」はああいう形だったか？　フロント部分が光ってるがこれはデザインか？(ご：自分のデコをなでながら)
す：はい。最近はフロントをあのように輝かせるのがはやりでして、あの部分で赤外線通信もできる仕掛けになってます。　(す：自分のデコを触りながら)
ご：おお、素敵じゃないか。
す：ありがとうございます。(会釈)
(姿勢戻す)
ご：だが、「あきのりＸＰ」が優れた製品とはいえ、出荷先で暴走を起こすような事があってはならぬ。
す：はい。
ご：そこで、最終出荷検査として、動作環境チェックを行う。
す：はい。
ご：今から私が、「あきのりＸＰ」が出荷先で起こす危険性のある誤動作を読み上げるから、その原因と思われる個所を探し、試験をするのだ。
す：はい、わかりました(ビール瓶を持つ)。

ご：誤動作1、金遣いが荒くなる！
す：(あべい？のテーブルに近付き)　　主任！ この辺りが怪しいです！
ご：詳しく調べてみろ！
す：はい！  (あべい？のところへいき)　　主任！　　
ご：どうした？！
す：無駄遣いの元らしき悪友を発見しました！
ご：それが本当なら、野島家の家計は火の車だ！チェックしてみろ！
す：はい！ここにある、チェックプログラムを走らせます！検査開始！(敬礼)
ご：結果はどうだ！
す：(飲みッぷりによって)まったく問題ありません！ or 少し心配ですが、大丈夫でしょう！or 再検査が必要です！
ご：(結果によって)うむ、ならばよい。次！ or まあ、大丈夫だろう！次！ or わかった、もう一度チェックプログラムを走らせろ！
ご：これで、家計も安泰だ。

ご：誤動作2、帰宅時間が遅くなる！ あきのりXPは働き者だからな、よくチェックしろ！
す：(のぢの課長のテーブルに近付き)　　主任！ この辺りから鋭い視線を感じます！
ご：よし調査しろ！
す：(うろうろして、のぢの課長の元へ行き) 　主任！
ご：なんだ？
す：残業の原因を発見しました！
ご：なに？！それが本当なら、帰宅時間が遅くなり、暁子さんを悲しませる事になる！　 どの程度危険なものか、チェックしてみろ！
す：了解！　検査開始！(酒を飲ませる)
ご：結果はどうだ！
す：(飲みッぷりによって)まったく問題ありません！ or 少し心配ですが、大丈夫でしょう！or 再検査が必要です！
ご：(結果によって)うむ、ならばよい。次！ or まあ、大丈夫だろう！次！ or わかった、もう一度チェックプログラムを走らせろ！

ご：誤動作３、女癖が悪い！　あきのりXPのことだから心配はないと思うが念のためチェックしろ。
す：(新婦友人のテーブルに近付き)　　主任！ この辺りからいい香りがしてきました。
ご：よく調べろ！
す：(会場で一番美人だと思う人を決めておき)　　主任！
ご：なんだ？！
す：誘惑の元らしきものを見つけました！
ご：なに？！それをほっておいたら、なにやらよからぬことが起きるぞ！チェックしてみろ！
す：(軽く飲ませて)主任！
ご：ん？
す：「あきのりＸＰ」への問題ありませんが、私がダメになりそうです！(挙手しながら)
ご：ばか者！お前が誤動作してどうする！　お前に対策が必要なようだ。
(ご：(す)の近くへ走っていき)
ご：対策！　　((す)に飲ませる)
す：もう大丈夫です。危なく誘惑されるところでした。
ご：(黙ってる)
す：主任、どうしました？
ご：い・・いかん・　私もダメになりそうです！(挙手しながら)
す：しゅ、主任！　主任は家庭がある身ではないですか！　ただちに対策します！対策！((ご)に飲ませる)
ご：もう大丈夫です。検査を続けるぞ！　(ご：走って前に戻り)

(このブロックは本番ではカット)
ご：他にもう心配な点はないか？
す：((ず)のところに行き)主任！
ご：なんだ！
す：「あきのりＸＰ」とは関係ありませんが、酒豪を見つけました！
ご：なに？それは興味深いぞ。どのくらい酒豪かチェックしてみろ！
す：はい。検査！(当然飲み干すだろうから)相当の酒飲みです！　(飲み干さなかったら)こいつ、嘘をついてます！
ご：そいつは動作しそうになったら、対策として必ずそいつの「旦那」を呼ぶ事にしよう。
す：旦那が可哀想だと思いますが、分かりました。
(す：前に走って戻ってきて)

ご：それでは最後に念のため、「あきのりＸＰ」の外観チェックだ！
(二人、「あきのりＸＰ」の近くへ寄り)
す：うわ！主任！異常に加熱しております！熱くて近づけません！　
ご：いやいや。熱いぐらいがちょうどよいのだ。(うんちくっぽく)
す：で・ですが、それにしても熱すぎです。対策が必要と思いますが。
ご：よし、暁子さんにヤケドをさせたら大変だからな。対策開始！
す：喜んで！　(大きめのコップで飲ませる)
ご：暁子さん、これくらいでよろしいでしょうか？
暁：いや、まだ足りません(言わせる)
ご：では、もう一度対策だ！
ご：では、出荷だ。
(二人、もとの位置に戻る)
(暁子さんの方を向き)
ご：暁子さん、万が一、「あきのりＸＰ」が暴走した際には、何なりとお呼びつけ下さい。
す：我が社自慢のアフターサービスでただちに駆けつけます。
ご：あとですね、「あきのりＸＰ」は多少たたいたり、けったりしても壊れませんので、 少々の誤動作の時はどうぞ気兼ねなく。治りますので。
ご：それでは、
2人：末永くお幸せに。

(二人に礼)　(会場に礼)　(駆け足で退場。)
</pre>
