---
title: フーリガンへの道
tags: businesstrip, uk
---
イギリスに長期出張となりました。現状春までの予定。
といっても、クリスマス休暇になる12/15には一旦帰って来ます。
最初は10/1出発だったんだけど、テロだなんだで伸び伸びになってようやく出発。

飛行機はこれもテロの都合で日系にしろとのご達しで全日空。
久しぶりのビジネスクラス。
池田さんと一緒に成田空港のラウンジ行く。
池田さんはプラチナメンバーなので、ファーストラウンジへ入る。
なんかすんげえ、ちゃちい。これでファーストっすか(写真なし)。

飛行中は4時間ぐらい寝たかな。
PC用の電源借りれるので快適でした。
ただ7〜8時間持つと説明書には書いてあったけど1〜2時間しか持ちませんでした。
たぶんバッテリーがへたってるんでしょう。1回おかわりしました。
あと、内蔵電池と違い細かい残り容量が分からないためいきなり電源落ちてビビる。

ヒースロー空港に到着。
お出迎えのリムジンサービスで日立ヨーロッパのオフィスがあるMaidenheadへ。
ロンドンの西に位置する町で田舎です。
ホテルにチェックインする。

<pre class="address">
<a href="http://maidenhead-windsor.holiday-inn.com/">Holiday Inn Maidenhead</a>
Manor Lane Maidenhead SL6 2RA United Kingdom
Tel: +44 1628 506000
Fax: +44 1628 506001
135GBP per night
</pre>

ちゃちい。ベッド以外のスペースが極端に狭い。これで2万円？
イギリスは物価が高い。

<%= image "img_0001" %>
<%= image "img_0002" %>

先にHELに来ている加藤くんに電話してホテルで晩飯。
Salmon Filletを注文。うまかったので、完食。写真なし。

早々に寝て、翌日の朝ご飯。これぞEnglish Breakfast。これが食いたかった。

<%= image "img_0003" %>
<%= image "img_0004" %>
<%= image "img_0005" %>

会社行って、お仕事。昼飯は社食でフィッシュ＆チップスを食う。
うまいねえ。単調なんですぐ飽きるけど。
色んな種類の調味料を順にかけていかないといけない。

晩ご飯はインド飯。

<pre class="address">
COOKHAM TANDORI
High Street, Cookham, Berks, SL6 4SL
Tel: 01628 522584
Fax: 01628 810210
</pre>

これも写真なし。たるんでます。
