---
title: ETSI相互接続テスト
tags: business, france, ipv6
---
<a href="http://www.etsi.org/">ETSI</a>相互接続テスト主催のIPv6相互接続テスト開始。
写真は<a href="http://www.tahi.org/">TAHI</a>の遠藤くん。
本当は月〜金なんですが、僕は火曜日一杯で中座。
僕の隣でカメラ目線なのが日立ヨーロッパ・ドイツ支社のStefan。

<%= image "010" %>
<%= image "013" %>
<%= image "014" %>
<%= image "015" %>
<%= image "016" %>

<%= image "img_0368" %>
<%= image "img_0413" %>
<%= image "img_0414" %>
<%= image "img_0415" %>
<%= image "img_0416" %>
<%= image "img_0417" %>
<%= image "img_0418" %>
<%= image "img_0419" %>

昼飯はBuffet。
つっても、フランスってなぐらいで前菜とメインとデザートが別のテーブルで用意してあり、
座るとワインつぎに来てくれます。
けっこううまかった、特にデザートがいいですな。

<%= image "011" %>

昼飯終ると地下のロビーで休憩。コーヒー持って、プールサイドに出て行く。

<%= image "012" %>

初日は疲れたので外に食いに行く元気なし。
別件で出かけてた池田さんと合わせて4人でホテルで食ったんだけど、
これがまずいのなんのって。飲んでるのはボージョレヌーボー。これはうまかった。

<%= image "030" %>
<%= image "img_0370" %>
<%= image "img_0375" %>
