---
title: ロンぶら
tags: england, shopping, travel
---
やっと休日が空いたので、1日ロンドン市内をぶらつく。
なお、「ロンぶら」とはコックニー用語で「ロンドンをぶらつく」の略です(嘘80%)。

まずはロンドンの<a href="http://www.oakinn.com/">宿</a>を紹介しておきましょう。
日本人向けの長期滞在宿で、キッチンと洗濯機が共同で風呂、トイレなど残りの設備は個室についています。冷蔵庫もあるのが嬉しい。
値段は滞在日数で変わるんだけど、ツインで£71〜£51。
やっぱり洗濯機が使えるのが魅力的やね。後、日本の朝ご飯もついてきます。
みそ汁とごはんと一品。残念ながらあんまりおいしくないけど。
外見は普通の家と全く一緒。看板も出てないので最初に来た時は通り過ぎました。

<%= image "img_0094" %>
<%= image "img_0095" %>
<%= image "img_0096" %>
<%= image "img_0097" %>

<a href="http://www.oakinn.com/">宿</a>の周りはこんな感じ。閑静な高級住宅地です。夜は静かなので結構恐い。

<%= image "img_0085" %>
<%= image "img_0086" %>

10時ぐらいにOxford Streetの東端について西に向かう。
店ぜんぜん空いてねえ。ほとんどの店が12時オープンです。
ということで、結局1往復半しました。疲れた。
昼飯はマクドナルドにしようかと思ったけど、
セットで650円ぐらいなので食うきなくす。
道端でチキン＆チップス買って立って食う。写真なし。
しかし、イギリスってポテトうまいなあ。やばい、太るぞ。

携帯電話購入しようと色んな店に入って説明を聞きました。
UKの携帯会社はorange(フランス・テレコム系)、fresh、BT cellnet、vodafone、virgin mobile、one2oneの6種類あります。
サービスは日本でおなじみの基本料金ありと、それ以外に基本料金なし、
プリペイドカードを購入の3つあって、後ろの方が携帯の電話は高くなるし、
古いのしか扱ってなし、電話代も若干高くなります。
今回は、1年間住むならともかく短期〜中期滞在なのでプリペイドにしました。
会社の経理処理も楽だしね。

んで、プリペイド型でかつUK以外のヨーロッパの国で使えるのはBT cellnetだけみたい。
orangeも使えるみたいだけど、利用国に一部制限があるみたい。
さすがにnational telephonyは強いか。今日は結局買わなかっただけど、2日後に購入しました。Nokia 3330という機種で£129.9。高いなあ。£5分の電話代つき。
さらに£10のプリペイドカードを購入。暗証番号が書いてあって、
サービスに電話かけて番号打ち込むと利用料金が増える仕組みです。
UK内で普通に電話するくらいならこれで十分なんだけど、
後でスペインからドイツの携帯にかけたらすごい勢いで残りの金がなくなった。

5時くらいに池田さんと合流。晩飯食いにいく。イタ飯屋。

<%= image "img_0087" %>
<%= image "img_0088" %>
<%= image "img_0089" %>
<%= image "img_0090" %>
<%= image "img_0091" %>
<%= image "img_0092" %>

Sweet'n Low 「2」が出てる！
なんじゃこりゃあ。「癌になります」の注意表示なし。
2になってサッカリン使わないように改良されたのか、
単にヨーロッパだから表示義務がないのか。
後でHectorに聞いたらアメリカには「2」は見掛けたことないって。

<%= image "img_0093" %>

んで、今日の買物結果。魂の道具、綿棒。
ayayaお勧めロンドン地図AZ。
手持ちの文庫本が切れたのでペーパーバック(結局、読んでない)、
乾燥肌を防ぐスキンクリーム、宿にないのでシャンプー、
それから、コーリングカード。日本まで6.6ペンス/分。

<%= image "img_0098" %>
<%= image "img_0100" %>
<%= image "img_0101" %>
<%= image "img_0102" %>
<%= image "img_0103" %>

特にスキンクリーム重要です。ロンドン、フランスは空気がめちゃめちゃ乾燥してて、
洗濯物なんて寝てるうちに乾きます。
なので、肌がカサカサになってかゆいのなんのって。
一時はかきまくったせいでとても人に見せられないお肌になってしまいました。
このスキンクリームをぬってやっとかゆみが収まりました。
尿素入り。これ重要らしい。
