---
title: 外人接待＠陣屋
---
外人さん来たので<a href="http://www.wone.co.jp/jinya/">陣屋</a>で接待。
ひなびたいい所ですが、ドア空けた瞬間に太鼓の音を鳴らされます。
絶対誤解される。

写真はショータイムの餅つき大会。外人さんにははっぴが配られます。
なんだかなあ。僕もつかされた。

<%= image "gary1" %>
<%= image "gary2" %>
<%= image "mattias1" %>
<%= image "mattias2" %>
<%= image "mu" %>
<%= image "mug" %>
<%= image "sumi" %>
<%= image "uri" %>

菊のおひたしとか、こんにゃくとか説明の難しい食い物ばっか。
おいしゅうございました。
