---
title: お見合い写真
tags: photos, personal, ipv6
---
お見合い用(信じんなよ)に<a href="http://itpro.nikkeibp.co.jp/free/v6start/voice_v6/20010713/2/index.shtml">v6start.net</a>で作ったデータもらったんで、保存も兼ねて公開。

<%= image "img_0061" %>
<%= image "img_0064" %>
<%= image "img_0068" %>
<%= image "img_0069" %>
<%= image "img_0070" %>
<%= image "img_0071" %>
<%= image "img_0073" %>
<%= image "img_0074" %>
<%= image "img_0075" %>
<%= image "img_0076" %>
<%= image "img_0077" %>
<%= image "img_0078" %>
<%= image "img_0080" %>
<%= image "img_0081" %>
<%= image "img_0082" %>
<%= image "img_0083" %>
<%= image "img_0084" %>
<%= image "img_0085" %>
<%= image "img_0086" %>
<%= image "img_0087" %>
<%= image "img_0088" %>
<%= image "img_0089" %>
<%= image "img_0091" %>
<%= image "img_0092" %>
<%= image "img_0093" %>
<%= image "img_0096" %>
<%= image "img_0097" %>
<%= image "img_0098" %>
