<!doctype html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <title><%= gen_title %></title>
    <link rel="alternate" type="application/rss+xml" title="rss" href="https://www.don.to/diary/index.rdf" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.css" />
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Reenie+Beanie" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/images/ipod-icon.png" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=2.0000" />
  </head>

  <body>
    <div class="container">
      <div class="centerblock">
	<% if current_page.data.top == true %>
      <div class="titleblock">
        <div id="dayd">Daydreamers On the Net</div>
        <br />
        <div id="doyou">- Do you dream a daydream? -</div>
	  </div>
	<% end %>
	  <div class="mainblock">
        <form role="search">
          <input type="search" placeholder="検索" id="search" />
        </form>
        <% unless current_page.data.top == true %>
          <h2><%= gen_title %></h2>
        <% end %>
        <%= yield %>
        <hr />
        <div id="name">SUMIKAWA Munechika / Daydreamers On the Net</div>
	  </div>
    </div>
    <div class="leftblock">
      <%= partial "layouts/photofooter" %>
    </div>
    <%= partial "layouts/pswp" %>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js"></script>
  <%= javascript_include_tag "application" %>
</html>
