<!doctype html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title><%= gen_title %></title>
    <link rel="alternate" type="application/rss+xml" title="rss" href="https://www.don.to/diary/index.rdf">
    <% unless environment?(:development) %>
      <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <% end %>
    <%= stylesheet_link_tag "code" %>
    <%= stylesheet_link_tag "photoswipe" %>
    <%= stylesheet_link_tag "style" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/images/ipod-icon.png">
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=2.0000">
    <meta property="og:site_name" content="すみかわ日記">
    <meta property="og:title" content="<%= gen_title %>">
  </head>

  <body data-source-path="<%= current_page.source_file.sub(File.expand_path(config[:source]), '') %>">
    <div class="container">
      <div class="centerblock">
        <% if current_page.data.top == true %>
          <div class="titleblock">
            <div id="dayd">Daydreamers On the Net</div>
            <br />
            <div id="doyou">- Do you dream a daydream? -</div>
          </div>
        <% else %>
          <div class="titleblock">
            <h2><a href="/">すみかわ日記</a></h2>
          </div>
        <% end %>
        <div class="mainblock">
          <div id="search"></div>
          <% unless current_page.data.top == true %>
          <h2 data-pagefind-sort="date:<%= gen_date %>"><%= gen_title %></h2>
          <% end %>
          <main data-pagefind-body>
            <%= yield %>
          </main>

          <%= diary_nav(current_page, sitemap) %>

          <hr>
          <div id="name">SUMIKAWA Munechika / Daydreamers On the Net</div>
        </div>
      </div>
      <div class="leftblock">
        <%= partial "layouts/photofooter" %>
      </div>
      <%= partial "layouts/pswp" %>
    </div>
    <%= javascript_include_tag "diary" %>
    <% if environment?(:development) %>
      <%= javascript_include_tag "editor" %>
    <% else %>
      <script src="/pagefind/pagefind-ui.js"></script>
      <%= javascript_include_tag "search" %>
    <% end %>
    <%= javascript_include_tag "photoswipe.umd.min" %>
    <%= javascript_include_tag "photoswipe-init" %>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.5.0/dist/mermaid.min.js"></script>

  </body>
</html>
