<!doctype html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <title><%= gen_title %></title>
    <link rel="alternate" type="application/rss+xml" title="rss" href="https://www.don.to/diary/index.rdf" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.css" />
    <%= stylesheet_link_tag "code" %>
    <%= stylesheet_link_tag "photoswipe" %>
    <%= stylesheet_link_tag "style" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/images/ipod-icon.png" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=2.0000" />
    <meta property="og:site_name" content="すみかわ日記">
    <meta property="og:title" content="<%= gen_title %>">
  </head>

  <body>
    <div class="container">
      <div class="centerblock">
        <% if current_page.data.top == true %>
          <div class="titleblock">
            <div id="dayd">Daydreamers On the Net</div>
            <br />
            <div id="doyou">- Do you dream a daydream? -</div>
          </div>
        <% else %>
          <div class="titleblock">
            <h2><a href="/">すみかわ日記</a></h2>
          </div>
        <% end %>
        <div class="mainblock">
          <form role="search">
            <input type="search" placeholder="検索" id="search" />
          </form>
          <% unless current_page.data.top == true %>
          <h2><%= gen_title %></h2>
          <% end %>
          <%= yield %>

<%
  # 現在のページのパスが diary/YYYY/ の形式にマッチする場合にのみ実行
  if matches = current_page.path.match(%r{diary/((19|20)\d{2})/.+})
    year = matches[1]
    # sitemap から同じ年（year）のディレクトリ内のページを取得
    pages = sitemap.resources.select do |res|
      res.path.start_with?("diary/#{year}/") && res.ext == '.html'
    end.sort_by { |res| res.path } # ファイル名でソート

    # 現在のページのインデックスを探す
    current_index = pages.find_index { |p| p.path == current_page.path }

    if current_index
      prev_page = pages[current_index - 1] if current_index > 0
      next_page = pages[current_index + 1] if current_index < pages.size - 1
    end
  end
%>
<% if defined?(prev_page) && prev_page || defined?(next_page) && next_page %>
<nav class="prev_next" style="text-align: center; margin: 1em 0;">
  <% if prev_page %>
  <a href="<%= prev_page.url %>">&laquo; prev</a>
  <% end %>
  <% if prev_page && next_page %>
  <span style="margin: 0 1em;">|</span>
  <% end %>
  <% if next_page %>
  <a href="<%= next_page.url %>">next &raquo;</a>
  <% end %>
</nav>
<% end %>

          <hr />
          <div id="name">SUMIKAWA Munechika / Daydreamers On the Net</div>
        </div>
      </div>
      <div class="leftblock">
        <%= partial "layouts/photofooter" %>
      </div>
      <%= partial "layouts/pswp" %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js"></script>
    <%= javascript_include_tag "diary" %>
    <%= javascript_include_tag "photoswipe.umd.min" %>
    <%= javascript_include_tag "photoswipe-init" %>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.5.0/dist/mermaid.min.js"></script>
  </body>
</html>
