---
title: 箱根 その1
tags: hakone, onsen, travel
---
引きこもり仕事をしたくなったので全国割を利用して[フォレスト箱根](http://www.shikiresorts.com/hotel/forest_hakone/)へ。
平日で直前まで部屋が空いてたので一泊朝食付で4,840円。その上、地域券2,000円分もらった。
交通費の方が高くついた。

<%= image "img_8112" %>

露天風呂は狭いけどいいお湯だった。

晩ごはんは徒歩圏の釜飯屋へ行く。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141001/14001432/">かま家</a>
神奈川県足柄下郡箱根町仙石原817
0460-84-5638
</pre>

<%= image "img_8105" %>
<%= image "img_8107" %>
<%= image "img_8108" %>
<%= image "img_8109" %>
