---
title: 田沢湖スキー場 その3
tags: Onsen, Akita, Travel
---
朝ごはん。

<%= image "img_1165" %>
<%= image "img_1166" %>
<%= image "img_1168" %>
<%= image "img_1169" %>

今日は温泉三昧。まずは[休暇村](https://www.qkamura.or.jp/nyuto/hotspring/)。

<%= image "img_1170" %>
<%= image "img_1171" %>

[鶴の湯](http://www.nyuto-onsenkyo.com/tsurunoyu.html)。

<%= image "img_8206" %>
<%= image "img_1173" %>
<%= image "img_8208" %>
<%= image "img_8210" %>
<%= image "img_1175" %>
<%= image "img_1177" %>
<%= image "img_1179" %>
<%= image "img_1181" %>
<%= image "img_1183" %>

<pre class="address">
<a href="https://tabelog.com/akita/A0504/A050401/5000755/">鶴の湯別館 山の宿</a>
秋田県仙北市田沢湖田沢字先達沢国有林50
0187-46-2100
</pre>

<%= image "img_8211" %>
<%= image "img_8212" %>
<%= image "img_8214" %>
<%= image "img_1188" %>
<%= image "img_1189" %>
<%= image "img_8216" %>
<%= image "img_1192" %>
<%= image "img_8217" %>
<%= image "img_1196" %>
<%= image "img_1198" %>
<%= image "img_1199" %>
<%= image "img_8219" %>

帰りまーす。

<%= image "img_1204" %>
<%= image "img_1207" %>
<%= image "img_1213" %>
