---
title: 江ノ島
tags: Enoshima, Family, Food
---
娘と江ノ島へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140403/14046636/">Eggs'n Things 湘南江の島店</a>
神奈川県藤沢市片瀬海岸2-17-23 the BEACH HOUSE 1F
0466-54-0606
</pre>

昼飯なのでパンケーキ以外も食べたいよねと、ワイキキセットメニューを頼んで見た。

<%= image "img_8239" %>
<%= image "img_8240" %>
<%= image "img_8241" %>
<%= image "img_8242" %>
<%= image "img_8243" %>
<%= image "img_8244" %>

江ノ島へ。

<%= image "img_8245" %>
<%= image "img_8247" %>
<%= image "img_8250" %>
<%= image "img_8251" %>
<%= image "img_8252" %>
<%= image "img_8253" %>

えびせん大。この後、強風で盛大に千切れる。

<%= image "img_8254" %>

桜咲いてた。

<%= image "img_8255" %>
<%= image "img_8256" %>
<%= image "img_8257" %>
<%= image "img_8260" %>
<%= image "img_8261" %>
<%= image "img_8262" %>
<%= image "img_8263" %>
<%= image "img_8264" %>

裏の海岸。波が高い。

<%= image "img_8265" %>
<%= movie "hdimg_8266" %>
<%= image "img_8268" %>
<%= movie "hdimg_8270" %>
<%= movie "hdimg_8271" %>
