---
title: もんじゃ
tags: noge, restaurant
---
もんじゃ焼きを食べにいく。

<%= image "img_1553" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14000453/">みかさ</a>
神奈川県横浜市中区宮川町2-23
045-231-0353
</pre>

<%= image "img_e1538" %>
<%= image "img_1539" %>
<%= image "img_1540" %>
<%= image "img_1541" %>
<%= image "img_e1543" %>
<%= image "img_1545" %>
<%= image "img_1549" %>
<%= image "img_1552" %>
