---
title: イチゴ狩り
tags: food, hiratsuka, strawberry
---
平塚の[原農場](https://ameblo.jp/shonan15hara/)でイチゴ狩。

<%= image "img_1482" %>
<%= image "img_1483" %>
<%= image "img_1486" %>
<%= image "img_1489" %>
<%= image "img_1491" %>
<%= image "img_1493" %>
<%= image "img_1498" %>
<%= image "img_1501" %>
<%= image "img_1511" %>
<%= image "img_1515" %>
<%= image "img_1520" %>
<%= image "img_1523" %>
<%= image "img_1524" %>
<%= image "img_1528" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140407/14061080/">釜揚げうどん専門店もと</a>
神奈川県平塚市宮松町6-26
0463-63-2001
</pre>

<%= image "img_1533" %>
<%= image "img_1534" %>
<%= image "img_1536" %>
