---
title: 鎌倉ハイキング
---
娘と鎌倉ハイキング。桜満開でした。

<%= image "img_8389" %>
<%= image "img_8391" %>

シュウマイ弁当。

<%= image "img_8394" %>

定点観測。

<%= image "img_8395" %>

[初め弁天](https://www.yoritomo-japan.com/page042hajime-benten.htm)

<%= image "img_8396" %>
<%= image "img_8397" %>

明月院から明王院までの最長ルートを制覇。

<%= image "img_8402" %>

かき氷屋さん見つけた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14084967/">天然氷のかき氷 中町氷菓店 鎌倉小町通り店</a>
神奈川県鎌倉市小町2-12-37
0467-40-5678
</pre>

<%= image "img_8403" %>
<%= image "img_8405" %>
<%= image "img_8406" %>

<%= image "img_8408" %>
<%= image "img_8409" %>

[生和菓子の店](https://tabelog.com/kanagawa/A1404/A140402/14007757/)を娘が見つけたんだけど、2-3日前に予約しないと買えないとのこと。

<%= image "img_8411" %>

桜吹雪ショットを撮ろうとして失敗の図。

<%= image "img_8412" %>
