---
title: メレンゲ
tags: Pancake, Breakfast, Yokohama
---
朝パンケーキ食べにいったら、値上げしてた。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14067913/">メレンゲ みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル１F
050-5593-9994
</pre>

<%= image "img_1900" %>
<%= image "img_8413" %>
<%= image "img_8414" %>
<%= image "img_e8418" %>
<%= image "img_1903" %>
<%= image "img_1904" %>
<%= image "img_1905" %>
<%= image "img_1906" %>
<%= image "img_1908" %>
