---
title: 高松山ハイキング
---
高松山まで日帰りハイキングを決行。

横浜から高速バスで東名山北で下車。

<%= image "img_8421" %>

ちょっと歩くとハイキングコース。
東名高速の工事のため、巨大な足場の迂回路ができている。工事現場の人、大変だなあ。

<%= image "img_8422" %>

足場地帯を抜けるとようやく通常のハイキングコース。ただし、ところどころ土砂崩れでルートが分からなくなっている。
[Yamap](https://yamap.com/)に助けられながら進む。

<%= image "img_8423" %>
<%= image "img_8424" %>

山頂。さすがに一日一食では保たないので、保土ヶ谷駅で調達したシュウマイ弁当を食う。

<%= image "img_8425" %>
<%= image "img_8426" %>
<%= image "img_8427" %>
<%= image "img_8428" %>

帰りは東周りのルートをとったら、下りの95%ぐらいが舗装された林道でくっそつまらなかった。
来た道そのまま戻ればよかった。

<%= image "img_8429" %>
<%= image "img_8430" %>
<%= image "img_8431" %>

工事中の支柱。

<%= image "img_8432" %>

そのまま山北駅まで歩いて[さくらの湯](http://www.town.yamakita.kanagawa.jp/0000004250.html)へ。
500円でサウナも利用できるので、整えた。
サウナの会話を聞いてると丹沢の鹿が増えすぎて山北まで来てるらしい。

<%= image "img_8434" %>

駅前で飲む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140902/14074610/">ヤマキタバル（YAMAKITAバル）</a>
神奈川県足柄上郡山北町山北1917
0465-46-8602
</pre>

<%= image "img_8440" %>
<%= image "img_8435" %>

タラの芽の天ぷらをこれから揚げるので食べる人って聞かれたので思わず手を挙げたが、衣の油が強すぎてダイエットの身にはしんどい。

<%= image "img_8437" %>

<%= image "img_8438" %>
<%= image "img_8439" %>

本日の歩行記録。

<%= image "img_e8441" %>

翌日はケツの根本が激筋肉痛。
