---
title: 鬼怒川温泉ワーケーション その1
tags: kinugawa, onsen, workation
---
前日に天気予報が変わったので急遽ワーケーションに踏み切る。

まずは湘南新宿ラインで宇都宮まで。
駅前で餃子を食べる。

<%= image "img_8445" %>
<%= image "img_8442" %>
<%= image "img_8443" %>

通販で餃子を買う[まさし](https://tabelog.com/tochigi/A0901/A090101/9000046/)の本店が近くにあるので見に行く。めっちゃ行列。

<%= image "img_8446" %>

[大谷資料館](http://www.oya909.co.jp/)。
巨大な地下採掘場に入れます。iPhoneのカメラ性能のおかげで明るく見えるけど実際はもっと薄暗い。

<%= image "img_8447" %>
<%= image "img_8448" %>
<%= image "img_8449" %>
<%= image "img_8450" %>
<%= image "img_8451" %>
<%= image "img_8452" %>
<%= image "img_8453" %>
<%= image "img_8454" %>
<%= image "img_8455" %>
<%= image "img_8456" %>
<%= image "img_8457" %>
<%= image "img_8458" %>
<%= image "img_8459" %>
<%= image "img_8460" %>
<%= image "img_8461" %>
<%= image "img_8462" %>
<%= image "img_8463" %>

<pre class="address">
<a href="https://tabelog.com/tochigi/A0901/A090101/9020385/">日光ぷりん亭 大谷店</a>
栃木県宇都宮市大谷町1263-2 ベルテラシェ大谷
028-678-8235
</pre>

ハーフぷりんソフトを食べて、糖分補給。

<%= image "img_8464" %>

大谷観音。

<%= image "img_8465" %>
<%= image "img_8466" %>

元々は現地まで自転車で向かう予定だったが、力尽きたのと日が暮れてきたので、日光に方向転換。

<%= image "img_e8467" %>

下今市駅で電車に乗って鬼怒川温泉駅で下車。

<%= image "img_8468" %>
<%= image "img_8469" %>

今回のお宿は[鬼怒川温泉パークホテルズ](http://www.park-hotels.com/)のパークコテージ。

<%= image "img_8470" %>

素泊まりなので晩飯は近くの焼鳥屋。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090303/9006213/">かねしま</a>
栃木県日光市鬼怒川温泉大原1434-12
0288-76-1897
</pre>

焼き鳥4本と湯葉刺しと焼きそば。焼きそば以外写真撮るの忘れてた。

<%= image "img_8472" %>
<%= image "img_8473" %>
