---
title: 鬼怒川温泉ワーケーション その5
---
朝活。早朝起きて鬼怒川温泉駅へ。誰もいねえ。

<%= image "img_8495" %>

始発がやってきたので乗り込んで北上する。車内誰もいねえ。

<%= image "img_8497" %>
<%= image "img_8498" %>

新藤原で乗り換えて、会津鬼怒川線で川治温泉駅で降りる。

<%= image "img_8499" %>
<%= image "img_8500" %>

[ハイキングルート](https://www.city.nikko.lg.jp/hujiharakankou/kankou/kinugawa/taiken/documents/ryuoukyou_hiking_map.pdf)に従って龍王峡へ向かう。

<%= image "img_8501" %>
<%= image "img_8502" %>
<%= image "img_8504" %>
<%= image "img_8505" %>
<%= image "img_8506" %>
<%= image "img_8507" %>
<%= image "img_8508" %>
<%= image "img_8509" %>
<%= image "img_8510" %>

道は作られてるけど、ギザギザの石の道なのでめっちゃ歩き辛い。

<%= image "img_8511" %>

<%= image "img_8512" %>
<%= image "img_8513" %>

兎はね。

<%= image "img_8514" %>
<%= image "img_8515" %>
<%= image "img_8517" %>

眺めのいいところで朝食休憩。おにぎりを食べる。

<%= image "img_8518" %>
<%= image "img_8519" %>

<%= image "img_8520" %>
<%= image "img_8522" %>
<%= image "img_8523" %>
<%= image "img_8524" %>
<%= image "img_8525" %>

合計7.4km。

<%= image "img_8526", ext: 'png' %>

龍王峡駅から鬼怒川温泉へ戻って仕事開始。

<%= image "img_8527" %>
<%= image "img_8528" %>

昼過ぎ。ミーティングが入ってて夜が少し遅くなるので、おにぎり一個じゃ腹が保たないのでおやつを食う。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090303/9011274/">パントエ（PANTOE）</a>
栃木県日光市鬼怒川温泉大原1407-8
0288-25-7445
</pre>

<%= image "img_8531" %>
<%= image "img_8529" %>
<%= image "img_8530" %>

夜。ミーティング終わって慌ててレストランに向かう。
19:45に店着。ラストオーダー15分前だった。どこも店閉めるの早すぎんねん。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090303/9000060/">トラットリア カミーノ</a>
栃木県日光市鬼怒川温泉大原1430-2
0288-76-0867
</pre>

イカの墨煮と渡り蟹のリングイネ。うまかったけどもうちょっとゆっくり食べたかった。

<%= image "img_8532" %>
<%= image "img_8534" %>
<%= image "img_8535" %>

