---
title: 鬼怒川温泉ワーケーション その6
tags: Kinugawa, Workation, Food
---
昼飯。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090303/9006920/dtlmenu/photo/">丸八食堂</a>
栃木県日光市藤原19-2
0288-77-1649
</pre>

げそ天定食食べるつもりだったのに間違えてイカフライ頼んでしまった。

<%= image "img_8536" %>

<%= image "img_8537" %>
<%= image "img_8538" %>
<%= image "img_8539" %>
<%= image "img_8540" %>
<%= image "img_8541" %>
<%= image "img_8542" %>
<%= image "img_8543" %>
