---
title: 中華街
tags: Chinatown, Yokohama, Food
---
滝口さんと差し飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14037461/">新錦江</a>
神奈川県横浜市中区山下町146
045-228-8975
</pre>

葱油餅はメニューになかったけど聞いたら作ってもらえた。

<%= image "img_8586" %>
<%= image "img_8587" %>
<%= image "img_8589" %>
<%= image "img_8590" %>
<%= image "img_8592" %>
<%= image "img_8593" %>
