---
title: ガンダム
tags: Gundam, Yokohama, Park
---
そういや近くに住んでるのにガンダム見てないなと思い山下公園に行ったら整備中だった

<%= image "img_8625" %>
<%= image "img_8626" %>
<%= image "img_8627" %>
<%= image "img_8628" %>
<%= image "img_8629" %>

山下公園の一角にあるレストランのテラス席でビールを飲む。
まだちょっと寒い。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14009399/">ハーバービュー レストラン</a>
神奈川県横浜市中区新山下3-6-19 横浜クルージングクラブ
045-624-2625
</pre>

<%= image "img_8630" %>
<%= image "img_8632" %>
