---
title: 草津温泉
tags: Food, Kusatsu, Onsen
---
[赤城乳業工場見学](https://www.akagi.com/factory/index.html)へ。

<%= image "img_2584" %>
<%= image "img_2587" %>
<%= image "img_2589" %>
<%= image "img_2592" %>
<%= image "img_2593" %>
<%= image "img_2596" %>
<%= image "img_2600" %>
<%= image "img_2602" %>
<%= image "img_2603" %>
<%= image "img_2605" %>
<%= image "img_2606" %>
<%= image "img_2609" %>
<%= image "img_6971" %>
<%= image "img_2610" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100401/10000215/">元祖 田丸屋</a>
群馬県渋川市伊香保町水沢206-1
0279-72-3019
</pre>

<%= image "img_2614" %>
<%= image "img_6974" %>
<%= image "img_6976" %>
<%= image "img_e2615" %>
<%= image "img_8639" %>
<%= image "img_8640" %>
<%= image "img_8641" %>
<%= image "img_2617" %>

[大滝の湯](https://onsen-kusatsu.com/ohtakinoyu/hot-spring/)。

<%= image "img_2622" %>
<%= image "img_2621" %>
<%= image "img_2623" %>
<%= image "img_2628" %>
<%= image "img_2630" %>
<%= image "img_2632" %>

湯畑。

<%= image "img_6991" %>
<%= image "img_2639" %>

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10000985/">三四郎</a>
群馬県吾妻郡草津町大字草津114-2
0279-88-2032
</pre>

<%= image "img_e2641" %>
<%= image "img_2643" %>
<%= image "img_2644" %>
<%= image "img_2645" %>
<%= image "img_2649" %>
<%= image "img_e2651" %>
<%= image "img_e2652" %>
<%= image "img_2653" %>
<%= image "img_e2654" %>
<%= image "img_e2655" %>
<%= image "img_2657" %>

夜の湯畑。

<%= image "img_2658" %>
<%= image "img_2664" %>

今日のお宿。

<pre class="address">
<a href="https://www.wooribow-ryokan.com/">うり房旅館</a>
〒377-1711 群馬県吾妻郡草津町大字草津223番地
TEL：0279-88-9720
</pre>

<%= image "img_2672" %>
