---
draft: true
title: 水上温泉
---
朝飯食って水上へ移動。

<%= image "img_2673" %>

<a href="https://sotoasobi.net/bookmark/0067850036/RN0315896">みなかみラフティング</a>へ。
娘が中学生になったので、激しいラフティングをする。

<%= image "dscf7236" %>
<%= image "dscf8264" %>
<%= image "dscf8267" %>
<%= image "dscf7701" %>
<%= image "dscf7704" %>
<%= image "dscf7712" %>
<%= image "dscf7713" %>
<%= image "dscf7714" %>
<%= image "dscf7715" %>
<%= image "dscf7716" %>
<%= image "dscf7251" %>
<%= image "dscf7252" %>
<%= image "dscf8272" %>
<%= image "dscf8273" %>
<%= image "dscf8274" %>
<%= image "dscf7255" %>
<%= image "dscf7256" %>
<%= image "dscf7257" %>
<%= image "dscf8276" %>
<%= image "dscf7259" %>
<%= image "dscf8284" %>
<%= image "dscf8285" %>
<%= image "dscf8286" %>
<%= image "dscf8287" %>
<%= image "dscf7272" %>
<%= image "dscf8292" %>
<%= image "dscf7728" %>
<%= image "dscf8294" %>
<%= image "dscf8295" %>
<%= image "dscf7741" %>
<%= image "dscf8296" %>
<%= image "dscf8297" %>
<%= image "dscf7276" %>
<%= image "dscf7279" %>
<%= image "dscf7742" %>
<%= image "dscf7745" %>
<%= image "dscf8304" %>
<%= image "dscf8305" %>
<%= image "dscf8306" %>
<%= image "dscf8307" %>
<%= image "dscf7747" %>
<%= image "dscf7749" %>
<%= image "dscf8309" %>
<%= image "dscf8310" %>
<%= image "dscf7751" %>
<%= image "dscf7287" %>
<%= image "dscf7288" %>
<%= image "dscf7289" %>
<%= image "dscf7293" %>
<%= image "dscf7294" %>
<%= image "dscf7295" %>
<%= image "dscf7296" %>
<%= image "dscf7298" %>
<%= image "dscf7299" %>
<%= image "dscf7301" %>
<%= image "dscf7302" %>
<%= image "dscf7303" %>
<%= image "dscf7305" %>

xxx

<%= image "img_2674" %>
<%= image "img_2676" %>







<%= image "img_2677" %>
<%= image "img_2678" %>
<%= image "img_2679" %>
<%= image "img_2681" %>
<%= image "img_2682" %>
<%= image "img_2683" %>
<%= image "img_2685" %>
<%= image "img_2686" %>
<%= image "img_2687" %>
<%= image "img_2690" %>
<%= image "img_2691" %>
<%= image "img_2692" %>
<%= image "img_2693" %>
<%= image "img_2694" %>
<%= image "img_2695" %>
<%= image "img_2696" %>
<%= image "img_2697" %>
<%= image "img_2698" %>
<%= image "img_2699" %>
<%= image "img_2700" %>
<%= image "img_2702" %>
<%= image "img_8642" %>
<%= image "img_2704" %>
<%= image "img_2706" %>
<%= image "img_2707" %>
<%= image "img_2708" %>
<%= image "img_2711" %>
<%= image "img_2712" %>
<%= image "img_8643" %>
<%= image "img_2717" %>
<%= image "img_2718" %>
<%= image "img_2719" %>
<%= image "img_2720" %>
<%= image "img_2721" %>
<%= image "img_2722" %>
<%= image "img_2723" %>
<%= image "img_2724" %>
<%= image "img_2725" %>
