---
title: しまなみ海道 その1
---
自転車の聖地、しまなみ海道に奥さんと二人で来た。

松山空港まで輪行してリムジンバスに乗る。

<%= image "img_2961" %>
<%= image "img_2966" %>
<%= image "img_2968" %>

松山駅着から波止浜駅へ。

<%= image "img_2969" %>
<%= image "img_8655" %>
<%= image "img_2972" %>
<%= image "img_2974" %>
<%= image "img_2975" %>

波止浜駅から徒歩で中央レンタサイクル。遠い。

<%= image "img_2977" %>
<%= image "img_2978" %>

嫁さんが電動自転車借りてようやくスタート。

<%= image "img_8656" %>
<%= image "img_8657" %>
<%= image "img_2979" %>

糸山展望台。

<%= image "img_2980" %>
<%= image "img_2981" %>
<%= image "img_2983" %>
<%= image "img_2984" %>
<%= image "img_2985" %>
<%= image "img_2986" %>

走りますよー。

<%= image "img_2988" %>
<%= image "img_8659" %>
<%= image "img_8660" %>
<%= image "img_2990" %>
<%= image "img_2993" %>
<%= image "img_8661" %>

じゃこ天食べたかったので道の駅よしうみいきいき館へ。
観光客で激混みで、じゃこ天ならすぐかと思いきや、死ぬほど待たされる。

<%= image "img_2995" %>
<%= image "img_2998" %>

ランチ。

<pre class="address">
<a href="https://tabelog.com/ehime/A3802/A380201/38013861/">アジアンカフェ・亀山小屋</a>
愛媛県今治市吉海町名4674
</pre>

<%= image "img_8663" %>
<%= image "img_3006" %>
<%= image "img_8664" %>
<%= image "img_8662" %>
<%= image "img_e3004" %>
<%= image "img_e3005" %>

よしうみバラ公園に寄り道しながら移動。

<%= image "img_3007" %>
<%= image "img_3008" %>
<%= image "img_3010" %>
<%= image "img_3012" %>
<%= image "img_3013" %>

<%= image "img_3015" %>
<%= image "img_3017" %>
<%= image "img_3018" %>
<%= image "img_3023" %>

今日のお宿は[WAKKA](https://wakka.site/)。

<%= image "img_3025" %>
<%= image "img_8665" %>
<%= image "img_3027" %>
<%= image "img_3028" %>
<%= image "img_3030" %>

チェックインしてから道を戻り、[しまなみドーム](https://www.city.imabari.ehime.jp/sports/shisetsu/tatara/)の風呂に入る。

<%= image "img_3032" %>
<%= image "img_3034" %>

宿のそばにあるお店へ。

<pre class="address">
<a href="https://tabelog.com/ehime/A3802/A380201/38015118/">雅楽</a>
愛媛県今治市上浦町井口6691-26
0897-87-2251
</pre>

どれもリーズナブルで美味かった。

<%= image "img_8667" %>
<%= image "img_8668" %>
<%= image "img_8669" %>
<%= image "img_8670" %>
<%= image "img_e3037" %>
<%= image "img_e3038" %>
<%= image "img_e3039" %>
<%= image "img_3040" %>
<%= image "img_e3041" %>
<%= image "img_3042" %>

今日の記録は36km。

<%= image "img_e8666" %>
