---
title: しまなみ海道 その2
---
早朝散歩。

<%= image "img_3043" %>
<%= image "img_3045" %>
<%= image "img_3049" %>
<%= image "img_3050" %>

おしゃれ朝飯。

<%= image "img_3053" %>
<%= image "img_3054" %>
<%= image "img_3056" %>
<%= image "img_3057" %>
<%= image "img_3059" %>

出発。サイクリストの聖地へ。

<%= image "img_3061" %>
<%= image "img_3064" %>
<%= image "img_3068" %>

多々羅大橋の鳴き龍。

<%= image "img_3071" %>
<%= movie "hdimg_3073" %>

<%= image "img_3075" %>
<%= image "img_3076" %>
<%= image "img_3077" %>
<%= image "img_3080" %>
<%= image "img_3085" %>
<%= image "img_3087" %>
<%= image "img_3090" %>

<a href="https://www.kousanji.or.jp/">耕三寺博物館</a>。

<%= image "img_3091" %>
<%= image "img_3092" %>
<%= image "img_3096" %>
<%= image "img_3100" %>
<%= image "img_3101" %>
<%= image "img_3102" %>
<%= image "img_3104" %>
<%= image "img_3106" %>

<%= image "img_3108" %>
<%= image "img_3110" %>
<%= image "img_3114" %>
<%= image "img_3116" %>
<%= image "img_3120" %>
<%= image "img_3121" %>
<%= image "img_3123" %>
<%= image "img_3126" %>

ここらへんからグルメラッシュ。

<pre class="address">
<a href="https://tabelog.com/hiroshima/A3406/A340603/34002487/">岡哲商店</a>
広島県尾道市瀬戸田町瀬戸田517-4
0845-27-0568
</pre>

<%= image "img_3128" %>

<pre class="address">
<a href="https://tabelog.com/hiroshima/A3406/A340603/34002088/dtlrvwlst/B211598397/">ドルチェ 本店</a>
広島県尾道市瀬戸田町林20-8
0845-26-4046
</pre>

<%= image "img_3130" %>
<%= image "img_3132" %>

<%= image "img_3133" %>
<%= image "img_3137" %>

<pre class="address">
<a href="https://tabelog.com/hiroshima/A3406/A340602/34002184/">ラーメン専門店 萬来軒（バンライケン）</a>
広島県尾道市因島中庄町3297-5
0845-24-1812
</pre>

<%= image "img_8671" %>
<%= image "img_8672" %>

<%= image "img_3138" %>
<%= image "img_3139" %>
<%= image "img_3141" %>
<%= image "img_3142" %>

<pre class="address">
<a href="https://tabelog.com/hiroshima/A3406/A340602/34003897/">はっさく屋</a>
広島県尾道市因島大浜町246-1
0845-24-0715
</pre>

<%= image "img_8673" %>
<%= image "img_e3144" %>
<%= image "img_3146" %>

<%= image "img_3147" %>
<%= image "img_3149" %>
<%= image "img_3150" %>

フェリーで尾道へ。

<%= image "img_8675" %>
<%= image "img_8676" %>
<%= image "img_3154" %>
<%= image "img_3155" %>
<%= image "img_3157" %>

帰りますー。

<%= image "img_3159" %>
<%= image "img_8680" %>
<%= image "img_3162" %>
<%= image "img_3164" %>

本日の走行距離は58km。

<%= image "img_e8678" %>
