---
title: 六方の滝
---
体調もいいし、ちゃんとした登山靴買ったし、山レコにルートマップがあるのを見つけたので、今年こそはと湯河原にある六方の滝へ挑む。

<%= image "img_8708" %>

湯河原駅からバスに乗って幕山公園へ。
バスの本数が[少なすぎる](https://www.navitime.co.jp/bus/diagram/timelist?departure=00121757&arrival=00121640&line=00028930)ので、自転車もかついできた。

<%= image "img_8681" %>

管理事務所前に自転車を置く。着替えは自転車のカバンに入れっぱなしにして、最小限の荷物で登山開始。

<%= image "img_8682" %>

しばらくはいつもの誰も使わない舗装道を歩く。

<%= image "img_8683" %>
<%= image "img_8684" %>

立ち入り禁止の取水場入り口の脇道から登山道へ。草が道を覆ってて歩きづらい。
浅い川を渡ったりしながら進む。
途中からまったく誰ともすれ違わなくなった。

<%= image "img_8685" %>
<%= image "img_8686" %>
<%= image "img_8687" %>
<%= image "img_8688" %>
<%= image "img_8689" %>

1つ目の滝。さらに奥へ。

<%= image "img_8690" %>
<%= image "img_8691" %>
<%= image "img_8692" %>
<%= image "img_8693" %>

最後は川の横の崖をロープを頼りに登っていく。怪我したら終わりなのでめっちゃ怖い。
ロープが無かったら登れなかった。ルートを作ってくれている人に感謝。

<%= image "img_8694" %>

六方の滝に到着。誰もいない！

<%= image "img_8698" %>
<%= image "img_8699" %>
<%= movie "hdimg_8700" %>
<%= image "img_8701" %>
<%= movie "hdtrimg_8704" %>

滝を見ながらおにぎりとシュークリーム食って下山開始。
下りはさらに怖い。

<%= image "img_8705" %>


管理事務所に戻って自転車で移動。自転車なかったら次のバスまで一時間待ちだった。
[ゆとろ嵯峨沢の湯](http://www.yutoro.co.jp/)の露天風呂で汗を流す。タイミング良くこれも貸切状態だった。

<%= image "img_8711" %>
<%= image "img_8710" %>

駅前に戻って餃ビー。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141002/14004390/">餃子の一番亭 湯河原店</a>
神奈川県足柄下郡湯河原町宮下29
0465-62-4339
</pre>

<%= image "img_8712" %>

さらにもう一件ハシゴして帰宅。いい週末でした。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141002/14090962/">たぬきのより道</a>
神奈川県足柄下郡湯河原町土肥1-1-3
</pre>

<%= image "img_8713" %>
<%= image "img_8714" %>
<%= image "img_8715" %>
<%= image "img_8716" %>
