---
title: 輪行 三浦
---
今日の[ルート](https://goo.gl/maps/PgqcM4u8kcuHfFBV9)。逗子から三浦半島をぐるっと回って久里浜へ。

腹減ったし暑くてヘロヘロ。通りがかりのそば屋へ入る。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140601/14030867/">そば処　西浦屋</a>
神奈川県横須賀市芦名2丁目30-2
046-856-8555
</pre>

親子丼セット。

<%= image "img_8725" %>
<%= image "img_8723" %>

<%= image "img_8726" %>
<%= image "img_8727" %>

ソレイユの丘の前を通る。懐かしい。

<%= image "img_8728" %>

コメダでさらに休憩。

<%= image "img_8730" %>

今日の日帰り温泉は[海辺の湯](海辺の湯 久里浜店)。

美味そうなメニューあるし、こんなに暑いとビールを頼まざるを得ない。
トビウオ三種盛りとイカ刺し。

<%= image "img_8731" %>
<%= image "img_8732" %>

久里浜駅から電車で帰宅。
