---
title: 本牧市民プール
tags: BBQ, Family, Pool
---
本牧市民プールのナイトプール+BBQを予約してみたが、お父さん体調崩して参加できず。
娘さんの友達を誘いつつ、母娘で参加。

<%= image "img_3266" %>
<%= image "img_3267" %>
<%= image "img_3269" %>
<%= image "img_3271" %>

<pre class="address">
<a href="https://www.herofield.com/bbq/honmoku/">本牧市民プール BBQPIT横浜＆CAMP</a>
〒231-0822 神奈川県横浜市中区本牧元町 46番地1
050-3145-9232
</pre>

<%= image "img_3274" %>
<%= image "img_3275" %>
<%= image "img_3279" %>
<%= image "img_3280" %>
<%= image "img_e3282" %>
<%= image "img_3286" %>
<%= image "img_3287" %>
