---
draft: true
title: 紀伊長島 その3
---
伊勢神宮へ。
父は肉うどんにしたが反省している。伊勢うどんが一番うまい。

<%= image "img_8847" %>
<%= image "img_8845" %>
<%= image "img_8846" %>

<pre class="address">
<a href="https://tabelog.com/mie/A2403/A240301/24000006/">中井屋</a>
三重県伊勢市宇治中之切町10
0596-25-8308
</pre>

<%= image "img_8848" %>
<%= image "img_8849" %>
<%= image "img_8850" %>
<%= image "img_8851" %>

<%= image "img_8852" %>
<%= image "img_8854" %>
<%= image "img_8855" %>
<%= movie "hdtr711977978081441" %>
<%= image "s__33701892" %>
<%= image "s__33701894" %>
<%= image "s__33701895" %>
