---
title: 長野旅行 その1
tags: Nagano, Travel
---
長野旅行。

<%= image "img_3766" %>

松本城。

<%= image "img_3769" %>
<%= image "img_3770" %>
<%= image "img_3772" %>
<%= image "img_3774" %>
<%= image "img_3775" %>
<%= image "img_3777" %>
<%= image "img_3781" %>
<%= image "img_3782" %>
<%= image "img_3785" %>
<%= image "img_3789" %>
<%= image "img_3790" %>
<%= image "img_3791" %>
<%= image "img_3793" %>
<%= image "img_3794" %>
<%= image "img_3795" %>

<pre class="address">
<a href="https://tabelog.com/nagano/A2002/A200201/20002376/">蕎麦倶楽部　佐々木</a>
長野県松本市大手4丁目8-3
0263-50-4387
</pre>

<%= image "img_3803" %>
<%= image "img_e3797" %>
<%= image "img_3799" %>
<%= image "img_e3800" %>
<%= image "img_e3801" %>
<%= image "img_3802" %>

松本市美術館。

<%= image "img_3806" %>
<%= image "img_3808" %>
<%= image "img_3810" %>
<%= image "img_3812" %>
<%= image "img_3814" %>
<%= image "img_3816" %>
<%= image "img_3817" %>
<%= image "img_3819" %>

お宿は標高2000mにある<a href="https://www.furusatokan.jp/">山本小屋ふる里館</a>。

<%= image "img_3820" %>
<%= image "img_3821" %>
<%= image "img_3826" %>
<%= image "img_8919" %>

散歩。

<%= image "img_3828" %>
<%= image "img_3829" %>
<%= image "img_3830" %>
<%= image "img_3832" %>
<%= image "img_3834" %>
<%= image "img_3837" %>
<%= image "img_3839" %>
<%= image "img_3840" %>
<%= image "img_3842" %>
<%= image "img_3844" %>
<%= image "img_3846" %>
<%= image "img_8921" %>
<%= image "img_3848" %>
<%= image "img_3853" %>
<%= image "img_3854" %>
<%= image "img_3856" %>
<%= image "img_3857" %>
<%= image "img_8922" %>
<%= image "img_8924" %>

ひたすら石積みをする蓮。

<%= image "img_3858" %>
<%= image "img_3859" %>
<%= image "img_3862" %>
<%= image "img_3866" %>

お父さんは一杯はじめる。

<%= image "img_8925" %>
<%= image "img_3871" %>

晩ごはん。

<%= image "img_e3874" %>
<%= image "img_e3873" %>
<%= image "img_3879" %>
<%= image "img_e3881" %>
<%= image "img_e3882" %>
<%= image "img_e3883" %>
<%= image "img_3885" %>
<%= image "img_e3887" %>
<%= image "img_e3889" %>
<%= image "img_3890" %>
<%= image "img_e3891" %>

量がえぐい。おにぎりをお持ち帰り。

<%= image "img_e3893" %>

夜のバスツアーで美ケ原高原。

<%= movie "hdimg_3896" %>
<%= image "img_3899" %>
<%= image "img_3902" %>
