---
title: 酒菜梟
---
近所の居酒屋で晩飯。

<pre class="address">
<a href="https://tabelog.com/nagano/A2005/A200502/20003360/">酒菜梟</a>
長野県大町市大町仁科町3099
0261-23-5559
</pre>

<%= image "img_8973" %>
<%= image "img_8968" %>
<%= image "img_8969" %>
<%= image "img_8970" %>
<%= image "img_8971" %>
<%= image "img_8972" %>

カーボローディングで張り切って頼みすぎて腹いっぱい。
食べ過ぎで気持ち悪くなって夜何度も目が覚める。失敗した。
