---
title: 湯俣温泉 その2
tags: Onsen, Hiking, Travel
---
起きたらめっちゃ快晴だった。星空見れなかったのが悔やまれる。

<%= image "img_9028" %>

朝ごはん。

<%= image "img_9029" %>
<%= image "img_9030" %>

ちゃちゃっと食って、伊藤新道に向かう人たちを尻目に下山開始。

まだ川が濁ってるし、水量が増えて渡渉の難易度が上がってる。

<%= image "img_9031" %>
<%= image "img_9032" %>
<%= image "img_9033" %>

帰りますよー。

<%= image "img_9034" %>
<%= image "img_9035" %>
<%= image "img_9036" %>
<%= image "img_9037" %>

川とダムが合流するエリア。

<%= image "img_9038" %>
<%= image "img_9039" %>

日曜だからかトンネルの明かりがついてなくて、真っ暗。
ヘッドランプ持ってきてよかった。

<%= image "img_9041" %>

高瀬ダムに戻ってきたらちょうどタクシーがいたので乗せてもらう。

<%= image "img_9043" %>

七倉山荘前の9:00のバスにちょうど間に合う。これ逃したら次のバスは6時間後なので危なかった。
乗り換えでドタバタしてたので帰りも写真なし。

信濃大町着。次のバスまで一時間待ちのため、[喫茶店](https://tabelog.com/nagano/A2005/A200502/20022223/)で時間潰す。
いやあ移動が大変だ。

<%= image "img_9044" %>

長野駅で天ぷらそば食って帰宅。

<pre class="address">
<a href="https://tabelog.com/nagano/A2001/A200101/20018750/">信州蕎麦の草笛</a>
長野県長野市南千歳1-22-6
050-5571-5729
</pre>

<%= image "img_9045" %>
<%= image "img_9046" %>
