---
title: 春秋ユラリ 恵比寿
tags: Dinner, Ebisu, Restaurant
---
恵比寿でお疲れ様会。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1303/A130302/13051136/">春秋ユラリ 恵比寿</a>
東京都渋谷区恵比寿南1-7-8 恵比寿サウスワン B1F
050-5868-4514
</pre>

<%= image "img_9084" %>
<%= image "img_9085" %>
<%= image "img_9086" %>
<%= image "img_9087" %>
<%= image "img_9088" %>
