---
title: じーちゃんばーちゃん来る その3
tags: Family, Yokohama, Food
---
<%= image "img_4238" %>
<%= image "img_4242" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14000453/">みかさ</a>
神奈川県横浜市中区宮川町2-23
045-231-0353
</pre>

<%= image "img_4248" %>
<%= image "img_4252" %>
<%= image "img_4254" %>
<%= image "img_4256" %>
<%= image "img_4260" %>
<%= image "img_4264" %>

<%= image "img_4270" %>
<%= image "img_4275" %>
