---
title: シアトル出張 その1
---
久しぶりのシアトル出張。入国審査は長蛇の列。

<%= image "img_9194" %>
<%= image "img_9195" %>

電車でダウンタウンへ移動。

<%= image "img_9196" %>
<%= image "img_9197" %>


今回のホテル。

<pre class="address">
<a href="https://www.hyatt.com/hyatt-regency/ja-JP/sears-hyatt-regency-seattle">Hyatt Regency Seattle</a>
808 Howell Street, Seattle, Washington, United States, 98101
+1 206 973 1234
</pre>

<%= image "img_9198" %>

現地の同僚たちと飲む。

<pre class="address">
<a href="https://www.elysianbrewing.com/locations/capitol-hill">Elysian Capitol Hill Brewery</a>
1221 Pike Street Seattle, WA 98122
</pre>

<%= image "img_9200" %>
<%= image "img_9201" %>
<%= image "img_9202" %>
<%= image "img_9203" %>
<%= image "img_9204" %>
<%= image "img_9205" %>
