---
title: シアトル出張 その3
tags: Seattle, business, Tourism
---
<a href="https://www.spaceneedle.com/">Space Needle</a>へ。

<%= image "img_9222" %>
<%= image "img_9223" %>
<%= image "img_9227" %>
<%= image "img_9229" %>
<%= image "img_9231" %>
<%= image "img_9232" %>
<%= image "img_9234" %>
<%= image "img_9236" %>
<%= image "img_9240" %>
<%= image "img_9244" %>
<%= image "img_9245" %>
<%= image "img_9246" %>
<%= image "img_9248" %>
<%= image "img_9249" %>
<%= image "img_9251" %>

<a href="https://www.pikeplacemarket.org/">Pike Place Market</a>へ移動。

<%= image "img_9252" %>
<%= image "img_9253" %>
<%= image "img_9254" %>
<%= image "img_9256" %>
<%= image "img_9257" %>
<%= image "img_9258" %>
<%= image "img_9259" %>

チームディナー。

<%= image "img_9261" %>
<%= image "img_9263" %>
<%= image "img_9264" %>
<%= image "img_9265" %>
<%= image "img_9266" %>

二次会。バーで飲んでたら酔っぱらいのおばさんに絡まれて踊らされる。

<%= image "img_9267" %>
<%= image "img_9268" %>
