---
title: 中華街
tags: Yokohama, Chinatown, Chinese Food
---
AWSサポートOB飲み会。

新錦江が潰れてた。店員さんは同じ人に見えるけど別の店名に変わってメニューが大幅に減っていた。
葱油餅作れるか聞いたら別に店から作って持ってきてくれた。

<%= image "20231102-1954_img0494" %>
<%= image "20231102-1933_img0493" %>
<%= image "img_9356" %>

店変更して四川料理。ここ美味しかった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14002188/">中華第一家 杜記</a>
神奈川県横浜市中区山下町138-14
050-5596-5609
</pre>

<%= image "20231102-1948_img3748" %>
<%= image "20231102-2006_img3768" %>
<%= image "20231102-2016_img3773" %>
<%= image "20231102-2016_img3778" %>
<%= image "20231102-2041_img3781" %>
<%= image "20231102-2045_img3790" %>
<%= image "20231102-2107_img3793" %>
<%= image "20231102-2117_img3799" %>

さらに鶴屋町のHUBへ。

<%= image "20231102-2306_img3828" %>
