---
title: 六方の滝
tags: trail, waterfall, yugawara
---
寒くなる前にもう一度六方の滝を見に行く。
今回は荷物多めにしてみた。

湯河原駅9:00着。駅前で水とシュークリーム買って幕山公園行きのバスに乗る。

<%= image "img_9358" %>
<%= image "img_9359" %>

<%= image "img_9360" %>
<%= image "img_9361" %>

昼前に六方の滝に到着。滝を見ながらラーメン食べるつもりだったんだけど、思ってた以上に平らな場所がないのでシュークリームだけ食べて移動。

<%= image "img_9362" %>
<%= image "img_9363" %>

下りの難所を超えたあたりで、油断して右足をひねる。

帰宅しようかと思ったけど、時間も早いし幕山山頂へ向かう。
途中でマルタイの棒ラーメンを作って食べる。

<%= image "img_9365" %>

幕山山頂。

<%= image "img_9366" %>

下山で右足がめっちゃ痛くなり、ゆっくり降りる。
少し薄暗くなったところで下山。

<%= image "img_9367" %>
<%= image "img_9368" %>

自転車で日帰り温泉へ。

その後、晩酌。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141002/14029395/">居酒屋にのみや</a>
神奈川県足柄下郡湯河原町土肥1-16-3
0465-63-9728
</pre>

<%= image "img_9369" %>
<%= image "img_9370" %>
<%= image "img_9371" %>
<%= image "img_9372" %>

捻挫は長引いて三週間ぐらい痛かった。
