---
title: 大阪 その2
tags: family, food, osaka
---
<%= image "img_4592" %>
<%= image "img_4593" %>
<%= image "img_4596" %>
<%= image "img_4597" %>
<%= image "img_4602" %>

父合流。ステーキ屋へ向かう途中で大通りを渡れず迷う。梅田素人か。

<pre class="address">
<a href="https://tabelog.com/osaka/A2701/A270101/27002686/">アウトバック ステーキハウス 梅田店</a>
大阪府大阪市北区堂島1-6-20 堂島アバンザ B1F
06-6457-7121
</pre>

<%= image "img_4613" %>

帰って三麻。蓮が牌を崩しまくる。雀荘なら殺されてるぞ。

<%= image "img_4617" %>
