---
title: KAMEスキー
tags: food, snowboard, travel
---
さかねさんと、かずさんと3人でスキーへ。ボーダーは僕だけ。
場所は宮城蔵王、さかねさんのお父さんの別荘に泊めてもらう。
手作りのログハウスです。
ブレアウィッチプロジェクト見た直後なので夜中の移動が恐かったのなんのって。

<%= image "dsc00187" %>
<%= image "dsc00189" %>
<%= image "dsc00192" %>
<%= image "dsc00178" %>
<%= image "dsc00180" %>
<%= image "dsc00183" %>
<%= image "dsc00174" %>
<%= image "dsc00139" %>
<%= image "dsc00141" %>
<%= image "dsc00142" %>
<%= image "dsc00145" %>

スキー/ボードの写真はなし。ヘタクソが持つとデジカメ壊す可能性大なので置いてきました。

初日の夜はキムチ鍋。デザートにイチゴ。

<%= image "dsc00133" %>
<%= image "dsc00134" %>
<%= image "dsc00146" %>
<%= image "dsc00147" %>
<%= image "dsc00153" %>
<%= image "dsc00163" %>
<%= image "dsc00172" %>

温泉桧風呂。よろしいなあ。ざっと2畳。広くてすばらしい。幸せ。

<%= image "dsc00213" %>
<%= image "dsc00214" %>
<%= image "dsc00220" %>
<%= image "dsc00194" %>

2日目、寄せ鍋だっけ。もう記憶が飛んでいる。

<%= image "dsc00198" %>
<%= image "dsc00200" %>
<%= image "dsc00202" %>
<%= image "dsc00206" %>
<%= image "dsc00209" %>

3日目の昼はピザ。

<pre class="address">
<a href="http://tomso-ya.tanu.org/">トムソーヤ</a>
宮城県刈田郡蔵王町遠刈田温泉七日原1-127
TEL 0224-34-2828
FAX 0224-34-1818
</pre>

ピザ絶品っす。日本以外含めて今まで食った中で一番うまい。
特にプレーンピザは是非食うべし。

<%= image "dsc00223" %>
<%= image "dsc00225" %>
<%= image "dsc00229" %>
<%= image "dsc00231" %>
<%= image "dsc00232" %>
<%= image "dsc00236" %>
<%= image "dsc00240" %>
<%= image "dsc00241" %>
<%= image "dsc00244" %>
<%= image "dsc00245" %>
<%= image "dsc00247" %>
<%= image "dsc00255" %>
<%= image "dsc00259" %>
<%= image "dsc00263" %>
<%= image "dsc00264" %>
<%= image "dsc00271" %>
<%= image "dsc00273" %>
<%= image "dsc00274" %>
<%= image "dsc00277" %>
<%= image "dsc00279" %>
<%= image "dsc00281" %>
<%= image "dsc00283" %>

夜は多助で牛タン定食。食ったねぇ。

<%= image "dsc00284" %>
<%= image "dsc00288" %>
<%= image "dsc00290" %>
<%= image "dsc00294" %>
<%= image "dsc00295" %>
<%= image "dsc00302" %>
