---
title: 食って飲んだ in 北陸 その1
tags: travel, food, Hokuriku
---
WIDE合宿が終って、そのままyuoのランクルに乗って北陸のyuo家に遊びに行く。
同乗者は同じく北陸に遊びにいく許さんと、JAISTの学生二人。

途中、サービスエリアによるたびに何故かそばを食す。
結局、北陸に着くまでに僕はそばを2杯とカルビ丼を1杯、yuoと許さんはそばを3杯食す。
最初のサービスエリアでそば食ってるときには、まさか休憩のたびにそば食うとは思わなかったので、写真記録はなし。しまった。

夕方、金沢に到着。そのまま、金沢港のそばにある宝生寿司へ。
道に迷った上に、砂浜でランクルのタイヤが埋まって苦労する。4駆のくせにい。

で、宝生寿しに到着。有名な寿司屋らしい。

<pre class="address">
<a href="http://www.housyouzushi.co.jp/">宝生寿し</a>
金沢・大野橋詰
267-0323
</pre>

寿司はあまり食わずに刺身と料理中心。
どれもこれも新鮮で最高です。とくにイカが絶品でした。
透き通ってうにょうにょ動いてます。
ああ、まんじゅう貝もうまかった。
海老は軟らかくて頭からバリバリ食えました。
ブリトロも脂乗ってて最高。
茶えびもうまうま。
つまり、全部うまかったの。
ちょっと鼻血でるお値段。許さんのオゴリで助かった。

<%= image "dsc00001" %>
<%= image "dsc00002" %>
<%= image "dsc00003" %>
<%= image "dsc00005" %>
<%= image "dsc00006" %>
<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>
<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00012" %>
<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00017" %>
<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dscf0030" %>

yuo家に到着。おお、かめだらけだ。
ということで、マニア探訪シリーズ最新版は、日本が誇るかめマニア、yuo家を御
紹介いたします。

<%= image "dsc00023" %>
<%= image "dsc00026" %>
<%= image "dsc00027" %>
<%= image "dsc00030" %>
<%= image "dsc00032" %>
<%= image "dsc00033" %>

デカがめぱばろってぃ君と記念撮影。重いぞ、ぱばろってぃ。

<%= image "dsc00039" %>
<%= image "dsc00040" %>
<%= image "dsc00048" %>
<%= image "dsc00049" %>
<%= image "dsc00050" %>
<%= image "dsc00055" %>
<%= image "dsc00057" %>

ぱばろってぃとMatrix地下鉄対決シーン。

<%= image "dscf0028" %>

ぜんまいで歩くかめ。意味わからん。その次はかめのオカリナ。これも謎。

<%= image "dsc00059" %>
<%= image "dsc00062" %>

甲羅が脱げるエロチックなかめと、ぶさいくなかめ。おまけのナルトのぬいぐるみ。
ラーメン博物館で買えるそうです。

<%= image "dsc00068" %>
<%= image "dsc00070" %>
<%= image "dsc00073" %>
<%= image "dsc00074" %>
<%= image "dsc00075" %>
<%= image "dsc00076" %>

ちっこいかめ。まだまだあるけど、飽きました。かめ多すぎ。

<%= image "dsc00084" %>

3日分の晩酌。とろとろシェリーに、バーボンに、20年もののポートワイン。
お約束で人ん家の本棚を漁ったあと、シェリーとバーボンを飲む。
シェリーうまいねえ。
今までティオペペぐらいしか飲んだことなかったんで、
こんなにうまいとは思わなかったよ。

<%= image "dsc00043" %>
<%= image "dsc00079" %>
<%= image "dsc00082" %>
