---
title: 食って飲んだ in 北陸 その2
tags: travel, food, Hokuriku
---
遅い起床。昼飯食いにそば屋「そば道楽 みたき」へ。

<pre class="address">
<a href="http://www.jalan.net/kanko/SPT_167968.html">そば道楽 みたき</a>
石川県石川郡鳥越村下吉谷甲436-1
07619-5-5820
</pre>

ここの親父さんはもともと金沢市内で「そば道場 みたき」を営んでいたんですが、
その店は息子に譲ってうまい水を求めて田舎に店を構えたそうです。
まさに道楽。そばを茹でるのも全部、一人でやってます。

昼間っから酒を飲む。萬歳楽の「甚」の4合瓶。
白山の堅豆腐とそば味噌の組合せ。酒が進みます。はい。

<%= image "dsc00087" %>
<%= image "dsc00125" %>
<%= image "dscf0032" %>
<%= image "dsc00109" %>
<%= image "dsc00110" %>
<%= image "dsc00090" %>
<%= image "dsc00093" %>
<%= image "dsc00095" %>
<%= image "dsc00097" %>

そば豆腐となめこのてんぷら、かき揚げ。どれも激ウマ。
酒にも合う合う。

<%= image "dsc00099" %>
<%= image "dsc00101" %>
<%= image "dsc00102" %>

ほろ酔いかげんでそばラウンドへ。うんまい。もりそば2杯を完食。

<%= image "dsc00104" %>
<%= image "dsc00106" %>
<%= image "dsc00108" %>

締めはそば湯。しゃーわせです。
窓の眺望も素晴らしい。

<%= image "dsc00119" %>
<%= image "dsc00118" %>
<%= image "dsc00111" %>
<%= image "dsc00113" %>
<%= image "dsc00115" %>
<%= image "dsc00121" %>
<%= image "dsc00123" %>

次は公共温泉でのんびり湯につかる。写真はなし。
風呂に入ったあとは、草餅のぜんざいを食べに、りんどうへ。
これもほどよい甘さ加減が素晴らしい。

<%= image "dsc00140" %>
<%= image "dsc00141" %>
<%= image "dsc00129" %>
<%= image "dsc00130" %>
<%= image "dsc00133" %>
<%= image "dsc00136" %>
<%= image "dsc00138" %>

で、いいかげん夕方になったんですが、腹減りません。当り前や。
本屋とかCD屋とか電気屋で時間つぶしたあと、
yanohiro密愛騒動の震源地「寿司与」へ。
写真はあんまりありません。だって、うまかったんだもーん。
あたしゃそんなに食べれませんでしたが、
yuoと許さんは食いまくり。別腹か？
味噌汁はサービス。
バッテラを2つ折詰めにしてもらって帰宅。

<%= image "dsc00153" %>
<%= image "dsc00151" %>
<%= image "dsc00143" %>
<%= image "dsc00144" %>
<%= image "dsc00145" %>
<%= image "dsc00149" %>
<%= image "dsc00146" %>

一瞬JAISTの研究室によったあと帰宅。20年もののポートワインを開ける。
はじめて飲みました。甘くて不思議な味ですね。
フルーツ系、特にイチゴが合ったかもしれない。
買っときゃよかった。
yuoからMPLSについて教授を受ける。

<%= image "dsc00155" %>
<%= image "dsc00156" %>
<%= image "dsc00159" %>

夜食にバッテラつまむ。
これもうめえ。奪い合い。3つ買っとけばよかった。
布団に入るなり速攻気絶。

<%= image "dsc00161" %>
<%= image "dsc00165" %>
