---
title: 実家で正月
---
実家。正月は子供が蓮一人だったんで、平和にすごしました。

<%= image "cimg3080" %>
<%= image "cimg3083" %>

明けて二日。姪と甥がやってくる。もう大騒ぎっすわ。

<%= image "cimg3092" %>
<%= image "cimg3097" %>
<%= image "cimg3093" %>
<%= image "cimg3096" %>
<%= image "cimg3098" %>
<%= movie "cimg3100" %>

夜は<a href="http://www.umai.co.jp/~niku/" onclick="return hs.expand(this)">なみかた</a>のラム肉でジンギスカン。

<%= image "cimg3101" %>
<%= image "cimg3102" %>

んで、三日。

<%= image "cimg3103" %>
<%= image "cimg3105" %>
<%= image "cimg3109" %>
<%= image "cimg3113" %>
<%= image "cimg3115" %>
<%= image "cimg3118" %>
<%= image "cimg3126" %>
<%= image "cimg3128" %>
<%= image "cimg3138" %>
<%= image "cimg3144" %>
<%= image "cimg3148" %>
<%= image "cimg3150" %>
