---
title: US出張 その3
tags: travel, business, food
---
地面凍ってたので、車移動は諦めて片道25分かけて歩いて目的地に向かう。
2回滑ってコケたけどPCは無事。

<%= image "cimg3171" %>
<%= image "cimg3173" %>

オフィスについたら誰もいねえ。そもそも玄関前の雪に足跡ついてない。
担当のやつの携帯に電話したら、少なくとも午前中はキャンパス全体がクローズだって。
しゃあないので、そのまま戻ってきました。まあ、いい運動になったけど。

昼過ぎよりテスト開始。
昨日、片道4時間かけて家に帰ったやつがいたりするので、今日は早めに終了。
昼にとけた地面が凍ってきたし。

晩飯は徒歩圏内のメキシコ料理屋見つけたので歩いてそこへ。
昨日は雪降ってたからあったかかったけど、今日は晴れたので寒いー。

<pre class="address">
<a href="http://www.aztecamex.com/">Azteca</a>
3040 148th Ave. NE, Redmond, WA 98052
Tel 425.881.8700
</pre>

Dos Equis Amberと、おつまみ。

<%= image "cimg3179" %>
<%= image "cimg3176" %>
<%= image "cimg3177" %>

Fajita Sampler。やっとマトモな飯にありつけた。

<%= image "cimg3186" %>
<%= image "cimg3187" %>
<%= image "cimg3185" %>
