---
title: JANOG 0日目
tags: janog, okinawa, food
---
那覇入りして早速現地調査。

<pre class="address">
<a href="http://www.jalan.net/kanko/SPT_153313.html">居酒屋野郎　りょう次</a>
沖縄県那覇市久茂地2-18-18
098-861-8583　
</pre>

<%= image "dsc07554" %>
<%= image "dsc07553" %>

<%= image "dsc07533" %>
<%= image "dsc07532" %>
<%= image "dsc07534" %>
<%= image "dsc07535" %>
<%= image "dsc07536" %>
<%= image "dsc07537" %>
<%= image "dsc07539" %>
<%= image "dsc07541" %>
<%= image "dsc07542" %>
<%= image "dsc07543" %>
<%= image "dsc07544" %>
<%= image "dsc07545" %>
<%= image "dsc07546" %>
<%= image "dsc07552" %>

<%= image "dsc07549" %>
<%= image "dsc07550" %>
