---
title: JANOG 1日目
tags: conference, janog, okinawa
---
今回、スポンサーなんでデモやってました。

<%= image "dsc07567" %>
<%= image "dsc07566" %>
<%= image "dsc07556" %>

懇親会。

<%= image "dsc07569" %>
<%= image "dsc07570" %>
<%= image "dsc07572" %>

さあ、二次会だ。

<pre class="address">
<a href="http://www.kai-web.co.jp/honten/index.html">回 本店</a>
那覇市 久茂地 3-9-6 MORIYAビル1F
098-868-6654
</pre>

<%= image "dsc07576" %>
<%= image "dsc07581" %>
<%= image "dsc07582" %>
<%= image "dsc07583" %>
<%= image "dsc07584" %>
<%= image "dsc07585" %>
<%= image "dsc07586" %>
<%= image "dsc07587" %>
<%= image "dsc07588" %>
<%= image "dsc07589" %>
<%= image "dsc07590" %>
<%= image "dsc07603" %>

<%= image "dsc07575" %>
<%= image "dsc07578" %>
<%= image "dsc07580" %>
<%= image "dsc07604" %>
<%= image "dsc07605" %>
<%= image "dsc07606" %>

沖縄ラーメン食ってホテルに戻る。

<%= image "dsc07618" %>
<%= image "dsc07615" %>
<%= image "dsc07616" %>
<%= image "dsc07617" %>
