---
title: 魚ひろ
tags: restaurant, food, sake
---
<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

白子の刺身が旬でとてもおいしゅうございました。
「仕込　一五八号」もおいちかった。

<%= image "cimg9159" %>
<%= image "cimg9161" %>
<%= image "cimg9162" %>
<%= image "cimg9163" %>
<%= image "cimg9165" %>
<%= image "cimg9166" %>
<%= image "cimg9168" %>
<%= image "cimg9171" %>

<%= image "cimg9160" %>
