---
title: RSA Conference参加 その1
tags: businesstrip, conference, san francisco
---
<a href="http://www.rsaconference.com/2007/US/">RSA Conference</a>に参加するためにUS出張。
今回は一人旅ではなくて池田さんといっしょ。

昼飯。Hawaian BBQ Ribs (mini)。

<pre class="address">
88 Rice Bowl Hawaiian BBQ
1901-E Junipero Serra Blvd.
Daly City, CA 94014
650-991-8863
</pre>

<%= image "cimg9182" %>
<%= image "cimg9184" %>

すげえ長いトレーラーが車庫入れ中。

<%= image "cimg9186" %>

RSA Conference会場へ。
今回は、Microsoftさんのパートナー・パビリオンで<a href="http://www.alaxala.com/jp/press/20070206.html">NAPの相互接続</a>のデモに参加しました。

<%= image "cimg9187" %>
<%= image "cimg9190" %>

一番上がアラクサラのスイッチ。

<%= image "cimg9193" %>

晩飯は定食系タイ飯屋。
複数人の旅だと飯をちゃんと食おうという気になるのでいいですな。

<%= image "cimg9208" %>
<%= image "cimg9205" %>
<%= image "cimg9204" %>
<%= image "cimg9200" %>
