---
title: 実家
tags: family, travel, food
---
大阪出張のついでに実家に顔だす。

<a href="http://www.rakuten.co.jp/fishtake/565659/">楽天</a>で海産物を買ってみた。

がすえび、かさごとぼたんえび、はたはた、のどぐろ。

<%= image "dsc00509" %>
<%= image "dsc00502" %>
<%= image "dsc00476" %>
<%= image "dsc00480" %>

<%= image "dsc00488" %>
<%= image "dsc00491" %>
<%= image "dsc00497" %>
<%= image "dsc00500" %>
<%= image "dsc00512" %>
<%= image "dsc00515" %>

ちょっとだけ早いけど嫁さんの誕生日。

<%= image "dsc00449" %>

後はスナップ写真いろいろ。

<%= image "dsc00451" %>
<%= image "dsc00456" %>
<%= image "dsc00459" %>
<%= image "dsc00466" %>
<%= image "dsc00521" %>
<%= image "dsc00525" %>
<%= image "dsc00535" %>
<%= movie "mov00455" %>
<%= movie "mov00464" %>
<%= movie "mov00468" %>
<%= movie "mov00469" %>
<%= movie "mov00534" %>

蓮が日本酒デビュー。

<%= image "dsc00529" %>

帰りの飛行機。まだ0才児なのにこれで4回目のフライト。
ぐずるので、お菓子食わせて黙らせる。

<%= image "dsc00544" %>
<%= movie "mov00543" %>
