---
title: 野毛山動物園
tags: zoo, outing, animals
---
蓮くん動物園デビュー。ねむねむでしたけど。

<pre class="address">
<a href="http://www2.nogeyama-zoo.org/">野毛山動物園</a>
横浜市西区老松町63-10
045-231-1307
</pre>

<%= image "dsc00884" %>
<%= image "dsc00886" %>

クツ履かせて立たせてみました。寄っかかるなちゅーの。

<%= image "dsc00889" %>
<%= image "dsc00893" %>

レッサーパンダ。結構見てた。

<%= image "dsc00899" %>
<%= image "dsc00898" %>

猿は気づかず。キリンも駄目。目の前にキリンいるのに、横の女の子ばっかり見てた。

<%= image "dsc00903" %>
<%= image "dsc00905" %>
<%= image "dsc00909" %>
<%= image "dsc00911" %>

ここら辺でもうねむねむ。

<%= image "dsc00914" %>
<%= image "dsc00917" %>

ペンギンはよく見てた。

<%= image "dsc00920" %>
<%= image "dsc00926" %>
<%= image "dsc00927" %>
