---
title: タイ料理
tags: restaurant, thai
---
久しぶりに辛いのが食いたくなったので、タイ料理屋へ。

<pre class="address">
<a href="http://g.pia.co.jp/shop/62122">ラチャスキタイ</a>
大阪市北区曽根崎2-5-30 ポン・ヌーボービル7F
06-6130-3737
</pre>

<%= image "dsc00943" %>
<%= image "dsc00952" %>
<%= image "dsc00941" %>
<%= image "dsc00944" %>
<%= image "dsc00946" %>
<%= image "dsc00947" %>
<%= image "dsc00949" %>
<%= image "dsc00951" %>
<%= image "dsc00955" %>
<%= image "dsc00956" %>

おまけ動画。

<%= movie "mov00940" %>
<%= movie "mov00957" %>
