---
title: 還暦旅行
---
大阪のじーちゃんばーちゃんが今年で60なので、一族で還暦旅行。淡路島です。

淡路SAで淡路島上陸記念撮影。

<%= image "dsc00978" %>
<%= image "dsc00964" %>
<%= image "dsc00972" %>
<%= image "dsc00983" %>
<%= image "dsc00992" %>

<pre class="address">
<a href="http://kobe-mari.maxs.jp/awaji_city/hanasajiki_data.htm">あわじ花さじき</a>
兵庫県淡路市東浦町楠本字上山2865-4
</pre>

小雨が降ってたので軽く一周する。

<%= image "dsc00997" %>
<%= image "dsc00999" %>
<%= image "dsc01003" %>
<%= image "dsc01009" %>
<%= image "dsc01010" %>
<%= image "dsc01013" %>
<%= image "dsc01016" %>
<%= image "dsc01017" %>
<%= image "dsc01018" %>
<%= image "dsc01021" %>
<%= image "dsc01022" %>
<%= image "dsc01024" %>
<%= image "cimg2390" %>
<%= image "cimg2391" %>
<%= movie "mov01008" %>

今回の旅館。

<pre class="address">
<a href="http://www.newawaji.com/HomePage/index.shtml">ホテルニューアワジ</a>
〒656-0023 兵庫県洲本市小路谷20
0799-23-2200
</pre>

<%= image "dsc01163" %>

廊下が全部絨毯ばりなので、蓮が嬉しそうにうろつき回る。

<%= image "dsc01035" %>
<%= image "dsc01037" %>
<%= image "dsc01043" %>

部屋。龍聖は浴衣似合うなあ。

<%= image "dsc01053" %>
<%= image "dsc01028" %>
<%= image "dsc01032" %>
<%= image "dsc01051" %>
<%= image "dsc01068" %>
<%= image "dsc01069" %>
<%= image "dsc01081" %>
<%= image "cimg2403" %>
<%= movie "mov01052" %>
<%= movie "mov01082" %>

宴会の前に記念撮影。

<%= image "dsc01084" %>
<%= image "dsc01089" %>
<%= image "dsc01085" %>
<%= image "dsc01087" %>
<%= image "dsc01098" %>
<%= image "dsc01103" %>
<%= image "dsc01115" %>
<%= image "pict0020" %>
<%= movie "mov01095" %>

食事は量より質重視コースにしました。

<%= image "dsc01117" %>
<%= image "dsc01120" %>
<%= image "dsc01122" %>
<%= image "dsc01124" %>
<%= image "dsc01126" %>
<%= image "dsc01129" %>
<%= image "dsc01130" %>
<%= image "dsc01133" %>
<%= image "dsc01135" %>
<%= image "dsc01136" %>
<%= image "dsc01138" %>
<%= image "dsc01139" %>
<%= image "dsc01140" %>
<%= image "dsc01142" %>
<%= image "dsc01144" %>
<%= image "dsc01147" %>

しかし、チビが3人もいると飯食うだけでも大変だ。

<%= image "pict0029" %>
<%= image "pict0032" %>
<%= movie "mov01123" %>
<%= movie "mov01148" %>
<%= movie "mov01152" %>

部屋で2次会。深夜まで飲んだり露天風呂行ったり。

<%= image "pict0043" %>
<%= image "pict0040" %>

翌朝。

<%= image "dsc01154" %>
<%= image "dsc01155" %>
<%= image "dsc01156" %>
<%= image "dsc01157" %>
<%= image "dsc01158" %>
<%= image "dsc01159" %>
<%= image "dsc01160" %>
<%= image "pict0047" %>
<%= image "pict0048" %>

ホテルの前で記念撮影。

<%= image "cimg2409" %>

<pre class="address">
<a href="http://www.englandhill.jp/">淡路ファームパークイングランドの丘</a>
兵庫県南あわじ市八木養宜上1401
</pre>

<%= image "cimg2410" %>
<%= image "cimg2416" %>
<%= image "cimg2417" %>
<%= image "cimg2419" %>
<%= image "dsc01174" %>
<%= image "dsc01178" %>
<%= image "dsc01200" %>
<%= image "dsc01213" %>

コアラが動いてるの初めて見た。

<%= image "dsc01181" %>
<%= image "dsc01193" %>
<%= image "dsc01197" %>
<%= movie "mov01194" %>
<%= movie "mov01198" %>

無人バス。コアラが運転してる。ハイテクだ。

<%= image "cimg2418" %>

昼飯。蓮にからいものはじめやってみた。
ナンにインドネシアチキンカレー(辛口)をつけて食わせてみると、普通に食いよる。
結構スパイス入ってたけど、翌日も胃腸大丈夫だったし、鍛えても大丈夫だな。
カレーの王子様みたいな軟弱なもんは絶対に食わせん。インド人や韓国人には負けんぞ。

<%= image "dsc01210" %>
<%= image "dsc01208" %>

以下、DVDカムのデータ。サイズがデカいので注意。

<%= movie "movie01" %>
<%= movie "movie02" %>
<%= movie "movie03" %>
<%= movie "movie04" %>
<%= movie "movie05" %>
<%= movie "movie06" %>
<%= movie "movie07" %>
<%= movie "movie08" %>
<%= movie "movie09" %>
<%= movie "movie10" %>
<%= movie "movie11" %>
<%= movie "movie12" %>
<%= movie "movie13" %>
<%= movie "movie14" %>
