---
title: 焼肉
---
<a href="http://www.yakiniquest.com/">YAKINIQUEST</a>を参考に行ってみた。

<pre class="address">
<a href="http://www.yakiniquest.com/000456.php">本家とらちゃん</a>
大阪市東城区東小橋3-15-4　中日ビル2F
TEL 06-6978-5329
</pre>

<%= image "dsc01242" %>
<%= image "dsc01243" %>
<%= image "dsc01245" %>
<%= image "dsc01247" %>
<%= image "dsc01250" %>
<%= image "dsc01251" %>
<%= image "dsc01253" %>
