---
title: 京懐石
tags: food, restaurant, kaiseki
---
撮影会の後にごはん。

<pre class="address">
<a href="http://www.minokichi.co.jp/profile/shop/shop_08.html">美濃吉 横浜ランドマークプラザ店 </a>
みなとみらい21 ランドマークプラザ4階
045-222-5420
</pre>

<%= image "dsc01303" %>
<%= image "dsc01336" %>
<%= image "dsc01328" %>
<%= image "dsc01330" %>

<%= image "dsc01309" %>
<%= image "dsc_0171" %>
<%= image "dsc01305" %>
<%= image "dsc01306" %>
<%= image "dsc01311" %>
<%= image "dsc01315" %>
<%= image "dsc01317" %>
<%= image "dsc_0202" %>
<%= image "dsc01321" %>
<%= image "dsc01325" %>
<%= image "dsc01343" %>
<%= image "dsc01346" %>
<%= image "dsc01348" %>
<%= image "dsc01352" %>
<%= image "dsc01312" %>

<%= image "dsc01342" %>
<%= image "dsc_0173" %>
<%= image "dsc_0176" %>
<%= image "dsc_0180" %>
<%= image "dsc_0210" %>
<%= image "dsc_0215" %>
<%= image "dsc_0239" %>
<%= image "dsc_0224" %>
<%= image "dsc_0236" %>
<%= image "dsc_0237" %>
<%= image "dsc_0242" %>
<%= image "dsc_0267" %>
<%= image "dsc_0274" %>
<%= image "dsc_0284" %>
