---
title: YBPで徒歩特訓
tags: baby, park, walk
---
今日も今日とて徒歩特訓。

<%= image "dsc01501" %>
<%= image "dsc01505" %>
<%= image "dsc01507" %>
<%= image "dsc01509" %>
<%= movie "mov01499" %>
<%= movie "mov01500" %>

鯉幟すげえ。

<%= image "dsc01517" %>
<%= image "dsc01524" %>
<%= image "dsc01540" %>

と、その時(初親子篇)。
<span class="fontsizeplus">「お、おい、あれ何だ？」「え？あれ、ひょっとして？」「あー。(蓮)」</span>

<span class="fontsizeplusplus">「インベーダーだ！」</span>「あー。(蓮)」

<%= image "dsc01528" %>

蓮が寝たのでスタバで休憩。

<%= image "dsc01557" %>
<%= image "dsc01550" %>
<%= image "dsc01553" %>

さらに公園をはしご。

<%= image "dsc01561" %>
<%= image "dsc01568" %>
<%= image "dsc01569" %>
<%= movie "mov01545" %>
<%= movie "mov01547" %>

今度は主婦のケツ狙い。

<%= movie "mov01546" %>
