---
title: ステーキ
---
幕張で肉を食らう。

<pre class="address">
<a href="http://www.outbacksteakhouse.co.jp/location/makuhari.html">アウトバック ステーキハウス</a>
千葉県千葉市美浜区ひび野1-8 メッセ アミューズ モール 1F
043-213-3256
</pre>

<%= image "dsc01754" %>
<%= image "dsc01755" %>
<%= image "dsc01756" %>
<%= image "dsc01757" %>
<%= image "dsc01760" %>
<%= image "dsc01764" %>
<%= image "dsc01769" %>
<%= image "dsc01771" %>
<%= image "dsc01772" %>

コース頼んじゃったせいで、にくにくにくーを堪能できませんでした。残念。
