---
title: 沖縄旅行 その1
---
義妹夫婦に会いに沖縄へ。

月曜火曜で一週間分の仕事終わらせて早朝の便で沖縄着。3時間ぐらいしか寝れてねえ。

ゆいレールのって首里まで迎えにきてもらって、妹夫婦の家で仮眠して、出発準備して、んで昼飯。

<pre class="address">
<a href="http://r.gnavi.co.jp/f049007/">健康食彩レストラン だいこんの花</a>
〒900-0003 沖縄県那覇市安謝620
098-861-8889
</pre>

<%= image "p1010292" %>
<%= image "p1010293" %>
<%= image "p1010294" %>
<%= image "p1010296" %>
<%= image "p1010301" %>
<%= image "p1010303" %>
<%= image "p1010316" %>
<%= image "p1010318" %>
<%= image "p1010320" %>
<%= image "p1010299" %>

周りの座敷含めてチビっ子どもが大騒ぎ。なんだかもうてんやわんや。

<%= image "p1010305" %>
<%= image "p1010306" %>
<%= image "p1010307" %>
<%= image "p1010308" %>
<%= image "p1010310" %>
<%= image "p1010311" %>
<%= image "p1010312" %>

例によって蓮の女好き炸裂。

<%= image "p1010313" %>
<%= image "p1010314" %>
