---
title: 沖縄旅行 その2
tags: beach, military-base, okinawa, travel
---
さて、義理の弟が在日米軍人なのでそのツテで、奥間にある米軍の保養地に来ました。
場所は<a href="http://maps.google.co.jp/maps?hl=ja&amp;t=h&amp;om=1&amp;ie=UTF8&amp;ll=26.741323,128.157175&amp;spn=0.003176,0.005568&amp;z=18">ココ</a>。JALリゾートのすぐ隣。
米軍関係者以外は利用できないので、日本人いねえ。
ここは日本か？って感じ。

部屋はこんな感じ。一白$45だそうで。もちろんper room。

<%= image "dsc01815" %>

窓から見た外の風景。

<%= image "dsc01816" %>
<%= image "dsc01817" %>
<%= image "dsc01818" %>
<%= image "dsc02058" %>
<%= image "dsc02059" %>

なんかもう敷地内のつくりが日本じゃないよね。

<%= image "dsc01829" %>
<%= image "dsc01830" %>

で、公園で蓮を遊ばせる。金髪の女の子をナンパ?。

<%= image "dsc01821" %>
<%= image "dsc01823" %>
<%= movie "mov01826" %>

すべり台。急すぎて焦った。

<%= movie "mov01824" %>
<%= movie "mov01827" %>
<%= movie "mov01825" %>

蓮を海に連れていく。波の音にビビってダディにしがみつく。

<%= image "dsc01831" %>
<%= image "dsc01835" %>
<%= image "dsc01840" %>
<%= image "dsc01841" %>

波打ち際で誘うと泣きながら来やんの。

<%= image "dsc01845" %>
<%= image "dsc01846" %>
<%= image "dsc01847" %>
<%= image "dsc01848" %>

親子で女の子観賞。

<%= image "dsc01850" %>

義弟のヴォンコさんと、蓮の従弟のマークさん。

<%= image "dsc01855" %>
<%= image "dsc01863" %>
<%= image "dsc01868" %>

海嫌いになると困るんで、今日はこの変にして砂遊び。

<%= image "dsc01873" %>

夕食はマイブラザー謹製蟹カレーとポテトサラダ。これが美味いんだ。貪り食う。
レシピ聞いたら、トリニダド(ヴォンコさんの生まれた国)のスパイスがいるそうで。

<%= image "dsc01879" %>
<%= image "dsc01884" %>
<%= image "dsc01886" %>
