---
title: 夕食
---
<pre class="address">
<a href="http://r.gnavi.co.jp/f325800/map1.htm">旬魚旬菜 海鮮 ばってん</a>
〒904-0115 沖縄県中頭郡北谷町美浜2-5-8
098-921-7270
</pre>

<%= image "dsc02173" %>
<%= image "dsc02174" %>
<%= image "dsc02182" %>
<%= image "dsc02183" %>
<%= image "dsc02184" %>
<%= image "dsc02185" %>
<%= image "dsc02186" %>
<%= image "dsc02188" %>
<%= image "dsc02189" %>
<%= image "dsc02196" %>
<%= image "dsc02199" %>
<%= image "dsc02200" %>
<%= image "dsc02203" %>

<%= image "p1010375" %>
<%= image "dsc02205" %>
<%= image "dsc02192" %>
<%= image "dsc02215" %>
<%= image "dsc02219" %>
<%= movie "mov02193" %>
<%= movie "mov02197" %>
<%= movie "mov02198" %>
<%= movie "mov02220" %>

沖縄は座敷のお店が多くて子連れにはいいねえ。
