---
title: 沖縄最終日
tags: okinawa, food, travel
---
部屋でウダウダ。

<%= image "dsc02222" %>
<%= image "dsc02265" %>
<%= image "dsc02233" %>

米軍基地の中のスーパーに買い物にいく。
ほんまアメリカのスーパーまんなやなあ。

<%= image "dsc02238" %>

昼ごはん。イタめし。

<%= image "dsc02287" %>
<%= image "dsc02291" %>
<%= image "dsc02292" %>
<%= image "dsc02293" %>
<%= image "dsc02294" %>
<%= image "dsc02295" %>
<%= image "dsc02297" %>
<%= image "dsc02299" %>
<%= image "dsc02300" %>
<%= image "dsc02302" %>
<%= image "dsc02303" %>
<%= image "dsc02269" %>
<%= image "dsc02282" %>
<%= image "dsc02301" %>

沖縄最後のごはんはタイ料理。

<pre class="address">
<a href="http://gourmet.yahoo.co.jp/0006609304/M0047010459/">カフェくるくま</a>
沖縄県南城市知念知念1190
098-949-1189
</pre>

<%= image "dsc02304" %>
<%= image "dsc02306" %>
<%= image "dsc02307" %>
<%= image "dsc02308" %>
<%= image "dsc02309" %>
<%= image "dsc02310" %>
<%= image "dsc02311" %>
<%= image "dsc02312" %>
<%= image "dsc02314" %>
<%= image "dsc02305" %>

ということで、インド料理、カレーライスに続いて、タイ料理を蓮に食わす。
例によって普通に食う。頼もしい。

<%= image "dsc02316" %>

お店の外で記念撮影。

<%= image "dsc02321" %>
<%= image "dsc02326" %>
<%= image "dsc02334" %>
<%= image "dsc02337" %>
<%= image "p1010428" %>
<%= image "p1010434" %>
<%= image "p1010436" %>
