---
title: 野毛山動物園
tags: zoo, animals, outing
---
野毛山動物園へ。

<pre class="address">
<a href="http://www2.nogeyama-zoo.org/">野毛山動物園</a>
横浜市西区老松町63-10
045-231-1307
</pre>

<%= image "dsc02943" %>
<%= image "dsc02944" %>
<%= image "dsc02948" %>
<%= image "dsc02952" %>
<%= image "dsc02954" %>
<%= image "dsc02965" %>

放し飼いのクジャクを発見。追いかける。

<%= image "dsc02957" %>
<%= image "dsc02961" %>
<%= image "dsc02963" %>

蓮はペンギン好きみたい。

<%= image "dsc02966" %>
<%= image "dsc02971" %>
<%= image "dsc02973" %>

ふれあい動物広場。にぎりつぶしそうで怖い。

<%= image "dsc02974" %>
<%= image "dsc02975" %>
<%= image "dsc02980" %>
<%= image "dsc02983" %>
<%= image "dsc02984" %>
<%= image "dsc02986" %>
<%= image "dsc02989" %>
<%= image "dsc02993" %>
<%= movie "mov02977" %>
<%= movie "mov02987" %>
<%= movie "mov02988" %>
<%= movie "mov02991" %>

結局、園内の坂を上がったり降りたりするのに夢中。動物園関係ないし。

<%= image "dsc02994" %>
<%= image "dsc02996" %>
<%= image "dsc02998" %>
<%= image "dsc03000" %>
<%= movie "mov02992" %>

おやつ。

<%= image "dsc03003" %>
