---
title: 大送迎会
tags: party, uohiro
---
大が飛ばされるので、送迎会という名目で飲み会。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

先付け、ホタルイカの一夜干し、牡蠣、秋刀魚、キンメ、アンキモ、舞茸の天ぷら、茸の土瓶蒸し、
ブリ大根、じゅんさい、ほどいも、ぎんなん、コロッケ、漬物、
たまごかけごはん(黄身に楊枝が刺さる)、酒盗茶漬け。

あいかわらずおいしゅうございました。

<%= image "dsc03468" %>
<%= image "dsc03462" %>
<%= image "dsc03461" %>
<%= image "dsc03466" %>
<%= image "dsc03470" %>
<%= image "dsc03472" %>
<%= image "dsc03473" %>
<%= image "dsc03476" %>
<%= image "dsc03477" %>
<%= image "dsc03483" %>
<%= image "dsc03485" %>
<%= image "dsc03488" %>
<%= image "dsc03490" %>
<%= image "dsc03494" %>
<%= image "dsc03499" %>
<%= image "dsc03500" %>
<%= image "dsc03504" %>
<%= image "dsc03507" %>
<%= image "dsc03511" %>
<%= image "dsc03512" %>

蓮が畳に座り込んで騒ぎもせず黙々と遊んでたので助かった。

<%= image "dsc03520" %>
<%= image "dsc03523" %>

二次会。

<%= image "dsc03529" %>
<%= image "dsc03531" %>
