---
title: 大阪
tags: business, food, osaka
---
出張の移動中に<a href="http://www.mtm.or.jp/">交通博物館</a>発見。今度、息子連れて来よう。

<%= image "dsc03623" %>

仕事の後は家族と飲み。
あさみさんと20年ぶりぐらいに会う。
で、あさみさんおすすめの店。

<pre class="address">
<a href="http://gourmet.suntory.co.jp/shop/0663512087/index.html">魚菜 鮮</a>
大阪市北区天神橋5丁目5-28
06-6351-2087
</pre>

魚が新鮮でなかなかにおいしゅうございました。
値段もお手頃。

<%= image "dsc03636" %>
<%= image "dsc03625" %>
<%= image "dsc03626" %>
<%= image "dsc03628" %>
<%= image "dsc03629" %>
<%= image "dsc03631" %>
<%= image "dsc03632" %>
<%= image "dsc03634" %>
<%= image "dsc03635" %>
