---
title: 角南家結婚式
---
<a href="http://www.hachimangu.or.jp/">鶴岡八幡宮</a>の舞殿にて結婚式。朝の9時スタート。早っ！

<%= image "dsc03639" %>
<%= image "dsc03637" %>

新郎新婦入場。

<%= movie "mov03644" %>
<%= movie "mov03645" %>
<%= image "dsc03641" %>
<%= image "dsc03649" %>
<%= image "dsc03650" %>

<%= image "dsc02001" %>
<%= image "dsc03653" %>
<%= image "dsc03662" %>
<%= image "dsc03666" %>
<%= image "dsc02012" %>
<%= image "dsc03671" %>
<%= image "dsc02010" %>
<%= image "dsc02018" %>

公開結婚式ですな。招待客より観光客の方が多い。

<%= image "dsc03670" %>
<%= image "dsc03657" %>

三三九度。

<%= image "dsc02006" %>
<%= movie "mov03663" %>

指輪交換。神前なのにやるのね。知らんかった。どうせなら、誓いのキスもすればいいのに。

<%= image "dsc02019" %>
<%= movie "mov03674" %>

<%= image "dsc03678" %>
<%= image "dsc03681" %>
<%= image "dsc03689" %>
<%= image "dsc03692" %>

関係ない人から写真撮られまくり。外人さんもいるし。

<%= image "dsc03693" %>

全員で退場。行き先の看板が暗示的ですな。

<%= image "dsc03694" %>
<%= image "dsc03696" %>

貸切バスで披露宴会場へ移動。新郎新婦も同乗。妙な風景。

<%= image "dsc03699" %>
<%= image "dsc03701" %>
<%= image "dsc03702" %>
<%= image "dsc03703" %>

披露宴会場はここ。

<pre class="address">
<a href="http://www.riviera-z.jp/index.html">シーサイドウェディング　リビエラ</a>
〒249-0008神奈川県逗子市小坪5-23-16
TEL.0467-23-2211
</pre>

<%= image "dsc03704" %>
<%= image "dsc03705" %>
<%= image "dsc03706" %>

披露宴スタート。

<%= image "dsc03707" %>
<%= image "dsc03725" %>
<%= image "dsc03728" %>
<%= image "dsc03739" %>
<%= image "dsc03742" %>
<%= image "dsc03743" %>
<%= image "dsc03744" %>
<%= image "dsc03745" %>
<%= image "dsc03747" %>
<%= image "dsc03759" %>
<%= image "dsc03777" %>

新郎新婦登場。角南って和服似合うな。後で出てくるタキシードは似合わんけど。

<%= image "dsc02033" %>
<%= image "dsc03719" %>
<%= image "dsc02039" %>
<%= image "dsc03724" %>
<%= image "dsc03727" %>
<%= image "dsc02044" %>
<%= image "dsc02045" %>

最初の挨拶。

<%= movie "mov03720" %>

ケーキカットとファーストバイト。

<%= image "dsc03741" %>
<%= image "dsc03734" %>
<%= image "dsc02048" %>
<%= image "dsc02050" %>

お色直しで退場。しばらくご歓談ください。

<%= image "dsc03738" %>
<%= image "dsc02053" %>
<%= image "dsc03746" %>

タキシードとドレス。

<%= image "dsc02056" %>
<%= image "dsc02060" %>
<%= image "dsc03754" %>
<%= image "dsc02071" %>

ガーデンでデザートとブーケ投げ。強風でめちゃめちゃ。

<%= image "dsc03763" %>
<%= image "dsc03775" %>
<%= image "dsc03764" %>
<%= image "dsc03766" %>
<%= image "dsc03768" %>
<%= image "dsc03769" %>
<%= image "dsc03770" %>
<%= image "dsc03772" %>

出席者からのメッセージと余興の風船割り。

<%= image "dsc03756" %>
<%= image "dsc03757" %>
<%= movie "mov03760" %>

新婦と新郎の挨拶。

<%= movie "mov02076" %>
<%= movie "mov02078" %>

二次会。新郎新婦が一時間遅れで現れる。

<%= movie "mov02079" %>

んで新婦が司会で仕切る。
ええ嫁さんや。

<%= image "dsc02080" %>
<%= image "dsc02090" %>
<%= image "cimg1368" %>
<%= image "cimg1370" %>
<%= image "cimg1373" %>
<%= image "cimg1374" %>
<%= image "cimg1376" %>
<%= image "cimg1379" %>
<%= movie "mov02087" %>

今日は一度も見せてもらなかったのでキスさせる。

<%= image "dsc02092" %>
<%= image "dsc02093" %>
<%= image "dsc02094" %>

3次会。

<%= image "cimg1384" %>
<%= image "cimg1387" %>

あたしゃお暇しましたが、宴は4次会まで続いたそうです。
土曜だったら朝までやってたな。

形式に囚われない、いい式でした。出席してて楽しかったです。お幸せに！
