---
title: 魚ひろ
tags: dinner, food, uohiro
---
締切り仕事の2/3が終わったので魚ひろへ。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

<%= image "dsc03833" %>
<%= image "dsc03835" %>
<%= image "dsc03838" %>
<%= image "dsc03840" %>
<%= image "dsc03845" %>
<%= image "dsc03846" %>
<%= image "dsc03849" %>
<%= image "dsc03852" %>
<%= image "dsc03857" %>
<%= image "dsc03858" %>
<%= image "dsc03861" %>
