---
title: NAP記者発表会
tags: microsoft, nap, work
---
これの裏方やってました。

<a href="http://www.microsoft.com/japan/presspass/detail.aspx?newsid=3283">Windows Server(R) 2008の「ネットワークアクセス保護機能」に関する実証プロジェクト「NAPパートナープログラム」を開始</a>

Web記事など。

- <a href="http://enterprise.watch.impress.co.jp/cda/topic/2007/11/28/11731.html">http://enterprise.watch.impress.co.jp/cda/topic/2007/11/28/11731.html</a>
- <a href="http://itpro.nikkeibp.co.jp/article/NEWS/20071128/288265/?ST=win">http://itpro.nikkeibp.co.jp/article/NEWS/20071128/288265/?ST=win</a>
- <a href="http://release.nikkei.co.jp/detail.cfm?relID=176115&amp;lindID=1">http://release.nikkei.co.jp/detail.cfm?relID=176115&amp;lindID=1</a>
- <a href="http://www.atmarkit.co.jp/news/200711/28/nap.html">http://www.atmarkit.co.jp/news/200711/28/nap.html</a>

<%= image "imgp0502" %>
<%= image "imgp0507" %>
<%= image "imgp0513" %>
<%= image "imgp0516" %>
<%= image "imgp0517" %>
<%= image "imgp0519" %>
<%= image "imgp0520" %>
<%= image "imgp0532" %>
<%= image "imgp0537" %>
<%= image "imgp0540" %>

<%= image "img_0355" %>
<%= image "imgp0505" %>
<%= image "imgp0506" %>

<a href="http://www.kccs.co.jp/products/lockdown_enforcer/index.html">Lockdown</a>のメカニズム分かってなかったので、色々教えてもらいました。
