---
title: 三渓園
tags: park, autumn, baby
---
紅葉を見に<a href="http://www.sankeien.or.jp/">三渓園</a>へ。

<%= image "dsc03914" %>
<%= image "dsc03916" %>
<%= image "dsc03919" %>
<%= image "dsc03922" %>

鯉に餌やって遊ぶ。

<%= image "dsc03927" %>
<%= movie "mov03930" %>

<%= image "dsc03932" %>
<%= image "dsc03936" %>

パン食いながら鴨鑑賞。鴨多すぎ。

<%= image "dsc03941" %>
<%= image "dsc03942" %>
<%= image "dsc03944" %>
<%= image "dsc03949" %>
<%= movie "mov03940" %>

<%= image "dsc03955" %>
<%= image "dsc03958" %>
<%= image "dsc03960" %>
<%= image "dsc03965" %>
<%= image "dsc03968" %>
<%= image "dsc03971" %>
<%= image "dsc03972" %>
<%= image "dsc03974" %>
<%= image "dsc03980" %>
<%= image "dsc03981" %>
<%= image "dsc03984" %>
<%= image "dsc03985" %>
<%= image "dsc03987" %>
<%= image "dsc03988" %>
<%= image "dsc03992" %>
<%= image "dsc03995" %>
<%= image "dsc03999" %>
<%= image "dsc04006" %>
<%= image "dsc04007" %>
<%= image "dsc04008" %>
<%= image "dsc04012" %>

ずんずん一人で進んでく。

<%= image "dsc04014" %>
<%= movie "mov04018" %>

で、案の定コケる。

<%= movie "mov04020" %>

<%= image "dsc04025" %>
<%= image "dsc04027" %>

猫と戯れる。

<%= image "dsc04032" %>
<%= movie "mov04035" %>
