---
title: 箱根旅行 その1
tags: family, hakone, travel
---
義妹夫婦と箱根に一泊旅行。
まずは小田原の鰻屋で昼飯。
蓮は爆睡。

<pre class="address">
松琴楼
</pre>

<%= image "dsc04173" %>
<%= image "dsc04169" %>
<%= image "dsc04163" %>
<%= image "dsc04167" %>
<%= image "dsc_0100" %>
<%= image "dsc_0102" %>
<%= image "dsc_0103" %>
<%= image "dsc_0105" %>
<%= image "dsc_0109" %>

お宿へ到着。
部屋食なのと、豆乳がメインの料理なんで(魚は食える)ベジタリアンでも楽しめるので、ここをチョイスしたそうです。

<pre class="address">
<a href="http://www.sengokuhara.com/">富士荘</a>
〒250-0631 神奈川県足柄下郡箱根町仙石原817
TEL 0460-84-8125
</pre>

<%= image "dsc04183" %>
<%= image "dsc04185" %>
<%= image "dsc04191" %>

風呂に入って晩ご飯。

<%= image "dsc04193" %>
<%= image "dsc04194" %>
<%= image "dsc04195" %>
<%= image "dsc04196" %>
<%= image "dsc04197" %>
<%= image "dsc04202" %>
<%= image "dsc04204" %>
<%= image "dsc04198" %>
<%= image "dsc04217" %>

「仲居さん、ビール追加で。」

<%= image "dsc04210" %>

従兄弟同士でけっこう仲良さげ。

<%= image "dsc04213" %>
<%= image "dsc04214" %>
<%= movie "mov04228" %>

持ち込みワインで二次会。交代でマッサージ受けたり風呂入ったりして就寝。

<%= image "dsc04221" %>
<%= image "dsc04224" %>
