---
title: わんぱくらんど
tags: odawara, park, playground
---
箱根に行く前にお墓参り。

<%= image "dsc_0037" %>
<%= image "dsc_0040" %>
<%= image "dsc_0049" %>
<%= image "dsc_0055" %>
<%= image "dsc_0058" %>

わんぱくらんどへ。

<pre class="address">
<a href="http://www.city.odawara.kanagawa.jp/public-i/park/wanpaku/">小田原こどもの森公園 わんぱくらんど</a>
神奈川県小田原市久野4377-1
0465-24-3189
</pre>

<%= image "dsc04105" %>
<%= image "dsc04108" %>
<%= image "dsc_0062" %>
<%= image "dsc_0065" %>
<%= image "dsc_0066" %>
<%= image "dsc_0067" %>

デカい滑り台発見。

<%= image "dsc04113" %>
<%= image "dsc04121" %>
<%= image "dsc_0075" %>
<%= image "dsc_0078" %>

この滑り台は一人で滑らそうとすると泣き出すので、一緒に滑る。ケツがきつい。

<%= image "dsc04126" %>
<%= image "dsc_0079" %>
<%= image "dsc_0081" %>
<%= image "dsc_0083" %>
<%= image "dsc_0085" %>
<%= image "dsc_0086" %>
<%= image "dsc04132" %>

馬、羊、ヤギ。

<%= image "dsc04133" %>
<%= image "dsc04146" %>
<%= image "dsc04153" %>
<%= image "dsc_0089" %>
<%= image "dsc_0094" %>

見鉄モード。

<%= image "dsc04157" %>
<%= image "dsc_0098" %>
<%= image "dsc_0099" %>
