---
title: 箱根 その2
tags: Adventure, Family, Hakone
---
娘さんと待ち合わせて[フォレストアドベンチャー箱根](https://fa-hakone.foret-aventure.jp)へ。

<%= image "img_6730" %>
<%= image "img_6731" %>
<%= image "img_6732" %>
<%= image "img_6733" %>
<%= image "img_6734" %>
<%= image "img_6736" %>
<%= image "img_6738" %>

輪っかに足がはまって抜けなくなる(2回)。めっちゃ体力消耗した。

部屋に戻って一風呂浴びながらビール！

<%= image "img_5330" %>

さっぱりしてから遅めの昼ごはん。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141001/14010732/">瓔珞</a>
神奈川県足柄下郡箱根町塔之沢84
0460-85-8878
</pre>

鯛茶漬けのコース。酒が進む進む。

<%= image "img_6748" %>
<%= image "img_6749" %>
<%= image "img_6751" %>
<%= image "img_5340" %>
<%= image "img_6756" %>
<%= image "img_6757" %>
<%= image "img_6758" %>
<%= image "img_6759" %>
<%= image "img_6760" %>
<%= image "img_6761" %>
<%= image "img_6762" %>

[竹一](http://www.take-ichi.com)で軽い晩御飯としてすり身団子を購入。美味い。

<%= image "img_6764" %>
