---
title: 輪行 霞ヶ浦
tags: Cycling, Kasumigaura, Kairakuen
---
夫婦だけで日帰り旅行。茨城県へ。
まずは梅を見に[偕楽園](https://ibaraki-kairakuen.jp)に来た。梅ほとんど咲いてねえ。

<%= image "img_9394" %>
<%= image "img_9396" %>
<%= image "img_9398" %>
<%= image "img_9399" %>
<%= image "img_9401" %>
<%= image "img_9402" %>
<%= image "img_9403" %>
<%= image "img_9406" %>
<%= image "img_9407" %>
<%= image "img_9410" %>
<%= image "img_9411" %>

土浦駅へ。
奥さんの自転車を借りようとしたら、めざましテレビの撮影していて、被写体になる。

<%= image "img_0324", ext: 'png' %>

霞ヶ浦へ移動。奥さんは電動自転車、私はブロンプトン。

<%= image "img_9412" %>
<%= image "img_9414" %>
<%= image "img_9416" %>
<%= image "img_9418" %>
<%= image "img_9420" %>
<%= image "img_9421" %>

いい運動になりました。
[湯楽の里](https://www.yurakirari.com/yura/tsuchiura/)へ。

<%= image "img_9422" %>

軽く飲む。

<pre class="address">
<a href="https://tabelog.com/ibaraki/A0802/A080202/8022081/">やきとんパンチ 土浦店</a>
茨城県土浦市大和町7-2
029-846-4637
</pre>

<%= image "img_9436" %>
<%= image "img_6803" %>
<%= image "img_6804" %>
<%= image "img_6805" %>
<%= image "img_6806" %>
<%= image "img_6807" %>
<%= image "img_6808" %>
<%= image "img_9437" %>

帰宅。今日の行程。

<%= image "img_e6801" %>
