---
title: 鎌倉ハイキング
tags: family, kamakura, trail
---
娘さん参戦2回目。

<%= image "img_6844" %>

<%= image "img_6845" %>
<%= image "img_6846" %>
<%= image "img_6847" %>
<%= image "img_6849" %>

おやつ。白玉がありえないぐらいデカい。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14066117/">もみじ茶屋 鎌倉小町通り</a>
神奈川県鎌倉市雪ノ下1-4-26 WELLHOUSE 1F
0467-60-5331
</pre>

<%= image "img_6853" %>
<%= image "img_6854" %>
<%= image "img_6855" %>
<%= image "img_6857" %>
