---
title: 誕生日ディナー
---
近所のイタリアンでお母さんの誕生日ディナー。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14078126/">イタリアンバル キクバル</a>
神奈川県横浜市保土ケ谷区帷子町2-67-1
045-442-5644
</pre>

<%= image "img_9526" %>
<%= image "img_9528" %>
<%= image "img_9533" %>
<%= image "img_9536" %>
<%= image "img_9537" %>

<%= image "img_6875" %>
<%= image "img_9534" %>
<%= image "img_6876" %>
<%= image "img_9538" %>
<%= image "img_9539" %>
<%= image "img_9540" %>
<%= image "img_9541" %>
