---
title: 野毛
tags: Noge, Drinking, Food
---
伝説のOB達とエンドレスで飲む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14004194/">第一亭</a>
神奈川県横浜市中区日ノ出町1-20
045-231-6137
</pre>

久しぶりにパタンを食べた。
しじみの醤油漬けは、ユッケと同じで禁止されたので、かなり昔からやめたそうです。残念。

<%= image "img_6880" %>
<%= image "img_6882" %>
<%= image "img_6883" %>
<%= image "img_6884" %>
<%= image "img_6887" %>
<%= image "img_6888" %>
<%= image "img_6889" %>

2軒目。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140104/14000049/">野毛おでん</a>
神奈川県横浜市中区吉田町2-6
045-251-3234
</pre>

<%= image "img_6890" %>

3軒目。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14014987/">Piano Bar Lyon</a>
神奈川県横浜市中区野毛町2-94
045-262-3110
</pre>

<%= image "img_6895" %>

4軒目はカラオケボックスで始発まで滞在して解散。
