---
title: 蓮 入学式
tags: ceremony, restaurant, school
---
高校の入学式。中高一貫なので卒業式と同じ会場。

<%= movie "hdimg_9616" %>
<%= image "img_9617" %>
<%= movie "hdimg_9619" %>
<%= movie "hdimg_9620" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14051360/">トラットリアビコローレヨコハマ</a>
神奈川県横浜市西区平沼1-40-17 モンテベルデ横浜 101
045-624-9443
</pre>

<%= image "img_9624" %>
<%= image "img_9622" %>
<%= image "img_9625" %>
<%= image "img_9627" %>
<%= image "img_9628" %>
