---
title: ヨシタケシンスケ展
tags: exhibition, museum, tokyo
---
[ヨシタケシンスケ展かもしれない](https://yoshitake-ten.exhibit.jp/)を観に世田谷文学館へ。

<%= image "img_9675" %>
<%= image "img_9678" %>
<%= image "img_9679" %>
<%= image "img_9680" %>
<%= image "img_9682" %>
<%= image "img_9683" %>
<%= image "img_9685" %>
<%= image "img_9686" %>
<%= image "img_9688" %>
<%= image "img_9694" %>
<%= image "img_9697" %>
<%= image "img_9698" %>
<%= image "img_9703" %>
<%= image "img_7186" %>
<%= image "img_9707" %>
<%= image "img_9708" %>
<%= image "img_9710" %>
<%= image "img_9712" %>
<%= image "img_9713" %>
<%= image "img_9714" %>
<%= image "img_9717" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1318/A131809/13022318/">エノテカ・クラフト（enoteca CRAFTO）</a>
東京都世田谷区南烏山5-25-4
03-3308-1511
</pre>

<%= image "img_9718" %>
<%= image "img_9719" %>
<%= image "img_9722" %>

[井の頭自然文化園](https://www.tokyo-zoo.net/zoo/ino/)。

<%= image "img_9723" %>
<%= image "img_9725" %>
<%= image "img_9726" %>
<%= image "img_9728" %>
