---
title: 誕生日肉
tags: birthday, steak, ebina
---
父50歳を祝うべく海老名のアウトバックへ。

<%= image "img_7194" %>
<%= image "img_9740" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1408/A140801/14001205/">アウトバック ステーキハウス 海老名店</a>
神奈川県海老名市中央1-18-1 ビナウォーク6番館 1F
050-5868-2713
</pre>

<%= image "img_9741" %>
<%= image "img_9743" %>
<%= image "img_9744" %>
<%= image "img_7196" %>
<%= image "img_9745" %>
<%= image "img_9746" %>
<%= image "img_9747" %>
<%= image "img_9750" %>
