---
title: 伊豆旅行 その3
---
朝ごはん。

<%= image "img_7313" %>

伊豆急下田駅に戻ってロープウェイに乗って寝姿山へ。

<%= image "img_7316" %>
<%= image "img_7317" %>
<%= image "img_7318" %>
<%= image "img_7319" %>
<%= image "img_7320" %>
<%= image "img_7321" %>
<%= image "img_7323" %>
<%= image "img_7324" %>
<%= image "img_7325" %>
<%= image "img_7326" %>
<%= image "img_7327" %>
<%= image "img_7329" %>
<%= image "img_7330" %>
<%= image "img_7333" %>
<%= image "img_7334" %>
<%= image "img_7336" %>
<%= image "img_7337" %>
<%= image "img_7338" %>

黒船見張り所。

<%= image "img_7339" %>
<%= image "img_7342" %>

ロープウェイで下山。

<%= image "img_7344" %>
<%= image "img_7345" %>

お昼ご飯。

<pre class="address">
<a href="https://tabelog.com/shizuoka/A2205/A220503/22021241/">にぎりの太助</a>
静岡県下田市東本郷1-2-1
0558-27-2700
</pre>

<%= image "img_7346" %>

[黒船の遊覧船](http://www.izu-kamori.jp/izu-cruise/)に乗る。

<%= image "img_7347" %>
<%= image "img_7350" %>
<%= image "img_7352" %>
<%= image "img_7354" %>
<%= image "img_7356" %>

カモメの餌があるんだけど、群がってくるのはトンビしかいない。
近づかれるとめっちゃ怖い。

<%= image "img_7359" %>
<%= movie "hdimg_7358" %>
<%= image "img_7360" %>
<%= image "img_7361" %>
<%= image "img_7362" %>
<%= image "img_7363" %>
<%= image "img_7364" %>
<%= image "img_7366" %>

時間的にサフィール踊り子が都合が良く、さらに前後2席だけ空いてたのでそれに乗って帰る。

<%= image "img_7368" %>
<%= image "img_7371" %>
<%= image "img_7372" %>
