---
title: チームラボボーダレス
---
8月一杯で終わるので、[チームラボボーダレス お台場](https://borderless.teamlab.art/jp/)に来た。

<%= image "img_7448" %>

<%= image "img_7375" %>
<%= image "img_7376" %>
<%= image "img_7377" %>
<%= image "img_7378" %>
<%= image "img_7381" %>
<%= image "img_7382" %>
<%= image "img_7384" %>
<%= movie "hdimg_7386" %>
<%= image "img_7388" %>
<%= movie "hdimg_7389" %>
<%= movie "hdimg_7390" %>

塗り絵した生物が動き出すアトラクション。速攻で喰われる。

<%= image "img_7391" %>
<%= image "img_7393" %>
<%= image "img_7395" %>
<%= image "img_7396" %>
<%= movie "hdimg_7397" %>

<%= image "img_7398" %>
<%= image "img_7400" %>
<%= image "img_7402" %>
<%= image "img_7404" %>
<%= image "img_7407" %>
<%= image "img_7408" %>
<%= image "img_7409" %>
<%= image "img_7410" %>
<%= image "img_7411" %>
<%= image "img_7412" %>
<%= image "img_7413" %>
<%= image "img_7416" %>
<%= image "img_7417" %>
<%= movie "hdimg_7419" %>
<%= image "img_7420" %>
<%= image "img_7421" %>
<%= image "img_7423" %>
<%= image "img_7424" %>
<%= image "img_7425" %>
<%= image "img_7427" %>
<%= image "img_7428" %>
<%= image "img_7431" %>
<%= image "img_7432" %>
<%= image "img_7433" %>
<%= image "img_7434" %>
<%= image "img_7438" %>
<%= image "img_7440" %>
<%= image "img_7441" %>
<%= image "img_7442" %>
<%= image "img_7443" %>
<%= image "img_7446" %>

天気予報見るとギリギリ雨降らなそうなので、テラス席のあるイタリアンへ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1313/A131306/13014370/">トラットリア マルーモ 台場店</a>
東京都港区台場1-6-1 デックス東京ビーチ シーサイドモール 5F
03-3599-6567
</pre>

<%= image "img_7449" %>
<%= image "img_7450" %>
<%= image "img_7452" %>
<%= image "img_7453" %>
<%= image "img_7454" %>
<%= image "img_7455" %>
<%= image "img_7456" %>
<%= image "img_7458" %>

砂浜に寄って帰る。娘よ、そのドラえもんはおかしい。

<%= image "img_7461" %>
<%= image "img_7462" %>
<%= image "img_7464" %>
