---
title: トラットリアビコローレヨコハマ
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14051360/">トラットリアビコローレヨコハマ</a>
神奈川県横浜市西区平沼1-40-17 モンテベルデ横浜 101
045-624-9443
</pre>

<%= image "img_e0019" %>
<%= image "img_e0020" %>
<%= image "img_e0021" %>
<%= image "img_e0022" %>
<%= image "img_e0024" %>
