---
title: 野毛
tags: dinner, family, yokohama
---
お母さんお疲れ会。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14004194/">第一亭</a>
神奈川県横浜市中区日ノ出町1-20
045-231-6137
</pre>

<%= image "img_7700" %>
<%= image "img_7701" %>
<%= image "img_7702" %>
<%= image "img_7704" %>
<%= image "img_7705" %>
<%= image "img_7706" %>
<%= image "img_7707" %>
<%= image "img_7709" %>
<%= image "img_7710" %>
<%= image "img_7711" %>
