---
title: 能登 その3
tags: noto, sightseeing, travel
---
気多大社まで散歩。

<%= image "img_7758" %>
<%= image "img_7759" %>
<%= image "img_7760" %>
<%= image "img_7761" %>

ランチに狙ってた店がことごとく臨時休業なのでパンケーキ。
[地域商品券](https://www.city.hakui.lg.jp/soshiki/sangyoukensetsubu/syoukoukankouka/12/11407.html)が使えてよかった。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1703/A170301/17009834/">カフェ アンジェ</a>
石川県羽咋市西釜屋町ノ56-5 カーパートナーズ
0767-23-4420
</pre>

<%= image "img_7762" %>
<%= image "img_7763" %>

晩飯。

<%= image "img_7764" %>
<%= image "img_7765" %>
<%= image "img_7766" %>
<%= image "img_7769" %>
<%= image "img_7772" %>
<%= image "img_7773" %>
<%= image "img_7775" %>
<%= image "img_7776" %>

<%= image "img_7767" %>
<%= image "img_7768" %>
<%= image "img_7770" %>
<%= image "img_7771" %>
<%= image "img_7774" %>

<%= image "img_7777" %>

真っ暗な道を海岸まで歩いて花火。

<%= image "img_7779" %>
<%= image "img_7780" %>
