---
title: 能登 その4
---
送迎バス(他に客いないので貸し切り)で、羽咋駅へ。
そこから歩いて[コスモアイル羽咋](http://www.hakui.ne.jp/ufo/)。

<%= image "img_7783" %>
<%= image "img_7784" %>
<%= image "img_7785" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1703/A170301/17001060/">多根さ 羽咋店</a>
石川県羽咋市東川原町五俵刈28-1
0767-22-7777
</pre>

<%= image "img_7786" %>
<%= image "img_7787" %>

電車で金沢駅へ移動して、[ひがし茶屋街](https://www.kanazawa-kankoukyoukai.or.jp/spot/detail_10212.html)。

<%= image "img_7788" %>
<%= image "img_7789" %>
<%= image "img_7790" %>

おやつ。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17006196/dtlphotolst/1/smp2/">森八 ひがし三番丁店</a>
石川県金沢市東山1-13-9
076-253-0887
</pre>

<%= image "img_7791" %>
<%= image "img_7792" %>
<%= image "img_7793" %>

<%= image "img_7795" %>

金沢駅で晩ごはん。黒百合を狙ってたがここも臨時休業。なんなんだ。
しょうがないのでお寿司。

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17001242/">廻る富山湾 すし玉 金沢駅店</a>
石川県金沢市木ノ新保町1-1 金沢百番街 くつろぎ館　2F
076-235-3238
</pre>

<%= image "img_7796" %>
<%= image "img_7797" %>
<%= image "img_7798" %>
<%= image "img_7799" %>

バスで金沢空港行って帰宅。

