---
title: 輪行 鶴見川 その3
---
鶴見川を遡るシリーズ。小田急の鶴川駅から再開。
とりあえず昼飯。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1327/A132701/13240442/">龍聖軒</a>
東京都町田市能ヶ谷2-24-26
042-860-5556
</pre>

<%= image "img_7808" %>
<%= image "img_7807" %>

その後、川沿いを走る。気温が高いし、なんか体調もイマイチで全然進まない。
道路越えるたびにバイク止めの隙間抜けないといけないし、川沿いの道がなくなり迂回したりあんまり楽しいルートではなかった。

<%= image "img_7809" %>
<%= image "img_7810" %>
<%= image "img_7811" %>
<%= image "img_7812" %>
<%= image "img_7813" %>

源流の泉到着。入れない。

<%= image "img_7814" %>
<%= image "img_7815" %>

多摩境の[日帰り温泉](https://morinoirodori.com/access/)で休憩してから、橋本駅に向かって帰宅。

<%= image "img_7817" %>
