---
title: イルマーレ
tags: dinner, italian, odawara
---
法事のあと、イタリア料理屋へ。

<%= image "img_7838" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14000188/">イルマーレ</a>
神奈川県小田原市早川1-11-6
0465-24-1510
</pre>

<%= image "img_7832" %>
<%= image "img_0082" %>
<%= image "img_0083" %>
<%= image "img_0086" %>
<%= image "img_7835" %>
<%= image "img_7836" %>
<%= image "img_7837" %>

<%= image "img_0085" %>
<%= image "img_7839" %>

