---
title: 箱根旅行 その1
tags: family, hakone, travel
---
大阪のじーちゃんばーちゃん参加。

まず昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1409/A140901/14011925/">うなぎ 松琴楼</a>
神奈川県小田原市栄町1-14-37
0465-22-4401
</pre>

<%= image "img_7863" %>
<%= image "img_0141" %>
<%= image "img_0143" %>

[千条の滝](https://www.hakonenavi.jp/spot/1198)。

<%= image "img_0145" %>
<%= image "img_0147" %>
<%= image "img_0149" %>
<%= image "img_0151" %>
<%= image "img_7865" %>
<%= image "img_7866" %>
<%= image "img_7867" %>
<%= image "img_0152" %>
<%= image "img_0155" %>
<%= image "img_0649" %>
<%= image "img_0161" %>
<%= image "img_0651" %>
<%= image "img_0164" %>
<%= image "img_0654" %>
<%= image "img_0660" %>
<%= image "img_0664" %>
<%= image "img_0167" %>
<%= image "img_0665" %>
<%= image "img_0170" %>
<%= image "img_0173" %>
<%= image "img_7869" %>

仙石すすき草原。

<%= image "img_0669" %>
<%= image "img_0670" %>
<%= image "img_7870" %>
<%= image "img_0671" %>
<%= image "img_7871" %>
<%= image "img_0175" %>
<%= image "img_0672" %>
<%= image "img_0179" %>
<%= image "img_0675" %>
<%= image "img_0182" %>
<%= image "img_0187" %>

今日の宿。

<pre class="address">
<a href="https://www.jp-tsumugi.com/">ぬくもりの宿 紬</a>
神奈川県足柄下郡箱根町強羅1322-23
</pre>

<%= image "img_0189" %>

晩ごはん。

<%= image "img_7873" %>
<%= image "img_0224" %>
<%= image "img_0678" %>
<%= image "img_0683" %>
<%= image "img_0684" %>
<%= image "img_0686" %>
<%= image "img_0690" %>
<%= image "img_0225" %>
<%= image "img_7874" %>
<%= image "img_7875" %>
<%= image "img_0227" %>
<%= image "img_0228" %>
<%= image "img_0693" %>

<%= image "img_e0230" %>
<%= image "img_0694" %>
<%= image "img_0695" %>
<%= image "img_7878" %>
<%= image "img_0231" %>
<%= image "img_0233" %>
<%= image "img_0699" %>
<%= image "img_0702" %>
