---
title: 箱根旅行 その2
tags: hakone, sightseeing, travel
---
<%= image "img_0258" %>
<%= image "img_0262" %>

朝ごはん。

<%= image "img_e0264" %>
<%= image "img_0267" %>
<%= image "img_0269" %>
<%= image "img_0270" %>

大涌谷へ。

<%= image "img_7879" %>
<%= image "img_7880" %>
<%= image "img_0273" %>
<%= image "img_0275" %>
<%= image "img_0277" %>
<%= image "img_7881" %>
<%= image "img_0281" %>
<%= image "img_0283" %>
<%= image "img_7882" %>
<%= image "img_7883" %>
<%= image "img_0288" %>
<%= image "img_0291" %>

[箱根寄木細工 からくり美術館](https://www.hakone.or.jp/931)。

<%= image "img_0295" %>
<%= image "img_0296" %>
<%= image "img_7884" %>
<%= image "img_7885" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141001/14002271/">サロン・ド・テ ロザージュ</a>
神奈川県足柄下郡箱根町元箱根80 山のホテル
0460-83-6321
</pre>

<%= image "img_7887" %>
<%= image "img_0300" %>
<%= image "img_0302" %>
<%= image "img_0303" %>
<%= image "img_0305" %>
<%= image "img_7888" %>
<%= image "img_7889" %>
<%= image "img_0308" %>
<%= image "img_0310" %>

[箱根芦ノ湖遊覧船](http://www.izuhakone.co.jp/hakone-yuransen/index.html/)。

<%= image "img_7890" %>
<%= image "img_0311" %>
<%= image "img_0315" %>
<%= image "img_0316" %>
<%= image "img_0318" %>
<%= image "img_0323" %>
<%= image "img_7891" %>
<%= image "img_0327" %>
<%= image "img_7893" %>
<%= image "img_7895" %>
<%= image "img_7898" %>
<%= image "img_7901" %>
<%= image "img_0336" %>
<%= image "img_0339" %>
<%= image "img_0343" %>
<%= image "img_0344" %>
<%= image "img_0345" %>
<%= image "img_0348" %>

小田原駅に戻って解散。
