---
title: 京都
tags: kyoto, sightseeing, travel
---
伏見稲荷。

<%= image "img_0355" %>
<%= image "img_0362" %>
<%= image "img_0363" %>
<%= image "img_0364" %>
<%= image "img_0366" %>
<%= image "img_0367" %>
<%= image "img_0369" %>
<%= image "img_0370" %>
<%= image "img_0375" %>
<%= image "img_0377" %>
<%= image "img_0385" %>
<%= image "img_0390" %>
<%= image "img_0394" %>
<%= image "img_0395" %>
<%= image "img_0397" %>
<%= image "img_0403" %>
<%= image "img_e0404" %>
<%= image "img_0411" %>

<pre class="address">
<a href="https://tabelog.com/kyoto/A2601/A260601/26003538/">手打うどん けんどん屋</a>
京都府京都市伏見区深草一ノ坪町41 パールハイツイナリ1F
075-641-1330
</pre>

<%= image "img_0416" %>
<%= image "img_0417" %>
<%= image "img_0419" %>

平等院と宇治上神社を[ガイド](https://www.kyoto-uji-kankou.or.jp/guide/)してもらう。

<%= image "img_0421" %>
<%= image "img_0423" %>
<%= image "img_e0424" %>
<%= image "img_e0426" %>
<%= image "img_0428" %>
<%= image "img_0432" %>
<%= image "img_0434" %>
<%= image "img_0436" %>

<%= image "img_0438" %>
<%= image "img_0439" %>

奈良へ移動。

<pre class="address">
<a href="https://tabelog.com/nara/A2901/A290101/29000023/">酒処 蔵</a>
奈良県奈良市光明院町16 1F
</pre>

<%= image "img_0442" %>
<%= image "img_0444" %>
<%= image "img_e0445" %>
<%= image "img_0446" %>
<%= image "img_0448" %>
<%= image "img_e0450" %>
<%= image "img_0455" %>

[Mountain Home Lodge in Deer Park](https://travel.rakuten.co.jp/HOTEL/179920/179920.html)

<%= image "img_0456" %>
<%= image "img_0458" %>
