---
title: 本郷
tags: sightseeing, tokyo, university
---
[湯島天満宮](https://www.city.bunkyo.lg.jp/b014/p003828.html)。

<%= image "img_0595" %>
<%= image "img_0597" %>
<%= image "img_0599" %>
<%= image "img_0600" %>
<%= image "img_0601" %>
<%= image "img_0602" %>

<pre class="address">
<a href="https://tabelog.com/tokyo/A1310/A131004/13188275/">La Fabbrica Della Pasta Quel</a>
東京都文京区本郷2-26-11 Kazenビル 1F
050-3150-8853
</pre>

<%= image "img_0604" %>
<%= image "img_0606" %>
<%= image "img_0607" %>
<%= image "img_0608" %>
<%= image "img_0609" %>
<%= image "img_0611" %>

東大生による学内見学会に参加。

<%= image "img_7920" %>
<%= image "img_0613" %>
