---
title: 日光旅行 その1
---
日光1号で日光へ。

<%= image "img_0616" %>
<%= image "img_0619" %>

[日光東照宮](https://www.toshogu.jp/)。

<%= image "img_7922" %>
<%= image "img_7923" %>
<%= image "img_7924" %>
<%= image "img_7925" %>
<%= image "img_0621" %>
<%= image "img_0622" %>
<%= image "img_0625" %>
<%= image "img_0628" %>
<%= image "img_0630" %>
<%= image "img_7926" %>
<%= image "img_0632" %>
<%= image "img_7928" %>
<%= image "img_0635" %>
<%= image "img_0636" %>
<%= image "img_7930" %>
<%= image "img_0641" %>
<%= image "img_0644" %>

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090301/9017600/">トラットリア ジッリ</a>
栃木県日光市松原町10-11
0288-28-9028
</pre>

<%= image "img_0645" %>
<%= image "img_0646" %>
<%= image "img_0647" %>
<%= image "img_7931" %>
<%= image "img_0648" %>
<%= image "img_5519" %>

<%= image "img_0652" %>
<%= image "img_0671" %>
<%= image "img_7933" %>
<%= image "img_7937" %>

お宿は[民宿 福冨士](https://fukufuji.jp/)。囲炉裏料理がうまい。

<%= image "img_0675" %>
<%= image "img_0677" %>
<%= image "img_7938" %>
<%= image "img_7939" %>
<%= image "img_7942" %>
<%= image "img_0678" %>
<%= image "img_0681" %>
<%= image "img_0682" %>
<%= image "img_0685" %>
<%= image "img_0689" %>
<%= image "img_0691" %>
<%= image "img_0692" %>
<%= image "img_7944" %>
<%= image "img_0695" %>
<%= image "img_0696" %>
<%= image "img_0699" %>
