---
draft: true
title: 日光旅行 その2
---
朝風呂。

<%= image "img_0700" %>

朝食。

<%= image "img_7945" %>
<%= image "img_7948" %>

<%= image "img_7949" %>

<%= image "img_0707" %>
<%= image "img_0708" %>
<%= image "img_0710" %>
<%= image "img_0711" %>
<%= image "img_0712" %>
<%= image "img_0717" %>
<%= image "img_0722" %>
<%= image "img_0725" %>
<%= image "img_0727" %>
<%= image "img_0732" %>
<%= image "img_0735" %>
<%= image "img_7950" %>
<%= image "img_0736" %>
<%= image "img_0737" %>
<%= image "img_0739" %>
<%= image "img_0741" %>
<%= image "img_0744" %>
<%= image "img_0748" %>

<%= image "img_0750" %>
<%= image "img_0752" %>
<%= image "img_7951" %>
<%= image "img_7952" %>
<%= image "img_0753" %>

<pre class="address">
<a href="https://tabelog.com/tochigi/A0903/A090301/9013679/">日光珈琲 御用邸通</a>
栃木県日光市本町3-13
0288-53-2335
</pre>

<%= image "img_0770" %>
<%= image "img_0771" %>
<%= image "img_0754" %>
<%= image "img_0756" %>
<%= image "img_0758" %>
<%= image "img_7953" %>
<%= image "img_0759" %>
<%= image "img_0762" %>
<%= image "img_7800" %>
<%= image "img_7954" %>
<%= image "img_0767" %>
