---
title: 昇進祝い焼鳥
tags: dinner, yakitori, celebration
---
昔のマネージャー x2に昇進祝いに焼鳥をおごっていただく。おいしゅうございました。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1307/A130703/13032192/">白金 酉玉 別館</a>
東京都渋谷区恵比寿2-28-7 秀マンション 1F
050-5872-0420
</pre>

<%= image "img_7961" %>
<%= image "img_7962" %>
<%= image "img_7963" %>
<%= image "img_7964" %>
<%= image "img_7965" %>
<%= image "img_7966" %>
<%= image "img_7967" %>
<%= image "img_7968" %>
<%= image "img_7969" %>
<%= image "img_7970" %>
<%= image "img_7971" %>
<%= image "img_7972" %>
<%= image "img_7973" %>
<%= image "img_7974" %>
<%= image "img_7975" %>
