---
title: 朝活
tags: kamakura, morning, trail
---
時差ボケを利用して久しぶりの朝活。ほぼ冬至なんで真っ暗。

<%= image "img_8045" %>

建長寺コースにする。参道怖い。

<%= image "img_8046" %>
<%= image "img_8047" %>
<%= image "img_8048" %>

<%= image "img_8049" %>
<%= image "img_8050" %>

覚学寺ルートで下山。

朝食食って職場へ移動。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140402/14078366/">朝ごはん</a>
神奈川県鎌倉市小町2-10-10
0467-23-0667
</pre>

<%= image "img_8052" %>
<%= image "img_8051" %>
