---
title: 第4回 かりごめカラオケ倶楽部 会合
tags: karaoke, friend, music
---
shin@kameの披露宴後開催された。

* 参加者: kazu, sumikawa, ne, k-sugyou, jinmei, itojun
* 店: 歌広場@吉祥寺
* 機種: セガカラ
* 時間: 2時間(580円/人・時、ドリンク込)
* 曲: (演奏順)
 - there will be love there (jinmei)
 - can you celebrate? (sumikawa)
 - 飯田線のバラード (itojun)
 - get back in love (kazu)
 - くじら12号 (sakane)
 - 01messenger 電子狂の詩 (jinmei)
 - 赤いスイートピー (sumikawa)
 - シングルアゲイン (kazu)
 - 5番街のマリー (sugyou)
 - 水色の雨 (itojun)
 - 愛のしるし (sugyou)
 - JAM (sakane)
 - promise (jinmei)
 - 夏色 (sumikawa+sakane)
 - 元気を出して (kazu)
 - スターライトセレナーデ (sumikawa)
 - 男はひとり道をゆく (itojun)
 - アリラン (itojun)
 - 空と君との間に (kazu)
 - 素足の女神 (jinmei)
 - 夜空ノムコウ (kazu+sumikawa)
 - 涙のbirthday (sakane)
 - LA-LA-LA (itojun)
 - 赤道小町ドキッ (sugyou)
 - 日本印度化計画 (sumikawa)
 - 君だけに (kazu)
 - Go!Go!Heaven (jinmei)
 - <a href="http://web.kyoto-inet.or.jp/people/yanazawa/tokusatsu/dainippon.html">愛国戦隊大日本</a> (itojun)
 - ちいさい秋 (sumikawa)

<%= image "dsc00289" %>
<%= image "dsc00290" %>
<%= image "dsc00293" %>
<%= image "dsc00295" %>
<%= image "dsc00296" %>
<%= image "dsc00297" %>
<%= image "dsc00299" %>
<%= image "dsc00301" %>
<%= image "dsc00303" %>
<%= image "dsc00304" %>
<%= image "dsc00306" %>
<%= image "dsc00307" %>
<%= image "dsc00309" %>
<%= image "dsc00310" %>
<%= image "dsc00312" %>
<%= image "dsc00313" %>

当初kazuより「結婚式で唱える歌縛り」が提案されるも、多数の反対により却下。
結果からみると、結婚式で唱えない歌が多いように思う。
