---
title: 井上さんの結婚式
---
他の人の写真こちら: <a href="http://www.jinmei.org/photo/19990124/">jinmei</a>、<a href="http://www.itojun.org/diary/19990124b/">itojun</a>、<a href="http://www.tanu.org/~sakane/diary/1999/0124/">sakane</a>

まずは結婚式に参加。小雨の中、国際キリスト教大学へ。
新郎を見た瞬間、何故か笑い出すKAMEメンバー一同。

<%= image "dsc00034" %>
<%= image "dsc00036" %>
<%= image "dsc00037" %>
<%= image "dsc00038" %>
<%= image "dsc00040" %>
<%= image "dsc00045" %>
<%= image "dsc00047" %>
<%= image "dsc00048" %>
<%= image "dsc00053" %>

教会の中。広い。パイプオルガンもデカい。

<%= image "dsc00058" %>
<%= image "dsc00062" %>
<%= image "dsc00068" %>

新郎新婦入場。毎度のことながら撮影ポイント悪し。

<%= image "dsc00073" %>
<%= image "dsc00074" %>
<%= image "dsc00078" %>
<%= image "dsc00082" %>

指輪の交換。うおー、誓いのキス見逃した。短すぎ。

<%= image "dsc00088" %>
<%= image "dsc00089" %>
<%= image "dsc00091" %>
<%= image "dsc00094" %>
<%= image "dsc00096" %>

退場。

<%= image "dsc00097" %>
<%= image "dsc00101" %>
<%= image "dsc00103" %>
<%= image "dsc00105" %>

参加者にご挨拶。プレゼント入れてる袋はT-ZONE。おーい。

<%= image "dsc00107" %>
<%= image "dsc00112" %>
<%= image "dsc00113" %>
<%= image "dsc00115" %>

親族で記念撮影。その後、参加者全員で記念撮影。

<%= image "dsc00119" %>
<%= image "dsc00124" %>
<%= image "dsc00127" %>

披露宴に参加するため、吉祥寺へ。
席次表を見るとKAMEメンバーの名前に妙に「一」の文字が多いことに気がつく。
聞いたら8人とも全員一人目でした。ううむ。

<%= image "dsc00128" %>
<%= image "dsc00129" %>
<%= image "dsc00130" %>
<%= image "dsc00131" %>
<%= image "dsc00133" %>
<%= image "dsc00134" %>

新郎新婦再び入場。

<%= image "dsc00138" %>
<%= image "dsc00139" %>
<%= image "dsc00141" %>
<%= image "dsc00142" %>
<%= image "dsc00143" %>

ここら辺から新郎が緊張しはじめる。

<%= image "dsc00146" %>
<%= image "dsc00147" %>
<%= image "dsc00148" %>
<%= image "dsc00153" %>
<%= image "dsc00155" %>
<%= image "dsc00157" %>
<%= image "dsc00158" %>
<%= image "dsc00160" %>
<%= image "dsc00162" %>
<%= image "dsc00163" %>

会場へ移動。必ずカメラ目線になるsakaneとitojun。

<%= image "dsc00164" %>
<%= image "dsc00165" %>
<%= image "dsc00166" %>
<%= image "dsc00167" %>
<%= image "dsc00168" %>
<%= image "dsc00169" %>
<%= image "dsc00170" %>
<%= image "dsc00171" %>
<%= image "dsc00173" %>
<%= image "dsc00175" %>

披露宴開始。新郎新婦入場。今度の撮影ポイントは比較的よし。

<%= image "dsc00178" %>
<%= image "dsc00179" %>
<%= image "dsc00180" %>
<%= image "dsc00182" %>

最初は新郎新婦がお互いを紹介する他己紹介と、スピーチ。

<%= image "dsc00183" %>
<%= image "dsc00186" %>
<%= image "dsc00188" %>
<%= image "dsc00190" %>

ウェディングケーキ入刀。

<%= image "dsc00193" %>
<%= image "dsc00194" %>
<%= image "dsc00198" %>
<%= image "dsc00200" %>

二つ目のスピーチ。スピーチはこれで打ち止め。素晴らしい。

<%= image "dsc00203" %>
<%= image "dsc00205" %>
<%= image "dsc00207" %>

新郎新婦はお色直しへ。食事がはじまる。ロゼのシャンパンと、海老。

<%= image "dsc00210" %>
<%= image "dsc00212" %>
<%= image "dsc00213" %>
<%= image "dsc00214" %>
<%= image "dsc00215" %>
<%= image "dsc00216" %>

伊勢海老、グリーンピースのスープ、パン。何か(忘れた)とさっきのロゼの
シャーベット。

<%= image "dsc00218" %>
<%= image "dsc00220" %>
<%= image "dsc00221" %>
<%= image "dsc00223" %>
<%= image "dsc00224" %>

再入場。キャンドルサービスの代わりに各テーブルを回ってご挨拶。素晴らしい。

<%= image "dsc00222" %>
<%= image "dsc00225" %>
<%= image "dsc00227" %>
<%= image "dsc00230" %>
<%= image "dsc00231" %>
<%= image "dsc00235" %>

メインのステーキ。花のサラダ。デザート。

<%= image "dsc00236" %>
<%= image "dsc00237" %>
<%= image "dsc00242" %>

余興開始。

<%= image "dsc00238" %>
<%= image "dsc00245" %>
<%= image "dsc00248" %>

余興のメイン。寮伝統の踊りだそうです。新郎も参加。

<%= image "dsc00249" %>
<%= image "dsc00252" %>
<%= image "dsc00253" %>
<%= image "dsc00256" %>
<%= image "dsc00257" %>
<%= image "dsc00258" %>
<%= image "dsc00259" %>
<%= image "dsc00260" %>
<%= image "dsc00263" %>
<%= image "dsc00264" %>
<%= image "dsc00265" %>
<%= image "dsc00266" %>
<%= image "dsc00267" %>
<%= image "dsc00268" %>
<%= image "dsc00269" %>
<%= image "dsc00270" %>
<%= image "dsc00271" %>
<%= image "dsc00272" %>
<%= image "dsc00273" %>
<%= image "dsc00274" %>

新郎が「バンザイ」を熱唱。

<%= image "dsc00275" %>
<%= image "dsc00279" %>
<%= image "dsc00282" %>

新郎のお父さんがご挨拶。お幸せに。

<%= image "dsc00283" %>
<%= image "dsc00286" %>
