---
title: 第44回 IETF @ ミネアポリス
tags: ietf, minneapolis, mall of america, travel, conference, us
---
なんか、ずーっと体調がすぐれない上に、やり残しの仕事が山積み。
さらに、ノートPCの液晶が壊れてすっかりやる気なし男くんになってしまいました。
したがって、写真もめちゃ少ないです。

他の人の日記はこちら(
<a href="http://www.itojun.org/diary/19990314-21/">itojunさん</a>、
jinmeiさん
<a href="http://www.jinmei.org/photo/19990314/">その1</a>/
<a href="http://www.jinmei.org/photo/19990315/">その2</a>/
<a href="http://www.jinmei.org/photo/19990316/">その3</a>/
<a href="http://www.jinmei.org/photo/19990317/">その4</a>/
<a href="http://www.jinmei.org/photo/19990318/">その5</a>/
<a href="http://www.jinmei.org/photo/19990319/">その6</a>/
<a href="http://www.jinmei.org/photo/19990321/">その7</a>
)

今回のホテル。

<pre class="address">
Minneapolis Hilton and Towers
1001 Marquette Avenue
Minneapolis, MN 55403 USA
Telephone: 1-612-376-1000
</pre>

<%= image "dsc00002" %>
<%= image "dsc00006" %>
<%= image "dsc00009" %>
<%= image "dsc00010" %>
<%= image "dsc00011" %>

窓からの眺め。

<%= image "dsc00075" %>
<%= image "dsc00078" %>

ホテルのロビー。

<%= image "dsc00014" %>
<%= image "dsc00015" %>
<%= image "dsc00016" %>
<%= image "dsc00017" %>
<%= image "dsc00018" %>
<%= image "dsc00020" %>

日曜日は偵察も兼ねて、<a href="http://www.mallofamerica.com/">モール・オブ・アメリカ</a>にお出かけ。

<%= image "dsc00021" %>
<%= image "dsc00022" %>
<%= image "dsc00023" %>
<%= image "dsc00024" %>
<%= image "dsc00025" %>

このモールは四角形をしていて、辺の部分が全部お店になっていて、中央が遊
園地になっています。通路の途中にテニスコートがあったりもする。

<%= image "dsc00026" %>
<%= image "dsc00027" %>
<%= image "dsc00028" %>
<%= image "dsc00071" %>
<%= image "dsc00073" %>

Rain Forest Cafeで昼飯。

<%= image "dsc00031" %>
<%= image "dsc00033" %>
<%= image "dsc00034" %>
<%= image "dsc00035" %>
<%= image "dsc00060" %>
<%= image "dsc00061" %>
<%= image "dsc00036" %>
<%= image "dsc00038" %>
<%= image "dsc00039" %>

予想はしてたが、smoosie激甘。

<%= image "dsc00057" %>
<%= image "dsc00042" %>
<%= image "dsc00044" %>
<%= image "dsc00051" %>

BBQ味のピザ。あまーい。

<%= image "dsc00063" %>
<%= image "dsc00064" %>
<%= image "dsc00065" %>
<%= image "dsc00068" %>
<%= image "dsc00069" %>

いきなり、飛んで帰着前日の金曜日。同じくモールへ。

<%= image "dsc00083" %>
<%= image "dsc00084" %>
<%= image "dsc00085" %>

腹減ったので昼飯、入口から一番近い
<a href="http://www.mallofamerica.com/about/media/dining.htm">レストラン</a>に入る。
このモールでたぶん一番偉そうな店だった。基本的に予約要らしい。
モールのくせに生意気だ(ジャイアニズム)。

<pre class="address">
NAPA VALLEY GRILLE
Mall of America
Bloomington, MN 55425
TEL 612 858 9934
FAX 612 858 9937
</pre>

<%= image "dsc00088" %>
<%= image "dsc00091" %>
<%= image "dsc00092" %>
<%= image "dsc00094" %>
<%= image "dsc00096" %>
<%= image "dsc00097" %>
<%= image "dsc00100" %>
<%= image "dsc00102" %>
<%= image "dsc00103" %>
<%= image "dsc00104" %>
<%= image "dsc00105" %>
<%= image "dsc00107" %>
<%= image "dsc00109" %>

Lego屋。<a href="http://www.legomindstorms.com/">MINDSTORM</a>たっぷりありました。

<%= image "dsc00110" %>
<%= image "dsc00111" %>

ぬいぐるみ屋、その他。この不気味な生き物のパジャマ、大人用あったら買うのに。

<%= image "dsc00112" %>
<%= image "dsc00113" %>
<%= image "dsc00114" %>

その後、<a href="http://www.compusa.com/">Comp USA</a>へ。
<a href="http://www.palm.com/products/palmv/index.html">Palm V</a>を発見するが、$450でめちゃ高いので買う気なし。

<%= image "dsc00116" %>
<%= image "dsc00117" %>
<%= image "dsc00118" %>

結局、何も買わず。

ホテルに戻った後、さかねさんとホテルそばのデパートへ。シャツとセーター
を買う。約$70。

帰り道でワイン屋に寄り、お土産を買う。
Yarra Yiering'93 (今、最も愛してるワイン。オーストラリア産) x 2、
Robert Mondavi Pinot Noir'95 x 2、
店の爺さんお勧めのCavernet Sauveniyon x 2。しめて、$200。重かった……。

帰りの飛行機は一時間遅れの上、到着はさらに30分遅れた。
席はエコノミーの後ろの方。
ぎゅうぎゅう詰めで、しかも通路側じゃない。めちゃ疲れた。
T-CAT行きのバスは道路渋滞で倍の2時間かかる。

T-CATからさらに一時間強ほど電車に乗らないといけないが、
本でも読まないと寝てしまいいそうでヤバい。
これ以上、睡眠取ると時差ボケが直らない。
でも手持ちの本は読み尽くしたので、T-CATの本屋へ行く。
閉まってた。はあ。
電車に乗り込んで荷物を置いてから、
ホームのキオクスを探すが水天宮駅にはキオスクなし。
仕方がないので、網棚をチェックするが何も見付からず。
たまたま乗り合わせた松平さんに一週間前の日経新聞をもらって時間を潰す。
何だかなあ。

やっと中央林間駅に着。一週間前の日経は網棚へ。
次に拾ったオヤジは途方に暮れることでしょう。
荷物(中身はPCとワインで95%)が重いのでタクシー使おうとしたら、
雨のせいでタクシー乗り場混んでた……。

夜の10時頃、やっと家に到着。
<a href="http://www.toshu.co.jp/">東秀</a>で餃子定食を食べる。
渡米前はダイエットしてたのに胃がすっかり拡張してるのに気づく。
今回は、すんげえ気をつけてのに……。アメリカ恐るべし。
荷物片付けて寝る。目が覚めたら、AM5:00。
うむ、時差ボケ。しゃーないので、2時間ぐらいゴロゴロしてもっかい寝る。
次に気がついたら、PM4:00。ぐあー、生活サイクル無茶苦茶やんけ。

祝日だけど、翌日から出張続きなのため、
新しいノートPCに
<a href="http://www.freebsd.org">FreeBSD</a>
インストールして壊れたPCから環境移さないといけない。
2時間ぐらいごそごそした後、原付で会社に向かう。めちゃ寒い。
誰や、日本は5月並の陽気で桜が咲きはじめたとか言ってるやつは。
途中、飯食って会社に着いたら、PM7:30。もう真っ暗。
AM1:00にやっと移行終了。
帰って来て風呂入ったり、洗濯したりするが、一向に眠たくならん。

頭がボーッとして仕事する気にもならんし、
ベッドに寝転びながらこのページ書きはじめた。現在、AM6:30。
今、寝たらめちゃくちゃヤバいな。そろそろ会社行くか……。
