---
title: WIDE合宿 @ 伊東
---
3日目に発表があったせいで、
<a href="http://www.mew.org/mgp/">まじぽ</a>
の準備に忙しく、
初日、2日目は写真撮ってませんでした。

発表のスライドは
<a href="/presentation/19990326-wide/">こちら</a>。

大会議室の風景。

<%= image "dsc00120" %>
<%= image "dsc00121" %>
<%= image "dsc00123" %>
<%= image "dsc00125" %>
<%= image "dsc00127" %>
<%= image "dsc00129" %>
<%= image "dsc00132" %>

3日目の晩ごはん。今までのWIDE合宿の飯の中では平均以上でした。

<%= image "dsc00133" %>
<%= image "dsc00134" %>
<%= image "dsc00135" %>
<%= image "dsc00136" %>
<%= image "dsc00137" %>
<%= image "dsc00138" %>
<%= image "dsc00139" %>
<%= image "dsc00141" %>
<%= image "dsc00142" %>
<%= image "dsc00143" %>
<%= image "dsc00144" %>
<%= image "dsc00145" %>
<%= image "dsc00146" %>

PM12時以降は酒飲みモード。

<%= image "dsc00148" %>
<%= image "dsc00149" %>
<%= image "dsc00151" %>
<%= image "dsc00152" %>
<%= image "dsc00153" %>
<%= image "dsc00155" %>
<%= image "dsc00156" %>
<%= image "dsc00158" %>

AM6時ごろ、さすがに閑散としてきました。江崎さん爆睡。

<%= image "dsc00159" %>
<%= image "dsc00160" %>
<%= image "dsc00161" %>
<%= image "dsc00162" %>

7:00から露天風呂が開くので我慢して起きてたら、
7:30からというのが後に判明。
ここで寝ると負けなので、意地はって起き続け。
結局、完徹。
3泊で何時間寝たんだ？ なんか記憶が飛んでるぞ。

帰りの電車もほとんど覚えてません。
乗り降り以外は熟睡してました。
よく帰れたもんだ。
