---
title: Charmes Chambertin を飲もう会
tags: food, friend, tasting, wine
---
ヴェール・ブテイユ主催の
Charmes Chambertin Grand Cru Domain Dujac
(ブルゴーニュは黄金の丘に属す
シュブレ・シャンベルタン村の
シャルム・シャンベルタンという特級畑で採れたピノノアールを
デュジャックという生産者が醸したワイン。長っ！)
を'91〜'95まで通して飲もうという会。
デュジャックは、
フィルターを使わない昔ながらのきめこまやかな造りをすることで有名。
参加者はsumikawa、kazu。

<%= image "dsc00091" %>
<%= image "dsc00026" %>

準備中。21:00開始に合わせて、'95は19:00、'94は20:00、'93は18:00、
'92は20:30、'91は21:00にデキャンタージュを始めたそうです。

kazu: ああ、僕もアヒル型のデキャンタグラスが欲しい。

<%= image "dsc00001" %>
<%= image "dsc00003" %>
<%= image "dsc00005" %>
<%= image "dsc00008" %>

メニュー。
'95から始めて、順に古いものを飲んで行く趣向。
料理もワインに合わせて決まっています。

<%= image "dsc00009" %>
<%= image "dsc00010" %>
<%= image "dsc00015" %>
<%= image "dsc00022" %>
<%= image "dsc00028" %>
<%= image "dsc00023" %>

<h3>1品目: '95と「かつおのカルパッチョ ういきょうの香り」</h3>

実際にはかつおは3切れです。1つ食ってから撮りました。

sumikawaの評価: 腐葉土の香り。
もしくは、アメリカの空港に着いた時に香るあの匂い。味は軽め。
かつおと合わせて飲むと、最初は水のように感じる。
後味は若干、魚の生臭さが強調される。

kazuの評価: 柔らかな、かれ草／花／木いちごを連想させる香り。
色はややオレンジがかった薄い紫色。きめこまやかな味。
恐れていた酸味はほとんど感じなかった。kazu のいち押し。
やっぱり、あまり火の通っていない魚には、ワインは合いませんなぁ。

<%= image "dsc00030" %>
<%= image "dsc00032" %>
<%= image "dsc00036" %>

<h3>2品目: '94と「木の子のミルフィーユ仕立て、カシスソース」</h3>

'94は湿度の高い年で酸味が多いため、同じく酸味のある料理と合わせたとのこと。

sumikawaの評価: ピノノワール本来の香りが一番強かった。
アルコール臭にも似た純粋で官能的な香りが、最も鼻の奥に届く。
確かに酸味は強いが嫌な味ではない。
Dujac本来の味ではないが好き。
木の子と合わせると、ワインの酸味は消え、料理の酸味だけが残る。

kazuの評価: 説明しづらいけど、鼻のおく深くで感じる香り。
雨の多い '94 らしく、少しどっしりしていて、酸味が強い。
カシスの酸味と合わさってちょっといやな組み合わせ。

<%= image "dsc00045" %>
<%= image "dsc00039" %>
<%= image "dsc00040" %>
<%= image "dsc00042" %>

<h3>3品目: '93と「手羽のてりやき ブテイユ風味」</h3>

すみません、撮る前に食っちまいました。
てりやきソースは9割が赤ワインで、醤油が少しと、
甘みとしてブルーベリージャムと黒砂糖を加えてあるとのこと。

sumikawaの評価: 香りは'95寄りの'94と'95の中間。
味は逆に'94に近い。'94、'95と比べて重厚と言えるが、むしろ野暮ったい感じ。
料理は、ソースの大半が日本料理では使わないものであるにも関わらず、
不思議と日本風の味。

kazuの評価: '93 〜 '91 は同じ傾向。柔らかなクリーム臭。
ほんの少し酸味があり、どっしりというより、少しやぼったいかな。

<%= image "dsc00052" %>
<%= image "dsc00055" %>
<%= image "dsc00049" %>

<h3>4品目: '92と「ポーチドエッグの赤ワインソース エスカルゴを添えて」</h3>

ポーチドエッグの作り方を聞きました。
酢と塩を入れた熱湯を沸騰しないように温度調整して、
卵をそろっと入れると崩れないので、
そのまま黄身が固まらない程度に温めるそうです。

sumikawaの評価: 最初に香った瞬間、なぜか靴のイメージが浮かぶ。
とにかく足元の香り。バランスの良い秀才タイプのワイン。
秀才だけあって印象は薄い。

kazuの評価: 土のような香りが強い。
酸味が強く味が際だっている。
この変から酔っぱっているので、うまく評価できません。
'91 の方が買いだと思いました。

<%= image "dsc00064" %>
<%= image "dsc00058" %>
<%= image "dsc00070" %>

<h3>5品目: '91と「鴨胸肉のロースト クラトレルのソース」</h3>

sumikawaの評価: '93、'92と系統は同じだが、最もエレガント。
バランスの良い、これぞブルゴーニュという味と香り。

kazuの評価: グラスが違うのは卑怯じゃないかなぁ。
鴨との組み合わせて味が甘くなるのも卑怯かも。
それらを差し引いても一番よいかな。

<%= image "dsc00088" %>
<%= image "dsc00072" %>
<%= image "dsc00075" %>

<h3>総評</h3>

<%= image "dsc00078" %>
<%= image "dsc00090" %>

sumikawaの評価: 
5本とも、なぜか一口ごとに味の印象が変わるため、評価するのが難しかった。
'94を除いてワインの系統は同じであり、
年を重ねるごとに洗練されていくのがよく分かる。
トータルのバランスではやはり'91が最も良かった。
しかし、'91だけブルゴーニュのグラスで出されたので、
評価が甘くなってる可能性はある。
'94だけ印象が異なるのは気候の悪い年だったからかもしれないが、
個人的には'94の儚げな香りが好きである。
しかし、食後に改めて全ワインを飲み比べてみると、
'94に魅力を感じなくなっていた。
やはり出来が悪かったのか、酔っ払って感じなくなったのか、
儚いだけに他のワインに埋もれてしまったのかは不明。
今度は、酔っ払う前に全部のワインを飲み比べてみたい。
料理は、その組み立てに不満が残る。
3品目以降は全て赤ワインベースの味付けでいささか単調であった。

kazu: 2 品目はデザートみたいで、食後の方がよかったね。
ポーチドエッグは今度挑戦しましょう。
バター風味でないエスカルゴははじめて。
