---
title: ドクター山本を祝う会
---
山本和彦氏、Ph.D取得記念祝賀会です。
例によって、ヴェールブテイユで催されました。

今回は、食事はビュッフェ形式にし、ワインも色んな種類を揃えて、好きなものを飲んでもらう趣向にしました。

参加メンバーは、kazu@iijlab、jun@wide、shigeya@foretune、hiroshi@tokyo-u、okabe@yokogawa、takei@jcsat、tshitara@juniper、rie@nic、yumi@ora、kenji@ora、atarashi@hitachi、hiromi@sfc、kato@wide、kei@sfcと僕。濃過ぎ。

<%= image "dsc00002" %>
<%= image "dsc00005" %>
<%= image "dsc00032" %>
<%= image "dsc00008" %>
<%= image "dsc00034" %>
<%= image "dsc00010" %>
<%= image "dsc00030" %>
<%= image "dsc00011" %>
<%= image "dsc00014" %>
<%= image "dsc00015" %>
<%= image "dsc00045" %>
<%= image "dsc00049" %>
<%= image "dsc00053" %>

ワインはこのようになっています。
すみかわの趣味を反映して、香り重視でいってもらいました。
ソムリエの吉村さん入魂の品。全部、めちゃウマでした。

* シャンパーニュ
 - '90 Delamotte Blanc de Blancs (le Mesnil s/ Oger) x 2
* ブルゴーニュ
 - '93 Lolnay, Grand Vin (Blain Gagnard)
 - '92 Gevrey Chambertin, Clos du Fonteny, Premier Cru (Domaine Bruno Clair)
 - '92 Clos de Vougeot, Grand Cru (Domaine Jean Grirot)
 - '87 Pommard Grands Eponots (Domaine Michel Gaunoux)
* New Worldのピノノワール
 - '93 Yarra Yering (Australia)
 - '96 Santa Barbara (America)
* ボルドー
 - '88 Ch Pichon Longueville Comtesse de Lalarde, Grand Cru (Paulillac)
 - '81 Ch Lynch Bages, Grand Cru (Pauillac)</li>

特に、Clos de VougeotとPommardが最高。ああ、しゃーわせ。

<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dsc00028" %>
<%= image "dsc00035" %>
<%= image "dsc00037" %>
<%= image "dsc00039" %>
<%= image "dsc00042" %>
<%= image "dsc00056" %>
<%= image "dsc00059" %>

記念講演会「ドクターと私」

<%= image "dsc00062" %>
<%= image "dsc00066" %>
<%= image "dsc00068" %>
<%= image "dsc00071" %>
<%= image "dsc00073" %>
<%= image "dsc00075" %>
<%= image "dsc00079" %>
<%= image "dsc00080" %>
<%= image "dsc00083" %>
<%= image "dsc00090" %>
<%= image "dsc00091" %>

最後に、ケーキのプレゼント。おめでとう！

<%= image "dsc00085" %>
<%= image "dsc00086" %>
<%= image "dsc00087" %>
<%= image "dsc00088" %>
