---
title: Interop 本番 1日目
tags: interop
---
ついに、N+I本番が始まりました。長かった……。

ここが、NOC(Network Operation Center)。
Interopのネットワークの中心になるところ。

<%= image "dsc00084" %>
<%= image "dsc00087" %>

NOCツアー中。インストラクターははぎどん。

<%= image "dsc00089" %>
<%= image "dsc00090" %>
<%= image "dsc00092" %>

続けざまにNOCツアーの手伝い。今度のインストラクターは林総務部長。

<%= image "dsc00095" %>

前置きの説明中暇なので、ブースを見下ろす。

<%= image "dsc00097" %>
<%= image "dsc00098" %>
<%= image "dsc00099" %>
<%= image "dsc00100" %>

今年の一番人気、<a href="http://www.fsas.co.jp/">Fsas</a>。

<%= image "dsc00101" %>

1UのラックマウントPC。

<%= image "dsc00103" %>
<%= image "dsc00104" %>

初日終了後はフランクスでNOCパーティー。

<%= image "dsc00107" %>
<%= image "dsc00108" %>
<%= image "dsc00109" %>
<%= image "dsc00110" %>
<%= image "dsc00111" %>
<%= image "dsc00113" %>
<%= image "dsc00114" %>
<%= image "dsc00115" %>
<%= image "dsc00116" %>
<%= image "dsc00118" %>
<%= image "dsc00119" %>
<%= image "dsc00121" %>
<%= image "dsc00123" %>
<%= image "dsc00126" %>

おまけのコンパニオンさん達。

<%= image "dsc00001" %>
<%= image "dsc00002" %>
<%= image "dsc00003" %>
<%= image "dsc00004" %>
<%= image "dsc00005" %>
<%= image "dsc00006" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>
<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00012" %>
<%= image "dsc00013" %>
<%= image "dsc00014" %>
<%= image "dsc00015" %>
<%= image "dsc00016" %>
<%= image "dsc00017" %>
<%= image "dsc00018" %>
<%= image "dsc00021" %>
<%= image "dsc00022" %>
<%= image "dsc00023" %>
<%= image "dsc00024" %>
<%= image "dsc00025" %>
