---
title: KNC会合
tags: sake, party, food
---
今日は、長津田かず邸にて、かりごめ日本酒クラブ会合。
参加者は、atarashi、kazu、takanori、rie、sumikawa。

<%= image "dsc00192" %>
<%= image "dsc00193" %>
<%= image "dsc00194" %>
<%= image "dsc00195" %>
<%= image "dsc00207" %>
<%= image "dsc00208" %>

まずは、暑かったので軽く<a href="http://www.samadams.com/">サミュエル・アダムス</a>。

<%= image "dsc00183" %>

今日の主人公。「常きげん」。詳細は<a href="http://www2.kame.net/~kazu/sake/kura/jokigen/">こちら</a>

<%= image "dsc00186" %>

肴は、寿司、甘海老の辛いの、塩辛、ナスの煮つけ x 2(かぶった)、
鯵のみりん干し、飛魚の干物、きんぴらゴボウ、かぼちゃの煮つけ、
漬物。

<%= image "dsc00184" %>
<%= image "dsc00185" %>
<%= image "dsc00187" %>
<%= image "dsc00188" %>
<%= image "dsc00189" %>
<%= image "dsc00191" %>
<%= image "dsc00197" %>
<%= image "dsc00204" %>
<%= image "dsc00205" %>
<%= image "dsc00206" %>

「常きげん」が空いたので、2本目「白山」。

<%= image "dsc00200" %>
<%= image "dsc00201" %>

なお、物語はこのように推移。

- 13:30 KNC開始。
- 16:00 rie 倒れる
- 16:30 atarashi、嫁さんに呼び出されて帰る。
- 17:00 男3人が倒れる。rie復活し、一人で飲み、その後帰る(別の飲み会らしい)
- 20:00 sumikawa、takanori復活
- 21:00 kazu 復活。そばとビールの買いだし、ローランギャロスを見ながら飲む
- 23:00 解散

ダウン者続出、またパーティ終了後に肴が余るなど問題が多かったため、
後日ML上で反省会が行われた。

-  おばちゃんにだまされてsumikawaが甘海老を300gも買った
-  ナスがかぶった。
-  量が多い上に、キンピラ、干物、塩辛等の濃い目の料理が集まった。
-  くるみ豆腐が行方不明。なんでや。

次回は完璧を目指しましょう。
