---
title: Free on Free
tags: opensource, event, thinkpad
---
今日は、FreeなOSのFreeなアプリケーションを
<a href="http://www.mew.org/~kazu/fof/">熱く語る会</a>です。
プログラム委員やってました。
150人の入場受付が、24時間で〆切。すごい。

<%= image "dsc00001" %>
<%= image "dsc00002" %>
<%= image "dsc00003" %>
<%= image "dsc00006" %>
<%= image "dsc00008" %>
<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00015" %>

打ち上げはテキサスというステーキ屋さん。

<%= image "dsc00017" %>
<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dsc00020" %>
<%= image "dsc00021" %>
<%= image "dsc00022" %>
<%= image "dsc00024" %>
<%= image "dsc00026" %>
<%= image "dsc00027" %>
<%= image "dsc00028" %>
<%= image "dsc00031" %>
<%= image "dsc00033" %>
<%= image "dsc00035" %>
<%= image "dsc00040" %>

2次会はyuo、ayayaと共に<a href="http://www.itojun.org/">itojun</a>家に行く。
初来訪！ 感激。
これがリビングです。ううむ、カオスだ。
itojun部屋はさらに輪をかけてカオスで大変感動いたしましたが、
本人の意向により、撮影禁止。

<%= image "dsc00043" %>
<%= image "dsc00049" %>

<a href="http://www.ibm.co.jp/pc/thinkpad/tp57094/tp57094a.html">ThinkPad 570</a>
をバラす。
MiniPCIのイーサボードが入手できたので、
モデムと入れ替えてようとしたんですが、
バラし方分からず断念。

<%= image "dsc00053" %>
<%= image "dsc00058" %>
<%= image "dsc00061" %>
<%= image "dsc00063" %>
<%= image "dsc00064" %>
<%= image "dsc00067" %>
<%= image "dsc00069" %>
<%= image "dsc00075" %>
