---
title: かめBBQ
tags: bbq, party, food
---
今日は、平日ですがかめメンバーで<a href="http://www.nojimas.com/akinori/bbq.html">BBQ</a>を開催。
みんな忙しすぎて土日じゃスケジュールあいません。

他の人の写真日記はこちら、
<a href="http://paradise.kame.net/v6proxy/diana2/shin/private/pictures/kame/kanzume/index_medium.html">shin</a>(リンク切れてます)、
<a href="http://www.tanu.org/~sakane/diary/19990705/">sakane</a>。

場所は
<a href="http://www.kt.moc.go.jp/kyoku/2_now/5_koen2/02_syouwa/syou_01.htm">国営昭和記念公園</a>。
遅刻しました。だって会社に行くより朝早いんだもーん。
しかも都内方面なので通勤ラッシュ。
左のおっさんが眠りこけて寄りかかってくる。重い。
正面のおばちゃん二人がやかましい。

そうこうしてるうちに会場着。
まずは下ごしらえ。ひたすらjinmeiさんが見守っているだけのさまに御注目。

<%= image "dsc00003" %>
<%= image "dsc00004" %>
<%= image "dsc00008" %>
<%= image "dsc00020" %>
<%= image "dsc00021" %>
<%= image "dsc00027" %>
<%= image "dsc00028" %>
<%= image "dsc00030" %>

今日はおまかせコースにしました。材料はあらかじめ準備されてます。
肉とやきそば、野菜と海産物が用意されてます。

<%= image "dsc00011" %>
<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00016" %>
<%= image "dsc00018" %>
<%= image "dsc00023" %>
<%= image "dsc00026" %>

そして、今日のメインイベンター。
世界で一番臭いスウェーデンの缶詰、シュールストレミング缶。
シュールステレミング缶については<a href="http://www.belbel.or.jp/users/takatsukasa/sur.htm">こちら</a>が参考になるかも。

<%= image "dsc00014" %>

かんぱーい。

<%= image "dsc00034" %>
<%= image "dsc00035" %>
<%= image "dsc00036" %>
<%= image "dsc00037" %>

食う。喰らう。貪る。

<%= image "dsc00031" %>
<%= image "dsc00040" %>
<%= image "dsc00042" %>
<%= image "dsc00045" %>
<%= image "dsc00047" %>
<%= image "dsc00049" %>
<%= image "dsc00052" %>

食べ終ったお遊戯タイム。
サッカーする人、漫画読む人、ハックする人、眠る人。

<%= image "dsc00053" %>
<%= image "dsc00054" %>
<%= image "dsc00055" %>
<%= image "dsc00056" %>
<%= image "dsc00058" %>
<%= image "dsc00059" %>
<%= image "dsc00062" %>

さて、メインイベントである缶詰タイムがやってきました。
まず、缶詰の蓋を開ける勇者を決定するために
僕が持参したTAKIというカードゲームをしました。
これはUNOの亜流で役カードの種類が一杯増えてるため、
ややこしいけど面白いです。

ルールは最初にあがった人が勝ち抜けで、勝者を抜いた残りの人間で再勝負。
それを繰り返して最後まで勝てなかった人が勇者となることとしました。
僕は、第一回戦で勝ったんですが、
kazuさんが、持ち主が勝つのは当り前だ、卑怯だと因縁をつけてきたので、
ハンデとして2勝しないといけないことになりました。

しかし、その後、ぜんぜん勝てず。
kazuさんは、やれルールが覚えられないだの、持ち主はずるいだの、
こんなゲームは不公平だの、
ブツブツ言ってたにも関わらず自分が勝った途端に、
手の平を返したように、敗者を責めたて余裕の表情。
全会一致でジャイアンと呼ぶことに決定。

結局、僕はあれから勝てず最後は井上さんとの一揆討ち。
かなり嫌な予感がしたんですが、好カードに恵まれて勝利！
助かった……。

缶開けの準備をする井上さん。
僕等は遠くに避難してました。

<%= image "dsc00065" %>
<%= image "dsc00067" %>
<%= image "dsc00068" %>
<%= image "dsc00072" %>

さて、この缶詰は生魚を缶の中で発酵させているため、
パンパンにふくれあがっています。
したがって、缶を開けた瞬間に臭い汁しぶきが飛びます。
逃げ出す井上さん。

遅れて異臭が漂ってくる。くっせー。
今までかいだことのない強烈な臭い。
3メートルぐらい離れてましたが、
ちょっと匂いが鼻に入っただけで吐きそうになります。

<%= image "dsc00078" %>
<%= image "dsc00079" %>
<%= image "dsc00080" %>
<%= image "dsc00081" %>
<%= image "dsc00082" %>

ちゃんと食べれる状態まで蓋を開けることが義務づけられています。

<%= image "dsc00083" %>

中身。腐った生魚が濁った水に浮いています。
水はそこの方から細かい泡が出てます。
ハエが匂いをかぎつけて缶の蓋に着地しましが、
そのまま死にました。人間は大丈夫なんか？

<%= image "dsc00092" %>
<%= image "dsc00093" %>
<%= image "dsc00096" %>
<%= image "dsc00105" %>
<%= image "dsc00106" %>

KAMEメンバーが順に挑戦。

味ですが、めちゃくちゃ塩辛い塩辛です。
味そのものにマズさは感じませんが、
腹の中から臭いが上がってくるのでそれがキツいです。

では、各メンバーがシュールステレミングを食べた模様です。
写真が多くなっちゃってますが、表情の移り変わりに注目してください。
まず、sakaneさん。塩辛いけど、あんまりマズさは感じなかったみたい。
かなり真剣に味わってます。

<%= image "dsc00097" %>
<%= image "dsc00099" %>
<%= image "dsc00100" %>
<%= image "dsc00101" %>
<%= image "dsc00111" %>
<%= image "dsc00112" %>
<%= image "dsc00113" %>
<%= image "dsc00114" %>
<%= image "dsc00115" %>
<%= image "dsc00116" %>
<%= image "dsc00117" %>
<%= image "dsc00118" %>
<%= image "dsc00119" %>
<%= image "dsc00120" %>
<%= image "dsc00121" %>

次はkazuさん、途中から笑みが消える。

<%= image "dsc00124" %>
<%= image "dsc00125" %>
<%= image "dsc00126" %>
<%= image "dsc00127" %>
<%= image "dsc00128" %>
<%= image "dsc00130" %>
<%= image "dsc00132" %>

さあ、次は誰だ？
ここで、kazuさんが「食べないやつはKAMEメンバーから除籍」発言。
ジャイアニズム爆発。

<%= image "dsc00134" %>

井上さんが挑戦。苦手のようです。

<%= image "dsc00135" %>
<%= image "dsc00136" %>
<%= image "dsc00138" %>
<%= image "dsc00139" %>
<%= image "dsc00140" %>

fujisawaさんと、sugyoさん。二人ともかなり冷静ですが、
内心はつらいに違いにない。

<%= image "dsc00142" %>
<%= image "dsc00144" %>
<%= image "dsc00146" %>
<%= image "dsc00147" %>

<%= image "dsc00148" %>
<%= image "dsc00149" %>
<%= image "dsc00150" %>
<%= image "dsc00154" %>

結局、全員一口しか食べなかったので、大量の食い残しが出ました。
ゴミ捨て場に捨てて、あたりに臭いが立ちこめたのを見届けて帰る。
絶対、明日異臭騒ぎになってると思うぞ。

<%= image "dsc00155" %>
<%= image "dsc00156" %>
<%= image "dsc00157" %>

2次会は居酒屋で平和に過ごす。
ゲップすると臭い。

<%= image "dsc00163" %>
<%= image "dsc00165" %>
<%= image "dsc00166" %>
<%= image "dsc00169" %>
<%= image "dsc00170" %>
<%= image "dsc00171" %>
<%= image "dsc00172" %>
<%= image "dsc00174" %>
<%= image "dsc00175" %>
<%= image "dsc00176" %>
<%= image "dsc00177" %>
<%= image "dsc00181" %>
