---
title: いろいろ その2
tags: incident, medical, thinkpad
---
スクーターでコケて怪我した。ショック。

朝、会社に向かうためスクーターで出発し、
最初の曲がり角でのこと。
左手は忘れ物の確認をするためポケットをまさぐっており、
右手だけで左折しようとしたところ、
少しスピードが出ていたため右手でブレーキをかけたら、
前輪がロックした。
折しも、早朝に雨が降っていたため路面は滑べりやすく、
右斜め前方にスクーターが浮き上がる。
右手一本でハンドルを握っていたためふんばりが効かず、
そのまま体は右斜め前方に飛ばされ、
ブレーキが解除されたのでスクーターは左側に進み壁に当たって倒れた。

宙に浮いた体はそのまま体の左半身を下にする形で落ち、
右膝と左の掌で着地。
右膝はちょっとすりむいただけだが、
左手は全体重を支えたので打撲になった。

スクーターの損傷は大したことはなく、キズがあちこちについたのと、
バックミラーのネジがゆるんだぐらい。
全体が歪んだせいか、高速時に車体が不安定になるが、
それはまあ気にしない事とする。

しかし、左のズボンのポケットに入れていたMDウォークマンと携帯電話は
ボロボロ。まず、MDウォークマンは落ちたときの衝撃をモロにうけて、
フトモモの形にヘコんでいた。
音は出てたけど、高速再生される状態、
また歪みのため、充電池とMDカセットが取り出せず。

携帯電話は宙に飛んだときにポケットから飛び出たため、
コンクリートにこすられてザラザラです。壊れはしませんでした。
あと、ストラップが半分切れてしまいました。

<%= image "dsc00233" %>
<%= image "dsc00236" %>

この時は、スノーボードで転んだぐらいの痛みしかなかったので、
湿布でもしとけば一日で直るだろうとそのまま会社に向かう。
遅刻したけどね。

会社についたあたりから左掌の痛みがちょっとずつ強くなってる気がしてくる。
気にせず仕事しようとして、
スクーターのメットインに放り込んであったらチャンドラの電源いれようとしたら、
ガーン……、電源入らず。また壊したか。
結構落ち込む。

しかし、
タイミングよくThinkPad 570が入荷したのでFreeBSD 3.2のインストールをはじめる。
運がいいんだか悪いんだか……。
左掌はほっとくと大した痛みはないんだけど、
物を持ったりすると痛みが走る。
キーボード打ってても痛い。呻きながらキー入力するが集中できず。
メールも文章が短い。

おやつの時間あたりから物を考える気がなくなってくる。
今日は脳味噌使わないことに決定。ひたすらインストールと環境設定にいそしむ。

PM 7:00前ぐらいにやっぱり病院に行った方がよかろうと帰る。
もうハンドル握れないので電車にした。
相模大野で病院探すがこの時間だと軒並閉まってる。
薬局で買った湿布と、買い置きの頭痛薬でその日はしのぐことにする。

家に帰ると宅急便の不在連絡票が来てた。
PM 8:00直前にヤマト運輸に電話すると持って来てくれるって。
ヤマト運輸は便利だねえ。

届いてたのはMP3ウォークマンのFresh Music。
コンパクトフラッシュが入るのと、DOSフォーマットなのが気にいって購入。
部屋で一人で呻きながら、荷物を開梱。
並行して、ThinkPadの環境設定の続きと、
<a href="/diary/1999/0705-pc/">昨日買った</a>
ファイルサーバ用PCにNetBSDをいれる作業を並行して行う。
調子悪いんだから、大人しくしてろよなあ……。

<%= image "dsc00193" %>
<%= image "dsc00197" %>
<%= image "dsc00198" %>
<%= image "dsc00201" %>
<%= image "dsc00203" %>
<%= image "dsc00205" %>
<%= image "dsc00208" %>

MP3ウォークマンは一瞬だけ動くがそれからウンともスンとも言わず。
不思議と初期不良によく当たる僕はもう慣れ切っているので、
動せず。今日だけで幾ら壊したかなあ。

後日、MP3ウォークマンは秋葉の店頭に持ち込んで交換。

CFは20MBのやつが手元にあったので、それでしばらく遊んでみましたが、
こりゃ駄目だわ。まだ当分使いものにならんね。
理由は簡単で、
MDウォークマンと比較した場合、
朝出かける前にMDカセットを適当に選んで持って行く手軽さがないから。
例えば、80MBのCFを持っていたとして、
手元のパソコンで持って行く曲を選んで放り込むのがすごく面倒くさい。
時間のない朝にそんなことできません。
80MBのCFの値段がMDカセット並になればいいんだけどね、
もしくは256MB〜512MBのCFができて、
一週間ぐらい曲を入れ換えないで済めばそれでいいけど。
いずれにしろ1〜2年は先の話でしょう。

また、MP3ウォークマンの優位点の一つに機械部品がないため
電池が保つとか、軽いとか、音飛びしないとかいうのがありますが、
MDウォークマンは市場がデカいだけあって最先端の技術で導入され、
40秒くらいバッファリングして音飛び防止してるし、
付属充電地だけで10時間ぐらい使えるし、
笑うぐらい小さくて軽いので、あまり優位点は感じません。

ということで、速攻で飽きて売っぱらってしまいました。

次の日、医者に行って診察を受ける。
レントゲンもチェックしてもらったけど、骨には異常なし。
単なる打撲のようです。
何ですぐに診察に来なかったのかと説教受けました。
打撲は直後はそんなに痛くなくて、6時間後ぐらいで痛みのピークになるので、
その時は痛くなくても必ず来いとのこと。はい、そうします。
塗り薬と、痛み止め3日分の処方せんを買いてもらう。

ところで、この文章を書いてるのは一か月後の8/4なんですが、
まだ鈍い痛み残ってます。みなさん、事故には気をつけましょう。
