---
title: DVD-515の改造
tags: dvd, hardware, region-free
---
イギリスの通信販売サイトから、
パイオニアDVD-515をマルチリージョン化する
<a href="http://www.techtronics.com/ttn/shop/50-dvd-player-pioneer-515.htm">改造キット</a>
(50ポンド、約1万円)を購入しました。
このキットはファームウェアを載せ換えが必要なので躊躇してましたが、
大阪の某計測機器メーカに勤める中学からの友人みゃ氏が遊びに来たので、
やってもらうことにしました。

作業内容は、

- 44pinのファームェアの載せ換え
- 8pinのMultiModチップのうち、足三本をハンダ付け

です。改造キット添付の説明書以外に、日本語で書かれた<a href="http://hometown.aol.com/dvd9/">改造情報</a>がありましたので、それを参考にしました。

まずは、蓋を開けたとこ。左下のチップが問題のファームウェアです。
ハンダごても手持ちのものは不安なので、わざわざ持って来てもらいました。
6時の新幹線に乗る前に会社に寄って取って来てくれました。感謝！

<%= image "dsc00003" %>
<%= image "dsc00012" %>
<%= image "dsc00015" %>
<%= image "dsc00018" %>
<%= image "dsc00022" %>
<%= image "dsc00025" %>

チップのはがし方には、二通りのやり方があります。

- 足を一本ずつをハンダごてで温めながら、ピンセットではがして行く
- 二本のハンダごとですべての足を温めて、ひっこ抜く

前者は確実ですが、時間がかかるのと力のかけ具合によってよっては、
足をはがすときに基盤の線を一緒にはがしてしまう危険性があります。
後者には、手早くやらないと熱で基盤を痛めてしまったり、
チップをはがすときに手際が悪いとハンダが周りに飛び散ったりします。
自信がないときは、マスキングするという方法もあります。
また、足と足の間隔が広すぎたり、チップが長すぎると後者の方法は使えません。

今回は後者の方法を採用しました。

まず、片方の列にハンダを載せて、足がすべてつながるようにする。
これで、すべての足が同時に温まるのではがれるようになります。

<%= image "dsc00034" %>
<%= image "dsc00035" %>
<%= image "dsc00036" %>

しかし、ここですみかわ手持ちのハンダを使って失敗しました。
このハンダは実は電源ケーブルや端子用で、さらに古くて酸化してるため、
ハンダのノリが大変悪く、こういう作業には向いていません。
本当はこんなにハンダを盛る必要はないんだけど、
うまくいかなくてハンダを足してるうちに山盛りになってしまいました。

仕方がないのでみゃ持参にハンダをつけ足して何とかノリを回復させました。
ハンダは少ししか持って来てなかったので大変厳しい戦いになってきました。
また、何度も何度もハンダを温めいるため、基盤に影響が出ないか
不安になってきました。

<%= image "dsc00043" %>

反対側はマトモなハンダを使ってます。
少量で充分でした。

<%= image "dsc00050" %>
<%= image "dsc00051" %>
<%= image "dsc00057" %>

二本のハンダで両側の足の上を滑べらせて全体を温めます。
そして、足がすべて浮き上がった瞬間にエイヤっと引っこ抜きます。

<%= image "dsc00066" %>
<%= image "dsc00067" %>

左上だけくっついたままですが、
もうここまでくれば温めながらピンセットで引っ張るだけ。

<%= image "dsc00076" %>
<%= image "dsc00080" %>

飛び散ったハンダのカスをピンセットで丹念に除去します。
これが残ってるとショートする可能性があります。
また、はがすときに使ったハンダを吸い取り線で除去します。

<%= image "dsc00084" %>
<%= image "dsc00089" %>
<%= image "dsc00094" %>

購入した改造済ファームウェアを載せます。
慎重に位置合わせしないとズレてしまうので注意。
まず、4隅をハンダで固定します。
そして、少量のハンダを載せつつ、足の上にハンダを滑べらせるだけで、
すべての足がハンダづけされます。
ハンダの量が必要最小限であれば、
表面張力のおかげで足と足の間がブリッジされることもありません。

<%= image "dsc00105" %>
<%= image "dsc00106" %>
<%= image "dsc00109" %>

テスターを使ってすべての足がきちんとハンダ付けされているかチェック。
導通してると音が出るタイプのテスターがあると便利。
若干怪しかったので、さらにハンダを足す。

<%= image "dsc00118" %>
<%= image "dsc00119" %>
<%= image "dsc00129" %>
<%= image "dsc00134" %>
<%= image "dsc00136" %>
<%= image "dsc00144" %>

次は、MultiModチップの接続。
8pinのうち使わない5pinは邪魔なのでニッパーで切ってしまう。
このチップは空中に浮いたままなので、足が出てると危険です。

<%= image "dsc00153" %>
<%= image "dsc00156" %>
<%= image "dsc00158" %>

MultiModチップのハンダづけ、3本の足のうち、2本は基盤直結。
1本は遠いのでジャンパ線を使いましたが、これも大阪から持って来てくれました。
このジャンパ線は一定の熱で融ける特殊な皮膜で覆われており、
被覆をめくらなくてもハンダづけできるという利点があります。
ジャンパ線は細いので被覆をめくるのが難しいですが、これなら楽チン。

<%= image "dsc00160" %>
<%= image "dsc00171" %>
<%= image "dsc00167" %>

このジャンパ線の接続に意外と手間取る。
ここら辺の手際の悪さがまだまだ素人だそうですが、僕から見たら充分玄人。

<%= image "dsc00175" %>
<%= image "dsc00177" %>
<%= image "dsc00182" %>
<%= image "dsc00190" %>

こっちもテスターでチェックして完成。
しかし、電源をいれると「Flash」の文字が出る。
一瞬、ビビるが説明書によるとファームウェアのハンダづけが甘いと表示されるらしい、
もう一度バラして軽くハンダを流して足をこすってやると直りました。

<%= image "dsc00198" %>
<%= image "dsc00205" %>
<%= image "dsc00207" %>
<%= image "dsc00212" %>
<%= image "dsc00220" %>

さて、動作確認。
まず、リージョン2の状態でアメリカから輸入したDVDをいれる。
画面には、リージョンが違うよんのメッセージが出る。

<%= image "dsc00227" %>

DVD-515のリモコンを操作して、リージョンを変更。
見事、「RONIN」が再生されました。

<%= image "dsc00233" %>
<%= image "dsc00235" %>
<%= image "dsc00245" %>

続けて、「Apollo 13」dts版を突っ込む。
おお、はじめてプレイヤーとアンプのdts機能を使いました。感激！

<%= image "dsc00248" %>

大変、助かりました。ありがとねー ＞ みゃ
