---
title: 東京大学さだまさし研究会10周年記念宴会
tags: party, university, friends
---
注：僕は東大卒でも、さだまさしファンでもありません。

<a href="http://urawa.cool.ne.jp/funayama/sadaken10/index.html">funayama</a>
さんの写真はこちら。

大阪から出張してきたmyaが前日からすみかわ家に泊まり、
18日午後に東大駒場キャンパスへ。

うおー、懐かしい。7年ぶりくらい？
延べで3週間くらい住んでた駒場寮がまだ健在なのは凄い。
大学当局との係争で電気もガスも水道も止められてるらしいけど、
電気はどっかから盗んでるみたい。

まずは、15:00からの例会に参加。
例によって時間通りには誰も来てませんが、ポツポツとやってくる。
人数忘れたけど、20人くらいだっけ？ そのうち3人がキャリアです。
将来のコネはばっちりですな。
うおー、みんな全然変わってませんな。
横幅だけ増えてるけど。

18:00までダベってそのまま同窓会館なる建物に移動。
木々の奥に建つボロボロの木造住宅。どう見ても戦前の建物だよなあ。
ここ本当に都内？ まるで時間が止まってるみたい。
で、みんなですき焼き宴会。
調子に乗って久しぶりに「寄せない鍋」を披露(ひたすら単品を鍋にブチ込むこと)。
田沼にひたすら、しらたきを食わせ続ける。
食後、卵が余ったのですきやき鍋をフライパンにして卵焼きを作る。
で、田沼の生卵がたっぷり入った取り皿にブチ込みさらに食わす。

<%= image "pk005_0124" %>
<%= image "pk005_0125" %>
<%= image "pk005_0126" %>
<%= image "pk005_0127" %>
<%= image "pk005_0128" %>
<%= image "pk005_0129" %>
<%= image "pk005_0130" %>
<%= image "pk005_0131" %>
<%= image "pk005_0132" %>
<%= image "pk005_0133" %>
<%= image "pk005_0134" %>
<%= image "pk005_0135" %>
<%= image "pk005_0136" %>
<%= image "pk005_0137" %>
<%= image "pk005_0138" %>
<%= image "pk005_0139" %>

そのままウダウダ飲みながら、話をする。
一応会場でそのまま寝れるように5人用の寝具を用意してますが、
昔の建物だけあって部屋の中はめちゃめちゃ広いので、20人ぐらい優に寝れます。
結局泊まったのは8人。
そのまま深夜まで酒飲んで話して寝ました。

次の日は8時にチェックアウトして、デニーズで朝飯。
その後、mya、田沼と3人で中野に行って、
これまた懐かしの8段ソフトクリームを食う。
300円に値上がりしてましたが、まだ健在でした。

<%= image "pk005_0123" %>

その後、2人は秋葉原へ。僕は家に帰ってシャワー浴びた後、
<a href="http://www.mew.org/~kazu/sake/1999/09/19.html">頭悪い系宴会</a>
に参加。うーん、タフだ。
