---
title: IPngwg Interim meeting＠田町
tags: IETF, IPv6, conference
---
<a href="http://www.ietf.org/">IETF</a>のIPng分科会の中間ミーティングが
東京は田町の笹川記念間で開催されました。ホストはWIDEプロジェクト。

<%= image "dsc00111" %>
<%= image "dsc00112" %>
<%= image "dsc00115" %>

他の人の写真はこちら。
jinmei(<a href="http://www.jinmei.org/photo/19990929/">その1</a>、
<a href="http://www.jinmei.org/photo/19990930/">その2</a>)、
sakane(<a href="http://www.tanu.org/~sakane/diary/19990928/">その1</a>、
<a href="http://www.tanu.org/~sakane/diary/19990929/">その2</a>、
<a href="http://www.tanu.org/~sakane/diary/19990930/">その3</a>、
<a href="http://www.tanu.org/~sakane/diary/19991001/">その4</a>)、
<a href="http://www2.kame.net/~kazu/sake/1999/09/29.html">kazu</a>、
<a href="http://www.imasy.or.jp/~ichiro/snap/19990929/">ichiro</a>。

初日夕方に行われたレセプション。
みんなが写真撮りまくってたので、もういいやとお任せしました。
うーむ、デジカメ離れした最近のitojunの心理状態ってこういう感じ？

<%= image "dsc00117" %>
<%= image "dsc00119" %>
<%= image "dsc00121" %>
<%= image "dsc00122" %>
<%= image "dsc00124" %>
<%= image "dsc00126" %>
<%= image "dsc00127" %>
<%= image "dsc00133" %>
<%= image "dsc00134" %>
<%= image "dsc00135" %>

二日目の夜のVIPパーティー。
田町の結構いい日本酒の出て来る居酒屋さん、「芝の浦」。
料理はかなり懐石っぽい感じ。うまかった。

<%= image "dsc00138" %>
<%= image "dsc00139" %>
<%= image "dsc00140" %>
<%= image "dsc00141" %>
<%= image "dsc00144" %>
<%= image "dsc00145" %>
<%= image "dsc00147" %>
<%= image "dsc00148" %>

2次会は焼き鳥屋。外人でついて来たのはFrancisだけ。

<%= image "dsc00150" %>
<%= image "dsc00151" %>
<%= image "dsc00152" %>
<%= image "dsc00154" %>
<%= image "dsc00156" %>
<%= image "dsc00158" %>
<%= image "dsc00160" %>
<%= image "dsc00165" %>

最終日は英語で初<a href="http://www.wide.ad.jp/events/199909.ipng-interim/japan-slides/sumikawa/">プレゼン</a>。
後からRealVideoで自分の英語聞いたけど、めちゃめちゃや。
日本人にしか分からんちゅーねん。はい、努力しましょう。

発表が終ると、その足で浜松へ出張。
