---
title: かめまん＠浜松
---
Networld+Interopのミーティングで浜松へ。
場所は舘山寺温泉。でじゃぶ？

帰りの昼飯は、浜松駅前の八尾徳で<a href="http://www.tanu.org/~sakane/diary/19990906/19990906_18.jpg">うな茶</a>。でじゃぶ？

駅前のキオスクで最近、某コミュニティで話題沸騰中のかめまんじゅうを購入。
でっかいのが2匹入った箱を購入。1000円。

<%= image "dsc00166" %>
<%= image "dsc00167" %>
<%= image "dsc00169" %>

別の店でちっこいかめまん発見。横にいたyoshikiさんが、
「これで、親子がめで写真が撮れるね。」
くう、何と魅惑的なコメントでしょう。はい、買ってしまいました。

<%= image "dsc00171" %>

親亀2匹と子亀2匹を会社で配る。食われる直前のかめ。

<%= image "dsc00173" %>
