---
title: かめ鍋
tags: food, friend, party
---
今日は、かめ鍋。写真撮ってましたが、
途中で<a href="http://www.jinmei.org/photo/19991019/">jinmei</a>さんと
<a href="http://www.tanu.org/~sakane/diary/19991019/">sakane</a>さんにお任せ。

<%= image "dsc00001" %>
<%= image "dsc00002" %>
<%= image "dsc00003" %>
<%= image "dsc00004" %>
<%= image "dsc00005" %>
<%= image "dsc00006" %>
<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>

いやー、すぎょう発言は本当にビックリした。
無意識に椅子から立ち上がっちゃったもんなあ。
