---
title: IETF その1
tags: ietf, travel, washington
---
今んとこ筆のノリがいいので、調子に乗って細かく書きます。

第46回<a href="http://www.ietf.org/">IETF</a>に参加するために、
一路ワシントンへ。

前回は飛行機の離陸に遅刻しかけたので、
今回はさすがに反省しPM 2:20に家を出る。
中央林間で昼飯代わりにタコ焼きを食って、
T-CAT(水天宮前)に着いたのがPM 4:00。余裕ですな。
カウンタでチェックインを済ます。

今回は久しぶりに<a href="http://www.ual.co.jp/">ユナイテッド航空</a>を利用、
就職してからはずーっと<a href="http://www.aa.com/">アメリカン航空</a>を
使っていたので、3年ぶりかな。
<a href="http://www.ual.co.jp/">ユナイテッド航空</a>を使った理由は、
マイレージの有効期限を延長するため。
今年から<a href="http://www.ual.co.jp/">ユナイテッド航空</a>の規則が変わり、
3年以内にマイレージを貯めるか使うかすれば、
さらに3年更新できるようになりました。
つまり銀行の口座と同じ。
数年間使ってなければ口座は消されてしまうけど、
何でもいいから口座に手をつければまた有効期間の計算がゼロに戻る。
従来のマイレージの規則は、利用日から3年間で問答無用で消されていたので、
かなり便利になりました。

今回の経路はシカゴ経由ワシントンD.C.行き。
溜っていたマイレージ(5万6000マイル)を使う機会がないので、
アップグレードを申請する。
しかし、国際線は既にアップグレード枠が埋まっていて使えず。
シカゴ - ワシントンD.C.だけが5000マイルで、
ファースト・クラスにアップグレードできた。
往復で1万マイルを消費。

ゲート横で生ビール飲みながら、搭乗アナウンスを待つ。
PM 6:40に飛行機に乗り込む。
今回は追い風らしく、飛行時間が大幅に短縮されるとのこと。
しかし、空港が混雑したため離陸が遅れるとのアナウンスがその直後に入る。
結局、1時間遅れで出発。なんだかなあ。

席は40D。通路側の席で、反対側の隣は誰も座っていない。ラッキー。
周りを良く見ると、エコノミーは結構空いてる。
ビジネスは満杯らしい。
景気いいんだか悪いんだか。

とりあえず晩飯食いながら、赤ワイン(カヴェルネ・ソービニヨン)の小ビンを2本空ける。鳥肉の蜂蜜醤油風味、野菜炒め、ご飯、寿司、さやいんげん、茶蕎麦、フルーツ。

その後、持ってきた文庫本である有栖川有栖「46番目の密室」を読了。

パソコン立ち上げてちょこちょことコードいじったり、
メール捌いたりする。
すると、予備校時代に書いてた小説の続きを無性に書きたくなった。
こんなこともあろうかとデータは常に持ち歩いてたので、
衝動に任せて書きはじめる。うーん、実に8年振り。
400字書いたあたりでバッテリー切れ。
せっかくヤル気になってたのに……。
続き書けるかなあ。

[1999/12/27 追記] 書けてません。

そうこうしてるうちに、夜食が来る。
噂のユナイテッド版「赤いきつね」。ぶどうとクッキー。

飯食って、色々と考えごとをしてると寝てしまった。
2〜3時間後ぐらいに、アナウンスで起こされて朝飯。
チーズオムレツとクロワッサン。オレンジジュースとコーヒー。

シカゴ着。
機長さんが今日で定年退職し、これが最後のフライトらしい。
機内で拍手が起こる。
ぼーっとしてたら話を聞き逃した。
なんでみんなで盛りあがってるのか分からくて寂しい。
後で日本語で同様のアナウンスがあってようやく分かりました。

出発が1時間遅れたのに、到着は結局30分早く着いた。
空港内を移動、変に慣れちゃって外国に来た感じが全然んしない。
新宿あたりの地下街を歩いてる感じ。
英語力はたいして上がってないのに、
こんなとこばっかり慣れてもしゃーないべ。

入国審査を済まし、国内線のターミナルへ。
出発まで1時間ぐらい余裕がある。
<a href="http://www.samadams.com/">Samuel Adams</a>でも飲もうかと思ったけど、腹がタプンタプンなので大人しく待つ。
PCの充電ができないかと周り探したけどACの口はなし。
諦めて2冊目の文庫本を取り出して読む。宮部みゆき「淋しい狩人」。

そうこうするうちに搭乗。
久しぶりのファースト・クラス。
とりあえずバドワイザー飲んどく。かんぱーい。
飯はどうするかと聞かれて、
せっかくのファースト・クラスなんで食っとく。
さっき食ったばかりなのにね。こんなことするから太る。
Chicken wrap、パン、サラダ、あまあまケーキ、
Sparkling waterとコーヒー。
黄色いトマトってはじめてくったような気がする。
あんまりおいしくなかった。

<%= image "dsc00001" %>
<%= image "dsc00003" %>
<%= image "dsc00004" %>

PM 6:50(東海岸時間)にワシントンはナショナル空港に到着。
<a href="http://www.aa.com/">アメリカン航空</a>で並行に来た
atarashiさんとtsuchiさんの到着時刻を調べると、
PM 7:05に到着。しかも、すぐそばのゲートなので、
待ち構えて一緒に移動。

タクシーはやめて地下鉄を利用。
ホテルすぐそばのZoo駅で降りる。1回の乗り換えいれて20分くらいかなあ。
$1.10。安い。

今回のホテルはこれ。2年前のIETFもここで開催されたので2回目の宿泊。

<pre class="address">
Omni Shoreham Hotel
2500 Calvert Street, NW
Washington, DC 20008 USA
Phone: 202-756-5125, 800-843-6664 
Fax: 202-756-5145
</pre>

大統領就任パーティーはかならずここで行われるらしい。
偉いホテルなのね。

チェックインして部屋の中を撮影。

ドアを空けると左にクローゼット。そのままちょっとした廊下を右に折れると部屋に出る。

<%= image "dsc00006" %>
<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>
<%= image "dsc00011" %>
<%= image "dsc00014" %>

うーん、広い。こういう部屋に住みてえ。

<%= image "dsc00015" %>
<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dsc00028" %>

トイレも広い。家の部屋よりひとまわり小さいぐらいではなかろうか。落ち着かん。

<%= image "dsc00021" %>
<%= image "dsc00022" %>

荷物置いて、近所の酒屋へ。
とりあえず飲んどかないといけないでしょうと、
<a href="http://www.samadams.com/">Samuel Adams</a>
のBoston Aleを購入。4本買ったら、
店の親父に6本セットなら安くなるから6本にしとけと言われた。
素直に従う。Evianの800mlぐらいのペットボトルと合わせて、$9.78。

<%= image "dsc00031" %>

PM 9:30ぐらいかな、1本目の7割を飲んだあたりで気絶。
