---
title: IETF その2
tags: businesstrip, conference, food, ietf
---
AM 3:30に目が覚める。日記の続き書いてるともう一度眠くなったので気絶。
AM 7:15に本格起床。
風呂入ったら猛烈に腹が空いてきたので、ホテル内の店でbuffet breakfastを食べる。ソーセージ、ベーコン、卵、パンケーキ、ヨーグルト、フルーツ、オレンジ・ジュース、コーヒーで、チップいれて$15.00。

部屋に戻ろうとすると、atarashiさんに出会う。
これから待ち合わせて遊びにいくとのこと。
yuo、ayaya(with かめ三匹)も登場。
別れて部屋に戻って、明日の発表準備。
というか逃避につぐ逃避。
さらに、時差ボケも手伝って気を失う。

PM 1:00に気絶から覚める。
腹減ってきたけど、昼飯はパス。太らないで日本に帰るんだもんねと、引続き部屋で頑張る。
「起こさないで下さい」の札出しっぱなしにしてたら、
「掃除しなくていいの？」と電話がかかってきた。
「4時に掃除して」と返事。
伝わったと思うんだけどその日は掃除されなかった。
僕の英語の問題なんだか、ホテル側のミスなんだかわからん。

PM 4:00にatarashiさんと一緒にMarriott Hotelへ。
GateDのprivate meeting。こっち入れて4人でミーティング。
うーん、1対1なら英語は結構聞き取れるようになってきたんだけど、
話すのが全然駄目。言いたいことの半分も言えない。

PM 5:30に戻って来る。
Teriminal Roomが動き出したので、とりあえずメールの処理。
夜はみんなで中華料理。ayayaの写真は<a href="http://www.nui.org/ayaya/ukdiary/199911/19991107/">こちら</a>。

<%= image "dsc00002" %>
<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>
<%= image "dsc00011" %>
<%= image "dsc00013" %>
<%= image "dsc00017" %>
<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dsc00021" %>
<%= image "dsc00022" %>
<%= image "dsc00024" %>
<%= image "dsc00026" %>
<%= image "dsc00029" %>
<%= image "dsc00030" %>
<%= image "dsc00032" %>
<%= image "dsc00034" %>

帰って来て、宴会に参加せずに部屋で頑張るもまたもや気絶。
