---
title: IETF その4
---
文章減ってきてます。すんません。

AM 3:00に起床、Terminal Roomへ。日本人3人しかいない。
AM 6:30に猛烈に腹が減ったので、okabeさんとtanakaくんとでBuffet Breakfast食いにいく。

<%= image "dsc00035" %>
<%= image "dsc00037" %>
<%= image "dsc00038" %>

午前中のめぼしいセッションないので、ぶらっと遊びにいく。

<%= image "dsc00042" %>
<%= image "dsc00046" %>
<%= image "dsc00047" %>
<%= image "dsc00182" %>
<%= image "dsc00119" %>
<%= image "dsc00122" %>

スミソニアン自然博物館。アイヌ展やってた。
ご近所さんのくせに全然知識ないので勉強。

<%= image "dsc00108" %>
<%= image "dsc00050" %>

剥製やら化石やら骨を見る。
韓国の住居風景の壁の掛軸はどう見ても韓国ものに見えないんですけど……。

<%= image "dsc00054" %>
<%= image "dsc00061" %>
<%= image "dsc00063" %>
<%= image "dsc00071" %>
<%= image "dsc00073" %>
<%= image "dsc00076" %>
<%= image "dsc00099" %>

かめ。

<%= image "dsc00065" %>
<%= image "dsc00069" %>
<%= image "dsc00102" %>
<%= image "dsc00104" %>
<%= image "dsc00107" %>

みやげ物屋。漆原教授ーっ！

<%= image "dsc00056" %>
<%= image "dsc00059" %>

宝石の展示やってた。
今まで光ものって全然興味なかったんですが、これは凄いねえ。
持って帰りたくなる。キャッツアイになりたい。
最後の写真は有名な<a href="http://www.si.edu/resource/faq/nmnh/hope.htm">ホープ・ダイヤモンド</a>。
持ち主が次々と変死するやつ。
こんなん盗んだら大変だわ。

<%= image "dsc00086" %>
<%= image "dsc00087" %>
<%= image "dsc00088" %>
<%= image "dsc00091" %>
<%= image "dsc00094" %>
<%= image "dsc00095" %>

ブラブラ散歩しながら、ナショナル・ギャラリーへ移動。

<%= image "dsc00109" %>
<%= image "dsc00111" %>
<%= image "dsc00113" %>
<%= image "dsc00116" %>

久しぶりの「日傘の婦人」。奥さん久しぶり。
時間ないのでこれだけ見て戻る。ま、これだけ見れれば充分。

<%= image "dsc00114" %>

夜はイタ飯屋のiRicchiへ。写真はsakaneさんの<a href="http://www.tanu.org/~sakane/diary/19991109/">ページ</a>でどうぞ。

<pre class="address">
IRicchi
202-835-0459
1200 19th STREET,NW
Washigton, DC
</pre>

11人で行き、sumikawa、okabe、miyata、sakane、tanaka、morishima組と、
miyakawa、yuo、ayaya、atarashi、nagami組に分かれる。
向こうのチームの写真は<a href="http://www.nui.org/ayaya/ukdiary/199911/19991109/">こちら</a>。
向こうのチームは終始穏やかに飯が進むが、
こっちは延々と注文が決まらなかったり、
注文の量がめちゃめちゃ少なかったり、
存在しないカルボナーラやピザを注文しようとしたり、
ひたすら迷惑な客となる。ええ、私の記憶がめちゃめちゃなのが悪いんです。
おかしいなあ、ピザのオーブンが厨房にあったような気がするんだけどなあ……。
あまりにも謎の注文をするので、支配人まで出てきました。何だかなあ。

ワインは3本。全部イタリアワインです。
一本目はシャルドネの$70。まだ給仕の機嫌が良かった頃の彼のお勧め。
確かにうまかった。2本目から自分で選びました。Pinot Grigio。
うーん、スパイシー。3本目は、カヴェルネ・ソービニヨン。
4本いくつもりだったので値段抑え目にしてたら、みんな飲まないので内止め。
料理は……忘れた。写真見たら思い出すでしょうきっと。

デザートはアルコールを体が欲していたので、
カルヴァドスを飲む。ホテルに帰ってさらに宴会。
写真は<a href="http://www.nui.org/ayaya/ukdiary/199911/19991109/">こちら</a>。
