---
title: IETF その5
tags: ietf, restaurant
---
2年前の話ですが、ワシントンを訪れた折に、
とあるアフガン(だったような気がする)料理屋にWIDEメンバーで食べに行ったのですが、
すこぶる不味くて評判になりました。

その噂が広まって、今回のIETFでも僕のもとに様々な情報、
噂が飛び込み、皆の並々ならぬ感心度に動かされ、
今回もツアーを組む運びとなりました。
訪れた店は「レバノン タベルナ」。
本当にこの店が前回と同じ店かどうか記憶が無いんだけど……。

以下は、WIDEメンバーに投げたメール。
久しぶりの怪作メールなので勿体ないから転載。

<pre class="address">
あー、レバノンノン。

一部で話題沸騰中のアフガン料理ですが、

- 実はレバノン料理である
- 行列が出来ているらしい
- うまいらしい
- ホワイトハウス上空を北北東にジグザグに高速移動してるのを見た

などの未確認情報が飛び交っておりますので(っていうか、みんな僕の顔見た
らアフガンの話をはじめる)、明日の昼飯にでも確認に行こうと思います。

我こそ参加したいと思うかたは、AM 11:40にロビーに集合のこと。参加人数多
数の場合は、発送を持って抽選に代えさせて頂きます。

「料理屋なのにタベルナとはこれ如何に？」
「断食してるのに食うかい？(空海)が如し」
</pre>

で、ロビーで待ってたら、集まったのはmiyakawa、sakane、yuo。
少ないんだか多いんだか分からないけど、まあいいやと向かう。

昼飯なので、飲み物と軽い中近東風サンドイッチ系を注文。名前忘れた。
味ですが、可もなく不可もないといった感じ。
いわゆる中近東風の味。
うーん、本当にこの店だったのかなあ？
全然、記憶が甦ってこないんですけど。
さかねさんの写真は<a href="http://www.tanu.org/~sakane/diary/19991110/">こちら</a>

<%= image "dsc00003" %>
<%= image "dsc00004" %>
<%= image "dsc00006" %>
<%= image "dsc00007" %>
<%= image "dsc00009" %>
<%= image "dsc00010" %>
<%= image "dsc00013" %>
<%= image "dsc00017" %>
<%= image "dsc00019" %>
<%= image "dsc00024" %>
<%= image "dsc00026" %>

という感想を流したら、さらに未確認情報が飛び込む。
違う通りにアフガン料理屋を発見したとのこと、
最終日の11/12(金)の昼に向かったところ、確かにアフガン料理屋がある。
お、ビルの2Fだ。何かこっちの方が記憶があるぞ。
入ろうとするがドアが閉まってる。どうも、夜しかやってないらしい。
夜に行こうと決意するが、疲れて寝てしまい結局行けずじまい。
うーん、心残りだ……。

夕方にダウンして爆睡。
夜中12時頃miyakawaさんに起こされて、
チリワインと、miyakawaさんのナパ土産のオーパス・ワンのovertureを飲む。
写真は<a href="http://www.nui.org/ayaya/ukdiary/199911/19991110/">こちら</a>。

部屋に戻ってさらに爆睡。

<%= image "dsc00083" %>
