---
title: ジャズ
tags: London, music, jazz
---
会社の人に誘われてジャズを聞きにいく。

待ち合わせはApple Store London。来るの初めて。へー、こんなとこによく物件あったねえ。

iPod shuffleは展示されてましたが、Mac Miniは見れませんでした。
使えねえ。もちろんiPod shuffleも店頭在庫はなし。あったら危なかったな。

<%= image "cimg1212" %>
<%= image "cimg1213" %>

夜飯はフランス料理。
£20、£25、£30のコースがあって、それぞれのコースには複数の選択肢があり、
その中から前菜とメインとデザートを選ぶ形式。
£25のコースを選択。エスカルゴとステーキを食う。
まあうまかったけど、やっぱイギリスでフランス料理食うと高いなあ……。

<pre class="address">
<a href="http://www.gabrielles.com/">Gabrielle's</a>
14 HEDDON STREET
LONDON
W1B 4DA
TEL: 020 7494 2234
</pre>

<%= image "cimg1215" %>
<%= image "cimg1218" %>
<%= image "cimg1219" %>
<%= image "cimg1224" %>

んで、ロンドンで最も有名なジャズのお店へ。

<pre class="address">
<a href="http://www.ronniescotts.co.uk/">Ronnie Scott's</a>
47 Frith Street
Soho, London
W1D 4HT
TEL 44 (0)20 7439 0747
FAX 44 (0)20 7437 5081
</pre>

前座はスタンダードなジャズ。

<%= image "cimg1229" %>

メインはブラジルから来たサンバ・ジャズ。
なんじゃそらーと思ったけど、パーカッション中心だけど確かにジャズだ。なるほど。

<%= image "cimg1230" %>

でも、途中からどんどんジャズでなくなっていく。
