---
title: たこ焼き(のような何か)パーティー
tags: food, party, Japanese
---
suzの日記は<a href="http://www.uki-uki.net/photos/200502-yokohama/">こちら</a>

相模レンジャー(＋角南)を新居に招待して、飲み会。
飲んでるうちにたこ焼きを作ろうということになり、
この日のために購入しておいたたこ焼き器を取り出す。
レシピが分からんので実家の母親に電話。

「まず、スーパーでたこ焼き粉を買ってきて、それから……」  
そんな粉はあんたの家の半径100km以内のスーパーでしか売ってませんがな。
たこ焼き粉が全国区だと思っているのか大阪人。

ということで、お好み焼き粉で代用。なぜか全然固まらず。山芋いれすぎたかな。

<%= image "cimg1245" %>
<%= image "cimg1235" %>
<%= image "cimg1238" %>

幾ら串で回しても全然丸くなりません。

<%= image "cimg1242" %>

みなさまお疲れなのか轟沈者多数。

<%= image "cimg1243" %>
<%= image "cimg1244" %>
<%= image "cimg1248" %>

味は悪くなかったので、また挑戦しましょう。
