---
title: ムツゴロウ王国
tags: animal, dog, travel
---
宮さんがせっかく車で神奈川に来たので、
車でしか行けないところに行こうと、<a href="http://www.tokyo-mutsugoro-oukoku.co.jp/">東京ムツゴロウ動物王国</a>へ。

<%= image "kif_0873" %>

全然違うところに車止めちゃって、いきなりシャトルバスで移動。

<%= image "cimg1648" %>

動物王国というよりほとんどわんわんランドと言った方が近いかも。
ダルダル系のレジャーランド期待してたんですが、素朴な手作り感が好感持てました。

<%= image "kif_0874" %>
<%= image "cimg1660" %>
<%= image "cimg1661" %>
<%= image "kif_0878" %>

ショーをするのは小さい方の犬なんですが、
通りがかりのデカい犬が真ん中でごろごろしはじめて、
観客の注目を集めてしまいショーの邪魔をする。

<%= image "cimg1651" %>
<%= image "cimg1656" %>
<%= image "kif_0875" %>

犬ぞり。

<%= image "kif_0876" %>

お昼はカレーライス。

<%= image "cimg1659" %>

乗馬もできます。

<%= image "cimg1663" %>
<%= image "cimg1664" %>
<%= image "mya12" %>

別のショー。犬のショーは調教というより一緒に仕事をしてる雰囲気でこれも好感度高し。
角砂糖上げたりしてないし。

<%= image "mya13" %>
<%= image "cimg1666" %>
<%= image "cimg1674" %>
<%= image "cimg1675" %>
<%= image "mya11" %>
<%= image "mya16" %>

ショーの動画。

<%= movie "cimg1670" %>
<%= movie "cimg1672" %>
<%= movie "cimg1673" %>
<%= movie "cimg1677" %>

その後、犬と触れ合う。

<%= image "cimg1678" %>
<%= image "cimg1681" %>
<%= image "cimg1684" %>
<%= image "cimg1689" %>
<%= image "cimg1691" %>
<%= image "cimg1693" %>
<%= image "cimg1694" %>
<%= image "mya10" %>
<%= image "cimg1697" %>
<%= image "kif_0886" %>
<%= image "mya3" %>
<%= image "mya4" %>

お仕事中。

<%= image "cimg1696" %>
<%= image "cimg1695" %>

デカい犬。

<%= image "cimg1700" %>

最後に100分の150スケールムツゴロウさんと記念撮影。

<%= image "cimg1701" %>
<%= image "kif_0889" %>

そのまま大阪に一緒に帰る。途中、浜松に寄って鰻を食べる。
本当は<a href="http://www.tokai.or.jp/yaotoku/">八百徳</a>でうな茶食べたかったんだけど閉まってた。

<%= image "mya15" %>
<%= image "kif_0890" %>
<%= image "cimg1704" %>
