---
title: 草津旅行 その1
---
suzの写真は<a href="http://www.uki-uki.net/photos/200505-kusatsu/">こちら</a>

草津旅行に行ってきました。メンバーは、すなみ、だい、角川夫婦、のざわ、すずき。
前の日に正体なくすぐらい飲んだせいで、朝から二日酔い。
集合場所に行くまでに一回吐いて、集合場所でもう一回吐く。前途多難じゃ。

まずは軽井沢で昼飯。ええ、道中は爆睡してました。

<%= image "cimg1792" %>
<%= image "cimg1794" %>
<%= image "cimg1796" %>
<%= image "cimg1798" %>
<%= image "cimg1799" %>
<%= image "cimg1801" %>

さらにミカドコーヒーでダベる。

<%= image "cimg1811" %>
<%= image "cimg1802" %>
<%= image "cimg1803" %>
<%= image "cimg1804" %>
<%= image "cimg1805" %>
<%= image "cimg1810" %>
<%= image "cimg1806" %>
<%= image "cimg1807" %>
<%= image "cimg1809" %>

草津温泉を目指す。途中で白糸の滝見学。

<%= image "cimg1812" %>
<%= image "cimg1813" %>
<%= image "cimg1814" %>
<%= image "cimg1815" %>
<%= image "cimg1818" %>
<%= image "cimg1820" %>
<%= image "cimg1821" %>
<%= image "cimg1822" %>
<%= image "cimg1823" %>
<%= image "cimg1825" %>

浅間山。湯気でてる。

<%= image "cimg1828" %>

いよいよ草津到着。なぞの記念碑発見。樹はどれやねん。

<%= image "cimg1830" %>

草津で一番大きい露天風呂。男風呂丸見え。いやん。

<%= image "cimg1831" %>
<%= image "cimg1832" %>

今回のホテル。ビジネスホテル アゼリア。素泊まりでとにかく安い。我々の印象は「合宿所」。

<pre class="address">
草津温泉 ビジネスホテル <a href="http://www.mytrip.net/HOTEL/8632/8632.html">アゼリア</a>
住所：〒377-1711　群馬県吾妻郡草津町草津455
TEL：0279-88-5151 　FAX：0279-88-4997
</pre>

<%= image "cimg1833" %>
<%= image "cimg1835" %>
<%= image "cimg1836" %>
<%= image "cimg1838" %>

ビジネスホテルなのか、ペンションなのか、旅館(館主と書いてある)なのか、
態度が煮えきらない。まあ「合宿所」ですけどね。

<%= image "cimg1839" %>

草津の町を散策。

<%= image "cimg1841" %>
<%= image "cimg1842" %>
<%= image "cimg1843" %>
<%= image "cimg1844" %>
<%= image "cimg1846" %>
<%= image "cimg1847" %>
<%= image "cimg1848" %>

そして今回の旅のメイン。まいたけとんかつ。

<%= image "cimg1849" %>
<%= image "cimg1850" %>
<%= image "cimg1857" %>
<%= image "cimg1859" %>

まいたけを肉でぐるっと巻いて揚げてる。

<%= image "cimg1862" %>
<%= image "cimg1864" %>
<%= image "cimg1866" %>
<%= image "cimg1867" %>

さらに夜の散策。

<%= image "cimg1870" %>
<%= image "cimg1876" %>

夜の神社でまた記念碑見付けた。何本あるんや。

<%= image "cimg1873" %>

夜の湯の花。

<%= image "cimg1878" %>
<%= movie "cimg1879" %>

おみやげ。白骨温泉でも使われてた業務用温泉の素(ハップ)。家で試したらすんげえ硫黄臭い。それと湯の花。

<%= image "cimg1881" %>

合宿所に戻って飲む。

<%= image "cimg1882" %>
<%= image "cimg1885" %>
<%= image "cimg1886" %>
