---
title: 草津旅行 その2
tags: mountain, onsen, travel
---
源泉見ながら朝飯を食う。

<%= image "cimg1889" %>
<%= image "cimg1892" %>
<%= image "cimg1893" %>
<%= image "cimg1896" %>
<%= image "cimg1897" %>
<%= image "cimg1898" %>
<%= image "cimg1899" %>

動画。

<%= movie "cimg1891" %>
<%= movie "cimg1895" %>
<%= movie "cimg1900" %>

さらにドライブ。山頂で休憩。

<%= image "cimg1901" %>
<%= image "cimg1903" %>
<%= image "cimg1905" %>

白根山へ。ちょっとだけ残った雪(というか氷)でスノボーやってる人たち。
もちろんリフトなんかありません。

<%= image "cimg1906" %>

ちょっとだけ登山。

<%= image "cimg1908" %>
<%= image "cimg1909" %>

白根湖。山上にある温泉です。謎の生き物でも住んでそう。

<%= image "cimg1910" %>
<%= image "cimg1912" %>
<%= image "cimg1913" %>
<%= image "cimg1916" %>
<%= image "cimg1917" %>

と、その時(久しぶり)、<span class="fontsizeplus">「お、おい、あれ何だ?」「え?あれ、ひょっとして?」</span>

<span class="fontsizeplusplus">「シロネッシーだ!」</span>

<%= image "cimg1922" %>

しばし観光。

<%= image "cimg1929" %>
<%= image "cimg1930" %>
<%= image "cimg1931" %>
<%= image "cimg1933" %>

危険区域こんなにあるのね。昔は神の祟りだと思われていたことでしょう。

<%= image "cimg1942" %>

噴火時の避難小屋もある。

<%= image "cimg1944" %>
<%= image "cimg1943" %>

で、噴火(嘘)。

<%= image "cimg1945" %>
<%= image "cimg1948" %>
<%= image "cimg1949" %>

長野に突入。そばを食べる。うんまい。

<%= image "cimg1951" %>
<%= image "cimg1952" %>
<%= image "cimg1954" %>

劇的ビフォーアフター。

<%= image "cimg1956" %>
<%= image "cimg1955" %>

さらに七味温泉へ。すんげえ山の中にあります。まさに秘湯。たぶん冬は行けないぐらいのところ。
ADSLが来てたら1か月ぐらい湯治したい。温泉にて角南の友人と合流。

<pre class="address">
<a href="http://www.joy.hi-ho.ne.jp/ma0011/T-Nagano22.htm">湯元牧泉館</a>
長野県上高井郡高山村牧奥日影2974
Tel: 026-242-2501
入浴料金: 500円
営業時間 9:00-18:00
</pre>

<%= image "cimg1958" %>
<%= image "cimg1959" %>
<%= image "cimg1960" %>
<%= image "cimg1961" %>
<%= image "cimg1963" %>

雷滝。なんと滝の裏側に入れます。

<%= image "cimg1966" %>
<%= image "cimg1968" %>
<%= image "cimg1971" %>
<%= image "cimg1972" %>
<%= image "cimg1973" %>

動画はこちら。

<%= movie "cimg1969" %>
<%= movie "cimg1975" %>

地元で売ってるりんごジュース。

<%= image "cimg1978" %>

角南の別の友人の家にお邪魔させてもらってうどん打ち大会。
色んなうどん粉を常備。マニアです。

<%= image "cimg1983" %>

すでに生地が寝かされてお待ちかね。うどん打ち台もあり。

<%= image "cimg1981" %>
<%= image "cimg1984" %>
<%= image "cimg1985" %>
<%= image "cimg1986" %>

まずコーンスターチを生地にまぶす。

<%= image "cimg1987" %>
<%= image "cimg1989" %>

んで、足で生地をある程度のばす。

<%= movie "cimg1991" %>

<%= image "cimg1992" %>

んで、麺棒でコネコネさらに伸ばす。四角くするのがポイント。

<%= image "cimg1997" %>
<%= image "cimg1999" %>
<%= image "cimg2000" %>
<%= image "cimg2001" %>
<%= image "cimg2002" %>

畳んで切ります。

<%= image "cimg2006" %>
<%= image "cimg2008" %>
<%= image "cimg2009" %>
<%= image "cimg2012" %>
<%= image "cimg2014" %>

茹であがりを待つ。

<%= image "cimg2018" %>
<%= image "cimg2017" %>
<%= image "cimg2015" %>
<%= image "cimg2016" %>
<%= image "cimg2020" %>
<%= image "cimg2021" %>

完成。うまーい。とり合い。

<%= image "cimg2022" %>
<%= image "cimg2026" %>
<%= image "cimg2028" %>
<%= image "cimg2030" %>
<%= image "cimg2031" %>
<%= image "cimg2034" %>
<%= image "cimg2036" %>
<%= image "cimg2040" %>
<%= image "cimg2043" %>
<%= image "cimg2047" %>

ネパールみやげをもらう。角南。

<%= image "cimg2050" %>
