---
title: おさかなとおさけ
tags: restaurant, sake, seafood
---
ボーナスも出たことですし、近所の日本酒のおいしい店へ行く。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

<%= image "cimg2087" %>
<%= image "cimg2088" %>
<%= image "cimg2089" %>
<%= image "cimg2093" %>
<%= image "cimg2104" %>
<%= image "cimg2109" %>
<%= image "cimg2111" %>
<%= image "cimg2116" %>
<%= image "cimg2112" %>
<%= image "cimg2114" %>
<%= image "cimg2120" %>
<%= image "cimg2118" %>
<%= image "cimg2127" %>

うっとり。

<%= image "cimg2100" %>
