---
title: ゆがふ
---
義妹が遊びに来たので三人でごはん。関内の小洒落たお店。

<pre class="address">
<a href="http://r.gnavi.co.jp/g735000/">YUGAFU</a>
〒231-0031 神奈川県横浜市中区万代町2-4-1 東カンパークサイドビル2F
TEL: 045-663-2280
</pre>

<%= image "cimg2135" %>
<%= image "cimg2136" %>

<%= image "cimg2139" %>
<%= image "cimg2141" %>
<%= image "cimg2144" %>
<%= image "cimg2148" %>
<%= image "cimg2151" %>
<%= image "cimg2154" %>
<%= image "cimg2157" %>
<%= image "cimg2161" %>
