---
title: うどんパーティー
tags: udon, cooking, party
---
うどんを粉から作りましょうパーティー。今回粉は2種類。デカ鍋も買いました。

<%= image "cimg2312" %>
<%= image "cimg2313" %>
<%= image "cimg2314" %>

まず粉と塩を正確にはかります。<a href=" http://taru.cc/sanuki/index.htm">カンペ</a>。
水をちょっとずついれながら混ぜる。混ぜる途中にパン粉状にするのがコツ。

<%= image "cimg2316" %>
<%= image "cimg2319" %>
<%= image "cimg2323" %>
<%= image "cimg2324" %>
<%= image "cimg2326" %>
<%= image "cimg2327" %>

大も挑戦。

<%= image "cimg2329" %>
<%= image "cimg2332" %>
<%= image "cimg2334" %>

しばらく寝かせた粉を踏み踏み。

<%= image "cimg2336" %>
<%= image "cimg2340" %>

体重倍増して腰を強くする作戦。

<%= image "cimg2342" %>
<%= image "cimg2344" %>
<%= image "cimg2345" %>
<%= image "cimg2355" %>
<%= image "cimg2357" %>

さて、麺を延ばします。

<%= image "cimg2359" %>
<%= image "cimg2362" %>
<%= image "cimg2364" %>
<%= image "cimg2365" %>
<%= image "cimg2366" %>

麺を切る。

<%= image "cimg2367" %>
<%= image "cimg2369" %>
<%= image "cimg2370" %>
<%= image "cimg2372" %>
<%= image "cimg2376" %>
<%= image "cimg2379" %>
<%= image "cimg2386" %>

茹で茹で。

<%= image "cimg2381" %>
<%= image "cimg2383" %>
<%= image "cimg2388" %>

食うでー。

<%= image "cimg2397" %>
<%= image "cimg2398" %>
<%= image "cimg2402" %>

即効食い終わって第二段。

<%= image "cimg2406" %>
<%= image "cimg2409" %>
<%= image "cimg2410" %>
<%= image "cimg2413" %>
<%= image "cimg2416" %>
<%= image "cimg2417" %>

くつろぐ人。寝る人。

<%= image "cimg2354" %>
<%= image "cimg2420" %>
<%= image "cimg2424" %>
<%= image "cimg2427" %>
<%= image "cimg2432" %>
<%= image "cimg2436" %>
<%= image "cimg2443" %>

きよしがバナナケーキを作る。

<%= image "cimg2450" %>
<%= image "cimg2455" %>
<%= image "cimg2460" %>

近所の公園で花火。打ち上げは危ないのでやりませんでした。

<%= image "cimg2461" %>
<%= image "cimg2467" %>
<%= image "cimg2470" %>
<%= image "cimg2474" %>
<%= image "cimg2488" %>
<%= image "cimg2495" %>
<%= image "cimg2498" %>
<%= image "cimg2499" %>
<%= image "cimg2504" %>
<%= image "cimg2507" %>
<%= image "cimg2510" %>

最後は線香花火。ハタから見ると不気味な光景。

<%= image "cimg2511" %>
<%= image "cimg2512" %>
