---
title: 焼肉
tags: kawasaki, yakiniku
---
jinmeiさんの写真は<a href="http://www.jinmei.org/photo/20050709/">こちら</a>

jinmeiさんにお願いして北京に連れていってもらう。
大変おいしゅうございました。

<%= image "cimg2515" %>
<%= image "cimg2518" %>
<%= image "cimg2521" %>
<%= image "cimg2522" %>
<%= image "cimg2523" %>
<%= image "cimg2527" %>
<%= image "cimg2529" %>
<%= image "cimg2531" %>
<%= image "cimg2535" %>
<%= image "cimg2542" %>
<%= image "cimg2544" %>
<%= image "cimg2547" %>
<%= image "cimg2550" %>
