---
title: 呼子イカ
tags: squid, fukuoka, seafood
---
今回のホテル

<pre class="address">
<a href="http://www.hawkstown.com/resortlife/">JALシーホーク福岡</a>
〒810-8650 福岡市ホークスタウン内 JALリゾート シーホークホテル福岡
</pre>

ヤッフードームのすぐ横。窓から球場が見える。街中で遊ぶにははっきり言って不便。

<%= image "cimg2743" %>
<%= image "cimg2744" %>

JANOGのセッションも終わり、夜。

元九州男児かずさんに「今の福岡なら呼子イカ、関サバ、関アジを食え」と助言を受け、
紹介してもらったお店へ。

<pre class="address">
<a href="http://www.teraokagroup.co.jp/index02.html">てら岡 本店</a>
〒810-0004 福岡県福岡市中央区渡辺通5-24-28
</pre>

<%= image "cimg2696" %>
<%= image "cimg2697" %>
<%= image "cimg2698" %>
<%= image "cimg2701" %>
<%= image "cimg2708" %>

さて、メインの呼子イカ。イカ臭さが全然ないです。身もしっとりと甘い。
こんなイカ食ったの、はじめて。

<%= image "img_1151" %>

身ぐるみ剥されたイカ。色がすごく綺麗。箸でつつくと色が変わります。
動画とってみたけどこれじゃ分からんなあ。
ゲソは天ぷらもしくは塩焼に回されます。我々は天ぷらを選択。

<%= movie "cimg2707" %>

<%= image "cimg2705" %>
<%= image "cimg2706" %>

関アジと関サバ。これもうまい。

<%= image "cimg2709" %>
<%= image "cimg2711" %>
<%= image "cimg2712" %>
<%= image "cimg2713" %>

さらに宴は続く。

<%= image "cimg2715" %>
<%= image "cimg2716" %>
<%= image "cimg2717" %>
<%= image "cimg2718" %>
<%= image "cimg2721" %>
<%= image "cimg2722" %>
<%= image "cimg2724" %>
<%= image "cimg2727" %>
<%= image "cimg2728" %>
<%= image "cimg2732" %>
<%= image "cimg2734" %>
<%= image "cimg2736" %>

夜の中洲。

<%= image "cimg2737" %>

さらにとんこつラーメンを食いにいく。

<pre class="address">
<a href="http://www.ramenkyushu.com/cgi-bin/search.cgi?no=118">だるま</a>
福岡県福岡市中央区渡辺通1-8-26
TEL: 092-761-1958
</pre>

<%= image "img_1162" %>
<%= image "img_1163" %>
<%= image "img_1164" %>
<%= image "img_1166" %>
