---
title: 九州旅行 その1
tags: travel, kyushu, dazaifu
---
せっかく九州まで来たので観光することにする。レンタカーはこれ。

<%= image "cimg2852" %>

とりあえずお約束の<a href="http://www.dazaifutenmangu.or.jp/home.htm">太宰府</a>。頭が良くなりますように。

<%= image "cimg2745" %>
<%= image "cimg2746" %>
<%= image "cimg2747" %>
<%= image "cimg2748" %>
<%= image "cimg2750" %>
<%= image "cimg2751" %>
<%= image "cimg2752" %>
<%= image "cimg2753" %>
<%= image "cimg2754" %>

あー、嫁厄年かあ。

<%= image "cimg2755" %>

巫女さん激写。つーか、盗撮気味。

<%= image "cimg2756" %>
<%= image "cimg2771" %>
<%= image "cimg2768" %>

<%= image "cimg2757" %>
<%= image "cimg2759" %>
<%= image "cimg2760" %>
<%= image "cimg2762" %>
<%= image "cimg2770" %>
<%= image "cimg2772" %>
<%= image "cimg2774" %>
<%= image "cimg2776" %>

ラヴリー駒犬発見。壁紙にどうぞ。

<%= image "cimg2764" %>
<%= image "cimg2766" %>

菅公歴史館へ。

<%= image "cimg2780" %>
<%= image "cimg2781" %>
<%= image "cimg2782" %>
<%= image "cimg2784" %>
<%= image "cimg2787" %>
<%= image "cimg2792" %>

太宰府の中のお茶屋さんで休憩。梅が枝餅を食べる。食べる直前に焼いてくれます。ほどよい甘味でうんまい。

<%= image "img_1192" %>
<%= image "img_1195" %>

さらに帰り道の「きくち」で梅が枝餅二つめ。

<%= image "cimg2798" %>
<%= image "cimg2800" %>

遅めの昼ごはんを食べにさらに移動。目指すはイソギンチャクの唐揚げ。

<pre class="address">
<a href="http://www.kumin.ne.jp/tsumura/">柳川料理 つむら</a>
〒832-0061 福岡県柳川市本城町51-1 筑紫ビル1階
TEL: 0944-74-0655
</pre>

<%= image "img_1200" %>
<%= image "cimg2802" %>
<%= image "cimg2803" %>
<%= image "cimg2806" %>

全部、有明海でとれた魚だそうです。いそぎんちゃくもここら辺の地域(柳川)の人は食べるそうで。

<%= image "img_1203" %>
<%= image "cimg2807" %>
<%= image "cimg2810" %>
<%= image "cimg2812" %>
<%= image "cimg2814" %>
<%= image "cimg2815" %>

ムツゴロウ、メカジャ、手長エビ、そしてイソギンチャクの味噌づけ。

<%= image "img_1206" %>
<%= image "cimg2822" %>

イソギンチャクの味噌づけはアップにするとこんな感じ。

<%= image "cimg2820" %>

柳川どじょう。

<%= image "cimg2828" %>
<%= image "img_1209" %>
<%= image "cimg2824" %>

鰻のセイロ蒸し。ごはんごと蒸すみたい。

<%= image "cimg2832" %>

そしていよいよイソギンチャクの唐揚げ。むにゅっとした感じで思ったよりまずくない。

<%= image "cimg2837" %>
<%= image "img_1213" %>

店の親父さんに教えてもらって有明海でムツゴロウが捕れるポイントへ。
残念ながら満潮でした。

<%= image "cimg2839" %>
<%= image "cimg2840" %>
<%= image "cimg2838" %>

お、ムツゴロウ発見。追いかけて遊ぶ動画。

<%= movie "cimg2843" %>

さらに捕まえるのに成功。

<%= movie "cimg2851" %>

<%= image "cimg2841" %>
<%= image "cimg2849" %>

あとダラけた漁をする人。

<%= movie "cimg2847" %>

みんなで記念写真。

<%= image "img_1235" %>

土曜日帰宅組とわかれて、角南と柴田くんと三人で温泉へ向かう。

<pre class="address">
<a href="https://r-tenryu.com/">天ヶ瀬温泉 天龍荘</a>
〒879-4203 大分県日田郡天瀬町大字湯山1137
TEL: 0973-57-2370
E-mail: tenryuso@bronze.ocn.ne.jp
</pre>

川沿いに旅館が建ち並ぶひなびた温泉街。川のすぐ横に露天風呂がいくつかあります。

<%= image "cimg2853" %>
<%= image "cimg2854" %>

部屋はこんな感じ。

<%= image "cimg2855" %>
<%= image "cimg2856" %>

内風呂入っていきなり晩ごはん。腹へってねー。まあ、いわゆる旅館飯ってやつ。

<%= image "cimg2858" %>
<%= image "cimg2859" %>
<%= image "cimg2861" %>
<%= image "cimg2862" %>
<%= image "cimg2864" %>
<%= image "cimg2867" %>

食後、腹ごなしに露天風呂に入りにいく。
ほんと、川沿いのひらけたところに温泉があって、服を置く棚があるだけ。かなり露出プレイ。

<%= image "cimg2869" %>
<%= image "cimg2870" %>
