---
title: 九州旅行 その2
tags: cave, kyushu, travel
---
朝飯。旅館の朝飯って結構好きなんだよね。夜にこれ出してくれたらいいのに。

<%= image "cimg2875" %>
<%= image "cimg2872" %>
<%= image "cimg2873" %>
<%= image "cimg2874" %>

茶柱。

<%= image "cimg2879" %>

窓からの風景。中央あたりに見えるのが昨夜入った露天風呂。

<%= image "cimg2880" %>
<%= image "cimg2883" %>
<%= image "cimg2887" %>

慈恩の滝へ。

<%= image "cimg2892" %>
<%= image "cimg2889" %>
<%= movie "cimg2893" %>
<%= movie "cimg2895" %>
<%= image "cimg2897" %>
<%= image "cimg2902" %>
<%= image "cimg2903" %>

本<del>ヤバ系</del>耶馬渓。

<%= image "cimg2906" %>
<%= image "cimg2907" %>
<%= image "cimg2909" %>
<%= image "cimg2910" %>
<%= image "cimg2912" %>

地鶏の唐揚げ食いたかったけど、タイミング逃してモスバーガー。

<%= image "cimg2916" %>
<%= image "cimg2917" %>
<%= image "cimg2918" %>

ここら辺カルスト台地です。そういや昔習ったなあ。

<%= image "janog16_cave35" %>
<%= image "janog16_cave33" %>
<%= image "janog16_cave34" %>
<%= image "janog16_cave37" %>
<%= image "cimg2932" %>

階段を延々とくだる。

<%= image "cimg2938" %>

さて、メインイベント、マジ恐かったっす。こんなのディズニーがやってたらとっくに訴えられてんぞ。

<pre class="address">
<a href="http://www.senbutsu-cave.com/">千仏鍾乳洞</a>
福岡県北九州市小倉南区平尾台
TEL: 093-451-0368
</pre>

<%= image "janog16_cave01" %>
<%= image "janog16_cave03" %>

まず入口でサンダル貸してもらいます。500mあたりから足元に水が流れてるので。靴じゃダメ。

<%= image "cimg2960" %>
<%= image "cimg2959" %>

入口。入ったから瞬間すんげえ涼しい。ここにオフィス作ったら地球に優しいなあ。

<%= image "cimg2941" %>
<%= image "janog16_cave02" %>

まだここら辺は余裕あり。

<%= image "cimg2942" %>
<%= image "janog16_cave04" %>
<%= image "janog16_cave06" %>
<%= image "cimg2946" %>

500mあたりで下が水に。この水が冷たいのなんのって。狭くってすれ違うのも大変。

<%= image "janog16_cave07" %>
<%= image "janog16_cave08" %>
<%= image "janog16_cave10" %>
<%= image "janog16_cave11" %>
<%= image "janog16_cave12" %>

もうすぐ照明が消える。天井がどんどん低くなってくる。

<%= image "cimg2948" %>
<%= image "cimg2950" %>
<%= image "cimg2952" %>

ここから照明が消えます。
写真撮るときはフラッシュたいてるので分からんと思うけどマジ真の闇。
角南と柴田くんはヘッドライト持ってきたので、間にいれてもらう。

<%= image "cimg2953" %>

ちょっと進むともう天井は腰あたりだし、水は膝上まで来てるし、上から水も落ちてくるし、
真っ暗だし、泣きそうになる。もはや観光地ではないぞ。

<%= image "janog16_cave17" %>
<%= image "janog16_cave18" %>
<%= image "janog16_cave19" %>
<%= image "janog16_cave20" %>
<%= image "janog16_cave21" %>

これ以上は全身濡れる覚悟が必要。今回はデジカメ持ってきてるのでここで断念。
次回は水着で来よう。ということで引き返す。

<%= image "cimg2954" %>
<%= image "cimg2955" %>
<%= image "janog16_cave23" %>
<%= image "janog16_cave24" %>
<%= image "janog16_cave25" %>
<%= image "janog16_cave27" %>
<%= image "janog16_cave28" %>

前情報が「濡れる」「途中で電気が無くなる」ぐらいしかないので、
すれ違う客を見てると、なめた格好をしてる。デカい鞄を肩にかついだおねーちゃんとか、
ヒラヒラの長いスカートはいたおねーちゃんとか、ヘッドライトつけてるのに乳児抱いたお父さんとか。
奥に捨ててくるつもりか？

出口で記念撮影。最後まで行けなかったにも関わらずこんだけ濡れます。

<%= image "janog16_cave30" %>
<%= image "cimg2956" %>
<%= image "cimg2957" %>
<%= image "cimg2967" %>
<%= image "cimg2968" %>
<%= image "cimg2970" %>

地図で確認するとたぶん第二の滝の手前で断念。次は最後まで行きたい。

<%= image "cimg2962" %>

福岡に戻る。ラストスパートをかますべくラーメン屋へ。

<pre class="address">
<a href="http://www.ramenkyushu.com/cgi-bin/search.cgi?no=93">一蘭</a>
福岡県福岡市中央区天神1-10-15
TEL: 092-736-5272
</pre>

<%= image "cimg2978" %>
<%= image "cimg2975" %>

さらに「旬」という屋台へ。

<%= image "cimg2987" %>
<%= image "cimg2981" %>
<%= image "cimg2985" %>
<%= image "cimg2979" %>
<%= image "cimg2980" %>
<%= image "cimg2984" %>

さらにラーメン屋を探してブラつく。風俗呼び込みの兄ちゃんと紹介されたラーメン屋。
薬膳っぽいので、お腹一杯でも食えました。飲んだ後に最適ですな。

<pre class="address">
<a href="http://www.ramenkyushu.com/cgi-bin/search.cgi?no=93">烏骨鶏ラーメン龍</a>
福岡県福岡市博多区中洲5-5-9
TEL: 092-262-1540
</pre>

<%= image "cimg2989" %>
<%= image "cimg2991" %>
<%= image "cimg2992" %>

おなかいっぱいのぱい。
