---
title: どじょっこ
tags: loach, restaurant, tokyo
---
yuo、ayaya、katoさんと飲む。

<pre class="address">
<a href="http://www5.ocn.ne.jp/~dojokko/">どじょっこ</a>
東京都荒川区町屋1-17-6
Tel: 03-3895-0003
</pre>

<%= image "cimg3026" %>
<%= image "cimg3027" %>

このわた。

<%= image "cimg3028" %>

くじらの紅白盛り2種(ミンクとつち鯨)。

<%= image "cimg3030" %>
<%= image "cimg3046" %>

どじょう丸鍋。

<%= image "cimg3033" %>
<%= image "cimg3037" %>
<%= image "cimg3039" %>

鱧。酢みそで。

<%= image "cimg3043" %>

なまずの唐揚げ。

<%= image "cimg3050" %>

岩ガキ。最高っす。つるつるっと食す。

<%= image "cimg3054" %>

鯨のユッケ。

<%= image "cimg3062" %>

鰻の白焼きとタレ焼き。

<%= image "cimg3065" %>
<%= image "cimg3066" %>

<%= image "cimg3056" %>
<%= image "cimg3059" %>
<%= image "cimg3071" %>

おいしゅうございました。

そのままバーに雪崩込んで、終電逃してyuo家に泊めてもらう。
猫のかんなに縄張りに入ってきた怪しい奴ということで、一晩中見張られてました。
