---
title: 鎌倉花火大会
---
<a href="http://www1.kamakuranet.ne.jp/kamakura/05hanabi/hanabi.html">鎌倉花火大会</a>
行ってきました。上空はほとんど風が吹いてなかったためコンディション悪し。
自身の煙で花火が見えなくなることがしばしば。

<%= image "cimg3076" %>
<%= image "cimg3078" %>
<%= image "cimg3085" %>
<%= image "cimg3088" %>

動画も結構写るもんですな。

<%= movie "cimg3083" %>

当然のごとく帰りの鎌倉駅は激混み。

<%= image "cimg3092" %>
