---
title: 魚ひろ
---
赤むつ(のどぐろ)入荷のメールが届いたので、ついフラフラと<a href="http://www.uohiro.jp/">魚ひろ</a>へ。

<%= image "cimg3122" %>

付き出しとビール。

<%= image "cimg3093" %>
<%= image "cimg3096" %>

八海山のペールエールだそうで。

<%= image "cimg3097" %>

水茄子の刺身、岩ガキ、赤むつの刺身、赤むつの皮、ジャコと水菜のサラダ、鯛のカブト煮。

<%= image "cimg3100" %>
<%= image "cimg3102" %>
<%= image "cimg3109" %>
<%= image "cimg3118" %>
<%= image "cimg3121" %>
<%= image "cimg3124" %>
<%= image "cimg3126" %>

奥播磨袋吊り、冬樹、日高見、喜和鳥。

<%= image "cimg3112" %>
<%= image "cimg3115" %>
<%= image "cimg3120" %>
<%= image "cimg3125" %>
<%= image "cimg3131" %>
<%= image "cimg3132" %>
<%= image "cimg3134" %>

〆に魚丼。

<%= image "cimg3137" %>
<%= image "cimg3139" %>
