---
title: ジンギスカン
tags: kawasaki, lamb
---
ジンギスカンが食べたくなったので、
webでいろいろ調べたら川崎にいい店をみつけたので行ってみる。

<pre class="address">
<a href="http://www.yamajin.info/">やまじん</a>
神奈川県川崎市川崎区東田町7-1
TEL: 044-246-0441
</pre>

<%= image "cimg3140" %>
<%= image "cimg3141" %>
<%= image "cimg3144" %>
<%= image "cimg3147" %>
<%= image "cimg3150" %>
<%= image "cimg3155" %>
<%= image "cimg3158" %>
