---
title: 珊瑚礁＠鎌倉
tags: food, curry, kamakura
---
あかりちゃんが遊びに来たので、三人で鎌倉までカレーを食べにいく。
海の見える小洒落たカレー屋。

<pre class="address">
<a href="http://www.sunsun-navi.gr.jp/html/sango.html">珊瑚礁</a>
神奈川県鎌倉市七里ヶ浜東3-1-2
0467-31-5500
</pre>

<%= image "cimg3289" %>
<%= image "cimg3292" %>
<%= image "cimg3297" %>

スペアリブ、サラダ、浜豚のカレーと海老なカレー。俺が一番少食。

<%= image "cimg3302" %>
<%= image "cimg3303" %>
<%= image "cimg3304" %>
