---
title: 上海蟹
tags: chinese, food, yokohama
---
義父の撮った写真が、準特選をもらったので見に行く。モデルは義妹夫婦。

<%= image "cimg3374" %>

旬の上海蟹を食べに中華街へ。

<%= image "cimg3376" %>
<%= image "cimg3378" %>

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140105/14000669/">萬来亭</a>
神奈川県横浜市中区山下町126 
045-664-0767
</pre>

<%= image "cimg3382" %>
<%= image "cimg3386" %>
<%= image "cimg3388" %>
<%= image "cimg3392" %>
<%= image "cimg3396" %>
<%= image "cimg3400" %>
<%= image "cimg3406" %>
<%= image "cimg3410" %>
