---
title: 玉一
---
両親と三人で久しぶりに玉一に来る。

<pre class="address">
<a href="http://gourmet.yahoo.co.jp/gourmet/restaurant/Kinki/Osaka/guide/0302/M0027002215.html">玉一</a>
大阪市北区池田町17-4
06-6353-8626
</pre>

ケジャン(渡り蟹のキムチ)がめちゃ辛かった。

<%= image "cimg3448" %>
<%= image "cimg3444" %>
<%= image "cimg3446" %>
<%= image "cimg3450" %>
<%= image "cimg3452" %>
<%= image "cimg3455" %>
<%= image "cimg3460" %>

タコ刺し。

<%= movie "cimg3457" %>
