---
title: 魚ひろ
tags: food, japanese, seafood
---
大阪から両親が遊びに来て、食べまくり飲みまくりの週末を過ごす。
まずは魚ひろ連れていっとくでしょう。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

先付け、殻付き牡蛎、白子の刺身、赤貝、岩牡蛎、関サバ、ハツ(だっけかな)、松茸土瓶蒸し、野菜のてんぷら、ハタハタ、キンキの煮つけ、銀杏。

<%= image "cimg35691" %>
<%= image "cimg35721" %>
<%= image "cimg35751" %>
<%= image "cimg35771" %>
<%= image "cimg35821" %>
<%= image "cimg35871" %>
<%= image "cimg35941" %>
<%= image "cimg35951" %>
<%= image "cimg35971" %>
<%= image "cimg36001" %>
<%= image "cimg36041" %>
<%= image "cimg36111" %>

白子の刺身と、土瓶蒸しが絶品でございました。

これは鯛のウロコを揚げたものだそうで。

<%= image "cimg36071" %>

熱燗セット。

<%= image "cimg35901" %>
