---
title: 魚ひろ
tags: food, japanese, seafood
---
大阪から両親が遊びに来て、食べまくり飲みまくりの週末を過ごす。
まずは魚ひろ連れていっとくでしょう。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

先付け、殻付き牡蛎、白子の刺身、赤貝、岩牡蛎、関サバ、ハツ(だっけかな)、松茸土瓶蒸し、野菜のてんぷら、ハタハタ、キンキの煮つけ、銀杏。

<%= image "cimg3569" %>
<%= image "cimg3572" %>
<%= image "cimg3575" %>
<%= image "cimg3577" %>
<%= image "cimg3582" %>
<%= image "cimg3587" %>
<%= image "cimg3594" %>
<%= image "cimg3595" %>
<%= image "cimg3597" %>
<%= image "cimg3600" %>
<%= image "cimg3604" %>
<%= image "cimg3611" %>

白子の刺身と、土瓶蒸しが絶品でございました。

これは鯛のウロコを揚げたものだそうで。

<%= image "cimg3607" %>

熱燗セット。

<%= image "cimg3590" %>
