---
title: うなぎと焼肉
---
朝起きてまずはうなぎを食いに南千住へ。

<pre class="address">
<a href="http://www.tocera-sky.co.jp/dt_obana.htm">尾花</a>
東京都荒川区南千住5-33-1
03-3801-4670 予約不可
</pre>

yuo君に教えてもらったお店。注文してから鰻を焼きはじめるので、開店前から行列ができてます。
最初のグループに入れなかったら一時間待ちだもんねえ。

<%= image "cimg3628" %>
<%= image "cimg3615" %>
<%= image "cimg3616" %>
<%= image "cimg3617" %>
<%= image "cimg3622" %>
<%= image "cimg3623" %>
<%= image "cimg3631" %>

つづいて上野公園を観光。

<%= image "cimg3634" %>
<%= image "cimg3640" %>

おもろい絵馬を発見。まりなちゃん、何がくずれてたの！

<%= image "cimg3637" %>

浅草へ移動。

<%= image "cimg3643" %>
<%= image "cimg3647" %>
<%= image "cimg3649" %>
<%= image "cimg3652" %>
<%= image "cimg3655" %>
<%= image "cimg3656" %>

夜は川崎で焼肉。シビレ(胸腺)がおいしかった。

<pre class="address">
<a href="http://www.yamiichiclub-kawasaki.yokohama.walkerplus.com/">闇市倶楽部 川崎店</a>
川崎市川崎区砂子2-6-6テンキミビル3F
TEL 044-222-2985
</pre>

<%= image "cimg3660" %>
<%= image "cimg3661" %>
<%= image "cimg3662" %>
<%= image "cimg3665" %>
<%= image "cimg3666" %>
<%= image "cimg3670" %>
<%= image "cimg3672" %>
<%= image "cimg3673" %>
<%= image "cimg3675" %>
<%= image "cimg3677" %>

さらに2次会で焼き鳥屋へ。もう食えねえ。
