---
title: 飲茶
---
今日は中華街で飲茶。鶏の足ひさしぶりに食ったな。

<pre class="address">
<a href="http://r.gnavi.co.jp/g370001/">菜香市場通り店</a>
〒231-0023 神奈川県横浜市中区山下町190
Tel 045-641-4511
</pre>

<%= image "cimg3681" %>
<%= image "cimg3682" %>
<%= image "cimg3684" %>
<%= image "cimg3688" %>
<%= image "cimg3690" %>
<%= image "cimg3691" %>
<%= image "cimg3694" %>
<%= image "cimg3697" %>
<%= image "cimg3701" %>

さらにパフェ食って解散。

<pre class="address">
<a href="http://www.sotetsu-joinus.com/search/shop/284.html">水信パーラー</a>
横浜 JOINUS 2F
TEL 045-311-0183
</pre>

<%= image "cimg3704" %>
