---
title: 鎌倉でハイキング
tags: kamakura, outdoor, trail
---
嫁の運動不足解消のために鎌倉にハイキング。
一応紅葉見るのが目的だったけどちょっと早かった。

<%= image "cimg3707" %>
<%= image "cimg3709" %>
<%= image "cimg3711" %>
<%= image "cimg3713" %>
<%= image "cimg3715" %>
<%= image "cimg3716" %>
<%= image "cimg3717" %>
<%= image "cimg3719" %>
<%= image "cimg3722" %>

家を出たのが遅い上に、道間違えまくりで入山したのが16時。

で、山頂。やべえよもう日が沈むよ。慌てて下山。

<%= image "cimg3726" %>

足元が見ずらくなったころようやく町に出る。遭難しかけでした。

<%= image "cimg3729" %>
<%= image "cimg3731" %>

かろうじて見かけた紅葉。暗くてわからんて。

<%= image "cimg3732" %>

運動したのでにくにく。

<pre class="address">
<a href="http://www.hotpepper.jp/s/H000015316/top.html">闘牛家</a>
神奈川県横浜市中区伊勢佐木町3-101 2F
045-243-2989
</pre>

闇市倶楽部と同じ系列な気がする。メニューとか味とかよく似てるし。

<%= image "cimg3734" %>
<%= image "cimg3738" %>
<%= image "cimg3743" %>
<%= image "cimg3744" %>
<%= image "cimg3747" %>
<%= image "cimg3750" %>
<%= image "cimg3752" %>
<%= image "cimg3754" %>
