---
title: まん天餃子
tags: food, gyoza, yokohama
---
横浜で買物してたら腹へったので見かけた餃子屋に入る。

<pre class="address">
<a href="http://www.thediamond.gr.jp/search/shop/1846.html">まん天餃子</a>
横浜 ダイヤモンド街 Dエリア　
045-311-4303
</pre>

<%= image "cimg3825" %>
<%= image "cimg3826" %>
<%= image "cimg3828" %>
<%= image "cimg3829" %>
<%= image "cimg3831" %>
<%= image "cimg3832" %>

うまうま。
