---
title: 魚ひろですっぽん
tags: food, japanese, seafood
---
風邪ひいてるしボーナス出たしで魚ひろにすっぽんと熱燗やりにいく。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

<%= image "cimg3834" %>
<%= image "cimg3839" %>
<%= image "cimg3840" %>

今日は刺身は白海老、白子、カワハギ。白海老がおいしかった。

<%= image "cimg3846" %>
<%= image "cimg3848" %>
<%= image "cimg3854" %>

一杯目は手取川。

<%= image "cimg3850" %>

鍋が出てくる。でけえ。大将が指示して作ったもらった特注だそうで。野菜がしゃっきり仕上るそうな。

<%= image "cimg3857" %>
<%= image "cimg3862" %>
<%= image "cimg3876" %>
<%= image "cimg3878" %>

嫁が大将の写真を撮る。

<%= image "cimg3872" %>

ニ杯目は国権。

<%= image "cimg3874" %>

雑炊でしめる。

<%= image "cimg3882" %>

嫁はデザート。あたしゃ調子悪いのについつい田酒頼んだら案の定飲み切れなかった。もったいない。

<%= image "cimg3888" %>
