---
title: インド出張 その1
tags: food, india, travel
---
デリー空港に降りた瞬間から、なんか久しぶりに異国に来た感を感じる。
なんだろね、このアウェーな感じ。

空港からオンボロなタクシーでホテルへ。
めちゃめちゃな運転でした。もう一台のタクシーをぶっちぎって5分先行でホテル着。
しかも運ちゃんホテルの場所分からんらしくって運転しながら地図とにらめっこ。
英語通じないし。二人でホテルを探しながら走りましたよ。
なんで空港に来てるタクシーで5つ星のホテルの場所知らんねん。
ちなみに20kmぐらい走って250ルピー(約700円)。

で、ホテル着。大変よいホテルでございます。

<pre class="address">
<a href="http://www.claridges-hotels.com/Delhi/index.asp">The Claridges</a> New Delhi
12 Aurangzeb Rd, New Delhi 110011
Tel:+91 11-41335133
</pre>

<%= image "dsc04755" %>
<%= image "dsc04756" %>
<%= image "dsc04758" %>

ホテル内のインド料理屋に行こうとするが満杯。バーで時間潰し。

<%= image "dsc04761" %>

で、初の本場でインド飯。大変おいしゅうございました。
後から聞いたら結構有名なレストランで近隣のホテルからも食べに来るらしい。

<pre class="address">
<a href="http://www.claridges.com/the-claridges-newdelhi/dining-daba.asp?links=nd4d">Dhaba</a>
The Claridges New Delhi
12 Aurangzeb Rd, New Delhi 110011
Tel:+91 11-3955 5082/5083
</pre>

<%= image "dsc04763" %>
<%= image "dsc04765" %>
<%= image "dsc04766" %>
<%= image "dsc04768" %>
<%= image "dsc04771" %>
<%= image "dsc04772" %>
<%= image "dsc04773" %>

食後のスィートラッシー飲んだ瞬間、なんかヤバい味がしたけど、結局お腹は無事でした。

<%= image "dsc04774" %>
