---
title: インド出張 その4
tags: businesstrip, india, sightseeing
---
ホテル前の庭園。

<%= image "dsc04825" %>

時間が余ったのでちょっとだけ観光。
移動中に象発見。

<%= image "dsc04829" %>
<%= image "dsc04831" %>

<a href="http://ja.wikipedia.org/wiki/%E3%82%AF%E3%83%88%E3%82%A5%E3%83%96%E3%83%BB%E3%83%9F%E3%83%8A%E3%83%BC%E3%83%AB">クトゥブ・ミナール</a>へ。

<%= image "dsc04832" %>
<%= image "dsc04843" %>
<%= image "dsc04842" %>
<%= image "dsc04838" %>
<%= image "p1000232" %>

途中で建築やめちゃった方の搭。

<%= image "dsc04844" %>
<%= image "dsc04845" %>
<%= image "dsc04846" %>
<%= image "p1000237" %>

<%= image "dsc04852" %>
<%= image "dsc04849" %>
<%= image "dsc04853" %>
<%= image "dsc04854" %>
<%= image "dsc04855" %>
<%= image "p1000242" %>
<%= image "p1000249" %>
<%= image "p1000255" %>
<%= image "p1000257" %>
<%= image "dsc04858" %>
<%= image "dsc04861" %>
<%= image "dsc04863" %>
<%= image "dsc04865" %>
<%= image "dsc04866" %>

<a href="http://ja.wikipedia.org/wiki/%E3%82%AA%E3%83%BC%E3%83%91%E3%83%BC%E3%83%84">オーパーツ</a>の一つ、
<a href="http://ja.wikipedia.org/wiki/%E3%83%87%E3%83%AA%E3%83%BC%E3%81%AE%E9%89%84%E6%9F%B1">デリーの鉄柱</a>。

<%= image "dsc04856" %>
<%= image "p1000251" %>
<%= image "p1000253" %>
<%= movie "mov04860" %>

ムスク。

<%= image "p1000261" %>
<%= image "p1000263" %>
<%= image "dsc04869" %>
<%= image "dsc04870" %>
<%= image "dsc04872" %>
<%= image "dsc04873" %>
<%= image "dsc04874" %>
<%= image "dsc04875" %>
<%= image "dsc04877" %>
<%= movie "mov04868" %>
<%= movie "mov04871" %>

インドの永田町へ移動。

<%= image "dsc04883" %>
<%= image "dsc04884" %>

大統領官邸。10億人のトップかあ。

<%= image "dsc04885" %>
<%= image "p1000266" %>
<%= image "p1000267" %>
<%= image "p1000270" %>
<%= image "p1000272" %>

反対側にあるIndian Gateを目指す。

<%= image "dsc04891" %>

Indian Gate。

<%= image "dsc04899" %>
<%= image "dsc04900" %>
<%= image "dsc04903" %>
<%= image "dsc04904" %>
<%= image "dsc04906" %>
<%= image "p1000284" %>
<%= image "p1000291" %>

犬発見。噛まれたらいかにも病気もらいそうなんで、離れて撮る。

<%= image "dsc04908" %>
<%= image "dsc04907" %>

お昼ご飯。タンドリーチキンが絶品。鳥が美味いんだろうなあ。

<%= image "dsc04922" %>
<%= image "dsc04924" %>
<%= image "dsc04910" %>
<%= image "dsc04911" %>
<%= image "p1000293" %>
<%= image "dsc04914" %>
<%= image "dsc04916" %>
<%= image "dsc04919" %>
<%= image "dsc04920" %>
<%= image "dsc04921" %>
<%= image "p1000294" %>

Roundaboutのルールはイギリスと同じなのね。でも、右から車来てるのでガンガン車が突っ込んで行くんだけど。

<%= image "dsc04925" %>

お、豪邸発見。

<%= image "dsc04927" %>

お茶屋で紅茶を購入。

<pre class="address">
<a href="http://www.mittalteas.com/">Mittal Sores</a>
12, Sunder Nagar Market, New Delhi, 110003
Tel: 24358588
</pre>

<%= image "dsc04928" %>

デリー郊外を車で移動中の街並みを撮ってみた。普通に牛が歩いてるし。

<%= movie "mov04932" %>
<%= movie "mov04933" %>

日立のサービスセンターを見学。

<%= image "dsc04934" %>

帰りのデリー空港。

<%= image "dsc04936" %>
