---
title: 大阪出張
---
CKPセミナーで黒崎さんが講演。

<%= image "dsc04953" %>
<%= image "dsc04954" %>
<%= image "dsc04955" %>

<pre class="address">
<a href="http://www.ne.jp/asahi/spain/elponiente/cabo/newcabo.html">カボ・デルポニエンテ</a>
大阪市北区中之島3丁目6番32号 ダイビル1F
Tel 06-6449-0023
</pre>

ワインが進むメニュー揃えで大変素晴らしい。また来よ。

<%= image "dsc04956" %>
<%= image "dsc04958" %>
<%= image "dsc04960" %>
<%= image "dsc04961" %>
<%= image "dsc04962" %>
<%= image "dsc04964" %>
<%= image "dsc04965" %>
<%= image "dsc04966" %>
<%= image "dsc04968" %>
<%= image "dsc04970" %>
<%= image "dsc04971" %>
<%= image "dsc04973" %>
<%= image "dsc04975" %>
<%= image "dsc04977" %>
<%= image "dsc04979" %>
