---
title: タイ料理
tags: restaurant, train
---
ラゾーナ川崎のアカチャン本舗に行こうとしたら、運良く蓮が寝てくれたので、昼飯を食いにレストランへ。

<pre class="address">
<a href="http://www.lazona-kawasaki.com/shop_detail/42100.shtml">Tasty Thai Dining ティーヌン</a>
川崎市幸区堀川72-1 ラゾーナ川崎プラザ店 4F
044-874-8427
</pre>

普通に辛くてうまいです。お薦め。

<%= image "dsc04989" %>
<%= image "dsc04991" %>
<%= image "dsc04995" %>
<%= image "dsc04997" %>
<%= image "dsc05000" %>
<%= image "dsc05003" %>

スーパービュー踊り子が通りかかったんで撮っとく

<%= image "dsc04986" %>
<%= image "dsc04985" %>
