---
title: タンドリーチキン
tags: cooking, food, india
---
インド土産でタンドリーパウダー買ってきたのでタンドリーチキンに挑戦。

<%= image "dsc05012" %>

スパイスは出来合いで混ざってるものを使った以外は、
<a href="http://www.yamaken.org/mt/kuidaore/archives/2004/10/_60.html">ここ</a>のレシピを参考する。

<%= image "dsc05011" %>
<%= image "dsc05014" %>

レモンを買い忘れたので冷蔵庫にあった謎の柑橘類。

<%= image "dsc05017" %>

タンドリーパウダーにすりおりしニンニクとヨーグルトを混ぜて一日保管。

<%= image "dsc05015" %>

で、グリルで焼いたもの。

<%= image "dsc05019" %>

デキは全般的に今イチでした。
漬け時間が足りないような気がするのと、焼きが中途半端なのと、スパイスも今イチのような気がする。
次はアメ横でスパイス買ってくるかなあ。
