---
title: 野毛山動物園
---
一瞬暖かくなったので動物園へ。
到着していきなり昼飯。バッテラの酢飯部分を息子に取られて単なる〆鯖。

<pre class="address">
<a href="http://www2.nogeyama-zoo.org/">野毛山動物園</a>
横浜市西区老松町63-10
045-231-1307
</pre>

<%= image "dsc05044" %>
<%= image "dsc05052" %>

ふれあいコーナー。鼠怖っ！

<%= image "dsc05057" %>
<%= movie "mov05054" %>
<%= movie "mov05055" %>

フラミンゴ。

<%= image "dsc05059" %>

キリン。いつの間にか子供がいる。

<%= image "dsc05062" %>
<%= movie "mov05063" %>

トラとライオン。トラが珍しく起きてた。ウロウロされると結構怖い。

<%= image "dsc05067" %>
<%= image "dsc05073" %>

今回一番長居した横浜市電の車両。動物ちゃうし。
連が車両内を延々と往復ダッシュ。

<%= image "dsc05076" %>
<%= image "dsc05079" %>
<%= image "dsc05085" %>
<%= image "dsc05093" %>
<%= movie "mov05081" %>

レッサーパンダ。

<%= image "dsc05102" %>

閉園時間になったので、近所の公園へ移動。
最近すべり台ばっか。

<%= image "dsc05104" %>
<%= image "dsc05107" %>
<%= movie "mov05109" %>
