---
title: 川崎
---
川崎BEの屋上でいけてるプレイスポット発見。色んな遊具があって連がはしゃぎまくる。

<%= image "dsc05112" %>
<%= image "dsc05113" %>
<%= image "dsc05116" %>
<%= image "dsc05119" %>
<%= image "dsc05120" %>
<%= image "dsc05122" %>
<%= image "dsc05124" %>
<%= image "dsc05129" %>
<%= movie "mov05130" %>

疲れてがっつり昼寝したのでラゾーナで韓国料理。
最近赤坂の韓国料理屋でランチ食ってて舌が肥えてるせいか、今イチに感じる。
値段がも高くて量が少ない。いいとこなし。

<pre class="address">
<a href="http://www.lazona-kawasaki.com/shop_detail/42200.shtml">妻家房</a>
川崎市幸区堀川72-1 ラゾーナ川崎プラザ店 4F
044-520-2108
</pre>

<%= image "dsc05133" %>
<%= image "dsc05136" %>
<%= image "dsc05137" %>
<%= image "dsc05138" %>
<%= image "dsc05140" %>

今日は男性アイドルのミニライブやってた。
女性アイドルはオタクしか来ないけど、
男性アイドルは若い子が見にくるので規模がデカい。
少なくとも人数比では市場規模が違うねえ。

<%= image "dsc05144" %>

連が起きたのでさらに別の公園へ。滑り台ばっかりやなあ。

<%= image "dsc05147" %>
<%= image "dsc05150" %>
<%= movie "mov05146" %>

サッカーに混ぜてもらおうとサッカー少年の輪に飛び込んでって、何となくサッカーしてる気になっとる。
少年達は迷惑だろうけど、おもろいので観察する。

<%= movie "mov05155" %>

なんか無理矢理だけど何となくブランコ漕げるようになった。

<%= movie "mov05162" %>

さらに連が寝たのでベルギービール屋へ。

<pre class="address">
<a href="http://www.lazona-kawasaki.com/shop_detail/42400.shtml">ベルギービール＆カフェ　Patrasche</a>
川崎市幸区堀川72-1 ラゾーナ川崎プラザ店 4F
044-874-8430
</pre>

<%= image "dsc05163" %>
<%= image "dsc05168" %>
<%= image "dsc05169" %>
<%= image "dsc05176" %>
<%= image "dsc05179" %>
<%= image "dsc05165" %>
<%= image "dsc05166" %>
<%= image "dsc05171" %>
<%= image "dsc05174" %>
