---
title: カレー
---
横浜ヨドバシの地下でカレー。

<pre class="address">
インドカリーダイニング <a href="http://www.yodobashi-yokohama.com/restaurant/restaurant_coba.html">Cobara-Hetta</a>
TEL 045-326-2910
営業時間 11:00-23:00 (LO22:30)
</pre>

<%= image "dsc05238" %>
<%= image "dsc05244" %>
<%= image "dsc05245" %>
<%= image "dsc05240" %>
<%= image "dsc05241" %>

ナンにサグカレーをつけて食わす。
ほとんど辛くないので普通に気に入ったようです。

<%= image "dsc05247" %>

隣のテーブルの女子中学生4人組がこっち見ながらひそひそ声で「赤ちゃんにカレー食わしてるよ」と会話してた。
そういう教育方針なもんで。
