---
title: 房総旅行 1日目 お宿
---
今回のお宿。

<pre class="address">
<a href="http://kakureyado.jp/">広丞庵 かのか</a>
〒298-0202　千葉県夷隅郡大多喜町下大多喜2215
</pre>

離れの部屋が三つだけという宿です。
平日予約なのに3ヶ月前から予約しないと空いてないという人気宿。
お値段は若干高いのですが、それにも増して施設、サービスが素晴らしい。
十分満足できます。

宿帳記帳時のお茶とお茶菓子サービス。

<%= image "dsc05425" %>

部屋はこんな感じ。全部床暖房。

<%= image "dsc05430" %>
<%= image "dsc05431" %>
<%= image "dsc05432" %>

ベランダからの眺め。ため池の向こうは大多喜カントリークラブ。
周囲に人の気配ゼロ。まさに隠れ宿って感じ。
ウグイスも鳴いてます。

<%= image "dsc05435" %>
<%= image "dsc05427" %>
<%= image "dsc05440" %>
<%= image "dsc05442" %>
<%= movie "mov05443" %>

部屋付きの露天風呂。残念ながら温泉ではないです。

<%= image "dsc05428" %>
<%= image "dsc05434" %>
<%= image "dsc05436" %>

浴衣の代わりに作務衣が提供されてます。
確かに浴衣より使い勝手がよい。

<%= image "dsc05444" %>
<%= image "dsc05450" %>
