---
title: 房総旅行 1日目 鴨川シーワールド
tags: aquarium, kamogawa, travel
---
鴨川シーワールドへ。

<pre class="address">
<a href="http://www.kamogawa-seaworld.jp/">鴨川シーワールド</a>
〒296-0041 千葉県鴨川市東町1464-18
Tel 04-7093-4803
</pre>

シャチのショーすげえ。

<%= image "dsc05368" %>
<%= image "dsc05379" %>
<%= movie "mov05373" %>
<%= movie "mov05372" %>

水族館鑑賞。

<%= image "dsc05380" %>
<%= image "dsc05385" %>
<%= image "dsc05390" %>
<%= image "dsc05397" %>

セイウチ見て蓮がビビってた。確かに怖い。

<%= movie "mov05391" %>

ラッコ。

<%= image "dsc05395" %>
<%= movie "mov05392" %>

<%= image "dsc05401" %>
<%= image "dsc05403" %>
<%= image "dsc05411" %>
<%= image "dsc05414" %>
<%= image "dsc05420" %>

ペリカンの行進。なんか怖い。

<%= image "dsc05418" %>
<%= movie "mov05417" %>

ウミガメの子供。癒し系。

<%= movie "mov05421" %>
