---
title: 房総旅行 1日目 フェリー
tags: chiba, ferry, travel
---
千葉に遊びにいく。
<a href="http://www.tokyowanferry.com/">カーフェリー</a>で久里浜から海を渡って千葉へ。

<%= image "dsc05352" %>
<%= image "dsc05364" %>

フェリーの中はこんな感じ。

<%= image "dsc05363" %>

カーフェリーは40分の船旅ですがイベントとして十分に楽しい。
神奈川から千葉行く人にはお勧め。
カモメにかっぱえびせんをあげて遊ぶ。

<%= image "dsc05355" %>
<%= movie "mov05353" %>
<%= movie "mov05358" %>
<%= movie "mov05359" %>

そして、ジャンクフードの味に目覚めた蓮が残りのかっぱえびせんを食い続ける。
景色の動画撮ってたら横でポリポリうるせーの。

<%= image "dsc05361" %>
<%= movie "mov05365" %>
