---
title: 房総旅行 2日目 市原 ぞうの国
tags: chiba, travel, zoo
---
旅の最後のイベントはぞうさんに乗りに来ました。

<pre class="address">
<a href="http://www.zounokuni.com/">市原 ぞうの国</a>
市原市山小川937
0436-88-3001
</pre>

入り口で餌を購入。

<%= image "dsc05543" %>

色んな動物がいます。結構、自由に餌をあげれる。

<%= image "dsc05537" %>
<%= image "dsc05542" %>
<%= image "dsc05545" %>
<%= image "dsc05546" %>
<%= image "dsc05555" %>
<%= image "dsc05559" %>
<%= image "dsc05563" %>
<%= movie "mov05541" %>

ショーが終わった象が移動。

<%= image "dsc05551" %>
<%= movie "mov05552" %>

おお、白クジャクだ。横には重モビルスーツ。

<%= image "dsc05566" %>

デカねずみ。

<%= image "dsc05568" %>
<%= movie "mov05573" %>

キリンに餌をやる。手をねっちょりとねぶられる。

<%= image "dsc05569" %>
<%= image "dsc05570" %>
<%= image "dsc05572" %>
<%= movie "mov05613" %>

爬虫類その他。

<%= image "dsc05575" %>
<%= image "dsc05576" %>
<%= image "dsc05577" %>
<%= image "dsc05578" %>
<%= image "dsc05579" %>
<%= image "dsc05580" %>
<%= image "dsc05582" %>
<%= image "dsc05583" %>
<%= image "dsc05610" %>

ぞうさんショーのはじまり。すげえ芸達者。

<%= image "dsc05586" %>
<%= image "dsc05587" %>
<%= image "dsc05591" %>
<%= image "dsc05594" %>
<%= image "dsc05595" %>
<%= movie "mov05593" %>
<%= movie "mov05597" %>
<%= movie "mov05601" %>
<%= movie "mov05606" %>

座ると中年のお父さんみたい。

<%= image "dsc05604" %>

親子で象の背中に乗りました。

<%= image "cci20080921_00000" %>
