---
title: 小田原 その2
tags: odawara, restaurant, park
---
一夜城でお茶の会をやっているじーちゃんを見にいく。

<%= image "dsc_0005" %>
<%= image "dsc05678" %>
<%= image "dsc05697" %>
<%= image "dsc05690" %>
<%= image "dsc_0009" %>
<%= image "dsc_0010" %>

案の上、じっとしてなくてあっちこっち走り回る。迷惑。

<%= image "dsc05683" %>
<%= image "dsc05685" %>
<%= image "dsc05694" %>
<%= image "dsc05695" %>
<%= image "dsc05699" %>

坦々麺を食いにいく。坦々麺しか売ってないお店。ここがうまいのよ。

<pre class="address">
<a href="http://www.walkerplus.com/yokohama/gourmet/contents/yor153.html">中華 四川</a>
神奈川県小田原市上曽我173-1
0465-42-5451
</pre>

<%= image "dsc05704" %>
<%= image "dsc05706" %>
<%= image "dsc05707" %>
<%= image "dsc05710" %>
<%= image "dsc05714" %>
<%= image "dsc05717" %>
<%= image "dsc05711" %>

上府中公園へ。

<%= image "dsc05723" %>
<%= image "dsc05726" %>
<%= image "dsc05732" %>
<%= image "dsc05734" %>
<%= image "dsc05738" %>
<%= image "dsc05743" %>
<%= image "dsc05747" %>
<%= image "dsc05752" %>
<%= image "dsc05755" %>
<%= movie "mov05728" %>
<%= movie "mov05745" %>

さすが丹沢エリアだけあって、この公園は湧水を使ってるので水遊びOKです。

<%= image "dsc05757" %>
<%= image "dsc05762" %>
<%= image "dsc05764" %>

蓮が水遊びしたいと言い出す。まあ、そりゃそうだわな。

<%= image "dsc05769" %>
<%= image "dsc05771" %>
<%= image "dsc05774" %>
<%= image "dsc05775" %>
