---
title: 横浜
tags: yokohama, family, restaurant
---
大阪のじーちゃんばーちゃんが遊びに来る。
そごうの屋上へ。

<%= image "dsc05800" %>
<%= image "dsc05803" %>
<%= image "dsc05804" %>

晩ご飯。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/rstdtl/14002713/">一如</a>
神奈川県横浜市西区岡野1-10-12
045-311-7422
</pre>

コース料理になるけど個室が使えるので子供連れに最適。

<%= image "dsc05807" %>
<%= image "dsc05808" %>
<%= image "dsc05810" %>
<%= image "dsc05821" %>
<%= image "dsc05823" %>
<%= image "dsc05825" %>
<%= image "dsc05827" %>
<%= image "dsc05830" %>
<%= image "dsc05834" %>

<%= movie "mov05828" %>
