---
title: 小田原 その2
---
午前中は雨が降ってたので、まずは実家でまったり。

<%= image "dsc05885" %>
<%= image "dsc05888" %>
<%= image "dsc05903" %>

それからトイざらすへ。

<%= image "dsc_0033" %>
<%= image "dsc_0003" %>
<%= image "dsc_0004" %>
<%= image "dsc_0012" %>
<%= image "dsc_0015" %>
<%= image "dsc_0021" %>
<%= image "dsc_0022" %>
<%= image "dsc_0024" %>
<%= image "dsc_0028" %>
<%= image "dsc_0034" %>
<%= image "dsc_0039" %>
<%= image "dsc_0042" %>
<%= image "dsc_0043" %>
<%= image "dsc_0045" %>
<%= image "dsc_0046" %>
<%= image "dsc_0051" %>

<%= image "dsc_0057" %>
<%= image "dsc_0058" %>
<%= image "dsc_0069" %>
<%= image "dsc_0073" %>
<%= image "dsc_0074" %>
<%= image "dsc_0075" %>
<%= image "dsc_0080" %>

雨がやんだので、
<a href="http://www.city.odawara.kanagawa.jp/kanko/Leisure/Castle/jyousikouen.html">小田原城址公園</a>へ。

<%= image "dsc05911" %>
<%= image "dsc05913" %>
<%= image "dsc05918" %>
<%= image "dsc05922" %>
<%= image "dsc_0088" %>
<%= image "dsc_0089" %>
<%= image "dsc_0100" %>
<%= image "dsc_0106" %>
<%= image "dsc_0111" %>
<%= image "dsc_0112" %>
<%= image "dsc_0113" %>
<%= image "dsc_0115" %>
<%= image "dsc_0125" %>
<%= image "dsc_0198" %>

象発見。

<%= image "dsc05919" %>

チビどもの餌付け。

<%= image "dsc05924" %>
<%= image "dsc05928" %>
<%= image "dsc05934" %>

ちょっとした乗り物もコーナーもあり。

<%= image "dsc05994" %>
<%= image "dsc05939" %>

蒸気機関車に見鉄は興奮。

<%= image "dsc05941" %>

みんなで乗り込む。見鉄は大して喜ばず。

<%= image "dsc05958" %>
<%= image "dsc05937" %>
<%= image "dsc05945" %>
<%= image "dsc05953" %>
<%= image "dsc_0127" %>
<%= image "dsc_0131" %>
<%= image "dsc_0136" %>
<%= image "dsc_0159" %>
<%= image "dsc_0180" %>
<%= image "dsc_0183" %>
<%= image "dsc_0187" %>

カップ。

<%= image "dsc05966" %>
<%= image "dsc_0137" %>
<%= image "dsc_0142" %>
<%= image "dsc_0143" %>
<%= image "dsc_0146" %>
<%= image "dsc_0147" %>
<%= image "dsc_0153" %>

車。

<%= image "dsc05978" %>
<%= image "dsc05984" %>
<%= image "dsc05988" %>
<%= image "dsc05991" %>
