---
title: しましまタウン
tags: kawasaki, kids, play
---
溝の口のしましまタウンへ。ダディは二日酔いのため欠席。

<pre class="address">
<a href="http://www.namco.co.jp/ar/shimashimatown/mizonoguchi/event/">しましまタウン </a>
神奈川県川崎市高津区溝口1-4-1 マルイファミリー溝口 8F
</pre>

<%= image "dsc06180" %>
<%= image "dsc06182" %>
<%= image "dsc06187" %>
<%= image "dsc06189" %>
<%= image "dsc06193" %>
<%= image "dsc06204" %>

ボールハウス。

<%= image "dsc06201" %>
<%= image "dsc06202" %>
<%= image "dsc06206" %>

お弁当作ってたらしいんだけど、途中でわけわかんなくなって片付けが始まる。

<%= movie "mov06197" %>

基本的にしまじろうは無視の方向で。

<%= image "dsc06190" %>
<%= movie "mov06195" %>
<%= movie "mov06196" %>

と、思いきやハグ。

<%= image "dsc06185" %>
<%= movie "mov06198" %>
