---
title: 岸根公園
---
<a href="http://odekake.info/kanagawa/11_park/kishine_kouen/kishine_kouen.html">岸根公園</a>へ。

あっちこっち水だらけ。

<%= image "dsc06209" %>
<%= image "dsc06211" %>
<%= image "dsc06213" %>

水を見た蓮の目が光るが、とりあえずは遊具の方へ誘導。

<%= image "dsc06214" %>
<%= image "dsc06217" %>
<%= image "dsc06226" %>

がたがた橋は結構平気。

<%= image "dsc06220" %>

ローラーすべり台。10回ぐらい滑ってました。

<%= image "dsc06222" %>
<%= movie "mov06221" %>

で、待望の水遊び。着替え持ってきておいてよかった。

<%= image "dsc06229" %>
<%= image "dsc06231" %>
<%= movie "mov06232" %>

水遊び終了。別のすべり台で遊ぶ。

<%= image "dsc06235" %>
<%= image "dsc06236" %>
<%= image "dsc06238" %>
<%= image "dsc06241" %>
<%= image "dsc06245" %>
<%= movie "mov06233" %>

中洲に渡りたがるも、このがたがた橋はさすがに怖いらしい。隙間が広いもんね。

<%= image "dsc06246" %>
<%= image "dsc06248" %>
<%= movie "mov06252" %>

<%= image "dsc06254" %>
<%= image "dsc06260" %>
