---
title: 一鶴
tags: restaurant, yokohama
---
蓮が寝たので、横浜の一鶴へ。

q

<pre class="address">
<a href="http://r.gnavi.co.jp/a427400/">一鶴</a>
〒220-0005 神奈川県横浜市西区南幸2-15-1 TINOビル6F
045-317-1708
</pre>

<%= image "dsc06261" %>
<%= image "dsc06264" %>
<%= image "dsc06266" %>
<%= image "dsc06267" %>
<%= image "dsc06269" %>

起きたのでおやつにチョコバナナクレープ。

<%= image "dsc06271" %>
<%= image "dsc06274" %>
