---
title: 横浜市電保存館
---
埼玉の鉄道博物館は遠いのでどうしたもんかと思ってたら、
ママが手近の<a href="http://www.kyouryokukai.or.jp/ciden/">横浜市電保存館</a>を見つけた。
すっかり一家で鉄オタ状態。

天気も悪いので屋内イベントとして持ってこいということで、行きの道中。
川を見出すとなかなか進まねえ。

<%= image "dsc06314" %>
<%= image "dsc06316" %>
<%= image "dsc06317" %>

着きました。

<%= image "dsc06323" %>

<%= image "dsc06325" %>
<%= image "dsc06342" %>
<%= image "dsc06343" %>
<%= image "dsc06345" %>
<%= image "dsc06346" %>
<%= image "dsc06379" %>

Oゲージの展示。「これ買って。」と蓮。売ってません。

<%= image "dsc06350" %>
<%= image "dsc06352" %>
<%= image "dsc06353" %>

車庫入れゲーム。

<%= image "dsc06357" %>

動くOゲージとHOゲージのショー。すごいすごい。

<%= image "dsc06359" %>
<%= image "dsc06370" %>
<%= image "dsc06375" %>

自分で動かせれる模型もあります。

<%= image "dsc06383" %>
