---
title: 四季の森公園
---
電車＋バスで40分ぐらいの距離で、ママがいい公園を見つけてきた。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/sikinomori/index.html">四季の森公園</a>
横浜市緑区寺山町291
045-231-1696
</pre>

<%= image "dsc06474" %>
<%= image "dsc06477" %>
<%= image "dsc06484" %>
<%= image "dsc06490" %>
<%= image "dsc06496" %>
<%= movie "mov06480" %>
<%= movie "mov06485" %>

かめ。

<%= image "dsc06505" %>
<%= image "dsc06501" %>
<%= movie "mov06506" %>

遊具で遊ぶ。

<%= image "dsc06508" %>
<%= image "dsc06510" %>
<%= image "dsc06513" %>

水遊び。

<%= image "dsc06519" %>
<%= image "dsc06522" %>
<%= image "dsc06525" %>
<%= image "dsc06528" %>

遅刻してきたダディが参戦。

<%= image "dsc06539" %>
<%= image "dsc06549" %>
<%= image "dsc06543" %>
<%= movie "mov06548" %>

例によって笑いかたの分かってない蓮。

<%= image "dsc06536" %>

<%= image "dsc06553" %>
<%= image "dsc06558" %>
<%= movie "mov06551" %>
