---
title: 沖縄旅行 ANAホテル
tags: hotel, okinawa, pool, travel
---
最初のホテルは宜野湾のANAホテル。

<pre class="address">
<a href="http://www.laguna-garden.jp/index.html">ラグナガーデンホテル</a>
〒901-2224 沖縄県宜野湾市真志喜4-1-1
</pre>

朝飯くってそこらを散歩。いたるところに水があるので、息子大喜び。

<%= image "dsc06591" %>
<%= image "dsc06594" %>
<%= image "dsc06600" %>

ホテル内のプール。水遊びおむつでもプール入っていいのが大変素晴らしい。

<%= image "dsc06601" %>
<%= image "dsc06607" %>
<%= image "dsc06617" %>
<%= image "dsc06619" %>
<%= image "dsc06626" %>
<%= image "dsc06630" %>
<%= image "dsc06631" %>
<%= movie "mov06611" %>

まだ足の届かない水が怖い。

<%= movie "mov06605" %>

ウォータースライダー。

<%= movie "mov06613" %>

夜のプール。

<%= image "dsc06687" %>
