---
title: 沖縄旅行 ランチ
---
お昼ご飯は義妹のまきちゃんと外で食う。京風のおばんざーい。貴族のおまんざーい。

<pre class="address">
<a href="http://www.churashima.net/shima/special/cafe/okinawa/mati/index.html">mati cafe</a>
宜野湾市宇地泊613
098-898-1708
</pre>

<%= image "dsc06635" %>
<%= image "dsc06636" %>

<%= image "dsc06640" %>
<%= image "dsc06641" %>
<%= image "dsc06643" %>
<%= image "dsc06645" %>
<%= image "dsc06646" %>
<%= image "dsc06648" %>
<%= image "dsc06649" %>
