---
title: 沖縄旅行 ランチ
tags: okinawa, food, restaurant
---
昼飯。

<pre class="address">
<a href="http://r.gnavi.co.jp/f049007/">健康食彩レストラン だいこんの花</a>
〒900-0003 沖縄県那覇市安謝620
098-861-8889
</pre>

<%= image "dsc06720" %>
<%= image "dsc06721" %>
<%= image "dsc06723" %>
<%= image "dsc06724" %>
<%= image "dsc06727" %>
<%= image "dsc06729" %>
<%= image "dsc06733" %>
