---
title: 沖縄旅行 奥間リゾート
tags: okinawa, beach, travel
---
今年も、奥間の米軍リゾートに来ました。
場所は<a href="http://maps.google.co.jp/maps?hl=ja&amp;t=h&amp;om=1&amp;ie=UTF8&amp;ll=26.741323,128.157175&amp;spn=0.003176,0.005568&amp;z=18">ココ</a>。

とりあえず海で遊ぶが、蓮が去年海で遊んだことをまるっきり忘れていてビビりまくる。

<%= image "dsc06737" %>
<%= image "dsc06739" %>
<%= image "dsc06741" %>
<%= movie "mov06748" %>

というこどで、海に慣れさせるのを一からやり直し。
今年は慣れるの早かったけどね。

<%= image "dsc06749" %>
<%= image "dsc06760" %>
<%= image "dsc06762" %>
<%= image "dsc06765" %>

まーくんも参加。

<%= image "dsc06767" %>
<%= image "dsc06769" %>
<%= image "dsc06774" %>
<%= image "dsc06776" %>
<%= image "dsc06779" %>
<%= image "dsc06781" %>
<%= image "dsc06786" %>
<%= image "dsc06794" %>
<%= image "dsc06796" %>
<%= image "dsc06803" %>
<%= movie "mov06766" %>
<%= movie "mov06790" %>
<%= movie "mov06791" %>

<%= image "dsc06806" %>
