---
title: 沖縄旅行 美ら海水族館
tags: aquarium, dolphin, okinawa
---
水族館へ。

<pre class="address">
<a href="http://www.kaiyouhaku.com/">沖縄美ら海水族館</a>
〒905-0206 沖縄県国頭郡本部町字石川424番地
</pre>

<%= image "dsc06976" %>
<%= image "dsc06978" %>
<%= image "dsc06981" %>
<%= image "dsc06984" %>
<%= image "dsc06987" %>

イルカショー。

<%= image "dsc06989" %>
<%= image "dsc06994" %>
<%= image "dsc06995" %>
<%= movie "mov06990" %>
<%= movie "mov06998" %>

いっちょ前に拍手。

<%= image "dsc06992" %>

<%= image "dsc06999" %>
<%= image "dsc07003" %>
<%= image "dsc07005" %>
<%= image "dsc07007" %>
<%= image "dsc07010" %>
