---
title: 三ッ池公園
tags: park, water, kids
---
バスで移動。

<%= image "dsc07045" %>

水遊びができるそうなんで、水遊び用オムツを持って<a href="http://www.mitsuike.com/">三ッ池公園</a>へ。

<%= image "dsc07049" %>
<%= image "dsc07050" %>
<%= image "dsc07051" %>
<%= image "dsc07053" %>
<%= image "dsc07060" %>
<%= image "dsc07064" %>
<%= image "dsc07067" %>
<%= movie "mov07070" %>

噴水からいきなり水が出てきて、蓮がビビる。

<%= image "dsc07057" %>
<%= movie "mov07059" %>

かめとひまわり。

<%= image "dsc07073" %>
<%= image "dsc07077" %>

長い滑り台。

<%= movie "mov07071" %>

遊具の登りかたを習得。

<%= movie "mov07072" %>

次の日、蓮の右の目から目ヤニが出てた。
噴水が出る前から遊んでたんで淀んだ水に雑菌がたまってたっぽい。
水遊びの後はちゃんと目を洗いましょう。
