---
title: 小田原
tags: odawara, train, park
---
<a href="http://odekake.info/kanagawa/61_park/nishihirabatake_kouen/nishihirabatake_kouen.html">西平畑公園</a>にある小さい蒸気機関車に乗りに行く。

<%= image "dsc_0002" %>
<%= image "dsc_0006" %>

まだ機車来てないので、近くの子供の遊び場へ。
輪投げのルールが理解できないらしく、近づいて輪を入れる。

<%= image "dsc_0015" %>
<%= image "dsc_0018" %>

蒸気機関車は残念ながらメンテナンス中で、ロマンスカーが来ました。
蓮はロマンスカーも好きなのでご満悦。でも本当に好きなのは10000形じゃなくて<a href="http://www.odakyu.jp/romancecar/line_up/50000.html">VSE</a>。

<%= image "dsc07108" %>
<%= image "dsc_0022" %>
<%= image "dsc_0024" %>
<%= image "dsc_0029" %>

<a href="http://town.matsuda.kanagawa.jp/kankou/mharb.html">松田山ハーブガーデン</a>へ。

<%= image "dsc07114" %>
<%= image "dsc07120" %>
<%= image "dsc_0038" %>
<%= image "dsc_0045" %>
<%= image "dsc_0055" %>
<%= movie "mov07121" %>

上府中公園に移動して水遊び。

<%= image "dsc_0123" %>
<%= image "dsc07133" %>
<%= image "dsc07134" %>
<%= image "dsc07123" %>
<%= image "dsc_0099" %>
<%= image "dsc_0110" %>
<%= movie "mov07127" %>

噴水から急に水が吹き出して蓮がビビって泣き出す。
シャッターチャンスが欲しかった嫁と爺ちゃんは、水が出るの分かっててカメラ構えてました。
蓮は着替え持ってきたからいいけど、巻き込まれてビショビショになったダディはどうすりゃいいねん。

<%= image "dsc_0115" %>
<%= image "dsc_0118" %>
<%= image "dsc_0120" %>
<%= movie "mov07138" %>

はい、帰るよー。

<%= image "dsc_0153" %>
