---
title: もつ鍋パーティー
tags: fireworks, party
---
元GR2000 IPv6チーム他でもつ鍋パーティ。深夜番組で博多華丸・大吉が勧めてた<a href="http://www.bangbang.jp/index.html">お店</a>。
今時、ファックスのみの注文でやんの。

集まったビール。

<%= image "dsc07146" %>
<%= image "dsc07162" %>

はい二人笑ってー。

<%= image "dsc07156" %>
<%= image "dsc07150" %>

ということで、もつ鍋。噂に違わぬおいしさでございました。

<%= image "dsc07158" %>
<%= image "dsc07164" %>
<%= image "dsc07166" %>
<%= image "dsc07168" %>

その他の食材。
とうもろこし久しぶりに食ったけどうめえなあ。まずいヤツが全部燃料に流れたからか？

<%= image "dsc07174" %>
<%= image "dsc07179" %>
<%= image "dsc07181" %>
<%= image "dsc07184" %>
<%= image "dsc07186" %>
<%= image "dsc07172" %>
<%= image "dsc07195" %>

締めはチャンポン。

<%= image "dsc07192" %>
<%= image "dsc07197" %>
<%= image "dsc07188" %>

近所の公園で花火。蓮はビビって背中に隠れっぱなし。

<pre class="address">
花火のすみかわ
大阪市旭区高殿7-7-11
06-6951-6815
</pre>

<%= image "dsc07199" %>
<%= image "dsc07203" %>
<%= image "dsc07206" %>
<%= image "dsc07211" %>
<%= image "dsc07215" %>
<%= image "dsc07221" %>
<%= image "dsc07226" %>
<%= image "d1000002" %>
<%= image "d1000006" %>
<%= image "d1000008" %>
<%= movie "mov07213" %>
<%= movie "mov07218" %>

きよし謹製パウンドケーキ。

<%= image "dsc07232" %>

最後はグダグダとお絵描き勝負。蓮が審査員で当てれれば勝ち。写真出てる人がお題に勝った人。

<%= image "dsc07235" %>
<%= image "dsc07240" %>
<%= image "dsc07243" %>
<%= image "dsc07245" %>
