---
title: ジンギスカン
tags: dinner, yakiniku, yokohama
---
息子が寝たスキに横浜でジンギスカン。

<pre class="address">
<a href="http://www.hotpepper.jp/strJ000021760/">たたら</a>
神奈川県横浜市西区南幸1-10-18 中山ビル4F
045-314-2212
</pre>

<%= image "dsc07375" %>
<%= image "dsc07373" %>
<%= image "dsc07376" %>
<%= image "dsc07377" %>
<%= image "dsc07378" %>
<%= image "dsc07379" %>
