---
title: 鉄道博物館
tags: kids, museum, train
---
とうとう鉄オタの聖地に来てしまいました。

<pre class="address">
<a href="http://www.railway-museum.jp/">鉄道博物館</a>
〒330-0852 埼玉県さいたま市大宮区大成町3丁目47番
</pre>

JR大宮駅からニューシャトルで移動。ちっこい電車。

<%= image "dsc07370" %>
<%= image "dsc07371" %>

蓮が電車に興味を示して以来、思えば遠くに来たもんだ。

<%= image "dsc07249" %>
<%= image "dsc07367" %>

はい、笑ってー。

<%= image "dsc07251" %>

<%= image "dsc07252" %>
<%= image "dsc07255" %>
<%= image "dsc07260" %>
<%= image "dsc07264" %>
<%= image "dsc07267" %>
<%= image "dsc07273" %>
<%= image "dsc07282" %>

<%= image "dsc07286" %>
<%= image "dsc07291" %>

自分で運転できるミニ運転列車。小学生以上なので、うちは乗れず。

<%= image "dsc07292" %>

プラレールの部屋。ここだけで2時間ぐらいいました。家と同じやがな。

<%= image "dsc07299" %>

<%= image "dsc07301" %>
<%= image "dsc07308" %>
<%= image "dsc07314" %>
<%= image "dsc07317" %>
<%= movie "mov07318" %>
<%= image "dsc07321" %>
<%= image "dsc07327" %>

ミニシャトルで移動。

<%= image "dsc07332" %>
<%= image "dsc07334" %>
<%= image "dsc07340" %>

もう一つのキッズスペース。ここも滞在時間長かった……。

<%= image "dsc07342" %>
<%= image "dsc07344" %>
<%= image "dsc07347" %>
<%= image "dsc07351" %>
<%= image "dsc07354" %>
<%= image "dsc07358" %>

息子大興奮。昼寝もせずに6時間ぐらい遊んでた。
