---
title: 鷹一
---
池田さんと野毛で飲み。

<pre class="address">
<a href="http://www.katsugyo.jp/">鷹一</a>
神奈川県横浜市中区野毛町1丁目45
045-242-0458
</pre>

<%= image "200808121832" %>
<%= image "200808121836" %>
<%= image "200808121837" %>
<%= image "200808121847" %>
<%= image "200808121909" %>
