---
title: 品川水族館
tags: aquarium, dolphin, son
---
今日は水族館へ。

<pre class="address">
<a href="http://www.aquarium.gr.jp/">しながわ水族館</a>
東京都品川区勝島3-2-1
</pre>

ペンギン。

<%= movie "mov07422" %>

<%= image "dsc07424" %>
<%= image "dsc07432" %>
<%= image "dsc07443" %>
<%= image "dsc07451" %>
<%= image "dsc07460" %>
<%= movie "mov07439" %>
<%= movie "mov07466" %>

お約束イルカショー。

<%= image "dsc07467" %>
<%= image "dsc07470" %>
<%= image "dsc07471" %>

アザラシの水槽が水槽ごしに反対側が見えるので連が大喜び。走り回るは、他の客に愛想ふりまくわ。

<%= image "dsc07474" %>
<%= image "dsc07482" %>
<%= image "dsc07487" %>
<%= movie "mov07485" %>

帰りは水上バスを使ってみた。ここもなぜかテンション高くて走り回る。
ええ、迷惑です。

<%= image "dsc07490" %>
<%= image "dsc07497" %>
<%= image "dsc07499" %>
<%= image "dsc07502" %>
<%= image "dsc07505" %>
<%= image "dsc07511" %>
<%= image "dsc07514" %>
<%= image "dsc07517" %>
<%= image "dsc07519" %>
<%= movie "mov07493" %>
<%= movie "mov07494" %>
<%= movie "mov07495" %>
