---
title: ファンタジーキッズリゾート
tags: indoor, playground, son
---
雨天でも遊べる海老名のファンタジーキッズリゾートへ。

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名（旧駅前ダイエー）3F
</pre>

ひたすらに車を乗り回す。

<%= image "dsc07520" %>
<%= image "dsc07522" %>
<%= image "dsc07524" %>

<%= image "dsc07529" %>
<%= image "dsc07532" %>
<%= movie "mov07527" %>

ちょっと無理かなと思いつつ、登りかた教えたら登っちゃったよ。

<%= image "dsc07537" %>
<%= image "dsc07538" %>
<%= image "dsc07541" %>
<%= movie "mov07543" %>

<%= image "dsc07547" %>
