---
title: 湘南台文化センター
tags: museum, kids, culture
---
今日は湘南台来ました。この駅に来るのKAME時代以来ですな。駅前が変わっててびっくり。

<pre class="address">
<a href="http://www.kodomokan.fujisawa.kanagawa.jp/">湘南台文化センター こども館</a>
神奈川県藤沢市湘南台１丁目8番地
0466-45-1500
</pre>

<%= image "dsc07564" %>
<%= movie "mov07565" %>
<%= image "dsc07566" %>
<%= image "dsc07568" %>

この玉を上から下に転がすだけのおもちゃが大好きなの。えんえんとやってます。

<%= image "dsc07562" %>
<%= image "dsc07575" %>

<%= image "dsc07578" %>

民族衣装コスプレ。

<%= image "dsc07597" %>
<%= image "dsc07591" %>
<%= image "dsc07586" %>
<%= movie "mov07594" %>

さらにチャイナドレス。こっちは似合わんな。

<%= image "dsc07604" %>
<%= image "dsc07610" %>
<%= movie "mov07615" %>
