---
title: 小田原
tags: hakone, odawara
---
泊まりがけで小田原のじーちゃんばーちゃん家へ。

<%= image "dsc_0064" %>
<%= image "dsc_0034" %>
<%= image "dsc_0029" %>
<%= image "dsc_0012" %>
<%= image "dsc_0018" %>

水まきのお手伝い。

<%= image "dsc_0050" %>
<%= image "dsc_0052" %>
<%= image "dsc_0054" %>

小田原のじーちゃんと4人で<a href="http://www.hakone-kankosen.co.jp/">海賊の遊覧船</a>に乗りにいく。つーか、湖なので、湖賊？

<%= image "dsc07631" %>
<%= image "dsc_0068" %>
<%= image "dsc_0081" %>
<%= image "dsc_0083" %>
<%= image "dsc_0104" %>
<%= image "dsc_0108" %>
<%= image "dsc_0120" %>

さらに<a href="http://www.hakoneropeway.co.jp/index.cgi">ロープウェイ</a>に乗る。

<%= image "dsc_0162" %>
<%= image "dsc_0169" %>
<%= image "dsc_0173" %>
<%= image "dsc_0191" %>
<%= image "dsc_0213" %>
<%= image "dsc_0216" %>

はい、笑ってー。

<%= image "dsc_0168" %>

大湧谷で名物黒タマゴを食う。

<%= image "dsc_0237" %>
<%= image "dsc_0254" %>
<%= image "dsc_0262" %>
<%= image "dsc_0272" %>

やっちゃダメと言われたことやって、ダディに怒られて大泣き。

<%= image "dsc_0281" %>
<%= image "dsc_0285" %>

昼ごはん食べて帰ります。

<%= image "dsc_0294" %>
<%= image "dsc_0300" %>
<%= image "dsc_0308" %>
<%= image "dsc_0318" %>
