---
title: ログハウス
tags: park, loghouse, insects
---
川島町公園の<a href="http://odekake.info/kanagawa/11_park/log_hodogaya/log_hodogaya.html">ログハウス</a>へ。

<%= image "dsc07681" %>
<%= image "dsc07672" %>
<%= image "dsc07673" %>
<%= image "dsc07679" %>

でっかいかまきりを蓮が発見。
捕まえて嫌がる蓮に近づけたら、慌てて逃げた勢いで転んで泣かせてしまった。

<%= image "dsc07693" %>
<%= image "dsc07689" %>
<%= image "dsc07690" %>
