---
title: 焼肉
tags: food, restaurant, yakiniku
---
野江内代の焼肉屋へ。一階が精肉屋。

<pre class="address">
<a href="http://r.tabelog.com/osaka/A2703/A270305/27012723/">薩摩の久保</a>
大阪府大阪市都島区都島本通5丁目10-16
06-6927-4111
</pre>

特に内臓系が素晴らしい。

<%= image "dsc07951" %>
<%= image "dsc07952" %>
<%= image "dsc07955" %>
<%= image "dsc07956" %>
<%= image "dsc07958" %>
<%= image "dsc07960" %>
<%= image "dsc07961" %>
<%= image "dsc07965" %>
<%= image "dsc07967" %>
<%= image "dsc07969" %>

帰りに商店街にある台湾屋台で二次会。高校時代の友人がmixiでよく来てるので、一回来てみたかったの。

<%= image "dsc07978" %>
<%= image "dsc07991" %>
<%= image "dsc07992" %>
<%= image "dsc07971" %>
<%= image "dsc07975" %>
<%= image "dsc07986" %>
