---
title: スペイン料理
tags: osaka, restaurant, spain
---
大阪最後の夜はスペイン料理へ。

<pre class="address">
<a href="http://www.ne.jp/asahi/spain/elponiente/cabo/newcabo.html">カボ・デルポニエンテ</a>
大阪市北区中之島3丁目6番32号 ダイビル1F
Tel 06-6449-0023
</pre>

<%= image "dsc08096" %>
<%= image "dsc08097" %>
<%= image "dsc08102" %>
<%= image "dsc08104" %>
<%= image "dsc08106" %>
<%= image "dsc08109" %>
<%= image "dsc08111" %>
<%= image "dsc08112" %>
<%= image "dsc08115" %>

<%= image "dsc08099" %>
