---
title: 交通科学博物館
tags: museum, osaka, train
---
じーちゃんばーちゃんと合流して交通科学博物館へ。

<pre class="address">
<a href="http://www.mtm.or.jp/">交通科学博物館</a>
〒552-0001 大阪市港区波除3丁目
TEL 06-6581-5771 
</pre>

<%= image "dsc08052" %>
<%= image "dsc08053" %>
<%= image "dsc08054" %>
<%= image "dsc08057" %>
<%= image "dsc08065" %>
<%= image "dsc08069" %>
<%= image "dsc08071" %>
<%= image "dsc08075" %>
<%= image "dsc08077" %>

<%= image "dsc08084" %>
<%= image "dsc08080" %>
<%= image "dsc08081" %>
<%= image "dsc08082" %>

鉄道シミュレーター。

<%= image "dsc08086" %>
<%= image "dsc08088" %>
<%= image "dsc08091" %>
<%= movie "mov08092" %>
