---
title: 海遊館
tags: aquarium, kids, osaka
---
蓮くん観覧車デビュー。

<%= image "dsc08049" %>
<%= image "dsc07995" %>
<%= image "dsc07997" %>
<%= image "dsc08002" %>

<pre class="address">
<a href="http://www.kaiyukan.com/index.html">海遊館</a>・天保山マーケットプレース
〒552-0022 大阪市港区海岸通1
TEL 06-6576-5501
</pre>

<%= image "dsc08009" %>
<%= image "dsc08014" %>
<%= image "dsc08015" %>
<%= image "dsc08027" %>
<%= image "dsc08029" %>
<%= image "dsc08033" %>
<%= image "dsc08037" %>
<%= image "dsc08040" %>
<%= movie "mov08006" %>

偶然隣あわせた男の子と変な顔大会がはじまる。
お前ら魚見れ。

<%= image "dsc08042" %>
<%= movie "mov08045" %>
