---
title: 四季の森公園
tags: event, park, son
---
四季の森公園へ。何かのイベントやってた。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/sikinomori/index.html">四季の森公園</a>
横浜市緑区寺山町291
045-231-1696
</pre>

<%= image "dsc08116" %>
<%= image "dsc08117" %>
<%= image "dsc08118" %>
<%= image "dsc08123" %>
<%= image "dsc08125" %>
<%= image "dsc08127" %>
<%= image "dsc08128" %>
<%= movie "mov08126" %>

神奈川県警が警備に来てて、ついでに出し物の一環として、子供をパトカーに乗せてくれてたので、蓮も参加。
以前から蓮が「パトカーに乗りたい」と言ってたので、「大きくなったときにパトカーに乗るには二つの方法がある。簡単に乗れる方と、大変な方。」と説明してたんですが、あっさり乗れちゃいました。

<%= image "dsc08133" %>
<%= image "dsc08137" %>

電車の乗り物。

<%= image "dsc08140" %>
<%= image "dsc08142" %>
<%= image "dsc08143" %>
<%= movie "mov08141" %>
<%= image "dsc08146" %>
<%= image "dsc08149" %>
<%= image "dsc08150" %>

壁のぼりに挑戦。自分は男であると知った瞬間。

<%= movie "mov08130" %>

今度は成功。

<%= movie "mov08131" %>
