---
title: もんじゃ焼き
---
会社のメンバーでもんじゃ焼きへ。

<pre class="address">
<a href="http://g.pia.co.jp/shop/22282">はざま</a>
東京都中央区月島3-17-8
TEL 03-3534-1279
</pre>

<%= image "001" %>
<%= image "002" %>
<%= image "003" %>
<%= image "004" %>
<%= image "006" %>
