---
title: 足柄ふれあいの村
tags: camp, event, grandpa
---
キャンプファイアーをやりに足柄ふれあいの村へ。
時間がちょっと早かったので、<a href="http://odekake.info/kanagawa/61_park/nishihirabatake_kouen/nishihirabatake_kouen.html">西平畑公園</a>に蒸気機関車に乗りにいく。

<%= image "dsc08182" %>
<%= image "dsc08187" %>
<%= image "dsc08190" %>
<%= image "dsc08193" %>
<%= movie "mov08195" %>
<%= movie "mov08198" %>

スイッチバック。

<%= movie "mov08196" %>
<%= movie "mov08197" %>

ローラー滑り台で遊ぶ。

<%= image "dsc08201" %>
<%= movie "mov08208" %>
<%= image "dsc08204" %>

で、本来の目的地。

<%= image "dsc08253" %>
<%= image "dsc08257" %>
<%= image "dsc08258" %>

<pre class="address">
<a href="http://www.hureai.or.jp/ashigara/">足柄ふれあいの村</a>
〒250-0121 神奈川県南足柄市広町1507
0465-72-2010
</pre>

合宿所みたいなとこです。ボーイスカウトの一群も来てました。

<%= image "dsc08210" %>
<%= image "dsc08211" %>
<%= movie "mov08209" %>
<%= movie "mov08212" %>

で、イベント。まずはみかん刈り。

<%= image "dsc08216" %>
<%= image "dsc08217" %>
<%= image "dsc08225" %>
<%= image "dsc08227" %>
<%= movie "mov08214" %>
<%= movie "mov08215" %>

続きまして芋掘り。

<%= image "dsc08250" %>
<%= image "dsc08232" %>
<%= image "dsc08235" %>
<%= image "dsc08237" %>
<%= image "dsc08239" %>
<%= image "dsc08245" %>
<%= image "dsc08246" %>
<%= image "dsc08247" %>
<%= movie "mov08229" %>
<%= movie "mov08241" %>

フラフープを借りて遊び。なんか遊び方間違ってますけど。

<%= image "dsc08265" %>
<%= image "dsc08266" %>
<%= movie "mov08268" %>
<%= movie "mov08269" %>
<%= movie "mov08270" %>
<%= movie "mov08271" %>
<%= movie "mov08272" %>

キャンプファイヤー。お約束で掘った芋を焼く。

<%= image "dsc08284" %>
<%= image "dsc08276" %>
<%= image "dsc08283" %>
<%= image "dsc08286" %>
<%= image "dsc08290" %>

勝手に歌も始まった。

<%= movie "mov08288" %>
