---
title: こどもの杜
tags: animal, park, playground
---
<pre class="address">
<a href="http://local.yahoo.co.jp/detail/spot/26a18b01e77f45a74596e215703ce440/">こどもの杜</a>
神奈川県横浜市青葉区みたけ台26-17
045-972-7700
</pre>

<%= image "dsc08570" %>
<%= image "dsc08573" %>
<%= image "dsc08574" %>
<%= image "dsc08575" %>
<%= image "dsc08579" %>
<%= movie "mov08568" %>
<%= movie "mov08581" %>

げっ歯類と会話しようとする幼児。

<%= movie "mov08566" %>
<%= movie "mov08569" %>

自転車泥棒の図。

<%= image "dsc08583" %>

<%= image "dsc08585" %>
<%= image "dsc08586" %>
<%= image "dsc08588" %>
<%= image "dsc08591" %>
<%= image "dsc08596" %>
<%= image "dsc08597" %>
<%= image "dsc08603" %>
<%= image "dsc08606" %>
<%= movie "mov08601" %>
<%= movie "mov08605" %>

<%= image "dsc08608" %>
<%= image "dsc08609" %>
<%= image "dsc08620" %>
<%= image "dsc08622" %>
<%= image "dsc08629" %>
<%= image "dsc08632" %>
