---
title: 茅ヶ崎里山公園
tags: outdoor, park, playground
---
お楽しみ発表会が午前中で終わったので公園へ。

<%= image "dsc08669" %>

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/satoyama/">茅ヶ崎里山公園</a>
0467-50-6058
</pre>

<%= image "dsc08674" %>
<%= image "dsc08686" %>
<%= image "dsc08690" %>
<%= movie "mov08676" %>

名物、雲のトランポリン。

<%= image "dsc08681" %>
<%= image "dsc08683" %>
<%= image "dsc08684" %>
<%= image "dsc08685" %>
<%= movie "mov08677" %>
<%= movie "mov08680" %>
<%= movie "mov08692" %>

ローラーすべり台。

<%= image "dsc08694" %>
<%= movie "mov08679" %>

長い方のローラーすべり台。
これは二人で滑ってるけど、この後、一人で滑りに行きやんの。

<%= movie "mov08696" %>
