---
title: アメイジングワールド
tags: indoor, machida, playground
---
レンタカーを返す前に町田まで足を伸ばしてみた。

<pre class="address">
<a href="http://www.amazingworld.jp/fuwafuwa/index.html">アメイジングワールド多摩境店</a>
東京都町田市小山ヶ丘4-1-16
042-700-3371
</pre>

<%= image "dsc08950" %>
<%= image "dsc08955" %>
<%= image "dsc08959" %>
<%= image "dsc08960" %>
<%= image "dsc08962" %>
<%= movie "mov08964" %>
<%= movie "mov08965" %>
<%= image "image_007" %>
<%= movie "video_002" %>

初めての運転。

<%= movie "video_003" %>
