---
title: CeBIT 1日目
tags: exhibition, germany
---
<a href="http://www.cebit.de/intro_channel_e.htm">CeBIT</a>で説明員がたんないので
行ってくれと言われる。
今まで行ったことないので、引き受ける。
しかし、年をおうごとに仕事が低レベルになっていってるような気がするんですが。

朝一の飛行機でハンノーバーへ。会場広いねえ。幕張の20倍ぐらいあるのではないだろうか。

<%= image "img_0094" %>

ついて、2時間で説明員飽きる。
ぜんぜん客来ねえ。
というのは、日立のブースはコンシューマー向けのホールにあって、
向かい側はたとえばCASIOのデジカメだったりするので、そもそも客層が全然違います。

<%= image "img_0076" %>
<%= image "img_0116" %>

ちなみに基本的に説明やプレゼンはドイツ語で行われます。
汎ヨーロッパの展示会ってないのかねえ。

みんな帰っちゃったので一人で宿に行く。ちいさーいB&amp;B。

<%= image "img_0106" %>

前日ほとんど寝てないのでぶったおれる。起きたら夜10時過ぎてたけど、
腹減ったので店探しにいく。ほとんど空いてないけど駅前にレストラン発見。
ソーセージとザワークラフト、んでビール。これよこれ。

<%= image "img_0066" %>
<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0069" %>
