---
title: スペイン出張
---
スペイン出張。
Paul君やらStefanやら行くとか言ってましたが、
なんだかんだで結局一人で出張になりました。
まあ慣れてるからいいけどね。

んで、着いたのは夜9時ぐらいなんですが、まだまだ全然明るいす。
イギリスからだいぶん南に下ったのになんでじゃ？
東によったからかなあ。

<%= image "img_0208" %>
<%= image "img_0209" %>

今回は<a href="http://madrid.spain.intercontinental.com/index.shtml">インターコンチ</a>。
今年はなぜかインターコンチづいてるので、集中的に泊まってみるかなあ。

<%= image "img_0210" %>

外で飯食おうと思ったけど周りはあからさまに英語の通じなさそうな店ばっかりだし、
元気もないのでホテルのバーへ。
あととある本の校正しないといけないので、原稿持ち込む。
スペインビールのMahou。Hは発音しないので、
魔王とお読みください。つけだしのオリーブとポテチとアーモンド。

<%= image "img_0211" %>
<%= image "img_0213" %>

TVでサッカーやってました。ちなみにこの日ではなくて、次の日だったんですが、
リアルマドリッド対マンチェスターユナイテッド戦もここで見てました。
周りみんな敵。ウェイターも仕事しながら気がそぞろ。

<%= image "img_0212" %>

Tapas(酒のつまみの一本料理)を頼む。まずは、生ハム。
いやー、スペインの生ハムって本当にうまいよね。
イタリアのやつより絶対うまいと思う。
さらに赤ワインとタコを注文。

<%= image "img_0214" %>
<%= image "img_0215" %>
<%= image "img_0216" %>

さらに生ハムおかわりする。
