---
title: スペイン昼飯
tags: lunch, spain
---
某社での某評価は今日で終了なので、
外へ昼飯へ出ようとCarlos君が誘ってくれる(この時点で某社もクソもない)。
2時頃に店につく。スペインの平均的な昼飯の時間です。

<pre class="address">
<a href="http://www.arroceriasmediterraneo.com/">Mediterraneo</a>
C.C. ARTURO SORIA PLAZA
C / Arturo Soria, 126
28043 MADRID
Tel: 913 000 147
</pre>

店の名前そのまんまのMediterraneo地方の料理だそうで。
米料理(Arroz)中心。

<%= image "img_0219" %>
<%= image "img_0220" %>
<%= image "img_0221" %>
<%= image "img_0222" %>
<%= image "img_0223" %>

米料理はロゼが合うのよねーと、スペインワインのロゼ。

<%= image "img_0218" %>

メインはイカ墨ごはん(Arroz Negro)とパエリア。

<%= image "img_0217" %>
<%= image "img_0225" %>
<%= image "img_0226" %>
<%= image "img_0227" %>
<%= image "img_0228" %>

デザート食ってコーヒー飲んだらもう4時過ぎてた。なんだかなー。

<%= image "img_0229" %>
<%= image "img_0232" %>

ちなみにこれがスペイン風アイスコーヒー。
熱いコーヒーを自分で氷入りのグラスに注ぐ。

<%= image "img_0230" %>
<%= image "img_0231" %>
