---
title: ちょっとだけ観光
---
木曜の疲れが残ってたので、昼過ぎまでホテルで寝てたんだけど、
2時間ばかし観光。

<%= image "img_0283" %>
<%= image "img_0284" %>
<%= image "img_0285" %>

適当な店入って、見ぶり手ぶりで「あのビール」と「そっちのテーブルの料理と同じやつ(Fillet Tapasと言ってたような気がする」を注文。

<%= image "img_0282" %>
<%= image "img_0281" %>

CD屋で<a href="http://www.tatugirls.com/">t.A.T.u</a>のCDを買う。今マイブームのロシア人二人組。
