---
title: バスク地方料理
---
<a href="http://www.ipv6-es.com/">IPv6 Summit</a>に参加しにマドリッドに来ました。
新妻も<a href="http://www.easyjet.com/">格安飛行機</a>(往復1万2000円)で同伴。
彼女はヒースローではなくガトウィックという地方空港なので、現地集合現地解散の掟。

ホテルの前景。全室IPv6 readyのホテルでございます。
NATの調子がおかしくてIPv4よりIPv6の方が調子よかった気がする。

<%= image "img_0379" %>

日曜の夕方に着いたんだけど、案の上会場のネットワークやらなんやらが
色々トラブッてて手伝わされる。
日曜は夜11時半まで作業。月曜も夜11時まで働く。新妻は放置プレイ状態。
一人でブラブラ観光してたみたいですが。

日曜はルームサービスでサンドイッチ食った後おとなしく寝ましたが、
月曜はブチ切れて11時過ぎなのにsuz(日本から参加)誘って三人でタクシーで町中まで行って、
行きつけの<a href="../0424-dinner/">居酒屋</a>(2回目です)で飲む。写真なし。

火曜は二人でしっぽりと飯食いにいくことにする。バスク地方料理の店へ。

<pre class="address">
Asador Donostiarra
Infanta Mercedes 79
Tel: 91-5790871
13:15-16:30, 21:00-26:30
定休日：日曜の夜
Valdeacederas駅から徒歩5分
</pre>

つけだし。スペインのオリーブってなんでこんなにウマいんでしょう。

<%= image "img_0381" %>
<%= image "img_0382" %>

ハウスワイン。

<%= image "img_0384" %>

baby eel。今日の晩飯代の半分近くはこいつでした。うまかったけど。

<%= image "img_0394" %>

本日のメインディッシュ。Lamb Chopとイカのイカ墨煮。うーまーいー。

<%= image "img_0395" %>
<%= image "img_0396" %>

白米をイカ墨にぶっこむ。

<%= image "img_0397" %>
<%= image "img_0398" %>

食後のレモンシャーベット・ドリンク、アルコール入り。どっちゃりといろんな食後のつまみ。
さすがスペイン。

<%= image "img_0399" %>
<%= image "img_0401" %>
<%= image "img_0400" %>
<%= image "img_0402" %>
<%= image "img_0403" %>

新妻、花もらう。

<%= image "img_0404" %>

<%= image "img_0386" %>
<%= image "img_0387" %>
<%= image "img_0393" %>
<%= image "img_0385" %>
