---
title: Presentations
tags: conference, ipv6, presentation
---
<a href="http://www.ipv6-es.com/03/cv/uri_rahamim.htm">Uri</a>'s
 <a href="http://www.ipv6-es.com/03/presentations/session6/uri_rahamin.pdf">presentation</a>.

<%= image "img_0432" %>
<%= image "img_0436" %>
<%= image "img_0437" %>
<%= image "img_0438" %>
<%= image "img_0440" %>
<%= image "img_0441" %>

<a href="http://www.ipv6-es.com/03/cv/shinsuke_suzuki.htm">Suzuki-san</a>'s 
 <a href="http://www.ipv6-es.com/03/presentations/session7/shinsuke_suzuki.pdf">presentation</a>.

<%= image "img_0442" %>
<%= image "img_0445" %>
<%= image "img_0446" %>

<%= image "img_0434" %>
