---
title: 新婚旅行1日目(ヴェネチア)
tags: Italy, Venice, honeymoon
---
今日から新婚旅行です。
例によって、<a href="http://www.easyjet.com/en/book/index.asp">EasyJet</a>でチケットを購入。
行きは31.50ポンド(6000円)。
まったくもって安い。朝7時の便なので、家を4時に出て車でロンドン北東のスタンステッド空港へ。
眠かった。

<%= image "img_0539" %>

<a href="http://www.alilaguna.it/?lang=en">Alliaguna</a>
という空港から出てる水上バスに乗ってヴェネチアへ。

ここは待ち合い所。となりには水上タクシーの乗り場もあります。高そう。

<%= image "img_0540" %>
<%= image "img_0541" %>
<%= image "img_0542" %>

いざ出発。1時間ぐらいの船旅。ちなみに一人10ユーロ。

<%= image "img_0543" %>
<%= image "img_0547" %>
<%= image "img_0548" %>
<%= image "img_0553" %>
<%= image "img_0554" %>
<%= image "img_0557" %>
<%= image "img_0558" %>
<%= image "img_0560" %>
<%= image "img_0561" %>
<%= image "img_0562" %>
<%= image "img_0564" %>
<%= image "img_0566" %>

お、水上ガススタンド発見。

<%= image "img_0552" %>

今日と明日のホテル。窓の外は水路です。眺めが素晴らしい。

<pre class="address">
<a href="http://www.hotelmercurio.com/">Hotel Mercurio</a>
Calle del Fruttariol, San Marco, 1848 - 30124 Venice Italy
Tel: +39.041.5220947, Fax: +39.041.5285270
info@hotelmercurio.com
160EUR(Credait Card 170EUR), Breakfast and tax included
</pre>

<%= image "img_0572" %>
<%= image "img_0569" %>
<%= image "img_0570" %>
<%= image "img_0571" %>

窓の外をカンツォーネを歌いながらゴンドラが流れて行く。

<%= image "img_0696" %>
<%= image "img_0697" %>
<%= image "img_0701" %>

しかも、何と向かいの家はモーツァルトが幼少の頃過ごした家！(たぶん。イタリア語なんでよーわからん)

<%= image "img_0695" %>
<%= image "img_0693" %>

さて、昼飯。ピザ屋。スパゲッティ・ボンゴレとトマトのピザ(チーズすら入ってない)。
ヴェネチアの飯屋は観光地だけあって全体的に今イチでした。

<%= image "img_0578" %>
<%= image "img_0579" %>
<%= image "img_0574" %>
<%= image "img_0575" %>
<%= image "img_0577" %>

サン・マルコ広場。ここら辺からサザエさんのオープニング風。
観光シーズンだけあって凄い人手でした。しかも暑い。

<%= image "img_0580" %>
<%= image "img_0581" %>
<%= image "img_0582" %>
<%= image "img_0583" %>

鐘楼(Campanile)に登る。広場が一望できます。一人6ユーロ。

<%= image "img_0641" %>
<%= image "img_0589" %>
<%= image "img_0593" %>
<%= image "img_0594" %>
<%= image "img_0595" %>
<%= image "img_0591" %>
<%= image "img_0597" %>
<%= image "img_0599" %>
<%= image "img_0598" %>

イタリア内は電車で移動するのでチケットを買いに中央駅へ水上バスへ移動。
ヴェネチアには車が一台もありませんので、移動はすべて徒歩か船になります。
90分間有効のチケットで5ユーロ。

<%= image "img_0601" %>
<%= image "img_0600" %>
<%= image "img_0602" %>
<%= image "img_0603" %>
<%= image "img_0604" %>

インターネットであらかじめ<a href="http://www.fs-on-line.com/home/en/index.htm">時刻表</a>を調べておいて、
ヴェネチア-フィレンツェ間とフィレンツェ-ミラノ間の切符をゲット。
最初、「そんな便ないわよ。30分後のチケットならあるけど」と言われる。
発券した切符をよくよく確認するとローマ行きでした。文句言って変えてもらう。危ないところでした。
フィレィンツェ行きは1等車しか空いてなかったので、豪華な旅に変更。つっても値段は一人1000円ぐらいしか変わらないんだけど。

<%= image "img_0626" %>

晩飯。ホテルそばのレストラン。
店のおじさんがホテルを探してるときに親切に道を教えてくれたのと、
かなり客で賑わってたので決定。

<pre class="address">
RISTORANTE AL THEATRO
Campo S.Fantin 1916 - 30124 Venice Italy
Tel: +39.041.5221052, Fax: +39.041.5237214
</pre>

<%= image "img_0608" %>

ロゼを飲む。

<%= image "img_0623" %>
<%= image "img_0605" %>

仔牛のレバーとアンコウのグリル。野菜のつけ合わせ。デザートにプリン。

<%= image "img_0612" %>
<%= image "img_0617" %>
<%= image "img_0620" %>
<%= image "img_0621" %>
<%= image "img_0622" %>
<%= image "img_0625" %>
<%= image "img_0624" %>
