---
title: 新婚旅行2日目(ヴェネチア)
tags: Venice, honeymoon, italy
---
相変わらずサン・マルコ広場は人だらけ。
日差しがまぶしいので昨日、ウィンドーショッピングしてた店でグラサン購入。
顔覚えてたらしくて店のおっさんに話しかけられる。
「昨日のレディーはどうした？」「寺院の行列に並んでる。」
眼鏡が若干開き気味だったので、調整してもらおうとするとおっさん素手でグラサンを折り曲げようとする。
ちょっと待て。おっさんそれでも眼鏡屋か！ 慌てて止める。

<%= image "img_0627" %>
<%= image "img_0628" %>

サン・マルコ寺院へ。

<%= image "img_0629" %>

<%= image "img_0631" %>
<%= image "img_0650" %>
<%= image "img_0646" %>
<%= image "img_0647" %>

愚民どもを見下ろすのは気分がよろしい。思わず演説したくなりますな。
「諸君らが愛してくれたガルマ・ザビは死んだ、何故だ！」

<%= image "img_0643" %>

再び船で移動。

<%= image "img_0659" %>
<%= image "img_0660" %>
<%= image "img_0662" %>
<%= image "img_0663" %>

<a href="http://www.gallerieaccademia.org/">アカデミア美術館</a>へ。入場料6.5ユーロ。

<%= image "img_0664" %>

昼飯。

<pre class="address">
Taverna S.Trovaso
Dorosoduro 1016
Tel: 041-5203703
</pre>

ラザニア、スパゲッティ・カルボナーラ、海老のグリル、サラダ。35ユーロ。

<%= image "img_0669" %>
<%= image "img_0670" %>
<%= image "img_0671" %>
<%= image "img_0672" %>
<%= image "img_0668" %>

茶店でビール。

<%= image "img_0673" %>

リアルト橋。

<%= image "img_0674" %>

ヴェネチアの道はみんなこんな細い路地ばっかりです。
建物も高くて見通しが悪いのですぐ道に迷う。
街が巨大迷路状態。

<%= image "img_0676" %>

サンタ・マリア・グリオーサ・デイ・フラーリ教会。長いねん！ 一人2ユーロ。

<%= image "img_0677" %>
<%= image "img_0678" %>
<%= image "img_0681" %>
<%= image "img_0682" %>
<%= image "img_0685" %>
<%= image "img_0687" %>
<%= image "img_0691" %>
<%= image "img_0692" %>

嫌ーな気持になる彫刻。

<%= image "img_0684" %>

晩飯。

<pre class="address">
Trattoria da Bruno
VIA CASTELLO 5731
Tel: 041-5221480
</pre>

ハウスワイン(赤)、クモガニのサラダ、プロシュート(生ハム)、カツレツ、イカ墨スパゲッティ、タルトとティラミスにコーヒー飲んで72.80ユーロ。

<%= image "img_0704" %>
<%= image "img_0702" %>
<%= image "img_0703" %>
<%= image "img_0734" %>
<%= image "img_0735" %>
<%= image "img_0736" %>
<%= image "img_0737" %>
<%= image "img_0738" %>

<%= image "img_0713" %>
<%= image "img_0717" %>
<%= image "img_0721" %>
<%= image "img_0729" %>

夜のサン・マルコ広場で生演奏を聞く。

<%= image "img_0739" %>
<%= image "img_0740" %>
