---
title: 新婚旅行3日目(ヴェネチア)
tags: honeymoon, Venice, church
---
この日はもろ新婚旅行写真です。人ん家でアルバムを見させれるあの嫌ーな気分を是非。

サンタ・マリア・デッラ・サルーテ教会。

<%= image "img_0741" %>
<%= image "img_0742" %>
<%= image "img_0745" %>
<%= image "img_0746" %>

門猫。暑さでぐでぐで。

<%= image "img_0744" %>
<%= image "img_0750" %>
<%= image "img_0749" %>

お花のベランダ。

<%= image "img_0752" %>

アカデミア橋そばのピザ屋。ゴルゴンザーラとマルゲリータ。汗かいて体かゆいの僕。

<%= image "img_0760" %>
<%= image "img_0761" %>
<%= image "img_0762" %>
<%= image "img_0763" %>
<%= image "img_0755" %>
<%= image "img_0758" %>
<%= image "img_0759" %>

船上バスでヴェネチアをぐるっと大周り。フェリー発見。エジプト行き？

<%= image "img_0765" %>

サン・ジョルジョ・マッジョーレ島へ渡る。

<%= image "img_0778" %>
<%= image "img_0790" %>
<%= image "img_0793" %>
<%= image "img_0796" %>
<%= image "img_0782" %>
<%= image "img_0805" %>
<%= image "img_0806" %>
<%= image "img_0812" %>

静謐でいい教会でした。

<%= image "img_0815" %>
<%= image "img_0818" %>
<%= image "img_0819" %>
<%= image "img_0821" %>

エレベータで鐘楼(Campanile)に登る。ヴェネチアの街が一望。素晴らしい。

<%= image "img_0822" %>
<%= image "img_0827" %>
<%= image "img_0832" %>
<%= image "img_0833" %>
<%= image "img_0834" %>
<%= image "img_0846" %>
<%= image "img_0838" %>
<%= image "img_0844" %>

同じ島には別荘っぽい建物。住みてぇ。

<%= image "img_0829" %>
<%= image "img_0830" %>
<%= image "img_0845" %>

浸ってたら突然頭上で大音量で鐘が鳴る。ビビった。

<%= image "img_0847" %>

<a href="http://www.fs-on-line.com/home/en/index.htm">ユーロスター</a>でフィレンツェへ移動。

<%= image "img_0848" %>
<%= image "img_0850" %>
<%= image "img_0858" %>
<%= image "img_0863" %>
