---
title: 新婚旅行4日目(フィレンツェ)
tags: Florence, honeymoon, italy
---
2つめのホテル。今度も窓からアルノ川が見れます。

<pre class="address">
<a href="http://www.venere.com/it/firenze/casadellago/">Hotel Casa del Lago</a>
Lungarno A. Vespucci 58 - 50123 Firenze
120EUR x 2, Breakfast and tax included
Tel: 055.216141 Fax: 055.214149
</pre>

<%= image "img_0970" %>
<%= image "img_0971" %>
<%= image "img_0972" %>
<%= image "img_0973" %>
<%= image "img_0974" %>

ホテルの番犬、Togoくん。ラブリー。

<%= image "img_0975" %>
<%= image "img_0976" %>
<%= image "img_0977" %>
<%= image "img_0979" %>
<%= image "img_0980" %>
<%= image "img_0982" %>

火曜日は近所のカッシーネの森にて地元向けの青空市場があるとのことで向かう。
すんげえ規模でかい。100店以上の露天があるのではないかな。
服を少々購入。

<%= image "img_0867" %>
<%= image "img_0868" %>

昼飯。屋台でパンにハム挟んだだけのものを購入。うむ、フィレンツェはうんまい。
後、チェリーとオリーブも購入。パンを取り合いながら土手で食う。

<%= image "img_0869" %>
<%= image "img_0870" %>
<%= image "img_0871" %>
<%= image "img_0872" %>

<%= image "img_0873" %>
<%= image "img_0874" %>

メディチ家礼拝堂。一人4ユーロ。内部は写真禁止だったので、写真ないけど、すんげえ荘厳です。
金に明かしてすごいもん作ったねえ。昔の金持ちはスケールがデカい。

<%= image "img_0875" %>

洗礼堂前で休憩。暑いのですぐ休憩したくなります。

<%= image "img_0877" %>
<%= image "img_0878" %>
<%= image "img_0879" %>

さて、いよいよドゥオーモへ。一人6ユーロ。ええ、映画や小説でやってた有名なアレでございます。
エレベータなしで階段をえんえんと登る。死ぬかと思った。

<%= image "img_0876" %>
<%= image "img_0881" %>
<%= image "img_0882" %>

登ってる途中。たけー。

<%= image "img_0884" %>
<%= image "img_0885" %>

いよいよ屋上へ。これは確かにいい景色だ。一時間ぐらいぼっとしてました(体力が尽きたとも言う)。

<%= image "img_0888" %>
<%= image "img_0889" %>
<%= image "img_0890" %>
<%= image "img_0891" %>
<%= image "img_0892" %>
<%= image "img_0911" %>
<%= image "img_0924" %>
<%= image "img_0908" %>
<%= image "img_0925" %>

<%= image "img_0902" %>
<%= image "img_0905" %>
<%= image "img_0909" %>
<%= image "img_0931" %>
<%= image "img_0921" %>
<%= image "img_0936" %>

降りてる途中。膝笑い出す。

<%= image "img_0937" %>

次、シニョーリア広場。ただの噴水ですが、小便親父っぽい角度で撮影。

<%= image "img_0938" %>

ウッフィツィ美術館。3F(ここがメイン)を先にまわってるうちに、2F閉められちゃった。

<%= image "img_0939" %>

ヴェッキオ橋を遠くから眺める。

<%= image "img_0940" %>
<%= image "img_0942" %>
<%= image "img_0943" %>
<%= image "img_0944" %>

んで、暮れなずむ、ヴェッキオ橋へ。

<%= image "img_0945" %>
<%= image "img_0946" %>
<%= image "img_0949" %>
<%= image "img_0954" %>

晩飯。

<pre class="address">
<a href="http://www.illatini.com/">IL LATINI</a>
VIA DEI PALCHETTI, 6r
Tel: 055-210916
Open 12:30-14:30, 19:30-22:30
</pre>

一応、電話で予約して行ったんだけど、開店前から行列が出来ていて、
特に予約チェックもなくずらずら通されました。
お店は3時間で閉まっちゃうので、開店前から並ぶのを強くお勧めします。
予約は意味なさそうです。待ってる人はえんえんと待ってました。

とにかく、この店はうまくて安い。活気もあって楽しい。
となりのベルギー人と楽しくお喋りながら食べる。

ハム＆メロン、鶏レバーのカナッペ、兎のグリルと羊のグリル。

<%= image "img_0960" %>
<%= image "img_0962" %>
<%= image "img_0961" %>
<%= image "img_0963" %>
<%= image "img_0964" %>
<%= image "img_0965" %>

お店のラベルつきのハウスワインとハウスグラッパ。飲み放題一律料金でございます。

<%= image "img_0967" %>
<%= image "img_0969" %>

飲んで食って40ユーロ(サービス料抜き)。満足じゃ。
