---
title: 新婚旅行5日目(フィレンツェ)
---
さらに中央駅そばの便利なところにホテルをうつる。今回初めてのバスタブつきのホテル。
ごめん、写真なし。
部屋の値段はホテルを移るたびに安くなるけど、なぜか逆に部屋はだんだん豪華になっていく。

<pre class="address">
<a href="http://www.hotelalinari.it/alinari/english/english.htm">Hotel Alinari</a>
Largo Alinari 15 - 50123 Firenze
110EUR x 2, Breakfast and tax included
info@hotelalnari.it
Phone.(+39 055) 284289
Fax.(+39 055) 284678
</pre>

年代物のエレベーター。なんと自分で扉を閉めます。
しかもしょちゅう壊れる。ホテルは5F(= 4th floor)にあるのでとっても辛い。

<%= image "img_1087" %>

サンタ・マリア・ノヴェッラ教会。

<%= image "img_0983" %>
<%= image "img_0986" %>
<%= image "img_0987" %>
<%= image "img_0988" %>

昼飯。セルフサービスのお店。リーズナブルで味も良し。大変よろしい。二人で15.40ユーロ。

<pre class="address">
LEONARDO
VIA DEL PECORI 5R
Tel: 055-284446
</pre>

<%= image "img_0989" %>
<%= image "img_0990" %>
<%= image "img_0994" %>

<%= image "img_0996" %>
<%= image "img_0997" %>

ダビデ像を観にアカデミア美術館へ。一人6.50ユーロ。こんなにデカいのね、知らんかった。

<%= image "img_0998" %>

ダビデのけつ。

<%= image "img_0999" %>

洗礼堂。時間が遅くて入れず(後に単に入口間違えてただけと判明)。

<%= image "img_1000" %>
<%= image "img_1001" %>
<%= image "img_1002" %>
<%= image "img_1003" %>

晩飯。

<pre class="address">
LA CASALINGA
VIA DEI MICHELOZZI, 9R
Tel: 055-218624
</pre>

昨日と同じく予約したけど、開店と同時にチェックもなく入れられる。

シーフードの盛り合わせ、ハムとサラミ、トマト(Pomodoro)のスパゲッティ、
レバーの焼いたの、たぶん牛の焼いたの。俺、魚頼んだつもりだったのにぃぃぃ(英語メニューなし)。

<%= image "img_1005" %>
<%= image "img_1006" %>
<%= image "img_1007" %>
<%= image "img_1008" %>

ティラミスとプリン。

<%= image "img_1009" %>
<%= image "img_1010" %>

その後、新妻にごまかしごまかし歩かされてベルヴェデーレ要塞(閉まってた)経由で、
ミケランジェロ広場へ。体力限界(俺だけ)。

<%= image "img_1011" %>
<%= image "img_1012" %>
<%= image "img_1013" %>
<%= image "img_1014" %>

いや、眺めはよかったですけどね。

<%= image "img_1015" %>
<%= image "img_1017" %>

帰りはバスに乗ってホテルへ戻る。
