---
title: 新婚旅行7日目(フィレンツェ/ミラノ)
tags: honeymoon, italy, milan, train
---
サン・マルコ美術館。そろそろ宗教画に食傷気味。

<%= image "img_1096" %>
<%= image "img_1097" %>
<%= image "img_1098" %>

ようやく行けた洗礼堂。一人3ユーロ。

<%= image "img_1103" %>
<%= image "img_1101" %>
<%= image "img_1102" %>
<%= image "img_1099" %>
<%= image "img_1100" %>

再びLEONARDへ。二人で12.4ユーロ。このボンゴレうまかったー。

<%= image "img_1104" %>

さて、(俺の財布が)危険な町ミラノへ移動。10分遅れでユーロスターが到着。

<%= image "img_1106" %>

3時間の旅でした。となりのねーちゃんが延々と携帯電話で喋っててうるさかった。
今回は2等車に乗る。リクライニングなかったので辛かったです。
値段の違いさほどないので、1等車がお勧めですね。

<%= image "img_1107" %>
<%= image "img_1108" %>

最後のホテル。一番安いのに、ジュニアスイート。
新妻は「これがスイートか！」とお怒りのご様子。

<pre class="address">
<a href="http://www.holidaycityeurope.com/andreola-milan/">ANDREOLA CENTRAL HOTEL MILAN</a>
Via Scarlatti, 24 - 20124, Milano, Italy
TEL: +39 02 6709141, FAX: +39 02 66713198
99EUR x 2, including tax and breakfast
</pre>

<%= image "img_1109" %>
<%= image "img_1111" %>

とりあえず晩飯。

<pre class="address">
LA PARANA
VIA PADOVA 3
Tel: 02-2613224
</pre>

ユーロスターから携帯で予約したけど、行ったらガラガラでした。

カニのスパゲッティ、イカスミのリゾット、舌ヒラメのグリル レモン味。
客がいないので店のクーラー入れずにドア開けっぱなし。蚊と戦いながら飯を食う。

<%= image "img_1112" %>
<%= image "img_1113" %>
<%= image "img_1114" %>
<%= image "img_1115" %>

まずい。大量に残す。オーナーのママが「お口に合いませんでしたか？」と聞かれたので、「しょっぱい」と答える。悲しそうにしてた。

申し訳なく思ったのか香草に漬けたグラッパがサービスに出て来る。うん、これはうまかったな。
