---
title: Report of Networld+Interop'2003 in Japan
tags: IPv6, conference, Japan
---
Here is report of <a href="http://www.interop.jp/eng/index.html">Networld+Interop</a>'2003 which held in Makuhari in Japan.  In this web, I mainly focused on IPv6 activity in Japan.

I prepared link to vendors and products for further understanding.
Most of the links are to English pages but several of vendors only provide Japanese page.

---
Hitachi is one of Platinum sponsor of N+I.  There were huge banners in many places.

<%= image "img_1205" %>
<%= image "img_1206" %>
<%= image "img_1208" %>

---
<a href="http://www.interop.jp/eng/_exhibit/_project/ipv6.html">IPv6 Showcase</a>.  All of devices in this section support IPv6.

<%= image "img_1212" %>
<%= image "img_1209" %>
<%= image "img_1210" %>
<%= image "img_1211" %>

<a href="http://www.cisco.com/en/US/products/hw/routers/ps221/products_data_sheet09186a0080092102.html">Cisco 1750</a>, SOHO router supports Prefix Delegation and IPv6 firewall functionality including stateful inspection.

<%= image "img_1213" %>

Radius server software by <a href="http://accense.com/">Accense</a>.

<%= image "img_1214" %>
<%= image "img_1215" %>

<a href="http://www.6wind.com/common/main.php?Rub=2&amp;SRub=51&amp;Lang=1">6WIND Gate 6100</a>, SOHO router.

<%= image "img_1216" %>

<a href="http://www.seil-neu.com/">IIJ SEIL/neu</a>, SOHO router

<%= image "img_1217" %>

<a href="http://www.alliedtelesyn.com/allied/home.asp?country=2&amp;lang=en">Allied Telesyn</a> exhibit L2 Switch(8724XL) which supports MLDv1 snooping and SOHO router supporting PD client functionality.

<%= image "img_1218" %>

Wireless(802.11b) card can be inserted <a href="http://www.sanyo.co.jp/koho/index_e.html">Sanyo</a> Digital Camera.  The camera send image data to Home Gateway from HotSpot.  You can see the photos/movies in the Home Gateway from TV by its remote controller.

<%= image "img_1220" %>
<%= image "img_1219" %>

Sony and <a href="http://www.freebit.com/">FreeBit</a> provide IPv6-ready <a href="http://www.sony.jp/products/Consumer/cocoon/CSV-E77/">CoCoon</a> channel server to trial users.

<%= image "img_1222" %>

Fujitsu made IPsec accelator supporting IPv6 and IPv4.

<%= image "img_1223" %>
<%= image "img_1224" %>
<%= image "img_1225" %>

<a href="http://www.access.co.jp/english/index.html">Access</a>(famous company of web browser for embedded devices such as cellular phone), <a href="http://www.elmic.co.jp/">Elmic System</a> and <a href="http://www.windriver.com/">Wind River</a> exhibit their IPv6 protocol stack.

<%= image "img_1226" %>
<%= image "img_1227" %>
<%= image "img_1228" %>
<%= image "img_1229" %>

TCP/IP chip supporting IPv6 and IPsec by
Hitachi(<a href="http://www.renesas.com/eng/">Renesas</a>)
Photo is sample implementation by the chip.

<%= image "img_1231" %>

Mobile IPv6 sensor managed by RFID system.
This sensor was used for tracking cow.

<%= image "img_1232" %>

Linux Zaurus is PDA based on Linux made by Sharp.
Kernel is changed to support IPv6 for demonstration.

<%= image "img_1233" %>

HP OpenView for network management.

<%= image "img_1234" %>

Module type mobile access router by Cisco.
Typical usage is it's embedded into car.

<%= image "img_1235" %>

<a href="http://www.shunra.com/products/storm/storm_1.php">STORM</a>, Network simulator by <a href="http://www.nihon-cornet.co.jp/">Nihon Cornet</a>.

<%= image "img_1236" %>

Smartbit, Network device tester.

<%= image "img_1237" %>
<%= image "img_1244" %>

<a href="http://www.orangesoft.co.jp/winbiff.html">Winbiff</a> mailer for Windows.  IPv6 is supported since April 2001.

<%= image "img_1238" %>

<a href="http://www.chiervo.net/">Chiervo</a> is IPv6 Peer-to-peer application.  This is demo of messenger and file sharing.

<%= image "img_1239" %>
<%= image "img_1240" %>

MPEG4 server by CEC.

<%= image "img_1241" %>

IPv6-ready logo.

<%= image "img_1243" %>

Netscreen, firewall vendor support IPv6.  This is <a href="http://www.netscreen.com/company/news_room/new_releases/pr_20030707_474.jsp">Press release</a>

<%= image "img_1245" %>

BIG-IP by <a href="http://f5networks.co.jp/">F5 Networks</a>, load balancer.

<%= image "img_1247" %>

ZebOS is routing protocol suite by <a href="http://www.ipinfusion.com/">IPinfusuion</a>

<%= image "img_1248" %>

IPv6 ready air conditioner and Microwave.

<%= image "img_1277" %>
<%= image "img_1278" %>

Other network equipments which support IPv6.  Hitachi GS500, Hitachi GR2000-BH, Yokogawa translator, Hitachi AG8100-S, Foundry NetIron 4802, Fujitsu GeoStream R920, Juniper M5/M10, NEC SW and Hitachi GR4000.

<%= image "img_1249" %>
<%= image "img_1250" %>
<%= image "img_1251" %>
<%= image "img_1252" %>
<%= image "img_1253" %>
<%= image "img_1254" %>
<%= image "img_1255" %>
<%= image "img_1257" %>

---
This section is report for normal booth. But 20-30% of them talked about IPv6.

F5 Networks did detail demonstration in their booth.

<%= image "img_1258" %>
<%= image "img_1259" %>

Hitachi showed new version of BAS and translator, AG8100S-B, AG8100S-T.
Other demo is media converter and blade server.

<%= image "img_1262" %>
<%= image "img_1261" %>
<%= image "img_1260" %>

New switch by Foundry, NetIron 40G.  All of interfaces are 10GbE.

<%= image "img_1263" %>

This is 4th generation switch desifned for 10GbE by Extreme.
This is not product yet.

<%= image "img_1276" %>

Nortel also annouce to support IPv6 in their router.

<%= image "img_1265" %>
<%= image "img_1266" %>

You can see lots of 10GbE-ready equipment in NOC(Network Operation Center) rack.
GR4000 is one of them.

<%= image "img_1267" %>
<%= image "img_1268" %>
<%= image "img_1269" %>
<%= image "img_1271" %>
<%= image "img_1272" %>
<%= image "img_1273" %>
<%= image "img_1274" %>
<%= image "img_1275" %>
