---
title: 57th IETF(ウィーン)
---
IETF参加のためウィーンへ出張。はじめ、Vienna=ウィーンだと知らなくて、
この町はどこ何だろうと思ってた私。
なお、そろそろ新妻があたしもそろそろ新妻ではないと言い出したので、
呼称をマイワイフに変更させて頂きます。

今回のホテル。

<pre class="address">
Royal Hotel
Singerstrasse 3, 1010 Vienna
</pre>

<%= image "img_1279" %>

ついて速攻でウィーン郊外のBadenなる温泉地へ向かう。

<%= image "img_1281" %>
<%= image "img_1282" %>
<%= image "img_1283" %>

<%= image "img_1284" %>
<%= image "img_1285" %>
<%= image "img_1287" %>

<a href="http://www.roemertherme.at/">Roeme Therme</a>というスパ。
プール部分とサウナ部分から成ってます。
サウナはドイツ系ってなぐらいで男女混浴かつハダカが基本です。
床にタオルをしかないといけないので隠すもんありません。見たり見られたり。

<%= image "img_1286" %>

シュテファン寺院。名前が嫌だ。

<%= image "img_1288" %>
<%= image "img_1289" %>
<%= image "img_1290" %>
<%= image "img_1292" %>
<%= image "img_1293" %>

路面電車でウィーンの町をぐるぐる回る。

<%= image "img_1298" %>
<%= image "img_1294" %>
<%= image "img_1295" %>
<%= image "img_1296" %>
<%= image "img_1297" %>

<%= image "img_1299" %>
<%= image "img_1301" %>
<%= image "img_1302" %>

<a href="http://www.actilingua.com/AboutVienna/sights/prater.htm">プラーター遊園地</a>へ。

<%= image "img_1303" %>
<%= image "img_1304" %>
<%= image "img_1305" %>

遊園地の中の自販機。ビールとコーラが同じ値段でやんの。

<%= image "img_1306" %>
<%= image "img_1307" %>

100年前の木造観覧車。みんなで乗るので風情がありません。

<%= image "img_1308" %>
<%= image "img_1309" %>
<%= image "img_1310" %>
<%= image "img_1311" %>
<%= image "img_1312" %>
<%= image "img_1313" %>
<%= image "img_1314" %>
<%= image "img_1315" %>
<%= image "img_1316" %>
<%= image "img_1317" %>
<%= image "img_1318" %>
<%= image "img_1319" %>
<%= image "img_1323" %>
<%= image "img_1331" %>
<%= image "img_1333" %>
<%= image "img_1334" %>
<%= image "img_1335" %>
<%= image "img_1336" %>
<%= image "img_1337" %>
<%= image "img_1338" %>

お化け屋敷。

<%= image "img_1340" %>
<%= image "img_1341" %>
<%= image "img_1342" %>

これ笑えた。なんと本物の馬を使ったメリーゴーランド。馬、可哀想。

<%= image "img_1343" %>
<%= image "img_1344" %>
<%= image "img_1345" %>
<%= image "img_1346" %>

デーメルでザッハトルテその他を食べる。
このデーメルとホテルザッハで、ザッハトルテの本家元祖戦争をしているそうです。

<%= image "img_1348" %>
<%= image "img_1349" %>
<%= image "img_1350" %>
<%= image "img_1351" %>
<%= image "img_1352" %>

王宮。

<%= image "img_1353" %>
<%= image "img_1354" %>
<%= image "img_0934" %>
<%= image "img_0936" %>
<%= image "img_0938" %>
<%= image "img_0940" %>
<%= image "img_1355" %>
<%= image "img_1356" %>
<%= image "img_1357" %>
<%= image "img_1359" %>

途中みつけた不気味な石像。

<%= image "img_1360" %>
<%= image "img_1361" %>
<%= image "img_1362" %>
<%= image "img_0941" %>

Grinzingという町でを
<a href="http://ja.wikipedia.org/wiki/%E3%83%9B%E3%82%A4%E3%83%AA%E3%82%B2">ホイリゲ</a>
飲む。
家族経営の小さな店に入ったら当たりでした。

<%= image "img_1363" %>
<%= image "img_1364" %>
<%= image "img_1365" %>
<%= image "img_1366" %>
<%= image "img_1367" %>
<%= image "img_1368" %>
