---
title: 結婚祝いパーティー
tags: austria, marriage, party
---
Jinmeiさんの日記は<a href="http://www.jinmei.org/photo/20030715/">こちら</a>

KAMEのみなさん(＋α)で、結婚を祝っていただきました。ありがとうございました。

<pre class="address">
<a href="http://www.fino.at/">Fino</a>
Tuchlauben 7, 1010 Wien
Tel: 53-52-888
</pre>

<%= image "img_1369" %>
<%= image "img_1370" %>
<%= image "img_1371" %>
<%= image "img_1372" %>
<%= image "img_1373" %>
<%= image "img_1374" %>
<%= image "img_1375" %>
<%= image "img_1376" %>
<%= image "img_1377" %>
