---
title: ウィーンその1
tags: Vienna, onsen
---
itojunのページは<a href="http://www.itojun.org/diary/20030711-20/">こちら</a>。

<%= image "img_1385" %>
<%= image "img_1390" %>

<%= image "img_1406" %>
<%= image "img_1391" %>
<%= image "img_1393" %>

白鳥のケツ。

<%= image "img_1397" %>
<%= image "img_1396" %>

向こうから白鳥の親が子供をみせびらかしにやってくる。

<%= image "img_1398" %>
<%= image "img_1399" %>
<%= image "img_1409" %>
<%= image "img_1412" %>
<%= image "img_1413" %>
<%= image "img_1414" %>

泳いでる人もいます。

<%= image "img_1400" %>

<%= image "img_1422" %>
<%= image "img_1423" %>
<%= image "img_1417" %>
<%= image "img_1416" %>
<%= image "img_1419" %>
<%= image "img_1420" %>
<%= image "img_1415" %>
<%= image "img_1418" %>
<%= image "img_1421" %>

<%= image "img_1432" %>
<%= image "img_1433" %>
<%= image "img_1434" %>

itojun合流して三人でスパへ向かう。温泉と聞いて楽しそうなitojun。

<%= image "img_1435" %>
<%= image "img_1438" %>
<%= image "img_1441" %>

スパの写真はなし。裸のつき合い中。

夜はホイリゲ飲みにGrizingへ。肉がうんまいの。

<%= image "img_1444" %>
<%= image "img_1445" %>
<%= image "img_1446" %>
<%= image "img_1447" %>
<%= image "img_1449" %>
