---
title: ウィーンその3
tags: travel, vienna, zoo
---
宮殿。日本庭園もあります。

<%= image "img_1472" %>
<%= image "img_1473" %>
<%= image "img_1474" %>
<%= image "img_1475" %>
<%= image "img_1476" %>
<%= image "img_1477" %>

<a href="http://www.zoovienna.at/">ウィーン動物園</a>へ。やる気のないパンダ。

<%= image "img_1478" %>
<%= image "img_1484" %>
<%= image "img_1480" %>

寝てるコアラ。お前ら、芸人らしく芸せんかい！

<%= image "img_1482" %>

かぶりつきの写真が数多く取れる動物園で素晴らしい。

<%= image "img_1486" %>
<%= image "img_1493" %>
<%= image "img_1497" %>
<%= image "img_1498" %>
<%= image "img_1501" %>
<%= image "img_1504" %>
<%= image "img_1507" %>
<%= image "img_1510" %>
<%= image "img_1511" %>

<%= image "img_1513" %>
<%= image "img_1516" %>
<%= image "img_1520" %>
<%= image "img_1522" %>
<%= image "img_1532" %>
<%= image "img_1539" %>
<%= image "img_1540" %>
<%= image "img_1546" %>
<%= image "img_1549" %>
<%= image "img_1551" %>
<%= image "img_1555" %>

<%= image "img_1557" %>
<%= image "img_1558" %>
<%= image "img_1560" %>
<%= image "img_1566" %>
<%= image "img_1568" %>
<%= image "img_1569" %>
<%= image "img_1570" %>

<%= image "img_1562" %>
<%= image "img_1564" %>
<%= image "img_1565" %>
