---
title: バースとストーンヘンジとUFO
tags: Bath, Stonehenge, travel
---
マイワイフが英語学校でナンパしたサチコちゃんと3人で、
バースとストーンヘンジへ日帰りドライブ。

ロンドンからバースまでは2時間半の道程でした。
お腹が減ったのでSall Lunns HouseというところでSall Lunns Bunなるものを食す。
要はパンに色々トッピングを載せたもの。

<%= image "img_1578" %>
<%= image "img_1573" %>
<%= image "img_1574" %>
<%= image "img_1575" %>
<%= image "img_1576" %>
<%= image "img_1577" %>

Bath Abbey(バース聖堂)。

<%= image "img_1579" %>

そして、バースへ。
バースはBathの語源だそうで、2000年前にローマ人がブリテン島を支配してた時に作ったお風呂。

<%= image "img_1580" %>

今はただの遺跡です。すぐ近所に2000年ぶりに<a href="http://www.bathspa.co.uk/">スパ</a>がオープンするそうですが、
4月からそのうち完成といいつつまだ出来てません。噂では10月オープンだそうです
(リンク先には8月と書いてあるけど嘘)。
オープンしたらもう一度行こう。

さらに車を一時間ほど飛ばしてストーンヘンジへ。
ちょうど晴天だったので、石が青空に映えて美しい。
しかし、どうやってこの石を持ち上げたのか。
一説には宇宙人がやったとも言われてるそうですが。

<%= image "img_1581" %>
<%= image "img_1582" %>
<%= image "img_1588" %>
<%= image "img_1583" %>
<%= image "img_1586" %>
<%= image "img_1592" %>
<%= image "img_1593" %>

と、その時でした。<span class="fontsizeplus">「お、おい、あれ何だ？」「え？あれ、ひょっとして？」</span>

<span class="fontsizeplusplus">「UFOだ！」</span>

<%= image "img_1591ufo" %>

その後、ソールズベリへ移動。途中で羊を見付けたので激写しようとするが整列して逃げられる。
しつけが行き届いた羊だ。

<%= image "img_1594" %>
<%= image "img_1595" %>

ソールズベリへ。町中の川が綺麗。

<%= image "img_1596" %>

ソールズベリ大聖堂。時間が遅かったので塔に昇らんで済んだ(もちろんエレベーターなし)。

<%= image "img_1598" %>

犬発見。激写しようとしたら逃げられた。ウホッ、いいケツ。

<%= image "img_1599" %>

川沿いのパブで一杯。あたしゃダイエットコーク。

<%= image "img_1600" %>
<%= image "img_1601" %>

帰りは道に迷いまくり。
