---
title: ネス湖探訪
tags: Scotland, LochNess, travel
---
ネッシーを探しにネス湖を訪れる。ネス湖はスコットランドの北の方(ハイランド)にある
インバネス(Inverness)という町にあります。
北海道より全然北なのでもちろん寒いです。8月16日だというのにコートを準備して移動。

もともとLondon Euston駅から出てる寝台車の夜行で向かう予定だったんですが、
満席のため結局飛行機になりました。いつもの<a href="http://www.easyjet.com/">easyjet</a>。
でもオンシーズンかつ直前申込なので高かった。2人で往復360ポンド。

LondonのLuton空港から移動。家から車で1時間ぐらい。

<%= image "img_1609" %>

インバネス着。空港ちーせー。

<%= image "img_1617" %>
<%= image "img_1615" %>
<%= image "img_1616" %>

今回のお宿。webで見付けてかたっぱしから電話した中の1軒。

<pre class="address">
Braehead
5 Crown Circus, Inverness, IV2 3NH
Tel: 01463 224222
</pre>

2部屋しか宿泊施設のないB&amp;Bです。トイレ＆シャワー共同で一人23ポンド。
とても清潔で綺麗なB&amp;Bでした。ポプリがほのかに香る布団が幸せです。
お勧めのお宿。

<%= image "img_1714" %>
<%= image "img_1715" %>

まずはCityLinkのバスで30分ほど揺られてDrumnadrochitという町へ。

<%= image "img_1618" %>
<%= image "img_1619" %>
<%= image "img_1621" %>
<%= image "img_1628" %>

Loch Ness 2000という博物館。一人5.5ポンド。ちゃちいけど結構勉強になる。

<%= image "img_1620" %>

パブで昼飯。ステーキサンドイッチと野菜のラザニア。

<%= image "img_1622" %>
<%= image "img_1624" %>
<%= image "img_1625" %>
<%= image "img_1626" %>
<%= image "img_1627" %>

アーカート城へ向かおうとするがバスが全然来ないので徒歩で行く。
2マイル(3.6km)と書いてあったものの45分歩き続ける。だまされた。

<%= image "img_1629" %>
<%= image "img_1630" %>
<%= image "img_1631" %>

お、何か湖面に影が見える。高まる期待。

<%= image "img_1633" %>

アーカート城到着。

<%= image "img_1635" %>
<%= image "img_1636" %>
<%= image "img_1637" %>
<%= image "img_1638" %>
<%= image "img_1645" %>
<%= image "img_1646" %>
<%= image "img_1647" %>
<%= image "img_1648" %>
<%= image "img_1649" %>
<%= image "img_1650" %>
<%= image "img_1651" %>
<%= image "img_1661" %>
<%= image "img_1662" %>
<%= image "img_1665" %>
<%= image "img_1666" %>
<%= image "img_1668" %>
<%= image "img_1670" %>
<%= image "img_1671" %>
<%= image "img_1672" %>
<%= image "img_1673" %>
<%= image "img_1679" %>

と、その時でした。<span class="fontsizeplus">「お、おい、あれ何だ？」「え？あれ、ひょっとして？」</span>

<span class="fontsizeplusplus">「ネッシーだ！」</span>

<%= image "img_1674" %>

ネッシーを追跡するべく我々は観光船をチャーターした。一人8ポンド。

<pre class="address">
Castle Cruises Loch Ness
Tickets and Information: The Art Gallery
01456 450695
Opposite the main car park in Drumnadrochit
</pre>

<%= image "img_1680" %>
<%= image "img_1681" %>
<%= image "img_1683" %>

「船長、確かここら辺のはずだ。」「うむ、レーダーで調べてみよう。」

<%= image "img_1691" %>
<%= image "img_1692" %>
<%= image "img_1695" %>

<span class="fontsizeplus">「船長、レーダーに巨大な影が！」「何ィ!?」</span>

<%= image "img_1696" %>

<%= image "img_1697" %>
<%= image "img_1699" %>
<%= image "img_1703" %>
<%= image "img_1704" %>
<%= image "img_1706" %>
<%= image "img_1707" %>

6世紀に聖コロンバがネッシーを退治したらしき場所。

<%= image "img_1708" %>

晩飯はタパス屋。サングリアはなかった。

<%= image "img_1709" %>
<%= image "img_1710" %>
<%= image "img_1711" %>
<%= image "img_1712" %>
<%= image "img_1713" %>

スコットランドのお札はイングランドのそれとは違います。
どっちもスコットランドでは使えるけどね。

<%= image "img_1716" %>

地元のウィスキーをとりあえず小瓶で購入。さらりと飲みやすい。

<%= image "img_1721" %>

翌日は町中を散策。

<%= image "img_1722" %>
<%= image "img_1723" %>
<%= image "img_1724" %>
<%= image "img_1725" %>
<%= image "img_1726" %>
<%= image "img_1732" %>

インバネス城。日曜だったせいか入れず。

<%= image "img_1733" %>
<%= image "img_1734" %>
<%= image "img_1735" %>
<%= image "img_1736" %>

キルトを来たバグパイプ奏者発見。スカートの下はノーパンが正式だそうで。

<%= image "img_1738" %>
<%= image "img_1739" %>

帰りのインバネス空港。一時間前の時点で飛行機が一台も止まっておらず。
不安になるが、結局予定通り飛行機がやってきました。

<%= image "img_1742" %>
