---
title: 北京 その1
---
北京空港に着くとあまりにも近代化されてるのにビックリする。
確か2年前に観光で来た時はこんなに綺麗じゃなかったと思うんだけどなあ。

んでも、空港を一歩出た途端に辺り一面に鳴りまくるクラクションを聞いて
(中国人は気が短いので車が止まるとすぐクラクションを鳴らします。
ブレーキと直結してるんではなかろうか)、
人はそんなにすぐには変われないことがよく分かる。

今回の<a href="http://www.kempinski-beijing.com/">ホテル</a>。
ドイツ資本だそうで、サービスの質も高くて素晴らしい。
ウェルカムフルーツとウェルカム煮沸水つき。

<%= image "img_1743" %>
<%= image "img_1744" %>

その日の夜はホテルの中で唯一空いてたドイツ料理屋で豚の煮込みと地ビールを飲む。
なんだかなあ。

次の日は某所で仕事。
日中英のどれを喋れるかが人ごとに違うのでどの言語を使えばいいか難しい。

夜は中華料理屋へ。
「四川飯店」という店の唐辛子の入った辛い唐揚げが食べたいと行ったんだけど、
その店は遠いので断念。ホテルのそばで同じ料理が食えるらしいのでとりあえず試す。

<%= image "img_1745" %>

ここも地ビールでした。流行りか？ でも、薬臭くて味が今イチ。

<%= image "img_1746" %>

桃の100%ジュース。うまい。パックごと出て来て12元(180円)。

<%= image "img_1748" %>
<%= image "img_1747" %>

山ほど注文する。

<%= image "img_1749" %>
<%= image "img_1751" %>
<%= image "img_1752" %>
<%= image "img_1755" %>
<%= image "img_1758" %>

うまかったのはこれかなあ。田鰻、鳳凰卵(たしか)、ナスの辛い煮込み、冬瓜、北京ダック。

<%= image "img_1750" %>
<%= image "img_1753" %>
<%= image "img_1754" %>
<%= image "img_1756" %>
<%= image "img_1759" %>
<%= image "img_1760" %>

んで、これが辛い唐揚げ。うーん、パンチが足りん。今イチ。

<%= image "img_1757" %>

しめて、一人頭90元(1350円)。

斎藤さんの部屋をのぞく。ヒルトン。うーむ、広い。これで95ドル/泊だそうで。

<%= image "img_1761" %>
<%= image "img_1762" %>

30過ぎてマッサージの味に目覚めたので、マッサージに連れて行ってもらう。

<%= image "img_1765" %>
<%= image "img_1764" %>

最近、青島ビールの純生があるみたい。今度試してみよう。

<%= image "img_1763" %>

割引券があったので90分の足揉みマッサージを受ける。5人一緒で一つの部屋へ。

使用前。

<%= image "img_1766" %>

使用中。よくも足一つでこれだけ多彩な揉み方があるもんだと関心する。
マッサージ嬢はみなさま「足裏協会」なるところで技術を習得するそうで。
痛い痛い言いながらマッサージを受ける。

<%= image "img_1767" %>
<%= image "img_1768" %>

使用後。うん、楽になった。

<%= image "img_1769" %>

一人様割引券利用で69元(1000円)也。
