---
title: 讃岐うどんツアー その1
tags: kagawa, udon
---
北京から大阪経由で讃岐にやってきました。相模大野組でのうどん旅行。
メンバーはすなみ、のざわ、すずき、きよしとマイワイフ。

すなみの写真は<a href="http://pic.sunahiro.net/20030831_sanuki/">こちら</a>、
すずきくんは<a href="http://wwww.uki-uki.net:8000/photos/200308-sanuki/">こちら</a>。

僕は実家からJRで高松へ。瀬戸内海を越えるとそこはうどんの国。

<%= image "img_1809" %>

高松駅でレンタカーでやってくるすなみを待つ。

<%= image "img_1811" %>

今回の旅のお供。トヨタのWISHくん。

<%= image "img_1857" %>

他のメンバーはまだ来ないのでとりあえず二人で穴吹製麺所。

<%= image "img_1815" %>
<%= image "img_1812" %>
<%= image "img_1813" %>
<%= image "img_1814" %>
<%= image "img_1816" %>

高松空港に向かいつつ道中の通。

<%= image "img_1819" %>
<%= image "img_1817" %>
<%= image "img_1818" %>

高松空港で残りのメンバーを拾う。「ヘイ！乗りな！」

<%= image "01-image001" %>

なかにし。

<%= image "img_1821" %>
<%= image "01-image003" %>
<%= image "img_1820" %>

(坂出)山下。

<%= image "img_1823" %>
<%= image "img_1822" %>
<%= image "01-image013" %>
<%= image "01-image007" %>

ドライバー交替。

<%= image "01-image011" %>

田村。例によって裏口で食う。

<%= image "img_1825" %>
<%= image "img_1824" %>
<%= image "01-image014" %>

彦江。

<%= image "img_1827" %>
<%= image "img_1826" %>

なかむら。

<%= image "img_1828" %>
<%= image "img_1829" %>
<%= image "img_1830" %>

たこ判なる謎の食い物を購入。

<%= image "img_1831" %>

琴弾公園へ。

<%= image "img_1837" %>
<%= image "img_1832" %>
<%= image "img_1833" %>
<%= image "img_1834" %>
<%= image "img_1835" %>
<%= image "img_1836" %>

公園でたこ判食おうとすると、野良犬出現およびいきなりどしゃ降り。
たこ判の呪いじゃー。

<%= image "img_1838" %>
<%= image "01-image025" %>
<%= image "img_1839" %>

やまうち。やっぱ、ここが最高っすよ。

<%= image "img_1840" %>
<%= image "img_1841" %>
<%= image "img_1842" %>

店の前で記念撮影。みんな腹出まくり。

<%= image "img_1843" %>

本日のお宿。こんぴら温泉<a href="http://www.mytrip.net/HOTEL/15481/15481.html">つるや旅館</a>。

<%= image "img_1844" %>
<%= image "img_1845" %>
<%= image "img_1846" %>
<%= image "02-image001" %>
<%= image "02-image003" %>
