---
title: 讃岐うどんツアー  その2
---
まだ早いので旅館の周りをぶらつく。

<%= image "img_1847" %>
<%= image "img_1848" %>

腹へったー。つーことで、みやたけ。

<%= image "img_1849" %>
<%= image "img_1850" %>
<%= image "img_1852" %>

灸まん本店。本ツアー唯一のはずれ。金はともかく胃袋が埋まるのが痛い。

<%= image "img_1853" %>
<%= image "img_1854" %>

(善通寺)山下。

<%= image "img_1856" %>
<%= image "img_1855" %>
<%= image "img_1858" %>

移動中にニュージーランド村なるものを見付けたので、とりあえず入口まで行く。
いかにも駄目駄目テーマパーク。つーか、大半ニュージーランドと関係なし。

<%= image "img_1859" %>
<%= image "img_1860" %>
<%= image "img_1861" %>
<%= image "img_1862" %>
<%= image "img_1863" %>

やまうち(2回目)。

<%= image "img_1864" %>

おなかもくちくなったので、徳島のかずら橋まで足を伸ばす。
これは道中。

<%= image "img_1865" %>
<%= image "img_1866" %>
<%= image "img_1867" %>

到着。水が綺麗だねえ。しかしゼネコンが入ってて意味のまったく不明なイベント場作ってる。

<%= image "img_1868" %>
<%= image "img_1869" %>
<%= image "img_1870" %>
<%= image "img_1871" %>
<%= image "img_1872" %>
<%= image "img_1873" %>
<%= image "img_1874" %>
<%= image "img_1875" %>
<%= image "img_1876" %>
<%= image "img_1878" %>
<%= image "img_1879" %>
<%= image "img_1880" %>
<%= image "img_1881" %>
<%= image "img_1883" %>
<%= image "img_1885" %>
<%= image "img_1887" %>
<%= image "img_1888" %>
<%= image "img_1889" %>
<%= image "img_1890" %>
<%= image "img_1891" %>
<%= image "img_1894" %>
<%= image "img_1895" %>
<%= image "img_1896" %>

鮎を食らう。

<%= image "img_1898" %>
<%= image "img_1899" %>
<%= image "img_1900" %>
<%= image "img_1901" %>

うどんを食うとやたら眠くなるのは何故？ 小麦粉以外に別の白い粉でも混ざっているのであろうか。

<%= image "img_1897" %>

丸美屋食堂。

<%= image "img_1902" %>
<%= image "img_1903" %>

いやあ、いい旅でした。また来よう。
<a href="http://pic.sunahiro.net/20030831_sanuki/640dscf0299.jpg">使用前</a>、
<a href="http://pic.sunahiro.net/20030831_sanuki/640dscf0300.jpg">使用後</a>。
