---
title: おフランスざます
tags: French, London, restaurant
---
日本から吉富さんが仕事で来たので一緒に飯を食う。
Lancaster gateのフランス料理屋。

<pre class="address">
<a href="http://www.london-eating.co.uk/2445.htm">Pere Michel</a>
11 Bathurst Street, London, W2 2SD
Tel: 020 7723 5431 
</pre>

<%= image "img_1929" %>
<%= image "img_1930" %>
<%= image "img_1931" %>
<%= image "img_1932" %>
<%= image "img_1933" %>
<%= image "img_1934" %>
<%= image "img_1935" %>
<%= image "img_1936" %>

生カキを久しぶりに食ったけどうまかったぁ。
