---
title: コッツウォルズ探訪
---
あさみちゃんが日本から遊びに来たので、一緒にコッツウォルズへすみかわ号で日帰りの旅。

コッツウォルズは地域の名前で、この辺りには古い町並みが保存されております。

まずはBibury。鱒(Trout)の養殖場で有名な町。川が綺麗。

<%= image "img_1937" %>
<%= image "img_1939" %>
<%= image "img_1940" %>
<%= image "img_1942" %>
<%= image "img_1943" %>
<%= image "img_1944" %>
<%= image "img_1946" %>
<%= image "img_1947" %>

お、天然鱒発見！

<%= image "img_1949" %>
<%= image "img_1957" %>

軒先でリンゴが置かれてました。御自由にお取り下さいとのこと。
遠慮なく頂く。うまい。

<%= image "img_1956" %>

<%= image "img_1951" %>
<%= image "img_1952" %>
<%= image "img_1953" %>
<%= image "img_1954" %>

豪邸発見。壁が延々と続いている。

<%= image "img_1955" %>

続きましてBourton-on-the-Water。ここも小川で有名だそうな。
やたらめったら観光客がいる。

<%= image "img_1958" %>

川沿いのパブで昼飯。もちろん鱒を食う。

<%= image "img_1959" %>
<%= image "img_1960" %>
<%= image "img_1963" %>
<%= image "img_1961" %>
<%= image "img_1962" %>

入場はしなかったけど、鳥園もあった。

<%= image "img_1964" %>

蜂！ ラスボス？

<%= image "img_1965" %>

暑いので羊も木陰から出て来ず。
今年のイギリスは雨が降らず、雨量は例年の4％ぐらいだそうです。

<%= image "img_1966" %>

Chipping Campden。蜂蜜色の町と称されているそうな。つーか、泥水色。

<%= image "img_1967" %>
<%= image "img_1968" %>

ふるーい集会場。イギリスの古い建物はどれも天井が低い。

<%= image "img_1969" %>
<%= image "img_1970" %>
<%= image "img_1972" %>
<%= image "img_1974" %>

教会発見。お墓つき。

<%= image "img_1975" %>
<%= image "img_1977" %>
<%= image "img_1978" %>

道中、空の模様がいい感じなので車止めて撮影。デジカメじゃ分からんなあ。

<%= image "img_1979" %>

最後の町、Castle Combe。最も古い建物が保存されてる村だそうです。
小さい村で30戸ぐらいしかないのではないかな。

<%= image "img_1982" %>
<%= image "img_1983" %>

<a href="http://www.manorhousegolfclub.com/">マナーハウス</a>(貴族の舘を改装したホテル)があったので、覗いてみる。
敷地が村全体より広いす。つーか、村には使用人しか住んでなかったのでは？
次は泊まってみてもいいなあ。夜は何にもない上に真っ暗だと思うけど。

<%= image "img_1987" %>
<%= image "img_1984" %>
<%= image "img_1985" %>
<%= image "img_1986" %>

パブでお茶する。ここのスコーンうまかったー。

<%= image "img_1988" %>
<%= image "img_1989" %>
<%= image "img_1993" %>
<%= image "img_1994" %>

夕焼け見ながら帰る。

<%= image "img_1995" %>
