---
title: サッカー鑑賞
tags: Fulham, football, sports
---
藤原さんに誘われて、3人でフルハムの試合を見に行く。
最前列のチケットだよーん。

<%= image "img_2033" %>

イギリスでのサッカー(フットボール)のチケットの取り方ですが、
<a href="">ファンクラブ</a>に入れば先行購入できるので、それが一番確実です。
年間£27(5000円)とそんなに高くないし。

基本的に全試合満席なので、ファンクラブに入ってない人間には回ってくる可能性は低いです。
後は、当日にダフ屋と交渉するしかありません。

4つ隣のWhite City駅で降りて、人混みについて行く。
このスタジアム(Loftus Road)は今年限りのレンタルで来年からは、
工事中のFulhamのホームスタジアムに戻るそうです。

<%= image "img_2034" %>

最寄りのパブは試合始まる前から酔っ払いで一杯。警官は馬乗って警戒中。

<%= image "img_2036" %>
<%= image "img_2037" %>

これは席から撮った写真。ホーム側の右コーナーのすぐそば。すごい、かぶりつきの席。

<%= image "img_2038" %>
<%= image "img_2039" %>
<%= image "img_2040" %>

1階最前列は迫力はあるんだけど、試合の流れが分かりにくくて難しいなあ。

<%= image "img_2041" %>
<%= image "img_2042" %>

稲本は今日もスターティングメンバーでした。
ということで、生稲本を至近距離で見る。ただし、65分で交替でした。
あんまり調子いいようには見えなかったなあ。

<%= image "img_2043" %>
<%= image "img_2044" %>

10分前になると乱入防止の警備員が待機。試合は結局0対0で盛り上がらず。

<%= image "img_2045" %>
