---
title: スコットランド旅行
tags: scotland, travel, whisky
---
ayayaとitojunが大量に写真(<a href="http://ayaya.nui.org/diary/200311/20031128/index.html">ここ</a>と<a href="http://www.itojun.org/diary/20031128-1205/">ここ</a>)撮ってたので、わたしゃあんまり頑張っていません。

yuo, ayaya, itojun, 嫁さんと僕でアイラ(Islay)島にウィスキーを飲みに行く旅へ。
でも、土日にアイラ島行っても何もないので、とりあえずグラスゴーへ飛ぶ。

宿の朝飯。

<%= image "img_2151" %>
<%= image "img_2153" %>

Glasgow School of Art。

<%= image "img_2156" %>
<%= image "img_2154" %>
<%= image "img_2155" %>

夜はカレー。

二日目にGlasgow Cathedralへ。

<%= image "img_2165" %>
<%= image "img_2164" %>
<%= image "img_2158" %>
<%= image "img_2159" %>
<%= image "img_2161" %>
<%= image "img_2162" %>
<%= image "img_2163" %>

宗教博物館。itojunとらぶらぶ。

<%= image "img_2166" %>

夜はパブ飯。

んで、いよいとアイラ島へ。景色が素晴らしい。

<%= image "img_2168" %>
<%= image "img_2169" %>
<%= image "img_2170" %>

ここの空港も小さかった。あたしゃ免許を裁判所に取り上げられ中なので運転できず。
結局、ウィスキーというか酒が飲めないitojunが全部運転することになる。

<%= image "img_2171" %>
<%= image "img_2172" %>

オフシーズンなので全然人気なし。たぶんこの島には羊の方が人間の100倍ぐらい多い。
柵乗り越えたり、そもそも柵なかったりして、羊がそこかしこにいます。運転恐い。

<%= image "img_2173" %>
<%= image "img_2175" %>

Loch Finlaggan。

<%= image "img_2177" %>
<%= image "img_2179" %>
<%= image "img_2180" %>
<%= image "img_2181" %>
<%= image "img_2183" %>
<%= image "img_2184" %>
<%= image "img_2185" %>
<%= image "img_2186" %>

Ardbegへ。蒸留工程を学ぶ。非常に勉強になります。
この後、どこの蒸留所に言っても「バーテンか？」と聞かれます。
日本からわざわざ個人ツアー組んで来るのってバーテンしかおらんのかな。

<%= image "img_2198" %>
<%= image "img_2205" %>
<%= image "img_2188" %>
<%= image "img_2189" %>
<%= image "img_2192" %>
<%= image "img_2194" %>
<%= image "img_2195" %>
<%= image "img_2196" %>
<%= image "img_2199" %>
<%= image "img_2200" %>
<%= image "img_2201" %>
<%= image "img_2202" %>
<%= image "img_2203" %>
<%= image "img_2204" %>

itojunの恥ずかしい写真を激写。モザイクを入れるべきかどうか小一時間悩む。

<%= image "img_2206" %>

翌日、Bowmoreへ。

<%= image "img_2214" %>
<%= image "img_2215" %>
<%= image "img_2208" %>
<%= image "img_2209" %>
<%= image "img_2210" %>
<%= image "img_2211" %>
<%= image "img_2212" %>

ホテルのパブで昼飯。海老のガーリックバターのグリルがめちゃうま。

<%= image "img_2216" %>

Laphroaig。昨日からアイラ島に5人の日本人が来てるのは島中で話題になってるらしくて、
「昨日はArdbegにいただろ」と言われる。狭い島です。

<%= image "img_2218" %>
<%= image "img_2220" %>
<%= image "img_2221" %>
<%= image "img_2222" %>
<%= image "img_2223" %>
<%= image "img_2224" %>
<%= image "img_2225" %>
<%= image "img_2226" %>
<%= image "img_2227" %>
<%= image "img_2231" %>
<%= image "img_2234" %>

んで、ロンドンに戻り、皆さんすみかわ家に滞在。さらに明くる日に行ったインド料理屋。

<pre class="address">
<a href="http://www.madhusonline.com/">MADHU'S</a>
39 South Road
Southall, Middlesex UB1 1SW
Tel:020 8574 1897
</pre>
