---
title: 玉泉洞
---
朝はボンちゃんと二人でマッサージ屋にいく。
ボンちゃんがやたらと日本語で質問攻めにあってるので、通訳させられる。
最初は彼の肩のケガを気にしてて質問してるのかと思いきや、
みんな彼のムキムキの筋肉に興味があるようで。何だかなあ。

さて、今日は<a href="http://www.gyokusendo.co.jp/">玉泉洞(おきなわワールド)</a>へ。
日本で2番目に長い洞窟だそうで。1kmぐらい中を歩けます。

<%= image "img_2325" %>
<%= image "img_2326" %>
<%= image "img_2327" %>
<%= image "img_2328" %>
<%= image "img_2329" %>
<%= image "img_2330" %>
<%= image "img_2331" %>
<%= image "img_2332" %>
<%= image "img_2333" %>
<%= image "img_2334" %>
<%= image "img_2335" %>
<%= image "img_2336" %>
<%= image "img_2337" %>
<%= image "img_2338" %>
<%= image "img_2340" %>

熱帯フルーツ園。ボンちゃん、故郷(生まれは<a href="http://www.visittnt.com/">トリニダド</a>)を思い出したのか大はしゃぎ。

<%= image "img_2341" %>
<%= image "img_2342" %>

世界の犬猫展やってたので入る。
名前のわりにやたらとちゃちい催しですが、
犬猫らぶりー。

<%= image "img_2344" %>
<%= image "img_2346" %>
<%= image "img_2348" %>
<%= image "img_2349" %>
<%= image "img_2350" %>

紫芋の焼芋。

<%= image "img_2352" %>

<%= image "img_2351" %>
<%= image "img_2353" %>
<%= image "img_2355" %>

夜はボンちゃん手製のカニカレー(トリニダド料理)。
めちゃうまでした。食うのに夢中で写真なし。
