---
title: サンライズ瀬戸の旅
tags: kagawa, train, travel
---
仕事で高松へ。お昼ごはんはもちろんうどん。ひやあつ。

<pre class="address">
<a href="http://www.shikoku-np.co.jp/udon/shop/shop.aspx?id=73">上原屋本店</a>
香川県高松市栗林町1−18−8
087−831−6779
</pre>

<%= image "img_0161" %>
<%= image "img_0162" %>

仕事が終わって電車の時間までまだ間があるので、街中を散策。はなまるうどん本店発見。

<%= image "img_0163" %>

晩ご飯。

<pre class="address">
<a href="http://r.tabelog.com/kagawa/A3701/A370101/37003494/">お食事処 鉢の木</a>
香川県高松市古馬場町2-12
087-851-8955
</pre>

付出し、鰆、小エビのかき揚げ、里芋。

<%= image "img_0164" %>
<%= image "img_0165" %>
<%= image "img_0166" %>
<%= image "img_0167" %>
<%= image "img_0168" %>

店出るとまだ八時。電車までまだ一時間半ある。寒いよお。
ブラブラしながらアーケード街抜けて駅方面へ。何もなくなった。
このままだと凍死するので、うどん。

<%= image "img_0169" %>

その後、駅前のビルにタリーズを発見するものの一時間で閉店。
なんやかんやでホームに来たら、サンライズエクスプレスがもう止まってった。

<%= image "img_0172" %>

乗車。
今後、仕事がタイトな時に夜行列車での移動が選択肢になるかもしれないので、
余裕があるときに経験を積んでおこうというのが今回の趣旨。
部屋はB個室(シングル)にしました。乗車率一割ぐらい。もっと満席かと思ってたのに。

<%= image "img_0176" %>
<%= image "img_0182" %>
<%= movie "img_0191" %>

<%= image "img_0184" %>
<%= image "img_0190" %>

岡山駅でサンライズ出雲と連結。息子に見せるために動画撮影。

<%= movie "img_0187" %>
<%= movie "img_0188" %>

横浜着。一分で横須賀線接続ですが、無事乗り換えできました。

<%= image "img_0196" %>

結論としては、横になれたので肩や腰が凝ることはなかったのですが、
振動と音で熟睡できませんでした。早朝に家に戻りつくと二度寝してしまいました。
とはいえ、足元が揺れる中でシャワーを浴びるというのはなかなか得難い体験でしたが、
次回は飛行機にしたいと思います。はい。
