---
title: どじょっこ
tags: izakaya, restaurant
---
どじょっこで会社のみ。

<pre class="address">
<a href="http://www5.ocn.ne.jp/~dojokko/">どじょっこ</a>
東京都荒川区町屋1-17-6
Tel: 03-3895-0003
</pre>

<%= image "img_0211" %>
<%= image "img_0215" %>
<%= image "img_0212" %>
<%= image "img_0214" %>
<%= image "img_0217" %>
<%= image "img_0219" %>
<%= image "img_0224" %>
<%= image "img_0225" %>
<%= image "img_0229" %>
<%= image "img_0231" %>
<%= image "img_0235" %>
<%= image "img_0240" %>
<%= image "img_0262" %>

どじょうの丸鍋。

<%= image "img_0243" %>
<%= image "img_0246" %>

ナガスクジラの刺身。

<%= image "img_0250" %>
<%= image "img_0253" %>
