---
title: バンコク
tags: businesstrip, sightseeing, thailand
---
今回のスケジュール。タイ一泊、インド一泊、飛行機一泊。

<pre class="flight">
2/6(日) JL707  18:05 成田 - バンコク 23:15
2/7(月) JL7911 17:35 バンコク - デリー 20:45
2/8(火) JL740  20:20 デリー - 成田 7:10(+1)
</pre>

デリー出張なんですが、トランジットしてバンコクで一泊。タイ初上陸。
これで<a href="/prof/country.html">22国目</a>。
ホテルは有名なパッポン通りのすぐそば。

<pre class="address">
LE MERIDIEN BANGKOK
40/5 Surawong Road,Bangrak
(66)(2) 232 8888
</pre>

<%= image "img_0267" %>
<%= image "img_0269" %>
<%= movie "img_0265" %>

ホテルで朝御飯。

<%= image "img_0272" %>
<%= image "img_0273" %>
<%= image "img_0275" %>

朝飯食って、空港移動開始まで4時間半ぐらい時間あるので、ホテルに荷物預けて駆け足観光。
パッポン通りを歩いてみる。昼間は何も無し。

<%= image "img_0276" %>
<%= image "img_0278" %>

BTSの一日乗車券を買って移動。さらに船で移動。

<%= image "img_0360" %>
<%= image "img_0280" %>
<%= image "img_0281" %>
<%= image "img_0282" %>
<%= image "img_0283" %>
<%= image "img_0284" %>
<%= movie "img_0285" %>
<%= movie "img_0286" %>
<%= movie "img_0287" %>
<%= movie "img_0288" %>

乾物市場を通り抜ける。

<%= image "img_0290" %>
<%= image "img_0291" %>

ワット・ポーでReclining Buddhaを見る。

<%= image "img_0292" %>
<%= image "img_0293" %>
<%= image "img_0307" %>
<%= image "img_0296" %>
<%= image "img_0300" %>
<%= movie "img_0297" %>

扁平足な足の裏とパンチパーマ。

<%= image "img_0302" %>
<%= image "img_0304" %>
<%= image "img_0306" %>

さらにお寺を見学。

<%= image "img_0309" %>
<%= image "img_0310" %>
<%= image "img_0311" %>
<%= image "img_0312" %>

昼飯を食べに移動。つっちーさんに教えてもらったMBKへ。隣はTokyuだった。

<%= image "img_0314" %>
<%= image "img_0315" %>
<%= image "img_0316" %>
<%= image "img_0319" %>

6Fのフードコートへ。僕はミートボールの麺。ピリ辛でうまい。
池田さんはタイスキ。ビールも頼んじゃう。
「シンハビール」じゃなくて「シンビール」なのね。知らんかった。

<%= image "img_0322" %>
<%= image "img_0321" %>
<%= image "img_0324" %>
<%= image "img_0325" %>

スイカジュースも飲む。

<%= image "img_0326" %>

ホテルに戻るついでにタニヤ通りを通る。日本語の看板ばっかり。

<%= image "img_0327" %>
<%= image "img_0328" %>
<%= image "img_0329" %>

去年開通したばっかりのエアポートリンクに乗る。

<%= image "img_0330" %>
<%= image "img_0334" %>
<%= movie "img_0337" %>

空港で生シンビールにありつく。

<%= image "img_0339" %>
<%= image "img_0341" %>

デリーへのフライトはA380でした。生まれて初めて。機内でインド人が大騒ぎ。修学旅行か。
