---
title: デリー
tags: travel, India, business
---
ええかげん慣れてきたんで写真は少なめ。
個人的には嬉しくないですが今回のホテルは日本食の朝食が出ます。

<pre class="address">
<a href="http://www.avalonjapan.com/">AVALON COURTYARD Residences Suites</a>
Mehrauli Gurgaon Road, Sultanpur, New Delhi 110030, India
+91 11 42224111
</pre>

今日は霧が出てました。

<%= image "img_0344" %>

仕事終了後、空港でフライトの時間まで飲む。

<%= image "img_0349" %>
<%= image "img_0345" %>
<%= image "img_0347" %>
<%= image "img_0352" %>
<%= image "img_0354" %>
<%= image "img_0357" %>

飛行機の中で飲もうと思ってマンゴージュースを買う。

<%= image "img_0358" %>

結局、インド料理食ったのはバンコクからのフライトの機内食だけでした。
せっかくインド来たのにぃぃ。
