---
title: 横浜こども科学館
---
<pre class="address">
<a href="http://www.sciencemuseum.jp/yokohama/">横浜こども科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

<%= image "dsc09857" %>
<%= image "dsc09861" %>
<%= image "dsc09868" %>
<%= image "dsc09877" %>
<%= image "dsc09884" %>
<%= image "dsc09891" %>
<%= image "dsc09898" %>
<%= image "dsc09900" %>
<%= image "dsc09903" %>
<%= image "dsc09920" %>
<%= image "dsc09924" %>
<%= image "dsc09925" %>
<%= image "dsc09926" %>
<%= image "dsc09931" %>
<%= image "dsc09933" %>
<%= image "dsc09935" %>
<%= image "dsc09937" %>
<%= movie "mov09863" %>
<%= movie "mov09864" %>
<%= movie "mov09865" %>
<%= movie "mov09871" %>
<%= movie "mov09899" %>
<%= movie "mov09909" %>
<%= movie "mov09912" %>
<%= movie "mov09914" %>
<%= movie "mov09936" %>
<%= movie "mov09938" %>

<pre class="address">
<a href="http://odekake.info/kanagawa/21_park/log_youkoudai/log_youkoudai.html">洋光台駅前公園こどもログハウス</a>
横浜市磯子区洋光台5−2
045-833-1569
</pre>

<%= image "dsc09939" %>
<%= image "dsc09951" %>
<%= image "dsc09952" %>
<%= image "dsc09953" %>
<%= image "dsc09955" %>
<%= image "dsc09965" %>
<%= image "dsc09972" %>
<%= movie "mov09964" %>
