---
title: アメイジングワールド
tags: indoor, kids, playground
---
嫁が子供二人と蓮の友達連れて、アメイジングワールドへ。
四人の引率はそれはそれは大変だったそうな。

<pre class="address">
<a href="http://www.amazingworld.jp/">アメイジングワールド</a> ルララ港北店
神奈川県横浜市都筑区中川中央2-2-1
</pre>

<%= image "sbsh0004" %>
<%= image "sbsh0005" %>
<%= image "sbsh0008" %>
<%= image "sbsh0011" %>
<%= image "sbsh0015" %>
<%= image "sbsh0019" %>
<%= image "sbsh0020" %>
<%= image "sbsh0022" %>
<%= image "sbsh0025" %>
<%= image "sbsh0026" %>
<%= image "sbsh0027" %>
<%= image "sbsh0029" %>
