---
title: キドキド
tags: Kawasaki, family, playground
---
義妹一家が遊びに来る。川崎へ。

<pre class="address">
<a href="http://www.bornelund.co.jp/shop/kanto.html#kanagawa">キドキド 川崎ルフロン店</a>
川崎市川崎区日進町1-11　川崎ルフロン9階
044-221-1560
</pre>

<%= image "dsc09995" %>
<%= image "dsc00006" %>
<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00017" %>
<%= image "dsc00027" %>
<%= image "dsc00033" %>
<%= image "dsc00038" %>
<%= image "dsc00047" %>
<%= image "dsc00048" %>
<%= image "dsc00055" %>
<%= image "dsc00057" %>
<%= image "dsc00059" %>
<%= image "dsc00060" %>
<%= image "dsc00079" %>
<%= movie "mov00011" %>
<%= movie "mov00031" %>
<%= movie "mov00037" %>
<%= movie "mov00051" %>
<%= movie "mov00052" %>
<%= movie "mov00065" %>
<%= movie "mov00068" %>
<%= movie "mov00069" %>

ドーナツ屋さんでおやつ。

<pre class="address">
<a href="http://krispykreme.jp/index.html">Krispy Kreme Doughnuts 川崎BE店</a>
</pre>

<%= image "dsc00025" %>
<%= image "dsc00080" %>
