---
title: 岸根公園
tags: park, Yokohama, kids
---
今日は岸根公園。

<pre class="address">
<a href="http://www.city.yokohama.jp/me/kohoku/kyoutuu/midokoro/kisine/">岸根公園</a>
横浜市港北区岸根町725-1
045-481-1697
</pre>

<%= image "dsc00148" %>
<%= image "dsc00150" %>
<%= image "dsc00156" %>
<%= image "dsc00157" %>
<%= image "dsc00163" %>
<%= image "dsc00171" %>
<%= movie "mov00158" %>
<%= movie "mov00170" %>
<%= movie "mov00175" %>
