---
title: にこぱ
tags: playground, Yokohama, baby
---
<pre class="address">
<a href="http://yoko-nicopa.rakurakuhp.net/">にこぱ 横浜ジャックモール店</a>
045-226-0722
</pre>

りりちゃん、風船もボールプールも怖がらず。大したもんだ。

<%= image "img_0005" %>
<%= movie "img_0004" %>
<%= movie "img_0006" %>
<%= movie "img_0007" %>

ウロウロ楽しんでる。

<%= movie "img_0008" %>
