---
title: 小田原城址公園
tags: odawara, cherry blossoms, park
---
桜を見に小田原城へ。

<%= image "sbsh0010" %>
<%= image "dsc_0008" %>
<%= image "dsc_0010" %>
<%= image "dsc_0019" %>
<%= image "dsc_0021" %>
<%= image "dsc_0035" %>
<%= image "dsc_0052" %>
<%= image "dsc_0057" %>
<%= image "dsc_0060" %>
<%= image "dsc_0065" %>
<%= image "dsc_0087" %>

さて、ずっと子供とこれやりたかったんです。とうとう悲願が叶う。

<span class="fontsizeplus">「おい、蓮、あれ何だ？」「え？あれ、ひょっとして？」</span>

<span class="fontsizeplusplus">「UFOだ！」</span>

<%= image "ufo02" %>

<span class="fontsizeplusplus">「こっちに降りて来た！」</span>

<%= image "ufo01" %>

報徳二宮神社。じーちゃんばーちゃんはここで式を挙げたらしい。

<%= image "dsc_0109" %>
<%= image "dsc_0101" %>
<%= image "dsc_0112" %>
<%= image "dsc_0090" %>
<%= image "dsc_0096" %>

なぜか通りがかりのおばちゃんと一緒にお参りする息子。

<%= image "dsc_0100" %>
<%= image "dsc_0108" %>
<%= image "sbsh0005" %>
<%= image "sbsh0048" %>
<%= image "sbsh0038" %>
<%= image "sbsh0041" %>

ちっちゃい遊園地が敷地にあります。

<%= image "sbsh0027" %>
<%= image "sbsh0034" %>
<%= image "sbsh0036" %>
<%= image "sbsh0037" %>
<%= image "sbsh0023" %>
<%= movie "img_0052" %>
