---
title: こども宇宙科学館
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

<%= image "dsc00514" %>
<%= image "dsc00517" %>
<%= image "dsc00518" %>
<%= image "dsc00519" %>
<%= image "dsc00520" %>
<%= image "dsc00533" %>
<%= image "dsc00535" %>
<%= image "dsc00538" %>
<%= image "dsc00544" %>
<%= image "dsc00547" %>
