---
title: あーすぷらざ
---
蓮とお母さんと二人でお出かけ。

<pre class="address">
<a href="http://www.earthplaza.jp/">あーすぷらざ</a>
〒247-0007 横浜市栄区小菅ケ谷1−2−1
神奈川県立地球市民かながわプラザ
</pre>

<%= image "img_0044" %>
<%= image "img_0050" %>
<%= image "img_0051" %>
<%= image "img_0054" %>
<%= image "img_0060" %>
<%= image "img_0062" %>
<%= image "img_0068" %>
<%= image "img_0070" %>
<%= image "img_0081" %>
<%= movie "hdimg_0066" %>
<%= movie "hdimg_0075" %>
<%= movie "hdimg_0079" %>
