---
title: 散々な一日
tags: incident, park, tsujido
---
<pre class="address">
<a href="http://www.kanagawa-park.or.jp/tujidou/">辻堂海浜公園</a>
神奈川県藤沢市辻堂西海岸3-2
TEL 0466-34-0011
</pre>

今日は散々な一日。交通公園行ったら、月曜は定休日でやんの。
仕方がないので、池のあたりで遊んでたら、アメンボ追いかけてた蓮が池にハマる。

次に木登りで遊ぶ。余所見してたら、お父さんのお弁当がカラスに盗まれる。

<%= movie "img_0112" %>

木登り失敗シーン。まあ、これは大したことない。

<%= movie "img_0111" %>

皆さん凧揚げしてる。お父さんは先日買ったモバイルカイトを持ってくるのをすっかり忘れてた。

<%= image "img_0115" %>
<%= image "img_0123" %>
<%= movie "img_0117" %>

砂場で遊ぶ。

<%= image "img_0118" %>
<%= movie "img_0120" %>
<%= movie "img_0122" %>

砂場で蓮がナンパに成功。蓮が今日は五才の誕生日だと説明してたら、女の子が砂で誕生日ケーキを作ってくれる。
ペットボトルに石を詰めるのに夢中になってた蓮はおざなりな返事。

<%= image "img_0129" %>
<%= movie "img_0130" %>

その後、石入りペットボトルを持って走りまわってたら、木が生えてるくぼみに足をとられて、皮膚がズル剥ける。

<%= image "img_0132" %>

とりあえず水道水で洗って靴と靴下をはかせようとしたけど、砂とくっさい池の水まみれで、
いかにも化膿しそうなので、血が乾くまで待ってから蓮を抱えてバス停まで歩いて辻堂駅へ移動。
空腹なので辛い。
駅前のコンビニで絆創膏を購入して、ようやく靴が履けるようになったので家に戻る。

水がしみて蓮が泣きまくってたので、ひどい怪我かと思いきや家に着く頃にはケロっとしてた。
シャワー浴びさせてもう一回流水で洗って、絆創膏貼り直す。
歩いても平気そうなので約束してたエクスガイナー買いに一緒にヨドバシカメラ行ったら、売り切れでした。ぎゃふん。
