---
title: 辻堂海浜公園
---
昨日、交通公園が閉まってたので今日も再挑戦。

<pre class="address">
<a href="http://www.kanagawa-park.or.jp/tujidou/">辻堂海浜公園</a>
神奈川県藤沢市辻堂西海岸3-2
TEL 0466-34-0011
</pre>

誕生日に買ってもらったドリルライナーを持ち込んで遊ぶ。

<%= image "img_0134" %>
<%= movie "img_0133" %>

プラレール持ってこなかった女の子に、余分に持ってきた車両を貸してあてて今日もナンパ成功。
自転車、スカイサイクルと遊んだ後、公園に連れ出す。

<%= image "img_0135" %>
<%= movie "img_0137" %>
<%= movie "img_0138" %>
<%= movie "img_0136" %>
