---
title: 遠足
---
保育園の遠足で野毛山動物園へ。

<pre class="address">
<a href="http://www2.nogeyama-zoo.org/">野毛山動物園</a>
横浜市西区老松町63-10
045-231-1307
</pre>

<%= image "img_0163" %>
<%= image "img_0168" %>
<%= image "img_0169" %>
<%= image "img_0268" %>
<%= movie "img_0171" %>
<%= movie "img_0172" %>
<%= movie "img_0173" %>

クジャクを発見。蓮が追い回す。

<%= image "dsc00622" %>
<%= image "dsc00625" %>

動物のそばにいる先生から、スタンプをもらうルール。

<%= image "img_0256" %>
<%= image "img_0167" %>

ペンギンはちょうど餌やりのタイミングでした。

<%= movie "img_0175" %>
<%= movie "hdimg_0255" %>

スタンプ揃った。りりちゃん寝てるので、お父さん頑張った。

<%= image "img_0271" %>
<%= image "img_0279" %>
<%= image "img_0260" %>

昼飯食って記念撮影して解散。有志で公園で遊ぶ。

<%= image "img_0287" %>
<%= image "img_0290" %>
<%= movie "hdimg_0281" %>
<%= movie "hdimg_0282" %>
<%= movie "img_0178" %>
