---
title: アウトバック
tags: dinner, makuhari, steak
---
幕張に来ると肉が食いたくなる。

<pre class="address">
<a href="http://www.outbacksteakhouse.co.jp/location/makuhari.html">アウトバックステーキハウス幕張店</a>
千葉県千葉市美浜区ひび野1-8 メッセ アミューズ モール 1F
043-213-3256
</pre>

<%= image "img_0232" %>
<%= image "img_0233" %>
<%= image "img_0235" %>
<%= image "img_0236" %>
<%= image "img_0237" %>
<%= image "img_0241" %>

幕張を歩くと地面がいたるところで波うってたのをみてビックリした。
最初、そういうデザインだったっけと思ってしまった。
