---
title: ファンタジーキッズリゾート
tags: indoor, kids, son
---
雨降ってるので屋内遊技場。
蓮と二人で海老名へ。

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名 3F
</pre>

<%= image "img_0244" %>
<%= image "img_0245" %>
<%= image "img_0246" %>
<%= movie "img_0249" %>

ボールプールの遊び方がだんだん無茶苦茶になる。昔は入るのも嫌がってたくせに。

<%= image "img_0252" %>
<%= movie "img_0250" %>
