---
title: 明月院
tags: kamakura, hydrangea, temple
---
紫陽花を見に北鎌倉へ。

<pre class="address">
<a href="http://www.kamakuratoday.com/map/dvisit/meigetsuin.html">明月院</a>
山ノ内189
 0467-24-3437
9:00～16:00（6月8:30～17:00）
300円（6月は500円）
</pre>

<%= image "dsc00704" %>
<%= image "dsc00716" %>
<%= image "dsc00717" %>
<%= image "dsc00722" %>
<%= image "dsc00735" %>
<%= image "dsc00742" %>
<%= image "dsc00746" %>
<%= image "dsc00763" %>
<%= image "dsc00766" %>
<%= image "dsc00778" %>

お父さんは遅刻して参加したら、見学終わってた。
