---
title: ルンバのバッテリー交換
---
ルンバのバッテリーが15分ぐらいしか保たなくなったので注文。

<%= image "dsc00804" %>
<%= image "dsc00789" %>
<%= image "dsc00792" %>

<a href="http://www.amazon.co.jp/dp/B000VPR8TU/daydreaonthen-22">保守パーツ</a>
(パーツは機種ごとに確認なので、自分で確認すること)
は日本でも安く買える。バラして確認したら、NiCd使ってた。そら一年もたんわ。保守パーツはNiMHなのに変なの。

<%= image "dsc00797" %>

つーことで、入れ替え。

<%= image "dsc00798" %>
