---
title: 沖縄旅行 その1
tags: okinawa, travel, resort
---
去年は新生児がいたので来れませんでしたが、今年も来ました沖縄へ。

<%= image "img_0272" %>

空港で拾ってもらって、一瞬、義妹宅へ。何故かはりきって歩き出すりりちゃん。

<%= image "img_0275" %>
<%= image "img_0280" %>
<%= movie "img_0281" %>

そして、治外法権リゾート。

<pre class="address">
<a href="http://kadenaforcesupport.com/okuma/index.html">Okuma Recration Facility</a>
住所 <a href="http://maps.google.com/maps?f=q&amp;q=26.740360,128.158524%20%28%E6%97%A5%E6%9C%AC,%20%E6%B2%96%E7%B8%84%E7%9C%8C%E5%9B%BD%E9%A0%AD%E9%83%A1%E5%9B%BD%E9%A0%AD%E6%9D%91%E6%A1%83%E5%8E%9F%29">沖縄県国頭郡国頭村桃原</a>
</pre>

<%= image "dsc00808" %>
<%= image "dsc00810" %>
<%= image "dsc00816" %>

芝生で遊ぶ。

<%= image "dsc00819" %>
<%= image "dsc00821" %>
<%= image "dsc00822" %>
<%= image "dsc00828" %>
<%= image "dsc00830" %>
<%= image "dsc00832" %>
<%= image "dsc00836" %>
<%= image "dsc00851" %>
<%= image "dsc00852" %>
<%= image "dsc00854" %>
<%= image "dsc00840" %>
<%= image "dsc00845" %>
<%= image "img_0287" %>
<%= image "img_0408" %>
<%= movie "mov00834" %>
<%= movie "mov00843" %>

晩ご飯。毎年、何から何まで用意してもらってありがたい。

<%= image "dsc00858" %>
<%= image "dsc00859" %>
<%= image "dsc00860" %>
<%= image "dsc00864" %>
<%= image "dsc00865" %>
<%= image "dsc00867" %>
<%= image "dsc00870" %>
<%= image "dsc00872" %>
<%= image "dsc00873" %>
<%= image "dsc00875" %>
<%= image "dsc00880" %>

Samuel Adams Noble Pils

<%= image "img_0290" %>
