---
title: 沖縄旅行 その4
---
動物園へ行く。が、蓮くんが調子悪し。

<pre class="address">
<a href="http://www.musu-b.com/shop211/">ズケラン養鶏場 ミニミニ動物園</a>
〒904-2245 沖縄県うるま市赤道660
098-973-4323
</pre>

<%= image "dsc01123" %>
<%= image "dsc01126" %>
<%= image "dsc01135" %>
<%= image "dsc01145" %>
<%= image "dsc01148" %>
<%= image "dsc01151" %>
<%= image "dsc01154" %>
<%= image "dsc01157" %>
<%= image "dsc01165" %>
<%= image "dsc01174" %>
<%= image "dsc01180" %>
<%= image "dsc01186" %>
<%= image "dsc01190" %>
<%= image "dsc01194" %>
<%= image "dsc01196" %>
<%= image "dsc01203" %>
<%= image "img_0417" %>
<%= image "img_0420" %>
<%= image "img_0421" %>
<%= image "img_0425" %>
<%= image "img_0433" %>
<%= image "img_0434" %>
<%= image "img_0442" %>
<%= image "img_0444" %>
<%= image "img_0445" %>
<%= image "img_0448" %>
<%= image "img_0453" %>
<%= movie "hdimg_0409" %>
<%= movie "hdimg_0439" %>
<%= movie "hdimg_0443" %>
<%= movie "mov01124" %>

アルマジロがいたので、「でっかいダンゴムシだよ。」と嫁に教えると死ぬほどビビる。信じんな。

<%= image "dsc01176" %>

おんなの駅でお昼ご飯。
ソーキ冷やしタレそばとイカスミジューシー(おにぎり)。

<pre class="address">
<a href="http://onna.or.tv/">おんなの駅</a>
沖縄県恩納村字仲泊1656-9
098-964-1188
</pre>

<%= image "img_0302" %>
<%= image "img_0305" %>

ホテルのプールで遊ぼうとしたが、ここで蓮くんが発熱でダウン。

<pre class="address">
<a href="http://www.renaissance-okinawa.com/">ルネッサンス リゾート オキナワ</a>
〒904-0416 沖縄県国頭郡恩納村山田3425-2
098-965-0707
</pre>

<%= image "img_0457" %>

蓮が起きてこないのでりりちゃん連れてホテルの砂浜をぶらつく。

<%= image "img_0461" %>
<%= image "img_0462" %>
<%= image "img_0464" %>
<%= image "img_0466" %>
<%= image "img_0470" %>
<%= image "img_0473" %>

どうにも駄目っぽいので2フライト繰り上げて帰宅。途中で機内備え付けのゲロ袋活躍。
