---
title: CKP研究会
---
玉葱島に出張。今回は神戸空港経由にしてみる。久しぶりにアップグレードポイント使えた。

<%= image "img_0311" %>
<%= image "img_0317" %>

今回のホテル。

<%= movie "hdimg_0011" %>

話は飛んで最終日。
次の日は人間ドックなので早目に晩ご飯食べないといけない。
ということで、三宮で餃子。
三宮って美味しそうな店が多いのね、知りませんでした。

<pre class="address">
<a href="http://r.tabelog.com/hyogo/A2801/A280101/28000495/">瓢たん 三宮店</a>
078-331-1354
兵庫県神戸市中央区北長狭通1-31-37
</pre>

<%= image "img_0320" %>
<%= image "img_0318" %>

帰りの電車。
京コンピュータ駅というのができたました。
世界一になった記念に改名したそうで。

<%= image "img_0322" %>
<%= image "img_0326" %>
<%= image "img_0328" %>
<%= image "img_0332" %>
