---
title: 海老名
tags: dinner, steak, ebina
---
海老名で遊んだあとお肉。

<pre class="address">
<a href="http://www.outbacksteakhouse.co.jp/location/ebina.html">アウトバックステーキハウス 海老名店</a>
神奈川県海老名市中央1-18-1 ビナウォーク6番館1F
046-292-4286
</pre>

<%= image "img_0565" %>
<%= image "img_0570" %>

パスタが意外とウマいことに最近気づく。

<%= image "img_0571" %>
<%= image "img_0575" %>
<%= image "img_0581" %>
