---
title: 大連
tags: dinner
---
会社のみで餃子屋さんへ。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1314/A131402/13004557/">中国家庭料理 大連</a>
東京都港区芝5-15-3 大連ビル
03-5443-0488
</pre>

<%= image "img_0382" %>
<%= image "img_0384" %>
<%= image "img_0387" %>
<%= image "img_0388" %>
<%= image "img_0390" %>
