---
title: 記念写真 公式版
tags: photography, family, children
---
七五三+一才記念の写真がスタジオからあがってきた。
<a href="../0718-pictures/">メイキング</a>と比べてみると面白い。

<%= image "img_0002" %>
<%= image "img_0006" %>
<%= image "img_0011" %>
<%= image "img_0019" %>
<%= image "img_0027" %>
<%= image "img_0033" %>
<%= image "img_0042" %>
<%= image "img_0043" %>
<%= image "img_0061" %>
