---
title: 横浜こども科学館
tags: museum, science, kids
---
<pre class="address">
<a href="http://www.sciencemuseum.jp/yokohama/">横浜こども科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

段ボール遊園地。

<%= image "img_0831" %>
<%= image "img_0824" %>
<%= image "img_0842" %>
<%= image "img_0829" %>
<%= movie "hdimg_0836" %>

サイエンスショウで巨大シャボン玉。

<%= image "img_0870" %>
<%= movie "hdimg_0861" %>
<%= movie "hdimg_0865" %>

<%= image "img_0878" %>
<%= image "img_0884" %>

来館記念にカレンダー作成。

<%= image "img_0887" %>

どうにも炭酸が苦手な息子さん(主食:牛乳)

<%= movie "hdimg_0892" %>
