---
title: ダンスりりちゃん
tags: dance, daughter
---
音楽かけては踊るりりちゃん。
アメリカの酒場で突然踊りだすおばちゃんみたいですが。
<a href="../../2007/0821-dance/">これ</a>と比べると蓮とは動きが違うなあ。蓮は足が上がってないし。

<%= image "dsc01509" %>
<%= image "dsc01513" %>
<%= movie "mov01511" %>
<%= movie "mov01512" %>

おままごと。

<%= movie "mov01514" %>
<%= movie "mov01515" %>
