---
title: ソレイユの丘
tags: kids, park
---
レンタカー借りてソレイユの丘へ。

<%= image "img_1053" %>
<%= image "img_1061" %>
<%= image "img_1067" %>
<%= image "img_1071" %>

<pre class="address">
<a href="http://www.yokosuka-soleil.jp/">長井海の手公園 ソレイユの丘</a>
神奈川県横須賀市長井4丁目
046-857-2500
</pre>

芝そり。普通に楽しんで滑れるようになりました。
坂も上がらずに見てるだけでいいので楽だわ。

<%= image "img_0397" %>
<%= image "img_1074" %>
<%= image "img_1077" %>
<%= movie "img_0398" %>
<%= movie "img_0399" %>

乗馬初体験。なにげにお父さんも初めて。
後から蓮に聞いたら怖かったらしい。

<%= image "img_1085" %>
<%= image "img_1089" %>
<%= movie "hdimg_1091" %>

水遊び。

<%= image "img_1049" %>
<%= image "img_0401" %>
<%= image "img_0413" %>
<%= image "img_0414" %>
<%= image "img_0415" %>
<%= movie "img_0400" %>
<%= movie "img_0405" %>
<%= movie "img_0409" %>
<%= movie "img_0411" %>

おもしろ自転車。

<%= image "img_1102" %>
<%= image "img_1107" %>
<%= image "img_1115" %>
<%= image "img_1098" %>
<%= movie "hdimg_1097" %>
<%= movie "hdimg_1104" %>
<%= movie "hdimg_1111" %>
<%= movie "hdimg_1114" %>
<%= movie "hdimg_1117" %>

カヌー。

<%= image "img_1125" %>
<%= image "img_1131" %>
<%= movie "hdimg_1133" %>
<%= image "img_1129" %>

遊具で遊ぶ。ターザンロープも初めてできるようになった。

<%= image "img_1149" %>
<%= movie "hdimg_1148" %>
