---
title: 岸根公園
tags: outdoor, park, yokohama
---
ざりがに釣りに挑戦。釣れねえ。

<pre class="address">
<a href="http://www.city.yokohama.jp/me/kohoku/kyoutuu/midokoro/kisine/">岸根公園</a>
横浜市港北区岸根町725-1
045-481-1697
</pre>

<%= image "dsc01866" %>
<%= image "dsc01871" %>

しゃーないので、遊具で遊ぶ。

<%= image "dsc01881" %>
<%= image "dsc01883" %>
<%= image "dsc01884" %>
<%= image "dsc01887" %>
<%= image "dsc01889" %>
<%= image "dsc01892" %>
<%= image "dsc01895" %>
<%= image "dsc01903" %>
<%= image "dsc01911" %>
<%= image "dsc01923" %>
<%= image "dsc01925" %>
<%= image "dsc01927" %>
<%= image "dsc01928" %>
<%= image "dsc01931" %>
<%= image "dsc01935" %>
<%= image "dsc01938" %>
<%= movie "mov01919" %>
<%= movie "mov01920" %>

大阪に帰るじーちゃんばーちゃんと分かれて、横浜で晩飯食ってたら、息子さん撃沈。

<%= image "img_0456" %>
