---
title: アメイジングワールド
tags: play, yokohama, family
---
みんなで港北へ。

<pre class="address">
<a href="http://www.amazingworld.jp/">アメイジングワールド</a> ルララ港北店
神奈川県横浜市都筑区中川中央2-2-1
</pre>

<%= image "dsc01798" %>
<%= image "dsc01801" %>
<%= image "dsc01804" %>

遊びに参加させられるじーちゃん。

<%= image "dsc01807" %>
<%= image "dsc01809" %>
<%= movie "img_0451" %>
<%= movie "mov01810" %>

ボールプール。

<%= image "dsc01813" %>
<%= image "dsc01814" %>
<%= image "dsc01820" %>
<%= image "dsc01822" %>
<%= movie "mov01818" %>
<%= movie "mov01829" %>
<%= image "dsc01845" %>
<%= image "dsc01851" %>

<%= image "dsc01830" %>
<%= image "dsc01832" %>
<%= image "dsc01834" %>
<%= movie "mov01805" %>

りりちゃん色々がんばる。

<%= image "dsc01853" %>
<%= image "dsc01863" %>
<%= movie "img_0452" %>
<%= movie "img_0453" %>
<%= movie "img_0454" %>

<%= image "dsc01843" %>
<%= movie "mov01844" %>
