---
title: 研修生歓迎会
tags: internship, nabe, party
---
部に研修生が来たので歓迎会。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1405/A140501/14042313/">しゃぶしゃぶ温野菜</a> 京急川崎駅前店
神奈川県川崎市川崎区駅前本町10-5 クリエ川崎ビル 2F 
050-5834-9926
</pre>

<%= image "img_0474" %>
<%= image "img_0475" %>
<%= image "img_0476" %>
<%= image "img_0477" %>
<%= image "img_0478" %>
<%= image "img_0480" %>
<%= image "img_0481" %>
<%= image "img_0484" %>
