---
title: ファンタジーキッズリゾート
---
今日もまーくんと遊びに蓮とお母さんがおでかけ。

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名 3F
</pre>

<%= image "img_1661" %>
<%= image "img_1663" %>
<%= image "img_1669" %>
<%= image "img_1672" %>
<%= image "img_1673" %>
<%= image "img_1681" %>

<%= movie "hdimg_1655" %>
<%= movie "hdimg_1656" %>
<%= movie "hdimg_1678" %>
<%= movie "hdimg_1683" %>
<%= movie "hdimg_1684" %>
