---
title: 赤羽橋ランチ
---
この時期、芝公園のプリンスホテルでITイベントが開かれることが多いのですが、
職場で赤羽橋周辺って昼飯食うとこないよねという会話になりました。
そのときは、駅そばの雑居ビルの地下の弁当屋台を勧めてたんですが、
調べたら住宅街のエリアに店が何軒があることが判明したので、ランチ調査してみた。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1314/A131401/13034212/">鉄板焼 蘭麻 麻布</a>
東京都港区東麻布1-18-5
050-5816-4340
</pre>

高級店ぽい雰囲気。

<%= image "img_0499" %>
<%= image "img_0498" %>
<%= image "img_0500" %>

黒毛和牛中落ちステーキを注文。
伊勢エビのスープとサラダもついてくる。

<%= image "img_0501" %>
<%= image "img_0503" %>
<%= image "img_0504" %>
<%= image "img_0505" %>

食後にコーヒーもあり。
ランチ的には高めですが、満足度高し。

<%= image "img_0508" %>
