---
title: 奈良飲み
tags: korean, naist, party
---
NAISTの研究室OBで飲み。サムギョプサルを食う。

<pre class="address">
<a href="http://www.tonchang.com/branch_shibuya.html">とんちゃん 渋谷店</a>
東京都渋谷区道坂2-6-2 藤山恒道玄坂ビル2F/3F
03-3462-7057
</pre>

<%= image "img_0509" %>
<%= image "img_0511" %>
<%= image "img_0512" %>
<%= image "img_0514" %>
<%= image "img_0517" %>
<%= image "img_0518" %>
<%= image "img_0519" %>
