---
title: 陣ケ下渓谷公園
---
保土ヶ谷に湿地があると聞いてやってきました。

<pre class="address">
<a href="http://www.city.yokohama.lg.jp/hodogaya/midokoro/jingasita.html">陣ケ下渓谷公園</a>
神奈川県横浜市保土ケ谷区川島町797
</pre>

<%= image "img_1788" %>
<%= image "img_1791" %>
<%= image "img_1796" %>
<%= image "img_1798" %>

蓮がどんぐりを拾いはじめたので話がなかなか進まない。

<%= image "img_1799" %>

弁当。

<%= image "img_1802" %>
<%= image "img_1804" %>

渓谷についた。

<%= image "img_1806" %>
<%= image "img_1808" %>
<%= image "img_1813" %>
<%= image "img_1815" %>
<%= image "img_1819" %>
<%= image "img_1821" %>
