---
title: 宮さん飲み
tags: dinner, yokohama, friend
---
中学からの友人が関東に出張してきたので、横浜で飲み。

<pre class="address">
<a href="http://r.gnavi.co.jp/a134413/">シュリンプ＆オイスターバー 横浜モアーズ店</a>
〒220-0005 神奈川県横浜市西区南幸1-3-1 横浜モアーズ9F
045-328-3533
</pre>

<%= image "img_0523" %>
<%= image "img_0528" %>
<%= image "img_0532" %>
<%= image "img_0533" %>
<%= image "img_0536" %>
<%= image "img_0540" %>
<%= image "img_0543" %>
