---
title: 忘年会
tags: party, team, yokohama
---
所属部署の忘年会兼解散会。

<pre class="address">
<a href="http://r.gnavi.co.jp/b752701/">魚と酒 はなたれ横浜鶴屋町店</a>
〒221-0835 神奈川県横浜市神奈川区鶴屋町2-23-8 フロンティア横浜鶴屋町ビル3F
045-624-8430
</pre>

<%= image "img_0013" %>
<%= image "img_0015" %>
<%= image "img_0018" %>
<%= image "img_0021" %>
<%= image "img_0023" %>
<%= image "img_0027" %>
