---
title: 福岡 その1
tags: food, fukuoka, travel
---
今年も来ました冬の福岡。

<%= image "img_0080" %>

<pre class="address">
<a href="http://www.tometeba.jp/shop_hakataekimae.html">とめ手羽 博多駅前店</a>
福岡市博多区博多駅前2-3-14 マルイト博多ビル3F
092-473-7559
</pre>

<%= image "img_0083" %>
<%= image "img_0086" %>
<%= image "img_0089" %>
<%= image "img_0092" %>
<%= image "img_0097" %>
<%= image "img_0102" %>
<%= image "img_0106" %>
<%= image "img_0110" %>
<%= image "img_0114" %>
<%= image "img_0115" %>
<%= image "img_0116" %>
<%= image "img_0119" %>
<%= image "img_0121" %>
<%= image "img_0125" %>
<%= image "img_0129" %>

二軒目はボロボロの屋台。人数多かったので空いてるところに入ったら、何日煮こんでんねんというぐらい客の来なさそうな店。

<%= image "img_0131" %>
<%= image "img_0140" %>
<%= image "img_0133" %>
<%= image "img_0135" %>
<%= image "img_0138" %>

別件で福岡に来てる営業と合流した後、〆の屋台ラーメン。

<%= image "img_0141" %>
