---
title: CKP&QGPOP合同忘年会
tags: party, fukuoka, ramen
---
CKPとQGPOPの合同忘年会。

<pre class="address">
<a href="http://www.teraokagroup.co.jp/">日本料理 てら岡 中洲本店</a>
〒810-0801 福岡県福岡市博多区中洲5-2-6
092-291-6700
</pre>

<%= image "img_0144" %>
<%= image "img_0147" %>
<%= image "img_0149" %>
<%= image "img_0152" %>
<%= image "img_0153" %>
<%= image "img_0156" %>
<%= image "img_0159" %>
<%= image "img_0161" %>
<%= image "img_0164" %>

そして、ラーメン。福岡では珍しい醤油ラーメンに連れてってもらう。

<%= image "img_0165" %>
<%= image "img_0167" %>
<%= image "img_0169" %>
<%= image "img_0171" %>
<%= image "img_0172" %>
