---
title: アメリカ その2
tags: food, san francisco, travel
---
早々と仕事が終了。
夕方まで暇なんだけど、ホテルにいると間違いなく寝てしまい、米国滞在中飯食ってるか寝てるかだけになってしまうので、サンフランシスコをブラつくことにする。

まずは、Emabaracadero駅を降りて、海を見る。

<%= movie "hdimg_0191" %>
<%= image "img_0190" %>

あぽー。

<%= image "img_0193" %>

Union Square。向かいのデパートのスタバ行って、おみやげ物色して出てきたらライトアップしてた。

<%= image "img_0203" %>
<%= image "img_0204" %>

おもちゃ屋。Angry Birdsグッズが山盛り。

<%= image "img_0206" %>

<a href="http://www.jinmei.org/blog/2011/12/13/3016">某氏</a>と待ち合わせて、生まれて初めてのDungeness crab。

<pre class="address">
<a href="http://www.anfamily.com/Restaurants/crustacean_sanfrancisco/displaypages/homepage.html">Crustacean Restaurant</a>
1475 Polk St, San Francisco, CA 94109
(415) 776-2722
</pre>

前菜にgrilled calamari、で、Roast Crabとgarlic noodle。
蟹はニンニクオイルとなんかスパイシーな香辛料で味付けされててうめー。

<%= image "img_0214" %>
<%= image "img_0217" %>
<%= image "img_0223" %>
<%= image "img_0229" %>
<%= image "img_0226" %>

美味しかった。

<%= image "img_0231" %>
