---
title: 藤子・F・不二雄ミュージアム
tags: daughter, kawasaki, museum, son
---
藤子・F・不二雄ミュージアムのチケットを譲ってもらって登戸からキテレツバスで移動。
買ったものの行けなくなったそうで。

<pre class="address">
<a href="http://fujiko-museum.com/access/">藤子・F・不二雄ミュージアム</a>
〒214-0023 神奈川県川崎市多摩区長尾2丁目8番1号
0570-055-245
</pre>

<%= image "img_0271" %>
<%= image "img_2062" %>
<%= image "img_1977" %>
<%= image "img_1978" %>
<%= image "img_1981" %>
<%= image "img_0272" %>
<%= image "img_1989" %>
<%= image "img_1990" %>
<%= image "img_1992" %>
<%= image "img_1994" %>
<%= image "img_1998" %>

きれいなジャイアングッズ。

<%= image "img_0274" %>
<%= image "img_2003" %>

お父さんはピー助見るとどうにも涙腺ゆるんでしまう。

<%= image "img_0278" %>
<%= image "img_2015" %>
<%= image "img_0284" %>
<%= image "img_2005" %>
<%= image "img_0299" %>
<%= image "img_0302" %>
<%= image "img_0305" %>
<%= image "img_2016" %>
<%= image "img_0307" %>
<%= image "img_2028" %>
<%= image "img_2031" %>

お昼ご飯。いちいちこってる。

<%= image "img_0318" %>
<%= image "img_0312" %>
<%= image "img_0324" %>
<%= image "img_0322" %>
<%= image "img_0330" %>
<%= image "img_2046" %>
<%= image "img_0315" %>
<%= image "img_0314" %>
<%= image "img_0334" %>

暗記パン！

<%= image "img_0326" %>
<%= image "img_2053" %>

メインイベント。きれいなジャイアン。

<%= image "img_0339" %>
<%= image "img_0338" %>
<%= image "img_2058" %>
<%= movie "hdimg_0335" %>
<%= movie "hdimg_2055" %>

屋内の遊び場。

<%= image "img_2038" %>
<%= image "img_2041" %>
<%= image "img_0342" %>
<%= image "img_0348" %>
<%= image "img_2059" %>
