---
title: 草津ワーケーション その1
tags: Kusatsu, Workation, Onsen
---
今回のワーケーションは草津温泉へ。
横浜駅から長距離バスで草津温泉バスターミナルへ。

今回のお宿は[草津温泉ホテルリゾート](https://kusatsu-resort.com/)。

<%= image "img_9556" %>
<%= image "img_9531" %>

一風呂浴びて金沢おでんの店へ。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10020942/">香林坊 本店</a>
群馬県吾妻郡草津町大字草津114-4
0279-88-4222
</pre>

<%= image "img_9538" %>
<%= image "img_9532" %>
<%= image "img_9533" %>
<%= image "img_9534" %>
<%= image "img_9537" %>
