---
title: 草津ワーケーション その2
tags: izakaya, kusatsu, workation
---
昨夜からめっちゃ雪。

<%= image "img_9539" %>

晩ごはん。今回イチオシ。
肴がうまいのでついつい熱燗を飲み過ぎしまう。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10024161/">やきとり居酒屋 香心</a>
群馬県吾妻郡草津町大字草津139
0279-82-5591
</pre>

<%= image "img_9548" %>
<%= image "img_9540" %>
<%= image "img_9541" %>
<%= image "img_9542" %>
<%= image "img_9543" %>
<%= image "img_9544" %>
<%= image "img_9545" %>
<%= image "img_9546" %>
<%= image "img_9547" %>

皆さん早めの夕食を取るので、二周目に滑りこむのが草津ワーケーションのコツであることを学ぶ。
ただし、あんまり遅いと店が早仕舞いするので注意。

湯畑を眺めてから巡回バスに乗って戻る。

<%= image "img_9549" %>
