---
title: 草津ワーケーション その5
tags: Kusatsu, Workation, Coffee
---
希望は土曜日チェックアウトだったんだけど、金曜の夜は予約がとれないため今日が帰宅日。

徒歩圏内のコーヒー屋さんで早めの昼飯食いながらちょっとお仕事。

<pre class="address">
<a href="https://tabelog.com/gunma/A1004/A100402/10023132/">森田コーヒー</a>
群馬県吾妻郡草津町草津454-6 加藤ハイツ文京 1F
</pre>

<%= image "img_9561" %>
<%= image "img_9558" %>
<%= image "img_9559" %>

帰りはローカルバスで軽井沢駅北口へ。

モールぶらついてから東京へ向かう。

<%= image "img_9562" %>
<%= image "img_9563" %>
