---
title: 鎌倉ハイキング
tags: Kamakura, Sauna, trail
---
定点観測。

<%= image "img_9587" %>

去年プチ遭難したポイント。右に曲がらずに真っ直ぐいってしまった。

<%= image "img_9588" %>

例によって大船に移動してサウナ。

<%= image "img_9589" %>

そしてハッピーアワーでメガハイボールが90円！

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140401/14067389/">大船ホルモンセンター</a>
神奈川県鎌倉市大船1-10-7
0467-84-9665
</pre>

<%= image "img_9590" %>
<%= image "img_9591" %>
<%= image "img_9592" %>
