---
title: シンガポール その2
tags: Food, Singapore, Travel
---
ホテルで朝飯。

<%= image "img_5429" %>
<%= image "img_5430" %>

近くの[サルタン・モスク](https://www.sultanmosque.sg/)へ。

<%= image "img_5432" %>
<%= image "img_5433" %>
<%= image "img_9421" %>
<%= image "img_5438" %>
<%= image "img_5440" %>
<%= image "img_5445" %>

街をブラブラ。

<%= image "img_5454" %>
<%= image "img_5457" %>
<%= image "img_5466" %>
<%= image "img_5469" %>
<%= image "img_5474" %>
<%= image "img_5476" %>
<%= image "img_5477" %>
<%= image "img_5480" %>
<%= image "img_5481" %>
<%= image "img_5483" %>
<%= image "img_5485" %>
<%= image "img_5486" %>

昼ごはん。

<pre class="address">
<a href="https://tabelog.com/singapore/A5504/A550401/55000033/">LUCKY CHICKEN RICE</a>
304 Orchard Road #02-110 Lucky Plaza, Singapore 238863
(+65) 67384175
</pre>

<%= image "img_5490" %>
<%= image "img_5493" %>
<%= image "img_5497" %>
<%= image "img_5500" %>

<%= image "img_5501" %>
<%= image "img_5507" %>
<%= image "img_3114" %>
<%= image "img_3116" %>
<%= image "img_5511" %>

ドン・キホーテ。

<%= image "img_9615" %>

<%= image "img_3121" %>
<%= image "img_5513" %>
<%= image "img_5516" %>

夜ごはん。フィッシュヘッドカレーが食べたくて来たんだけど、カレーが辛すぎて不評。

<pre class="address">
<a href="https://www.muthuscurry.com/">Muthu's Curry</a>
138, Race Course Road
</pre>

<%= image "img_5518" %>
<%= image "img_5521" %>
<%= image "img_3131" %>
<%= image "img_5528" %>
<%= image "img_5529" %>
<%= image "img_3133" %>
<%= image "img_5531" %>

<a href="https://www.srivkt.org/">スリ・ヴィーラマカリアマン寺院</a>。

<%= image "img_5538" %>
<%= image "img_5540" %>
<%= movie "hdimg_5541" %>
<%= movie "hdtrimg_3135" %>
<%= image "img_5543" %>
<%= image "img_5545" %>
<%= image "img_5546" %>
<%= image "img_5548" %>
<%= image "img_3137" %>
<%= image "img_5549" %>
<%= image "img_5551" %>

<%= image "img_5554" %>
<%= image "img_5558" %>
<%= image "img_5559" %>
<%= image "img_5562" %>
<%= image "img_5563" %>
<%= image "img_5565" %>
<%= image "img_5567" %>
<%= image "img_5568" %>
<%= image "img_5569" %>
<%= image "img_5577" %>
<%= image "img_5580" %>

夜ごはん2。
Hawker Centreでビリヤニ。

<%= image "img_5581" %>
<%= image "img_5585" %>
<%= image "img_5592" %>
<%= image "img_5597" %>
<%= image "img_9414" %>
<%= image "img_9415" %>
