---
title: 湯河原ソロキャン その1
tags: camp, onsen, yugawara
---
温泉のあるキャンプ場に来てみた。

<pre class="address">
<a href="https://onsencamp.com/">湯河原温泉神谷キャンプ場</a>
神奈川県足柄下郡湯河原町宮上773-257
090-7823-0369
</pre>

湯河原駅前のスーパーで2日分の食料の買い出しをして、タクシーでキャンプ場へ移動。
冷蔵庫があるのでビールも肉も冷やせます。

<%= image "img_9675" %>
<%= image "img_9677" %>
<%= image "img_9678" %>

薪ストーブを持ってきたので、焚き火台はコンパクトな2次燃焼ストーブにする。
写真ないけど焼肉と白米。余った分はおにぎりにする。

<%= image "img_9679" %>

お風呂はこんなの。

<%= image "img_9681" %>
