---
title: デイキャン 茅ヶ崎
---
当初は泊まるつもりだったけど、体調に不安があるので、デイキャンに切り替える。

茅ヶ崎駅前の肉屋と魚屋で食材を買って<a href="https://www.yanagishima-camp.com/">柳島キャンプ場</a>へ。

<%= image "img_9711" %>
<%= image "img_9712" %>
<%= image "img_9713" %>

とりあえず生しらす軍艦とビール。

<%= image "img_9714" %>

海岸へ移動してポークソーセージ。

<%= image "img_9715" %>
<%= image "img_9716" %>
<%= image "img_9717" %>
<%= image "img_9719" %>
<%= image "img_9720" %>

流木拾ってキャンプ場へ戻る。薪を買う必要なし。
貝を焼く。

<%= image "img_9721" %>
<%= image "img_9722" %>
<%= image "img_9723" %>
<%= image "img_9724" %>

さらに半額の西京漬けステーキ。

<%= image "img_9725" %>
<%= image "img_9726" %>

茅ヶ崎はソロキャンでも程よい量のBBQ具材を購入できるので大変よろしい。
次回は宿泊しよう。
