---
title: お父さんとりりの誕生日パーティー
tags: Birthday, Mexican, Party
---
しかし、りり病欠。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14079756/dtlmenu/">メキシカンラウンジ ラ グルージャ</a>
神奈川県横浜市神奈川区鶴屋町2-15 CRANE YOKOHAMA　2F
050-5597-9151
</pre>

<%= image "img_7435" %>
<%= image "img_7438" %>
<%= image "img_7439" %>
<%= image "img_7440" %>
<%= image "img_7446" %>
<%= image "img_7448" %>
<%= image "img_7449" %>
<%= image "img_7453" %>
<%= image "img_7454" %>

<%= image "img_7458" %>
<%= image "img_7459" %>
