---
title: ダラス出張 その5
---
最終日。

昼飯は<a href="https://www.thegalleria.ae/en/dine/raising-canes">Raising Cane's</a>。

<%= image "img_9741" %>

夜は地元の同僚に連絡したら空いてるというので、クラフトビールを飲むことに。

<pre class="address">
<a href="https://ronsplaceaddison.com/">Ron's Place</a>
4145 Belt Line Rd
Addison, Texas 75001
(214) 628-0634
</pre>

<%= image "img_9742" %>
<%= image "img_9743" %>
<%= image "img_9744" %>
<%= image "img_9745" %>

Uberでどこでも行ける。便利な世の中になったもんだ。
