---
title: 餃子と地ビール いち
tags: beer, gyoza
---
娘さんと<a href="https://www.sportsoasis.co.jp/coco/">SPA</a>へ行って、そのまま晩飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140203/14079008/">餃子と地ビール いち センター南</a>
神奈川県横浜市都筑区茅ヶ崎中央18-5 LLCビル 1F
050-5869-8296
</pre>

<%= image "img_9758" %>
<%= image "img_9760" %>
<%= image "img_9761" %>
<%= image "img_9762" %>
<%= image "img_9763" %>
<%= image "img_9764" %>
