---
title: 秋田 その1
tags: akita, camp, travel
---
三連休の首都圏の天気が絶望的だったので、全国の天気予報を調べたら東北は天気が良かったので、秋田に向かう。

<%= image "img_9785" %>
<%= image "img_9786" %>

キャンプ道具かついで、秋田新幹線で大曲まで、そのあと在来線で湯沢へ。そこでレンタカーを借りる。
秋田遠い。

道の駅で食材を物色。

<%= image "img_9788" %>
<%= image "img_9789" %>

川原毛地獄の駐車場から、徒歩で[川原毛大湯滝](https://www.city-yuzawa.jp/site/yuzawatrip/711.html)へ。

<%= image "img_9790" %>
<%= image "img_9791" %>
<%= image "img_9792" %>
<%= image "img_9793" %>

これ温泉の滝です。

<%= image "img_9794" %>
<%= image "img_9795" %>

水着に着替える脱衣所もあり。

<%= image "img_9796" %>

滝近くの宿を探したけど空いてなかったので、キャンプ場に泊まる。

<pre class="address">
<a href="https://blueforest.select-shop.me/">BLUE/FOREST CAMP STORY</a>
秋田県湯沢市高松下新田山6 じゅんさい沼
</pre>

奥のエリアは誰も使ってないので、準ソロ。

<%= image "img_9797" %>
<%= image "img_9798" %>
<%= image "img_9799" %>
<%= image "img_9800" %>

管理棟で生ビールが買える。じゅんさい沼で乾杯。

<%= image "img_9802" %>
<%= image "img_9801" %>

惣菜を食べながらBBQ準備。

<%= image "img_9803" %>

道の駅で買った一人用サイズのししとうと枝豆。めっちゃ美味いす。タエさんありがとう。

<%= image "img_9804" %>
<%= image "img_9805" %>
<%= image "img_9806" %>
<%= image "img_9807" %>
<%= image "img_9808" %>

半額カルビと地元スペアリブ。

<%= image "img_9810" %>
<%= image "img_9811" %>
<%= image "img_9812" %>
