---
title: 秋田 その2
tags: Akita, trail, Onsen
---
深夜に小雨が降ったので濡れたテントを車に突っ込んでキャンプ場を出て、[高松岳](https://www.yamakei-online.com/yamanavi/yama.php?yama_id=197)を登る。

ひたすらトラバースが続くし、何箇所も川を渡るポイントもあるし、とにかく歩きづらくて、怖い。

<%= image "img_9814" %>
<%= image "img_9815" %>
<%= image "img_9816" %>

水場まで行きたかったけど、ここでくじけて引き返しを決意。

<%= image "img_9817" %>

休憩とってスタート地点に戻る。

<%= image "img_9818" %>

予定より早くにあがったので、[泥湯温泉](https://www.doroyu.com/hotspring/hotspring.html)のオープン時間に間に合う。

<%= image "img_9819" %>
<%= image "img_9820" %>

タイミング悪くて湯沢駅で50分待ち、大曲駅で早い新幹線に変更しようとしたけど、90分後の新幹線しか空いてない。
しょうがないので駅そばのラーメン屋へ。

<pre class="address">
<a href="https://tabelog.com/akita/A0504/A050402/5005682/">麺屋 にぼすけ 大曲駅前店</a>
秋田県大仙市大曲通町4-1 井上ビル 1F
0187-66-1805
</pre>

煮干肉中華そば。
駅弁を買うところがなかったのでこのタイミングで飯食えて正解だった。

<%= image "img_9821" %>

電車の接続悪かったせいもあるけど、13:30に現地を出たのに家にたどり着いたのが22:00。秋田遠すぎる。
