---
title: お台場
tags: food, miraikan, odaiba
---
娘さんと[未来館](https://www.miraikan.jst.go.jp/)へ。

とりあえず新橋で昼飯。ひつまぶし久しぶり。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13013372/">市松</a>
東京都港区新橋2-20-15 新橋駅前ビル1号館 B1F
03-3571-7358
</pre>

<%= image "img_9839" %>

ゆりかもめで未来館へ。

<%= image "img_9840" %>

IPアドレスがちゃんと128bitになってる！

<%= image "img_9842" %>

晩ごはんは行きたかった西成ホルモンの店へ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13256732/">外呑処へそ 新橋0号店</a>
東京都港区新橋3-12-3 アスティル新橋ビル 1F
050-5872-7682
</pre>

<%= image "img_9843" %>
<%= image "img_9844" %>
<%= image "img_9845" %>
<%= image "img_9847" %>
<%= image "img_9848" %>
<%= image "img_9849" %>

外飲みなので暑い。涼しさを求めて2軒目へ。

おちょこ2つ出てきたけど娘には飲ませてませんよ。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13032695/">魚金 4号店</a>
東京都港区新橋3-18-8 A1ビル
050-5596-0371
</pre>

<%= image "img_9850" %>

おにやんまで冷を食って帰宅。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1301/A130103/13162575/">おにやんま 新橋店</a>
東京都港区新橋3-16-23
</pre>

<%= image "img_9851" %>
