---
title: 紀伊長島 その3
tags: Kiinagashima, Eel, Food
---
懐かしい絵。

<%= image "img_9942" %>

最終日。

ゆかり姉ちゃん家へ移動。
腹がへるまで時間をつぶす。

<%= image "img_9944" %>
<%= image "img_9948" %>

うなぎ屋へ。

<pre class="address">
<a href="https://tabelog.com/mie/A2401/A240101/24001278/dtlmenu/">うなぎ のぐち</a>
三重県津市高茶屋小森町水合433-6
059-234-6668
</pre>

<%= image "img_9949" %>
<%= image "img_9950" %>
<%= image "img_9952" %>
<%= image "img_9956" %>
<%= image "img_9958" %>
<%= image "img_9960" %>
<%= image "img_9961" %>
<%= image "img_9963" %>
<%= image "img_9965" %>
<%= image "img_9967" %>
<%= image "img_9968" %>
<%= image "img_9979" %>
<%= image "img_9980" %>
<%= image "img_9981" %>
<%= image "img_9982" %>

津駅から変える。

<%= image "img_9969" %>

名古屋駅のコメダで新幹線の時間待ち。

<%= image "img_9971" %>
<%= image "img_9974" %>
<%= image "img_9977" %>
