---
title: 伊勢屋
---
休みを利用して前から行きたかった伊勢屋へ。

<%= image "img_9990" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

厚切りカツ丼で有名なんですが、開店直後でも料理が出来上がるまで30分待つ必要あり。

<%= image "img_9987" %>
<%= image "img_9988" %>
<%= image "img_9989" %>
<%= image "img_7734" %>
<%= image "img_7737" %>
