---
title: 海岸めぐり
tags: Beach, Family, Zushi
---
娘と二人で海岸めぐり。

逗子駅からバスに乗って、海の手前で降りて、小浜海岸へ。

<%= image "img_0034" %>
<%= image "img_0035" %>

葉山アリーナそばの葉山港湾食堂で昼飯。餃子定食。

<%= image "img_0038" %>
<%= image "img_0040" %>
<%= image "img_0043" %>

森戸海岸と森戸神社。

<%= image "img_0046" %>
<%= image "img_0047" %>
<%= image "img_0049" %>

あまりにも暑いので涼む。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140602/14078359/">アリイドライブ</a>
神奈川県三浦郡葉山町堀内1039
</pre>

<%= image "img_0056" %>
<%= image "img_0050" %>
<%= image "img_0055" %>

さらに歩く。話題の中心は豪邸見ながらこいつらどれぐらい稼いでるのか論議。

<%= image "img_0058" %>
<%= image "img_0060" %>
<%= image "img_0063" %>
<%= image "img_0064" %>

最終目的地、秋谷海岸。ようやく涼しくなったのでビールタイム。

<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0074" %>
<%= image "img_0077" %>
<%= image "img_0080" %>
<%= movie "hdimg_0081" %>
