---
title: 伊勢屋
tags: Katsudon, Food, Restaurant
---
娘と伊勢屋。

<%= image "img_0206" %>

平日のチャンスを狙ってたけど別に週末行って昼からゆっくり飲めばええやんということに気づく。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140301/14013607/">伊勢屋</a>
神奈川県横浜市保土ケ谷区星川2-5-33
045-341-7971
</pre>

全体で6組目。テーブル席だと2組目。みんな意外とカツ丼頼まないので、カツ丼順位は二人目。

餃子うまい。

<%= image "img_0205" %>

焼きそばも40分ぐらいかかった。

<%= image "img_0207" %>

一時間以上待ってカツ丼きた。

<%= image "img_0208" %>
<%= image "img_0209" %>

満腹中枢働いてしまってごはん食いきれず。
