---
title: 横浜
---
親が横浜に来る。

いつもの焼肉。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14012119/">焼肉トラジ 鶴屋町店</a>
神奈川県横浜市神奈川区鶴屋町2-16-10 エフテムRONビル3F
045-311-4129
</pre>

小籠包へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14088108/">横濱小籠包マニア</a>
神奈川県横浜市西区南幸1-3-1 横浜モアーズ 8F
050-5590-0870
</pre>

<%= image "img_7983" %>
<%= image "img_3461" %>
<%= image "img_7992" %>
<%= image "img_7995" %>

<%= image "img_0212" %>
<%= image "img_0214" %>

帰ったらエレキギターが届いてた。
東京に出てビッグになる気まんまんの息子。

<%= image "img_0216" %>
