---
draft: true
title: 千葉 その1
---
千葉旅行行きますよー。

<%= image "img_8007" %>

[鴨川シーワールド](https://www.kamogawa-seaworld.jp/)へ。

<%= image "img_8016" %>
<%= image "img_3463" %>
<%= image "img_3467" %>
<%= image "img_3468" %>
<%= image "img_3473" %>
<%= image "img_3475" %>

<%= image "img_0219" %>
<%= image "img_0220" %>
<%= movie "hdimg_0222" %>
<%= image "img_0224" %>
<%= image "img_0229" %>
<%= image "img_0230" %>

[レストラン「オーシャン」](https://www.kamogawa-seaworld.jp/facilities/restaurant_shop/ocean/)。
シャチが愛想して回る。

<%= image "img_8019" %>
<%= movie "hdimg_8021" %>
<%= image "img_3478" %>
<%= image "img_3485" %>
<%= image "img_3497" %>
<%= image "img_8035" %>
<%= image "img_0232" %>
<%= image "img_0235" %>
<%= image "img_0238" %>
<%= image "img_3517" %>

アシカパフォーマンス。

<%= image "img_3520" %>
<%= image "img_0240" %>
<%= image "img_3531" %>
<%= image "img_3544" %>
<%= image "img_0241" %>
<%= image "img_0243" %>
<%= image "img_e0244" %>

水かぶり席。焦って録画止めてしまった。

<%= movie "hdimg_0245" %>
<%= image "img_e0246" %>
<%= movie "hdimg_0248" %>

<%= movie "hdimg_0250" %>
<%= movie "hdimg_0251" %>
<%= movie "hdimg_0252" %>
<%= image "img_0254" %>

<%= image "img_8043" %>
<%= image "img_8048" %>
<%= image "img_8054" %>
<%= image "img_8055" %>
<%= image "img_8061" %>
<%= image "img_8066" %>

今回のお宿。

<pre class="address">
<a href="https://www.kichimu.com/">満ちてくる心の宿 吉夢</a>
〒299-5501 千葉県鴨川市小湊182-2
04-7095-2111
</pre>

<%= image "img_0256" %>
<%= image "img_0258" %>
<%= image "img_0259" %>
<%= image "img_0260" %>
<%= image "img_0261" %>
<%= image "img_3551" %>
<%= image "img_3555" %>
<%= image "img_3557" %>
<%= image "img_3558" %>

<%= image "img_8072" %>
<%= image "img_8073" %>
<%= image "img_8074" %>
<%= image "img_0262" %>
<%= image "img_8083" %>
<%= image "img_8091" %>
<%= image "img_3559" %>
<%= image "img_3560" %>
<%= image "img_8099" %>
<%= image "img_8109" %>
<%= image "img_8111" %>
<%= image "img_8113" %>
<%= image "img_8115" %>
<%= image "img_3564" %>
<%= image "img_8121" %>
