---
title: 那須塩原 その1
---
Otellさんが事業終了するというので最後のワーケーションへ。

いつもチャリで行ってたから初めて乗る宇都宮線。

<%= image "img_0385" %>

西那須野駅からバスに乗り、回顧橋で降りて[ハイキングコース](https://www.pref.tochigi.lg.jp/d04/eco/shizenkankyou/shizen/documents/shiobara01.pdf)で現地に向かう。

<%= image "img_0386" %>
<%= image "img_0387" %>
<%= image "img_0388" %>
<%= image "img_0389" %>
<%= image "img_0390" %>
<%= image "img_0391" %>
<%= image "img_0392" %>
<%= image "img_0393" %>

留春の滝。

<%= image "img_0394" %>
<%= image "img_0395" %>

紅葉のシーズンですね。

<%= image "img_0396" %>
<%= image "img_0398" %>
<%= image "img_0399" %>
<%= image "img_0400" %>
<%= image "img_0401" %>
<%= image "img_0402" %>

野天風呂あるやんと思ったら、休業中だった。しょんぼり。

<%= image "img_0404" %>
<%= image "img_0403" %>

途中で体力に尽きてバスに乗る。私一人だけでした。
さすがにインバウンドはここまで来てないようだ。

<%= image "img_0407" %>
<%= image "img_0408" %>

今回のお宿は[塩原温泉 八汐荘](https://yashiosou.com/)

<%= image "img_0409" %>
<%= image "img_0410" %>

tabelog調べたら日曜日の夜は唯一の選択肢の店へ行く。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0905/A090501/9002484/">日本料理 松本</a>
栃木県那須塩原市塩原706
0287-32-2223
</pre>

刺身定食。米が美味い。

<%= image "img_0411" %>
<%= image "img_0412" %>
<%= image "img_0413" %>

帰り道。この温泉街も廃墟だらけっすな。

<%= image "img_0414" %>

お風呂。こんなに広いのに貸し切り状態。
今夜だけ露天風呂空いてた。明日からは工事で閉鎖。

<%= image "img_0415" %>
