---
title: 那須塩原 その2
tags: Nasu, Food, Temple
---
うなぎ食べようと思ったら臨時休業だった。
街が寂れてるせいであちこちが臨時休業になってて、食事の選択肢が少ない。

開いてる店に入る。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0905/A090501/9009089/">そば処 是庵たみ吉</a>
栃木県那須塩原市塩原736
0287-32-2022
</pre>

あなご天せいろ。

<%= image "img_0418" %>
<%= image "img_0419" %>

コンビニへ向かう。最寄りのコンビニが徒歩1分のはずがこれも休業してて、15分ほど歩く。

お寺があったので寄る。

<%= image "img_0423" %>
<%= image "img_0420" %>
<%= image "img_0422" %>
<%= image "img_0425" %>

夜飯。月曜日唯一の選択肢。17:57に入店したら、18:00ラストオーダーと言われる。

<pre class="address">
<a href="https://tabelog.com/tochigi/A0905/A090501/9014522/">九ちゃん</a>
栃木県那須塩原市塩原764
0287-32-2177
</pre>

<%= image "img_0426" %>
<%= image "img_0427" %>
<%= image "img_0428" %>

まぐろ丼とカルビ。飯は普通にうまいが頼みすぎた。
突き出しのおでんをナメてた。
