---
title: 中華街
tags: Chinatown, Food, Yokohama
---
中華街で食べ歩き。

<%= image "img_8872" %>
<%= image "img_8875" %>
<%= image "img_8877" %>
<%= image "img_8880" %>
<%= image "img_8883" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140104/14000104/">安記</a>
神奈川県横浜市中区山下町147
045-641-3150
</pre>

<%= image "img_8884_edited" %>
<%= image "img_8885" %>
<%= image "img_8886" %>

<%= image "img_8888" %>
<%= image "img_8890" %>

<%= image "img_8893" %>

<%= image "img_8896" %>
<%= image "img_8898" %>
