---
title: 大阪 その1
tags: osaka, steak, travel
---
<%= image "img_8928" %>

<%= image "img_8929" %>
<%= image "img_8931" %>
<%= image "img_8935" %>
<%= image "img_8937" %>

<pre class="address">
<a href="https://tabelog.com/osaka/A2701/A270101/27002686/">アウトバック ステーキハウス 梅田店</a>
大阪府大阪市北区堂島1-6-20 堂島アバンザ B1F
06-6457-7121
</pre>

<%= image "img_8940" %>
<%= image "img_8941" %>
<%= image "img_8945" %>
<%= image "img_8948" %>
<%= image "img_8950" %>

<%= image "img_8953" %>
