---
title: 高知ロケハン
---
<table>
<tr>
<td valign="top">
  <div id="map" style="width: 800px; height: 600px"></div>
</td>
<td valign="top">
  <div id="marker_data_list" style="font-size:small;overflow:auto; height: 550px; width: 160px;">
  <ul>
  <li id="marker_link_1"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">NTT高知中ビル(送信施設)</a></li>
  <li id="marker_link_2"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">自由軒伊野出来地店</a></li>
  <li id="marker_link_3"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">NTT伊野ビル(中継拠点)</a></li>
  <li id="marker_link_4"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">かんぽの宿　伊野</a></li>
  <li id="marker_link_5"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">高岩旅館</a></li>
  <li id="marker_link_6"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">NTT吾北ビル(収容施設)</a></li>
  <li id="marker_link_7"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">いの町吾北支所(受信拠点1)</a></li>
  <li id="marker_link_8"><a href="javascript:void(0)" onclick="this.blur()" style="color: #0000CC;">いの町下八川小学校(受信拠点2)</a></li>
  </ul>
  </div>
</td>
</tr>
<tr>
<td colspan="2" class="memo" style="width:960px;">
</td>
</tr>
</table>

<div id="marker_html_1" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">NTT高知中ビル(送信施設)</span><br /></div><div class="addresslist"><span class="address">高知県高知市帯屋町２丁目５番１１号</span><br /></div></div>
</div><div id="marker_html_2" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">自由軒伊野出来地店</span><br /></div><div class="addresslist"><span class="address">高知県吾川郡いの町柳瀬上分548-1 088-897-0262</span><br /></div></div>
</div><div id="marker_html_3" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">NTT伊野ビル(中継拠点)</span><br /></div><div class="addresslist"></div></div>
</div><div id="marker_html_4" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">かんぽの宿　伊野</span><br /></div><div class="addresslist"><span class="address">高知県吾川郡いの町波川1569</span><br /></div></div>
</div><div id="marker_html_5" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">高岩旅館</span><br /></div><div class="addresslist"><span class="address">吾川郡いの町下八川甲３６６ ０８８-８６７−３４５２</span><br /></div></div>
</div><div id="marker_html_6" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">NTT吾北ビル(収容施設)</span><br /></div><div class="addresslist"><span class="address">高知県吾川郡いの町上八川下分土居９６９-1</span><br /></div></div>
</div><div id="marker_html_7" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">いの町吾北支所(受信拠点1)</span><br /></div><div class="addresslist"><span class="address">高知県吾川郡いの町上八川甲１９３４番地</span><br /></div></div>
</div><div id="marker_html_8" class="gmap_desc" style="display:none;"><div class="marker_data_html"><div class="subject"><span class="name1">いの町下八川小学校(受信拠点2)</span><br /></div><div class="addresslist"><span class="address">高知県吾川郡いの町下八川丁３８００番地</span><br /></div></div>
</div>

<script src="http://maps.google.co.jp/maps?file=api&amp;v=1&amp;key=AIzaSyCX_kpmx0RFI2kAlBkN_FnmrGZr-DNXFNk&amp;datum=wgs84" type="text/javascript"></script>

<script type="text/javascript">
//<![CDATA[
var gme_map;var gme_markers=[];var gme_genres=[];
if(typeof(GBrowserIsCompatible)=='undefined'){document.getElementById('map').innerHTML='GoogleMapsと通信ができません。インターネット接続状態を確認してください。';}
if (GBrowserIsCompatible()) {gme_map = new GMap(document.getElementById("map"));
gme_map.centerAndZoom(new GPoint(133.333235, 33.643800), 3);gme_map.addControl(new GLargeMapControl());gme_map.addControl(new GMapTypeControl());
addGMarker(1,133.534333,33.559454,{'Point':{'Latitude':'33.559454','Longitude':'133.534333'},'Genre':'','Name1':'NTT高知中ビル(送信施設)','Name2':'','Address1':'高知県高知市帯屋町２丁目５番１１号','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(2,133.305586,33.588098,{'Point':{'Latitude':'33.588098','Longitude':'133.305586'},'Genre':'','Name1':'自由軒伊野出来地店','Name2':'','Address1':'高知県吾川郡いの町柳瀬上分548-1 088-897-0262','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(3,133.430459,33.547471,{'Point':{'Latitude':'33.547471','Longitude':'133.430459'},'Genre':'','Name1':'NTT伊野ビル(中継拠点)','Name2':'','Address1':'','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(4,133.418201,33.544985,{'Point':{'Latitude':'33.544985','Longitude':'133.418201'},'Genre':'','Name1':'かんぽの宿　伊野','Name2':'','Address1':'高知県吾川郡いの町波川1569','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(5,133.303649,33.628960,{'Point':{'Latitude':'33.628960','Longitude':'133.303649'},'Genre':'','Name1':'高岩旅館','Name2':'','Address1':'吾川郡いの町下八川甲３６６ ０８８-８６７−３４５２','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(6,133.333235,33.643800,{'Point':{'Latitude':'33.643800','Longitude':'133.333235'},'Genre':'','Name1':'NTT吾北ビル(収容施設)','Name2':'','Address1':'高知県吾川郡いの町上八川下分土居９６９-1','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(7,133.340335,33.646189,{'Point':{'Latitude':'33.646189','Longitude':'133.340335'},'Genre':'','Name1':'いの町吾北支所(受信拠点1)','Name2':'','Address1':'高知県吾川郡いの町上八川甲１９３４番地','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});addGMarker(8,133.297128,33.606163,{'Point':{'Latitude':'33.606163','Longitude':'133.297128'},'Genre':'','Name1':'いの町下八川小学校(受信拠点2)','Name2':'','Address1':'高知県吾川郡いの町下八川丁３８００番地','Address2':'','Url':'','ImageUrl':'','SubImageUrl':'','Description':''});
}
else{document.getElementById('map').innerHTML='ご利用の環境ではこのマップをご覧いただけません。';}
function buildInfoHtml(dataPoint){return document.getElementById('marker_html_' + dataPoint.no).innerHTML;}
function buildGMarker(lng, lat, data){return new GMarker(new GPoint(lng, lat));}
function addGMarker(markerNo, lng, lat, data){var marker = buildGMarker(lng, lat, data);var point  = {'marker':marker,'no':markerNo,'lng':lng,'lat':lat,'data':data};gme_markers.push(point);var f = function(){gme_map.centerAtLatLng(new GPoint(lng,lat));marker.openInfoWindowHtml(buildInfoHtml(point));};GEvent.addListener(marker, 'click', f);var marker_field = document.getElementById('marker_link_'+ markerNo);if(marker_field){marker_field.onmousedown = f;}gme_map.addOverlay(marker);}
//]]>
</script>

高知市から吾北に向かって移動。

まず、23km地点で最後の食事処の自由軒。ここから先に食事ポイントなし。
吾北からなら送迎してくれるようです(5人以上)

<%= image "cimg4128" %>
<%= image "cimg4124" %>
<%= image "cimg4126" %>
<%= image "cimg4127" %>

いの町吾北支所(受信拠点1)。すぐ真下にスーパーとクリーニング屋あり。他は何もなし。

<%= image "cimg4129" %>
<%= image "cimg4149" %>
<%= image "cimg4130" %>
<%= image "cimg4131" %>

3Fの元議長室を利用。

<%= image "cimg4133" %>
<%= image "cimg4134" %>
<%= image "cimg4140" %>

窓から外に出たところ。つきあたりまでファイバーを延長。

<%= image "cimg4139" %>

ファイバーは足元のパイプを通します。

<%= image "cimg4137" %>
<%= image "cimg4138" %>

遠くに見える電柱あではファイバーが来てます。(from NTT伊野ビル)

<%= image "cimg4135" %>

ギャップフィラー設置用の屋上。

<%= image "cimg4141" %>
<%= image "cimg4142" %>
<%= image "cimg4143" %>
<%= image "cimg4145" %>
<%= image "cimg4147" %>
<%= image "cimg4148" %>

NTT吾北ビル(収容施設)。車は4台ぐらい停めれるスペースあり。

<%= image "cimg4151" %>
<%= image "cimg4152" %>
<%= image "cimg4153" %>
<%= image "cimg4154" %>
<%= image "cimg4155" %>

入口横にトイレ発見(汲み取り式)。

<%= image "cimg4156" %>

入って右に休憩スペース。左が設備室。

<%= image "cimg4157" %>
<%= image "cimg4158" %>
<%= image "cimg4160" %>

設備室の中。メインの測定はここで行う。部屋はそんなに寒いわけではないが、一階だけあって底冷えがする。

<%= image "cimg4163" %>

いの町下八川小学校(受信拠点2)。川の反対側にスーパー(A-COOP)あり。

<%= image "cimg4165" %>
<%= image "cimg4166" %>
<%= image "cimg4167" %>

1Fの理科室。

<%= image "cimg4168" %>
<%= image "cimg4169" %>
<%= image "cimg4170" %>
<%= image "cimg4173" %>

廊下の反対側の配電盤。

<%= image "cimg4171" %>
<%= image "cimg4172" %>

NTT伊野ビル(中継拠点)。ここではファイバーを接続するだけなので、IP実験で利用することはないと思います。

<%= image "cimg4176" %>
<%= image "cimg4181" %>
