---
title: 金沢旅行 その1
tags: food, kanazawa, travel
---
ayayaの日記は<a href="http://ayaya.nui.org/diary/200601/20060113/index.html">こちら</a>

yuo&amp;ayayaとすみかわ夫婦で2泊3日の旅行。小松空港でレンタカーを借りる。Priusくん。

<%= image "cimg4188" %>

先週まで大雪だったんだけど、今週は暖かくなってラッキーでした。

<%= image "cimg4193" %>

まずは久谷焼を物色。倉庫売りをしてる店へ。

<pre class="address">
九谷青窯
石川県能美市大長野町チ102
0761-57-0689
</pre>

<%= image "cimg4189" %>
<%= image "cimg4190" %>
<%= image "cimg4191" %>

萬歳楽のお店へ。地元でしか商売やってない酒蔵です。甘酒おいしい。

<%= image "cimg4192" %>
<%= image "cimg4195" %>

さらにちょっと奥にある菊姫へ。

<%= image "cimg4197" %>
<%= image "cimg4196" %>

初詣。狛犬がおみくじ食わされとる。おみくじの<%= static_to "omikuji.pdf", "結果" %>

<pre class="address">
白山比め神社
石川県白山市三宮町105-1
0761-92-0680
</pre>

<%= image "cimg4201" %>
<%= image "cimg4203" %>
<%= image "cimg4205" %>
<%= image "cimg4206" %>

お昼ごはん。

<pre class="address">
<a href="http://nttbj.itp.ne.jp/0761923161/index.html">りんどう</a>
石川県白山市三宮町イ144−1
0761-92-3161
</pre>

<%= image "cimg4207" %>
<%= image "cimg4208" %>
<%= image "cimg4211" %>
<%= image "cimg4212" %>
<%= image "cimg4222" %>
<%= image "cimg4221" %>

鱒のつみれ入り粕なべ定食。岩魚つき。

<%= image "cimg4225" %>
<%= image "cimg4228" %>
<%= image "cimg4234" %>

岩魚は囲炉裏で焼かれます。

<%= image "cimg4216" %>
<%= image "cimg4218" %>
<%= image "cimg4219" %>

<a href="http://www.jaist.ac.jp/">JAIST</a>で<a href="http://www.hokuriku-it.nict.go.jp/index.htm">StarBed</a>の見学会させて頂いて、今回のお宿へ移動。由緒正しい温泉宿。

<pre class="address">
<a href="http://www.matsusaki.co.jp/">まつさき</a>
石川県能美郡市口町3-1
0761-51-3111
</pre>

部屋はこんな感じ。

<%= image "cimg4237" %>
<%= image "cimg4238" %>

ウェルカム栗ようかん。うまーい。

<%= image "cimg4236" %>

風呂入って宴会場で晩ごはん。

<%= image "cimg4240" %>
<%= image "cimg4250" %>
<%= image "cimg4280" %>
<%= image "cimg4252" %>

パッと見、普通の旅館飯ですがクオリティが全然違います。

<%= image "cimg4243" %>
<%= image "cimg4244" %>
<%= image "cimg4245" %>
<%= image "cimg4246" %>
<%= image "cimg4247" %>
<%= image "cimg4257" %>
<%= image "cimg4262" %>
<%= image "cimg4277" %>
<%= image "cimg4285" %>

がす海老うめー。

<%= image "cimg4255" %>

山女魚。

<%= image "cimg4258" %>
<%= image "cimg4270" %>
<%= image "cimg4272" %>

釜飯で〆。

<%= image "cimg4290" %>
<%= image "cimg4295" %>
<%= image "cimg4296" %>
<%= image "cimg4297" %>
