---
title: 金沢旅行 その2
tags: kanazawa, sushi, travel
---
ayayaの日記は<a href="http://ayaya.nui.org/diary/200601/20060114/index.html">こちら</a>

宿の朝ごはん。

<%= image "cimg4298" %>
<%= image "cimg4299" %>
<%= image "cimg4300" %>
<%= image "cimg4301" %>
<%= image "cimg4302" %>
<%= image "cimg4303" %>
<%= image "cimg4304" %>
<%= image "cimg4306" %>

昼ごはんはお寿司屋さん。

<pre class="address">
<a href="http://www.housyouzushi.co.jp/">宝生寿し</a>
076-267-0323
石川県金沢市大野町72 11:00〜22:00(L.O.22:00)
</pre>

<%= image "cimg4329" %>
<%= image "cimg4307" %>
<%= image "cimg4308" %>
<%= image "cimg4309" %>
<%= image "cimg4310" %>

カウンターが混んでたので奥の個室に通される。
密談の部屋っぽい感じ。魚全部うめえ。

<%= image "cimg4319" %>
<%= image "cimg4322" %>
<%= image "cimg4311" %>
<%= image "cimg4316" %>
<%= image "cimg4325" %>

<pre class="address">
<a href="http://www.kanazawa21.jp/ja/index.html">金沢21世紀美術館</a>
076-220-2800
〒920-8509 石川県金沢市広坂1丁目2番1号
</pre>

現代美術は分からんのう。

<%= image "cimg4330" %>
<%= image "cimg4331" %>
<%= image "cimg4333" %>
<%= image "cimg4335" %>
<%= image "cimg4336" %>
<%= image "cimg4338" %>
<%= image "cimg4340" %>
<%= image "cimg4342" %>
<%= image "cimg4345" %>
<%= image "cimg4346" %>
<%= image "cimg4348" %>
<%= image "cimg4353" %>

プールの中に入れる変な空間。

<%= image "cimg4358" %>
<%= image "cimg4360" %>
<%= image "cimg4361" %>
<%= image "cimg4362" %>

まつさきに戻る。今日のウェルカム和菓子。

<%= image "cimg4364" %>

温泉入って夜ごはん。

<%= image "cimg4385" %>
<%= image "cimg4371" %>
<%= image "cimg4367" %>
<%= image "cimg4369" %>
<%= image "cimg4372" %>
<%= image "cimg4375" %>
<%= image "cimg4377" %>
<%= image "cimg4382" %>
<%= image "cimg4383" %>
<%= image "cimg4387" %>
<%= image "cimg4390" %>
<%= image "cimg4397" %>

香箱(ずわいがにのメス)を追加で頼みました。うめー。

<%= image "cimg4365" %>
<%= image "cimg4395" %>
