---
title: 金沢旅行 その3
---
ayayaの日記は<a href="http://ayaya.nui.org/diary/200601/20060115/index.html">こちら</a>

朝ごはん。毎日メニューが変わるのが素晴らしい。

<%= image "cimg4398" %>
<%= image "cimg4401" %>
<%= image "cimg4403" %>
<%= image "cimg4404" %>
<%= image "cimg4405" %>
<%= image "cimg4407" %>
<%= image "cimg4411" %>

メールチェック。

<%= image "cimg4413" %>

そば食べに白山へ。さすがに山の中は雪が深い。

<%= image "cimg4416" %>
<%= image "cimg4417" %>

<pre class="address">
<a href="http://www.jalan.net/kanko/SPT_167968.html">そば道楽 みたき</a>
0761-95-5820
石川県白山市下吉谷町甲436-1 11:00〜16:00
</pre>

<%= image "cimg4418" %>
<%= image "cimg4419" %>
<%= image "cimg4422" %>
<%= image "cimg4427" %>
<%= image "cimg4430" %>
<%= image "cimg4432" %>
<%= image "cimg4434" %>
<%= image "cimg4435" %>
<%= image "cimg4436" %>
<%= image "cimg4440" %>
<%= image "cimg4442" %>
<%= image "cimg4444" %>
<%= image "cimg4448" %>

車停めたついでに金沢21世紀美術館にもう一度寄る。
昨日は雨が降っていたので、プールを上から見れなかったの。

<%= image "cimg4452" %>
<%= image "cimg4454" %>
<%= image "cimg4456" %>
<%= image "cimg4457" %>
<%= image "cimg4460" %>
<%= image "cimg4467" %>
<%= image "cimg4471" %>
<%= image "cimg4473" %>
<%= image "cimg4474" %>
<%= image "cimg4478" %>

変なエレベーター。

<%= image "cimg4449" %>
<%= image "cimg4451" %>

んで、お約束の兼六園。

<pre class="address">
<a href="http://www.pref.ishikawa.jp/siro-niwa/kenrokuen">兼六園</a>
076-234-3800
石川県金沢市丸の内1番1号
</pre>

<%= image "cimg4479" %>
<%= image "cimg4480" %>
<%= image "cimg4481" %>
<%= image "cimg4482" %>
<%= image "cimg4484" %>
<%= image "cimg4487" %>
<%= image "cimg4489" %>
<%= image "cimg4490" %>
<%= image "cimg4491" %>
<%= image "cimg4492" %>
<%= image "cimg4496" %>
<%= image "cimg4497" %>
<%= image "cimg4499" %>
<%= image "cimg4500" %>
<%= image "cimg4503" %>
<%= image "cimg4505" %>

はいはい、お約束の時間ですよー。

と、その時、<span class="fontsizeplus">「お、おい、あれ何だ？」「え？あれ、ひょっとして？」</span>

<%= image "cimg4512" %>

<span class="fontsizeplusplus">「UFOだ！」</span>

<%= image "cimg4521ufo" %>

<%= image "cimg4523" %>
<%= image "cimg4525" %>
<%= image "cimg4527" %>
<%= image "cimg4532" %>
<%= image "cimg4534" %>
<%= image "cimg4536" %>
<%= image "cimg4540" %>
<%= image "cimg4541" %>
<%= image "cimg4549" %>

古い町並みが保存されている「ひがし茶屋街」へ。
ボランティアの観光案内の方に古い家の中をみせてもらう。元質屋さんだったそうです。

<%= image "cimg4551" %>
<%= image "cimg4552" %>
<%= image "cimg4554" %>
<%= image "cimg4557" %>
<%= image "cimg4559" %>
<%= image "cimg4564" %>
<%= image "cimg4565" %>
<%= image "cimg4569" %>
<%= image "cimg4571" %>
<%= image "cimg4572" %>

お茶屋さんも観光所になってます。

<%= image "cimg4577" %>
<%= image "cimg4580" %>
<%= image "cimg4582" %>
<%= image "cimg4583" %>

<%= image "cimg4584" %>
<%= image "cimg4587" %>
<%= image "cimg4588" %>
<%= image "cimg4593" %>

最後にお寿司やさん。

<pre class="address">
鶴来福喜寿司
石川県石川郡鶴来町道法寺町イ62-1
07619-3-1737
</pre>

<%= image "cimg4596" %>
<%= image "cimg4598" %>
<%= image "cimg4599" %>
<%= image "cimg4602" %>
<%= image "cimg4605" %>
<%= image "cimg4610" %>
<%= image "cimg4614" %>
<%= image "cimg4617" %>
<%= image "cimg4618" %>
<%= image "cimg4619" %>
<%= image "cimg4621" %>
<%= image "cimg4623" %>
