---
title: 藤のや
---
今のところ高知で一番気に入ってる店。

<pre class="address">
<a href="http://www.bhverde.com/fujinoya.htm">藤のや</a>
高知市南はりまや町1-16-21 浦戸ビル1F
17:00〜23:00(オーダーストップ22:30)
休業日: 日曜日
TEL: 088-885-0015
</pre>

鰹のたたきがうまいのよ。タレと塩と両方頼みました．僕はタレ派ですな。

<%= image "cimg46601" %>
<%= image "cimg46621" %>
<%= image "cimg46681" %>
<%= image "cimg46721" %>
<%= image "cimg46741" %>
<%= image "cimg46771" %>
<%= image "cimg46781" %>
<%= image "cimg46841" %>
<%= image "cimg46861" %>
<%= image "cimg46871" %>
<%= image "cimg46891" %>
<%= image "cimg46911" %>
<%= image "cimg46931" %>
<%= image "cimg46951" %>
