---
title: 桂浜じゃきに
---
今日は高ブラ(高知をブラブラするの略)の日。

まずは日曜市。野菜が結構安い。
鮎寿司とか売ってたので今度試そう。

<%= image "cimg4696" %>

日本三大がっかりの一つ、はりまや橋。いやー、がっかりですなー。はっはっは。

<%= image "cimg4697" %>

んで、南はりまや橋のバス停から桂浜のバスに乗って30分、桂浜に到着。
昔の人達って高知城下からわざわざこんなとこまで酒運んで飲んでたんか。元気やなあ。

<%= image "cimg4705" %>
<%= image "cimg4706" %>
<%= image "cimg4707" %>
<%= image "cimg4708" %>
<%= image "cimg4709" %>
<%= image "cimg4710" %>
<%= image "cimg4711" %>
<%= image "cimg4714" %>

<a href="http://ja.wikipedia.org/wiki/%E5%9D%82%E6%9C%AC%E7%9B%B4%E6%9F%94">坂本龍馬</a>像。

<%= image "cimg4700" %>
<%= image "cimg4701" %>

<a href="http://kochi-bunkazaidan.or.jp/~ryoma/">坂本龍馬記念館</a>へ。
龍馬直筆の手紙が見れたので結構嬉しい。でも、ほとんどの展示物は
<a href="http://www.kyohaku.go.jp/">京都国立博物館</a>の複製なんだよなあ。

<%= image "cimg4716" %>

屋上から桂浜を望む。

<%= image "cimg4718" %>
<%= image "cimg4720" %>
<%= image "cimg4721" %>
<%= image "cimg4722" %>
