---
title: イベリコ豚
tags: kochi, restaurant, tonkatsu
---
昼飯食いに入った店が結構うまかったので、夜にも来てみた。
イベリコ豚入荷の初日。

<pre class="address">
<a href="http://www.l-gate.net/katsushin/">かつ伸</a>
高知市本町4-1-51
088-825-2994
</pre>

<%= image "cimg47251" %>
<%= image "cimg47281" %>
<%= image "cimg47331" %>
<%= image "cimg47391" %>
<%= image "cimg47431" %>
<%= image "cimg47531" %>

店のレベルは高いんですが、イベリコは値段ほどではないなという印象。
今度は普通のメニューを食べにこよう。

梅酒も3種類あって楽しめます。

<%= image "cimg47461" %>
