---
title: 藤のや
tags: kochi, katsuo, restaurant
---
例によって藤のや。8日間で3回来たぞ。

<pre class="address">
<a href="http://www.bhverde.com/fujinoya.htm">藤のや</a>
高知市南はりまや町1-16-21 浦戸ビル1F
17:00〜23:00(オーダーストップ22:30)
休業日: 日曜日
TEL: 088-885-0015
</pre>

西貝が禁漁シーズンに入っちゃって食べれず。残念。

<%= image "cimg4758" %>
<%= image "cimg4759" %>
<%= image "cimg4760" %>
<%= image "cimg47611" %>
<%= image "cimg47641" %>
<%= image "cimg47651" %>
<%= image "cimg47671" %>
<%= image "cimg47691" %>
