---
title: 藤のや
tags: kochi, restaurant
---
例によって藤のや。8日間で3回来たぞ。

<pre class="address">
<a href="https://tabelog.com/kochi/A3901/A390101/39007867/">藤のや</a>
高知県高知市廿代町4-5 1F・2F
088-879-3737
</pre>

西貝が禁漁シーズンに入っちゃって食べれず。残念。

<%= image "cimg4758" %>
<%= image "cimg4759" %>
<%= image "cimg4760" %>
<%= image "cimg47611" %>
<%= image "cimg47641" %>
<%= image "cimg47651" %>
<%= image "cimg47671" %>
<%= image "cimg47691" %>
