---
title: 唐揚げとビール
tags: karaage, beer, kochi
---
<pre class="address">
<a href="http://www.kochi-town.com/mypage/kc023101">ぐるまん亭</a>
TEL 088-821-0320
高知市本町1-5-8
</pre>

悪くはなかったけどもう一度行きたいほどではないな。
後、ビールを丁寧に注いでくれるのは分かるんだけど、時間かかりすぎ。

<%= image "cimg4807" %>
<%= image "cimg4809" %>
<%= image "cimg4812" %>
<%= image "cimg4813" %>
<%= image "cimg4816" %>
