---
title: タイ料理
tags: thai, roppongi, restaurant
---
義妹夫婦が東京に来てたのでギロッポンで一緒にごはん。

<pre class="address">
<a href="http://www.erawan-jp.com/roppongi/index.html">エラワン</a>
〒106-0032 東京都港区六本木5-5-1 六本木ロアビル13F
TEL 03-3404-5741
</pre>

<%= image "cimg49441" %>
<%= image "cimg49461" %>
<%= image "cimg49481" %>
<%= image "cimg49531" %>
<%= image "cimg49571" %>
<%= image "cimg49601" %>
<%= image "cimg49671" %>
<%= image "cimg49721" %>

<%= image "cimg49371" %>
