---
title: 野毛山動物園
tags: zoo, animal, penguin
---
歩いていけるというので、野毛山動物園へ。
崖みたいなものすごい坂道の上にありました。

<pre class="address">
<a href="http://www2.nogeyama-zoo.org/">野毛山動物園</a>
横浜市西区老松町63-10
045-231-1307
</pre>

いきなりですが、ワニの餌やり動画。

<%= movie "cimg5044" %>

<%= image "cimg5036" %>
<%= image "cimg5046" %>

親亀子亀だ。

<%= image "cimg5050" %>

昼飯。カラスに包囲されつつ食う。恐かった。

<%= image "cimg5054" %>
<%= image "cimg5056" %>
<%= image "cimg5058" %>

レッサーパンダ。

<%= image "cimg5064" %>
<%= image "cimg5066" %>
<%= image "cimg5070" %>
<%= image "cimg5125" %>

その他いろいろ。

<%= image "cimg5074" %>
<%= image "cimg5076" %>
<%= image "cimg5080" %>
<%= image "cimg5085" %>
<%= image "cimg5087" %>
<%= image "cimg5089" %>
<%= image "cimg5114" %>
<%= image "cimg5119" %>

ペンギンが萌え萌えなので大量激写。

<%= image "cimg5090" %>
<%= image "cimg5091" %>
<%= image "cimg5092" %>
<%= image "cimg5093" %>
<%= image "cimg5095" %>
<%= image "cimg5096" %>
<%= image "cimg5097" %>
<%= image "cimg5098" %>
<%= image "cimg5100" %>
<%= image "cimg5101" %>
<%= image "cimg5102" %>
<%= image "cimg5105" %>
<%= image "cimg5106" %>
<%= image "cimg5107" %>
<%= image "cimg5110" %>
<%= image "cimg5111" %>
<%= image "cimg5112" %>
