---
title: 玉一
tags: korean, restaurant
---
玉一で韓国料理を食う。混んでて一時間ぐらい待たされました。

<pre class="address">
<a href="http://gourmet.yahoo.co.jp/gourmet/restaurant/Kinki/Osaka/guide/0302/M0027002215.html">玉一</a>
大阪市北区池田町17-4
06-6353-8626
</pre>

<%= image "cimg5293" %>
<%= image "cimg5291" %>
<%= image "cimg5292" %>

相変わらずケジャンが激辛。

<%= image "cimg5295" %>
<%= image "cimg5297" %>
<%= image "cimg5301" %>
<%= image "cimg5303" %>
<%= image "cimg5305" %>
<%= image "cimg5307" %>
<%= image "cimg5308" %>
