---
title: 結婚記念日
tags: anniversary, food, restaurant
---
某パーティーの後、結婚記念日なので嫁と待ち合わせ。
<a href="http://www.itojun.org/diary/2006-1q.html">itojunの日記</a>見て嫁が行きたがったLawry'sへ。

<%= image "cimg5431" %>

<pre class="address">
<a href="http://www.wondertable.com/app/tenpo/tenpo?code=Lawrys">Lawry's</a>
〒107-0052 東京都港区赤坂2-17-22 赤坂ツインタワー東館1F・B1
03-5114-8080
</pre>

<%= image "cimg54221" %>
<%= image "cimg54231" %>
<%= image "cimg54051" %>
<%= image "cimg54071" %>
<%= image "cimg54101" %>
<%= image "cimg54121" %>
<%= image "cimg54141" %>
<%= image "cimg54161" %>
<%= image "cimg54181" %>
<%= image "cimg54191" %>
<%= image "cimg54271" %>
