---
title: 魚ひろ
---
弟が遊びにきたので例によって<a href="http://uohiro.jp">魚ひろ</a>。
明日から入院の嫁も参加。ええのかしら。

<%= image "cimg5458" %>
<%= image "cimg5460" %>
<%= image "cimg5462" %>
<%= image "cimg5463" %>
<%= image "cimg5465" %>
<%= image "cimg5467" %>
<%= image "cimg5470" %>
<%= image "cimg5472" %>
<%= image "cimg5475" %>
<%= image "cimg5477" %>
