---
title: 生まれました
tags: baby, birth, birth
---
English page is <a href="index-e.html">here</a>

2006/05/02 16:29に男の子が誕生しました。母子ともに健康です。体重は3062g、身長は51cm。

<%= image "cimg5557" %>
<%= image "cimg5542" %>

誕生の瞬間。
へその緒が首にまきついていて大変でした。
いきむと心拍数が140から60に落ちるので、いきみたくてもいきめない状態。
最後は副院長先生に来てもらって吸引器を使ったところ、2いきみぐらいで生まれました。

<%= image "cimg5538" %>
<%= image "cimg5541" %>

動画もあります。

<%= movie "cimg5536" %>

「えー、ここどこー。」

<%= image "cimg5539" %>

赤ちゃん動画。

<%= movie "cimg5583" %>
<%= movie "cimg5591" %>
<%= movie "cimg5582" %>
<%= movie "cimg5581" %>

生まれた瞬間から(旧)ベッカムヘアー。さすが(旧)フーリガンの息子。

<%= image "cimg5547" %>
<%= image "cimg5553" %>
<%= image "cimg5552" %>
<%= image "cimg5555" %>
<%= image "cimg5559" %>
<%= image "cimg5579" %>
<%= image "cimg5587" %>

こんなにちっちゃいのに爪が生えてる。すげー。爪切るのこえー。

<%= image "cimg5585" %>
<%= image "cimg5594" %>
<%= image "cimg5595" %>

---
以下、おまけ。

分娩室に運ばれる前に、陣痛間隔が短くなるまで待機してる部屋。
赤ちゃんの心音チェックする機械と、陣痛をモニターする機械があります。

<%= image "cimg5526" %>
<%= image "cimg5527" %>

赤ちゃんの心音の動画と音。

<%= movie "cimg5530" %>
<%= audio "cimg5531" %>

謎の注意書き

<%= image "cimg5529" %>

分娩室。

<%= image "cimg5532" %>
<%= image "cimg5533" %>
<%= image "cimg5534" %>
<%= image "cimg5535" %>

出産後のごはんとお祝いのワイン。お疲れさま > 嫁。

<%= image "cimg5597" %>
<%= image "cimg5598" %>

<%= image "cimg5542" %>
<%= image "cimg5544" %>
<%= image "cimg5548" %>
