---
title: 赤んぼ 3日目
---
昨日と大して変わらんやんとお思いでしょうが、まあつき合って。

育児室はこんな感じ。普段は透明のガラスですが、授乳時になると白くなって中が見えないようになります。
GW中の平日である5/1と5/2に出産が集中してます。この二日だけで15人生まれた。もう動物園。

<%= image "cimg5630" %>
<%= image "cimg5629" %>
<%= image "cimg5631" %>

寝てる動画。よく動く。
足の力が強いみたいで、次の日の朝見にきたら窓際の方まで動いていたらしい。

<%= movie "ncimg5626" %>

うちの子、いつ見ても右ばっかり向いてます。
嫁が乳やった後に反対向けて寝かしてもしばらくガラス越しに見てたら数分で元に戻ってます。
調べたら<a href="http://www.i-kosodate.net/rear/learn/jschild/baby/baby04.html">向きグセ</a>ってあるみたい。
本人が嫌がるならあんまり矯正しない方がいいようで。

<%= image "cimg5622" %>
<%= image "cimg5634" %>

授乳前風景。この直後ガラスが真っ白になって一時間ばかしおあずけ。

<%= image "cimg5636" %>
<%= image "cimg5638" %>

朝の授乳では母乳を飲む気がなくて2ccしか飲まず、
哺乳びん吸わせた途端にゴクゴク20cc飲んで嫁がショックを受けてたんですが、
さて、夕方の授乳結果はどうでしょう。

<%= image "cimg5643" %>

……あかんかったらしい。

<%= image "cimg5651" %>
<%= image "cimg5656" %>
<%= image "cimg5657" %>

ゲップさせ動画。

<%= movie "ncimg5653" %>
<%= movie "ncimg5654" %>

よっこらしょっと左向きに置く。五分後には右向いてました。

<%= image "cimg5659" %>
<%= image "cimg5663" %>

おっかなびっくりオムツ替え動画。

<%= movie "ncimg5660" %>
