---
title: グランマ
tags: baby, family, grandma
---
うちの母が大阪から面倒見に来てくれてます。

<%= image "cimg5861" %>
<%= image "cimg5898" %>

ダディ帰ってきても蓮くん寝っぱなし。しくしく。
嫁によると、日中は2時間ぐらい起きてたらしい。

<%= image "cimg5905" %>
<%= image "cimg5906" %>

しゃーないので、ハイテクおむつゴミ箱の紹介をしましょう。
<a href="http://www.aprica.jp/hm/html/products/toilet/_poi.html">「におわなくてポイ マルチ」</a>。
おむつをソーセージの用に一個ずつくるんでくれるので、ニオイが洩れません。

<%= image "cimg5908" %>
