---
title: 沐浴
---
嫁が洗うのだいぶんうまくなったので、沐浴動画公開。

<%= movie "cimg6025" %>

顔に湿疹が出てきた。
<a href="http://www.central-hp.pref.kagawa.jp/syuounika/shinseijiikuji.htm">調べると</a>乳児湿疹だそうで、
大抵の赤ん坊はなるらしい。3ヶ月ぐらいで直るとのこと。
いやあ、色々トラブルありますなあ。

<%= image "cimg6019" %>
<%= image "cimg6022" %>

体重は3700g突破しました。18日で2割太ったわけね。すげえなあ。
母親から栄養全部もらってるわけで、俺の乳も吸ってほしい。

ちなみにこのハカリはダスキンレンタオールで借りました。
母乳の場合、ミルクと違ってどれぐらい飲んだか解らないので、授乳前後で量ると便利。

<%= image "cimg6029" %>

ハカリに載せられるとオッパイもらえるのが分かってるので、機嫌が大変よろしい。

<%= image "cimg6033" %>
