---
title: あっくん家
tags: baby, friend, gift
---
嫁が蓮つれて、近所に住む新米ママ友の亜由子さん家に遊びにいく。

ということで、あっくん。最近はちょー夜型だそうで目の開いてる写真ががない。

<%= image "cimg6478" %>
<%= image "cimg6481" %>

並べるとあっくんの方が一回り大きいなあ。さすが一ヶ月先輩。

<%= image "cimg6469" %>

歌舞伎役者かお前は。「あ、よく、寝る、や つ だ なぁ〜」

<%= image "cimg6460" %>

あっくんのお祖母ちゃんから幸運の靴を頂く。
<a href="http://ja.wikipedia.org/wiki/%E3%83%91%E3%83%BC%E3%83%81%E3%83%A1%E3%83%B3%E3%83%88%E3%82%AF%E3%83%A9%E3%83%95%E3%83%88">パーチメントクラフト</a>なる手芸だそうです。

<%= image "cimg6484" %>

かかとにちゃんと蓮と書いてある。

<%= image "cimg6492" %>
