---
title: れんくん
tags: son, photo, family
---
小田原のじーちゃん撮影。

<%= image "dsc_0003" %>
<%= image "dsc_0004" %>
<%= image "dsc_0011" %>
<%= image "dsc_0012" %>
<%= image "dsc_0015" %>
<%= image "dsc_0016" %>
<%= image "dsc_0017" %>

<!--#include virtual="../../../address.html"-->
<!--#include virtual="../../last-main.html"-->
</div>
<div class="indexblock">
<!--#include virtual="../../adsense.html"-->
</div>
</body>
<!--#include virtual="../../diary-afterbody.html"-->
</html>
