---
title: 姪と甥
---
大阪で朝から打ち合わせだったので、弟の家に泊めてもらう。
姪がテンション上がって寝ねぇ。風呂入れて寝たのAM3時過ぎ。
早朝の新幹線で大阪行った方が楽やったんちゃうか。

<%= image "cimg6955" %>
<%= image "cimg6956" %>
<%= image "cimg6958" %>
<%= image "cimg6962" %>
<%= image "cimg6963" %>

あと、<a href="../0318-jikka/">以前に</a>甥が天使にようにかわいいと言ってましたが、

<b>ウ チ の 子 の 方 が か わ い い</b>
