---
title: ベビーカーデビュー
---
腰が座ったら軽量のB型ベビーカーを買う予定なんですが、
それまでのつなぎとしてA型ベビーカーを<a href="http://www.ibaby.co.jp/">愛育ベビー</a>からレンタルすることに。

んで、近所の公園までお散歩。

<%= image "cimg7066" %>
<%= image "cimg7071" %>
<%= image "cimg7090" %>

初めての体験に心細げ。

<%= image "cimg7075" %>
<%= image "cimg7076" %>
