---
title: 魚ひろ
tags: food, restaurant, friends
---
宮さんが大阪から出張に来たので、例によって魚ひろで飲み。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
045-340-3717
</pre>

<%= image "cimg7335" %>
<%= image "cimg7337" %>

EX-S600が、S100に比べると暗がりに強くなってる。素晴らしい。

<%= image "cimg7336" %>
<%= image "cimg7339" %>
<%= image "cimg7342" %>
<%= image "cimg7345" %>
<%= image "cimg7346" %>
<%= image "cimg7350" %>
<%= image "cimg7351" %>
<%= image "cimg7353" %>
<%= image "cimg7355" %>
<%= image "cimg7357" %>
