---
title: US出張その1
tags: businesstrip, food, us
---
USに9/24まで出張。10日以上もいないと我が子に完全に忘れられるんだろうなあ。

出張前日にPC壊れて泣きそうでしたが、何とか代替機をゲット。
昔なら絶対出張中に壊れて現地調達しなければならない羽目に陥ってたので運が良くなってるのかも。
へたりきってたバッテリーが代替機のおかげで改善されたのもラッキー。

US内移動が多いので久しぶりにUAにしました。
行きの国際便は隣二つが空いてたので、なんちゃってフルフラットに成功。

<pre class="flight">
09/13 Wed NRT 16:05 -(UA852)- 09:20 SFO
</pre>

<%= image "cimg7395" %>

サンフランシスコ経由でオースチンに着。

<pre class="flight">
09/13 Wed SFO 10:40 -(UA374)- 16:09 AUS
</pre>

で、ホテル。ディナーBuffetやってるけど、ビールだけ飲んで外へ。

<%= image "cimg7396" %>
<%= image "cimg7397" %>

テキサスってなぐらいで選択肢は肉しかないので、初日からステーキ屋。

<pre class="address">
<a href="http://www.saltgrass.com/">Saltgrass Steak House</a>
10614 Research Blvd
Austin, TX 78759
(512) 340-0040
</pre>

<%= image "cimg7409" %>
<%= image "cimg7408" %>
<%= image "cimg7401" %>
<%= image "cimg7402" %>
<%= image "cimg7405" %>

Ribeye 12oz。カルビ肉ですね。ポテト残したけど肉は完食。
"Soup or Salad?"を"Supersalad?"と聞き間違えた。

<%= image "cimg7406" %>

さらにメキシコ系のバーへ。テキーラ2杯飲んで爆睡。

<%= image "cimg7410" %>
<%= image "cimg7411" %>
<%= image "cimg7412" %>
