---
title: US出張その2
tags: businesstrip, food, us
---
昼飯はBBQ。地元で有名な店だそうで。

<pre class="address">
<a href="http://rudysbbq.com/">Ruby's</a>
512 W 29th St
Austin, TX 78705
(512) 477-1651
</pre>

<%= image "cimg7413" %>
<%= image "cimg7414" %>

注文するとカゴに肉とパンがもらえます。

<%= image "cimg7415" %>
<%= image "cimg7416" %>

んで、パンに肉乗せて、店特製のBBQソースぶっかけて食う。
ソースがうんまい。持ち帰りもできるみたいだけど、飛行機に液体持込できないから挫折。

<%= image "cimg7417" %>

毎食肉じゃねえかって？ テキサスには肉しかねえんだよ！

夜に移動。

<pre class="flight">
09/14 Thu AUS 16:49 -(UA505)- 17:52 DEN
09/14 Thu DEN 19:06 -(UA370)- 21:24 OMA
09/14 Thu OMA->Sioux City (Drive)
</pre>

直行便ないので遠い。マイジェット機欲しいな。

デンバーで飛行機が一時間ぐらい遅れる。
オマハに着いたのが11時で、そっからレンタカーで移動してホテル到着が24:50。
晩飯はバーガーキング買って移動しながら食う。

野菜食ってねー。
