---
title: US出張その3
---
Gatewayのオフィス。Sioux CityはGateway発祥の地だそうです。
ちなみに、Sioux Cotyはネイティブアメリカンのスー族が住んでたことから、この名前がついたらしい。

<%= image "cimg7419" %>

昼飯はモールで韓国飯。おいしゅうございました。

<%= image "cimg7420" %>

仕事のあと、地元の高校と隣町の高校がアメフトの対抗戦をやるとのことなので、見に行く。
早慶戦みたいなもんじゃろか。
かなり本格的で観客は1500人ぐらい来てたと思う。
ハーフの間の応援合戦や、実況アナウンスや、電光掲示板までありました。
やっぱアメフトって人気あるのね。

<%= image "cimg7421" %>
<%= image "cimg7422" %>
<%= image "cimg7426" %>
<%= image "cimg7428" %>
<%= image "cimg7429" %>
<%= movie "cimg7425" %>

途中で、雨が降ってきたので逃げ出す。
ここ数日、Thunder Stormが来ていて天気が非常に不安定。

晩飯。ベトナム人がやってる日本食屋。酢飯がうまいので結構くえた。

<pre class="address">
<a href="http://www.pubcrawler.com/Template/dsp_restaurant_zoom.cfm/flat/ID=138078">Fuji Bay</a>
333 Jackson St Sioux City, IA 51101-1710
712-233-1520
</pre>

<%= image "cimg7430" %>
<%= image "cimg7431" %>
<%= image "cimg7432" %>
<%= image "cimg7435" %>
<%= image "cimg7436" %>
<%= image "cimg7438" %>
<%= image "cimg7439" %>
<%= image "cimg7446" %>
<%= image "cimg7448" %>
<%= image "cimg7449" %>

タコ頼んだらこんなん出てきた。

<%= image "cimg7441" %>

雷雨はどんどんひどくなって、一秒に一回ぐらい稲妻が光ってました。
動画で雷撮るのに成功。

<%= movie "cimg7453" %>
