---
title: US出張その4
tags: travel, USA, food
---
昼はメキシカン。Seven Sea SoupとTacos。
うまいメキシカン食ったの初めてだと思う。

<pre class="address">
Deanda Tortillas Restaurant
2000 Dakota Ave South Sioux City, NE 68776
(402) 494-4863
</pre>

<%= image "cimg7462" %>
<%= image "cimg7455" %>
<%= image "cimg7457" %>
<%= image "cimg7458" %>
<%= image "cimg7459" %>
<%= image "cimg7460" %>

今日も今日とてアメフト観戦。
今回の出張先のにーちゃんがコーチやってるチームの試合。
13才ぐらいがメンバーなので、動きが全然遅いです。
ゲーム進行がわかりやすくて素人には助かる。

<%= image "cimg7464" %>
<%= image "cimg7465" %>

晩ごはん。

<pre class="address">
<a href="http://www.famousdavessiouxcity.com/">Famous Dave's</a>
201 Pierce Street Sioux City, IA 51101
phone: 712-277-8800 fax: 712-277-8803
</pre>

<%= image "cimg7467" %>
<%= image "cimg7468" %>
<%= image "cimg7469" %>
<%= image "cimg7471" %>
<%= image "cimg7474" %>
