---
title: 友人きたる
tags: baby, friend, visit
---
島さんとyuo、ayayaが遊びに来る。
島さんの日記は<a href="http://server.shima-family.com/~keiichi/albums/20061001-yokohama/">こちら</a>

<%= image "cimg7571" %>
<%= image "cimg7579" %>
<%= image "cimg7587" %>
<%= image "cimg7595" %>
<%= image "cimg7604" %>
<%= image "cimg7612" %>
<%= image "cimg7621" %>
<%= image "cimg7632" %>

撮影大会。

<%= image "cimg7589" %>
<%= image "cimg7593" %>
