---
title: 実家訪問
---
小田原の嫁の実家に遊びに行く。

<%= image "cimg7648" %>

ガラ悪く列車を待つ息子。

<%= image "cimg7643" %>

四川の坦々麺が久しぶりにに食いたかったので、昼飯に寄る。

<pre class="address">
<a href="http://www.walkerplus.com/yokohama/gourmet/contents/yor153.html">四川</a>
神奈川県小田原市上曽我173-1
0465-42-5451
</pre>

<%= image "cimg7650" %>
<%= image "cimg7651" %>
<%= image "cimg7653" %>
<%= image "cimg7658" %>

じーじと蓮くん。

<%= image "cimg7661" %>
