---
title: ベビーマッサージ
tags: activity, baby, son
---
<a href="http://www15.plala.or.jp/naturalwave/CI3.htm">ベビーマッサージ</a>に参加。

<%= image "cimg7870" %>
<%= image "cimg7887" %>
<%= image "cimg7879" %>
<%= image "cimg7885" %>
<%= image "cimg7901" %>
<%= image "cimg7907" %>

マットに仰向けにしてマッサージするんですが、蓮は1分とじっとしとられずグズる。

<%= image "cimg7897" %>

良い子の例(もなちゃん)。オムツも外してマッサージするそうで。

<%= image "cimg8052" %>
