---
title: 焼肉
tags: restaurant, yakiniku
---
焼肉食いてーということで、蓮つれて焼肉屋に行ってみた。

<pre class="address">
<a href="http://r.gnavi.co.jp/g342600/">あぶり焼　縁日亭</a>
〒244-0801 神奈川県横浜市戸塚区品濃町515-1 南の街1-108
045-823-0888
</pre>

ここの座敷の左奥は、赤ん坊を遊ばしておける空間があります。
おもちゃを幾つか持ってって、遊んでるうちに肉を食う。

<%= image "cimg8119" %>
<%= image "cimg8123" %>

嫁は14か月ぶりにビール飲めてご満悦。

<%= image "cimg8125" %>
<%= image "cimg8126" %>
<%= image "cimg8128" %>
<%= image "cimg8130" %>
<%= image "cimg8132" %>
<%= image "cimg8133" %>
<%= image "cimg8135" %>
<%= image "cimg8136" %>
<%= image "cimg8139" %>

蓮が寝てくれるのを期待したんですが、全然寝てくれませんでした。
ぐずり始めたので、食って飲んでとっとと帰る。
