---
title: 大阪のじじばば
---
大阪のじーちゃんばーちゃんが遊びに来ました。じーちゃんは孫に会うの初めて。

蓮つれて魚ひろへ。蓮くん魚ひろデビュー。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
横浜市保土ヶ谷区天王町1-8-1
045-340-3717
</pre>

<%= image "cimg8187" %>
<%= image "cimg8190" %>
<%= image "cimg8193" %>
<%= image "cimg8194" %>
<%= image "cimg8196" %>
<%= image "cimg8199" %>
<%= image "cimg8200" %>
<%= image "cimg8205" %>
<%= image "cimg8207" %>
<%= image "cimg8221" %>

<%= image "cimg8179" %>
<%= image "cimg8181" %>
<%= image "cimg8212" %>
<%= image "cimg8213" %>

グズり出したんで、背負いながら飲む。

<%= image "cimg8217" %>

色々と記念写真。

<%= image "cimg8235" %>
<%= image "cimg8242" %>
<%= image "cimg8249" %>
<%= image "cimg8257" %>
<%= image "cimg8264" %>
