---
title: クリスマスイブ
tags: christmas, family, toys
---
蓮にクリスマスプレゼントを買いにトイざらスへ。「電車来ねえなあ。」

<%= image "cimg9025" %>
<%= image "cimg9032" %>

ということで、デカ積み木とデカボールを購入。

<%= image "cimg9033" %>

ダディは建てる係。

<%= image "cimg9043" %>
<%= image "cimg9050" %>
<%= image "cimg9054" %>

蓮は壊す係。

<%= image "cimg9039" %>

ママもゲート作ってみた。

<%= image "cimg9060" %>

夜はクリスマスなので<a href="http://jan-nanbusen.com/">ジャン</a>の<a href="http://jan-nanbusen.com/sangetan.html">参鶏湯</a>。

<%= image "cimg9066" %>
<%= image "cimg9070" %>

スープを蓮にも飲ませてみた。ガッツリ飲んだ。

<%= image "cimg9072" %>
