---
title: 北海道旅行 その1
tags: hokkaido, sapporo, travel
---
家族で北海道来ました。

<%= image "img_2464" %>

まずは小樽の三角市場で昼飯。

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0106/A010601/1027887/">北のどんぶり屋 滝波食堂</a>
北海道小樽市稲穂3-10-16 三角市場内
0134-23-1426
</pre>

<%= image "img_2486" %>
<%= image "img_2471" %>
<%= image "img_2470" %>
<%= image "img_2475" %>
<%= image "img_2477" %>
<%= image "img_2468" %>
<%= image "img_2466" %>
<%= image "img_2480" %>
<%= image "img_2465" %>
<%= image "img_2483" %>
<%= image "img_2489" %>

散歩。ボランティアの人に小樽の歴史を教わる。

<%= image "img_2476" %>
<%= image "img_2492" %>
<%= image "img_2499" %>
<%= image "img_2503" %>
<%= image "img_2505" %>
<%= image "img_2510" %>
<%= image "img_2514" %>
<%= image "img_2522" %>

今日のホテル。

<pre class="address">
<a href="http://sapporofactory.jp/clubby/">ホテルクラビーサッポロ</a>
札幌市中央区北2条東3丁目サッポロファクトリー西館
011-242-1111
</pre>

<%= image "img_2526" %>
<%= image "img_2527" %>

そしてがっかり名所。

<%= image "img_2529" %>
<%= image "img_2532" %>
<%= image "img_2533" %>
<%= image "img_2545" %>

テレビ塔

<%= image "img_2551" %>
<%= image "img_2556" %>
