---
title: 北海道旅行 その2
tags: hokkaido, snowboard, travel
---
電車でトマムに移動。そこからバスでホテルへ。

<%= image "img_2478" %>
<%= image "img_2482" %>
<%= image "img_2483" %>
<%= image "img_2485" %>

今日のホテル。星野のリゾートのザ・タワー。

<%= image "img_2488" %>
<%= image "img_2487" %>
<%= image "img_2489" %>
<%= image "img_2490" %>
<%= image "img_2491" %>
<%= image "img_2493" %>
<%= image "img_2588" %>

りりちゃんもスノボーデビューです。

<%= image "img_2561" %>
<%= image "img_2564" %>
<%= image "img_2573" %>
<%= image "img_2577" %>
<%= image "img_2582" %>
<%= image "img_2584" %>
<%= movie "hdimg_2587" %>

波の出るプールへ。波タイムはめっちゃ激しい。

<%= image "img_2589" %>
<%= image "img_2593" %>
<%= image "img_2597" %>
<%= movie "hdimg_2602" %>
<%= image "img_2604" %>
<%= image "img_2608" %>
<%= image "img_2612" %>
<%= image "img_2613" %>
<%= image "img_2615" %>
<%= image "img_2621" %>
<%= image "img_2627" %>
<%= image "img_2628" %>
<%= image "img_2629" %>

晩御飯。

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010403/1034268/">haL</a>
北海道勇払郡占冠村字中トマム 星野リゾート トマム
0167-58-1128
</pre>

<%= image "img_2632" %>
