---
title: 北海道旅行 その3
tags: hokkaido, snowboard, travel
---
ニポちゃん。

<%= image "img_2637" %>

滑りますよー。

<%= image "img_2644" %>
<%= image "img_2650" %>
<%= image "img_2657" %>
<%= image "img_2658" %>
<%= movie "hdimg_2662" %>
<%= image "img_2663" %>
<%= image "img_2664" %>
<%= image "img_2670" %>
<%= movie "hdimg_2678" %>
<%= image "img_2680" %>
<%= image "img_2683" %>
<%= movie "hdimg_2686" %>

練習中。立てるようになりました。

<%= image "img_2687" %>
<%= image "img_2690" %>
<%= image "img_2694" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0104/A010403/1041266/">後藤商店</a>
北海道勇払郡占冠村字中トマム 星野リゾート トマム 1F
0167-58-1111
</pre>

晩御飯。居酒屋系、ウニが美味かった。

<%= image "img_2513" %>
<%= image "img_2515" %>
<%= image "img_2520" %>
<%= image "img_2536" %>
<%= image "img_2540" %>
<%= image "img_2543" %>
<%= image "img_2548" %>
<%= image "img_2554" %>
