---
title: トルコアズ
tags: dinner, ikebukuro, turkish
---
池袋で職員会議。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1305/A130501/13118844/">トルコアズ</a>
東京都豊島区西池袋3-27-15
050-5890-1676
</pre>

<%= image "img_2605" %>
<%= image "img_2615" %>
<%= image "img_2616" %>
<%= image "img_2631" %>
<%= image "img_2639" %>
<%= image "img_2640" %>
<%= image "img_2678" %>
