---
title: 水上高原スキーリゾート その1
tags: snow, snowboard, travel
---
群馬に滑りに来ました。

<pre class="address">
<a href="http://www.minakami-ski.jp/index.php">水上高原スキーリゾート</a>
群馬県利根郡みなかみ町藤原6152-1
0278-75-2222
</pre>

<%= image "img_2694" %>
<%= image "img_2719" %>

今日のホテル。

<%= image "img_2880" %>
<%= image "img_2882" %>
<%= image "img_2883" %>
<%= image "img_2711" %>

りりちゃんがビビらないで普通の斜面を滑れるようになる。

<%= image "img_2842" %>
<%= image "img_2844" %>
<%= image "img_2845" %>
<%= image "img_2847" %>
<%= image "img_2848" %>
<%= image "img_2851" %>
<%= image "img_2854" %>
<%= image "img_2856" %>
<%= image "img_2862" %>

雪山。

<%= image "img_2867" %>
<%= image "img_2869" %>
<%= image "img_2874" %>
<%= image "img_2876" %>
<%= image "img_2700" %>
<%= movie "hdimg_2709" %>

ロビーにビリヤードがあったので風呂上がりに遊ぶ。

<%= image "img_2884" %>
<%= image "img_2886" %>
<%= image "img_2887" %>

マシュマロ。

<%= image "img_2891" %>
<%= image "img_2893" %>

夜の雪。「プランクトンみたい」と、りりちゃん。

<%= movie "hdimg_2897" %>
<%= image "img_2899" %>
