---
title: イチゴ狩り
tags: family, strawberry
---
今年も来ましたイチゴ狩り。

<pre class="address">
<a href="http://agriways.com/">アグリウェイズ</a>
神奈川県小田原市上曽我2624
</pre>

<%= image "dsc_9128" %>
<%= image "dsc_9140" %>
<%= image "img_2737" %>
<%= image "img_2742" %>
<%= image "img_2947" %>
<%= image "img_2950" %>
<%= image "img_2952" %>
<%= image "img_2955" %>
<%= image "img_2960" %>
<%= image "img_2962" %>
<%= image "img_2966" %>
<%= image "img_2974" %>

梅まつりやってた。

<%= image "dsc_9158" %>
<%= image "dsc_9160" %>
<%= image "dsc_9162" %>
<%= image "dsc_9163" %>
<%= image "dsc_9167" %>
<%= image "dsc_9173" %>
<%= image "dsc_9178" %>
<%= image "dsc_9181" %>
<%= image "dsc_9187" %>

<%= image "img_2746" %>
<%= image "img_2747" %>

<%= image "img_2989" %>

公園。

<%= image "img_2993" %>
<%= image "dsc_9197" %>
<%= movie "hdimg_2756" %>

帰りますよー。

<%= image "img_2998" %>
