---
title: 鎌倉
tags: kamakura, hiking, temple
---
鎌倉をハイキングするの巻。暑い。ここらへんで水が切れて死ぬ。

<%= image "img_3269" %>
<%= image "img_3273" %>

ここらへんで道を見失う。

<%= image "img_3274" %>
<%= image "img_3276" %>
<%= image "img_3277" %>
<%= image "img_3280" %>
<%= image "img_3281" %>
<%= image "img_3294" %>

<a href="https://www.city.kamakura.kanagawa.jp/keikan/k-index1.html">旧華頂宮邸</a>。

<%= image "img_3296" %>
<%= image "img_3299" %>
<%= image "img_3307" %>
<%= image "img_3308" %>
<%= image "img_3309" %>
<%= image "img_3321" %>
<%= image "img_3322" %>

報国寺。

<%= image "img_3328" %>
<%= image "img_3334" %>
<%= image "img_3337" %>
<%= image "img_3345" %>
<%= image "img_3348" %>
<%= image "img_3350" %>
<%= image "img_3352" %>
<%= image "img_3354" %>
<%= image "img_3359" %>
<%= image "img_3361" %>

ヘロヘロの娘に台湾風かき氷。

<%= image "img_3368" %>
