---
title: ロウリーズ・ザ・プライムリブ
tags: food, party, ebisu
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1303/A130302/13165420/">ロウリーズ・ザ・プライムリブ</a> 恵比寿ガーデンプレイス店
東京都渋谷区恵比寿4-20-3 恵比寿ガーデンプレイスタワー B2F
050-5592-3580
</pre>

某氏のお別れパーティー。

<%= image "img_3109" %>
<%= image "img128979" %>
<%= image "img128981" %>
<%= image "img128985" %>
<%= image "img128996" %>
<%= image "img129000" %>
<%= image "img129004" %>
<%= image "img129011" %>
<%= image "img129015" %>
<%= image "img129026" %>
<%= image "img129033" %>
<%= image "img129048" %>
<%= image "img129052" %>
