---
title: シンガポール出張 1日目
---
社内イベントでシンガポールへ。シンガポールはすんげえ久しぶり。

とりあえず空港でSIMをゲット。

<%= image "img_3218" %>

今回の宿はセントーサ島にある<a href="http://www.rwsentosa.com/Homepage/HotelsAndSpa/FestiveHotel">Festive Hotel</a>。

<%= image "img_3187" %>
<%= image "img_3188" %>
<%= image "img_3189" %>
<%= image "img_3191" %>
<%= image "img_3192" %>

Welcome Event。ビーチバーでサンダル履いてこいって言われたけど、持ってきてへんちゅーねん。

<%= image "img_3195" %>
<%= image "img_3196" %>

抜け出して本島へフィッシュヘッドカレー食べに行く。

<pre class="address">
<a href="http://www.thebananaleafapolo.com/">Banana Leaf Apolo</a>
54 Race Course Rd, Singapore 218564
+65 6293 8682
</pre>

<%= image "img_3198" %>
<%= image "img_3199" %>
<%= image "img_3200" %>
<%= image "img_3201" %>
<%= image "img_3206" %>
<%= image "img_3208" %>

セントーサ島へ渡るモノレールが10時で終了だったので、徒歩で渡る。

<%= image "img_3209" %>
<%= image "img_3211" %>
<%= image "img_3213" %>
