---
title: シンガポール出張 4日目
tags: food, pokemon, singapore
---
最終日にようやくサニーゴをゲット！

<%= image "img_3289", ext: 'png' %>

<pre class="address">
<a href="https://www.tripadvisor.jp/Restaurant_Review-g294265-d782754-Reviews-Boon_Tong_Kee_at_Balestier-Singapore.html">文東記 バレスティア・ロード本店</a>
401 Balestier Road, Singapore
6254-3937
</pre>

シンガポール在住の白畑さんと晩飯。チキンライスのおいしい店に連れていってもらう。

<%= image "img_3310" %>
<%= image "img_3295" %>
<%= image "img_3293" %>
<%= image "img_3292" %>
<%= image "img_3294" %>
<%= image "img_3303" %>
<%= image "img_3306" %>
<%= image "img_3309" %>

紙で包んで上げた鶏肉。これもめっちゃ美味い。

<%= image "img_3297" %>
<%= image "img_3302" %>

<%= image "img_3298" %>
<%= image "img_3299" %>
<%= image "img_3301" %>

その後、ドリアンの屋台へ。このためにアルコールは我慢してた。ドリアンにも色んな品種あるのね知らんかった。

<%= image "img_3312" %>
<%= image "img_3314" %>

一番美味いという猫山王を食す。水と手袋となんとかいう果物が席に置いてあって無料。

<%= image "img_3315" %>
<%= image "img_3318" %>
<%= image "img_3319" %>
<%= image "img_3321" %>
<%= image "img_3323" %>

<%= image "img_5750" %>
