---
title: セブ島 その1
tags: cebu, family, travel
---
家族で初めての海外へ。LCCでセブ島へ。

<%= image "img_3789" %>
<%= image "img_3330" %>
<%= image "img_3794" %>
<%= image "img_3790" %>
<%= image "img_3797" %>

ホテルはシャングリラ。

<pre class="address">
<a href="http://www.shangri-la.com/jp/cebu/mactanresort/">Shangri-La</a>
Punta Engano Road, Lapu-Lapu, Cebu, 6015, Philippines
(63 32) 231 0288
</pre>

<%= image "img_3798" %>
<%= image "img_3802" %>
<%= image "img_3806" %>
<%= image "img_3814" %>

プールで遊ぶ。

<%= image "img_3815" %>
<%= image "img_3817" %>

晩御飯はホテル内のレストランへ。

<%= image "img_3337" %>
<%= image "img_3338" %>
<%= image "img_3339" %>
<%= image "img_3340" %>
<%= image "img_3341" %>
<%= image "img_3342" %>

ダンスショー。りりちゃん釘付け。

<%= image "img_3820" %>
