---
title: セブ島 その2
tags: cebu, food, pool
---
海へ。
もらった餌を巻くと魚がめっちゃ寄ってくる。

<%= image "img_3346" %>
<%= image "img_3352" %>

キッズエリア。日本じゃありえないレベルの傾斜の高いすべり台あり。

<%= movie "hdimg_3355" %>
<%= image "img_3357" %>
<%= image "img_3844" %>
<%= image "img_3850" %>
<%= image "img_3851" %>
<%= image "img_3853" %>
<%= image "img_3856" %>
<%= movie "hdimg_3859" %>

プール。

<%= image "img_3829" %>
<%= image "img_3832" %>
<%= image "img_3835" %>
<%= image "img_3838" %>
<%= image "img_3840" %>

チョコケーキもらえた。

<%= image "img_3841" %>

晩御飯はホテルの敷地から出てすぐ目の前にあるスペイン料理にしました。

<pre class="address">
<a href="http://4travel.jp/overseas/area/asia/philippines/cebu/restaurant/10412275/">Hola Espana</a>
Punta Engano, Cabesa Tacio,Lapu-lapu City
</pre>

イカ墨パエリアが美味しゅうございました。

<%= image "img_3875" %>
<%= image "img_3359" %>
<%= image "img_3360" %>
<%= image "img_3362" %>
<%= image "img_3863" %>
