---
title: セブ島 その3
tags: cebu, pool, hotel
---
部屋からの眺め。

<%= image "img_3881" %>

朝飯会場に着ぐるみ現れる。

<%= image "img_3365" %>
<%= image "img_3367" %>

飯食ったあと散歩。でっかい葉っぱ発見。ハンモックとかブランコもホテルの敷地内にあり。

<%= image "img_3370" %>
<%= image "img_3374" %>
<%= image "img_3382" %>

今日もプールで遊ぶ。

<%= movie "hdimg_3389" %>
<%= image "img_3888" %>
<%= image "img_3909" %>
<%= image "img_3911" %>

一番深いプールは2m以上あり。スローモーション動画撮ってみた。

<%= image "img_3897" %>
<%= movie "hdimg_3899" %>
<%= image "img_3903" %>
<%= image "img_3904" %>
<%= image "img_3907" %>

昼飯はプールサイドでハンバーガー。

<%= image "img_3883" %>
<%= image "img_3884" %>

キッズエリア。

<%= image "img_3917" %>
<%= image "img_3919" %>
<%= image "img_3925" %>

晩御飯はホテルの敷地出てちょっと歩いたところにあるフィリピン料理屋さん。

<pre class="address">
<a href="https://www.tripadvisor.jp/Restaurant_Review-g298461-d7045107-Reviews-Fiesta_Bay_Asian_Seafood_Restaurant-Lapu_Lapu_Mactan_Island_Cebu_Island_Visayas.html">Fiesta Bay Asian Seafood Restaurant</a>
Punta Engano Road, Lapu Lapu 6015, Philippines
+63 32 236 0897
</pre>

<%= image "img_3391" %>
<%= image "img_3392" %>
<%= image "img_3394" %>
