---
title: セブ島 その4
tags: cebu, food, pool
---
南国だけあってフルーツおいしい。

<%= image "img_3953" %>

ジャックフルーツ。

<%= image "img_3395" %>

今日もプール。

<%= image "img_3955" %>
<%= image "img_3960" %>
<%= image "img_3962" %>
<%= image "img_3964" %>
<%= image "img_3971" %>
<%= image "img_3973" %>
<%= image "img_3974" %>
<%= image "img_3976" %>

飯くいにいく途中で別ホテルを偵察。おしゃれゴージャス。

<%= image "img_3981" %>
<%= image "img_3982" %>
<%= image "img_3983" %>

2日連続フィリピン料理屋。

<pre class="address">
<a href="https://www.tripadvisor.jp/Restaurant_Review-g298461-d7045107-Reviews-Fiesta_Bay_Asian_Seafood_Restaurant-Lapu_Lapu_Mactan_Island_Cebu_Island_Visayas.html">Fiesta Bay Asian Seafood Restaurant</a>
Punta Engano Road, Lapu Lapu 6015, Philippines
+63 32 236 0897
</pre>

<%= image "img_3986" %>
<%= image "img_3988" %>
<%= image "img_3991" %>
<%= image "img_3997" %>
<%= image "img_4003" %>
