---
title: シアトル出張 1日目
tags: amazon, seattle, travel
---
まさかの前倒し離陸。このパターン初めてみた。

<%= image "img_4277" %>

日曜午前中シアトルに到着。寝るわけにはいけないので、観光地巡り。

<%= image "img_4278" %>
<%= image "img_4282" %>

昼飯はクラムチャウダー。Pike Placeは混むのでPacific Placeの方。

<pre class="address">
<a href="https://www.yelp.com/biz/pike-place-chowder-seattle-4">Pike Place Chowder</a>
Pacific Place, 600 Pine St, Seattle, WA 98101
</pre>

<%= image "img_4284" %>

Amazon Goに行きたかったけど、日曜は空いてないのでAmazon Booksへ。
ワシントン大学までバスで行って、そこから散歩して大学向こうのMallへ。

<%= image "img_4289" %>
<%= image "img_4293" %>
<%= image "img_4294" %>
<%= image "img_4295" %>
<%= image "img_4296" %>

<a href="https://www.amazon.com/b?node=13270229011">Amazon Books</a>。

<%= image "img_4297" %>

戻ってきたらホテル入れた。今回のホテルはOlive 8。

<pre class="address">
<a href="https://olive8.hyatt.com/en/hotel/home.html">HYATT AT OLIVE 8</a>
1635 8th Avenue, Seattle, Washington, USA, 98101
Tel: +1 206 695 1234
</pre>

<%= image "img_4299" %>

晩御飯。

<pre class="address">
<a href="http://www.gordonbiersch.com/locations/seattle?action=view">Gordon Biersch</a>
600 Pine Street Suite 401, Seattle, WA 98101
206-405-4205
</pre>

<%= image "img_4285" %>
<%= image "img_4309" %>
