---
title: シアトル出張 2日目
---
日蝕を見物する人々。よくわかりませんでした。

<%= image "img_4314" %>
<%= image "img_4316" %>

明るいけど夕方です。<a href="http://www.seattletimes.com/business/amazon/amazons-spheres-are-centerpiece-of-4-billion-effort-to-transform-seattles-urban-core/">Spheres</a>大分出来上がってる。

<%= image "img_4319" %>

Beta中のレジなしスーパー<a href="https://www.amazon.com/b?ie=UTF8&node=16008589011">Amazon Go</a>へ。

<%= image "img_4322" %>

バッグと袋をゲット。

<%= image "img_4324" %>

夜はベトナム料理。甘辛い肉がマズいわけない。

<pre class="address">
<a href="http://tamarindtreerestaurant.com/">Tamarind Tree</a>
1036 South Jackson Street, Seattle, Washington 98104
206.860.1404
</pre>

<%= image "img_4325" %>
<%= image "img_4327" %>
<%= image "img_4328" %>
<%= image "img_4330" %>
<%= image "img_4333" %>
<%= image "img_4336" %>
