---
title: シアトル出張 4日目
---
今日はメキシカン。

<pre class="address">
<a class="href">Fogon Cocina Mexicana
600 E Pine St, Seattle, WA 98122-2324
+1 206-320-7777
</a>
</pre>

<%= image "img_4346" %>
<%= image "img_4347" %>
<%= image "img_4348" %>
<%= image "img_4349" %>
<%= image "img_4350" %>
<%= image "img_4351" %>
<%= image "img_4352" %>
