---
title: シアトル出張 6日目
tags: seattle, food, ramen
---
昼飯

<pre class="address">
<a href="https://www.yelp.co.jp/biz/pho-bac-seattle-15">Pho Bac Restaurant</a>
1809 Minor Ave, 102, Seattle, WA 98101
206-621-8816
</pre>

<%= image "img_4360" %>
<%= image "img_4361" %>
<%= image "img_4362" %>

晩御飯。とりあえず牡蠣。

<pre class="address">
<a href="http://www.yelp.com/biz/taylor-shellfish-farms-seattle">Taylor Shellfish Farms</a>
1521 Melrose Ave Seattle, WA 98122
206-501-4321
</pre>

<%= image "img_4364" %>
<%= image "img_4366" %>

そして二軒目は別のラーメン屋(3日ぶり、二回目)。
空海が改名してメニューも変わってる。

<pre class="address">
<a href="http://www.kizuki.com/">Kizuki</a>
320 E Pine St. Seattle, WA. 98122
+1 206-420-1497
</pre>

<%= image "img_4367" %>
<%= image "img_4368" %>
<%= image "img_4369" %>
<%= image "img_4370" %>
<%= image "img_4373" %>
<%= image "img_4374" %>
