---
title: 名古屋出張
tags: food, nagoya, travel
---
お客さん訪問のあと、世界の山ちゃんへ。

<pre class="address">
<a href="http://r.tabelog.com/aichi/A2301/A230102/23000720/">世界の山ちゃん 納屋橋店</a>
愛知県名古屋市中区錦1-18-25
052-219-9887
</pre>

<%= image "img_0495" %>
<%= image "img_0485" %>
<%= image "img_0489" %>
<%= image "img_0492" %>
<%= image "img_0493" %>
<%= image "img_0498" %>

赤味噌ラガー。

<%= image "img_0500" %>

二軒目。飲んでる途中でなぜか気持ち悪くなって吐く。
ホテル戻ってからも含めて計五回ぐらい吐いてぶっ倒れる。
明け方に目を覚ましたら治ってた。
何やったんや。

<pre class="address">
<a href="http://r.tabelog.com/aichi/A2301/A230102/23038476/">クインチ チェントラーレ</a>
愛知県名古屋市中区丸の内1-17-15
052-201-9102
</pre>

<%= image "img_0501" %>
<%= image "img_0503" %>
