---
title: 滋賀県出張
tags: museum, nagoya, travel
---
朝起きたら体調戻ってたのと、移動まで時間があったので<a href="http://www.tokugawa.org/~toku/index.html">徳さん</a>ところの美術館を観光。

<pre class="address">
<a href="http://www.tokugawa-art-museum.jp/">徳川美術館</a>
〒461-0023 名古屋市東区徳川町1017
052-935-6262
</pre>

<%= image "img_0504" %>
<%= image "img_0505" %>
<%= image "img_0506" %>
<%= image "img_0507" %>
<%= image "img_0508" %>
<%= image "img_0509" %>
<%= image "img_0511" %>

名古屋駅できしめん。

<%= image "img_0514" %>

米原へ移動。ここだけ別世界だよなあ。

<%= image "img_0517" %>
<%= image "img_0524" %>
