---
title: 石川さん歓送会
---
<pre class="address">
<a href="http://www.rosehotelyokohama.com/">ローズホテル横浜</a>
横浜市中区山下町77
045-681-3311
</pre>

<%= image "cimg4286" %>
<%= image "cimg4288" %>
<%= image "cimg4283" %>
<%= image "cimg4299" %>

<%= image "cimg4295" %>
<%= image "cimg4296" %>
<%= image "cimg4298" %>
<%= image "cimg4301" %>

<%= image "cimg4304" %>
<%= image "cimg4302" %>
<%= image "cimg4303" %>
<%= image "cimg4305" %>
<%= image "cimg4306" %>
<%= image "cimg4307" %>
<%= image "cimg4308" %>
<%= image "cimg4309" %>
<%= image "cimg4312" %>
<%= image "cimg4313" %>
<%= image "cimg4314" %>

<%= image "cimg4315" %>
<%= image "cimg4317" %>
<%= image "cimg4318" %>
<%= image "cimg4319" %>
<%= image "cimg4321" %>
<%= image "cimg4322" %>
<%= image "cimg4323" %>

<%= image "cimg4324" %>
<%= image "cimg4350" %>
<%= image "cimg4351" %>
<%= image "cimg4364" %>
<%= image "cimg4365" %>
<%= image "cimg4379" %>
<%= image "cimg4413" %>
<%= image "cimg4418" %>
<%= image "cimg4476" %>

<%= image "cimg4325" %>
<%= image "cimg4326" %>
<%= image "cimg4328" %>
<%= image "cimg4329" %>
<%= image "cimg4330" %>
<%= image "cimg4331" %>
<%= image "cimg4332" %>
<%= image "cimg4333" %>
<%= image "cimg4334" %>
<%= image "cimg4335" %>
<%= image "cimg4337" %>
<%= image "cimg4338" %>
<%= image "cimg4339" %>
<%= image "cimg4340" %>
<%= image "cimg4341" %>
<%= image "cimg4342" %>
<%= image "cimg4343" %>
<%= image "cimg4344" %>
<%= image "cimg4346" %>

<%= movie "cimg4347" %>
<%= image "cimg4348" %>
<%= image "cimg4349" %>
<%= image "cimg4352" %>
<%= image "cimg4354" %>
<%= image "cimg4356" %>
<%= image "cimg4357" %>
<%= image "cimg4358" %>
<%= image "cimg4359" %>
<%= image "cimg4360" %>
<%= image "cimg4361" %>
<%= image "cimg4362" %>
<%= image "cimg4363" %>
<%= image "cimg4366" %>
<%= image "cimg4370" %>
<%= movie "cimg4374" %>
<%= image "cimg4375" %>
<%= image "cimg4376" %>
<%= image "cimg4377" %>
<%= image "cimg4378" %>
<%= image "cimg4380" %>
<%= image "cimg4381" %>
<%= image "cimg4382" %>
<%= image "cimg4383" %>
<%= image "cimg4384" %>
<%= image "cimg4385" %>
<%= image "cimg4386" %>
<%= image "cimg4387" %>
<%= image "cimg4388" %>
<%= image "cimg4390" %>
<%= image "cimg4392" %>
<%= image "cimg4393" %>
<%= image "cimg4394" %>
<%= image "cimg4395" %>
<%= image "cimg4398" %>
<%= image "cimg4399" %>
<%= image "cimg4400" %>
<%= image "cimg4401" %>
<%= image "cimg4402" %>
<%= image "cimg4403" %>
<%= image "cimg4404" %>
<%= image "cimg4405" %>
<%= image "cimg4406" %>
<%= image "cimg4407" %>
<%= image "cimg4409" %>
<%= image "cimg4410" %>
<%= image "cimg4411" %>
<%= image "cimg4412" %>
<%= image "cimg4415" %>
<%= movie "cimg4416" %>
<%= image "cimg4417" %>
<%= image "cimg4419" %>
<%= image "cimg4420" %>
<%= image "cimg4421" %>
<%= image "cimg4422" %>
<%= image "cimg4423" %>
<%= image "cimg4424" %>
<%= image "cimg4425" %>
<%= image "cimg4426" %>
<%= image "cimg4427" %>
<%= image "cimg4428" %>
<%= image "cimg4429" %>
<%= image "cimg4430" %>
<%= image "cimg4431" %>
<%= image "cimg4432" %>
<%= image "cimg4435" %>
<%= image "cimg4437" %>
<%= image "cimg4438" %>
<%= image "cimg4439" %>
<%= image "cimg4440" %>
<%= image "cimg4441" %>
<%= image "cimg4442" %>
<%= image "cimg4443" %>
<%= image "cimg4444" %>
<%= image "cimg4446" %>
<%= image "cimg4448" %>
<%= image "cimg4449" %>
<%= image "cimg4450" %>
<%= image "cimg4451" %>
<%= image "cimg4452" %>
<%= movie "hdimg_0529" %>
<%= movie "hdimg_0530" %>
<%= image "cimg4454" %>
<%= image "cimg4455" %>
<%= image "cimg4456" %>
<%= image "cimg4458" %>
<%= image "cimg4460" %>
<%= image "cimg4461" %>
<%= image "cimg4463" %>
<%= image "cimg4464" %>
<%= image "cimg4465" %>
<%= image "cimg4466" %>
<%= image "cimg4467" %>
<%= image "cimg4468" %>
<%= image "cimg4469" %>
<%= image "cimg4470" %>
<%= image "cimg4471" %>
<%= image "cimg4472" %>
<%= image "cimg4473" %>
<%= image "cimg4478" %>
<%= image "cimg4479" %>
<%= image "cimg4480" %>
<%= movie "cimg4481" %>
<%= movie "cimg4482" %>
<%= image "cimg4483" %>
<%= image "cimg4484" %>
<%= image "cimg4486" %>
<%= image "cimg4487" %>
<%= image "cimg4488" %>
<%= image "cimg4489" %>
<%= image "cimg4490" %>
<%= image "cimg4491" %>
<%= image "cimg4492" %>
<%= movie "cimg4493" %>
<%= movie "cimg4494" %>
<%= image "cimg4495" %>
<%= image "cimg4496" %>
<%= image "cimg4497" %>
<%= image "cimg4498" %>
<%= image "cimg4499" %>

<%= image "img_0532" %>
<%= image "img_0533" %>
<%= image "img_0534" %>
<%= image "img_0537" %>
<%= image "img_0538" %>
<%= image "img_0539" %>
<%= image "img_0540" %>
<%= image "img_0541" %>
<%= image "img_0542" %>
<%= image "img_0548" %>
<%= image "img_0549" %>
<%= image "img_0552" %>
<%= image "img_0553" %>
<%= image "img_0555" %>
<%= image "img_0557" %>
<%= image "img_0560" %>
<%= image "img_0562" %>
<%= image "img_0563" %>
<%= image "img_0564" %>
<%= image "img_0565" %>
<%= image "img_0566" %>
<%= image "img_0567" %>
<%= image "img_0570" %>
<%= image "img_0571" %>
<%= image "img_0572" %>
<%= image "img_0574" %>
<%= image "img_0576" %>
<%= image "img_0581" %>
<%= image "img_0584" %>
<%= image "img_0588" %>
<%= movie "hdimg_0589" %>
<%= movie "hdimg_0590" %>
<%= image "img_0591" %>
<%= image "img_0593" %>
<%= movie "hdimg_0596" %>
<%= movie "hdimg_0597" %>
<%= movie "hdimg_0598" %>
<%= image "img_0601" %>
<%= movie "hdimg_0602" %>
<%= movie "hdimg_0603" %>
<%= image "img_0605" %>
<%= image "img_0606" %>
<%= image "img_0610" %>
<%= movie "hdimg_0612" %>

<%= image "cimg4500" %>
<%= image "cimg4501" %>
<%= image "img_0614" %>
<%= image "img_0618" %>
