---
title: よなよなエールファンの集い
---
kazuさんに誘われて、<a href="http://gbuy.item.rakuten.co.jp/yonayona/g/10000836/#10000836">ファンの集い</a>へ参加。

<%= image "img_0632" %>
<%= image "img_0633" %>
<%= image "img_0635" %>
<%= image "img_0636" %>
<%= image "img_0645" %>

乾杯用のリアルエール缶。

<%= image "img_0640" %>

さらにリアルエールの生をハンドポンプで注ぐ。

<%= image "img_1196" %>

軽井沢高原ビール、2012新シーズナル

<%= image "img_0643" %>
<%= image "img_0644" %>

ハレの日仙人 樽生。

<%= image "img_0646" %>
