---
title: 湘南台文化センター
---
<pre class="address">
<a href="http://log.chiiki-support.jp/">踊場公園こどもログハウス</a>(ニャンぱく砦)
横浜市戸塚区汲沢8-11
</pre>

<%= image "img_2485" %>
<%= image "img_2488" %>
<%= image "img_2489" %>

湘南台文化センターの隣の公園。

<%= image "img_2490" %>
<%= image "img_2496" %>
<%= image "img_2509" %>
<%= image "img_2510" %>
<%= image "img_2521" %>
<%= image "img_2523" %>
<%= image "img_2528" %>

<pre class="address">
<a href="http://www.kodomokan.fujisawa.kanagawa.jp/">湘南台文化センター こども館</a>
神奈川県藤沢市湘南台1丁目8番地
0466-45-1500
</pre>

<%= image "img_2531" %>
<%= image "img_2532" %>
<%= image "img_2539" %>
<%= image "img_2541" %>
<%= image "img_2545" %>
<%= image "img_2551" %>
<%= image "img_2570" %>
