---
title: 三渓園
---
餅つきイベントやってるので三渓園へ。

<pre class="address">
<a href="http://www.sankeien.or.jp/">三渓園</a>
横浜市中区本牧三之谷58-1
</pre>

<%= image "img_2572" %>
<%= movie "hdimg_2573" %>

並んで餅ゲット。

<%= image "img_0649" %>
<%= image "img_2574" %>
<%= image "img_2575" %>
<%= image "img_2577" %>
<%= image "img_2578" %>
<%= image "img_2580" %>
<%= image "img_2581" %>

公園内を散策。

<%= image "img_2586" %>
<%= image "img_2590" %>
<%= image "img_2591" %>
<%= image "img_2593" %>
<%= image "img_2595" %>
<%= image "img_2603" %>
<%= image "img_2605" %>
<%= image "img_2612" %>
<%= image "img_0650" %>
<%= image "img_2615" %>
<%= image "img_2618" %>
<%= image "img_2620" %>
<%= image "img_2621" %>
<%= image "img_2623" %>
<%= image "img_2626" %>
<%= image "img_2628" %>
<%= image "img_2631" %>

さらに餅。

<%= image "img_2632" %>
<%= image "img_2635" %>
<%= image "img_2637" %>
