---
title: にこぱ
tags: yokohama, kids, entertainment
---
蓮が行きたいと言い出したので、二人を連れてにこぱへ。

<pre class="address">
<a href="http://yoko-nicopa.rakurakuhp.net/">にこぱ 横浜ジャックモール店</a>
045-226-0722
</pre>

<%= movie "hdimg_0689" %>
<%= image "img_0690" %>
<%= image "img_0691" %>
<%= image "img_0693" %>
<%= movie "hdimg_0695" %>
<%= movie "hdimg_0696" %>
<%= movie "hdimg_0697" %>
<%= image "img_0699" %>
<%= movie "hdimg_0700" %>
<%= movie "hdimg_0701" %>
<%= movie "hdimg_0702" %>
<%= image "img_0705" %>
