---
title: 出産祝い
tags: baby, gift, food
---
同僚に子供が生まれたので有志を募って出産祝いを購入。
妙なアイテムで攻めてみました。
全部輸入物。

<%= image "img_0763" %>
<%= image "img_0767" %>
<%= image "img_0770" %>
<%= image "img_0773" %>
<%= image "img_0778" %>
<%= image "img_0780" %>

赤ちゃんの顔見たあとは、茅ヶ崎でカレー。

<pre class="address">
<a href="http://r.tabelog.com/kanagawa/A1404/A140406/14000600/">GARA中海岸</a>
神奈川県茅ヶ崎市中海岸4-14-18
0467-87-5050
</pre>

<%= image "img_0786" %>
<%= image "img_0785" %>
<%= image "img_0787" %>
<%= image "img_0789" %>

後日、写真を頂く。

<%= image "img_2162" %>
<%= image "img_8078" %>
