---
title: イチゴ狩り
tags: fruit, outdoor, family
---
嫁の幼なじみ一家と小田原でイチゴ狩り。

<pre class="address">
<a href="http://agriways.com/">アグリウェイズ</a>
神奈川県小田原市上曽我2624
</pre>

<%= image "dsc_0009" %>
<%= image "dsc_0021" %>
<%= image "dsc_0027" %>
<%= image "dsc_0035" %>
<%= image "dsc_0038" %>
<%= image "img_3294" %>
<%= image "img_3299" %>
<%= image "img_3302" %>
<%= image "img_3305" %>
<%= image "img_3306" %>
<%= image "img_3312" %>
<%= image "img_3314" %>
<%= image "img_3317" %>
<%= image "img_3324" %>
<%= image "img_3327" %>
<%= image "img_3334" %>
<%= image "img_3339" %>
<%= image "img_3343" %>
<%= image "img_3347" %>
<%= image "img_3348" %>
<%= image "img_3351" %>
<%= image "img_3353" %>
<%= image "img_3358" %>
<%= image "img_0897" %>
<%= movie "hdimg_0898" %>
<%= movie "hdimg_3349" %>
<%= image "dsc_0047" %>

上府中公園へ移動。四葉のクローバー集めに夢中になって公園になかなか入らない人々。

<%= image "img_3369" %>
<%= image "img_3370" %>
<%= image "img_3373" %>
<%= image "img_3381" %>

中へ移動。

<%= image "dsc_0052" %>
<%= image "dsc_0057" %>
<%= image "dsc_0059" %>
<%= image "dsc_0069" %>
<%= image "dsc_0085" %>
<%= image "dsc_0139" %>
<%= image "dsc_0140" %>
<%= image "dsc_0142" %>
<%= image "dsc_0149" %>
<%= image "img_3384" %>
<%= image "img_3387" %>
<%= movie "hdimg_0900" %>
<%= movie "hdimg_0901" %>

ターザンロープ。

<%= image "dsc_0091" %>
<%= image "dsc_0092" %>
<%= image "dsc_0093" %>
<%= image "dsc_0097" %>
<%= image "dsc_0103" %>
<%= image "dsc_0117" %>
<%= image "dsc_0124" %>
<%= image "dsc_0136" %>
<%= movie "hdimg_0902" %>

小田原のじーちゃん家でオクラを植える。

<%= image "img_0905" %>
<%= image "img_0906" %>
<%= movie "hdimg_0907" %>
