---
title: 潮干狩り
tags: beach, shellfish, yokohama
---
潮干狩りへ。駐車場が激混みらしいので、電車で移動。

<pre class="address">
<a href="http://www2.nojima-park.org/">野島公園</a>
横浜市金沢区野島町24
</pre>

<%= image "img_3414" %>
<%= image "img_3417" %>
<%= image "img_3420" %>
<%= image "img_3423" %>
<%= image "img_3427" %>
<%= image "img_3428" %>
<%= image "img_3437" %>
<%= image "img_3438" %>
<%= image "img_3443" %>
<%= image "img_3449" %>
<%= image "img_3450" %>
<%= image "img_3451" %>
<%= image "img_3454" %>
<%= image "img_3456" %>
<%= image "img_3460" %>
<%= image "img_3462" %>
<%= image "img_3464" %>
<%= movie "hdimg_3452" %>

日に焼けて爆睡ちゃん。

<%= image "img_3468" %>

息子作。

<%= image "img_3469" %>
