---
title: 焼肉
---
そごうの屋上。
前回お父さんとりりちゃんで二人で来たときはビビってトンネルに入りませんでしたが、
お兄ちゃんが先にトンネルに飛び込んでいくと、あっという間に恐怖感が無くなる。

<%= image "img_0964" %>
<%= image "img_0966" %>
<%= movie "hdimg_0969" %>
<%= movie "hdimg_0965" %>

りりちゃん寝たので、お父さんの誕生日祝いも兼ねて焼肉。

<pre class="address">
<a href="http://r.gnavi.co.jp/g220325/">トラジ 横浜店</a>
〒220-8510 神奈川県横浜市西区高島2-18-1 そごう横浜 10F
045-444-1129
</pre>

<%= image "img_3582" %>
<%= image "img_3588" %>
<%= image "img_3589" %>
<%= image "img_3590" %>
<%= image "img_3594" %>
<%= image "img_3596" %>

寝かしつけながら焼肉。

<%= image "img_3583" %>
<%= image "img_3591" %>

デザート。

<%= image "img_3597" %>
<%= image "img_3598" %>
