---
title: 大木屋
tags: dinner, tokyo
---
前から行きたかった大木屋で、職場のメンバーと飲み。

<pre class="address">
<a href="http://r.tabelog.com/tokyo/A1309/A130904/13115739/">大木屋 市ヶ谷店</a>
東京都新宿区市ヶ谷砂土原町3-2-1 市ヶ谷フラッツB1
03-6228-1676
</pre>

<%= image "img_0976" %>
<%= image "img_0977" %>
<%= image "img_0979" %>
<%= movie "hdimg_0981" %>
<%= image "img_0982" %>
<%= movie "hdimg_0983" %>
<%= movie "hdimg_0984" %>
<%= image "img_0986" %>
<%= image "img_0987" %>
<%= image "img_0989" %>
<%= image "img_0992" %>
<%= image "img_0994" %>
<%= image "img_0995" %>
<%= movie "hdimg_0996" %>
<%= image "img_0998" %>
<%= movie "hdimg_0999" %>

本店は予約取れなかったので、息子さんがやってる支店の方。

飲み物以外のメニューは無しです(選択肢なし)。
食いきれないかと思ってたけど、意外と食えた。
