---
title: 地球博物館
---
蓮が恐竜の骨を見たいというので、小田原の地球博物館へ。

<pre class="address">
<a href="http://nh.kanagawa-museum.jp/">神奈川県立生命の星・地球博物館</a>
神奈川県小田原市入生田499
0465-21-1515　
</pre>

<%= image "img_3695" %>
<%= image "img_3703" %>
<%= image "img_3704" %>
<%= image "img_3707" %>
<%= image "img_3709" %>
<%= image "img_3715" %>
<%= image "img_3724" %>
<%= image "img_3726" %>
<%= image "img_3729" %>
<%= image "img_3734" %>
<%= image "img_3745" %>
<%= image "img_3750" %>

<%= movie "hdimg_3717" %>
<%= movie "hdimg_3718" %>
<%= movie "hdimg_3720" %>
<%= movie "hdimg_3721" %>
