---
title: アウトバック
tags: dinner, makuhari, steak
---
幕張で夜といえば肉肉肉。

<pre class="address">
<a href="http://www.outbacksteakhouse.co.jp/location/makuhari.html">アウトバックステーキハウス 幕張店</a>
TEL: 043-213-3256
千葉県千葉市美浜区ひび野1-8 メッセ アミューズ モール 1F
</pre>

<%= image "img_1013" %>
<%= image "img_1016" %>
<%= image "img_1018" %>
<%= image "img_1020" %>
<%= image "img_1022" %>
<%= image "img_1023" %>
<%= image "img_1027" %>

しかし、家が遠い。
幕張本郷経由にして東京駅でついうっかり折り返しは防止できたが、あやうく寝過ごしそうになった。
