---
title: 三浦旅行 その1
---
久しぶりにふれあいに来ました。

<pre class="address">
<a href="http://www.yokohamaymca.org/fureai/index.html">三浦ふれあいの村</a>
〒238-0114 神奈川県三浦市初声町和田3136
046-888-2100
</pre>

まずは海へ。空いてるし、水も奇麗。

<%= image "img_3866" %>
<%= image "img_3868" %>
<%= image "img_3870" %>

れんはテンション高いがりりちゃんはビビって海に入らず。

<%= image "img_3871" %>
<%= image "img_3873" %>
<%= image "img_3877" %>
<%= image "img_3879" %>
<%= image "img_3881" %>

なんとか海に誘うが全然駄目、諦めて砂浜で遊ぶ。

<%= image "img_3885" %>
<%= image "img_3889" %>
<%= movie "hdimg_3890" %>
<%= image "img_3893" %>
<%= image "img_3896" %>

海の家で昼飯。キュウリの浅漬けとかあるし、ビールを頂く。

<%= image "img_3898" %>
<%= image "img_3905" %>

マー君一家合流。

<%= image "img_3913" %>
<%= image "img_3917" %>
<%= image "img_3939" %>
<%= image "img_3942" %>
<%= image "img_3950" %>
<%= image "img_3951" %>
<%= image "img_3954" %>
<%= image "img_3955" %>

ぺっとし。

<%= image "img_3928" %>
<%= image "img_3935" %>

この写真比率おかしくね？

<%= image "img_3958" %>

やっと海に入れたが、浮き輪には入れず。

<%= image "img_3960" %>

結局、朝10時半から15時半まで泳いでた蓮。

<%= image "img_3965" %>

晩ご飯。ヴォンコさんの超大盛り肉抜き料理。

<%= image "img_1140" %>
<%= image "img_1142" %>

部屋で騒ぐ。

<%= image "img_3973" %>
<%= movie "hdimg_3980" %>

夜の海岸でマシュマロ、天体観測、花火。

<%= image "img_3985" %>
<%= image "img_3986" %>
<%= image "img_3990" %>
<%= image "img_3992" %>
<%= image "img_4001" %>
<%= image "img_4007" %>
<%= movie "hdimg_4013" %>
<%= movie "hdimg_4017" %>
