---
title: インド その1
tags: india, mumbai, travel
---
今回の日程。

<pre class="flight">
8/4(土) NRT 12:35 NH943 18:40 BOM (移動: 09:35)
8/5(日) BOM 11:05 9W481 チェンナイ (移動: 01:45)
8/8(水) チェンナイ 09:00 9W2780 10:35 ハイデラバード
        ハイデラバード 23:05 MI477 06:15 SIN (移動: 4:40)
8/9(木) SIN 08:10 NH112 16:25 NRT (移動: 07:15)
</pre>

JRに乗ろうとして、NEXの特急券を無くしたことに気づく。先行き不安な展開。
しょうがないのでチケット買い直す。たまたま座席番号を覚えてたので、その隣の席を買って、荷物をどっかり置いてやる。しかし、特急券無しでしれっとその席に座っとけば問題なかったことに後で気づく(NEXは購入済座席は検札しない)。

成田のラウンジはガラガラでした。夏休み直前だからか、時間帯がずれてるからか。

<%= image "img_1156" %>
<%= image "img_1157" %>

行きのフライト。ビジネスジェットでエコノミー席が20席しかなし。ビジネス席はその倍ぐらいあった。
シートは全部同じで、シートピッチだけ違う。

<%= image "img_1158" %>

ムンバイ空港きれい。周辺はスラムですが。数年前のデリーのような、これからガンガン発展するぜーという印象。

<%= image "img_1159" %>
<%= image "img_1160" %>

トランジットなので一泊だけ。

<pre class="address">
<a href="http://www.holidayinn.com/hotels/us/en/mumbai/bomap/hoteldetail">HOLIDAY INN MUMBAI INERNATIONAL AIRPORT</a>
Sakinaka Junction Andheri Kurla Road, Andheri East Mumbai, 400072 India 
</pre>

<%= image "img_1161" %>

ホテルのラウンジでキングフィッシャー飲んで、無料のつまみを食って、寝る。
