---
title: インド その2
tags: chennai, hotel, india
---
ホテルの窓から見える向かいのマンション。
夜は奇麗に見えてたんだけど、明るくなって見たらボロボロでやんの。
みんな窓開けっ放しなので、夜の生活風景が見えてて面白かったです。
サリー着た女性が炊事してたり。

<%= image "img_1162" %>

で、そそくさとムンバイ空港へ移動。

<%= image "img_1163" %>

過去の出張はずっとデリーだったので、今回国内線デビュー。
Jet Airwaysという航空会社です。
これは機内食のChicken Wrap。鶏ミンチと卵が入ってる。
スパイスきいててうまい。
なお、「Chicken or Vegetable?」と聞かれたのは生まれて初めてです。

<%= image "img_1165" %>
<%= image "img_1166" %>

チェンナイ着。今回の出張のメイン。

<%= image "img_1168" %>
<%= image "img_1169" %>

ホテルへ移動。

<%= movie "hdimg_1170" %>

<pre class="address">
<a href="http://www.radissonblu.com/hotel-chennai">Radisson Blu Hotel</a>
531 Gst Road, Saint Thomas Mount, Chennai, India
+91-44-2231-0101
</pre>

<%= image "img_1172" %>
<%= image "img_1173" %>
<%= image "img_1174" %>

池田さんの部屋にはマッサージチェアがあった。うちの部屋には無し。

<%= image "img_1176" %>

プールもあった。誰もいない。

<%= image "img_1178" %>

鈴木くん誘ってバーでビール。
キングフィッシャー生のパイントとピッチャーを勘違いして、一人で頼む。でけえよ。
そして向かいの鈴木君はキングフィッシャーの大瓶。意味不明な客だ。

<%= image "img_1183" %>
<%= image "img_1182" %>
<%= image "img_1179" %>

他のメンバーと合流してホテル内のレストランで晩飯。
料理が次から次へと運ばれてきて、まったく終わりが見えない。
南インドなので米食がメインのようです。チャパティは食べたけど、今回の出張は一回もナンが出て来なかった。

<%= image "img_1187" %>
<%= image "img_1188" %>
<%= image "img_1189" %>
<%= image "img_1190" %>
<%= image "img_1191" %>
<%= image "img_1192" %>
<%= image "img_1194" %>
<%= image "img_1195" %>
<%= image "img_1196" %>
<%= image "img_1198" %>
<%= image "img_1200" %>

ビリヤニ。

<%= image "img_1197" %>

テーブルの上に最初からあったキングフィッシャーのワイン。飲んでない。

<%= image "img_1185" %>
