---
title: インド その5
---
最後の長い一日の始まり。朝起きて、チェンナイ空港へ。
セキュリティくぐった後の店をチェックするが5分で飽きる。

<%= image "img_1241" %>

ドア開けっ放しなので、蚊が入り放題。刺されてかゆい。
マラリアがちょっと不安になるが、この状況でどうやって蚊を防げというのか。

<%= image "img_1239" %>
<%= image "img_1243" %>

チェンナイ空港は平屋なので、飛行機までバスで移動してからタラップに乗る。

<%= image "img_1244" %>
<%= image "img_1247" %>
<%= movie "hdimg_1248" %>

ハイデラバード空港。ムスリムの人が多い。
クシャミしたら、複数のムスリム女性にガン見される。
なにかやってはいけないことをしたのでしょうか。
で、日本に戻ってから調べた。<a href="http://www.islamhouse.com/p/55221">これ</a>か。
祈願してくれたのか、衣服でちゃんと押さえないのを非難してたのか。

<%= image "img_1252" %>

トウモロコシ。30ルピー。

<%= image "img_1251" %>
<%= image "img_1249" %>

IITハイデラバード校へ移動。
インドで初めて平和な道路を見た。

<%= image "img_1253" %>
<%= image "img_1254" %>
<%= movie "hdimg_1255" %>

牛発見。ドライバーが癖でクラクション鳴らす。どくかい。

<%= movie "hdimg_1256" %>

IIT-H着。

<%= image "img_1257" %>
<%= image "img_1258" %>

ゲストハウスでランチ。

<%= image "img_1264" %>
<%= image "img_1262" %>
<%= image "img_1259" %>
<%= image "img_1261" %>

曇って来たかと思うと急に土砂降り。

<%= image "img_1265" %>

<!--

記念撮影。

<%= image "iith" %>

-->

仕事終了。深夜のフライトまで時間あるので、ハイテクシティのモールに連れてってもらう。
道中は今までみた都市の中では一番スラムが少ない。あと、木で足場組んでる工事中の建物あり。

<%= image "img_1269" %>
<%= movie "hdimg_1266" %>
<%= movie "hdimg_1267" %>
<%= movie "hdimg_1270" %>
<%= movie "hdimg_1271" %>

<pre class="address">
Inorbit Mall
Opp I-Labs Building, Hitech City, Madhapur, Hyderabad, India
</pre>

Marks&amp;Spencer発見。イギリスで愛用してた下着をドカ買い。日本じゃ買えないんすよ。

<%= image "img_1273" %>
<%= image "img_1293" %>
<%= image "img_1274" %>
<%= image "img_1275" %>
<%= image "img_1276" %>
<%= image "img_1277" %>

クリケット用具売ってた。

<%= image "img_1278" %>
<%= image "img_1279" %>

晩飯はハイデラバード一ビリヤニがうまい店に連れてってもらう。

<pre class="address">
<a href="http://paradisefoodcourt.com/paradise_foodcourt.htm">Paradise Food Court</a>
Hitech City, Madhapur, Hyderabad, India
</pre>

三人で食って2000円。アルコールは無し。安い。テイクアウトだとさらに半額近いそうで。

<%= image "img_1281" %>
<%= image "img_1283" %>
<%= image "img_1285" %>
<%= image "img_1286" %>
<%= image "img_1287" %>
<%= image "img_1289" %>
<%= image "img_1290" %>

ハイデラバード空港へ移動。この旅最後のキングフィッシャー。

<%= image "img_1291" %>

帰りはシンガポール乗り換え。
1時間ちょっとしか乗り換え時間ないけど、まだまだ先は長いのでラウンジでシャワー浴びようとする。
が、シャワー用に分けてあった着替えが見当たらない。
どうもチェンナイのホテルに置いて来たみたい。モールで買った下着を服を着て辻褄を合わせる。

シンガポール-成田はポイントを使ったアップグレード成功。
超久しぶりのフラットシートなので、飯も食わずに爆睡。
途中目が覚めて、シャンパン二杯飲んでアオサうどん食ってさらに寝る。
