---
title: ブドウ狩
---
とりあえずログハウスで遊ぶ。

<%= image "img_4482" %>

ブドウ農園へ。
試食を繰り返して買いたいブドウを決める。
種なしピオーネに決定。

<%= image "img_1329" %>
<%= image "img_4488" %>
<%= image "img_4496" %>
<%= image "img_4499" %>
<%= image "img_4501" %>
<%= image "img_4506" %>
<%= image "img_4509" %>
<%= image "img_4510" %>
<%= image "img_4514" %>
<%= image "img_4516" %>
<%= image "img_4520" %>
<%= image "img_4521" %>
<%= image "img_4529" %>

順番が回ってきていよいよブドウ狩。

<%= image "img_4534" %>
<%= image "img_4538" %>
<%= movie "hdimg_4540" %>
<%= image "img_4546" %>

山梨駅前で晩飯。ほうとう含めて美味しかった。

<pre class="address">
<a href="http://www.funari.jp/">歩成</a>
山梨県山梨市上神内川1234
0553-23-0253
</pre>

<%= image "img_1331" %>
<%= image "img_1332" %>
<%= image "img_1334" %>
<%= image "img_1336" %>
<%= image "img_1342" %>
<%= image "img_1346" %>
<%= image "img_1350" %>
<%= image "img_1355" %>
