---
title: インド出張 その1
tags: food, india, travel
---
初の羽田空港国際線ターミナル。

<%= image "img_1385" %>

今回はデリー一泊のみのスケジュール。

<pre class="flight">
10/3(水) NH173 00:30 HND - BKK 05:20(6H50)
         TG323 07:35 BKK - DEL 10:35(4H30)
10/4(木) TG316 23:30 DEL - BKK 05:25(4H25)
         NH954 08:15 BKK - NRT 16:25(6H10)
</pre>

デリー着。

<%= image "img_1388" %>

そして、デリーと言えばこの店。

<pre class="address">
<a href="http://www.claridges.com/the-claridges-newdelhi/dining-daba.asp?links=nd4d">Dhaba</a>
The Claridges New Delhi
12 Aurangzeb Rd, New Delhi 110011
Tel:+91 11-3955 5082/5083
</pre>

<%= image "img_1390" %>
<%= image "img_1391" %>
<%= image "img_1392" %>
<%= image "img_1395" %>
<%= image "img_1397" %>

suzの提案で青唐辛子入りのパニール料理頼んだら久しぶりにケツに来た。
