---
title: イタリアン
---
横浜に小洒落たイタリアンがあるということで、ランチ。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14035347/">カンブーザ （CAMBUSA）</a>
045-512-8882
神奈川県横浜市神奈川区鶴屋町2-11-2
</pre>

<%= image "img_1570" %>
<%= image "img_1571" %>
<%= image "img_1572" %>
<%= image "img_1575" %>
<%= image "img_1577" %>
<%= image "img_1578" %>
<%= image "img_1580" %>
<%= image "img_1584" %>
