---
title: 千葉県立中央博物館
---
蓮がティラノサウルスみたいというので、千葉まで行く。
横須賀線一本なんで乗り換えない分楽だけど、遠かった……。

<pre class="address">
<a href="http://www2.chiba-muse.or.jp/?page_id=57">千葉県立中央博物館</a>
千葉市中央区青葉町955-2
043-265-3111
</pre>

<%= image "img_1612" %>

で、ティラノサウルス。珍しく二回見たいと言って同じ部屋に戻ってくるぐらい気に入ったらしい。
りりちゃんは怖いと言って、展示室に入ろうとしない。

<%= image "img_1602" %>
<%= image "img_1610" %>

きのこ。

<%= image "img_1605" %>
<%= image "img_1606" %>
<%= image "img_1608" %>
<%= image "img_1609" %>

隣の公園をブラブラ。

<%= image "img_1613" %>
<%= image "img_1614" %>
