---
title: 図書館水没
tags: incident, osaka university
---
阪大にいたころ9/7未明に<a href="http://takagi1.net/mukyu/ikeda/heavyrain1994/">局地的な集中豪雨</a>が起こり、窪みに位置している図書館と食堂が水没しました。
駅前の商店街もヒザぐらいまでの水深になりました。

その時の写真です。誰からもらったか思い出せないけど。

<%= image "lib01" %>
<%= image "lib02" %>
<%= image "lib03" %>
<%= image "lib04" %>
<%= image "lib05" %>
<%= image "lib06" %>
<%= image "lib07" %>
<%= image "lib08" %>
<%= image "lib09" %>
<%= image "lib10" %>
<%= image "lib11" %>
<%= image "lib12" %>
<%= image "lib13" %>
<%= image "lib14" %>
<%= image "lib15" %>
<%= image "lib16" %>
<%= image "lib17" %>
