---
title: ふれーゆ
---
<pre class="address">
<a href="http://www.fure-yu.esforta.jp/">ふれーゆ</a>
横浜市鶴見区末広町1-15-2
045-521-1010
</pre>

餅つきイベントがありました。

<%= image "img_8731" %>
<%= image "img_8736" %>
<%= movie "hdimg_8738" %>
<%= movie "hdimg_8743" %>
<%= image "img_8740" %>

ビンゴ大会でドクターフィッシュ体験券が当たる。

<%= image "img_8745" %>
<%= image "img_8759" %>
