---
title: ファンタジーキッズリゾート
tags: achievement, daughter, ebina, indoor, playground
---
海老名へ。

<%= image "img_9009" %>

<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名 3F
</pre>

りりちゃんが一人で車を運転できるようになった。

<%= image "img_9016" %>
<%= image "img_9023" %>
<%= image "img_9026" %>
<%= movie "hdimg_9036" %>
<%= image "img_9038" %>
<%= image "img_9045" %>
