---
title: 鉄道博物館
tags: kids, museum, train
---
鉄道博物館きました(6年ぶり2回目)。

<pre class="address">
<a href="http://www.railway-museum.jp/">鉄道博物館</a>
埼玉県さいたま市大宮区大成町3丁目47番
</pre>

<%= image "img_2858" %>
<%= image "img_2827" %>
<%= image "img_2832" %>

昔もあったな、この風景。

<%= movie "hdimg_2834" %>
<%= image "img_2836" %>

電車の原理を知ろうのコーナー。

<%= image "img_2840" %>
<%= movie "hdimg_2842" %>

ミニシャトル三回乗った。

<%= image "img_2848" %>
<%= image "img_2850" %>
<%= image "img_2851" %>
<%= movie "hdimg_2852" %>

絵本コーナー。

<%= image "img_2843" %>

子供禁止のD51シミュレータ。

<%= movie "hdimg_2853" %>
