---
title: ファンタジーキッズリゾート
tags: children, ebina, cosplay
---
<pre class="address">
<a href="http://www.fantasyresort.jp/shop_ebina.html">ファンタジーキッズリゾート海老名</a>
海老名市中央 ショッパーズプラザ海老名 3F
</pre>

<%= image "img_9140" %>
<%= movie "hdimg_9142" %>
<%= image "img_9147" %>
<%= image "img_9155" %>

りりちゃんコスプレ大会。

<%= image "img_9159" %>
<%= image "img_9170" %>
<%= image "img_9173" %>
<%= image "img_9174" %>
<%= image "img_9181" %>
<%= image "img_9182" %>
<%= movie "hdimg_9184" %>
<%= movie "hdimg_9186" %>
<%= image "img_9188" %>
<%= image "img_9189" %>
<%= image "img_9199" %>
<%= image "img_9205" %>
<%= image "img_9213" %>
<%= image "img_9220" %>
<%= image "img_9221" %>
<%= image "img_9228" %>
