---
title: こども宇宙科学館
tags: kids, museum, science
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

<%= movie "hdimg_9236" %>
<%= image "img_9238" %>
<%= image "img_9244" %>
<%= movie "hdimg_9246" %>
<%= image "img_9250" %>
<%= image "img_9254" %>
<%= image "img_9256" %>
