---
title: US出張 その1
tags: seattle, travel, work
---
ちょうど入社半年になりました。偶然ですが、二週間のシアトル出張になる。
今回の日程

<pre class="flight">
3/24 NH1078 17:40 NRT - SEA 10:45
4/ 5 AC8092 12:00 SEA - YVR 12:47
4/ 5  NH115 16:50 YVR - HND 19:00(+1)
</pre>

SEA-TAC空港からSound Rail LinkでWestlake駅へ移動。
息子が車窓からの景色を見たいとのことなので、動画を撮影。

<%= image "img_2878" %>
<%= image "img_2874" %>
<%= movie "hdimg_2876" %>
<%= movie "hdimg_2877" %>

ホテル。コインランドリー無し、湯沸かしポット無し、冷蔵庫無し。
選択失敗した。長期滞在辛すぎる。

<pre class="address">
<a href="http://www.hotelfiveseattle.com/">HOTEL FIVE</a>
2200 Fifth Avenue Seattle WA US 98121
206-441-9785
</pre>

<%= image "img_2881" %>
<%= image "img_2882" %>

職場に顔出しそうとしたら、間違って斜め向かいのアマゾンの別ビルに入ってしまって途方に暮れる。
フロアマップまで全く同じで、部屋に入ったら見知らぬ顔しかいない。
幸い社内ネットワークに接続できたので、IRCで助けを求める。

飛行機でほとんど寝れてないけど時差ボケ解消のためにダウンタウンをちょっと散歩して、見かけたイタリア料理屋で晩飯を済ませる。

<pre class="address">
<a href="http://www.ilfornaio.com/?page=138&restaurant_id=3916">Il Fornaio</a>
600 Pine Street Seattle, Washington 98101
206.264.0994
</pre>

<%= image "img_2889" %>
<%= image "img_2885" %>
<%= image "img_2887" %>

9時に就寝。三時間後に目覚める。
