---
title: US出張 その3
tags: businesstrip, restaurant, seattle
---
大学時代の先輩がこっちのOSとか作ってるソフトウェア会社に勤務しているので、連絡して晩ご飯を食べる。
会うの20年振りぐらいなんだけど、twitterのおかげかあんまり久しぶりな気がしない。

<pre class="address">
<a href="http://chisofremont.com/">Chiso</a>
3520 Fremont Ave. N. Seattle, Washington 98103
206-632-3430
</pre>

<%= image "img_2899" %>
<%= image "img_2901" %>
<%= image "img_2904" %>
<%= image "img_2905" %>
<%= image "img_2906" %>
<%= image "img_2908" %>
<%= image "img_2909" %>
<%= image "img_2910" %>
