---
title: US出張 その4
tags: businesstrip, seafood, seattle
---
職場の人と、シーフードを食べに行く。養殖場の直営店だそうで。

<pre class="address">
<a href="http://www.yelp.com/biz/taylor-shellfish-farms-seattle">Taylor Shellfish Farms</a>
1521 Melrose Ave Seattle, WA 98122
206-501-4321
</pre>

<%= image "img_2912" %>
<%= image "img_2920" %>
<%= image "img_2921" %>
<%= image "img_2913" %>
<%= image "img_2914" %>
<%= image "img_2915" %>
<%= image "img_2917" %>
<%= image "img_2918" %>

ミル貝、カキ4種類、サーモン、ダンジネスクラブ。どれもうまかった。

<%= image "img_2922" %>
<%= image "img_2924" %>
<%= image "img_2928" %>
<%= image "img_2931" %>
<%= image "img_2933" %>
<%= image "img_2934" %>
