---
title: US出張 その6
---
土曜日。University of Washington方面へお出かけしてみた。
バスで移動。例によって、車窓を撮影。

<%= movie "hdimg_2944" %>
<%= movie "hdimg_2945" %>

University Villageという大学そばのモールへ。Apple Store。

<%= image "img_2952" %>
<%= image "img_2946" %>

ピザ屋で食事。Miniサイズのピザ頼んだら、やたらデカい。
後でレシート見たらMedium Size(3〜4人前)。やられた。

<%= image "img_0617" %>

大学構内を歩きながらバス停に戻る。

<%= image "img_2954" %>
<%= image "img_2956" %>
<%= movie "hdimg_2957" %>
<%= image "img_2961" %>

大学内に桜並木があった。期せずしてお花見。

<%= image "img_2960" %>

夜はダウンタウンへ戻って、Tap House Grillへ。160種類の生ビールが置いてある店。多すぎて選べません。
昼間のピザで腹一杯なのでビールだけ。Mac＆Jack's African Amberとgreen flash west coast IPA。

<pre class="address">
<a href="http://taphousegrill.com/">Tap House Grill</a>
1506 Sixth Avenue Seattle Washington 98101
206-816-3314
</pre>

<%= image "img_0628" %>
<%= image "img_2963" %>
<%= image "img_2965" %>
<%= image "img_0630" %>
<%= image "img_0632" %>
