---
title: US出張 その7
tags: travel, seattle, food
---
昨日は、朝ドーナッツ、昼ピザ、夜ビッグマックのデブ三連コンボ。
ホテルそばのドーナッツ屋がいつ見ても行列で大人気。

<%= image "img_3050" %>
<%= image "img_3048" %>

で、四連コンボ目。確かにうまい。

<%= image "img_2969" %>

職場の生ビールサーバ。有志がボランティアで運用している。
結局飲むチャンスなかった。

<%= image "img_2972" %>
<%= image "img_3042" %>

昼飯はタコス。サンドイッチ屋と同じで注文プロトコルが難しい！

<ol>
<li>皮の種類を選ぶ(Corn or Flour)</li>
<li>具を選ぶ</li>
<li>レタス、チーズ、トマトを入れるか入れないか</li>
<li>ソースの辛さを選ぶ(Mild or Hot)</li>
<li>持ち帰りか、店内で食べるか選ぶ</li>
</ol>

<%= image "img_2975" %>
<%= image "img_2976" %>

こちらで働く日本人開発者の方と晩ご飯。世界に冠たるサービスを作ってる人と話すのは楽しいです。

<%= image "img_2979" %>
<%= image "img_2981" %>
<%= image "img_2984" %>
<%= image "img_2986" %>
<%= image "img_2988" %>
<%= image "img_2990" %>
<%= image "img_2992" %>
