---
title: US出張 その8
---
今日はチームメンバーとディナーの会。湖を越えて、<a href="http://en.wikipedia.org/wiki/Issaquah">Issaquah</a>というHistorical Downtownへ。
例によって、息子のために車窓を撮影。

<%= image "img_2993" %>
<%= image "img_2996" %>
<%= movie "hdimg_2994" %>

来ましたお肉屋さん。

<pre class="address">
<a href="http://www.jaksgrill.com/">Jak's Grill</a>
14 Front Street North Issaquah WA, 98027
425-837-8834
</pre>

<%= image "img_2998" %>
<%= image "img_2999" %>

大人気店で予約は受け付けてなくて、土曜は三時間待ちだそうです。
まだ明るいのにバーは満杯。

<%= image "img_3001" %>
<%= image "img_3002" %>

Prime porterhouseを注文。めっちゃ美味い。完食。

<%= image "img_3005" %>
<%= image "img_3006" %>
<%= image "img_3008" %>
<%= image "img_3010" %>
<%= image "img_3012" %>
<%= image "img_3022" %>
<%= image "img_3025" %>

バスで帰るのでBellvueまで送ってもらう。ついでにMallに寄るとMicorosoft Shop発見。なぜか3Dプリンタが売られている。

<%= image "img_3035" %>
<%= image "img_3029" %>
<%= image "img_3032" %>
<%= movie "hdimg_3030" %>
<%= movie "hdimg_3033" %>

Bellvueの町並み。<a href="/diary/2006/0918-us/">以前</a>来たはずだけど全く思い出せない。

<%= image "img_3038" %>
<%= image "img_3040" %>
