---
title: ズーラシア
tags: zoo, kids, outing
---
<%= image "img_9279" %>

<pre class="address">
<a href="http://www2.zoorasia.org/">よこはま動物園ズーラシア</a>
横浜市旭区上白根町1175-1
045-959-1000
</pre>

<%= image "img_9291" %>
<%= image "img_9293" %>
<%= image "img_9297" %>
<%= image "img_9302" %>
<%= image "img_9365" %>

<%= image "img_9305" %>
<%= image "img_9307" %>
<%= image "img_9355" %>
<%= image "img_9357" %>
<%= image "img_9362" %>

ラクダに乗る。

<%= image "img_9312" %>
<%= movie "hdimg_9313" %>
<%= image "img_9325" %>
<%= image "img_9336" %>
<%= image "img_9340" %>
<%= image "img_9346" %>
<%= movie "hdimg_9354" %>
