---
title: イチゴ狩り
tags: strawberry, children, outing
---
今年もりりちゃんイチゴ無限食いの季節がやって参りました。

<pre class="address">
<a href="http://agriways.com/">アグリウェイズ</a>
神奈川県小田原市上曽我2624
</pre>

<%= image "img_9377" %>
<%= image "img_9384" %>
<%= image "img_9390" %>
<%= image "img_9394" %>
<%= image "img_9401" %>
<%= image "img_9407" %>
<%= image "dsc_0015" %>
<%= image "dsc_0017" %>
<%= image "dsc_0018" %>
<%= image "dsc_0021" %>
<%= image "dsc_0022" %>
<%= image "dsc_0026" %>
