---
title: こども宇宙科学館
tags: kids, museum, outing
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

<%= image "img_9740" %>
<%= image "img_9746" %>

ボーネルンドとのコラボイベント。

<%= image "img_9753" %>
<%= image "img_9755" %>
<%= image "img_9767" %>
<%= movie "hdimg_9768" %>

<%= image "img_9771" %>
<%= image "img_9773" %>
<%= image "img_9781" %>
<%= image "img_9785" %>

ログハウスへ。

<%= image "img_9791" %>
<%= image "img_9795" %>
<%= image "img_9797" %>
<%= image "img_9799" %>
<%= image "img_9805" %>
<%= image "img_9812" %>
