---
title: 大阪 その2
tags: osaka, yakiniku, restaurant
---
<%= image "img_9969" %>

焼肉。

<pre class="address">
<a href="http://r.tabelog.com/osaka/A2703/A270305/27012723/">薩摩の久保</a>
大阪府大阪市都島区都島本通5-10-16
06-6927-4111
</pre>

<%= image "img_9975" %>
<%= image "img_9990" %>
<%= image "img_9992" %>
<%= image "img_0001" %>
<%= image "img_0003" %>
<%= image "img_0007" %>
<%= image "img_0008" %>
<%= image "img_0012" %>
<%= image "img_0018" %>
<%= image "img_0027" %>

<%= image "img_0037" %>
<%= image "img_0060" %>
<%= image "img_0062" %>
<%= image "img_0064" %>
<%= image "img_0066" %>
<%= image "img_0067" %>
<%= movie "hdimg_0070" %>
<%= image "img_0071" %>
