---
title: 辻堂海浜公園
tags: park, beach, kids
---
りりちゃんの三輪車の練習に行ったんだけど、あっという間に飽きる。

初めて海側に行ってみた。でっけえ砂場。

<%= image "img_3093" %>
<%= image "img_3094" %>

持ってきたカイトで遊ぶ。

<%= image "img_3096" %>
<%= image "img_3100" %>
<%= image "img_3101" %>
<%= image "img_3103" %>
<%= movie "hdimg_3104" %>

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1404/A140404/14043349/">いしがまやハンバーグ テラスモール湘南店</a>
神奈川県藤沢市辻堂神台1-3-1 テラスモール湘南
0466-38-1616
</pre>

テラス席でハンバーグ。夜になると急に寒くなって失敗。

<%= image "img_3105" %>
<%= image "img_3106" %>
