---
title: ソレイユの丘
tags: daughter, miura, park, son
---
<pre class="address">
<a href="http://www.yokosuka-soleil.jp/">長井海の手公園 ソレイユの丘</a>
神奈川県横須賀市長井4丁目
046-857-2500
</pre>

<%= image "img_0298" %>
<%= image "img_0304" %>
<%= image "img_0310" %>

自転車。

<%= image "img_0321" %>
<%= image "img_0323" %>
<%= image "img_0326" %>
<%= image "img_0328" %>
<%= movie "hdimg_0332" %>
<%= image "img_0333" %>

芝すべり。

<%= image "img_0343" %>
<%= image "img_0348" %>
<%= image "img_0350" %>
<%= movie "hdimg_0352" %>
<%= image "img_0356" %>

<%= image "img_0359" %>
<%= image "img_0360" %>
<%= image "img_0362" %>
<%= image "img_0363" %>
<%= image "img_0364" %>
<%= image "img_0368" %>

水遊び。蓮はもうつまらないのでやらないらしい。

<%= image "img_0375" %>
<%= image "img_0378" %>
<%= image "img_0380" %>
<%= image "img_0384" %>
<%= movie "hdimg_0385" %>
<%= image "img_0388" %>

<%= movie "hdimg_0390" %>
<%= image "img_0393" %>
<%= image "img_0394" %>
<%= image "img_0399" %>
<%= image "img_0411" %>

<%= image "img_0419" %>
<%= movie "hdimg_0429" %>
<%= image "img_0435" %>
