---
title: ヨコハマ恐竜展
tags: dinosaur, exhibition, yokohama
---
<a href="http://yokohamakyoryu.com/">ヨコハマ恐竜展</a>へ。

<%= image "img_0666" %>

<%= image "img_0552" %>
<%= image "img_0570" %>
<%= image "img_0575" %>
<%= image "img_0578" %>
<%= image "img_0586" %>
<%= image "img_0593" %>
<%= image "img_0595" %>
<%= image "img_0597" %>
<%= image "img_0599" %>
<%= image "img_0605" %>
<%= image "img_0619" %>
<%= image "img_0633" %>
<%= image "img_0646" %>
<%= movie "hdimg_0660" %>
<%= image "img_0662" %>

ランドマークタワーへ登る。

<%= image "img_0677" %>
<%= image "img_0680" %>
<%= image "img_0683" %>
<%= image "img_0685" %>
<%= image "img_0690" %>
