---
title: 目黒ごはん ビストロ ガブリ
tags: dinner, meguro, restaurant
---
職場のメンバーで肉の会。

<%= image "img_3230" %>

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13160531/">ビストロ ガブリ</a>
東京都品川区上大崎2-16-5 MSSビル 3F
050-5872-3771
</pre>

<%= image "img_3231" %>
<%= image "img_3232" %>
<%= image "img_3233" %>
<%= image "img_3235" %>
<%= image "img_3237" %>
<%= image "img_3238" %>
