---
title: 理科実験
tags: kamakura, kids, science
---
<a href="http://www.hayami.ac.jp/">鎌倉早見美容芸術専門学校</a>にて「理科の実験器具の基本操作を学ぼう」というイベント。

<%= image "img_0801" %>
<%= image "img_0813" %>
<%= image "img_0816" %>
<%= movie "hdimg_0818" %>
<%= image "img_0820" %>
