---
title: 三浦ふれあいの村 その2
tags: aquarium, family, travel
---
お父さんと蓮はシュノーケリングのイベントに参加。
が、波が高くて岩に足ぶつけまくって、楽しめず。
マリンシューズ買うべきでした。

お母さんとりりちゃんは森を散歩したあと、海の家へ。

<%= image "img_0919" %>
<%= image "img_0921" %>
<%= image "img_0929" %>

昼飯くって移動。

<pre class="address">
<a href="http://www.aburatsubo.co.jp/">京急油壺マリンパーク</a>
神奈川県三浦市三崎町小網代1082
046-880-0152
</pre>

サメの背中が触れます。

<%= image "img_0937" %>
<%= image "img_0940" %>
<%= movie "hdimg_3259" %>

<%= image "img_0941" %>
<%= image "img_0949" %>
<%= image "img_0952" %>
<%= image "img_0955" %>
<%= image "img_0958" %>
<%= image "img_0964" %>

なぜか家族がカワウソにはまる。

<%= image "img_0973" %>
<%= image "img_0974" %>
<%= image "img_0978" %>
<%= image "img_0984" %>
<%= image "img_0985" %>
<%= image "img_0988" %>
<%= movie "hdimg_0990" %>

<%= image "img_0992" %>
<%= image "img_0997" %>
<%= image "img_0998" %>
<%= image "img_3260" %>
<%= movie "hdimg_3262" %>

ショー。屋内でやっててビックリ。

<%= image "img_3265" %>
<%= movie "hdimg_3267" %>
<%= image "img_3268" %>
<%= image "img_3270" %>

水族館全体が手頃な大きさでオススメ。空いてるし。
