---
title: 焼き鳥
tags: dinner, ebisu, yakitori
---
職場の人で焼き鳥を食べに行く。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1307/A130703/13032192/">白金 酉玉 別館</a>
東京都渋谷区恵比寿2-28-7
03-3447-5520
</pre>

<%= image "img_3280" %>

<%= image "img_3283" %>
<%= image "img_3284" %>
<%= image "img_3285" %>
<%= image "img_3286" %>
<%= image "img_3288" %>
<%= image "img_3289" %>
<%= image "img_3291" %>
<%= image "img_3294" %>
<%= image "img_3295" %>
<%= image "img_3297" %>
<%= image "img_3299" %>
<%= image "img_3301" %>
<%= image "img_3306" %>

ちょうちん。

<%= image "img_3304" %>

〆の親子丼と鶏飯。

<%= image "img_3308" %>
<%= image "img_3310" %>
