---
title: 科学実験
tags: experiment, school, science
---
<a href="http://www.sho-oh.ac.jp/">湘央生命科学技術専門学校</a>でやってる「おもしろい科学の実験」という夏休みイベントに参加。

<%= image "pdf003" %>

磁石で液体をかき混ぜる。

<%= image "img_3373" %>
<%= image "img_3375" %>
<%= image "img_3376" %>

酵素で発光させる実験。

<%= image "img_3378" %>
<%= image "img_3380" %>

呈色反応。

<%= image "img_3381" %>
<%= image "img_3383" %>
<%= image "img_3384" %>
<%= image "img_3385" %>
<%= image "img_3386" %>

顕微鏡観察。

<%= image "img_3388" %>
<%= image "img_3389" %>
<%= image "pdf000" %>
<%= image "pdf001" %>
<%= image "pdf002" %>

湘央生命科学技術専門学校のブログは<a href="http://www.sho-oh.ac.jp/blog/bio/2014/08/no-74.html">こちら</a>。
