---
title: このまさわキャンプ場 その1
---
道志川来ました。

<pre class="address">
<a href="http://www5a.biglobe.ne.jp/~konoma/">このまさわキャンプ場</a>
神奈川県相模原市緑区青根2745
</pre>

<%= image "img_1278" %>
<%= image "img_1238" %>
<%= image "img_3392" %>

川きれい。同じ神奈川県とは思えん。
めっちゃ冷たくて、りりちゃんが耐えられない。

<%= image "img_1241" %>
<%= image "img_1251" %>
<%= image "img_1259" %>
<%= image "img_1263" %>
<%= image "img_1265" %>
<%= image "img_1267" %>
<%= image "img_1270" %>
<%= image "img_1271" %>
<%= image "img_1275" %>
<%= image "img_1279" %>
<%= image "img_1286" %>
<%= movie "hdimg_1287" %>
<%= image "img_1292" %>
<%= image "img_1312" %>
<%= image "img_1313" %>

花火と火遊び。

<%= movie "hdimg_1318" %>
<%= movie "hdimg_1321" %>
<%= movie "hdimg_1322" %>
<%= image "img_1324" %>
<%= image "img_1327" %>
<%= image "img_1331" %>
<%= image "img_1333" %>
<%= image "img_1340" %>
<%= image "img_1344" %>
<%= image "img_1348" %>
<%= image "img_1351" %>
<%= image "img_1352" %>
