---
title: 弘明寺のログハウス
tags: daughter, playground, son, yokohama
---
<pre class="address">
<a href="http://members2.jcom.home.ne.jp/minamicc00/house/">永田みなみ台公園こどもログハウス</a>
横浜市南区永田みなみ台4
045-742-1169
</pre>

<%= image "img_1673" %>
<%= image "img_1678" %>
<%= image "img_1680" %>
<%= movie "hdimg_1686" %>
<%= image "img_1688" %>
