---
title: 熟成肉
---
熟成肉を食べに横浜へ。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14052655/">グリルド エイジング・ビーフ 横浜店</a>
神奈川県横浜市神奈川区鶴屋町2-15 CRANEYOKOHAMA 6F
050-5872-6597
</pre>

<%= image "img_3444" %>
<%= image "img_3435" %>
<%= image "img_3437" %>
<%= image "img_3438" %>
<%= image "img_3441" %>
<%= image "img_3442" %>
<%= image "img_3445" %>
<%= image "img_3450" %>
