---
title: サンマを炭火で食べる会
tags: kids, event, outdoor
---
子供の国の<a href="http://www.kodomonokuni.org/knews/news140721.html">サンマを炭火で食べる会</a>に参加。
お父さんも参加予定でしたが、某祭りのために参加できず。

<%= movie "hdimg_1725" %>
<%= image "img_1727" %>
<%= movie "hdimg_1728" %>
<%= image "img_1731" %>
<%= image "img_1733" %>
<%= image "img_1740" %>

<%= image "img_1722" %>
<%= image "img_1742" %>

乳しぼり。

<%= image "img_1748" %>
<%= image "img_1750" %>
<%= movie "hdimg_1755" %>
<%= movie "hdimg_1756" %>
<%= image "img_1758" %>
<%= image "img_1764" %>

エサやり。

<%= image "img_1768" %>
<%= image "img_1773" %>
<%= image "img_1774" %>
<%= image "img_1777" %>
<%= image "img_1780" %>
<%= image "img_1781" %>
<%= image "img_1782" %>
<%= image "img_1783" %>

<%= image "img_1785" %>
<%= image "img_1789" %>
<%= movie "hdimg_1791" %>
<%= image "img_1793" %>
<%= image "img_1795" %>
<%= image "img_1800" %>

サンマ。

<%= image "img_1804" %>
<%= image "img_1808" %>

ボート乗り。

<%= image "img_1809" %>
<%= image "img_1811" %>
<%= image "img_1813" %>

水遊び。

<%= image "img_1819" %>
<%= image "img_1820" %>
<%= image "img_1824" %>
<%= image "img_1831" %>
<%= image "img_1832" %>
<%= image "img_1834" %>

<%= image "img_1837" %>
<%= image "img_1838" %>
<%= movie "hdimg_1840" %>
<%= image "img_1843" %>
<%= image "img_1847" %>
<%= image "img_1849" %>
<%= image "img_1850" %>
<%= image "img_1851" %>
