---
title: 鎌倉山
---
鎌倉山でごはん。

<pre class="address">
<a href="http://roastbeef.jp/restaurants/yokohama">鎌倉山</a> 横浜関内支店
神奈川県横浜市中区日本大通7 日本大通7ビルB1
045-212-1414
</pre>

<%= image "img_3524" %>
<%= image "img_3526" %>
<%= image "img_3527" %>
<%= image "img_3528" %>
<%= image "img_3529" %>
<%= image "img_3530" %>
<%= image "img_3531" %>
<%= image "img_3532" %>
<%= image "img_3534" %>
