---
title: 山梨旅行 その1
tags: Yamanashi, travel, family
---
最初はログハウスで遊ぶ。

<%= image "img_2056" %>
<%= image "img_2060" %>
<%= image "img_2061" %>
<%= image "img_2063" %>
<%= image "img_2066" %>
<%= image "img_2071" %>
<%= image "img_2074" %>
<%= image "img_2076" %>

<%= image "img_2081" %>

まちだリス園へ。

<pre class="address">
<a href="http://www.machida-risuen.com/">まちだリス園</a>
東京都町田市金井町733-1町田リス園
042-734-1001
</pre>

<%= image "img_2098" %>
<%= image "img_2095" %>
<%= image "img_2092" %>
<%= image "img_3535" %>
<%= image "img_3536" %>
<%= image "img_3540" %>
<%= image "img_2101" %>
<%= image "img_2103" %>
<%= image "img_2110" %>
<%= image "img_2111" %>
<%= image "img_2113" %>
<%= image "img_2119" %>
<%= movie "hdimg_2121" %>
<%= image "img_2123" %>
<%= image "img_2126" %>
<%= image "img_2129" %>
<%= image "img_2130" %>
<%= image "img_2137" %>
<%= image "img_2141" %>
<%= image "img_2147" %>

時間遅すぎた。ブドウ園を軽くのぞく。

<%= image "img_2155" %>
<%= image "img_2159" %>
<%= image "img_2162" %>
<%= image "img_2164" %>

今日のお宿。部屋から池が見えて、錦鯉に餌をあげれる。

<pre class="address">
<a href="http://www.hotel-koushien.jp/">ホテル甲子園</a>
山梨県笛吹市石和町市部977-7
055-263-3211
</pre>

<%= image "img_2169" %>
<%= image "img_2170" %>
<%= image "img_2173" %>
<%= image "img_2175" %>
<%= image "img_2187" %>
<%= image "img_2188" %>
<%= image "img_2194" %>
<%= image "img_2195" %>
<%= image "img_2199" %>
<%= image "img_2205" %>
<%= image "img_2206" %>
<%= image "img_3546" %>
<%= image "img_3553" %>

晩御飯。量がものすごい。

<%= image "img_2213" %>
<%= image "img_2214" %>
<%= image "img_2211" %>
<%= image "img_3555" %>
<%= image "img_3556" %>
<%= image "img_3558" %>
<%= image "img_3559" %>
<%= image "img_3561" %>
<%= image "img_3562" %>
<%= image "img_3564" %>
<%= image "img_3566" %>
<%= image "img_3567" %>
<%= image "img_3568" %>
<%= image "img_3571" %>
<%= image "img_3573" %>
<%= image "img_3574" %>
<%= image "img_3575" %>
<%= image "img_3576" %>
