---
title: 山梨旅行 その2
---
朝ごはん。

<%= image "img_3577" %>
<%= image "img_2216" %>
<%= image "img_2217" %>

餌やり。

<%= image "img_2223" %>
<%= movie "hdimg_2224" %>
<%= image "img_2228" %>
<%= image "img_2236" %>
<%= movie "hdimg_2237" %>
<%= image "img_2240" %>
<%= image "img_2242" %>

ぶどう園。すんげえデカいのを狩る。

<%= image "img_2245" %>
<%= image "img_2248" %>
<%= image "img_2250" %>
<%= image "img_2255" %>
<%= image "img_2257" %>
<%= image "img_2261" %>
<%= image "img_2268" %>
<%= image "img_2269" %>
<%= image "img_2270" %>
<%= image "img_2273" %>

お昼ご飯はほうとう。

<pre class="address">
<a href="http://tabelog.com/yamanashi/A1903/A190303/19000116/">ほうとう不動 河口湖北本店</a>
山梨県南都留郡富士河口湖町河口707
0555-76-7800
</pre>

<%= image "img_2276" %>
<%= image "img_2283" %>
<%= image "img_2285" %>
<%= image "img_3580" %>

<a href="http://www.fujisafari.co.jp/">富士サファリパーク</a>へ。イヌの館。りりちゃん噛まれる。

<%= image "img_2295" %>
<%= image "img_2296" %>
<%= image "img_2297" %>
<%= image "img_2298" %>
<%= image "img_2301" %>
<%= image "img_2303" %>
<%= image "img_2307" %>
<%= movie "hdimg_2313" %>
<%= movie "hdimg_2314" %>
<%= image "img_2319" %>
<%= image "img_2321" %>

どうぶつ村。

<%= image "img_2329" %>
<%= image "img_2334" %>
<%= image "img_2338" %>
<%= image "img_2341" %>
<%= image "img_2343" %>
<%= image "img_2347" %>
<%= image "img_2350" %>
<%= image "img_2351" %>
<%= image "img_2354" %>
<%= image "img_2359" %>
<%= image "img_2360" %>
<%= image "img_2364" %>
<%= image "img_2373" %>
<%= image "img_3587" %>
<%= image "img_2375" %>
<%= movie "hdimg_3581" %>
<%= movie "hdimg_3582" %>
<%= movie "hdimg_3585" %>

バスツアー。

<%= image "img_2379" %>
<%= movie "hdimg_2386" %>
<%= image "img_2390" %>
<%= image "img_2393" %>
<%= image "img_2400" %>
<%= image "img_2410" %>
<%= image "img_2411" %>
<%= image "img_2416" %>
<%= movie "hdimg_2418" %>
<%= image "img_2422" %>
<%= image "img_2423" %>
<%= movie "hdimg_2430" %>
<%= image "img_2438" %>
<%= image "img_2442" %>
