---
title: いい肉の日
tags: dinner, ebina, steak
---
いい肉の日なのでステーキ。

<pre class="address">
<a href="http://www.outbacksteakhouse.co.jp/location/ebina.html">アウトバックステーキハウス 海老名店</a>
神奈川県海老名市中央1-18-1 ビナウォーク6番館1F
046-292-4286
</pre>

<%= image "img_2674" %>
<%= image "img_2676" %>
<%= image "img_2681" %>
<%= image "img_2683" %>

土日限定のプライムリブ。

<%= image "img_2679" %>
<%= image "img_2680" %>
<%= image "img_3770" %>
<%= image "img_3768" %>
<%= image "img_3769" %>
<%= image "img_3771" %>
<%= image "img_3772" %>
