---
title: みなとみらい
tags: kids, minatomirai, yokohama
---
みなとみらいで娘とデート。

<pre class="address">
<a href="http://www.bornelund.co.jp/kidokid/shoplist/markis_minatomirai.html">ボーネルンドあそびのせかい MARK IS みなとみらい店</a>
神奈川県横浜市西区みなとみらい3-5-1 MARK IS みなとみらい3階
045-650-1232
</pre>

<%= image "img_3865" %>
<%= movie "hdimg_3869" %>
<%= image "img_3870" %>
<%= image "img_3873" %>
<%= image "img_3874" %>
<%= movie "hdimg_3877" %>
<%= image "img_3882" %>
<%= movie "hdimg_3884" %>
<%= movie "hdimg_3885" %>
<%= image "img_3887" %>

ダースベイダー卿がいらっしゃってた。娘ビビる。

<%= image "img_3888" %>

色々いたので記念撮影。

<%= image "img_3889" %>
<%= image "img_3898" %>
<%= image "img_3899" %>
<%= image "img_3904" %>

イルミネーション。

<%= image "img_3908" %>
<%= movie "hdimg_3910" %>
<%= movie "hdimg_3912" %>
<%= image "img_3914" %>
