---
title: カーナ・ピーナ
tags: dinner, yutenji
---
某氏が日本に旅行に来たので、カナピーで飲む。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1317/A131701/13008155/">カーナ・ピーナ</a>
東京都目黒区祐天寺2-17-9
03-3710-5483
</pre>

<%= image "img_3923" %>
<%= image "img_3926" %>

<%= image "img_3916" %>
<%= image "img_3919" %>
<%= image "img_3921" %>
<%= image "img_3928" %>
<%= image "img_3929" %>
<%= image "img_3931" %>
<%= image "img_3932" %>
<%= image "img_3934" %>
<%= image "img_3937" %>
<%= image "img_3939" %>
