---
title: こども宇宙科学館
tags: museum, yokohama, science
---
<pre class="address">
<a href="http://www.yokohama-kagakukan.jp/">はまぎん こども宇宙科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

<%= image "img_2725" %>
<%= image "img_2727" %>
<%= image "img_2728" %>
<%= image "img_2731" %>
<%= image "img_2733" %>
<%= image "img_2739" %>
