---
title: 小田原 その1
tags: odawara, park
---
わんぱくらんどへ。

<pre class="address">
<a href="http://www.city.odawara.kanagawa.jp/public-i/park/wanpaku/">小田原こどもの森公園 わんぱくらんど</a>
神奈川県小田原市久野4377-1
0465-24-3189
</pre>

<%= image "img_2745" %>
<%= image "img_2749" %>
<%= image "img_2750" %>
<%= image "img_3959" %>
<%= image "img_3960" %>

小田原のじーちゃん家へ。陶芸を教わる。

<%= image "img_3965" %>
<%= image "img_3970" %>
<%= image "img_3972" %>
