---
title: ロンぶら
tags: London, sightseeing, museum
---
仕事たまってるけど、息抜きにロンぶら決行。つっても、昼過ぎまで寝てた。
まずは、South Kensingtonへ。

腹減ったので飯屋探すとLittle Japanなる店発見。
なんとなく怪しさ爆発だったけど、メニュー見るとラーメンあるので入る。
入った途端店員どうみても中国人。やられたけど、ある意味狙い通り。

<%= image "img_0011" %>

Vegetable noodle soupを注文。中華スープにうどんっぽい麺、白菜、カリフラワー、
ピーマン、厚あげ、マッシュルーム。ま、マッシュルームっすか……。

<%= image "img_0010" %>

その後、V&amp;A美術館に入ろうとするが、道間違えてScience Museum(科学博物館)の前へ来る。
まあいいかと入館。

中はかなり広いけど、子供だましだなあ。
IMAXでT-REX(3D)やってて見たかったんだけど、時間が合わなかった。
来週もう一回来よう。

<%= image "img_0012" %>
<%= image "img_0013" %>
<%= image "img_0014" %>

いい天気なのでHyde Parkをお散歩。
みんな遊びに来てます。
町中にこんな広い公園あるなんていいよなあ。

<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0019" %>
<%= image "img_0020" %>
<%= image "img_0021" %>
<%= image "img_0022" %>

ayayaの<a href="http://www.nui.org/ayaya/ukdiary/200001/20000104/">日記</a>を参考に
<a href="http://www.bbr.com/">Berry Bros. &amp; Rudd</a>の本店にシェリーを買いに行く。
先々週も行ったんだけど場所が分からんかったんで再挑戦。
すると、PM4時に閉まってた。明日もう一回来ようかと思ったけど日曜は閉店だそうで。
それでも酒屋か！！

くやしいので、そばの本屋の3FのジュースバーでStrawberry, Banana &amp; Yogurt飲む。
Royal Academyは展示物見ても燃えなかったので入口で引き返す。
ついでにFortnum&amp;Mason覗いてロンぶら終了。

夕方にはほとんどの店とか博物館しまっちゃうから、たいして観光できないんだよなあ。
次は早起きしようっと。
