---
title: お花見
---
IPv6チームでお花見。須藤くんのページは<a href="http://www.sudou.jp/photo/2002_3_30/index.html">こっち</a>

<%= image "img_0815" %>
<%= image "img_0816" %>
<%= image "img_0817" %>
<%= image "img_0818" %>
<%= image "img_0819" %>
<%= image "img_0820" %>
<%= image "img_0821" %>
<%= image "img_0822" %>
<%= image "img_0823" %>
<%= image "img_0824" %>
<%= image "img_0825" %>
<%= image "img_0826" %>
<%= image "img_0827" %>
<%= image "img_0828" %>
<%= image "img_0829" %>
<%= image "img_0830" %>
<%= image "img_0832" %>
<%= image "img_0833" %>
<%= image "img_0834" %>
<%= image "img_0835" %>
<%= image "img_0836" %>
<%= image "img_0837" %>
<%= image "img_0838" %>
<%= image "img_0840" %>
<%= image "img_0841" %>
