---
title: yuo家飲み
tags: party, photos, friends
---
yuo家で宴会。

<%= image "dscn0020" %>
<%= image "dscn0021" %>
<%= image "dscn0022" %>
<%= image "dscn0023" %>
<%= image "dscn0024" %>
<%= image "dscn0025" %>
<%= image "dscn0026" %>
<%= image "dscn0027" %>
<%= image "dscn0028" %>
<%= image "dscn0029" %>
<%= image "dscn0030" %>
<%= image "dscn0031" %>
<%= image "dscn0032" %>
<%= image "dscn0033" %>
<%= image "dscn0034" %>
<%= image "dscn0035" %>

この後、TOPSのチョコレートにはまってしまった。うまかったー。

<%= image "dscn0036" %>

yuo君はお腹の不調を訴えて早々にダウン。次の日病院へ。

その後シェリー飲みながら<a href="http://us.imdb.com/Details?memento+(2000)">Memento</a>を見る。
ただでさえ映画が難解なのにじぇんじぇん英語が入って行きましぇーん。
