---
title: N+I@Las Vegas
tags: interop, las vegas, networking
---
<h2>Extreme</h2>

BlackDimond 6816

<%= image "img_0042" %>
<%= image "img_0087" %>
<%= image "img_0088" %>
<%= image "img_0041" %>

<%= image "img_0043" %>
<%= image "img_0044" %>
<%= image "img_0084" %>
<%= image "img_0085" %>
<%= image "img_0086" %>

BlackDimond 6808

<%= image "img_0046" %>
<%= image "img_0047" %>

BlackDimond 6804

<%= image "img_0082" %>
<%= image "img_0049" %>

Alpine 3808。6804との住み分けはWDMモジュール等が刺さるのが特徴。

<%= image "img_0083" %>

ソリューションパートナー。

<%= image "img_0078" %>

<h1>10G</h1>

10GbEのブースにあった<a href="http://www.netone.co.jp/newsrelease/news/20020109_force10.html">Force10</a>。
他社は既存製品に10GbEのボード用意してきて
るだけだけど、こいつは10Gをターゲットに開発されたルータ。
日本では日立電線がかついでいて、幕張にも持って来るらしい。
ちゃんと動いてるらしい。

GbEの実装密度も高い。SWファブリックは追加式で1つ40Gbps。
バックプレーンは1.2T。奥行きそんなに食ってないのも注目。

<%= image "img_0052" %>
<%= image "img_0053" %>
<%= image "img_0054" %>
<%= image "img_0055" %>
<%= image "img_0056" %>

<h2>Cisco</h2>

<%= image "img_0057" %>
<%= image "img_0058" %>
<%= image "img_0059" %>
<%= image "img_0060" %>
<%= image "img_0061" %>
<%= image "img_0062" %>
<%= image "img_0063" %>
<%= image "img_0064" %>
<%= image "img_0065" %>
<%= image "img_0066" %>
<%= image "img_0067" %>
<%= image "img_0068" %>
<%= image "img_0069" %>
<%= image "img_0070" %>
<%= image "img_0071" %>
<%= image "img_0072" %>
<%= image "img_0073" %>
<%= image "img_0074" %>
<%= image "img_0075" %>
<%= image "img_0076" %>
<%= image "img_0077" %>
<%= image "img_0079" %>
<%= image "img_0080" %>
<%= image "img_0081" %>
<%= image "img_0089" %>
<%= image "img_0090" %>
<%= image "img_0091" %>
<%= image "sta_0001" %>
<%= image "stb_0002" %>

<h2>Storage</h2>

Infinibandの64ポートSW。

<%= image "img_0003" %>
<%= image "img_0004" %>

Infiniband IF(2.5G)のついた16台のブレードサーバ。
ディスクレス動作で、10G x 4のIFが出ていて、ストレージに接続するようになっている。

<%= image "img_0005" %>
<%= image "img_0007" %>
<%= image "img_0008" %>
<%= image "img_0009" %>
<%= image "img_0010" %>

<h2>Korea</h2>

韓国ブースの出展が目立つ。

<%= image "img_0050" %>
<%= image "img_0051" %>
