---
title: Kincoid's
tags: food, restaurant, California
---
池田さんと行きつけの<a href="http://www.kincaidsburlingame.com/">Kincaid's</a>へ。
ここのバーって酒だらけで凄いんだよね。

<%= image "img_0006" %>
<%= image "img_0008" %>
<%= image "img_0009" %>

はい、死ぬほど食べました。

<%= image "img_0010" %>
<%= image "img_0011" %>
<%= image "img_0012" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0017" %>
<%= image "img_0018" %>
<%= image "img_0019" %>
