---
title: ひつじひつじひつじ〜
tags: dining, food, restaurant
---
<pre class="address">
<a href="http://gourmet.yahoo.co.jp/gourmet/restaurant/Kanto/Tokyo/guide/0204/P018337.html">シリンゴル</a>
</pre>

他の人の写真: <a href="http://bug.org/~momo/diary/2002.08.html#20020809">momo</a>

yuo君撮影。ピンボケしまくり。

<%= image "dscn0295" %>
<%= image "dscn0297" %>
<%= image "dscn0298" %>
<%= image "dscn0299" %>
<%= image "dscn0300" %>
<%= image "dscn0301" %>
<%= image "dscn0302" %>
<%= image "dscn0303" %>
<%= image "dscn0305" %>
<%= image "dscn0307" %>
<%= image "dscn0309" %>
<%= image "dscn0310" %>
<%= image "dscn0312" %>
