---
title: 営業お別れ会
---
営業のお別れ会。<a href="http://r.gnavi.co.jp/g293431/">豆冨料理・創作和彩 月の雫　銀座インズ店</a>にて開催。みんなありがとね。豆腐しゃぶしゃぶおいしゅうございました。

<%= image "02-09-05_22-14" %>
<%= image "02-09-05_22-15" %>
<%= image "02-09-05_22-16" %>
<%= image "02-09-05_22-17" %>
<%= image "02-09-05_22-18" %>
