---
title: イギリス赴任、そして
tags: UK, incident, work
---
今日から2年間(たぶん)の予定でイギリス赴任です。
前日に大慌てで引っ越しした後、成田の<a href="http://www.anahotels.com/narita/">全日空ホテル</a>へ。
正規片道運賃(33万円)払ったら、赴任コンポとかいうサービスがあってホテルがただになりました。
とっても快適です。出発3時間前に起きればいいなんてすんげえ楽。
しかも、ロビーにチェックインカウンターもあってガラ空き。

残念ながら混んでたため、ビジネスクラスのアップグレードは失敗。
結局今回も斜めフルフラットを試せず。
でも、プレミアムエコノミー座れました。しかも、となりの席には誰もいないので快適。

機内でのアルコール摂取は時差ボケ解消によくないとのことなので、
今回初めて飲まずに飛行機に乗る。機内でも結構気分よく寝れて目覚めれました。いいかも。

明日は会社に顔出して、明後日に部屋探しする予定。

---
……さて、ここまでは行きの飛行機で書いてた文章。
自分で読み返してて能天気さに涙出て来たよ。こっから大変でした。

まず、入国審査は長蛇の列。
9/11(テロの日)の二日前なのでセキュリティ厳しくなってるのはまあ当然なので、
1時間の順番待ちは我慢。
僕の順番になって労働ビザ(work permit)を提示したら係員に無効である旨を言われました。
ビザそのものは2002/02/01発行で1年間有効なのですが、
裏側に発行後6か月以内に入国審査に提示することと書かれています。
がーん、そんなん初めて聞いたちゅーねん、
というか裏側に文章書いてあるのを初めて知ったんですけど。
みなさんも公式文書は裏も併せてきちんと読みましょう。

<%= image "workpermit-1" %> ←表
<%= static_to "workpermit-2.pdf", "問題の裏" %>(pdf)

んで、パスポート取り上げられてちょっと待ってろと<%= static_to "sumikawa02.pdf", "紙切れ一枚" %>
待ち合い室みたいなところで待たされる。
周りはアフリカから来たっぽい黒人だらけ。40人ぐらいいるかな。
紙切れ見ると他の人が質問するから待てと書いてある。

しばらくするとさっきの係員が戻って来て、
Bagage Reclaimに連れていかれてスーツケースとスポーツバッグを回収させられる。
そのままさらに別室へ。
別の紙を渡されて帰りの飛行機用意したからそれ乗って帰れと言われる。
おうおうおう？
後で落ち着いてからよく見たらアピール権なしと書いてある、まさに強制退去命令じゃん。
観光ビザで入り直しはできないかと聞いてみたけど、一回労働ビザで入ろうとしたので駄目と言われる。
まあ、当り前といえば当り前。

<%= image "img_0010" %>強制退去命令書
(pdfは<%= static_to "sumikawa01.pdf", "こっち" %>)

携帯で日立ヨーロッパ側に電話するも、
少し会話したら時間切れで財布以外の荷物取り上げられて別室(カギつき)へ。
ここはいろんな人種の人間が10人ぐらいいて、
それぞれの国に帰る飛行機が準備できるまで隔離されるみたい。
部屋にはベンチと無料のジュース自動販売機と電話機だけ。
コイン両替不可、コレクトコールはできるが、携帯電話へはできない。
はい、お手上げです。
まるきり犯罪者扱いです。まあ、不法入国者なんですが。

香港人が寄って来て色々話かけてくる。彼は朝の便で5人でやってきて自分だけ捕まったらしい。
こっちは書類読まないといけないのに、向こうは朝から待ってて暇なのかえんえんと話続ける。
邪魔じゃ。15分後、ANAの地上員が来て、クレジットカードの提示を求められる。
帰りの飛行機代は自分で払えということです。

さらに30分後、見張り付きで出発ゲートへ。パスポートは見張りの人が預ったまんま。
そのまま飛行機に乗り込むまでずっと見張られっぱなし。
逃げるやつがいるんでしょうな。
飛行機にはファーストクラスよりさらに前に乗り込む。VIP気分です。はあ。
席はプレミア・エコノミー用意されてまいた。ANAの心遣いにちょっとじーんと来る。
後日、池田さんに「犯罪者を護送するときは、たいていいい席に座れるんだよ、
周りに迷惑だからね」と言われる。なるほど。

以上、イギリス総滞在時間、3時間30分。

パスポートは客室乗務員に預けられる。VIPなのでみんなに名前覚えられてしまいました。
ここら辺で落ち込み最骨頂。起きてると色々考えちゃって欝になりそうだったので、
飯も食わずにフテ寝する。

日本につく4時間前に目が覚める。もう寝れないので「スパイダーマン」鑑賞。
主人公の叔母の"Smile finally"という言葉に励まされる。頑張るよ、俺。

日本に着いたら、さらに地上員に引渡し。これまたVIP待遇で入国審査の長蛇を尻目にスタッフ用の列へ。
入国審査のゲートをくぐるとパスポート返されておしまい。
げ、イギリスの入国スタンプが一旦押されててバッテンマークがついてる。
汚された……。

<%= image "img_0005" %>

ということで、朝11時に飛んで翌日の午後3時半には日本に戻って来ました。
地球の小ささを実感した次第です。

現状ですが、イギリスの法律事務所に依頼してビザの再取得をお願いしているところですが、
すぐに再発行されるのか、
それともブラックリストに載ってしまっているのか分からない状態。

別にクロネコヤマトで送った引っ越し荷物は慌てて連絡いれたら、
日本の通関を出る前だったので慌ててブロックしてもらいました。現在、様子見中。

ということで、人生未定中。かなり落ち込んでますので、みんないじめないで下さい。

Appendix: その他の書類
<%= static_to "sumikawa03.pdf", "その1" %>
<%= static_to "sumikawa04.pdf", "その2" %>
<%= static_to "sumikawa05.pdf", "その3" %>
