---
title: 家ゲット
tags: UK, life
---
今日は会社休んで家探し。
<a href="http://www.jac-strattons.co.jp/">JAC STRATTONS</a>というところを
日本にいたときにwebで見つけたので部屋探しの予約をしていました。

条件はこんな感じ。

- Ealing Broadwayすぐそば、近ければ近いほどよい
- 1 Bedもしくは2 Bedのflat
- 駐車場があれば望ましい
- シャワーが壁に固定式ではなくて手で持てるのが望ましい

10時に不動産屋へ。担当のお姉さんは日本人です。
家と車の契約系は日本語でやることにしました。失敗したときのリスクが大きすぎるんで。

担当のお姉さんはかなりしっかりした信頼のおける人で、
その人一押しの大家が持ってる物件があるということで、現地に向かいました。
1 Bed Flatですが、駅から徒歩3分ぐらい。かなり近いです。その分お値段高いけど。
現地にてしばらく待つと大家さんが車でやってきました。
車の中は工具でぎっしり。家のメンテナンスは全部大家が責任を持って直しているそうです。

部屋に入るとかなり綺麗で念入りにメンテされてることが分かり、
大家から「漢」を感じました。台所がちょっと汚れてると分かるとすぐ拭きはじめるし。

速攻でこの家に決定するも、担当のお姉さんが「せっかくの機会だから」ということでもう一件を見に行きましたがやっぱりぱっとせず。

不動産屋に戻りもっかい大家呼んで3人で契約。まだ現地に口座ないしポンド持ってないけど、
デポジットと1か月分の家賃を払わないといけないので、シティバンクのキャッシュカードで
現金をおろす。一回の限度額が£200なので、何回もお金おろしてポケットに突っ込む。こわー。

PM1:00には契約終了。
即決です。ほっほっほ。電気、ガス、Council Tax(住民税)の手続きも
不動産屋さんがやってくれました。楽チン。
さらには電話(BT)の申し混みもMrs.Sumikawaを名乗ってお姉さんがしてくれました。

部屋はこんな感じ。
キッチン。冷蔵庫、電子レンジ、食器洗い機、オーブン、ケトル、
トースター、乾燥機つき洗濯機がついてます。

<%= image "img_0001" %>
<%= image "img_0002" %>
<%= image "img_0003" %>

居間。テレビ、食卓、ソファ、ソファーテーブル、棚つき。

<%= image "img_0004" %>
<%= image "img_0005" %>
<%= image "img_0006" %>

廊下。

<%= image "img_0007" %>

お風呂場。綺麗よーん。

<%= image "img_0008" %>
<%= image "img_0009" %>

寝室。収納も結構あります。掃除機付き。

<%= image "img_0010" %>
<%= image "img_0011" %>
<%= image "img_0012" %>
<%= image "img_0013" %>

これ以上くそ狭いホテルにいたくないので、
自分家で寝る体制整えるために寝具を買いにいく。
これまたお姉さんに教えてもらった近所のモールにあるArgo'sという店へ。
基本的にはカタログ販売の店なんだけど、倉庫が横にあってカタログ見て注文するとすぐにものが出て来ます。店を2回往復して、布団と枕とカバーを運びこむ。
さらにBoot'sに行ってシャンプーその他のお風呂セットを購入。
部屋に戻るとよく考えたらタオルがないことに気づきさらにArgo'sのカタログ見たら売ってた。
すばらしいぞArgo's。ということで、モールへ4往復目。

やっと住める環境整ったので次はホテルに荷物取りに行く。
もう重い荷物運ぶ体力ないので2回に分けて運ぶ。ついでにホテルはチェックアウト。

やっと落ち着いたのでQuarter Chickenを買ってDiet Cokeで晩飯。

<%= image "img_0014" %>

風呂入って速攻寝る。次の日起きたら筋肉痛でした。

<h3>TODO</h3>

- 銀行口座開設
- 車探し (<a href="http://www.jemuk.co.uk/jem-anet/index.html">JAM ANET</a>, <a href="http://www.thamescars.f9.co.uk/">テムズカー</a>)
- 車の保険加入
- 道路税支払
- TVライセンス代支払
- ADSL契約(他の選択肢はあるか？ CATVとか)
- 運転免許書き換え
- 住所変更届を出しまくる
- 在留届を出す
