---
title: パリ出張
tags: Paris, IPv6, conference
---
<a href="http://www.renater.fr/IPv6-2002/">IPv6 Conference in Paris</a>に参加しにパリへ。

<a href="http://www.eurostar.co.uk/">EuroStar</a>初デビュー。
まるっきり空港みたいな雰囲気なのね。

<%= image "img_0001" %>
<%= image "img_0002" %>

ついでに観光。何とか寺院へ。名前覚えられん。そういやアメリで出てたな。

<%= image "img_0004" %>
<%= image "img_0005" %>
<%= image "img_0006" %>
<%= image "img_0007" %>
<%= image "img_0009" %>

晩飯。やっぱフランス飯はうめえ。

<%= image "img_0011" %>
<%= image "img_0012" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0016" %>
