---
title: ベルギー飯
tags: food, Belgian, restaurant
---
<a href="../../2001/1124-quicktour/">以前</a>行ったベルギー飯屋へ。ムール貝うめえ。

<%= image "img_0038" %>
<%= image "img_0039" %>
<%= image "img_0040" %>
<%= image "img_0041" %>
<%= image "img_0043" %>
