---
title: コペンハーゲン初上陸
---
デンマーク寒いよう。

<a href="http://2002.istevent.cec.eu.int/">IST2002</a>というイベントで
<a href="http://www.consulintel.es/">Consulintel</a>がGR2000を展示するというので手伝いに行く。IST2002はECの研究プロジェクトの集大成のイベントで、
今回はFP5とFP6の展示(FPの説明すると長くなるので略。
<a href="http://europa.eu.int/information_society/programmes/research/text_en.htm">ここら辺</a>読んで)。

デンマークはソーセージ屋台で有名だそうで、とりあえず食す。
これがホットドックだってよ。

<%= image "img_0054" %>

空港そばのホテルにチェックインした後、会場まで電車で移動。
切符の買い方が全然分からん。英語書いてないし。
しかも改札ないのでキセルしたい放題。さすが福祉国家(ちょっと違う)。
検札に来た車掌さんに会場への行き方聞いたら切符チェックしないで教えてくれました。
そういや、空港でデンマーク・クローネおろすの忘れてた。

土曜日なのにみんな設営してます。スペイン人なのにみんなよく働きます。

<%= image "img_0055" %>

今、一番興味あるのが電力線モデムを使った<a href="http://www.6power.org/">6POWER</a>という
研究プロジェクト。日本以外のマーケットではFTTHなんて夢物語だし、DSLだって600〜800kbps
しか出てないのでreal broadbandを提供する技術を探してたところ、これを見付けました。
現状で45M出ると言ってます。すばらしい。
日本での利用はまだ<a href="http://www.soumu.go.jp/s-news/2002/020809_4.html">認可</a>が下りてないので厳しそうだけどね。

スペインの新興会社であるDS2社の電力線モデム。
基本的にはDS2社はチップ屋でモデム商売はしないらしいんだけど、
非常に出来がいいです。ラテン系侮りがたし。

<%= image "img_0057" %>
<%= image "img_0058" %>

裏側には電話コネクタも出てます。VoIPエンコーダ/デコーダもサポートしてるそうな。
来年出る次世代チップにはVoIPもハードウェアでいれてADSLチップと同程度の値段にすると
言ってます。D-subのケーブルが電源供給兼データ線。

<%= image "img_0059" %>

ACアダプタはでかい。
たぶん、ADSLのスプリッタ相当の機能が入ってるからだと思う。

<%= image "img_0060" %>
<%= image "img_0061" %>

会場が幕張メッセ並にでかいのでビビる。そんなデカいconferenceだとは知りませんでした。

<%= image "img_0062" %>
<%= image "img_0063" %>
<%= image "img_0064" %>
<%= image "img_0066" %>

夜はスペイン人7人と一緒にデンマークのイタリア料理屋で晩飯。
やっぱスペイン語勉強しよう。
