---
title: Networld+Interop in Paris
---
<a href="http://www.interop.fr>">Networld+Interop in Paris</a>初参加。
基本的にはヨーロッパ向けのショーではなくて、フランス向けみたい。
英語が全然基本言語になってないので。
しかも半分ぐらいは聞いたことのない会社ばっかりなのでちんぷんかんぷん。
世界的なセキュリティ系人気のあおりをくらって、ここも3割ぐらいはセキュリティだった。

<%= image "img_0140" %>
<%= image "img_0121" %>
<%= image "img_0122" %>
<%= image "img_0123" %>

例によって拡販用証拠写真。
今回、ベンダーとしてIPv6で参加してたのは、
日立、6WIND、WindRiver、Agilent。
あとは、<a href="http://www.renater.fr/">Renater</a>と<a href="http://www.dit.upm.es/">UPM</a>が協力。

<%= image "img_0107" %>
<%= image "img_0108" %>
<%= image "img_0109" %>
<%= image "img_0112" %>
<%= image "img_0113" %>
<%= image "img_0115" %>
<%= image "img_0117" %>
<%= image "img_0118" %>
<%= image "img_0119" %>
<%= image "img_0120" %>
<%= image "Berkom2" %>
<%= image "Interop1" %>
<%= image "Interop4" %>

11/15からフランスでiModeのサービスはじめるBougues Telecom。
GSMではなくて、GPRSベースらしい。
真偽は確認してないけど、ランニングコストが現状でGSMの10倍ぐらいの値段らしいと
フランス人が一人言ってた。FOMAと同じでそれじゃ流行らんわなあ。

<%= image "img_0104" %>
<%= image "img_0105" %>

試しに遊んでみる。適度に日本のやつがシンプル化されてていい感じ。
don.toもみれた。日本語化けるけど(当り前)。

<%= image "img_0125" %>
<%= image "img_0126" %>
<%= image "img_0129" %>
<%= image "img_0130" %>

DoCoMoもCmodeを含めて大々的にデモしてました。
ヨーロッパの人に日本パワーを見せつけるデモらしい。
かなりの人だかりでした。説明員のお姉さんも大量に日本から来てたみたい。

<%= image "img_0134" %>
<%= image "img_0136" %>
<%= image "img_0137" %>
<%= image "img_0139" %>

IPチェス？ 
よく分からんが指した手がそのまんま画面に反映されてたのでなんか通信してるみたい。

<%= image "img_0124" %>

BlackBerry。これも面白そうだった。電話、メール、その他PDA機能が使えるGPRS端末。
フランスって結構面白いのあるねえ。

<%= image "img_0133" %>
<%= image "img_0131" %>
<%= image "img_0132" %>

D-LinkのVoIP電話。これシンプルでよさげじゃん。
と思って<a href="http://www.dlink.co.uk/">web</a>で調べたらまだUKでは売ってないみたい。

<%= image "img_0141" %>
<%= image "img_0142" %>

NOC。さすがにAlcatel強し。

<%= image "img_0143" %>
<%= image "img_0144" %>
<%= image "img_0145" %>
<%= image "img_0146" %>
