---
title: ベルぶら
tags: Berlin, sightseeing, travel
---
ベルぶらとは「ベルリンをぶらぶらする」の略で古くは森鴎外が渡独の折に(以下略)。
ドイツも改札口がありません。ので、キセルしたい放題だよはっはっはー。
<a href="http://www.sorat-hotel.de/spree-bogen/index.htm">ホテル</a>そばの風景。
そうか、とうとうステファンの国へ来ちゃったか。

<%= image "img_0001" %>

Friedrich Str.駅内でアジア飯を食う。あ、写真ないけど、昨日の夜初ドイツ飯食いました。
うまー。ビールもうまかったけどそれほど感動せず。イギリスのビール飲んでるからかなあ。

<%= image "img_0003" %>
<%= image "img_0004" %>

ベルリン名物くま。

<%= image "img_0005" %>
<%= image "img_0006" %>
<%= image "img_0008" %>

何か平和の像だかなんかだけど、シンナー吸ってる人にしか見えん。

<%= image "img_0009" %>
<%= image "img_0010" %>

ベルリン大聖堂。んー、他の国の大聖堂に比べると今いち。

<%= image "img_0012" %>
<%= image "img_0013" %>
<%= image "img_0014" %>
<%= image "img_0015" %>
<%= image "img_0016" %>
<%= image "img_0018" %>
<%= image "img_0026" %>
<%= image "img_0029" %>
<%= image "img_0031" %>

ちかれたのでケーキを食う。コーヒー付き2ユーロ。やーすーいーぞー。
食いカスを狙いに来たスズメども。

<%= image "img_0032" %>
<%= image "img_0035" %>
<%= image "img_0036" %>

イースト・サイド・ギャラリーへ。
ベルリンの壁が一部残っていて、色んな絵が書いてあります。
これは東ベルリン側ね。

<%= image "img_0037" %>
<%= image "img_0038" %>
<%= image "img_0039" %>
<%= image "img_0047" %>
<%= image "img_0048" %>
<%= image "img_0049" %>

壁をくぐって自由の国へ。

<%= image "img_0050" %>
<%= image "img_0051" %>

6月17日通りとティアーガルデンを散策。

<%= image "img_0052" %>
<%= image "img_0053" %>
<%= image "img_0054" %>
<%= image "img_0056" %>
<%= image "img_0059" %>
<%= image "img_0062" %>
<%= image "img_0063" %>

そして勝利の塔へ。何かテクノびとたちの聖地らしい。
階段しかないので、ひどく疲れました。

<%= image "img_0066" %>
<%= image "img_0067" %>
<%= image "img_0069" %>
<%= image "img_0071" %>
<%= image "img_0072" %>
<%= image "img_0073" %>
<%= image "img_0074" %>
<%= image "img_0075" %>
<%= image "img_0077" %>
<%= image "img_0078" %>

天使のパンチラ。

<%= image "img_0079" %>

ブランデンブルグ門。

<%= image "img_0081" %>

ベルリンの壁博物舘(Check Point Charlie)へ。悲しい歴史の勉強になります。

<%= image "img_0082" %>
<%= image "img_0083" %>
<%= image "img_0084" %>

うまうまうまうま。

<pre class="address">
<a href="http://www.deutsche-weinbotschaft.de/">WeinBotschaft</a>
Reinhardstrabe 37
10117 Berlin
Tel 280 46 320
Fax 280 46 321
</pre>

<%= image "img_0085" %>
<%= image "img_0086" %>
<%= image "img_0087" %>

さらにドイツはテクノの本場ということで夜にクラブ初挑戦する。
<a href="http://www.wmfclub.de/">WMF</a>に女テクノ番長ことEllen Allienが来るので
お勧めとの情報を入手。何やねん番長って。

んで、行って来たけど、なんかすげえとこでした。
PM11:30ぐらいに行ったんだけど、人気のない通りをずーっと歩いていくと、
廃ビルっぽいところに一箇所だけ明りがついててドアが閉まってる。
前で躊躇してたらいかついおっちゃんが出て来てドア開けてくれて入ったんだけど、
中は単なる小部屋で10人ぐらいがタバコ吸ってる。

お金を払うと裏口から一旦外へ出て裏の廃ビルへ。音が全然聞こえない
のでどこへ行けばいいのか分からず。迷路みたいな中を奥までいくとやっとス
テージ。まだはじまってねえ。待つこと30分ぐらいでやっと曲がかかる。
DJがEllen Allienその人かさっぱり分かりません。

1時過ぎにやっと人が集まり出して踊りはじめたけど、あんまり踊ってる人いま
せんでした。あたしゃビール飲んでる途中で寝ちゃったよ。絶対テクノって催
眠効果あると思った。

帰りは外出たらたまたまタクシーがいたのでそれに乗る。
