---
title: ベルギー出張 その1
tags: Belgium, IPv6, travel
---
<a href="http://www.global-ipv6.net/index.htm">Global IPv6 Service Launch Event</a>に参加。
前日の夜にベルギー入り。とりあえずバーでビール飲んどく。うまい。

<%= image "img_2423" %>

会場の風景。

<%= image "img_2424" %>
<%= image "img_2425" %>
<%= image "img_2426" %>

ルノーとCiscoが共同製作したIPv6カー。

<%= image "img_2436" %>

Social Eventは<a href="http://www.bruxelles-en-scene.be/">Brussels on Stage</a>で。
よく分からん建物でした。小便小僧が整列したりしてるし。

<%= image "img_2427" %>
<%= image "img_2428" %>

晩飯。ムール貝うまい。
イロ・サクレ地区(レストランが一杯ある有名なエリア)では呼び込みをやってない店に入るのが正解かと思われます。

<pre class="address">
Aux Armes de Bruxeles
Rue des Bouchers 13
1000 Bruxelles
02 511 55 98
</pre>

<%= image "img_2429" %>
<%= image "img_2430" %>
<%= image "img_2431" %>
<%= image "img_2432" %>
<%= image "img_2433" %>
<%= image "img_2434" %>
<%= image "img_2435" %>
