---
title: ベルギー出張 その3
tags: belgium, businesstrip, sightseeing
---
土曜は観光。

<%= image "img_2484" %>
<%= image "img_2485" %>
<%= image "img_2486" %>
<%= image "img_2487" %>
<%= image "img_2489" %>

ブリュッセル名物小便小僧。

<%= image "img_2488" %>

さらに対抗して小便小娘。なんだかなあ。

<%= image "img_2490" %>
<%= image "img_2491" %>
<%= image "img_2492" %>

昼はラムとうなぎ。

<pre class="address">
<a href="http://www.restaurantvincent.com/">Restaurant Vincent</a>
8-10, Rue des Dominicains
1000 Bruxelles
Tel: (02) 511.26.07
</pre>

<%= image "img_2493" %>
<%= image "img_2494" %>

そういや、ベルギー出張三回目にして初めてワッフルを食う。

<%= image "img_2495" %>

ビール博物館。

<%= image "img_2498" %>
<%= image "img_2496" %>
<%= image "img_2497" %>

夜は釜焼きのピザ屋。

<%= image "img_2499" %>
<%= image "img_2500" %>
<%= image "img_2501" %>
<%= image "img_2502" %>
