---
title: ステーキ屋でお別れ会
---
研修生が日本に帰っちゃうのでステーキ屋でお別れ会。

<pre class="address">
   <a href="http://www.london-eating.co.uk/2938.htm">Popeseye Steak House</a>
   108 Blythe Road, London, W14 0HD
   Tel: 020 7610 4578 
</pre>

メニューはステーキしかない硬派なお店。おいしゅうございました。

<%= image "img_0640" %>
<%= image "img_0641" %>
<%= image "img_0642" %>
<%= image "img_0643" %>
<%= image "img_0644" %>
