---
title: バルセロナ旅行(1日目)
---
イギリスで唯一の4連休であるイースターを利用してバルセロナへ遊びに行く。
基本的に食っちゃ寝の休日でした。
年明けからこっち、だいぶんストレスと疲れが溜ってたのでいいリフレッシュになりました。

余談ですが、イギリスには国民の祝日が4日しかありません。
日本は世界で2番目に祝日が多い国だそうです。まあ、ちゃんと休みの日に休めればの話ですが。

今回のホテルは<a href="http://www.hilton.com/en/hi/hotels/index.jhtml?ctyhocn=BCNHITW">ヒルトン・バルセロナ</a>。

<pre class="address">
Hilton Barcelona
Avda Diagonal, 589-591, Barcelona, ES 08014
Tel: 34-93-4957777 Fax: 34-93-4957700 
Email: barcelona@hilton.com
</pre>

部屋はちょっと狭いけどまあまあかな。
新市街(オフィス街)にあるので観光には不便。
まあ、ポイント使って無料宿泊したのでよしとしましょう。

<%= image "img_2797" %>
<%= image "img_2936" %>

地下鉄で町中へ。

<%= image "img_2800" %>
<%= image "img_2801" %>

ティビダボ遊園地へ。ケーブルカーで山の上まで登る。
夏だと23時までやってるらしいけど、今日は20時で終了。
つーか、寒くて無理。

<%= image "img_2802" %>
<%= image "img_2804" %>
<%= image "img_2803" %>
<%= image "img_2807" %>
<%= image "img_2808" %>
<%= image "img_2809" %>
<%= image "img_2810" %>
<%= image "img_2813" %>
<%= image "img_2818" %>

棉菓子屋さんを発見。食べるのって20年ぶりぐらいか？

<%= image "img_2821" %>
<%= image "img_2822" %>
<%= image "img_2824" %>
<%= image "img_2828" %>
<%= image "img_2830" %>

夜は寿司。

<pre class="address">
<a href="http://www.bcnrestaurantes.com/eng/barcelona.asp?restaurante=hana-bishi">花菱(HANA BISHI)</a>
Carrer de Balmes, 55 08007 Barcelona
Tel: 93 451 20 65
</pre>

イギリスの行きつけの寿司屋よりは味が劣るけど安くてシャリも多い。
コストパフォーマンスがよし。

<%= image "img_2834" %>
<%= image "img_2835" %>
<%= image "img_2836" %>
