---
title: バルセロナ旅行(3日目)
---
<%= image "img_2938" %>
<%= image "img_2939" %>
<%= image "img_2940" %>
<%= image "img_2942" %>

カタルーニャ広場へ。

<%= image "img_2943" %>
<%= image "img_2944" %>

カタルーニャ地方のダンスを見る。
てっきり民族衣装を来たラテン美少女が踊るのかと思ってたら、じじばばやんけ。

<%= image "img_2949" %>
<%= image "img_2945" %>
<%= image "img_2946" %>
<%= image "img_2948" %>
<%= image "img_2950" %>

<%= image "img_2951" %>
<%= image "img_2954" %>

王の広場。

<%= image "img_2955" %>
<%= image "img_2956" %>
<%= image "img_2958" %>

昼飯。今回の旅でこの店がベストでした。特にArroz Negro(イカ墨ごはん)が絶品。
ロゼワイン一本空けて、イカ墨ごはんとカルボナーラとイカ食って、
さらにデザートとコーヒーで二人で6000円ぐらい。
行列のできる店なので、開店前から並んでおきましょう。

<pre class="address">
La Fonda
c/Escudellers 10
Tel 93 301 75 15
</pre>

<%= image "img_2959" %>
<%= image "img_2960" %>
<%= image "img_2961" %>
<%= image "img_2962" %>
<%= image "img_2963" %>
<%= image "img_2965" %>
<%= image "img_2966" %>
<%= image "img_2967" %>

ホテルに戻ってシェスタ(昼寝)。

<%= image "img_2968" %>

夕方、グエル公園へ。山の上だけどエスカレーターがあるので楽と言われたけど、半分ぐらい壊れてやんの。

<%= image "img_2969" %>
<%= image "img_2972" %>
<%= image "img_2973" %>
<%= image "img_2975" %>
<%= image "img_2977" %>
<%= image "img_2978" %>
<%= image "img_2980" %>

ここら一帯もガウディの設計。
やっぱりこの人はデザインをつっ走るあまり、作る人のこと何も考えてないな。

<%= image "img_2983" %>
<%= image "img_2984" %>
<%= image "img_2985" %>
<%= image "img_2988" %>

バトリョ邸。

<%= image "img_2990" %>

フラメンコの予約してて時間がないので、日本食屋で丼を食う。
ドア開けた瞬間、中国系のなんちゃって日本食屋なことに気づくが手遅れ。

<pre class="address">
TAKE SUSHI
C/.ROSELLON, 152
08036 BARCELONA
Tel: 93 459631
</pre>

- それは鳥の唐揚げではなくて、チキンカツじゃ
- カツ丼が泣けるほどしょっぱい。中国の醤油使ったからか？

<%= image "img_2992" %>
<%= image "img_2993" %>
<%= image "img_2994" %>
<%= image "img_2995" %>

フラメンコ。レベルはマドリッドより高いが、会場が狭い上に、段取り悪し。

<pre class="address">
<a href="http://www.tablaocordobes.com/">Tablao Cordobes</a>
Ramblas, 35
08002 Barcelona
Tel: 93 317 57 11
</pre>

<%= image "img_2996" %>
<%= image "img_2999" %>
