---
title: バルセロナ旅行(4日目)
tags: travel, barcelona, gaudi
---
ミラ邸。ここもガウディ設計の建物。
ガウディとダリのコラボレーション展やってました。
が、ダリは写真とデッサンがちょろっとだけ。だまされた。

<%= image "img_2991" %>
<%= image "img_3000" %>
<%= image "img_3001" %>
<%= image "img_3002" %>
<%= image "img_3003" %>

メイド部屋。

<%= image "img_3004" %>

<%= image "img_3005" %>
<%= image "img_3006" %>
<%= image "img_3010" %>
<%= image "img_3011" %>
<%= image "img_3017" %>
<%= image "img_3018" %>
<%= image "img_3019" %>
<%= image "img_3023" %>

昼飯。サービスはよかったけど、味は今イチ。

<pre class="address">
<a href="http://www.elcangrejoloco.com">El Cangrejo Loco</a>
Moll de Gregal, 29-30 Port Olympic, 08005 Barcelona
Tel: +34 93 2210533
Fax: +34 93 2212657
</pre>

<%= image "img_3024" %>
<%= image "img_3025" %>
<%= image "img_3026" %>
<%= image "img_3027" %>
<%= image "img_3028" %>
<%= image "img_3030" %>
<%= image "img_3031" %>
<%= image "img_3032" %>

トップレスの美女がうようよいる(はずの)バルセロナ海岸。
ええ、寒くて日光浴どころではないです。

<%= image "img_3033" %>
<%= image "img_3034" %>
<%= image "img_3035" %>
