---
title: エジプト旅行(2日目)
tags: travel, egypt, cairo
---
宿からの朝の風景。砂ぼこりが凄いので、建物の屋上はすべて砂だらけ。

<%= image "img_3920" %>
<%= image "img_3921" %>
<%= image "img_3922" %>

とにかく涼しいうちに行動しないといけないので、6時半に起床。
宿の朝ごはん。

<%= image "img_3924" %>

幸か不幸かカイロで一日を過ごすことになったので、ピラミッドを見に行く。

<%= image "img_3925" %>

クフ王のピラミッドでございます。
まさかピラミッドをこの目で見ることになるとは思いませんでした。
人生どうなるか分からんねえ。
しばし感慨にふける。

<%= image "img_3926" %>
<%= image "img_3928" %>
<%= image "img_3929" %>
<%= image "img_3932" %>
<%= image "img_3959" %>
<%= image "img_3962" %>

クフ王の墓室に入る。中は撮影禁止。

<%= image "img_3930" %>
<%= image "img_3931" %>

隣にあるのはカフラー王のピラミッド。化粧岩が上の方に残ってる。

<%= image "img_3935" %>
<%= image "img_3936" %>
<%= image "img_3937" %>
<%= image "img_3941" %>
<%= image "img_3948" %>

向こうは砂漠。

<%= image "img_3942" %>
<%= image "img_3946" %>

クフ王のピラミッドをぐるっと回り込むとスフィンクス。

<%= image "img_3944" %>
<%= image "img_3949" %>
<%= image "img_3950" %>
<%= image "img_3951" %>
<%= image "img_3952" %>
<%= image "img_3953" %>

観光バスが続々とやってくる。

<%= image "img_3955" %>
<%= image "img_3956" %>

バスで町中に戻る。一人2エジプト£(40円)、エアコン付きなので割高。

<%= image "img_3964" %>

<a href="http://www.egyptianmuseum.gov.eg/">エジプト博物館</a>。ツタンカーメンが見れます。

<%= image "img_3967" %>

昼ごはんは韓国系中華料理屋。

<pre class="address">
九龍(Kowloon Restaurant)
2 Abdel Salam Aref St.
(02)5759831
</pre>

イスラム教の人はアルコールを取らないので、ビールが飲めない店が多いですが、ここはオッケー。

<%= image "img_3968" %>
<%= image "img_3969" %>
<%= image "img_3970" %>
<%= image "img_3971" %>

町中をブラブラした後、茶店でハイビスカス茶とシーシャ(水タバコ)を一服。
タバコを吸い慣れてない私は高校生のようにゲホゲホと咳込む。

<%= image "img_3972" %>
<%= image "img_3974" %>
<%= image "img_3975" %>
<%= image "img_3976" %>
<%= image "img_3977" %>

夜はエジプト料理。ビールなし。モロヘイヤスープがうまい！

<pre class="address">
Alfy Bey
3 El Alfi St.
(02)5771888
</pre>

<%= image "img_3978" %>
<%= image "img_3979" %>
<%= image "img_3980" %>
<%= image "img_3981" %>
<%= image "img_3982" %>
<%= image "img_3983" %>
<%= image "img_3984" %>
<%= image "img_3985" %>
<%= image "img_3986" %>

宿に戻ってシャワー浴びた後、いよいよ夜行バスでダハブに向けて出発。
乗り会わせたヨーロッパの6人家族が、9時間の移動中ひたすら起きて、UNOしながら喋ってる。
さらに、サービスのつもりか分からんがアラビア語の映画を大音量で流しっぱなし。
さらにさらに、軍の検問が2時間に一回ぐらいあって、パスポートチェックで起こされる。

寝させてくれ……。

<%= image "img_3988" %>
