---
title: エジプト旅行(3日目)
---
砂岩以外何もない道をひたすら走る。
エジプトって砂漠ばかりの印象がありますが、どちらかと言うと岩ばかりです。
ときどき砂岩の中にポツンと集落が現れる。
こんな厳しいところで、どうやって生活してるのやら。

<%= image "img_3989" %>

そして、9時間狭いバスに揺られたあと、とうとうダハブに到着。

<%= image "img_3991" %>
<%= image "img_3992" %>

あっちこっちのホテルをまわって空き部屋情報と値段交渉をした後、この宿に決定。

<pre class="address">
<a href="http://www.club-red.com/english/accomodation.html">Mohamed Ali Camp</a>
(069)640268
</pre>

クーラー付きでダブルベッドで60エジプト£(1200円)。

<%= image "img_3993" %>
<%= image "img_3994" %>

バスで寝れなかったので、そのまま二人でベッドに倒れ込んで昼寝。
起きてフラフラと散歩。うむ、リゾートだ。空が青い。海が青い。

<%= image "img_3995" %>
<%= image "img_3996" %>
<%= image "img_3997" %>
<%= image "img_4005" %>

昼ごはんは中華料理。これだけ暑いとビールがうまい。

<pre class="address">
Chinese Restaurant (Neptune Hotel)
(069)640262
</pre>

<%= image "img_3998" %>
<%= image "img_3999" %>
<%= image "img_4000" %>
<%= image "img_4001" %>
<%= image "img_4002" %>
<%= image "img_4003" %>
<%= image "img_4004" %>

さらに夕暮れのダハブをブラブラ(ダハブラ)。

<%= image "img_4011" %>
<%= image "img_4012" %>
<%= image "img_4013" %>

夜はやたらと安いエジプト料理屋Buhda Restaurantで食事。写真なし。
チキンカレーがやたらとしょっぱい。

嫁が腹を壊したので整腸剤(エントシード)を買いにいく。
どうも整腸剤はその土地の薬を買った方がいいようです。
