---
title: エジプト旅行(5日目)
tags: travel, egypt, diving, dahab
---
今日は、<a href="http://www.7heavenhotel.com/">Seven Heaven</a>で
リフレッシュ・ダイブの講習を受ける。
僕は3年前にマレーシアで<a href="../../2001/0822-redang/">ライセンスとった</a>きりだし、
嫁に至っては最後のダイビングが10年前なので二人とも完全に忘れてます。
前の晩に教本借りて二人でお勉強。

講習は一人35USドル。オーストラリア出身のTanyaに教わる。
何もかも忘れててマスク・クリアーの練習ではビビって過呼吸になり、ゲップを繰り返す。
辛かった。

紅海は塩分が濃いので、体が浮きまくります。
シュノーケルは楽でいいんだけど、
ダイビング時にはウェイトを重くしないといけないので疲れます。
僕と同じ背丈ぐらいのDivemasterでも10kgつけてた。

Al Caponeで昼飯。ピザを食う。この店は全体的にクオリティが高い。

<%= image "img_4035" %>
<%= image "img_4036" %>
<%= image "img_4037" %>
<%= image "img_4038" %>
<%= image "img_4039" %>
<%= image "img_4040" %>
<%= image "img_4041" %>

昼は目の前の浜で、ダイビング機材を借りっぱなしにしてシュノーケリング。
気温は40度ぐらいですが、水温が以外と冷たい。
泳いでたら20〜30分ぐらいで寒気を感じます。
水温を考えると、紅海のベストシーズンは7〜8月かしら。

Seven Heavenで知り合ったアイさんによると、
Buhda RestaurantではCalamari RiceかMaddley Rice(ツナいりオムライス)を食えと言われたのでもう一度挑戦。

<%= image "img_4043" %>
<%= image "img_4049" %>
<%= image "img_4050" %>
<%= image "img_4051" %>
<%= image "img_4054" %>
<%= image "img_4052" %>

店員がひたすらダルそうにしてた。
聞いてみると、昨日は4時間、一昨日は3時間しか寝てないそうな。
深夜に最後の客が帰るまで店を開けて、朝は7時からオープンなので死ぬほど働いてます。

そういや、早朝ベランダから浜見てたら、店員は全員、店のソファで寝てました。
夏のかきいれどきは合宿状態なのね。
浜で寝るのが一番涼しいし。
