---
title: エジプト旅行(9日目)
tags: travel, egypt, snorkeling, dahab
---
朝から強風。今日はダイビングないので遅めに起きてのんびり朝食。

<%= image "img_4142" %>
<%= image "img_4143" %>
<%= image "img_4144" %>
<%= image "img_4145" %>

ダハブ最終日はシュノーケリングすることにしました。場所は前回と同じBlue Hall。
今回は橋のたもとでよく会う兄ちゃん(Shunodaさん)の紹介で、
75エジプト£(1500円)でタクシーをチャーター。
シュノーケリング道具も込み。
町で借りないでタクシーの運転手が現地でアレンジしてくれるそうな。
そっちの方が全然安いらしい。実際、前回の半額だもんね。

Shundaさんは大変気のいい兄ちゃんで、
ちゃんと着いたかどうか心配してBlue Hallに電話してくれたりした。
後でお礼を言いたかったんだけど、結局会えずじまい。

今回はBlue Hallまでデジカメを持参していくことにする。
ダハブの町は、イスラム教のおかげだと思うけど悪い人はほとんどいません
(窃盗は来世で神に罰せられるらしい)。
とりあえず値段をふっかけて来ますが、向こうに別に悪気はありません。そういう習性です。
逆に一旦値段が決まれば向こうはちゃんと約束守ります
(同じくイスラム教は嘘をついちゃいけないらしい)。

到着後、とりあえず海の家に荷物を置く。そこからの風景。

<%= image "img_4154" %>
<%= image "img_4146" %>
<%= image "img_4148" %>
<%= image "img_4155" %>
<%= image "img_4156" %>
<%= image "img_4157" %>
<%= image "img_4162" %>
<%= image "img_4163" %>
<%= image "img_4164" %>

で、潜ったり、本読んだり、寝たり、飲んだり、まったり。

昼飯。海の家の飯なので、値段が高くて粉っぽいカレーとかパサパサした焼きそばとかそんな感じ。

<%= image "img_4149" %>
<%= image "img_4150" %>
<%= image "img_4151" %>
<%= image "img_4152" %>

真中で浮かんでるの僕。

<%= image "img_4161" %>

帰り道。

<%= image "img_4165" %>
<%= image "img_4169" %>
<%= image "img_4170" %>
<%= image "img_4172" %>
<%= image "img_4175" %>
<%= image "img_4177" %>

夜はこちらで知り合った日本人のみなさんとイタリア料理。
Crab Pastaがおいしゅうございました。

<%= image "img_4179" %>
<%= image "img_4180" %>
<%= image "img_4181" %>
<%= image "img_4182" %>
<%= image "img_4188" %>

旅行中のアイさんと、現地で起業中のマーシーさんとタツヤさん。
二人はダハブから情報発信もしてます→<a href="http://dahabnews.exblog.jp/">Dahab News</a>。

<%= image "img_4183" %>
<%= image "img_4184" %>
<%= image "img_4187" %>

さよならダハブ。

<%= image "img_4178" %>

夜10時のバスでカイロに移動。別れの会話。

「酸素をどうもありがとうございました。」  
「また一緒に吸いましょう！」(ガッシリと握手)
