---
title: 久しぶりのロンぶら
tags: london, sightseeing, museum
---
久しぶりにロンドン観光。

えーっと、地下鉄です。2年も住んでるのに今さら写真撮んなって感じですな。

<%= image "img_4191" %>

テムズ川沿いをぶらぶら。

<%= image "img_4192" %>
<%= image "img_4193" %>
<%= image "img_4194" %>

TATE Modern。近代美術館です。やっぱり近代芸術は分からんぞ。

<%= image "img_4195" %>
<%= image "img_4197" %>

2面ボスって感じ？ 下の丸いのが弱点ね。

<%= image "img_4196" %>

眺めのいいカフェでおやつ。

<%= image "img_4199" %>
<%= image "img_4200" %>
<%= image "img_4201" %>
<%= image "img_4202" %>

ミレニアム・ブリッジを渡る。

<%= image "img_4204" %>
<%= image "img_4207" %>
<%= image "img_4210" %>

St.Paul大聖堂。

<%= image "img_4214" %>
<%= image "img_4216" %>
<%= image "img_4218" %>

<a href="http://www.rules.co.uk/intertnl/welcj.html">Rules</a>でごはん。
鴨のローストを食す。

<%= image "img_4220" %>
<%= image "img_4219" %>
<%= image "img_4221" %>
<%= image "img_4222" %>
<%= image "img_4223" %>
