---
title: 秘密の花園
tags: park, garden, uk
---
本日は<a href="http://hoary.org/snaps/engl/pl.html">Polesden Lacey</a>なる公園にお出かけ。
地球の歩き方によると「秘密の花園」だそうで。

<%= image "img_4230" %>
<%= image "img_4231" %>
<%= image "img_4232" %>
<%= image "img_4233" %>
<%= image "img_4234" %>
<%= image "img_4235" %>
<%= image "img_4236" %>

<%= image "img_4237" %>
<%= image "img_4238" %>
<%= image "img_4239" %>
<%= image "img_4241" %>
<%= image "img_4242" %>
<%= image "img_4243" %>
<%= image "img_4244" %>
<%= image "img_4245" %>
<%= image "img_4247" %>
<%= image "img_4248" %>
<%= image "img_4251" %>
<%= image "img_4252" %>
<%= image "img_4253" %>

おお何か腐海っぽい。

<%= image "img_4254" %>
<%= image "img_4255" %>

公園内は散歩する人でにぎわってます。

<%= image "img_4256" %>
<%= image "img_4257" %>
<%= image "img_4258" %>
<%= image "img_4259" %>

National Trust製のリンゴジュース。うんまい。

<%= image "img_4261" %>

Richmondで遅めのブランチ。トルコ料理です。

<pre class="address">
<a href="http://www.escale.co.uk/">Escale</a>
94 KEW ROAD, RICHMOND, SURREY
020-8940-0033
</pre>

<%= image "img_4262" %>
<%= image "img_4263" %>
<%= image "img_4264" %>
<%= image "img_4265" %>
<%= image "img_4266" %>
<%= image "img_4267" %>
