---
title: Springbank蒸留所
tags: whisky, scotland
---
kazuさんの日記は<a href="http://www.mew.org/~kazu/sake/kura/islay/0802.html">こちら</a>

kazuさんと許さんがイギリスに来て蒸留所めぐりをすることになりました。
Islay島は以前に行っているので、キャンベルタウンの<a href="http://www.springbankdistillers.com/">Springbank</a>蒸留所だけおつきあい。

グラスゴー経由でキャンベルタウンへ。人生で2番目に小さい飛行機に乗る。
離陸から着陸までコックピット開けっぱなしです。ええんかいな。

<%= image "img_4270" %>
<%= image "img_4268" %>
<%= image "img_4269" %>

キャンベルタウンに到着。これも小さい空港。

<%= image "img_4271" %>

バスもタクシーも何もないので、白タクを携帯で呼んで町へ移動。

<%= image "img_4272" %>
<%= image "img_4273" %>

ポール・マッカトニーの嫁さんの像。

<%= image "img_4274" %>

昼飯。

<pre class="address">
The Palm Bistro
Tel: 01586554724
6 Hall Street, Campbeltown, PA28 6BU
</pre>

<%= image "img_4275" %>
<%= image "img_4276" %>

まだ見学ツアーの時間まで間があるので、公園を散歩。

<%= image "img_4279" %>

中央に小さく写っているのが尿意を抑え切れずスコットランドで野ションをする山本和彦(34)。

<%= image "img_4278" %>

で、いよいよ蒸留所へ。

<%= image "img_4280" %>
<%= image "img_4281" %>
<%= image "img_4282" %>
<%= image "img_4283" %>
<%= image "img_4284" %>
<%= image "img_4285" %>
