---
title: ビール・フェスティバル
---
kazuさんの日記は<a href="http://www.mew.org/~kazu/sake/kura/islay/0806.html">こちら</a>

平日の昼間っからロンドン中の酔っ払いが集まるビール・フェスティバルにやってきました。
嫁さんがお弁当作ってくれて4人で、Olympiaという展示会場へ。

<%= image "img_4305" %>
<%= image "img_4304" %>
<%= image "img_4306" %>
<%= image "img_4307" %>
<%= image "img_4308" %>

入場料は一人6ポンド(1200円)。
さらに保証金を出して、1パイントかハーフ・パイントのグラスを借りる。
1パイントで3ポンドなので、持ってかえって記念にするのも可。

要はでっかいパブやね。ひたすら色んなビールを飲みまくる。

<%= image "img_4309" %>
<%= image "img_4310" %>
<%= image "img_4311" %>
<%= image "img_4312" %>
<%= image "img_4313" %>
<%= image "img_4315" %>
<%= image "img_4316" %>
<%= image "img_4318" %>
<%= image "img_4321" %>
<%= image "img_4323" %>
