---
title: 野外コンサート
tags: concert, classical, picnic
---
藤原さんのご招待で<a href="http://www.picnicconcerts.com/marble_event.asp?ev=26">野外コンサート</a>へ行く。
クラシック聞くのって学生時代の課外授業以来かも。

クラシックつっても全然堅苦しくなくて、まずは開宴二時間前に会場入りします。
んで、ピクニック気分で持って来た飯やら酒を飲み食い。
と、思いきや雨が降り出したので一時中止。
中には、ブルーシートを頭からかぶって飯食ってる人もいます。

<%= image "img_4423" %>

15分ぐらいで雨がやんだので、ピクニック再開。

<%= image "img_4424" %>
<%= image "img_4426" %>
<%= image "img_4433" %>
<%= image "img_4434" %>
<%= image "img_4437" %>

周りの皆さんもフル装備で来ております。

<%= image "img_4427" %>

ステージ。席も何もありません。芝生を陣どるだけ。

<%= image "img_4428" %>

飯食ってると売り子さんが試供品を持って来たりする。

<%= image "img_4429" %>
<%= image "img_4430" %>

周りも含めてホロ酔いつーか酔っ払い。

<%= image "img_4435" %>
<%= image "img_4438" %>
<%= image "img_4439" %>
<%= image "img_4441" %>
<%= image "img_4443" %>
<%= image "img_4444" %>

開演一時間前。ぼちぼち人が増えてきました。

<%= image "img_4445" %>
<%= image "img_4446" %>
<%= image "img_4447" %>
<%= image "img_4449" %>
<%= image "img_4450" %>

アルコールが切れたので、屋台でワインを買う。

<%= image "img_4454" %>

いよいよ開演。人が一杯。5000人ぐらいなそうな。

<%= image "img_4455" %>
<%= image "img_4464" %>
<%= image "img_4458" %>

今日の演奏はRoyal Philharmonic Orchestra。ボーカルに、Katherine JenkinsとAmici Forever。
酔っ払い相手に一流の演奏を聴かせてくれます。
みんなよく知ってる曲を中心に、かつ一曲一曲を短めにして飽きさせないようになってます。

前の方に出ていってじーっと聴きいってる子供たちもいます。
踊ってる子もいます。
一流のクラシックをこういう風に家族で気軽に楽しめるところがイギリスって偉いなあと思う。
伝統芸術がこうやって受け継がれていくのね。
この子たちのうち誰かが20年後には目の前の舞台に立ってるかもしれない。

<%= image "img_4460" %>
<%= image "img_4463" %>
<%= image "img_4466" %>
<%= image "img_4467" %>

中休みを挟んで後半。全部で2時間ぐらいのコンサートだけど、全然飽きさせません。素晴らしい。

<%= image "img_4472" %>
<%= image "img_4478" %>
<%= image "img_4479" %>

最後は国旗を振って大盛り上がり。

<%= image "img_4480" %>

そして、花火。イギリスの夏も終りです。

<%= image "img_4484" %>
<%= image "img_4485" %>
<%= image "img_4489" %>
<%= image "img_4497" %>
<%= image "img_4498" %>
<%= image "img_4499" %>
<%= image "img_4503" %>
<%= image "img_4506" %>
