---
title: サンバ・カーニバル
tags: festival, london
---
ノッティングヒルの<a href="http://www.bbc.co.uk/1xtra/events/nhc/">サンバ・カーニバル</a>にやってきました。
ヨーロッパで一番大きなカーニバルだそうです。今年で40回目。

<%= image "img_4539" %>

そもそもこの地でカーニバルが開かれることになったのは、
時を遡ること40年前のノッティングヒル。
母子ともに危篤状態で、もはや誰もが諦めていた逆子の赤ちゃんを難産の末、
取り出したのがブラジル生まれの伝説の産婆マリア・アンダルシア。
この偉業を讃えて(以下略)。

ということで、世界中から集まった産婆マニアでごったがえしてます。見えねえ。

<%= image "img_4511" %>
<%= image "img_4513" %>
<%= image "img_4515" %>
<%= image "img_4518" %>
<%= image "img_4519" %>
<%= image "img_4521" %>

家のベランダから観てるやつ。いいなあ。この日のためにここに越して来たんだろうなあ。

<%= image "img_4516" %>

やっとのことで、見物ポイントに潜り込む。

<%= image "img_4523" %>
<%= image "img_4526" %>
<%= image "img_4527" %>
<%= image "img_4528" %>
<%= image "img_4530" %>
<%= image "img_4533" %>
<%= image "img_4536" %>

腹減ったので、屋台でブラジル料理(？)を食う。
まあ、でっかい学園祭やね。

<%= image "img_4538" %>

ノッティングヒル駅から帰ろうとしたら、この駅は降りる人専用で、
隣のクィーンズウェイまで歩けと言われる。
ついでなんでクィーンズウェイ駅前をぶらついてこ洒落た飲茶屋に入る。

<%= image "img_4547" %>
<%= image "img_4540" %>
<%= image "img_4541" %>
<%= image "img_4542" %>
<%= image "img_4543" %>
<%= image "img_4544" %>
<%= image "img_4545" %>
<%= image "img_4546" %>

水タバコ屋も発見。久しぶりに一服する。

<%= image "img_4550" %>
<%= image "img_4548" %>
<%= image "img_4549" %>
