---
title: ロンぶら その2
tags: castle, sightseeing, uk
---
妹が来たので、はじめて真剣にロンドン観光する。
つまり、日本流にひたすら名所を回り、イベントをこなす。

AM9:00。West Minster Abbey見学。

<%= image "img_4627" %>
<%= image "img_4626" %>
<%= image "img_4628" %>
<%= image "pict0027" %>
<%= image "pict0028" %>

St.James Park脇を散歩しながら、バッキンガム宮殿へ。

<%= image "pict0029" %>
<%= image "pict0030" %>
<%= image "img_4630" %>
<%= image "pict0031" %>
<%= image "pict0032" %>
<%= image "pict0033" %>
<%= image "pict0035" %>

衛兵交替式の練習してた。

<%= image "img_4632" %>
<%= image "pict0036" %>
<%= image "pict0037" %>

11時ぐらいから衛兵交替式の席取り。

<%= image "img_4634" %>
<%= image "img_4635" %>
<%= image "img_4637" %>
<%= image "pict0044" %>
<%= image "pict0045" %>
<%= image "pict0067" %>

11:30交替式スタート。

<%= image "img_4638" %>
<%= image "pict0046" %>
<%= image "pict0047" %>
<%= image "pict0055" %>
<%= image "img_4646" %>
<%= image "pict0056" %>

Green Parkをつっきって、Ritzホテルへ。

<%= image "pict0069" %>
<%= image "img_4648" %>

12:00。Ritzホテルでアフタヌーン・ティー。茶とお菓子食うのに、男はネクタイ、ジャケット着用。

<%= image "img_4652" %>
<%= image "pict0070" %>
<%= image "img_4654" %>
<%= image "img_4650" %>
<%= image "pict0071" %>

13:30ピカデリーサーカスにて記念撮影。

<%= image "pict0073" %>
<%= image "img_4656" %>
<%= image "img_4658" %>
<%= image "img_4659" %>
<%= image "img_4661" %>
<%= image "pict0075" %>
<%= image "img_4665" %>

リージェントストリートおよびオックスフォードストリートをショッピング。
途中疲れたのでバスで移動。昼間のオックスフォードストリートってバスばっかりやな。

<%= image "pict0076" %>
<%= image "pict0077" %>
<%= image "pict0079" %>
<%= image "pict0080" %>
<%= image "pict0081" %>

ちっこい公園で記念撮影。

<%= image "img_4667" %>
<%= image "img_4669" %>

17:00からミュージカル(Mamma Mia)鑑賞。その後、Richmondのトルコ料理屋へ(20:30)。

<pre class="address">
<a href="http://www.escale.co.uk/">Escale</a>
94 KEW ROAD, RICHMOND, SURREY
020-8940-0033
</pre>

<%= image "img_4674" %>
<%= image "img_4676" %>
<%= image "pict0082" %>
<%= image "pict0083" %>
<%= image "pict0084" %>
