---
title: ロンぶら その3
tags: museum, sightseeing, uk
---
嫁は風邪ひいて家で寝てました。

10:00、<a href="http://www.thebritishmuseum.ac.uk/">大英博物館</a>。
10:30からExhibitionの"Mammy: the inside story"をみる。
ミイラをバラさないで色々解析しましたという話。大変おもしろかった。
予約変更が伝わってなくて、多少モメる。

<%= image "pict0085" %>
<%= image "img_4685" %>
<%= image "img_4686" %>
<%= image "img_4687" %>
<%= image "pict0086" %>
<%= image "pict0088" %>
<%= image "pict0089" %>
<%= image "pict0092" %>
<%= image "pict0094" %>
<%= image "pict0100" %>
<%= image "pict0101" %>
<%= image "pict0102" %>

<%= image "pict0095" %>
<%= image "pict0096" %>
<%= image "pict0097" %>

大英博物館内の図書館カッコいいよねえ。

<%= image "pict0098" %>
<%= image "img_4688" %>

コベントガーデンに向かう。

<%= image "pict0103" %>
<%= image "pict0104" %>
<%= image "pict0106" %>
<%= image "pict0107" %>

大道芸人さん。

<%= image "pict0110" %>
<%= image "pict0111" %>

時間が余ったので川沿いその他を散歩。

<%= image "pict0112" %>
<%= image "pict0113" %>
<%= image "pict0114" %>
<%= image "pict0115" %>
<%= image "pict0116" %>
<%= image "pict0118" %>
<%= image "pict0120" %>
<%= image "pict0122" %>
<%= image "pict0123" %>

London Eye(観覧車)に乗ろうとしたら、全部止まってるし誰も乗ってない。
良く見ると警官がいて立ち入り禁止になってる。どうしたの？と聞いたら、
「Someone is climbing on the top」だって。おーい。

チケットカウンターにいったら、いつ再開できるか現状不明なので、再予約は不可能。
予約チケットを持っといて後日来てくださいと言われる。

<%= image "pict0124" %>

夜のトラファルガー広場で記念撮影。

<%= image "pict0128" %>
<%= image "pict0131" %>
<%= image "pict0132" %>

夜はタイ料理。

<pre class="address">
<a href="http://www.blueelephant.com/london/">The Blue Elephant</a>
4-6 Fulham Broadway
London SW6 1AA
Tel: 020 7385 6595
</pre>

<%= image "pict0138" %>
<%= image "pict0140" %>
<%= image "pict0143" %>
<%= image "pict0145" %>
