---
title: ロンぶら その4
tags: london, tower, sightseeing
---
聖ポール大聖堂。

<%= image "img_4690" %>
<%= image "pict0148" %>
<%= image "pict0149" %>
<%= image "pict0150" %>

ロンドン塔へ移動。

<%= image "pict0151" %>
<%= image "pict0154" %>
<%= image "pict0155" %>
<%= image "img_4697" %>
<%= image "img_4696" %>
<%= image "img_4693" %>
<%= image "img_4698" %>

中に入る。予想以上に面白かった。
観光の際は日本語ガイドマシンを借りることをお勧めします。

<%= image "pict0158" %>
<%= image "pict0159" %>
<%= image "pict0167" %>
<%= image "img_4700" %>
<%= image "pict0160" %>
<%= image "pict0164" %>
<%= image "img_4701" %>

王侯貴族が幽閉されてた部屋。おそらく9日間女王もここに閉じ込められていたんでしょう。

<%= image "pict0165" %>
<%= image "pict0166" %>
<%= image "img_4704" %>

<%= image "img_4705" %>
<%= image "img_4706" %>
<%= image "img_4712" %>
<%= image "pict0170" %>
<%= image "pict0175" %>
<%= image "img_4715" %>
<%= image "pict0177" %>
<%= image "pict0179" %>
<%= image "pict0180" %>
<%= image "pict0181" %>

芝生でちょっとした決闘のお芝居。

<%= image "img_4711" %>
<%= image "pict0172" %>

凶暴なカラス。
ここのカラスが亡びると王家が亡びるという言い伝えがあるので、大事にされてるらしい。

<%= image "img_4713" %>
<%= image "pict0162" %>
<%= image "pict0176" %>

宝石とか鎧とかよーわからんのとか見物。

<%= image "pict0182" %>
<%= image "img_4716" %>
<%= image "pict0183" %>

予想以上にロンドン塔に時間かけすぎたので、ここからすごい駆け足ツアー。
まずナショナルギャラリー。時間がないので15分で鑑賞終了。
一応、個人的には9日間女王を久しぶりにチェック。

<%= image "pict0184" %>
<%= image "img_4717" %>

<%= image "pict0186" %>
<%= image "img_4719" %>

昼飯は飲茶。超混みで注文したけどなかなか来ない。20分でかっこむ。

<pre class="address">
<a href="http://www.london-eating.co.uk/2966.htm">Joy King Lau</a>
3 Leicester Street
London, WC2H 7BL
Tel: 020 7437 1133
</pre>

<%= image "pict0195" %>
<%= image "img_4720" %>
<%= image "img_4721" %>
<%= image "img_4722" %>
<%= image "img_4723" %>
<%= image "img_4724" %>

店出てタクシーに慌てて飛び乗ってライオン・キングへ。

<%= image "pict0188" %>
<%= image "pict0189" %>

妹と嫁は中華街見物。

<%= image "pict0191" %>
<%= image "pict0190" %>
<%= image "pict0192" %>
<%= image "pict0193" %>
<%= image "pict0196" %>
<%= image "pict0187" %>
<%= image "pict0198" %>
<%= image "pict0200" %>

あたしゃ別行動でロンドン・アイのチケットを再予約に行く。

<%= image "img_4725" %>

今日は動いてました。
通常25人乗りだけど空いてたので、8人ぐらいで乗れた。
タイミング調整すれば貸切りできたかも。

<%= image "img_4726" %>
<%= image "img_4729" %>
<%= image "pict0207" %>
<%= image "pict0209" %>
<%= image "pict0217" %>
<%= image "pict0221" %>
<%= image "img_4732" %>
<%= image "img_4735" %>
