---
title: 中華サーカス団来たる
tags: circus, entertainment, uk
---
yuo君がフランスとスイスに出張の帰りに遊びに来ました。

<%= image "pict0001" %>
<%= image "pict0004" %>

数日前から近所の公園にサーカスの天幕がたってたので観に行く。
"Chines Stete Circus"というサーカス団。
事前調査では"Lion Dance"とか書いてあったので超期待。
電話かけたら、30分前に会場に来てチケット買えと言われた。

<%= image "pict0006" %>

チケットは£20の正面席を買う。チケット売場の写真を見たら獅子舞の写真を発見。
あー、"Lion Dance"って獅子舞かあ直訳やんけ。

<%= image "pict0014" %>

サーカスはいわゆる西洋サーカスではなくて、中国の雑技団系。
どの演しものも大変素晴らしい。上海雑技団と比べても遜色ないと思う。

<%= image "pict0007" %>
<%= image "pict0008" %>
<%= image "pict0013" %>
<%= image "pict0016" %>
<%= image "pict0018" %>
<%= image "pict0021" %>
<%= image "pict0022" %>

最後はギネスにも載ってる自転車14人乗り。

<%= image "pict0023" %>
<%= image "pict0029" %>

晩飯は牡蛎を食いにいく。最高でしたーん。

<pre class="address">
<a href="http://www.london-eating.co.uk/2445.htm">Pere Michel</a>
11 Bathurst Street, London, W2 2SD
Tel: 020 7723 5431 
</pre>

<%= image "pict0031" %>
<%= image "pict0030" %>
<%= image "pict0032" %>
<%= image "pict0033" %>
<%= image "pict0034" %>
<%= image "pict0036" %>
<%= image "pict0037" %>
<%= image "pict0038" %>
