---
title: アウトレットでお買い物
tags: outlet, shopping
---
<%= image "pict0039" %>

yuo君が買い物がしたいというので、ロンドン近郊のアウトレットをwebで探すといいのを見つけた。

<pre class="address">
<a href="http://www.swindondesigneroutlet.com/consumer.asp">McArthur Glen</a> Designer Outlets
Swindon
</pre>

車でざっと1時間半ぐらいの距離。頑張ったので1時間で到着。

<%= image "pict0041" %>
<%= image "pict0044" %>
<%= image "pict0046" %>

買いものターイム。

<%= image "pict0048" %>

昼飯はアウトレットの中のファストフード。

<%= image "pict0049" %>
<%= image "pict0053" %>
<%= image "pict0054" %>

帰りはのんびり帰ります。

<%= image "pict0056" %>
<%= image "pict0057" %>
<%= image "pict0058" %>
<%= image "pict0059" %>

晩飯は議論の結果、日立ヨーロッパのそばにおいしいパブがあるので、そこに行くことにする。
途中会社によって記念撮影。

<%= image "pict0062" %>
<%= image "pict0063" %>
<%= image "pict0065" %>

<pre class="address">
<a href="http://www.belandthedragon.co.uk/">Bel and the Dragon</a>
High Street, Cookham
Berkshire SL6 9SQ
Tel: 01628 521263
</pre>

<%= image "pict0067" %>
<%= image "pict0069" %>
<%= image "pict0070" %>
<%= image "pict0072" %>

<%= image "pict0073" %>
<%= image "pict0074" %>
<%= image "pict0075" %>
<%= image "pict0076" %>
<%= image "pict0077" %>
<%= image "pict0078" %>
