---
title: 焼き鳥
tags: japanese, restaurant, yakitori
---
うまい焼き鳥屋があるという噂を聞いたので向かう。

<pre class="address">
<a href="http://www.jinkichi.com/">Jinkichi</a>
73 Heath Street
London
<a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&amp;name=NW3+6UG">NW3 6UG</a>
</pre>

車で行ったら全然駐車エリアありゃしねえ。車で5分ぐらい離れたところに停めてバスで向かう。

<%= image "cimg0028" %>
<%= image "cimg0031" %>

ちゃんと炭火で焼いてます。イギリスで炭火で焼く焼き鳥屋って初めてみた。

美少年と鬼ごろし。

<%= image "cimg0033" %>
<%= image "cimg0036" %>

なんちゃって焼き鳥屋ではなくて、かなり本格的です。

<%= image "cimg0038" %>
<%= image "cimg0040" %>
<%= image "cimg0042" %>
<%= image "cimg0043" %>
<%= image "cimg0044" %>
<%= image "cimg0045" %>
<%= image "cimg0046" %>
<%= image "cimg0047" %>
<%= image "cimg0049" %>
<%= image "cimg0050" %>

イギリスで生グレープフルーツサワーなんか初めて飲んだ。£6(1200円)。高くて泣ける。

<%= image "cimg0051" %>

以上、日本だと並レベルですが、イギリスだとかなり貴重な存在です。
でも、こういうの食べると日本への郷愁がつのるだけなのよね。
