---
title: デジカメ購入
tags: camera, Exilim, gadget
---
3年と6か月ぶりにデジカメを購入。
薄さに惚れてExlim <a href="http://www.exilim.jp/ex_s100/">EX-S100</a>にしました。

部屋でテスト。カーテン降ろして、室内灯つけた状態です。
今いちピンボケになるのは僕の腕が悪いのかなあ。

<%= image "cimg0006" %>
<%= image "cimg0008" %>
<%= image "cimg0009" %>

マクロ撮影。

<%= image "cimg0014" %>

光学ズーム＋デジタルズーム。

<%= image "cimg0021" %>

斜めにとった本の表紙を自動的に正面からの写真に補正してくれる機能。
結構、使えるやん。

<%= image "cimg0022" %>
<%= image "cimg0023" %>

2日使っただけの感想：

- デジカメの性能、軽さそのものにはとりあえず不満なし
- SDカードの取り出し時に<a href="http://image.itmedia.co.jp/pcupdate/articles/0409/14/ki_bottom.jpg">蓋壊しそう</a>で恐い。電池は抜かずに充電できるので、電池とSDカードの位置が逆だと思う
- <del>クレイドルがないと充電できないので、旅行時にクレイドルごと持ち歩かないといけないのが不便。携帯電話みたいにACアダプターを直結できるようにすべきである。せっかく本体を小さく軽くしてるのに旅行時の総体積が増加するのは残念。</del>
- <del>オプションの<a href="http://www.exilim.jp/option/option.html">モバイルチャージャー</a>もACアダプタ内蔵してないので、使いにくそう</del>

[2004/10/21: 追記] 最近のデジカメは撮影可能枚数が飛躍的に向上しており、旅行時といえども充電する機会はほとんどなく、そもそも充電器を持っていかなくていいのではというご意見を頂きました。こればっかりはしばらく使ってみないと分からないので、下二つの感想は保留にします。

<del>あと、一緒に購入した256MBのSDカードがなぜかFreeBSD 5.3RC1で認識されない。
Windowsを一々起動しないといけないので面倒くさい。</del>
6-CURRENTなら問題ないみたい。
