---
title: プチロンぶら
tags: church, sightseeing, uk
---
今まで行きそこなっていた観光地を巡るモードに突入。
今日は、<a href="http://www.westminstercathedral.org.uk/art/art_tour.html">Westminster Cathedral</a>へ(Westminster Abbeyとは違うので注意)。

<%= image "cimg0063" %>
<%= image "cimg0067" %>
<%= image "cimg0070" %>
<%= image "cimg0074" %>

一人3ポンド払ってエレベーターで塔に昇る。
研修中のエレベーターボーイの爺ちゃんは酒くさかった。
戦時中、岩国に3か月程滞在していたそうです。

ぶっちゃけお金払って昇る値打ちなし。
ここら辺はシティエリアで高い建物が多いので、景観よくないす。

<%= image "cimg0075" %>
<%= image "cimg0076" %>
<%= image "cimg0077" %>
<%= image "cimg0079" %>
<%= image "cimg0080" %>
<%= image "cimg0081" %>
<%= image "cimg0084" %>
<%= image "cimg0085" %>

観光終了。Sohoでいつもの飲茶。

<pre class="address">
<a href="http://www.london-eating.co.uk/2966.htm">Joy King Lau</a>
3 Leicester Street
London, WC2H 7BL
Tel: 020 7437 1133
</pre>

<%= image "cimg0093" %>
<%= image "cimg0094" %>
<%= image "cimg0098" %>
<%= image "cimg0099" %>
<%= image "cimg0101" %>
<%= image "cimg0102" %>
<%= image "cimg0103" %>
<%= image "cimg0104" %>

その後、首筋が痛いほどこってるので、日系のマッサージ屋さんに行く。
かなり楽になりました。
