---
title: カレー
tags: curry, Indian, restaurant
---
Shigeyaさんが日本から仕事で来たので、
いきつけのカレー屋に行く。

<pre class="address">
The Clay Oven
13 The Mall, Ealing, London, <a href="http://www.streetmap.co.uk/newsearch.srf?PostCode&amp;name=W5+2PJ">W5 2PJ</a>
Telephone: 020 8840 0313 
</pre>

<%= image "cimg0137" %>
<%= image "cimg0138" %>
<%= image "cimg0140" %>
<%= image "cimg0141" %>
<%= image "cimg0143" %>
<%= image "cimg0144" %>
<%= image "cimg0145" %>
<%= image "cimg0146" %>
<%= image "cimg0147" %>
<%= image "cimg0148" %>
<%= image "cimg0149" %>
<%= image "cimg0151" %>

やっぱ飯の写真が暗いなあ。
設定を調整したらどうにかなるのかしら。もうちょと使いこんでみないとわからんな。
