---
title: シュツットガルト出張 その2
---
今日もMichaelさんが、ドイツ料理屋さんに連れていってくれる。

<%= image "cimg0188" %>
<%= image "cimg0184" %>

<pre class="address">
<a href="http://www.schlachthofbraeu.de">SCHLANCHTHOF</a>
Muhlstrasse 15 72622 Nurtingen
Tel 07022 939571
</pre>

豚肉の煮込んだのと、内蔵のソーセージ。

<%= image "cimg0182" %>
<%= image "cimg0176" %>
<%= image "cimg0177" %>
<%= image "cimg0178" %>
<%= image "cimg0179" %>

<%= image "cimg0181" %>
<%= image "cimg0183" %>

さて、バッテリーの保ちですが、2泊3日の出張で撮った写真が37枚。
バッテリーは一つの目盛も減らず。大したもんだ。ビバメイドインジャパン。
