---
title: 花火
tags: event, fireworks, uk
---
家の近所の<a href="http://www.ealingcc.co.uk/">Ealing Cricket Club</a>で花火やってたので、
晩飯食ったあとワイン持って観に行く。

霧雨でしたが、問題なしに実行。

<%= image "cimg0190" %>
<%= image "cimg0191" %>

<%= image "cimg0194" %>
<%= image "cimg0195" %>
<%= image "cimg0197" %>
<%= image "cimg0199" %>
<%= image "cimg0203" %>
<%= image "cimg0208" %>
<%= image "cimg0210" %>
<%= image "cimg0214" %>
<%= image "cimg0216" %>

去年も書きましたが、イギリスでは11月5日前後に花火をするのが一般的です。
説明は<a href="http://britannia.cool.ne.jp/cinema/topic/0-guyfawkes.html">ここ</a>。
ガイ・フォークスは結局、民衆に好かれてるのか、それとも嫌われてるのか？
花火あげるとこ見ると好かれてるっぽいけど、人形焼かれてるし、ほんまよーわからん。
