---
title: 韓国料理と蟹キムチ
tags: korea, restaurant
---
New Maldenの韓国人街に飯を食いにいく。<a href="http://www.japan-journals.co.uk/040603/surv/s5.html">参考資料</a>。

<pre class="address">
Miga 79/81
Kingston Road, New Malden, KT3 3PB
020 8942 1811
</pre>

ユッケも石焼きビビンバもおいしゅうございました。次来たら鍋物を試してみよう。

<%= image "cimg0282" %>
<%= image "cimg0283" %>
<%= image "cimg0287" %>
<%= image "cimg0291" %>
<%= image "cimg0292" %>
<%= image "cimg0293" %>
<%= image "cimg0295" %>
<%= image "cimg0298" %>
<%= image "cimg0299" %>
<%= image "cimg0300" %>
<%= image "cimg0301" %>
<%= image "cimg0303" %>
<%= image "cimg0305" %>

ウェイトレスのお姉さんの制服萌え。つーことで、隠しどり。

<%= image "cimg0290" %>

Jinmiなる食材屋で買った蟹キムチとカルビ。

<%= image "cimg0312" %>
<%= image "cimg0317" %>

蟹キムチは次の日に食ったけど、ほどよくキムチが漬かっててもう最高でした。
嫁と二人でバクバク食う。
