---
title: パリ旅行 その2
tags: Paris, travel, restaurant
---
朝飯食った後、2度寝してたら掃除婦に起こされる。時計見たら12時でした。あちゃー。

モンマルトルへ。

<%= image "cimg0439" %>
<%= image "cimg0441" %>

ダリ美術館。

<%= image "cimg0443" %>
<%= image "cimg0444" %>
<%= image "cimg0445" %>

<%= image "cimg0446" %>
<%= image "cimg0451" %>
<%= image "cimg0458" %>

地下鉄で移動。この駅めちゃめちゃ汚い。

<%= image "cimg0461" %>

昼飯。大衆食堂です。

<pre class="address">
Chartier　
7, rue du Faubourg Montmartre
</pre>

<%= image "cimg0469" %>

もちろん昼間っからワインをいただきます。

<%= image "cimg0462" %>
<%= image "cimg0463" %>
<%= image "cimg0465" %>
<%= image "cimg0466" %>
<%= image "cimg0467" %>

さらにセーヌ川沿いのカフェで休憩。あたしゃ眠いの。

<%= image "cimg0470" %>
<%= image "cimg0476" %>

暮れなずむセーヌ川。つーか、さみぃ。

<%= image "cimg0481" %>
<%= image "cimg0482" %>
<%= image "cimg0484" %>

夜のシャンゼリゼ通り。

<%= image "cimg0500" %>
<%= image "cimg0504" %>
<%= image "cimg0508" %>
<%= image "cimg0517" %>
<%= image "cimg0524" %>

ふと通りかかった店でディスプレイされてたジャケット。すげえ。

<%= image "cimg0516" %>

バスティーユ広場へ移動。

<%= image "cimg0527" %>

オイスターレストラン。ユーロスターまで時間がないので、生牡蛎とシャンパンとデザートだけ食う。
牡蛎がおいしゅうございました。うっとり。

<pre class="address">
<a href="http://www.lebarahuitres.com/">Le Bar &agrave; Hu&icirc;tres</a>
33, Bd Beaumarchais
75003 PARIS
Tel: (1) 48 87 98 92
</pre>

<%= image "cimg0541" %>
<%= image "cimg0528" %>
<%= image "cimg0529" %>
<%= image "cimg0530" %>
<%= image "cimg0532" %>
<%= image "cimg0533" %>
<%= image "cimg0536" %>
<%= image "cimg0539" %>
