---
title: オーストリア旅行 その1
---
「よーろぴあん・うぃんたー・りぞーと」なるものを味わうべく。
オーストリアにスノボーしに行くことにする。
アルプスでのスキーというとフランスやスイスが一般的ですが、
オーストリアを選択しました。だって滑った後にビールが飲みたいんだもん。

ヨーロッパでのスキー旅行の常識がわからんので、
ツアーのパンフレットを首っぴきで読む。
まとめるとこんな感じ。

- 7泊または14泊が普通
- 往復のフライト、空港からホテルまでの移動、ホテルの宿泊、朝食と夕食がついてくる
- 夕食は複数コースから選べる
- いまだにスキーが主流。スキーとスノーボードは滑るコースが別れてるスキー場もある
- 飛行機移動が入るのでスキー板、ボードはレンタルですます人が大半みたい。スキー板、ポードの飛行機持ち込みは追加料金取られる
- パックにはリフト代は含まれてない。なぜなら、みんなスキー場で滑るとは限らないから

自分で飛行機とホテル押さえる手も考えましたが、勝手が分からないので<a href="http://www.inghams.co.uk/">Inghams</a>という旅行会社のパック旅行にしました。
クリスマス休暇中のためもっとも値段の高い期間で、かつ4つ星ホテルに泊まったので二人で40万ぐらい。
まあ、日本に里帰りしてもそれぐらいかかるので良しとしましょう。

さて、朝6時半のフライトに乗るために、2時半に起きてガトウィック空港へ向かう。
荷作り終わってなかったので、3時間ぐらいしか寝れんかった。

朝4時半の空港。クリスマス休暇を海外で過ごす人で超混雑。

<%= image "cimg0542" %>

今回の飛行機は<a href="http://www.flymonarch.com/">モナーク航空</a>。
パック旅行のチャーター機がメインの航空会社みたい。

んで、オーストリアのInnsbruck空港へ到着。

<%= image "cimg0543" %>
<%= image "cimg0544" %>
<%= image "cimg0546" %>

狭い空港に人がみっちりと埋まる。
明らかに空港のキャパ超えてるなか、なんとか荷物をゲットし、送迎バスに乗り込み一路ホテルへ向かう。
3か所ぐらい他のスキー場を経由していったので、2時間半ぐらいの行程でした。

ということで到着しました。<a href="http://www.inghams.co.uk/ski/AUS/KIT/index.html">Kitzbuhel</a>という町の、<a href="http://www.inghams.co.uk/ski/AUS/KIT/I4887/index.html">Tiefenbrunner</a>というホテル。

<%= image "cimg0681" %>

かなり広い部屋でベランダつき。ホテルにはプールとサウナもついてます。

<%= image "cimg0548" %>
<%= image "cimg0549" %>
<%= image "cimg0550" %>
<%= image "cimg0551" %>
<%= image "cimg0553" %>

ベランダからはアルプスが見えます。

<%= image "cimg0560" %>
<%= image "cimg0562" %>

さっそく爆睡。俺は疲れとんねん。

<%= image "cimg0555" %>

寝てる間に嫁が近所のスーパーで買ってきた葉ニンジン。

<%= image "cimg0563" %>

さて、夕食を食べに食堂にいくと、名前のついたテーブルに案内される。
1週間同じテーブルを使うみたい。

<%= image "cimg0568" %>

初日は手堅くハウスワイン。

フルコース料理でした。前菜、スープ、サラダ(サラダバー形式)、メインディッシュ(写真忘れてた)、
今日はデザートもビュッフェ形式。

<%= image "cimg0569" %>
<%= image "cimg0570" %>
<%= image "cimg0572" %>
<%= image "cimg0573" %>
<%= image "cimg0574" %>
<%= image "cimg0576" %>
<%= image "cimg0579" %>

くちくなったところでさらに寝る。今日は移動して食って寝ただけ。
