---
title: オーストリア旅行 その5
---
さあ、今日も滑るぞ。ちなみにスキーマップは<a href="http://www.ski-europe.com/images/trailmaps/kitz-kirch.jpg">こちら</a>

<%= image "cimg0841" %>
<%= image "cimg0842" %>

霧が多いけど、昨日からずっと雪が降ってたのでいい感じ。

<%= image "cimg0846" %>
<%= image "cimg0848" %>
<%= image "cimg0849" %>
<%= image "cimg0850" %>
<%= image "cimg0853" %>

霧が濃くなってきたので下山。

<%= image "cimg0855" %>

今日はイタ飯を攻める。レベル高くておいしゅうございました。
ドイツビールにピザはいい組合せだよなあ。

<%= image "cimg0864" %>
<%= image "cimg0858" %>
<%= image "cimg0860" %>
<%= image "cimg0863" %>

<%= image "cimg0868" %>

例によってプールで泳いでサウナ入って夜飯。ワインは飽きてきたのでビールにする。

<%= image "cimg0879" %>
<%= image "cimg0871" %>
<%= image "cimg0872" %>
<%= image "cimg0881" %>
<%= image "cimg0884" %>
<%= image "cimg0886" %>
<%= image "cimg0889" %>
<%= image "cimg0893" %>

そして撃沈。滑って食っちゃ寝。

<%= image "cimg0900" %>
