---
title: 新江ノ島水族館
tags: aquarium, son, enoshima
---
蓮と二人で江ノ島へ向かう。

<%= image "img_1650" %>
<%= image "img_1654" %>
<%= image "img_1656" %>
<%= image "img_1657" %>
<%= movie "hdimg_1661" %>

水族館へ。

<pre class="address">
<a href="http://www.enosui.com/">新江ノ島水族館</a>
〒251-0035 神奈川県藤沢市片瀬海岸2-19-1
0466-29-9960
</pre>

ここから全部蓮くんの撮影です。動画とりまくりでした。
がんばって編集したけど、元の動画は長いわ、構図に落ち着きないわ。

<%= movie "hdimg_1662" %>
<%= movie "hdimg_1663" %>
<%= movie "hdimg_1664" %>
<%= movie "hdimg_1665" %>
<%= movie "hdimg_1666" %>
<%= image "img_1685" %>

深海の生物。

<%= movie "hdimg_1668" %>
<%= image "img_1790" %>
<%= image "img_1797" %>
<%= image "img_1806" %>
<%= image "img_1809" %>
<%= image "img_1820" %>
<%= image "img_1825" %>
<%= image "img_1831" %>
<%= image "img_1842" %>
<%= image "img_1843" %>
<%= image "img_1845" %>

いろいろ。

<%= movie "hdimg_1670" %>
<%= movie "hdimg_1671" %>
<%= movie "hdimg_1672" %>
<%= movie "hdimg_1675" %>
<%= movie "hdimg_1679" %>
<%= movie "hdimg_1681" %>
<%= image "img_1688" %>
<%= image "img_1693" %>
<%= image "img_1703" %>
<%= image "img_1705" %>
<%= image "img_1716" %>
<%= image "img_1723" %>
<%= image "img_1725" %>
<%= image "img_1734" %>
<%= image "img_1738" %>
<%= image "img_1740" %>
<%= image "img_1745" %>
<%= image "img_1747" %>
<%= movie "hdimg_1757" %>
<%= movie "hdimg_1758" %>
<%= image "img_1764" %>
<%= image "img_1770" %>
<%= image "img_1774" %>
<%= image "img_1776" %>

クラゲ。

<%= movie "hdimg_1848" %>
<%= image "img_1849" %>
<%= movie "hdimg_1854" %>
<%= movie "hdimg_1855" %>
<%= movie "hdimg_1856" %>
<%= movie "hdimg_1857" %>
<%= movie "hdimg_1858" %>
<%= movie "hdimg_1859" %>
<%= movie "hdimg_1861" %>
<%= movie "hdimg_1862" %>
<%= image "img_1866" %>
<%= image "img_1869" %>

アザラシ。

<%= image "img_1882" %>
<%= image "img_1884" %>
<%= image "img_1886" %>
<%= movie "hdimg_1888" %>
<%= movie "hdimg_1890" %>

ペンギン。

<%= image "img_1891" %>
<%= image "img_1894" %>
<%= movie "hdimg_1898" %>

しんかい展。

<%= image "img_1899" %>
<%= image "img_1901" %>
<%= image "img_1905" %>
<%= image "img_1911" %>
<%= image "img_1913" %>
<%= image "img_1916" %>
<%= image "img_1920" %>
<%= image "img_1921" %>
<%= image "img_1926" %>
<%= image "img_1928" %>
<%= image "img_1929" %>
<%= image "img_1930" %>
<%= image "img_1932" %>
<%= image "img_1933" %>
<%= image "img_1935" %>
<%= image "img_1945" %>

肉眼だと夕焼けと富士山が見えてたんだけど無理だなあ。

<%= image "img_1939" %>
<%= image "img_1941" %>
<%= image "img_1944" %>

レゴショップがあったので立ち寄る。

<%= image "img_1947" %>

<%= image "img_1948" %>
<%= movie "hdimg_1950" %>
<%= image "img_1952" %>
