---
title: 会社飲み
tags: dinner, seafood, team
---
会社メンバーで飲み。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1301/A130103/13093769/">魚金鱈腹</a>
東京都港区新橋1-9-1 新橋二光ビル 1F
03-6252-3478
</pre>

<%= image "img_1985" %>
<%= image "img_1988" %>
<%= image "img_1992" %>
<%= image "img_1993" %>
<%= image "img_1995" %>
<%= image "img_1997" %>
<%= image "img_2002" %>
<%= image "img_2004" %>
<%= image "img_2008" %>
