---
title: イチゴ狩り
---
今年もイチゴ狩りへ。

<pre class="address">
<a href="http://agriways.com/">アグリウェイズ</a>
神奈川県小田原市上曽我2624
</pre>

<%= image "dsc_0750" %>
<%= image "dsc_0752" %>
<%= image "dsc_0755" %>
<%= image "dsc_0760" %>
<%= image "dsc_0762" %>

今年もりりちゃんが一番食ってた。

<%= image "dsc_0765" %>
<%= image "dsc_0767" %>
<%= image "dsc_0771" %>
<%= image "dsc_0777" %>
<%= image "dsc_0781" %>
<%= image "dsc_0782" %>
<%= image "dsc_0783" %>
<%= image "dsc_0793" %>
<%= image "dsc_0799" %>
<%= image "dsc_0802" %>
<%= image "dsc_0805" %>
<%= image "dsc_0812" %>
<%= image "dsc_0816" %>
<%= image "img_5871" %>
<%= image "img_5876" %>
<%= image "img_5884" %>
<%= image "img_5889" %>
<%= image "img_5897" %>
<%= image "img_5899" %>
<%= image "img_5901" %>
<%= image "img_5903" %>
<%= image "img_5907" %>
<%= image "img_5910" %>
<%= image "img_5914" %>
<%= image "img_5922" %>
<%= image "img_5924" %>
<%= image "img_5926" %>
<%= image "img_5931" %>
