---
title: アバングン
tags: dinner, korea, team
---
某慰労飲み。幹事でかつ辛いの平気そうなメンバーでしたので趣味に走りました。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1405/A140503/14009299/">韓国家庭料理アバングン</a>
神奈川県川崎市幸区鹿島田1098
044-511-6162
</pre>

<%= image "img_2113" %>
<%= image "img_2114" %>
<%= image "img_2116" %>
<%= image "img_2117" %>
<%= image "img_2118" %>
<%= image "img_2120" %>
