---
title: チーム歓送会
tags: dinner, party, work
---
チームの歓送会。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1405/A140503/14041318/"></a>
ブッチャーズキッチン
神奈川県川崎市幸区下平間115 山治ビル 2F
044-555-0123
</pre>

<%= image "img_2127" %>
<%= image "img_2128" %>
<%= image "img_2130" %>
<%= image "img_2133" %>
<%= image "img_2137" %>
