---
title: 手ぶらBBQ
tags: bbq
---
手ぶらBBQにお誘いいただいたので参加。楽でいいね、これ。

<pre class="address">

<a href="http://www.herofield.com/bbq/ange/information.html">京王フローラルガーデン アンジェ</a>
〒182-0025 東京都調布市多摩川4-38-9
050-5835-0493
</pre>

<%= image "img_2232" %>

大江シェフの妙技を見せていただく。

<%= image "img_2227" %>
<%= image "img_2230" %>
<%= image "img_2231" %>
<%= image "img_2234" %>
<%= image "img_2236" %>

<%= movie "hdimg_2238" %>
<%= image "img_6502" %>
<%= image "img_6508" %>
<%= image "img_6509" %>
<%= image "img_6511" %>
<%= image "img_6512" %>
<%= image "img_6513" %>
<%= image "img_6516" %>
