---
title: クラフトハンズ
tags: beer, bar, azabu
---
須藤くん御用達の店に行ってみた。常時10種類以上の生ビールが楽しめます。

<pre class="address">
<a href="http://crafthands.jp/">クラフトハンズ</a>
東京都港区麻布十番1-3-13
CASA ESENCIA 1F & B1
TEL:03-3568-3723
</pre>

<%= image "img_2243" %>
<%= image "img_2246" %>
<%= image "img_2247" %>
<%= image "img_2249" %>
<%= image "img_2250" %>
<%= image "img_2253" %>
<%= image "img_2254" %>

Angsturaというリキュールを見せてもらった。
マンハッタンに一滴だけ入れるそうで、一瓶で10年もつと言ってました。
トリニダードトバゴ産だそうです。

<%= image "img_2251" %>
