---
title: 館山 その1
tags: chiba, fireworks, pool
---
千葉に遊びにいく。

<pre class="address">
<a href="http://www.qkamura.or.jp/tateyama/">休暇村 館山</a>
千葉県館山市見物725
0470-29-0211
</pre>

海に入ったら速攻でりりちゃんがクラゲに刺されたのでホテル横のプールへ。

<%= image "img_6834" %>
<%= image "img_6837" %>
<%= image "img_6839" %>
<%= image "img_6841" %>
<%= image "img_6845" %>
<%= image "img_6847" %>
<%= image "img_6856" %>

夜は花火。

<pre class="address">
<a href="http://hanabinosumikawa.chobi.net/">花火のすみかわ</a>
大阪市旭区高殿7-7-11
06-6951-6815
</pre>

<%= image "img_6862" %>
<%= image "img_6863" %>
<%= image "img_6867" %>
<%= image "img_6872" %>
<%= image "img_6875" %>
<%= image "img_6878" %>
<%= image "img_6888" %>
<%= image "img_6889" %>
<%= image "img_6897" %>
<%= movie "hdimg_6866" %>
