---
title: 三浦ふれあいの村 その1
tags: beach, sea, family
---
今年もふれあいに来ました。

<pre class="address">
<a href="http://www.yokohamaymca.org/fureai/index.html">三浦ふれあいの村</a>
〒238-0114 神奈川県三浦市初声町和田3136
046-888-2100
</pre>

<%= image "img_6977" %>
<%= image "img_6979" %>
<%= image "img_6981" %>
<%= image "img_6983" %>
<%= image "img_6984" %>

海の家。

<%= image "img_6993" %>
<%= image "img_6995" %>
<%= image "img_6998" %>
<%= image "img_7015" %>

<%= image "img_7019" %>
<%= image "img_7025" %>
<%= image "img_7027" %>
<%= image "img_7030" %>
<%= image "img_7033" %>
<%= image "img_7035" %>
<%= movie "hdimg_7038" %>
<%= image "img_7039" %>
<%= image "img_7040" %>
<%= image "img_7041" %>
<%= image "img_7042" %>
<%= image "img_7049" %>
<%= image "img_7052" %>
<%= image "img_7053" %>

カニ発見。

<%= image "img_7059" %>

<%= image "img_7065" %>
<%= image "img_7073" %>
<%= image "img_7074" %>
