---
title: テラスで夕食
tags: dinner, restaurant, family
---
辻堂のプールの帰りに、蓮と二人で夕食。
テラス席で食べてみた。

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1404/A140404/14043349/">いしがまやハンバーグ テラスモール湘南店</a>
神奈川県藤沢市辻堂神台1-3-1 テラスモール湘南
0466-38-1616
</pre>

<%= image "img_2399" %>
<%= image "img_2400" %>
<%= image "img_2404" %>
<%= image "img_2406" %>
<%= image "img_2408" %>
<%= image "img_2411" %>
