---
title: キャンプ その1
---
キャンプに来ました。宿はバンガロー。

<pre class="address">
<a href="http://www.aonecamp.jp/">緑の休暇村 青根キャンプ場</a>
神奈川県相模原市緑区青根807
042-787-1380
</pre>

<%= image "img_2414" %>

すげえ久しぶりにコメを炊く。子供の頃以来か？

<%= image "img_7203" %>
<%= image "img_7205" %>
<%= image "img_7206" %>
<%= image "img_7207" %>
<%= image "img_7209" %>
<%= image "img_7212" %>
<%= image "img_7218" %>
<%= image "img_7222" %>
<%= image "img_7223" %>
<%= image "img_7226" %>
<%= image "img_7229" %>
<%= image "img_7234" %>

魚釣り。まーくんがヒメマスをゲット。

<%= image "img_7238" %>
<%= image "img_7241" %>
<%= image "img_7245" %>
<%= image "img_7248" %>
<%= image "img_7256" %>
<%= image "img_7262" %>

岩に登ってりりちゃんワンマンショー。

<%= movie "hdimg_7247" %>

花火。

<%= image "img_7266" %>
<%= image "img_7271" %>
<%= image "img_7277" %>
<%= image "img_7281" %>
<%= image "img_7285" %>

風呂から戻ってきたら手作りナイヤガラの滝やってる人がいた。

<%= image "img_7290" %>
<%= movie "hdimg_7291" %>
<%= image "img_7292" %>

キャンプファイヤー。

<%= image "img_7295" %>
