---
title: 野田岩でうなぎ
tags: restaurant, unagi, yokohama
---
野田岩でうなぎを食す。まずは肝焼き。

<%= image "img_2418" %>
<%= image "img_2421" %>

<pre class="address">
<a href="http://tabelog.com/kanagawa/A1401/A140101/14001307/">野田岩 横浜高島屋店</a>
神奈川県横浜市西区南幸1-6-31 横浜タカシマヤ 5F
</pre>

中入れ丼。うなぎが二段になってます。満足。

<%= image "img_2422" %>
<%= image "img_2424" %>
<%= image "img_2426" %>
