---
title: 大阪 その1
---
法事で大阪へ。

<pre class="address">
<a href="http://tabelog.com/osaka/A2703/A270304/27073118/">しまね家</a>
06-6955-7277
大阪府大阪市旭区高殿4-4-19
</pre>

<%= image "img_7511" %>
<%= image "img_7520" %>
<%= image "img_7523" %>
<%= image "img_7524" %>

<%= image "img_7509" %>
<%= image "img_7526" %>
<%= image "img_7528" %>
