---
title: 魚ひろ
tags: dinner, birthday, family
---
夜ご飯は魚ひろへ。

<pre class="address">
<a href="http://www.uohiro.jp/">魚ひろ</a>
神奈川県横浜市保土ケ谷区天王町1-8-1 第五瀬戸ビル2F
045-340-3717
</pre>

<%= image "img_2593" %>
<%= image "img_2595" %>
<%= image "img_2596" %>
<%= image "img_7766" %>
<%= image "img_7771" %>
<%= image "img_7773" %>

家に戻ってばーちゃんのバースデー。

<%= image "img_7778" %>
<%= image "img_7780" %>
<%= image "img_7784" %>
