---
title: 同期飲み
tags: dinner, meguro, party
---
シフト始まっちゃうとなかなか一緒に飲めないよねということで、最初で最後(?)の同期飲み。

<pre class="address">
<a href="http://tabelog.com/tokyo/A1316/A131601/13148994/">むてっぽう</a>
東京都目黒区下目黒1-5-20
03-3493-9119
</pre>

<%= image "img_2621" %>
<%= image "img_2622" %>
<%= image "img_2624" %>
<%= image "img_2626" %>
<%= image "img_2627" %>
<%= image "img_2628" %>
<%= image "img_2629" %>
<%= image "img_2630" %>
<%= image "img_2631" %>
<%= image "img_2632" %>
<%= image "img_2634" %>

皆さん、バックグラウンドが激しいので、大変面白い。
あと、全員の向上心が半端ないので、感化されることしきり。
