---
title: 大池公園
tags: kids, park
---
<pre class="address">
<a href="http://www.city.yokohama.jp/me/asahi/kuminriyo/midori/k129.html">こども自然公園</a>
横浜市旭区大池町65-1
Tel 045-311-2016
</pre>

<%= image "img_2636" %>
<%= image "img_7943" %>
<%= image "img_7944" %>
<%= image "img_7950" %>
<%= image "img_7953" %>
<%= movie "hdimg_7955" %>
<%= image "img_7957" %>
<%= image "img_7961" %>
<%= image "img_7967" %>
<%= image "img_7974" %>
<%= image "img_7978" %>
<%= image "img_7981" %>
<%= image "img_7985" %>
<%= image "img_7986" %>
<%= image "img_7989" %>
