---
title: 港南台生き生きプレイパーク
tags: kids, park
---
<a href="http://ikiiki-playpark.jimdo.com/">港南台生き生きプレイパーク</a>に行ってみました。

怖いブランコ。

<%= image "img_2689" %>
<%= movie "hdimg_2691" %>
<%= movie "hdimg_2692" %>

怖い滑り台。

<%= image "img_2690" %>

息子さん、逆ナンされる。

<%= movie "hdimg_2694" %>

娘もどんどん無茶するようになってきた。

<%= movie "hdimg_2695" %>
