---
title: 横浜こども科学館
---
<pre class="address">
<a href="http://odekake.info/kanagawa/21_park/log_youkoudai/log_youkoudai.html">洋光台駅前公園こどもログハウス</a>
横浜市磯子区洋光台5−2
045-833-1569
</pre>

<%= image "img_8598" %>

<pre class="address">
<a href="http://www.sciencemuseum.jp/yokohama/">横浜こども科学館</a>
〒235-0045 横浜市磯子区洋光台5-2-1
045(832)1166
</pre>

音を鳴らす実験。

<%= image "img_8610" %>
<%= image "img_8620" %>
<%= movie "hdimg_8622" %>

りりちゃんも最年少参加。まさか音を鳴らせるとは思わなかったので、動画なし。

<%= image "img_8632" %>
<%= image "img_8635" %>
<%= image "img_8645" %>
<%= image "img_8647" %>
