---
title: 中井中央公園
tags: park, kids, playground
---
<pre class="address">
<a href="http://www.town.nakai.kanagawa.jp/forms/info/info.aspx?info_id=4494">中井中央公園</a>
足柄上郡中井町比奈窪580
0465-81-3894
</pre>

<%= image "img_8696" %>
<%= image "img_8698" %>
<%= image "img_8701" %>
<%= image "img_8702" %>
<%= image "img_8707" %>
<%= image "img_8718" %>
<%= image "img_8725" %>

<%= movie "hdimg_8726" %>
