---
title: 萩・宍道湖・出雲大社 その1
---
小田原のじーちゃんと旅行。
萩・石見空港へ。

<%= image "img_6187" %>
<%= image "img_6190" %>
<%= image "dsc_0011-1" %>
<%= image "img_6191" %>

レンタカーで移動。

<%= image "dsc_0029-1-1" %>
<%= image "dsc_0030-1" %>
<%= image "img_6193" %>
<%= movie "hdimg_4735" %>

活イカを食べる。

<pre class="address">
<a href="https://tabelog.com/yamaguchi/A3503/A350301/35001584/">うめのは</a>
山口県萩市須佐5010-1
08387-6-2354
</pre>

<%= image "img_6204" %>
<%= image "img_4736" %>
<%= image "img_4737" %>
<%= image "img_6197" %>
<%= image "img_6198" %>
<%= image "img_4738" %>
<%= image "img_6199" %>
<%= image "img_6201" %>
<%= image "img_4739" %>

松陰神社と松下村塾。

<%= image "img_6205" %>
<%= image "img_6207" %>
<%= image "img_6209" %>
<%= image "img_6211" %>
<%= image "img_6214" %>

山口県立萩美術館。

<%= image "dsc_0061-1" %>
<%= image "dsc_0064-1" %>
<%= image "img_6217" %>

[大屋窯](https://ooyagama.com/)。

<%= image "img_6218" %>
<%= image "img_6219" %>
<%= image "img_6220" %>
<%= image "img_6222" %>
<%= image "img_4740" %>


今日のお宿は[北門屋敷](http://www.hokumon.co.jp/)。

<%= image "img_6235" %>
<%= image "img_6237" %>
<%= image "dsc_0069-1" %>
<%= image "img_6223" %>
<%= image "img_6227" %>
<%= image "img_6229" %>
<%= image "img_6233" %>
<%= image "img_6234" %>

<%= image "dsc_0073-1" %>
<%= image "img_4742" %>
<%= image "img_4743" %>
<%= image "img_e6239" %>
<%= image "img_6242" %>
<%= image "img_4745" %>
<%= image "img_6243" %>
<%= image "img_6244" %>
<%= image "img_4749" %>
<%= image "img_e6247" %>
<%= image "img_4750" %>
<%= image "img_e6249" %>
<%= image "img_6250" %>
<%= image "img_6251" %>
<%= image "img_6252" %>
