---
title: 萩・宍道湖・出雲大社 その3
tags: travel, izumo, shrine
---
朝食。

<%= image "img_6325" %>
<%= image "img_6326" %>
<%= image "img_6328" %>
<%= image "img_6331" %>

チェックアウト。

<%= image "img_6332" %>
<%= image "img_6338" %>

松江城。

<%= image "dsc_0282-1" %>
<%= image "img_6339" %>
<%= image "dsc_0289-1" %>
<%= image "img_4758" %>
<%= image "img_6342" %>
<%= image "dsc_0300-1" %>
<%= image "img_6343" %>
<%= image "dsc_0306-1" %>
<%= image "dsc_0313-1" %>
<%= image "dsc_0315-1" %>
<%= image "dsc_0329-2" %>
<%= image "dsc_0341-1-2" %>

[喫茶きはる](https://matsu-reki.jp/kiharu/)。

<%= image "dsc_0353-1" %>
<%= image "dsc_0355-1" %>
<%= image "img_6344" %>
<%= image "img_6347" %>
<%= image "img_6349" %>
<%= image "dsc_0357-1-2" %>
<%= image "dsc_0359-1" %>
<%= image "img_6353" %>

<pre class="address">
<a href="https://tabelog.com/shimane/A3202/A320201/32000003/">献上そば 羽根屋 本店</a>
島根県出雲市今市町549
0853-21-0058
</pre>

<%= image "img_6357" %>
<%= image "img_6354" %>

出雲大社。

<%= image "dsc_0378-1" %>
<%= image "dsc_0377-1-2" %>
<%= image "dsc_0379-1" %>
<%= image "dsc_0383-1" %>
<%= image "img_6359" %>
<%= image "img_6361" %>
<%= image "img_6363" %>
<%= image "img_6368" %>
<%= image "img_6373" %>

島根県立古代出雲歴史博物館。

<%= image "img_6374" %>
<%= image "dsc_0407-1" %>
<%= image "dsc_0408-1" %>
<%= image "dsc_0414-1" %>

帰りまーす。

<%= image "dsc_0428-1" %>
<%= image "dsc_0436-1" %>
<%= image "dsc_0445-1" %>
