---
title: 金沢 その1
tags: kanazawa, museum, travel
---
金沢空港経由で金沢駅へ。

<%= image "img_6509" %>
<%= image "img_6513" %>
<%= image "img_4802" %>
<%= image "img_6518" %>

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17000022/">黒百合</a>
石川県金沢市木ノ新保町1-1 金沢百番街 あんと
076-260-3722
</pre>

<%= image "img_6532" %>
<%= image "img_6520" %>
<%= image "img_6522" %>
<%= image "img_6526" %>
<%= image "img_6527" %>
<%= image "img_6529" %>

[兼六園](http://www.pref.ishikawa.jp/siro-niwa/kenrokuen/)。

<%= image "img_6533" %>
<%= image "img_6534" %>
<%= image "img_6536" %>
<%= image "img_6538" %>
<%= image "img_6540" %>
<%= image "img_6543" %>
<%= image "img_6545" %>
<%= image "img_6546" %>
<%= image "img_4805" %>
<%= image "img_6548" %>
<%= image "img_6553" %>
<%= image "img_6554" %>
<%= image "img_4806" %>
<%= image "img_6557" %>
<%= image "img_6559" %>
<%= image "img_6560" %>
<%= image "img_6563" %>
<%= image "img_4812" %>

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17000008/">つぼみ</a>
石川県金沢市柿木畠3-1
076-232-3388
</pre>

<%= image "img_6567" %>
<%= image "img_6573" %>
<%= image "img_6569" %>
<%= image "img_4813" %>
<%= image "img_6571" %>

[鈴木大拙館](https://www.kanazawa-museum.jp/daisetz/)

<%= image "img_6576" %>
<%= image "img_6578" %>
<%= image "img_6580" %>
<%= image "img_6582" %>
<%= image "img_6586" %>
<%= image "img_6589" %>
<%= image "img_6590" %>

今日のお宿は[鼓 tsuzumi suite](https://tsuzumi-kanazawa.com/)に素泊まり。

<%= image "img_6594" %>
<%= image "img_6595" %>
<%= image "img_6596" %>
<%= image "img_6597" %>
<%= image "img_6598" %>
<%= image "img_6600" %>

[金沢21世紀美術館](https://www.kanazawa21.jp/)

<%= image "img_6603" %>
<%= image "img_6605" %>
<%= image "img_6606" %>
<%= image "img_e6608" %>
<%= image "img_6612" %>
<%= image "img_6614" %>
<%= image "img_6620" %>
<%= image "img_4817" %>

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17006172/">あげは</a>
石川県金沢市広坂1-1-28 広坂パレス 1F
090-8260-2995
</pre>

<%= image "img_6625" %>
<%= image "img_e6626" %>
<%= image "img_4818" %>
<%= image "img_e6628" %>
<%= image "img_4819" %>
<%= image "img_6630" %>
<%= image "img_6631" %>
<%= image "img_6632" %>
<%= image "img_4822" %>
<%= image "img_e6634" %>
