---
title: 金沢 その2
---
<%= image "img_6636" %>

白川郷へ。

<%= image "img_4823" %>
<%= image "img_6638" %>
<%= image "img_6639" %>
<%= image "img_6644" %>
<%= image "img_4827" %>
<%= image "img_4830" %>
<%= image "img_6649" %>
<%= image "img_6651" %>
<%= image "img_6653" %>
<%= image "img_6654" %>
<%= image "img_6655" %>
<%= image "img_6658" %>
<%= image "img_6660" %>
<%= image "img_4833" %>
<%= image "img_4834" %>
<%= image "img_4836" %>
<%= image "img_6662" %>
<%= image "img_6663" %>
<%= image "img_4844" %>
<%= image "img_6664" %>
<%= image "img_6668" %>
<%= image "img_4845" %>
<%= image "img_6670" %>
<%= image "img_6671" %>
<%= image "img_6674" %>
<%= image "img_6675" %>
<%= image "img_4846" %>
<%= image "img_6679" %>

<pre class="address">
<a href="https://tabelog.com/gifu/A2104/A210404/21000029/">蕎麦庄 やまこし</a>
岐阜県大野郡白川村荻町1786-3
05769-6-1165
</pre>

<%= image "img_6681" %>
<%= image "img_6684" %>
<%= image "img_6685" %>
<%= image "img_6687" %>
<%= image "img_6691" %>

五箇村。

<%= image "img_6693" %>
<%= image "img_6694" %>
<%= movie "hdimg_4849" %>
<%= image "img_4850" %>
<%= image "img_6696" %>
<%= image "img_6699" %>
<%= image "img_6701" %>
<%= image "img_6704" %>
<%= image "img_6708" %>
<%= image "img_6709" %>
<%= image "img_6711" %>
<%= image "img_6712" %>
<%= image "img_6714" %>
<%= image "img_e6716" %>

[旅館橋本屋](http://hashimotoya-kanazawa.com/)

<%= image "img_6723" %>
<%= image "img_6725" %>
<%= image "img_6726" %>
<%= image "img_e6727" %>
<%= image "img_e6728" %>
<%= image "img_e6729" %>
<%= image "img_e6730" %>
<%= image "img_e6731" %>
<%= image "img_6732" %>
<%= image "img_6734" %>
<%= image "img_6736" %>
<%= image "img_e6737" %>
<%= image "img_6738" %>
