---
title: 金沢 その3
---
朝食。

<%= image "img_6739" %>
<%= image "img_6741" %>
<%= image "img_6744" %>
<%= image "img_6745" %>
<%= image "img_6746" %>
<%= image "img_6749" %>

<pre class="address">
<a href="https://tabelog.com/ishikawa/A1701/A170101/17000018/">宝生寿し</a>
石川県金沢市大野町4-72
076-267-0323
</pre>

<%= image "img_6750" %>
<%= image "img_6754" %>
<%= image "img_e6755" %>
<%= image "img_6757" %>
<%= image "img_6758" %>
<%= image "img_6760" %>
<%= image "img_6762" %>
<%= image "img_6766" %>
<%= image "img_6767" %>
<%= image "img_6769" %>
