---
title: お誕生日ディナー
tags: birthday, dinner, yokohama
---
<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140102/14051993/">OSTERIA il FUOCO （オステリア イル フオッコ）</a>
神奈川県横浜市西区岡野1-16-14
050-5456-6097
</pre>

<%= image "img_6820" %>
<%= image "img_6821" %>
<%= image "img_6822" %>
<%= image "img_6823" %>
<%= image "img_6831" %>
<%= image "img_6834" %>
<%= image "img_6836" %>

<%= image "img_6826" %>
