---
title: 京都旅行 その2
tags: travel, kyoto, temple
---
北野天満宮、平野神社、鴨川。

<%= image "img_6984" %>
<%= image "img_6986" %>
<%= image "img_6989" %>
<%= image "img_6990" %>
<%= image "img_6993" %>
<%= image "img_6996" %>
<%= image "img_6998" %>
<%= image "img_7007" %>
<%= image "img_7009" %>
<%= image "img_7015" %>
<%= image "img_7019" %>
<%= image "img_7023" %>
<%= image "img_7024" %>
<%= image "img_7028" %>
<%= image "img_7029" %>
<%= image "img_7033" %>
<%= image "img_7034" %>
<%= image "img_7036" %>

<pre class="address">
<a href="https://tabelog.com/kyoto/A2601/A260301/26021305/">ZEN CAFE</a>
京都府京都市東山区祇園町南側570-210
075-533-8686
</pre>

<%= image "img_7056" %>
<%= image "img_7039" %>
<%= image "img_7041" %>
<%= image "img_7042" %>
<%= image "img_7046" %>
<%= image "img_7055" %>

京都文化博物館、京都万華鏡ミュージアム。

<%= image "img_7057" %>
<%= image "img_7059" %>
<%= image "img_7061" %>
<%= movie "hdimg_7070" %>
