---
title: 輪行 南房総 その2
tags: bike, chiba, travel
---
朝食。

<%= image "img_5081" %>
<%= image "img_5082" %>

休暇村をチェックアウトして南房総を自転車で移動。これが[今日のルート](https://goo.gl/maps/8YEwWP66Hxc3cZJt8)。

洲崎神社。

<%= image "img_5083" %>
<%= image "img_5084" %>
<%= image "img_5085" %>
<%= image "img_5086" %>
<%= image "img_5087" %>
<%= image "img_5088" %>
<%= image "img_5089" %>
<%= image "img_5090" %>
<%= image "img_5091" %>
<%= image "img_5092" %>

昼飯。刺身定食うまかった。ボリュームもたっぷり。

<pre class="address">
<a href="https://tabelog.com/chiba/A1207/A120704/12026105/">相浜亭</a>
千葉県館山市相浜235
0470-28-2345
</pre>

<%= image "img_5097" %>
<%= image "img_5095" %>

根本の海岸。

<%= image "img_5098" %>
<%= image "img_5099" %>
<%= image "img_5100" %>
<%= image "img_5101" %>

目的地に到着したがまだ時間が早いので、さらに北東へ。
[いちご農園](http://tanpopo-nouen.com/)を発見。糖分補給。

<%= image "img_5102" %>
<%= image "img_5103" %>

素堀りトンネルが見たくて、林道畑2号線へ。

<%= image "img_5104" %>
<%= image "img_5105" %>
<%= movie "hdtrimg_5106" %>

自転車で進めなくなったので、徒歩に切り替え。
ここも2019年の台風の被害か、道路の両側の木が滑り落ちている。めっちゃ怖い。

<%= image "img_5108" %>
<%= image "img_5109" %>
<%= image "img_5110" %>
<%= image "img_5112" %>

ここで土砂が道を塞いでいたので諦めて引き返す。

<%= image "img_5111" %>

普通のトンネル走って、林道の反対側を攻めてみる。

<%= image "img_5117" %>

同じくしばらく進むと土砂崩れ。素掘りトンネルにはたどり着けず。

<%= image "img_5113" %>
<%= image "img_5114" %>
<%= image "img_5115" %>
<%= image "img_5116" %>

海底地すべり。

<%= image "img_5119" %>
<%= image "img_5118" %>

今日の宿は[紋屋](https://www.monya.co.jp/)。

<%= image "img_5120" %>
<%= image "img_5122" %>

チェックインだけ済ませて、野島崎へ。

<%= image "img_5123" %>
<%= image "img_5126" %>
<%= image "img_5127" %>
<%= image "img_5128" %>
<%= image "img_5129" %>
<%= image "img_5130" %>
<%= movie "hdimg_5131" %>
<%= image "img_5132" %>

1km弱離れたイタリアンで晩飯。テラスも良さげですが、風が強い。

<pre class="address">
<a href="https://tabelog.com/chiba/A1207/A120704/12040964/">オステリア イルファーロ</a>
千葉県南房総市白浜町白浜791
0470-29-7525
</pre>

<%= image "img_5136" %>
<%= image "img_5133" %>
<%= image "img_5137" %>
<%= image "img_5138" %>
<%= image "img_5140" %>

本格的なイタリアンでした。周り何もないので外出たら真っ暗。

<%= image "img_5141" %>
