---
title: 輪行 南房総 その3
tags: bike, chiba, travel
---
朝飯を急いで食って自転車で千倉駅へ向かう(14km)。電車乗り過ごすと一時間損するので焦る。
発車時刻間違えてて、実際は20分ぐらい余裕があった。

<%= image "img_5142" %>
<%= image "img_5143" %>
<%= image "img_5144" %>

大原駅でいすみ鉄道へ乗り換えて大多喜駅へ。

<%= image "img_5145" %>
<%= image "img_5146" %>
<%= image "img_5147" %>
<%= image "img_5148" %>

昼飯はとんかつ。旗本の松。

<pre class="address">
<a href="https://tabelog.com/chiba/A1207/A120702/12004770/">とんかつ亭有家</a>
千葉県夷隅郡大多喜町久保135
0470-82-2007
</pre>

<%= image "img_5149" %>
<%= image "img_5150" %>

山を登る。

<%= image "imp_5151" %>

大多喜城(の形をした博物館)。ここは来なくても良かった。

<%= image "img_5152" %>
<%= image "img_5153" %>
<%= image "img_5154" %>

で、さらに山道の465号線を6駅ぶんぐらい走って養老渓谷へ。水月寺に自転車とめて養老川沿いを歩く。

<%= image "img_5155" %>
<%= image "img_5156" %>
<%= image "img_5158" %>
<%= image "img_5159" %>
<%= image "img_5160" %>
<%= image "img_5161" %>
<%= image "img_5162" %>
<%= image "img_5163" %>
<%= image "img_5164" %>

粟又の滝。

<%= image "img_5165" %>

あまりゆっくりもしてられず徒歩で水月寺に戻り、自転車に乗って養老渓谷駅へ。

<%= image "img_5166" %>
<%= image "img_5167" %>

小湊鉄道に乗って帰宅。いい夕焼け。

<%= image "img_5168" %>
<%= image "img_5169" %>
<%= movie "hdimg_5170" %>
<%= image "img_5173" %>
<%= image "img_5175" %>
<%= image "img_5177" %>
<%= image "img_5179" %>

養老渓谷はゆっくりできなかったので、また滝巡りに来たいと思った。
