---
title: 輪行 城ヶ島
---
今日は城ヶ島へ。
井土ヶ谷までチャリで行って、京急で三崎口駅まで。
横浜で自転車担いで乗り換えるよりこっちの方が楽なことに気づく。

橋を渡るために一旦上に上がらないといけないことに気づかず周辺をウロウロする。

<%= image "img_5189" %>

昼飯。

<%= image "img_5192" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140603/14011789/">しぶき亭</a>
神奈川県三浦市三崎町城ヶ島658
046-881-2710
</pre>

マグロとイカのミックス丼。

<%= image "img_5190" %>
<%= image "img_5191" %>

飯食い終わって海岸ウロウロしてたら小雨になる。

<%= image "img_5193" %>

軒下で雨宿りしてたら雨がやんだので、油壺海岸へ移動。
例によってgoogle mapに結構な田舎道をナビされる。

<%= image "img_5194" %>
<%= image "img_5195" %>
<%= movie "hdtrimg_5196" %>

油壺海岸着。今日は日帰り温泉の受付時間に間に合った。

<%= image "img_5198" %>

風呂入ってるとまた雨が降り出す、天気予報見ても回復しなさそうなので、バスに乗って横浜に戻る。
道中で雨がやんだので井土ヶ谷で降りてチャリで帰宅。
