---
title: みなとみらい
---
娘とみなとみらいまで早朝散歩して、パンケーキ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140103/14067913/">メレンゲ みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル１F
050-5593-9994
</pre>

<%= image "img_5200" %>
<%= image "img_5205" %>
<%= image "img_5202" %>
<%= image "img_5203" %>
<%= image "img_5206" %>
<%= image "img_5207" %>

進撃の巨人の[コラボ](https://www.famitsu.com/news/202104/09217439.html)をやってた。

<%= image "img_5214" %>
<%= image "img_5215" %>
<%= image "img_5216" %>
<%= image "img_5217" %>
<%= image "img_5218" %>
<%= image "img_5221" %>
<%= image "img_5222" %>
<%= image "img_5224" %>
<%= image "img_5227" %>
<%= image "img_5229" %>
<%= image "img_5231" %>
<%= image "img_5232" %>

[UNDER WATER SPACE](http://uws-yokohama.jp/)なる妙な水族館。

<%= image "img_5259" %>
<%= image "img_5239" %>
<%= image "img_5242" %>
<%= image "img_5245" %>
<%= image "img_5247" %>
<%= image "img_5249" %>
<%= image "img_5251" %>
<%= image "img_5253" %>
<%= image "img_5258" %>

開業したロープウェイ駅を目指す。

<%= image "img_5260" %>
<%= image "img_5263" %>
<%= image "img_5264" %>

ロープウェイに乗って桜木町から帰宅。

<%= image "img_5265" %>
<%= image "img_5268" %>
<%= image "img_5270" %>
<%= image "img_5272" %>
<%= image "img_5273" %>
<%= movie "hdimg_5274" %>
<%= image "img_5276" %>
<%= image "img_5278" %>
