---
title: 三浦
tags: bike, miura
---
娘さんが海に足を入れたいと言うので、城ヶ島へ行く。

<%= image "img_5280" %>
<%= image "img_5281" %>
<%= image "img_5282" %>
<%= image "img_5283" %>
<%= movie "hdimg_5284" %>
<%= image "img_5286" %>
<%= image "img_5288" %>
<%= image "img_5290" %>
<%= image "img_5291" %>

お昼ごはん。イカ丼食いたかったけど狙って店はランチタイムは予約のみだったので、老夫婦がやってる空いてる店へ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140603/14061743/">梅一</a>
神奈川県三浦市三崎町城ケ島658-10
046-882-2663
</pre>

<%= image "img_5292" %>
<%= image "img_5293" %>

バスに乗って油壷入口からさらに乗り継いで油壺海岸到着。
日帰り温泉に入ったあと、油壺海岸へ。

<%= image "img_5295" %>
<%= image "img_5296" %>
<%= image "img_5298" %>
<%= image "img_5301" %>
<%= image "img_5304" %>
<%= image "img_5306" %>
<%= image "img_5307" %>
<%= image "img_5310" %>
<%= image "img_5315" %>
<%= image "img_5317" %>
<%= image "img_5320" %>
<%= movie "hdimg_5322" %>

[京急油壺マリンパーク](http://www.aburatsubo.co.jp/)へ。このときは9月一杯で閉館になるとはつゆ知らず。

<%= image "img_5327" %>
<%= image "img_5332" %>
<%= image "img_5334" %>
<%= image "img_5337" %>
<%= image "img_5340" %>
<%= image "img_5341" %>
<%= image "img_5345" %>
<%= image "img_5347" %>
<%= movie "hdtrimg_5349" %>
<%= image "img_5350" %>
<%= image "img_5351" %>

生ビール売ってた。おりしも夕方。本当かどうか分からんけど見えてるの富士山らしいよ。方向はあってた。

<%= image "img_5353" %>
<%= image "img_5356" %>
<%= image "img_5357" %>
<%= image "img_5361" %>
<%= image "img_5363" %>
<%= image "img_5367" %>

強風の中、太陽が沈むまで一時間以上滞在。
暇なのでいつものUFO。

<%= image "img_5371ufo" %>

暇つぶし継続。

<%= image "img_5375" %>
<%= image "img_5381" %>
<%= image "img_5410" %>

ようやく沈んできた。ラッキーなことに稜線がきれいに見える。

<%= image "img_5413" %>
<%= image "img_e5413" %>
<%= image "img_5420" %>
<%= image "img_5422" %>
<%= image "img_5424" %>
<%= image "img_5425" %>
<%= image "img_5427" %>
<%= image "img_5431" %>
<%= image "img_5432" %>
<%= image "img_5433" %>

油壷からバスに乗って三崎口経由で帰宅。
