---
title: 輪行 三浦半島
---
今日は三崎口から北上します。

しばらくは良い海沿いの道がない、佐島から海が見える。

<%= image "img_5438" %>

秋谷海岸。ここは人もまばらでいい感じ。近所にコンビニもあり。折りたたみイス持ってきてくつろぎたい。

<%= image "img_5439" %>

立石公園。

<%= image "img_5440" %>
<%= image "img_5442" %>
<%= image "img_5443" %>
<%= image "img_5444" %>
<%= image "img_5445" %>

葉山エリアに入ると急に立派な別荘が現れる。
写真撮ってないけど、プール付きの豪邸とかあった。

岬に眺めがやたらといい店発見。ガソリン補給しながら休憩。海風が凄い。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1406/A140602/14058656/">サーファーズ （surfers）</a>
神奈川県逗子市新宿5-822-2
046-870-3307
</pre>

<%= image "img_5447" %>
<%= image "img_5448" %>
<%= image "img_5449" %>
<%= image "img_5450" %>

鎌倉駅から輪行して帰宅。

<%= image "img_e5451" %>

これで三浦半島は制覇してしまった。
