---
title: 鋸山
---
父生誕記念家族鋸山登山。

久里浜からフェリーに乗る。

<%= image "img_7353" %>
<%= image "img_7355" %>
<%= image "img_4280" %>
<%= image "img_5486" %>
<%= image "img_4282" %>
<%= image "img_7357" %>

浜金谷到着。

<%= image "img_4286" %>
<%= image "img_7362" %>

登山前の腹ごしらえ。

<pre class="address">
<a href="https://tabelog.com/chiba/A1206/A120603/12026715/">ピッツァゴンゾー</a>
千葉県富津市金谷3869-2
090-1439-5030
</pre>

<%= image "img_4288" %>
<%= image "img_7368" %>
<%= image "img_4289" %>
<%= image "img_7369" %>
<%= image "img_4290" %>

登りますよー。

<%= image "img_7372" %>
<%= image "img_7373" %>
<%= image "img_7376" %>
<%= image "img_7377" %>
<%= image "img_7380" %>
<%= image "img_5493" %>
<%= image "img_7382" %>
<%= image "img_7389" %>
<%= image "img_7390" %>
<%= image "img_4293" %>
<%= image "img_7392" %>
<%= image "img_7395" %>
<%= image "img_7397" %>
<%= image "img_7401" %>
<%= image "img_7406" %>
<%= image "img_7407" %>
<%= image "img_7409" %>
<%= image "img_7412" %>
<%= image "img_7414" %>
<%= image "img_7415" %>
<%= image "img_4298" %>
<%= image "img_7420" %>
<%= image "img_7422" %>
<%= image "img_7426" %>
<%= image "img_4304" %>
<%= image "img_7429" %>
<%= image "img_5494" %>
<%= image "img_7431" %>
<%= image "img_7434" %>
<%= image "img_7437" %>
<%= image "img_4311" %>

かき氷。

<pre class="address">
<a href="https://tabelog.com/chiba/A1206/A120603/12052911/">好日堂</a>
千葉県富津市金谷2221-5
</pre>

<%= image "img_5497" %>
<%= image "img_5498" %>
<%= image "img_7438" %>
<%= image "img_4313" %>
<%= image "img_7441" %>
<%= image "img_7443" %>

フェリーで久里浜に戻って、[海辺の湯](https://onsen.nifty.com/yokosuka-onsen/onsen012422/)に入って帰宅。

<%= image "img_4316" %>
<%= image "img_7446" %>
