---
title: 輪行 新潟 その1
tags: travel, niigata
---
ここんとこ日本各地週末は土日のどっちかが雨だったのですが、金曜の夜眠る前に天気予報見てたら、新潟は土日とも雨が降らないことを発見したので、急遽新潟に向かう。東京駅は自転車かついで乗り換えしんどいので大宮経由。12:24新潟駅着。

<%= image "img_5712" %>

113号線を北上。なかなか都市部から出られない。川に阻まれて海岸沿いの道もない。

<%= image "img_5717" %>

一時間ぐらい走ってやっと海見れた。網代浜。

<%= image "img_5714" %>
<%= image "img_5716" %>

さらに真っ直ぐな道を延々と進む。海からそこそこ離れてる上に防風林が間にあるので海が見えない。ひたすら単調な景色が続く。
この道は相当つまんない。15時過ぎたあたりで電車に乗ろうと思ったが、駅からも離れているので諦めてペダルを漕ぐ。

<%= image "img_5720" %>
<%= image "img_5718" %>
<%= image "kjki6010" %>

17時ぐらいで狙っていた345号線に入る。急に景色がよくなる。

<%= image "img_5722" %>
<%= image "mjhb5406" %>

18時[ゆ処 そば処 磐舟](https://www.taikanso.senaminoyu.co.jp/bansyu/)着。

<%= image "img_5725" %>

一風呂浴びてから村上駅へ向かう。

<pre class="address">
<a href="https://tabelog.com/niigata/A1505/A150504/15002537/">石田屋</a>
新潟県村上市田端町10-24
0254-53-2016
</pre>

お父さん頑張ったのでビール！

<%= image "img_e5726" %>
<%= image "img_5727" %>

みおもて定食と岩ガキ。酒は〆張鶴と大洋酒造。定食だけどつまみ系を先に出してくれるので大変ありがたい。
塩引き鮭をはじめて食べた。上手い。昆布巻と酒浸しも酒が進む。

<%= image "img_5729" %>
<%= image "img_5730" %>
<%= image "img_5732" %>
<%= image "img_5733" %>
<%= image "img_5734" %>
<%= image "img_5735" %>
<%= image "img_5728" %>
<%= image "img_5736" %>
<%= image "img_5738" %>

とっても満足。はらこ丼のシーズンである10月末にまた来るように女将さんに言われた。
