---
title: 輪行 新潟 その2
tags: niigata, travel
---
朝食は少し離れた[せなみの湯](https://www.taikanso.senaminoyu.co.jp/onsen/)で。
せなみの湯も使えるので、先に一風呂浴びてから海岸を少し散歩。

<%= image "img_5744" %>
<%= image "img_5745" %>
<%= image "img_5740" %>
<%= image "img_5741" %>
<%= image "img_5742" %>

ビュッフェ食いながら帰りの予定をたてる。
羽越本線が2時間に一本しか走ってないことに気づく。綿密に予定立てないとヤバい。
新潟行の特急が走ってて接続のいい府屋駅をゴールにする。

<%= image "img_5743" %>

朝飯くったら二度寝してしまった。10時にチェックアウトして出発。
これが今回の装備。

<%= image "img_5747" %>

[コース](https://goo.gl/maps/84WtpfRzEXPXxE9U8)はひたすら345号線なので、むしろ今日がメイン。評判通り景色が良くて飽きない。

<%= image "img_5746" %>
<%= image "img_5748" %>
<%= image "img_5749" %>
<%= image "img_5750" %>
<%= image "img_5751" %>
<%= image "img_5752" %>

桑川駅に直結してる駅兼道の駅で昼飯。

<pre class="address">
<a href="https://tabelog.com/niigata/A1505/A150504/15008144/">夕日レストラン</a>
新潟県村上市桑川892-5 道の駅 笹川流れ 2F
0254-79-2017
</pre>

タレカツ丼。

<%= image "img_5755" %>
<%= image "img_5753" %>
<%= image "img_5754" %>

さらに進む。

<%= image "img_5756" %>
<%= image "img_5757" %>
<%= image "img_5758" %>
<%= image "img_5759" %>

ゴール3km弱あたりで[温泉](https://www.sake3.com/spot/88)があった。50分ぐらい余裕があったので汗流して着替える。

<%= image "img_5761" %>

39.3km走って府屋駅着。ケツ痛い、体重で手のひらの神経が圧迫されたのか指のしびれが取れない、膝痛い。
これ以上長時間乗ろうと思うと、サドルとハンドルとグリップ見直さないといけないかも(チャリ沼)。

<%= image "img_5762" %>
<%= image "img_5763" %>
<%= image "img_5765" %>

特急いなほで新潟駅まで戻るのに74分。2日間合計で100km弱走った。自転車でこんな距離進んだのかとビビる。
大宮駅経由で帰宅。
