---
title: 大磯ロングビーチ
tags: oiso, beach
---
<%= image "img_7663" %>
<%= image "img_7673" %>
<%= image "img_7676" %>
<%= image "img_5840" %>
<%= image "img_5847" %>
<%= image "img_5852" %>
<%= movie "hdimg_5858" %>
<%= movie "hdimg_5859" %>
<%= image "img_7677" %>
<%= image "img_5863" %>
<%= image "img_5867" %>
<%= image "img_5870" %>
<%= image "img_5875" %>
<%= image "img_5881" %>
<%= movie "hdimg_5882" %>

道中で見つけた焼き鳥屋で晩ごはん。
このエリアがアルコール禁止になってたことを知らなかった。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1404/A140408/14009128/">杉本</a>
神奈川県中郡大磯町大磯1186
0463-61-0444
</pre>

<%= image "img_7684" %>
<%= image "img_5885" %>
<%= image "img_5886" %>
<%= image "img_7679" %>
<%= image "img_5887" %>
<%= image "img_7680" %>
<%= image "img_7682" %>
<%= image "img_7683" %>
