---
title: 北海道 その1
tags: travel, hokkaido
---
道東へ。

[阿寒湖アイヌコタン](https://www.akanainu.jp/)。

<%= image "img_7783" %>
<%= image "img_5915" %>
<%= image "img_7788" %>
<%= image "img_7795" %>
<%= image "img_7796" %>
<%= image "img_7797" %>

阿寒湖。

<%= image "img_7799" %>
<%= image "img_7802" %>
<%= image "img_7803" %>
<%= image "img_7805" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0112/A011202/1005282/">食堂と喫茶 ポッポテイ</a>
北海道川上郡弟子屈町朝日1-7-18
015-482-2412
</pre>

<%= image "img_5921" %>
<%= image "img_7810" %>
<%= image "img_7806" %>
<%= image "img_5918" %>
<%= image "img_5920" %>
<%= image "img_7809" %>

摩周湖。

<%= image "img_7814" %>
<%= image "img_7816" %>
<%= image "img_7818" %>
<%= image "img_7819" %>
<%= image "img_7821" %>
<%= image "img_7826" %>
<%= image "img_5922" %>

神の子池。

<%= image "img_7828" %>
<%= image "img_7829" %>
<%= image "img_7831" %>
<%= image "img_7833" %>
<%= image "img_7835" %>
<%= image "img_7837" %>
<%= image "img_7839" %>
<%= image "img_7841" %>
<%= image "img_7842" %>
<%= image "img_7843" %>
<%= image "img_7846" %>
<%= image "img_7848" %>
<%= image "img_5923" %>

[きらの宿すばる](http://www.forestlodge-subaru.jp/)

<%= image "img_5924" %>

<%= image "img_7850" %>
<%= image "img_e7851" %>
<%= image "img_e7852" %>
<%= image "img_e7853" %>
<%= image "img_7854" %>
<%= image "img_7855" %>
<%= image "img_7856" %>
<%= image "img_7858" %>
<%= image "img_7862" %>

星空を見に行く。

<%= image "img_5040" %>
<%= image "img_5104" %>
