---
title: 北海道 その2
---
<%= image "img_7868" %>
<%= image "img_7869" %>
<%= image "img_7870" %>

朝食。

<%= image "img_7874" %>
<%= image "img_e7875" %>
<%= image "img_e7876" %>
<%= image "img_7879" %>

朝の散歩。

<%= image "img_5926" %>
<%= image "img_7881" %>
<%= image "img_7887" %>
<%= image "img_7890" %>
<%= image "img_7893" %>
<%= image "img_7896" %>
<%= image "img_7898" %>
<%= image "img_7899" %>
<%= image "img_7901" %>

摩周湖。

<%= image "img_7903" %>
<%= image "img_7906" %>
<%= image "img_7911" %>
<%= image "img_7912" %>
<%= image "img_7914" %>
<%= image "img_7915" %>
<%= image "img_7921" %>
<%= image "img_7923" %>
<%= image "img_7926" %>

サクラの滝。

<%= image "img_7927" %>
<%= movie "hdimg_7932" %>

来運神社。

<%= image "img_7933" %>
<%= image "img_7935" %>
<%= image "img_7936" %>
<%= image "img_7939" %>
<%= image "img_7943" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0110/A011002/1020035/">しれとこ里味</a>
北海道斜里郡斜里町新光町64
0152-23-2220
</pre>

<%= image "img_e7944" %>
<%= image "img_5927" %>
<%= image "img_5928" %>

天に続く道。

<%= image "img_7945" %>
<%= image "img_7947" %>
<%= image "img_7948" %>
<%= image "img_7950" %>

[オシンコシンの滝](https://www.shiretoko.asia/oshinkoshin.html)。

<%= image "img_7952" %>
<%= image "img_7959" %>
<%= image "img_7961" %>
<%= image "img_7962" %>

知床自然センター。

<%= image "img_7967" %>

フレペの滝遊歩道。

<%= image "img_7969" %>
<%= image "img_7971" %>
<%= image "img_7974" %>
<%= image "img_7976" %>
<%= image "img_7977" %>
<%= image "img_7980" %>
<%= image "img_7983" %>
<%= image "img_7984" %>
<%= image "img_7985" %>

[知床温泉民宿たんぽぽ](http://www.shiretoko-yado.com/)

<%= image "img_7987" %>
<%= image "img_5931" %>

<%= image "img_8002" %>
<%= image "img_7993" %>
<%= image "img_7994" %>
<%= image "img_7995" %>
<%= image "img_7996" %>
<%= image "img_7997" %>
<%= image "img_7998" %>
<%= image "img_7999" %>
<%= image "img_e8001" %>
<%= image "img_5932" %>
<%= image "uwen1025" %>
