---
title: 北海道 その3
tags: travel, hokkaido
---
朝食。

<%= image "img_e8004" %>
<%= image "img_e8005" %>
<%= image "img_e8006" %>
<%= image "img_e8007" %>
<%= image "img_e8008" %>

知床五湖ガイドツアー

<%= image "img_8010" %>
<%= image "img_5934" %>
<%= image "img_8014" %>
<%= image "img_5936" %>
<%= image "img_8015" %>
<%= image "img_8016" %>
<%= image "img_5937" %>
<%= image "img_8017" %>
<%= image "img_5939" %>
<%= image "img_8020" %>
<%= image "img_5942" %>
<%= image "img_8021" %>
<%= image "img_5943" %>
<%= image "img_5944" %>
<%= image "img_8024" %>
<%= image "img_5947" %>
<%= image "img_8027" %>
<%= image "img_5949" %>
<%= image "img_8030" %>
<%= image "img_5952" %>
<%= image "img_5953" %>
<%= image "img_5954" %>
<%= image "img_8033" %>
<%= image "img_5955" %>
<%= image "img_8037" %>
<%= image "img_5959" %>
<%= image "img_5963" %>
<%= image "img_8044" %>
<%= image "img_5967" %>
<%= image "img_8049" %>
<%= image "img_8051" %>
<%= image "img_5969" %>
<%= image "img_8061" %>

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0110/A011002/1006810/">道の駅 うとろ・シリエトク</a>
北海道斜里郡斜里町ウトロ西186-8
0152-22-5000
</pre>

<%= image "img_5971" %>
<%= image "img_5972" %>
<%= image "img_e8066" %>
<%= image "img_8068" %>

[知床世界遺産センター](http://shiretoko-whcc.env.go.jp/)。

<%= image "img_8069" %>
<%= image "img_8071" %>

網走監獄。

<%= image "img_8073" %>
<%= image "img_8079" %>
<%= image "img_8081" %>
<%= image "img_8083" %>
<%= image "img_8084" %>
<%= image "img_8085" %>

女満別空港で晩ごはん食って帰宅。

<pre class="address">
<a href="https://tabelog.com/hokkaido/A0110/A011001/1009403/">Cafe Restaurant PILICA</a>
北海道網走郡大空町女満別中央201-3 女満別空港ビル2F
0152-74-4158
</pre>

<%= image "img_5973" %>
<%= image "img_5974" %>
<%= image "img_8086" %>
<%= image "img_5975" %>
<%= image "img_8089" %>
