---
title: みなとみらい
---
娘と自転車でみなとみらいまで行ってモーニングパンケーキ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140103/14067913/">メレンゲ みなとみらい店</a>
神奈川県横浜市西区みなとみらい4-4-1 横浜野村ビル1F
050-5593-9994
</pre>

<%= image "img_6019" %>

ワールドポーターズに行きたいというので開店まで自転車でブラブラして時間をつぶす。

<%= image "img_6020" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140104/14006702/">SARIO聘珍茶寮 横浜ワールドポーターズ店</a>
神奈川県横浜市中区新港2-2-1 横浜ワールドポーターズ 1F
045-222-2180
</pre>

<%= image "img_6022" %>

帰りに戸部のかき氷屋へ寄る。10月ぐらいまでやっているとのこと。

<%= image "img_6025" %>
<%= image "img_6026" %>
<%= image "img_6027" %>
