---
title: ハングリータイガー
tags: dinner, food
---
保土ヶ谷市民の嗜みとして、ハングリータイガー本店へ。
駅前からバスで行けることが判明。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140302/14000062/">ハングリータイガー 保土ヶ谷本店（Hungry Tiger）</a>
神奈川県横浜市保土ケ谷区星川3-23-13
045-333-7023
</pre>

<%= image "img_6061" %>
<%= image "img_6062" %>
<%= image "img_6065" %>
<%= image "img_8231" %>
<%= image "img_6066" %>
<%= image "img_8235" %>
<%= image "img_8237" %>
<%= image "img_6068" %>
<%= image "img_8241" %>
