---
title: ジビエのお店で送別会
tags: tokyo, restaurant
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1309/A130905/13190904/">Nico Chelsea 神楽坂</a>
東京都新宿区津久戸町3-6
03-5206-4455
</pre>

ジビエのお店で送別会。

<%= image "img_6154" %>
<%= image "img_6155" %>
<%= image "img_6156" %>
<%= image "img_6157" %>
<%= image "img_6158" %>
<%= image "img_6159" %>
<%= image "img_6161" %>
