---
title: 輪行 銚子
---
しおさい3号で12時に銚子着。

<%= image "img_6277" %>
<%= image "img_6278" %>
<%= image "img_6279" %>

とりあえずランチへ。

<pre class="address">
<a href="https://tabelog.com/chiba/A1205/A120501/12002127/">鈴女</a>
千葉県銚子市中央町6-29
0479-24-1598
</pre>

海鮮丼。

<%= image "img_6280" %>
<%= image "img_6281" %>
<%= image "img_6282" %>

今日は利根川を遡るのが目的だが、まずは逆走して犬吠埼へ。

<%= image "img_6283" %>
<%= image "img_6284" %>

来たルートを戻り、利根川沿いのルートをひた走る。

<%= image "img_6285" %>
<%= image "img_6286" %>
<%= image "img_6288" %>
<%= image "img_6289" %>
<%= image "img_6290" %>
<%= image "img_6291" %>

道中みんなやたら月の写真を撮ってるのでつられて撮っておく。
後から皆既月食だったことを知る。

<%= image "img_6296" %>
<%= image "img_6299" %>

途中で利根川沿いに出る道が見つからずウロウロしてたこともあり、暗くなってしまったが、17:30になんとか今日の目的地である[ホテルルートイン香取佐原駅前](https://www.route-inn.co.jp/hotel_list/chiba/index_hotel_id_681/)へたどり着く。

<%= image "img_6305" %>
<%= image "img_6303" %>
<%= image "img_6304" %>

一風呂浴びて夕食へ。狙っていた店が潰れていた。第2第3候補のうなぎ屋2軒は夜は早めに閉店してしまっていた。

ウロウロしてる途中で見つけたイタリア料理屋がにぎわっていたのでこれにする。
満席だったけど、少し待ってたら席が開いてたので入店。

<pre class="address">
<a href="https://tabelog.com/chiba/A1204/A120404/12031904/">ワーズワース 佐原店</a>
千葉県香取市佐原イ491-1
0478-50-0202
</pre>

イタリアンコース。パスタはゴルゴンゾーラとブロッコリーとエビ。

<%= image "img_6306" %>
<%= image "img_6307" %>
<%= image "img_6308" %>
<%= image "img_6309" %>
<%= image "img_6310" %>
<%= image "img_6311" %>
<%= image "img_6312" %>

[今日のルート](https://goo.gl/maps/ZsbYcQysvwrsRt5P7)。実際は道に迷っているので走行距離60km弱ぐらい。
