---
title: 輪行 霞ヶ浦
---
二日目。ホテルの朝飯食って二度寝してから10時すぎに出発。
今日のテーマは霞ヶ浦半周。

<%= image "img_6314" %>

道の駅で昼飯とおやつを調達。

<%= image "img_6315" %>

利根川が広くて川の越え方がよくわからない。車用の橋の下に歩行者通路があるのを発見。

<%= image "img_6316" %>

さらに支流を何度か超える。

<%= image "img_6317" %>

なかなか霞ヶ浦にたどり着けず。12時になったので昼飯。ホタテおにぎりと、恋する豚の肉巻きおにぎり。なんやそれ。

<%= image "img_6320" %>
<%= image "img_6318" %>
<%= image "img_6319" %>

やっと霞ヶ浦へ出る。
霞ヶ浦はぐるっと一周サイクリングロードがあり、非常に快適。使わなかったけど空気入れもあった。

<%= image "img_6321" %>
<%= image "img_6322" %>
<%= image "img_6323" %>
<%= image "img_6324" %>

おやつ。

<%= image "img_6325" %>
<%= image "img_6326" %>
<%= image "img_6327" %>

北側をぐるっと周り予定だったが、さすがに手とケツが痛くなってきたので、ショートカットの橋を渡る。

<%= image "img_6328" %>

いい景色です。この道路ほとんど車が走ってないので、危なくない。

<%= image "img_6329" %>

[湯楽の里](https://www.yurakirari.com/yura/tsuchiura/)へ。

<%= image "img_6330" %>
<%= image "img_6332" %>

サウナに2回入って、軽く飲む。

<pre class="address">
<a href="https://tabelog.com/ibaraki/A0802/A080202/8022081/">やきとんパンチ 土浦店</a>
茨城県土浦市大和町7-2
029-846-4637
</pre>

<%= image "img_6333" %>
<%= image "img_6334" %>
<%= image "img_6335" %>
<%= image "img_6336" %>
<%= image "img_6338" %>
<%= image "img_6339" %>
<%= image "img_6341" %>

土浦駅へ移動。ときわ86号で品川経由で帰宅。

<%= image "img_6342" %>
<%= image "img_6343" %>
<%= image "img_6344" %>
<%= image "img_6345" %>

[今日のルート](https://goo.gl/maps/jRJpWsYm8eixurDr5)。ちょうど50km。

二日間走り続けたけど、手も痺れないし、膝も痛くならなかった。
