---
title: 宮古島 その1
tags: travel, miyako, bike
---
自転車持って宮古島に来た！

<%= image "img_6401" %>

サトウキビ畑を抜けてホテルに向かいまーす。

<%= image "img_6402" %>

今回の[ホテル](https://miyakojima.tabino-hotel.jp/)。宮古島では珍しい大浴場があるホテルということで選んだ。

<%= image "img_6503" %>
<%= image "img_6504" %>

まだチェックインできないので、荷物預けて昼飯へ。とにかく宮古そばが食べたいので、ホテル周りを探す。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47009748/">お食事処 じんく屋</a>
沖縄県宮古島市平良字下里84番地
0980-73-4017
</pre>

軟骨ソーキそば。

<%= image "img_6404" %>
<%= image "img_6403" %>

今日は伊良部島へ向かいます。道中のパイナガマビーチ。

<%= image "img_6406" %>

伊良部大橋。3.5kmの橋を自転車で渡る。絶景。

<%= image "img_6407" %>
<%= image "img_6408" %>
<%= image "img_6410" %>

<%= image "img_6411" %>

下地島方面はやたらダンプカーやトラックが向かうので、萎えて渡口の浜から北上することにした。

<%= image "img_6412" %>
<%= image "img_6413" %>
<%= image "img_6414" %>
<%= image "img_6415" %>
<%= image "img_6416" %>

戻ってきてホテルにチェックイン。連泊ということでキッチン付きの部屋にアップグレードしてくれた。
カトラリーがないのでキッチンはあまり嬉しくないのですが、小さい洗濯機が備え付けられてて、毎日洗濯できて非常に便利。
結果論ですが、持ってくる服減らせた。

<%= image "img_6417" %>
<%= image "img_6418" %>
<%= image "img_6419" %>
<%= image "img_6454" %>

ドンキに買い出しへ。色々買ってしまった。

<%= image "img_6420" %>
<%= image "img_6422" %>

今日のお店。メシも美味いがホスピタリティが凄い。今日のジーマミー豆腐がいいのが入ったというので食ったらめちゃめちゃ美味い。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47004460/">居酒家 でいりぐち</a>
沖縄県宮古島市平良字西里224
0980-72-8017
</pre>

<%= image "img_6423" %>
<%= image "img_6424" %>
<%= image "img_6426" %>
<%= image "img_6427" %>
<%= image "img_6428" %>
<%= image "img_6429" %>
<%= image "img_6430" %>
<%= image "img_6431" %>
