---
title: 宮古島 その2
tags: travel, miyakojima, bike
---
今日はリモートワークの日。

昼飯。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47024322/">宮古そば・炭火焼鳥 市屋</a>
沖縄県宮古島市平良字下里245-3
080-6483-4247
</pre>

塩ネギパイタンそば。

<%= image "img_6433" %>
<%= image "img_6432" %>

店の前のパイナガマビーチに、コンビニでコーヒー買ってきてみた。WiFi来てるので普通にお仕事できる。

<%= image "img_6435" %>

晩飯。おでん盛り合わせのボリュームがすごい。豚足のおでんおいしいです。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47000098/">島おでん たから</a>
沖縄県宮古島市平良字西里172
0980-72-0671
</pre>

<%= image "img_6446" %>
<%= image "img_6437" %>
<%= image "img_6438" %>
<%= image "img_6439" %>
<%= image "img_6440" %>
<%= image "img_6441" %>
<%= image "img_6442" %>
<%= image "img_6443" %>
<%= image "img_6444" %>
<%= image "img_6445" %>

夜風が気持ちいいので、2軒目でモヒート。これも美味かった。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47020467/">El Comal</a>
沖縄県宮古島市平良下里556-3
</pre>

<%= image "img_6447" %>
<%= image "img_6448" %>
