---
title: 宮古島 その3
tags: bike, miyako, travel
---
今日のルート。宮古島の西側を攻める。

<%= image "img_e6502" %>

コンビニで朝飯買ってバス停へ。友利行きのバスに乗る。ほぼ始発のバスから終点まで乗ったけど、私以外誰も乗ってこない。

<%= image "img_6457" %>
<%= image "img_6458" %>
<%= image "img_6459" %>
<%= image "img_6460" %>

何にもない所で降りる。ちょっと走るとイムギャーマリンガーデンが見えてきた。

<%= image "img_6461" %>
<%= image "img_6464" %>
<%= image "img_6465" %>
<%= image "img_6467" %>
<%= image "img_6468" %>
<%= image "img_6469" %>
<%= image "img_6470" %>
<%= movie "hdimg_6471" %>

海に出たくなったので、DIVE宮古島さんでシーカヤック借りる。
自転車を店内に預かってくれたんだけど、「宅急便出しに行ってくる。2時間ほど帰ってこないから体力の限り遊んでおくように」と言われる。

<%= image "img_6462" %>
<%= image "img_6473" %>

で、海へ。
橋くぐって白波のあたりまで行っていいと言われたんだけど、向かい風が強いは引き波だわですぐに油断するとスタート地点に戻される。

<%= image "img_6474" %>
<%= image "img_6475" %>
<%= image "img_6478" %>
<%= image "img_6479" %>

疲れたので陸に上がってブラブラして待つ。

おっちゃん戻ってきて、食ってけと言われてドラゴンフルーツをいただく。美味いす。

<%= image "img_6480" %>
<%= image "img_6481" %>
<%= image "img_6484" %>

昼飯。[宮古メシ](https://www.instagram.com/miyako_meshi/)の人に教えてもらった店でエッグベネディクト。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47026403/">ゆさらび（YUSARABI）</a>
沖縄県宮古島市城辺友利429-1
0980-79-7907
</pre>

<%= image "img_6485" %>
<%= image "img_6486" %>

西へ。来間島へ渡る。

<%= image "img_6488" %>
<%= image "img_6489" %>
<%= image "img_6490" %>
<%= image "img_6491" %>

誰も使わない立派な遊歩道を歩いて誰もいないタコ公園へ。

<%= image "img_6493" %>
<%= image "img_6494" %>
<%= image "img_6492" %>

長崎浜。

<%= image "img_6495" %>

来間大橋展望台。

<%= image "img_6496" %>

前浜。砂浜がすごい。結構汗かいたので海に入ってみる。3分で寒くて出る。

<%= image "img_6497" %>
<%= image "img_6498" %>
<%= image "img_6499" %>
<%= image "img_6501" %>

ホテル戻って一風呂浴びたあとパイナガマビーチへ夕焼けを見に行く。

<%= image "img_6505" %>
<%= image "img_6506" %>
<%= image "img_6507" %>
<%= image "img_6510" %>

島おでんやのそばにあった店がうまそうなので行ってみた。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47027136/">小料理 うるか</a>
沖縄県宮古島市平良字西里161 1F
0980-79-7666
</pre>

生のぼうぜサバ、牛肉の時雨煮、焼き白子、どれも美味い。

<%= image "img_6511" %>
<%= image "img_6512" %>
<%= image "img_6513" %>
<%= image "img_6515" %>
<%= image "img_6516" %>
<%= image "img_6517" %>
<%= image "img_6518" %>
<%= image "img_6514" %>
