---
title: 宮古島 その4
---
昨日と同じように友利へバスで行ってから、今日は東ルート。

<%= image "img_6519" %>
<%= image "img_6520" %>

東平安名崎を目指す。

<%= image "img_6521" %>
<%= image "img_6522" %>

飯屋探すが日曜でめぼしい店がない。
スーパーでお惣菜買って、比嘉ロードパークで昼飯。肉味噌チラガー絶品。

<%= image "img_6523" %>
<%= image "img_6524" %>
<%= image "img_6525" %>

池間島まで行きたかったが、体が限界なのでショートカットして砂山ビーチへ。
一分だけ海に入る。写真なし。

<%= image "img_6526" %>
<%= image "img_6527" %>
<%= image "img_6528" %>
<%= image "img_6529" %>

宿に戻る。この時点で50km

<%= image "img_e6530" %>

砂山ビーチが素敵だったので、一風呂浴びて泡盛持って5km離れた砂山ビーチに戻る。誰もいない。

<%= image "img_6531" %>
<%= image "img_6533" %>
<%= image "img_6534" %>
<%= image "img_6535" %>

雲がどんどん出てきて空が真っ暗にになったが、しばらく待ってたらいいウロコ雲が見えた。

<%= image "img_6536" %>
<%= movie "hdimg_6537" %>

そのまま星を見たかったんだけど、曇っちゃってみれず。
諦めて撤収。真っ暗な砂浜を歩いて戻る。

<%= image "img_6540" %>

今日の店は、撮影禁止なので店頭写真のみ。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47001059/">ぽうちゃたつや</a>
沖縄県宮古島市平良字西里275
0980-73-3931
</pre>

<%= image "img_6542" %>

そーきと聖護院大根の煮物、宮古牛の春巻き、厚揚げ豆腐、あーさのかき揚げを食べる。
美味かったので、翌日も予約してホテルに戻る。
