---
title: 宮古島 その5
---
今日はお仕事の日。昼飯はホテルのレストランでカレー。

<%= image "img_6548" %>
<%= image "img_6549" %>

夜は昨日と同じ店へ。

<%= image "img_6550" %>

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47001059/">ぽうちゃたつや</a>
沖縄県宮古島市平良字西里275
0980-73-3931
</pre>

ラフテー、揚げ出し豆腐、刺身(島蛸と、白身 2種類)、あと最終日なので、ちょっと豪勢に宮古牛のグリル。

さらに2軒目にうるかへ。琉球スギが脂のってて美味い。香箱もあったので、今年まだ食ってないしついつい注文してしまった。

<%= image "img_6551" %>
<%= image "img_6552" %>
<%= image "img_6553" %>
<%= image "img_6554" %>
