---
title: 宮古島 その6
---
最終日。風が強すぎるのと、まだ行けてないところが分散してるのと、疲れが溜まってきたので車種すら分からない魔改造されてるスクーターを借りた。
シートの開け方が最後まで分からず。

<%= image "img_6556" %>

まずは初日に行かなかった下地島へ。
渡口の浜。

<%= image "img_6557" %>

通り池。

<%= image "img_6558" %>
<%= image "img_6559" %>
<%= image "img_6560" %>
<%= image "img_6561" %>
<%= image "img_6562" %>

下地島空港北側の17END。
ここ自転車ならそのまま西に戻れたけど、原付きなので引き返す。

<%= image "img_6563" %>
<%= image "img_6564" %>
<%= image "img_6565" %>
<%= image "img_6566" %>
<%= image "img_6568" %>
<%= image "img_6569" %>

中西さんが勧めてくれた人気店へ。シーズオフなので、そこまで混んでなかった。

<pre class="address">
<a href="https://tabelog.com/okinawa/A4705/A470503/47013937/">かめ</a>
沖縄県宮古島市伊良部字長浜251
0980-78-5477
</pre>

伊良部そばとじゅーしーのセット。

<%= image "img_6570" %>
<%= image "img_6571" %>

宮古島に戻って東へ向かう。

<%= image "img_6572" %>
<%= image "img_6573" %>
<%= image "img_6574" %>
<%= image "img_6575" %>

池間島灯台へ。

<%= image "img_6576" %>
<%= image "img_6577" %>

戻って原付を返却して自転車で空港へ。
めっちゃ楽しめた。
