---
draft: true
title: 湯河原旅行 その1
---
小田原駅で軽食を食う。

<%= image "img_6578" %>
<%= image "img_6579" %>
<%= image "img_8762" %>

湯河原へ移動。
お宿は[源泉宿ゆっくり](https://yugawarayukkuri.com/)。

<%= image "img_8767" %>
<%= image "img_8769" %>
<%= image "img_8806" %>

万葉公園を散歩。

<%= image "img_8771" %>
<%= image "img_8773" %>
<%= image "img_8776" %>
<%= image "img_8777" %>
<%= image "img_8778" %>
<%= image "img_8779" %>
<%= image "img_8781" %>
<%= image "img_6580" %>
<%= movie "hdimg_6583" %>
<%= image "img_8782" %>
<%= image "img_8785" %>
<%= image "img_8786" %>
<%= image "img_8789" %>
<%= image "img_8791" %>
<%= image "img_8794" %>
<%= image "img_8795" %>
<%= image "img_8798" %>
<%= image "img_8800" %>
<%= image "img_8803" %>
<%= image "img_8805" %>

晩飯は宿のそばの焼肉屋。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1410/A141002/14072428/">焼肉ぱだ</a>
神奈川県足柄下郡湯河原町宮上535
0465-63-7090
</pre>

<%= image "img_6585" %>
<%= image "img_6586" %>
<%= image "img_6584" %>
<%= image "img_6587" %>
<%= image "img_6588" %>
<%= image "img_6589" %>
<%= image "img_6590" %>
<%= image "img_6591" %>
<%= image "img_6592" %>
