---
title: 新潟旅行 その1
tags: niigata, ski, travel
---
今回のお宿。

<pre class="address">
<a href="http://www.yuzawa-yuzawa.com/">ホテル湯沢湯沢でんき屋</a>
新潟県南魚沼郡湯沢町岩原155
025-787-3020
</pre>

<%= image "img_5604" %>
<%= image "img_5606" %>

湯沢パークスキー場。
りりちゃんボードつけて初リフト失敗。降りそびれてリフト一周してテンションだだ下がり。

<%= image "img_0107" %>
<%= image "img_5570" %>
<%= image "img_5572" %>
<%= image "img_5574" %>
<%= image "img_5579" %>
<%= image "img_5580" %>
<%= image "img_5582" %>

雪山遊び。

<%= image "img_5589" %>
<%= image "img_5596" %>
<%= image "img_5598" %>
<%= image "img_5600" %>
<%= image "img_5601" %>

晩御飯。

<%= image "img_5608" %>
<%= image "img_5610" %>
<%= image "img_5612" %>
