---
title: 横浜歴史博物館
tags: kids, museum, yokohama
---
アメイジングワールドで遊ぶ。レターケースを作る。

<pre class="address">
<a href="http://www.amazingworld.jp/">アメイジングワールド</a> ルララ港北店
神奈川県横浜市都筑区中川中央2-2-1
</pre>

<%= image "img_0192" %>
<%= image "img_0194" %>
<%= image "img_0201" %>
<%= image "img_0206" %>

家電屋さんでピカチュウのキャップをもらう。

<%= image "img_0208" %>

帰りにぶらついていたら、博物館を発見。

<a href="https://www.rekihaku.city.yokohama.jp/">横浜歴史博物館</a>

奇遇にもここにも日立が展示されていた。

<%= image "img_0210" %>
<%= image "img_0212" %>
<%= image "img_0213" %>
<%= image "img_0214" %>
<%= image "img_0217" %>

意味不明の顔入れ看板。

<%= image "img_0221" %>

鉄腕DASHで作ってた猟具の展示があった。

<%= image "img_0222" %>
<%= image "img_0223" %>
<%= image "img_0224" %>
