---
title: 日本科学未来館
tags: exhibition, museum, science
---
<a href="http://www.miraikan.jst.go.jp/">日本科学未来館</a>の<a href="http://zukan-move.kodansha.co.jp/nareru/">「MOVE 生きものになれる展」</a>に行く。

<%= image "img_5980" %>

<%= image "img_5949" %>
<%= image "img_5958" %>
<%= image "img_5959" %>
<%= movie "hdimg_5962" %>
<%= image "img_5964" %>
<%= image "img_5969" %>
<%= image "img_5978" %>
