---
title: 静岡
tags: family, shizuoka, travel
---
はるくんに会いに来た。

<%= image "img_5997" %>
<%= image "img_6003" %>
<%= image "img_6007" %>
<%= image "img_6008" %>
<%= image "img_6010" %>
<%= image "img_6011" %>
<%= image "img_6013" %>
<%= image "img_6018" %>
<%= image "img_6023" %>
<%= image "img_6035" %>
<%= image "img_6036" %>
<%= movie "hdimg_6038" %>

朝ごはんはしらす丼。ちょうど漁解禁直後らしい。去年は不漁だったんで、ラッキー。

<pre class="address">
<a href="https://tabelog.com/shizuoka/A2204/A220401/22023991/">SUNZOK</a>
静岡県富士市川成新町420
</pre>

<%= image "img_6027" %>
<%= image "img_0229" %>
<%= image "img_6041" %>
<%= image "img_6044" %>

<%= image "img_6046" %>
<%= image "img_6048" %>

散歩。

<%= image "img_6051" %>
<%= image "img_6054" %>
<%= image "img_6057" %>
<%= image "img_6062" %>
<%= image "img_6067" %>
<%= image "img_6068" %>
<%= image "img_6070" %>
<%= image "img_6071" %>
<%= image "img_6077" %>
<%= image "img_6078" %>

早めの晩ごはん。

<%= image "img_0230" %>
<%= image "img_0231" %>
<%= image "img_6091" %>
<%= image "img_6093" %>
<%= image "img_6095" %>
<%= image "img_6096" %>
