---
title: 富岡製糸場
tags: gunma, sightseeing
---
富岡製糸場へ行く、群馬は遠い。

<%= image "img_6152" %>
<%= image "img_6153" %>
<%= image "img_0270" %>
<%= image "img_0272" %>
<%= image "img_6162" %>
<%= image "img_6166" %>
<%= image "img_6173" %>
<%= image "img_6174" %>
<%= image "img_6175" %>
<%= image "img_6176" %>
<%= image "img_6179" %>
<%= image "img_6181" %>
<%= image "img_6184" %>
<%= image "img_0275" %>
<%= image "img_6185" %>
<%= image "img_6188" %>
<%= image "img_6194" %>
<%= image "img_6195" %>
<%= image "img_6199" %>

お昼ご飯。

<pre class="address">
<a href="https://tabelog.com/gunma/A1005/A100501/10015468/">さくら</a>
群馬県富岡市富岡1145
0274-67-7893
</pre>

<%= image "img_0278" %>
<%= image "img_6201" %>

<%= image "img_6203" %>
<%= image "img_6204" %>

子持ちの狛犬。

<%= image "img_6207" %>

<%= image "img_6208" %>

ゆるキャラ。お富ちゃん。

<%= image "img_6209" %>
<%= image "img_6220" %>
