---
title: ロンドン その1
tags: london, travel, uk
---
実に13年ぶりのロンドン。Terminal 5が増えてるし、Heathrow ConnectなるHeathrow Expressの鈍行版ができてて混乱する。

<%= image "img_0401" %>

パディントン着。西のエリアから外に出れなくなっててこれまた混乱する。結局、ヒルトンの中に入って外に出た。
記憶と現実が微妙に食い違うのが辛い。

<%= image "img_0402" %>
<%= image "img_0403" %>

ホテルにチェックイン。写真なし。地の利はいいけどめっさ狭いビジネスホテル相当。

<pre class="address">
<a href="https://www.indigopaddington.com/">Hotel Indigo London-Paddington</a>
16 London Street, Paddington, London, W2 1HL, United Kingdom
+44 (0) 20 7706 4444
</pre>

東側からは普通に駅に入れた。めっちゃいい天気です。8月の陽気。

<%= image "img_0404" %>
<%= image "img_0405" %>

我が町Ealing Broadwayへ向こう。

<%= image "img_0406" %>

昔の自分の家。全然変わってねえ。

<%= image "img_0408" %>

ケバブ屋はおしゃれに改装してた。

<%= image "img_0409" %>

モールへ向こう。

<%= image "img_0410" %>
<%= image "img_0411" %>
<%= image "img_0412" %>
<%= image "img_0413" %>

半分強の店は入れ替わってました。記憶が薄まってるのと合わさって、懐かしさは一割ぐらいかなあ。
映画館もよく行ってたインド料理屋も潰れてた。

Paddingに戻ろうとしたけど、一向に電車が来ない。忘れてたよこの感じ。

<%= image "img_0415" %>

夜はステーキ。

<pre class="address">
<a href="https://www.tripadvisor.jp/Restaurant_Review-g186338-d753840-Reviews-Angus_Steakhouse_Praed_St-London_England.html">Angus Steakhouse</a>
163-165 Praed Street, Paddington, London W2 1RH, England
+44 20 7706 4879
</pre>

ヨーロッパ組の出張メンバー集まって晩飯。リブアイ(12oz)を頂く。

<%= image "img_0417" %>
<%= image "img_0420" %>
