---
title: 東京国立博物館
tags: museum, art, aquarium
---
東京国立博物館の<a href="http://meisaku2018.jp/">「名作誕生ーつながる日本美術」</a>。

<%= image "img_6365" %>
<%= image "img_6367" %>
<%= image "img_6369" %>

<pre class="address">
<a href="http://www.galaxcity.jp/">ギャラクシティ</a>
東京都足立区栗原1-3-1
03（5242）8161
</pre>

<%= image "img_6372" %>
<%= image "img_6375" %>
<%= image "img_6376" %>
<%= image "img_6380" %>
<%= image "img_6390" %>
<%= image "img_6407" %>
<%= image "img_6414" %>
<%= image "img_6415" %>
<%= image "img_6418" %>
<%= image "img_6421" %>
<%= image "img_6422" %>

<pre class="address">
<a href="http://www.aqua-park.jp/aqua/">アクアパーク品川</a>
東京都港区高輪4－10－30(品川プリンスホテル内)
03-5421-1111
</pre>

<%= image "img_6425" %>
<%= image "img_6442" %>
<%= image "img_6434" %>
<%= image "img_6435" %>
