---
title: ロンドン その3
tags: dublin, travel, uk
---
今日もいい天気。３日ともめっちゃ夏日だった。

<%= image "img_0436" %>
<%= image "img_0439" %>
<%= image "img_0440" %>

採用イベントが終わって、ヒースロー空港へ移動。

<%= image "img_0442" %>

ダブリン着。職場の裏のホテル。めっちゃ便利。

<pre class="address">
<a href="https://www.claytonhotelburlingtonroad.com/">Clayton Hotel Burlington Road</a>
Leeson Street Upper, Dublin 4, Ireland D04 A318
</pre>

<%= image "img_0443" %>
<%= image "img_0444" %>
<%= image "img_0445" %>
<%= image "img_0446" %>
