---
title: ダブリン その2
tags: bar, dublin, ireland
---
職場のトイレでダイソン製のハンドドライヤー発見。

<%= image "img_0459" %>

たまたま別件でダブリンに来ていたシアトル在住の日本人メンバーと飯を食いに行く。
ラーメン食いたいというので日本食屋に入るが、韓国系の日本食屋だった。

<pre class="address">
<a href="http://www.zakuradublin.com/">Zakura Izakaya</a>
7 Upper Baggot Street, Dublin 4, Ireland
+353 (01) 563 8000
</pre>

Karubi Beef。つまり、石焼きビビンバ。日本食じゃねええ。

<%= image "img_0462" %>
<%= image "img_0460" %>
<%= image "img_0461" %>

今日のパブ。

<%= image "img_0464" %>
<%= image "img_0465" %>
<%= image "img_0466" %>
<%= image "img_0467" %>
<%= image "img_0469" %>
<%= image "img_0499" %>
