---
title: ダブリン その3
tags: bar, dublin, ireland
---
オフィスのテラス席。素敵。

<%= image "img_0471" %>

タイ料理気に入ったので、今日はグリーンカレー。

<pre class="address">
<a href="http://www.kanum.ie/"></a>
KANUM BALLSBRIDGE
77 Mespil Road, Ballsbridge, Dublin 4
01 660 8616
</pre>

<%= image "img_0472" %>

チームイベントでディナーへ行く。
天気雨の中を移動してたら、道中で二重虹に遭遇する。

<%= image "img_0476" %>

教会をパブに改装したそうです。

<pre class="address">
<a hre="http://thechurch.ie/">The Church</a>
The Church, Junction of Mary St & Jervis St, Dublin 1, Ireland
+353 1 828 0102
</pre>

<%= image "img_0483" %>
<%= image "img_0485" %>
<%= image "img_0488" %>
<%= image "img_0490" %>
<%= image "img_0493" %>
<%= image "img_0494" %>
<%= image "img_0495" %>
<%= image "img_0497" %>
