---
title: ピアノ発表会
tags: event, family, music, unagi
---
まずは集合してうなぎ。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140310/14000956/">隅田川</a>
神奈川県横浜市金沢区町屋町5-7
045-701-8621
</pre>

<%= image "img_0507" %>
<%= image "img_6462" %>
<%= image "img_6464" %>
<%= image "img_6469" %>
<%= image "img_6471" %>
<%= image "p4280009" %>
<%= image "p4280011" %>

まーくんのピアノ発表会で<a href="http://www.nagahama-hall.com/">長浜ホール</a>へ

<%= image "p4280022" %>
<%= image "p4280033" %>
<%= image "p4280042" %>
<%= image "p4280066" %>
<%= image "p4280068" %>
<%= image "p4280079" %>
<%= image "p4280082" %>
<%= image "p4280093" %>
<%= image "p4280097" %>
<%= image "p4280098" %>
<%= image "p4280102" %>
<%= image "p4280103" %>
<%= image "p4280107" %>
<%= image "p4280109" %>
<%= image "p4280117" %>
<%= image "p4280119" %>
<%= image "p4280122" %>

裏の庭。

<%= image "p4280127" %>
<%= image "p4280134" %>
<%= image "p4280138" %>
<%= image "p4280140" %>
<%= image "p4280142" %>
<%= image "p4280147" %>
<%= image "p4280150" %>
<%= image "img_6475" %>
<%= image "img_6488" %>
<%= image "img_6489" %>

さて蓮はどこでしょう。

<%= image "img_6492" %>
