---
title: 奈良
---
法隆寺を見に行く。

<%= image "img_0545" %>
<%= image "img_6504" %>
<%= image "img_6506" %>
<%= image "img_6515" %>
<%= image "img_6523" %>
<%= image "img_6525" %>
<%= image "img_6531" %>
<%= image "img_6536" %>
<%= image "img_6548" %>
<%= image "img_6550" %>
<%= image "img_6552" %>
<%= image "img_6556" %>

ジャンプ撮影。

<%= image "img_6541" %>
<%= image "img_6547" %>
<%= image "img_6561" %>
<%= image "img_6571" %>

大阪に向かってじーちゃんばーちゃんと合流。

<%= image "img_0549" %>
<%= image "img_6580" %>

アウトバックへ。

<pre class="address">
<a href="http://tabelog.com/osaka/A2701/A270101/27002686/">アウトバック ステーキハウス 梅田店</a>
大阪府大阪市北区堂島1-6-20 堂島アバンザ B1F
06-6457-7121
</pre>

<%= image "img_6583" %>
<%= image "img_6585" %>
<%= image "img_0552" %>
<%= image "img_6586" %>
<%= image "img_6587" %>
<%= image "img_6588" %>
<%= image "img_6590" %>
<%= image "img_6593" %>
<%= image "img_6597" %>
<%= image "img_6598" %>
<%= image "img_2817" %>

謎のおまけ。

<%= image "img_6607" %>
