---
title: テキーラ
tags: meguro, bar
---
ダブリンで依頼された荷物を元同僚に受け渡す。
ついでにバルマーさんのテラスでタンドリーチキンとビール。

<%= image "img_0591" %>
<%= image "20180516-1946_img5161368" %>
<%= image "20180516-1952_img5161371" %>
<%= image "20180516-1952_img5161372" %>

職場のそばにテキーラ専門のバーがあるという情報を入手したので向かう。

<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13169458/">バタンガ セブン</a>
東京都目黒区目黒1-24-19 目黒新橋マンション 1F
</pre>

<a href="https://tequilacorralejo.mx/es">Corralejo</a>というブランドの直営店だそうです。
代理店がついてないボトルもある。うまかった。

<%= image "20180516-2252_img5161425" %>
<%= image "20180516-2226_img5161419" %>
<%= image "20180516-2135_img5161387" %>
<%= image "20180516-2138_img5161390" %>
<%= image "20180516-2138_img5161391" %>
<%= image "20180516-2139_img5161393" %>
<%= image "20180516-2141_img5161394" %>
<%= image "20180516-2202_img5161399" %>
<%= image "20180516-2203_img5161402" %>
<%= image "20180516-2204_img5161404" %>
<%= image "20180516-2214_img5161406" %>
<%= image "20180516-2227_img5161422" %>
<%= image "img_0594" %>

マカレナに新バージョンがあることを教えてもらう。

<iframe id="ytplayer" type="text/html" width="320" height="180"
  src="http://www.youtube.com/embed/8BMnz4i2dM8?autoplay=0&origin=https://www.don.to"
  frameborder="0" allowfullscreen="1" />
