---
title: キュリオス
tags: entertainment, museum, science
---
<a href="http://www.miraikan.jst.go.jp/">日本科学未来館</a>。

<%= image "dsc_3603" %>
<%= image "dsc_3610" %>
<%= image "dsc_3628" %>
<%= image "dsc_3646" %>
<%= image "dsc_3664" %>
<%= image "dsc_3666" %>
<%= image "dsc_3670" %>
<%= image "dsc_3674" %>
<%= image "dsc_3684" %>
<%= image "dsc_3685" %>
<%= image "dsc_3690" %>
<%= image "dsc_3696" %>
<%= image "dsc_3701" %>
<%= image "dsc_3707" %>
<%= image "dsc_3711" %>
<%= image "dsc_3789" %>
<%= image "img_6855" %>
<%= image "img_6871" %>
<%= image "img_6880" %>
<%= image "img_6881" %>
<%= movie "hdimg_6883" %>

キュリオス。

<%= image "img_6886" %>
<%= image "img_6906" %>
<%= image "dsc_3825" %>
<%= image "dsc_3832" %>
<%= image "img_6889" %>

<%= image "dsc_3838" %>
<%= image "dsc_3851" %>
<%= image "dsc_3853" %>
<%= image "dsc_3867" %>

