---
title: こども科学センターハチラボ
---
<%= image "img_7260" %>
<%= image "img_7261" %>

<pre class="address">
<a href="https://www.city.shibuya.tokyo.jp/shisetsu/kosodate/hachirabo.html">こども科学センターハチラボ</a>
桜丘町23-21 文化総合センター大和田3階
03-3464-3485
</pre>

<%= image "img_7268" %>
<%= image "img_7271" %>
<%= image "img_7273" %>
<%= image "img_7275" %>
<%= image "img_7281" %>
<%= movie "hdtrimg_7282" %>
<%= image "img_7283" %>
<%= movie "hdtrimg_7284" %>
