---
title: 芦川オートキャンプ場 その1
tags: camping, outdoor, family
---
妹夫婦と<a href="http://www.geocities.jp/ashigawa_auto/">芦川オートキャンプ場</a>へキャンプに来た。

<%= image "img_7538" %>
<%= image "img_7539" %>
<%= image "img_7542" %>
<%= image "img_7543" %>
<%= image "img_7546" %>
<%= image "img_7550" %>
<%= image "img_7552" %>
<%= image "img_7554" %>
<%= image "img_7557" %>

沢登り(の戻り)。

<%= movie "hdimg_7655" %>

晩御飯はホルモン焼きとアヒージョ。

<%= image "img_7559" %>

ロケットストーブを買ったので火遊び。

<%= image "img_7562" %>
<%= image "img_7563" %>

