---
title: 東北旅行 その1
tags: travel, tohoku, family
---
ANAで大館能代空港へ。一日4本しか離発着がないドマイナー空港。

<%= image "img_7811" %>
<%= image "img_7813" %>
<%= image "img_7814" %>
<%= image "img_0910" %>

レンタカー借りて移動。

<%= image "img_0915" %>

昼飯。

<pre class="address">
<a href="https://tabelog.com/aomori/A0202/A020201/2000281/">セーブル</a>
青森県弘前市松森町73 キングパチンコ 2F
0172-36-6614
</pre>

<%= image "img_7818" %>
<%= image "img_7821" %>
<%= image "img_7828" %>
<%= image "img_7831" %>

弘前城。

<%= image "img_0917" %>
<%= image "img_0922" %>
<%= image "img_0924" %>
<%= image "img_0928" %>
<%= image "img_0930" %>
<%= image "img_7842" %>
<%= image "img_7845" %>
<%= image "img_7854" %>
<%= image "img_7859" %>
<%= image "img_7862" %>
<%= image "img_7864" %>
<%= image "img_7867" %>
<%= image "img_7868" %>
<%= image "img_7871" %>
<%= image "img_7874" %>
<%= image "img_7884" %>
<%= image "img_7885" %>
<%= image "img_7889" %>
<%= image "img_0936" %>

白神山地へ。ブナの原生林を見る。

<%= image "img_7903" %>
<%= image "img_7916" %>
<%= image "img_0939" %>
<%= image "img_7923" %>
<%= image "img_7929" %>
<%= image "img_7942" %>
<%= image "img_7945" %>
<%= image "img_7947" %>
<%= movie "hdimg_0940" %>
<%= image "img_0941" %>
<%= image "img_0947" %>
<%= image "img_0948" %>
<%= movie "hdimg_0949" %>
<%= image "img_7950" %>
<%= image "img_7957" %>
<%= image "img_7961" %>
<%= image "img_7965" %>
<%= movie "hdimg_7967" %>
<%= image "img_7974" %>
<%= image "img_7976" %>
<%= image "img_7977" %>
<%= image "img_7978" %>
<%= image "img_7981" %>
<%= image "img_7985" %>
<%= image "img_7987" %>
<%= image "img_7992" %>
<%= image "img_7997" %>

ビジターセンター横の公園で遊ぶ。

<%= image "img_8005" %>
<%= image "img_8009" %>
<%= image "img_0950" %>

今日のお宿。

<pre class="address">
<a href="https://shirakamikan.wixsite.com/nishimeya">ブナの里白神館</a>
青森県中津軽郡西目屋村 田代字神田60-1
0172-85-3011
</pre>

<%= image "img_8014" %>
<%= image "img_8016" %>
<%= image "img_8021" %>
<%= image "img_8022" %>
<%= image "img_8023" %>
<%= image "img_8024" %>
<%= image "img_8027" %>
<%= image "img_0956" %>
