---
title: 東北旅行 その2
---
朝ごはん。

<%= image "img_8029" %>
<%= image "img_8032" %>
<%= image "img_8035" %>

土砂降りの中移動。なんも見えへん。めっちゃ怖い。

<%= image "img_8042" %>
<%= image "img_8046" %>

カヤックの予約をしたんですが雷が出ているとのことでキャンセル。
遊覧船に切り替える。

<%= image "img_8052" %>
<%= image "img_8055" %>
<%= image "img_8057" %>
<%= image "img_8067" %>
<%= image "img_8078" %>
<%= image "img_8080" %>
<%= image "img_8088" %>
<%= image "img_0958" %>
<%= image "img_0972" %>
<%= image "img_0978" %>
<%= image "img_0980" %>
<%= image "img_0990" %>
<%= image "img_1005" %>
<%= image "img_e1006" %>
<%= movie "hdimg_1009" %>
<%= image "img_1010" %>

奥入瀬渓流。

<%= image "img_8105" %>
<%= image "img_8108" %>
<%= image "img_8111" %>
<%= image "img_8113" %>
<%= image "img_8117" %>
<%= image "img_8118" %>
<%= image "img_8121" %>
<%= image "img_8124" %>
<%= movie "hdimg_1014" %>

お昼ご飯は石窯ピザ。

<pre class="address">
<a href="https://tabelog.com/aomori/A0203/A020304/2008096/">オルトラーナ</a>
青森県十和田市大字奥瀬字栃久保11-253
0176-70-5955
</pre>

<%= image "img_1019" %>
<%= image "img_1017" %>
<%= image "img_1018" %>
<%= image "img_8125" %>
<%= image "img_8127" %>
<%= image "img_8130" %>
<%= image "img_8133" %>
<%= image "img_8135" %>
<%= image "img_8136" %>

今夜のお宿。日本三大秘湯だそうで。携帯の電波も入らない。

<pre class="address">
<a href="https://yachionsen.com/">谷地温泉</a>
青森県十和田市法量谷地1
0176-74-1181
</pre>

<%= image "img_1022" %>
<%= image "img_8158" %>
<%= image "img_8155" %>
<%= image "img_8161" %>
<%= image "img_8163" %>
<%= image "img_8170" %>

宿の前を散策。

<%= image "img_8173" %>
<%= image "img_8177" %>
<%= image "img_8179" %>
<%= image "img_8183" %>
<%= image "img_8189" %>
<%= image "img_8190" %>
<%= image "img_8191" %>
<%= image "img_8197" %>
<%= image "img_8198" %>
<%= image "img_8199" %>

さらに宿の裏を散策。

<%= image "img_8203" %>
<%= image "img_8206" %>
<%= image "img_8209" %>
<%= image "img_8211" %>

雨が強くなってきたので散策終了。お風呂。

<%= image "img_8213" %>
<%= image "img_8220" %>
<%= image "img_8222" %>

晩ごはんは普通。

<%= image "img_8228" %>
<%= image "img_8229" %>
<%= image "img_8231" %>
<%= image "img_8233" %>
<%= image "img_8234" %>
<%= image "img_8237" %>
<%= image "img_8238" %>
<%= image "img_8240" %>
<%= image "img_8241" %>
<%= image "img_8246" %>
<%= image "img_8250" %>
<%= image "img_8252" %>
