---
title: 東北旅行 その3
tags: travel, tohoku, museum
---
朝ごはん。

<%= image "img_8253" %>
<%= image "img_8254" %>
<%= image "img_8256" %>
<%= image "img_8257" %>
<%= image "img_8259" %>
<%= image "img_8261" %>

岩木山展望所。大音量の八甲田除雪隊の歌を無限ループで聴かせられる。
どうしてこういうセンスになる。

<%= image "img_8262" %>
<%= image "img_8269" %>
<%= image "img_8271" %>

<pre class="address">
<a href="http://sannaimaruyama.pref.aomori.jp/facilities/">三内丸山遺跡</a>
青森県青森市大字三内字丸山305
</pre>

<%= image "img_8275" %>
<%= image "img_8282" %>
<%= image "img_8293" %>
<%= image "img_8294" %>
<%= image "img_8297" %>
<%= image "img_8300" %>
<%= image "img_8301" %>

実際の遺跡が見れます。

<%= image "img_8305" %>
<%= image "img_8306" %>
<%= image "img_1028" %>
<%= image "img_1030" %>
<%= image "img_1034" %>
<%= image "img_8308" %>
<%= image "img_8313" %>
<%= image "img_1025" %>
<%= image "img_8314" %>
<%= image "img_8317" %>
<%= image "img_8322" %>
<%= image "img_8327" %>
<%= image "img_8329" %>
<%= image "img_8332" %>
<%= image "img_1037" %>
<%= image "img_1038" %>
<%= image "img_1041" %>
<%= image "img_1044" %>
<%= image "img_1052" %>
<%= image "img_8335" %>
<%= image "img_8343" %>

<pre class="address">
<a href="http://www.aomori-museum.jp/ja/">青森県立美術館</a>
青森市安田字近野185
017-783-3000
</pre>

<%= image "img_8346" %>
<%= image "img_8348" %>
<%= image "img_8351" %>
<%= image "img_8356" %>
<%= image "img_8364" %>
<%= image "img_1057" %>

帰りまーす。

<%= image "img_8377" %>
