---
title: 保土ヶ谷キャンドルナイト2018
---
保土ヶ谷公園で<a href="http://hodogaya-ibennto.blogspot.com/2018/08/2018_14.html">イベント</a>。

<%= image "img_1076" %>
<%= image "img_1077" %>
<%= image "img_1078" %>
<%= image "img_1079" %>
<%= image "img_1080" %>
<%= image "img_1081" %>
