---
title: 鎌倉ハイキング
tags: trail, kamakura, family
---
<%= image "img_8747" %>
<%= image "img_8749" %>
<%= image "img_8755" %>
<%= image "img_8758" %>
<%= image "img_8759" %>
<%= image "img_8764" %>
<%= image "img_8771" %>
<%= image "img_8776" %>
<%= image "img_8779" %>
<%= image "img_8789" %>
<%= image "img_8793" %>
<%= image "img_8794" %>
<%= image "img_8796" %>
<%= image "img_8798" %>
<%= image "img_8800" %>
<%= image "img_8803" %>
<%= image "img_8804" %>

保土ヶ谷区民なら行くべきハングリータイガーにようやく行った。でも本店激混みのため横浜モアーズ店。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140101/14013958/">ハングリータイガー 横浜モアーズ店</a>
神奈川県横浜市西区南幸1-3-1 横浜モアーズ 8F
045-311-9977
</pre>

<%= image "img_8808" %>
<%= image "img_8809" %>
<%= image "img_8810" %>
