---
title: 横浜中華街で上海蟹
tags: yokohama, chinese, family
---
小田原のじーちゃんの喜寿で上海蟹を食べに来ました。

<%= image "dsc_5394" %>
<%= image "dsc_5405" %>

今日のお店。

<%= image "img_8943" %>

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140105/14000500/">三和楼</a>
神奈川県横浜市中区山下町190
050-5869-9287
</pre>

<%= image "dsc_5383" %>
<%= image "img_1206" %>
<%= image "img_8952" %>
<%= image "img_8954" %>
<%= image "img_8955" %>
<%= image "img_8958" %>
<%= image "img_8959" %>
<%= image "img_8961" %>
<%= image "img_8963" %>

<%= image "img_8946" %>
<%= image "img_8947" %>
<%= image "img_8967" %>
<%= image "img_8970" %>
<%= image "img_8972" %>
<%= image "img_8991" %>

[横浜マリンタワー](http://www.marinetower.jp/)。

<%= image "dsc_5406" %>
<%= image "dsc_5411" %>
<%= image "dsc_5412" %>
<%= image "dsc_5414" %>
<%= image "dsc_5422" %>
<%= image "dsc_5423" %>
<%= image "dsc_5424" %>
<%= image "dsc_5427" %>
<%= image "dsc_5433" %>
<%= image "dsc_5438" %>
<%= image "img_8995" %>
<%= image "img_9004" %>
<%= image "img_9005" %>
<%= image "img_9011" %>

移動。

<%= image "dsc_5449" %>
<%= image "dsc_5457" %>

林屋茶園でデザート。

<%= image "dsc_5473" %>
<%= image "dsc_5469-1" %>
<%= image "dsc_5470" %>
<%= image "img_9016" %>
<%= image "img_9021" %>
