---
title: 目黒ごはん 目黒の和食 さとう
---
<pre class="address">
<a href="https://tabelog.com/tokyo/A1316/A131601/13160383/">目黒の和食 さとう</a>
東京都品川区上大崎2-13-26 メイプルトップビル B1F
050-5872-4167
</pre>

某氏のお祝いでセールスのマネージャー三人と飲む。

<%= image "img_1251" %>
<%= image "img_1252" %>
<%= image "img_1253" %>
<%= image "img_1254" %>
<%= image "img_1255" %>
