---
title: カップヌードルミュージアム 横浜
tags: kids, museum, yokohama
---
[カップヌードルミュージアム 横浜](https://www.cupnoodles-museum.jp/ja/yokohama/)に娘と来ました。

先にマイカップヌードルファクトリーの整理券をゲットしてからワールドポーターズのフードコートで昼飯(というかおやつというか)。

<pre class="address">
<a href="https://tabelog.com/kanagawa/A1401/A140104/14058390/">マノア パンケーキハウス ガーデンマルシェ 横浜ワールドポーターズ</a>
神奈川県横浜市中区新港2-2-1 横浜ワールドポーターズ 1F
045-680-0570
</pre>

<%= image "img_1259" %>
<%= image "img_1262" %>
<%= image "img_1264" %>
<%= image "img_1268" %>

カップヌードルミュージアムに戻る。

<%= image "img_1273" %>
<%= image "img_1276" %>

まだ時間があるので展示を見る。ネタの数はそんなに多くないけど、あれでもかこれでもかと違う手法で見させられる。
うちも[OLP](https://www.amazon.co.jp/b?ie=UTF8&node=4967768051)ミュージアム作ればいいのにと思った。

<%= image "img_1277" %>
<%= image "img_1279" %>
<%= image "img_1284" %>

メインのマイカップヌードル作成。

<%= image "img_1287" %>
<%= image "img_1289" %>
<%= image "img_1290" %>
<%= image "img_1292" %>
<%= image "img_1296" %>

[ワールド麺ロード](https://www.cupnoodles-museum.jp/ja/yokohama/attractions/world-noodles-bazaar/)。謎肉丼は売り切れだった。

<%= image "img_1301" %>
<%= image "img_1305" %>

カップヌードルと蘭州牛肉麺。

<%= image "img_1298" %>
<%= image "img_1299" %>
<%= image "img_1300" %>
<%= image "img_1304" %>
