---
title: 九州旅行 その1
---
佐賀空港から佐賀駅着。

<%= image "img_9468" %>

とりあえず昼飯。

<pre class="address">
<a href="https://tabelog.com/saga/A4101/A410101/41000247/">ビッグワン</a>
佐賀県佐賀市駅前中央1-13-16
0952-30-8212
</pre>

<%= image "img_1777" %>
<%= image "img_9461" %>
<%= image "img_9466" %>

電車で[吉野ヶ里遺跡](http://www.yoshinogari.jp/)へ向かう。

<%= image "img_1788" %>
<%= image "img_1798" %>
<%= image "img_9471" %>

<%= image "img_9477" %>
<%= image "img_9482" %>
<%= image "img_9486" %>
<%= image "img_9489" %>
<%= image "img_9491" %>
<%= image "img_9492" %>
<%= image "img_9500" %>
<%= image "img_9505" %>
<%= image "img_9508" %>
<%= image "img_9524" %>
<%= image "img_9526" %>

<span class="fontsizeplus">「おい、りり、あれ何だ？」「え？あれ、ひょっとして？」</span>
<span class="fontsizeplusplus">「UFOだ！」</span>

<%= image "img_9532ufo" %>

ということで、娘と初UFO。

<%= image "img_9539" %>
<%= image "img_9545" %>
<%= image "img_9547" %>
<%= image "img_9552" %>
<%= image "img_9562" %>

<%= image "img_1805" %>
<%= image "img_1810" %>

呼子イカ食べに来た。

<pre class="address">
<a href="https://tabelog.com/saga/A4101/A410101/41002677/">さかなや道場 佐賀南口店</a>
佐賀県佐賀市駅前中央1-4-1 MIビル
0952-27-8811
</pre>

<%= image "img_1813" %>
<%= image "img_9567" %>
<%= image "img_1815" %>
<%= image "img_1817" %>
<%= image "img_9566" %>
<%= image "img_1820" %>
