---
title: 九州旅行 その2
tags: kyushu, onsen, travel
---
レンタカーを借りて移動。昼食は自然薯。うまい。

<pre class="address">
<a href="https://tabelog.com/kumamoto/A4302/A430203/43001094/">自然薯料理 やまたけ</a>
熊本県阿蘇郡南小国町大字満願寺6994
0967-44-0930
</pre>

<%= image "img_9570" %>
<%= image "img_1822" %>
<%= image "img_1824" %>
<%= image "img_1826" %>
<%= image "img_1828" %>
<%= image "img_9572" %>
<%= image "img_9576" %>
<%= image "img_9578" %>
<%= image "img_9580" %>
<%= image "img_9585" %>
<%= image "img_9589" %>

今日は温泉めぐりの日。[湯本荘](http://www.yumotoso.jp/)で日帰り入浴。

<%= image "img_9592" %>
<%= image "img_9595" %>
<%= image "img_9596" %>

次は[和らく](http://www.satonoyu-waraku.jp/)。先客があがるのを待っている間に猫と戯れる。

<%= image "img_9598" %>
<%= image "img_9600" %>
<%= image "img_9602" %>
<%= image "img_9603" %>
<%= image "img_9604" %>
<%= image "img_9606" %>

今夜のお宿。

<pre class="address">
<a href="http://www.ota-hanamura.com/">四季の里 はなむら</a>
熊本県阿蘇郡南小国町満願寺小田5850
0967-44-0088
</pre>

一部屋ずつ離れになっていて、部屋にかけ流しの露天風呂あり。

<%= image "img_9607" %>
<%= image "img_9608" %>
<%= image "img_9613" %>
<%= image "img_9614" %>
<%= image "img_9616" %>
<%= image "img_9617" %>
<%= image "img_9618" %>

晩ごはん。

<%= image "img_1829" %>
<%= image "img_1830" %>
<%= image "img_1831" %>
<%= image "img_1832" %>
<%= image "img_1833" %>
<%= image "img_1837" %>
<%= image "img_1841" %>
<%= image "img_1842" %>
<%= image "img_1844" %>
<%= image "img_1847" %>
<%= image "img_1848" %>
<%= image "img_9624" %>
<%= image "img_9625" %>
<%= image "img_9626" %>
<%= image "img_9628" %>
<%= image "img_9631" %>
<%= image "img_9634" %>
<%= image "img_9635" %>
<%= image "img_9638" %>
<%= image "img_9639" %>
