---
title: 九州旅行 その3
tags: kumamoto, kyushu, travel
---
朝ごはん。

<%= image "img_1849" %>
<%= image "img_1850" %>
<%= image "img_1854" %>
<%= image "img_9641" %>
<%= image "img_9644" %>
<%= image "img_9646" %>
<%= image "img_9647" %>

熊本城へ移動します。

<%= image "img_9652" %>
<%= image "img_9659" %>
<%= image "img_9663" %>
<%= image "img_9667" %>
<%= image "img_9669" %>
<%= image "img_9674" %>
<%= image "img_9677" %>

熊本城到着。

<%= image "img_1856" %>
<%= image "img_1858" %>
<%= image "img_1861" %>
<%= image "img_9680" %>
<%= image "img_9681" %>
<%= image "img_9683" %>
<%= image "img_9687" %>
<%= image "img_9688" %>
<%= image "img_9694" %>
<%= image "img_9698" %>
<%= image "img_9705" %>
<%= image "img_9709" %>
<%= image "img_9710" %>

肥後ちょんかけごま。

<%= image "img_9712" %>
<%= image "img_9716" %>
<%= image "img_9719" %>
<%= image "img_9722" %>
<%= image "img_9726" %>
<%= image "img_9727" %>

お昼ご飯は太平燕。初めて食べた。

<%= image "img_1865" %>
<%= image "img_1867" %>

路面電車に乗る。

<%= image "img_9729" %>
<%= image "img_9732" %>
<%= image "img_9733" %>
<%= image "img_9735" %>

天草へ移動。遠い。

<%= image "img_9737" %>
<%= image "img_9739" %>
<%= image "img_9744" %>
<%= image "img_9751" %>
<%= image "img_9752" %>

今日のお宿。

<pre class="address">
<a href="https://hotel-alegria.jp/">ホテルアレグリアガーデンズ天草</a>
熊本県天草市本渡町広瀬996
0969-22-3161
</pre>

<%= image "img_9759" %>
<%= image "img_9760" %>
<%= image "img_9762" %>
<%= image "img_9780" %>

晩ごはん。

<%= image "img_9771" %>
<%= image "img_1871" %>
<%= image "img_1872" %>
<%= image "img_9767" %>
<%= image "img_9768" %>
<%= image "img_9772" %>
<%= image "img_9773" %>
<%= image "img_9774" %>
<%= image "img_9775" %>
<%= image "img_9778" %>
<%= image "img_1873" %>
<%= image "img_1877" %>
<%= image "img_1876" %>
<%= image "img_9765" %>
<%= movie "hdimg_1874" %>
<%= movie "hdimg_1875" %>
