---
title: 九州旅行 その4
---
ホテルのロビー。

<%= image "img_9786" %>
<%= image "img_9789" %>

海岸を散歩。

<%= image "img_1880" %>
<%= image "img_1883" %>
<%= image "img_1887" %>

最終日は世界遺産を見る日。

<pre class="address">
<a href="http://www.city.amakusa.kumamoto.jp/kirishitan/">天草キリシタン館</a>
熊本県天草市船之尾町19番52号
0969-22-3845
</pre>

<%= image "img_1890" %>

<pre class="address">
<a href="https://www.t-island.jp/p/spot/detail/86">﨑津教会</a>
天草市河浦町﨑津539
0969-78-6000
</pre>

<%= image "img_1899" %>
<%= image "img_1901" %>
<%= image "img_9804" %>

﨑津資料館。

<%= image "img_9798" %>
<%= image "img_9801" %>
<%= image "img_9803" %>

大江教会。

<%= image "img_9809" %>

土産物や。

<%= image "img_1907" %>
<%= image "img_1916" %>
<%= image "img_1920" %>

熊本名物いきなり団子。

<%= image "img_1911" %>

帰りますよー。

<%= image "img_9819" %>
<%= image "img_9821" %>
<%= image "img_9822" %>
<%= image "img_9823" %>
