---
title: シカゴ その4
tags: chicago, food, travel, us, wide
---
さて、IETFのセッションが終った後、WIDEめしへ。
時間に余裕があるので、先にシワーズタワーに観光に行きました。
世界で2番目に高いビルだそうです。

<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00012" %>
<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00017" %>
<%= image "dsc00020" %>
<%= image "dsc00023" %>
<%= image "dsc00027" %>
<%= image "dsc00033" %>

シカゴのミニチュア。

<%= image "dsc00034" %>
<%= image "dsc00035" %>

OVER CHICAGOという映画を見せられた後、103階へ。

<%= image "dsc00037" %>

むちゃくちゃ眺めいいです。今のところ僕の経験上一番綺麗な夜景だったな。
ちなみに昼間の景色は<a href="http://www.itojun.org/diary/199808.ietf/">こちら</a>へ。

102階にフロアぶち抜きで住んでる
シカゴの帝王は虫ケラども見下しながら高笑いしてるに違いない。いいなあ。

<%= image "dsc00043" %>
<%= image "dsc00045" %>
<%= image "dsc00050" %>
<%= image "dsc00054" %>
<%= image "dsc00058" %>
<%= image "dsc00060" %>

WIDEめし会場。

<pre class="address">
Italian Village
71 W. Monroe St. Chicago
312-332-7005
</pre>

<%= image "dsc00071" %>
<%= image "dsc00076" %>
<%= image "dsc00080" %>
<%= image "dsc00082" %>

カルパッチョ。

<%= image "dsc00083" %>
<%= image "dsc00084" %>

スパゲッティ。奥のカルボナーラがうまかった。

<%= image "dsc00085" %>

ワインは4人で4本空きましたが一番気に入ったのは、これ。
Silver Oak 1993です。

<%= image "dsc00086" %>
