---
title: はとバス 東京観光
tags: travel, tokyo, sightseeing, hatobus, friends, karaoke
---
<a href="http://www.hatobus.co.jp/">はとバス</a>で東京観光をしました。
メンバーは大学時代の悪友。いが、しみず、こはらくん。
ツアーにはいくつか種類があるのですが、下町コースを選びました。

- 2000円で乗り放題
- 東京駅、浅草、日の出桟橋、お台場をバスが1時間に一本巡回してるので、自分でプラン組んで勝手に乗る
- ガイドは無し。テレビで簡単なビデオを流すだけ。ツアーによってはガイドつきのものもある

ということで、後から考えると、自分で電車やバスに乗って移動するのとたい
して違いはないような気がする……。

まずは、東京駅。丸の内中央口から発車してます。チケットもここで買えます。

<%= image "dsc00001" %>
<%= image "dsc00002" %>
<%= image "dsc00003" %>
<%= image "dsc00004" %>
<%= image "dsc00005" %>
<%= image "dsc00006" %>
<%= image "dsc00007" %>

待合室でちょっと待った後、出発。客は僕達いれて10人くらい。
まずは、皇居へ。といっても、東京駅のすぐそば。

<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00014" %>
<%= image "dsc00015" %>
<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dsc00020" %>
<%= image "dsc00024" %>
<%= image "dsc00026" %>

浅草です。実は今まで来たことなかった。

<%= image "dsc00032" %>
<%= image "dsc00035" %>
<%= image "dsc00037" %>
<%= image "dsc00039" %>
<%= image "dsc00041" %>
<%= image "dsc00042" %>
<%= image "dsc00043" %>
<%= image "dsc00063" %>

浅草寺近辺。なんか人が無茶苦茶集まっているので、何事かと思ったら、小淵総理が来てました。
人垣の後ろの方で、両手を伸ばしてデジカメをパチパチしました。小さいけれど、写ってます。さあ、総理を探せ。

<%= image "dsc00065" %>
<%= image "dsc00077" %>

一応、本堂でお参り。10円放り崑で、「これからも、気楽に生きていけますように。」

<%= image "dsc00086" %>
<%= image "dsc00089" %>
<%= image "dsc00091" %>
<%= image "dsc00093" %>

腹が減ったので、人形焼きとあげまんじゅうを購入。人形焼きの写真なし。
これは、胡麻あげまんじゅう。120円。

<%= image "dsc00095" %>

ちゃんと写ってませんが、抹茶あげまんじゅう、150円。

<%= image "dsc00096" %>

浅草 - 日の出桟橋はバスを使わずに、遊覧船で隅田川を移動しました。
定価640円を、はとバス割引で600円。セコい。

<%= image "dsc00102" %>
<%= image "dsc00105" %>
<%= image "dsc00108" %>
<%= image "dsc00110" %>
<%= image "dsc00111" %>
<%= image "dsc00117" %>
<%= image "dsc00122" %>
<%= image "dsc00123" %>
<%= image "dsc00133" %>
<%= image "dsc00140" %>
<%= image "dsc00145" %>

あいにく曇空で景色は楽しめなかった。

<%= image "dsc00146" %>
<%= image "dsc00150" %>
<%= image "dsc00151" %>
<%= image "dsc00152" %>
<%= image "dsc00154" %>
<%= image "dsc00161" %>

日の出桟橋からそのままはとバスに乗って移動。バスはぎりぎり発車前でした。
レインボーブリッジとか見れました。

<%= image "dsc00164" %>
<%= image "dsc00171" %>
<%= image "dsc00172" %>
<%= image "dsc00173" %>

お台場着。いつから、はとバスのコースに入ったんだろう。フジテレビとのタイアップ？ なにが下町なのかさっぱり分からん。

とりあえず、フジテレビへ。お菓子で作った自由の女神を見る。

<%= image "dsc00182" %>

外に出ると本物の自由の女神を発見。フランスから借りてるやつです。

<%= image "dsc00187" %>
<%= image "dsc00195" %>
<%= image "dsc00198" %>
<%= image "dsc00200" %>
<%= image "dsc00206" %>
<%= image "dsc00211" %>

もう一度、フジテレビへ。500円払って球体展望台(あの、まるいところ)へ。
天気悪くて、何も見えません。

<%= image "dsc00203" %>
<%= image "dsc00212" %>
<%= image "dsc00214" %>
<%= image "dsc00215" %>
<%= image "dsc00217" %>
<%= image "dsc00219" %>
<%= image "dsc00226" %>
<%= image "dsc00228" %>
<%= image "dsc00232" %>

同じチケットで展示場みたいなところにはいる。これは、キッチン・スタジアムのミニチュア。

<%= image "dsc00233" %>

なんか収録してました。本番中以外はガラス越しで見せてくれるみたい。

<%= image "dsc00236" %>

実際に「ひょうきん族」で使ってた衣装。うわあ、懐かしい。

<%= image "dsc00237" %>
<%= image "dsc00238" %>
<%= image "dsc00239" %>

ガチャピン、ムックと記念撮影。

<%= image "dsc00240" %>
<%= image "dsc00242" %>
<%= image "dsc00243" %>

ダッシュではとバスに乗り込む。乗り損なうと一時間待ちなので大変っす。
最後のバスは4人で貸切りでした。

<%= image "dsc00245" %>

その後、新宿に向かい飲み屋を2軒経由して(写真なし)、カラオケへ。

<%= image "dsc00246" %>
<%= image "dsc00248" %>
<%= image "dsc00254" %>
<%= image "dsc00255" %>
<%= image "dsc00258" %>
<%= image "dsc00259" %>

AM2:00ごろ、新宿にあるNTTの寮に戻り、いがの部屋に泊めてもらう。
昼前までザコ寝して、帰途につく。
みなさま、お疲れさまでした。

<%= image "dsc00261" %>
<%= image "dsc00262" %>
<%= image "dsc00264" %>
