---
title: ムトゥ再び
tags: movie, indian cinema, muthu, food, friend
---
先週観たのに何故かまた渋谷に来てしまいました。
今回の参加者は、なみへい、
<a href="http://www3.osk.3web.ne.jp/~yamapu/">やまぷ</a>、うろを、すみかわの三人。
やまぷはこの映画を観るためにわざわざ大阪から来ました。
今日から梅田で上映してるのに来るとは偉い。

上映後、やっぱインド料理を食べようということで、ラージマハルへ(150 渋
谷区宇田川町30-5 JOW 5F / TEL 03-3770-7677/7680)行きました。

サモサとタンドリーチキン。例によって、食い散らかしてから思い出したよう
に撮影。

<%= image "dsc00001" %>
<%= image "dsc00010" %>
<%= image "dsc00011" %>

ビールは「シンハ」と店名にちなんだ「ラージマハル」を注文。
「タージマハル」は飲んだことあるけど、「ラージマハル」は初めて。バッタもん？

<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00022" %>

ナンは3種類。普通のと、ガーリックのと、なんか甘いのと。最後のははじめ
て食べた。

<%= image "dsc00029" %>
<%= image "dsc00037" %>
<%= image "dsc00045" %>

カレーは、サーグチキンと、なんだっけ野菜とマトン。

<%= image "dsc00040" %>
<%= image "dsc00030" %>
<%= image "dsc00033" %>

辛さの注文しなかったのですが、全体的に辛くないっていうかむしろ甘かった。
次からはホットを頼もう。
あ、人物写真撮るの忘れてた……。

その後、やまぷはすみかわ宅に宿泊。セガサターンの対戦シューティング・ゲー
ム「スプライツ」でボコボコにする。
