---
title: さあてバラすぞ
tags: dvd, electronics, friend, movie
---
月曜日。僕は会社へ、12時から出勤の画伯は寮経由で会社へ。パチプロのやま
ぷは都内にパチンコしに行きました。旅費を取り返してくるそうです。

話は飛んで夜。旅費をおつりつけて取り返してきたやまぷがお土産に「Fifth
Element」を買って来てくれました。宿代だそうです。ありがとね ＞ ぷ

再生する前にとりあえずバラしてみました。DV-505、DVL-909なら
地域コードをハンダ一発で解除できるので、515もできないかというわけです。

シールドがなくなって、505に比べてシンプルになってます。
しかし、基板パターンにも変化があって、505と同じ方法で地域コードを解除できませんでした。

<%= image "dsc00049" %>
<%= image "dsc00060" %>
<%= image "dsc00070" %>

この写真の空きコネクタ部がクサいんですが、505とコネクタ番号が違う上に、
3箇所の空きが、2箇所に減っているので恐くて実行できませんでした。
みなさまの情報をお待ちしております。

[1999/07/19 追記] 改造に成功しました。詳細は<a href="/diary/1999/0709-dvd/">こちら</a>。

<%= image "dsc00055" %>

しゃーないので、上映開始。こんな白い壁に液晶プロジェクタで投影してます。
だいたい80インチくらいかなあ。
英語トラックが5.1チャンネルなので「Virtual Surround System」の効果
もかなり出ました。時々、スピーカーが後ろにあるような錯覚に陥ります。

<%= image "dsc00089" %>
<%= image "dsc00085" %>

うおー、めっちゃ幸せ。6スピーカーとAVアンプも欲しくなりました。衝動買
いの波は当分収まりそうにありません。

その後、結婚式で大阪に帰ってた画伯が遊びに来る。対戦落ちゲー「マジカルドロップ 3」でやまぷをボコボコにして気持よく眠りにつく。
