---
title: ちゃんこ＠両国
tags: food, chanko nabe, ryogoku, friend
---
阪大時代の悪友たちとちゃんこを食べに行く。ちゃんこということで両国へ。
お店の選択は適当。
<a href="http://gnavi.joy.ne.jp/GN/JP/G011101s.htm">鍋処ふく竹両国店</a>
です。

参加者は、いが、しょうだ、おーにし、ごとうくん、しみず、 僕の六人。
結構、酒飲んだのであんまり記憶ないぞ。

つけ出しです。

<%= image "dsc00255" %>

料理は大名コースを頼みました。3600円で、あさりの酒蒸しと刺身と唐揚、そ
れと好きなチャンコ。チャンコは両国チャンコと、地鶏チャンコを3人前ずつ。
2時間飲み放題がプラス1500円。

<%= image "dsc00254" %>
<%= image "dsc00256" %>
<%= image "dsc00259" %>
<%= image "dsc00261" %>
<%= image "dsc00276" %>

<%= image "dsc00241" %>
<%= image "dsc00244" %>
<%= image "dsc00247" %>
<%= image "dsc00250" %>
<%= image "dsc00252" %>
<%= image "dsc00257" %>
<%= image "dsc00265" %>
<%= image "dsc00266" %>
<%= image "dsc00274" %>
<%= image "dsc00280" %>

2次会は例によってカラオケへ。しかし、朝まで遊ばすに帰ってきました。珍
しく平和だった。
