---
title: いざ、おフランスへ
tags: businesstrip, france, uk
---
フランスとイギリスに出張です。同行者は課長の池田さん。

どうも、今回の旅は呪われたものとなりそうです。とりあえず、飛行機が離陸
するまでにに起きた問題。

- 金曜出発のはずが、色々あって土曜出発になった
- イギリスに一泊する予定でイギリス経由フランス行にしたのに、結局単にtransitしてフランスに向かった。時間と体力の無駄
- エコノミー正規料金を払って<a href="http://www.fly.virgin.com/">ヴァージン航空</a>に乗った
     この航空会社は、upper class、premium economy、economyとクラス分けしていて、正規料金を払うとpremium economyになる。しかし、代理店の手違いでeconomyが予約されていた。ゴネたが、premiumは全て埋まっていた
- 隣の席を空けてもらうという条件でeconomyに座ったが、何故か隣にヒゲ面の兄ちゃん(つまり、中田風)が座っていた。スチュワーデスに調べてもらったら単に中田君が自分の席を間違えていたことが判明。数少ない空いてる席に間違って座んなよお……

こういう細かい問題がしょっぱなから一杯発生すると大体ロクな旅になりません。

ロンドンのヒースロー空港にて。ブリティッシュ航空に乗り換えるために、ター
ミナル間を移動するバスを待っているところ。15分ごとに巡回と書いてあるが、
30分近く待たされる。

<%= image "dsc00002" %>
<%= image "dsc00003" %>
<%= image "dsc00011" %>

ブリティッシュ航空のターミナルで1時間くらい待ち。

<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00017" %>

パリのシャルル・ド・ゴール空港からホテルへはエールフランスのシャトルバスで移動(70F/1400円)。
21:00出発が最終で発着場には21:15ごろに着く。
諦めてタクシーにしようかと思ったが、バスが来た。ラッキー。
不幸続きなので、かなり嬉しい。

今回のホテルは、

<pre class="address">
Le Meridien Montparnasse
19, rue du Commandant Mouchotte
75014 Paris
Tel: (33) 01 44 36 45 50
Fax: (33) 01 44 36 49 00
</pre>

ってとこです。これは、ロビー。

<%= image "dsc00023" %>
<%= image "dsc00025" %>

部屋の風景。

<%= image "dsc00176" %>
<%= image "dsc00177" %>
<%= image "dsc00178" %>
<%= image "dsc00179" %>

便器の向かいにあるこの謎の物体は何？

[1999/01/07 追記] どうやら「ビデ」らしい。

<%= image "dsc00181" %>
<%= image "dsc00183" %>
<%= image "dsc00185" %>

3つあるクッションは何のために使えというのだろう。

<%= image "dsc00186" %>
<%= image "dsc00187" %>
<%= image "dsc00188" %>

疲れてたので速攻寝る。
