---
title: パリ観光とスリ
tags: food, incident, museum, paris, sightseeing, travel
---
今日は日曜日で唯一空いてる日なので、パリ観光。しかし、スリにあってしまいました。
観光地だけあって危険です。詳細は後述。

朝、8:15に朝飯くいにカフェへ。緯度が高いだけあってまだ薄暗いです。
夕方も4時すぎると暗くなってきます。

<%= image "dsc00032" %>

地下鉄。市内は一律料金です。Carne(カルネ)という10枚つづりの回数券を購入(52F/1040円)。
窓口で「アン カルネ」と言いましょう。

<%= image "dsc00034" %>
<%= image "dsc00035" %>

外に出ると明るくなってきてました。

<%= image "dsc00037" %>

名前忘れたけど有名なカフェらしい。テラスに座る。向かいには教会がありました。
しばらく待ってても給仕が来ない。注文の仕方がさっぱり分からん。
結局、こっちからレジに出向く。最後まで正解不明。

<%= image "dsc00038" %>
<%= image "dsc00040" %>
<%= image "dsc00041" %>
<%= image "dsc00042" %>

カフェオレ(Cafe de cremeとか書いてたな……)とパン、オレンジジュース(jus d'orange)のセットを注文。
パンは二人で分けあって、カフェオレを追加。
しめて、二人分で105F。チップ合わせて110F/2200円。めちゃ高い。

ここに限らず食べ物の物価がむちゃくちゃ高い。例えば、世界の言葉マクドナルドのビッグマックが26F/520円。
大抵の店で軽く昼食とるだけで千円弱かかります。
観光地だとか、日本円が弱いからかもしれませんが、アメリカと比べると太ってる人がほとんどいないので、純粋に食べ物が高いのかも。

<%= image "dsc00044" %>
<%= image "dsc00045" %>
<%= image "dsc00046" %>

続けて
<a href="http://www.musee-orsay.fr/">オルセー美術館</a>
に移動。地下鉄のポスター。これって、ビートたけし？
全部フランス語なので何のポスターかさっぱり分からん。
池田さんが薬を飲むために、プラットホームの自販機でミネラルウォーターを買おうとするが、何も出てこず。
次に、美術館横の商店でミネラルウォーターを買って、薬を飲もうとしたらホテルに置き忘れてきたことに気づく。
ちょっと不幸。

<%= image "dsc00058" %>
<%= image "dsc00062" %>
<%= image "dsc00063" %>
<%= image "dsc00066" %>
<%= image "dsc00067" %>
<%= image "dsc00070" %>
<%= image "dsc00074" %>

これこれ。これが見たかったんすよ。モネの「日傘の女性」。
ワシントンの1枚と合わせてこのシリーズは全部見たことになります。
他にもモネの作品が50近くありました。すごいすごい。

<%= image "dsc00082" %>
<%= image "dsc00084" %>

時計の裏側。

<%= image "dsc00086" %>
<%= image "dsc00087" %>

印象派等の絵の充実ぶりも凄かったですが、彫刻もすごくよかったです。

<%= image "dsc00090" %>
<%= image "dsc00091" %>
<%= image "dsc00093" %>
<%= image "dsc00095" %>
<%= image "dsc00096" %>
<%= image "dsc00098" %>
<%= image "dsc00100" %>
<%= image "dsc00101" %>
<%= image "dsc00103" %>
<%= image "dsc00104" %>
<%= image "dsc00105" %>
<%= image "dsc00106" %>
<%= image "dsc00107" %>
<%= image "dsc00110" %>

カルーゼル凱旋門へ向かう。セーヌ川の橋を越えようとしたら遊覧船が通りかかりました。
奥に見えるのがルーブル美術館。

<%= image "dsc00112" %>
<%= image "dsc00113" %>
<%= image "dsc00116" %>
<%= image "dsc00117" %>
<%= image "dsc00120" %>
<%= image "dsc00121" %>
<%= image "dsc00122" %>

これがカルーゼル凱旋門。凱旋門って三つあって、一番古いやつです。
まずは後ろから。

<%= image "dsc00123" %>

前から。ルーブル美術館は凹の形をしていてカルーゼル凱旋門と合わせて長方形を成しています。

<%= image "dsc00135" %>
<%= image "dsc00124" %>
<%= image "dsc00126" %>
<%= image "dsc00127" %>
<%= image "dsc00128" %>
<%= image "dsc00129" %>
<%= image "dsc00130" %>
<%= image "dsc00131" %>
<%= image "dsc00132" %>
<%= image "dsc00133" %>
<%= image "dsc00134" %>

さて、この直後スリにあいました。犯人は少女三人組です。実際の被害はデジカメのケースだけなので軽微でした。
財布と間違えたのでしょう。あまりにも鮮やかな手口でした。他に旅行をする人の参考になるだろうから手口を紹介します。

まず、その時の僕の状況ですが、

- 小さなバッグを左手で抱えていた。中にはパスポートとガイドブック、電子手帳、盗まれたデジカメケースが入っていた
- コートの右ポケットにデジカメと財布を入れていた。右手をそのポケットに突っ込んでいた

です。で、この状況を踏まえた手口ですが、

- 左側に二人、右後ろに一人がつく
- 左側の二人のうち一人がこのプリペイドカードを換金してくれと新聞の広告を見せる。英語を話していた
- 新聞はバッグのすぐ上ぐらいに差入れて、バッグが見えないようにする。二人はけたたましく話して注意を引き付けながら、バッグのファスナーを開けて中を物色
- 少し遅れて後ろの少女が「Please」といいながらコートの裾を引っ張る。これで完全に注意がそれる
- カバンから財布(実際にはデジカメのケースで済んだけど)を抜き取る
- しばらく「Please」「Please」とつきまとうがやがて去っていく

というものでした。物乞いと思わせといて油断させる手口です。
実際にはもっとアグレッシブな物乞いだったわけです。
小さくてもプロなので一連の動作は素早いです。一瞬のことで全然気がつきませんでした。
見事なポストプレーですな。
サッカーで日本が勝てないわけが分かったような気がします。

それに対してすみかわの対応ですが、

- 物乞いに対して「No」と言って、体を離した。たぶん、この時にはもう盗まれている
- ふとバッグを見るとファスナーが開いていた。自分で開けっぱなしにしたのかと思って不審に思わず右手で閉めた。パスポートと電子手帳があるのは無意識に確認した。この時にはまだ少女達はつきまとっている
- その後、無視して歩き続けた。やがて声が聞こえなくなった。背後を振り返らなかったので分からないが、きっと走って逃げたのでしょう
- しばらくして池田さんが「今のはスリではないか」と言い始めた。とりあえず重要なものは盗まれていないので安心してた
- 昼食をとっているときにもう一度確認したらデジカメのケースが消えていた

たまたま、コートの右ポケットに財布が入っていたため、彼女たちは間違ってデジカメのケースをスッたわけですが、
バッグに財布が入っていたらと思うとゾッとします。
無意識にバッグの中身をチェックをしたときに気づいたかもしれませんが、きっと落したと思うだけで、盗まれたとは思わないでしょう。

後から思えば、ファスナーを右手で閉めたときも危険だったと思います。
財布を押えていた右手を抜いたので、背後からコートの裾を引っぱってた少女の手の届くところに財布があったわけです。
彼女の機転が効いていたら盗まれていたでしょう。
まあ、彼女は一番幼く、単に後ろから裾を引っ張るだけのアシスタント役なので、そこまでは出来なかったと思いますが。

ということで、アメリカとは全然違うタイプのスリです。完全にやられました。
昼飯を食べた後、犯行現場に戻ってきましたが、彼女達の姿はありませんでした。
デジカメのケースが捨てられてないかなと思って、近くのゴミ箱をのぞきましたが、見当たりませんでした。まあ、遠くに逃げてから捨てるわなあ。

金銭的な被害はほとんどありませんでしたが、こういうのは精神的な被害の方が大きいです。道行く人がみんなスリに見えはじめました。

その後、いわゆる普通の凱旋門に移動。大通りをブラブラするが周りの奴らが気になって楽しめず。
改めて周囲を見ると、何をするでもなくただ周囲をキョロキョロ見てるやつらが何人かいます。やっぱり、観光地は危ない。

<%= image "dsc00137" %>
<%= image "dsc00160" %>
<%= image "dsc00161" %>
<%= image "dsc00162" %>
<%= image "dsc00163" %>
<%= image "dsc00164" %>
<%= image "dsc00165" %>

最後に凱旋門に登る。35F/700円でした。エレベータはなく螺旋階段を登る。
これは途中にあるちょっとした資料館。

<%= image "dsc00139" %>

一番上に登る階段は全部で195段ありました。すっげえ疲れた。

<%= image "dsc00142" %>
<%= image "dsc00143" %>
<%= image "dsc00144" %>
<%= image "dsc00145" %>
<%= image "dsc00141" %>

この写真じゃ解像度の関係で見えないけど、Hitachiと書かれたビルが見えます。町の美観損ねてるぞ。

<%= image "dsc00146" %>

エッフェル塔。

<%= image "dsc00147" %>
<%= image "dsc00148" %>
<%= image "dsc00149" %>
<%= image "dsc00150" %>
<%= image "dsc00151" %>

正面の凹を逆さにしたようなのが三つ目のニュー凱旋門。

<%= image "dsc00154" %>
<%= image "dsc00155" %>

下りの階段をフラッシュあり/なしで一番上から撮ってみました。

<%= image "dsc00157" %>
<%= image "dsc00159" %>

もう、身も心も疲れきったのでホテルに帰って来ました。

ホテルそばのケーキ屋さん。ケーキは結構安い。

<%= image "dsc00173" %>
<%= image "dsc00174" %>

夜は韓国料理。ビール4本と焼肉定食2人前。しめて、352F/7040円。まあ、値段はこんなもんでしょ。
味は普通。ガイドブックに載ってるので日本人ばっかり。

<%= image "dsc00004" %>
<%= image "dsc00006" %>
<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>
<%= image "dsc00011" %>
<%= image "dsc00012" %>
<%= image "dsc00013" %>
<%= image "dsc00014" %>
