---
title: IPfuture 1日目
---
朝、テレビつけたらドラゴンボールやってた。もちろんフランス語。

<%= image "dsc00001" %>

近くのカフェでカフェオレとクロワッサンを食べる。26F/520円だったかな。
昨日の店より安くてうまい。スーパーを見付けたので物価をチェック。食糧の
値段はアメリカと同じぐらいだった。結局、食べ物店屋だけが特別高いのか？
ワインはめちゃ安。300〜500円のフランスワインがごろごろしてます。

さて、今日は
<a href="http://www.upperside.fr/progrip.htm">IPfuture</a>
の展示準備です。
<a href="http://www.dassault-data-services.fr/">dassault社</a>
に貸し出してる
<a href="http://www.hitachi.co.jp/Prod/comp/network/nr60.htm">NR60</a>
を使うはずなんだけど、
昼まで届かず。

Lanchester大学の展示。IPv6ビデオサーバーから映像を配信して、モバイルの
クライアントで表示するデモ。サーバは<a href="http://www.kame.net/">KAME</a>
でも動くそうな。

<%= image "dsc00005" %>
<%= image "dsc00006" %>
<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00009" %>
<%= image "dsc00016" %>

池田さんと日立ヨーロッパのJuergenさん。

<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00012" %>
<%= image "dsc00015" %>

<%= image "dsc00017" %>
<%= image "dsc00018" %>

<a href="">Telebit</a>のIPv6ルータ。静展示だけど力入ってます。

<%= image "dsc00020" %>
<%= image "dsc00021" %>
<%= image "dsc00022" %>
<%= image "dsc00023" %>
<%= image "dsc00025" %>
<%= image "dsc00026" %>
<%= image "dsc00027" %>
<%= image "dsc00028" %>
<%= image "dsc00030" %>
<%= image "dsc00031" %>
<%= image "dsc00034" %>
<%= image "dsc00035" %>
<%= image "dsc00037" %>

奥はG6。

<%= image "dsc00039" %>
<%= image "dsc00040" %>

夜はAlainとBernaldとitojunと池田さんと5人で飯を食いにいく。

<pre class="address">
LA COUPOLE
102, boulevard du Montparnasse 75014 PARIS
TEL 01 43 20 14 20
</pre>

生カキ、白ワイン x 2、赤ワイン x 1、メイン、デザート、エスプレッソを飲んで
一人200F/4000円。

<%= image "dsc00042" %>
<%= image "dsc00044" %>

この白ワインがめちゃうまかった。

<%= image "dsc00045" %>

<%= image "dsc00046" %>
<%= image "dsc00047" %>

僕はザワークラフトを食べる。アルザス地方の料理です。

<%= image "dsc00048" %>
<%= image "dsc00049" %>
<%= image "dsc00050" %>

デザート色々。シャーベットがめちゃくちゃうまかった。

<%= image "dsc00053" %>
<%= image "dsc00054" %>
<%= image "dsc00055" %>
<%= image "dsc00056" %>

<%= image "dsc00059" %>
<%= image "dsc00060" %>
<%= image "dsc00062" %>
