---
title: スピーカー到着
tags: audio, home theater, speaker
---
ホームシアター計画の一貫として、
<a href="http://www.avac.co.jp">アバック</a>
に注文してた
<a href="http://www.bose.com/products/home/home_theater/speakers/am6.html">AM-6</a>
が届きました。BOSE社の5スピーカー・システムです。

<%= image "dsc00329" %>
<%= image "dsc00331" %>
<%= image "dsc00334" %>

このちっこいスピーカー5個と、ベースモジュール1個から成ります。

<%= image "dsc00337" %>

配置したとこ、横にあるのは今まで使ってたONKYOのミニコンポのスピーカー。
ちっちゃいのう。

<%= image "dsc00338" %>

ベースモジュールはプリンタの台にしました。

<%= image "dsc00001" %>

一緒に
<a href="http://www.sony.co.jp/ProductsPark/Models/New/TA-V55ES_J_1/index.html">AVアンプ</a>
も注文してるんですが、こっちはまだ届いてません。仕方がないので、ミニコ
ンポに2スピーカー分だけつなげて使ってます。

BOSEだけあって当然ですが、あのちっちゃいスピーカーでいい音がでます。
ちゃんとしたアンプにつなげばもっとよくなるでしょう。
特にベースモジュールからの低音はミニコンポのそれと全然違います。
が、近所迷惑を恐れて低音を絞っちゃいました。
