---
title: oji97忘年会、っていうかのぢアニメ
tags: party, friend, year-end
---
会社の同期と忘年会です。場所は(べ)こと阿部井さんの新居。参加者は、(ぢ)こと
<a href="http://www.threeweb.ad.jp/~nojima/">のぢま</a>
、(ざ)ことざら夫、(ず)ことあずさ、(べ)の
<a href="/diary/1998/1010-wedding/">新妻</a>
(nmae)、そして(す)
こと僕の5人。(nmae)はこの宴会中に命名されました。これは発音記号です。
「ま」と「も」の中間。

(だ)こと山田あすかはお母さんが熱を出し看病のため欠席。(ご)こと吾朗は本
人が熱をだして欠席。相変わらず本番に弱いです。

新居についた途端、(ぢ)が持参した
<a href="http://www.sega.co.jp/dreamcast/">Dreamcast</a>
を勝手にTVにつないでVF3対戦が始まる。遠慮も何もありません。

スーパーへの買い出しの帰り。4人乗りの(ぢ)の愛車に5人が乗った荷室に隠れ
てました。暇なので撮影。フラッシュたいたら突っ込み入るかと思ったら、
「何か光った？」「後ろの車じゃない？」……寂しい。

<%= image "dsc00003" %>
<%= image "dsc00004" %>
<%= image "dsc00005" %>
<%= image "dsc00006" %>

今回のメニューはワインどっちゃり。ペルー風たきこみご飯。牛肉焼いたの。
サラダたっぷり。生春巻。舞茸のバター焼き。豚の角煮。

<%= image "dsc00007" %>
<%= image "dsc00008" %>
<%= image "dsc00010" %>
<%= image "dsc00011" %>
<%= image "dsc00012" %>
<%= image "dsc00013" %>
<%= image "dsc00015" %>
<%= image "dsc00018" %>
<%= image "dsc00019" %>
<%= image "dsc00020" %>
<%= image "dsc00021" %>
<%= image "dsc00024" %>
<%= image "dsc00026" %>

メモ帳に適当な文字を書いて、人ん家のクリスマスツリーにブラさげて遊ぶ。
「パイロットになりたい」「発熱」等。

<%= image "dsc00080" %>
<%= image "dsc00081" %>

のぢまパタパタアニメ三連発、その1。「のぢま、肉を喰らう」

<%= image "dsc00027" %>
<%= image "dsc00029" %>
<%= image "dsc00030" %>
<%= image "dsc00031" %>
<%= image "dsc00032" %>
<%= image "dsc00033" %>
<%= image "dsc00034" %>
<%= image "dsc00035" %>
<%= image "dsc00036" %>
<%= image "dsc00037" %>
<%= image "dsc00038" %>
<%= image "dsc00039" %>
<%= image "dsc00040" %>
<%= image "dsc00041" %>
<%= image "dsc00042" %>
<%= image "dsc00043" %>
<%= image "dsc00044" %>
<%= image "dsc00045" %>
<%= image "dsc00046" %>
<%= image "dsc00047" %>
<%= image "dsc00048" %>
<%= image "dsc00049" %>
<%= image "dsc00050" %>
<%= image "dsc00051" %>
<%= image "dsc00052" %>
<%= image "dsc00053" %>
<%= image "dsc00054" %>

その2。「のぢま、
<a href="http://www.cocacola.co.jp/refresh/cojp/news/mar1298/sprite_j1.htm">スプライト</a>
を飲む」

<%= image "dsc00055" %>
<%= image "dsc00057" %>
<%= image "dsc00058" %>
<%= image "dsc00059" %>
<%= image "dsc00060" %>
<%= image "dsc00061" %>
<%= image "dsc00062" %>
<%= image "dsc00063" %>
<%= image "dsc00064" %>
<%= image "dsc00065" %>
<%= image "dsc00066" %>
<%= image "dsc00067" %>
<%= image "dsc00068" %>
<%= image "dsc00069" %>
<%= image "dsc00070" %>
<%= image "dsc00071" %>
<%= image "dsc00072" %>
<%= image "dsc00073" %>
<%= image "dsc00074" %>
<%= image "dsc00075" %>
<%= image "dsc00076" %>

その3。「のぢま、生春巻を食す」

<%= image "dsc00082" %>
<%= image "dsc00083" %>
<%= image "dsc00084" %>
<%= image "dsc00085" %>
<%= image "dsc00086" %>
<%= image "dsc00087" %>
<%= image "dsc00088" %>
<%= image "dsc00089" %>
<%= image "dsc00090" %>
<%= image "dsc00091" %>
<%= image "dsc00093" %>
<%= image "dsc00094" %>
<%= image "dsc00095" %>
<%= image "dsc00096" %>
<%= image "dsc00097" %>

ドリカスの記念すべきクソゲー第一号と噂される「ゴジラ」で遊ぶ。町を壊し
まくる爽快感は楽しいが、ただひたすら町を壊すだけのゲームなので速攻飽きる。

<%= image "dsc00099" %>
<%= image "dsc00102" %>
<%= image "dsc00103" %>
