---
title: 韓国料理屋「玉一」
tags: food, korean food, osaka, restaurant, family
---
<a href="http://www.kame.net/~kazu/">kazu</a>さん御推薦の韓国料理屋に両親と食べに行く。

<pre class="address">
「玉一」
大阪市池田町17-3
06-353-8626
</pre>

です。JR天満駅が最寄り駅だけど、実家からのアクセス悪いので天六から商店
街通って行きました。充分歩いて行ける距離です。

小さい店で30分ぐらい待たされた。

<%= image "dsc00157" %>

韓国海苔。うまいうまい。2回注文しました。

<%= image "dsc00159" %>

ユッケ。よく分かんないけど変わった味でした。香草入ってんのかな。でも、うまい。

<%= image "dsc00161" %>

キムチ、韓国風お好み焼き、カルビ、石焼きビビンバ、豚カルビとキムチ煮込
み、ビビン麺(なんじゃそりゃ)をたいらげる。

<%= image "dsc00160" %>
<%= image "dsc00162" %>
<%= image "dsc00163" %>
<%= image "dsc00164" %>
<%= image "dsc00166" %>
<%= image "dsc00167" %>

「死ぬほど食って飲んでも3000円超えない」と言われて行きましたが、3人で
9600円でした。食いすぎ？
